[2012-05-30 15:58] danielfernandez opened #1 "Enhance DOMVisitor by creating a method for each DOM node type"
Currently org.thymeleaf.dom.DOMVisitor only has a "visit()" method receiving a "Node" parameter. This could be enhanced if instead of this only method there existed one for visitElement, visitText, visitComment, etc.

[2012-05-30 16:03] emilime opened #2 "Include fragment in the same template"
Add the ability to define a fragment in a page and use the fragment later in the same page that defines it.
Useful to reuse the same pagination toolbar or for representing trees or data structures which depth is not known beforehand.

[2012-05-31 06:42] kreuzman opened #3 "Head include/substituteby improvement"
Hi it would be nice to have better way how to include/substituteby meta, link, script etc. in head element then one by one.

[2012-06-04 19:20] acr92 opened #4 "Server relative links without Servlet API"
Hello,

I am currently working on a project which will use Thymeleaf 2.0 as its template engine. It will not use the servlet API for various reasons, but since it needs a web interface, Thymeleaf will work as its template engine.

This ofcourse means that I will need server relative links, as in /component/method/thing?id=5. I don't want to use absolute urls, because this application can be run on

[2012-06-05 20:50] kreuzman opened #6 "Numbers format thousands and decimal separator too strict."
It is not possible to define SPACE as thousands or decimal separator. There is no such possibility in NumberPointType enum.

[2012-06-05 21:26] kreuzman opened #7 "Possibility to define custom global formatter."
It would be nice to have opportunity to define global formatter according to Java type. For example define your own formatter for every java.util.Date that you don't have to use #dates.format for every Date.

[2012-06-11 22:42] danielfernandez commented on #3
A more general implementation of this could be to be able to define "insertions" to be injected into inserted fragments, for example by declaring placeholders for these insertions in the fragment, or even by simple appending/prepending contents.

Queued for Thymeleaf 2.1

[2012-06-11 23:00] danielfernandez opened #8 "Create some sort of Apache Tiles 2 support"
Create support for using Thymeleaf templates in Tiles 2 definitions.

[2012-06-11 23:01] danielfernandez opened #9 "Support XSD Schema and XML Namespaces"
From: http://sourceforge.net/tracker/?func=detail&aid=3406107&group_id=509826&atid=2072662

It is common for XML-based component frameworks to use XSD schemas for validation (and code-assistance), along with the schema's target namespace to identify elements and attributes over which that namespace applies. Accordingly, it would be useful to register dialects that are bound the namespace or schema

[2012-06-11 23:03] danielfernandez opened #10 "Private comments in templates"
From: http://sourceforge.net/tracker/?func=detail&aid=3487205&group_id=509826&atid=2072662

It would be nice to have an opportunity to hide comments from showing up on production.

Reasons:
- template documentation
- hiding code of temporarily turned off functionalities

Suggested syntax:
< !--- private comment -- >
(one more dash in opening tag, means that comment is private)

Behaviour:
Such com

[2012-06-11 23:04] danielfernandez opened #11 "Reduce page weight"
From: http://sourceforge.net/tracker/?func=detail&aid=3495263&group_id=509826&atid=2072662

The Mozilla "Tips for authoring fast-loading HTML pages" recommend that the HTML page is stripped of whitespace before being delivered to the client.

https://developer.mozilla.org/en/HTML/Tips_for_authoring_fast-loading_HTML_pages#Reduce_page_weight

It would be extremely useful to enable/disable an option

[2012-06-12 08:29] haberlu opened #12 "unescaped inline /*[[${...}]]*/ for scripts/css"
At some cases when dealing with javascript, an unescaped string has to be used, what cannot achieved whith the standard
/_[[ ... ]]_/ syntax.

some examples:

[code]

in both cases the string should not be escaped. maybe it should be some  /_[[U${background_url}]]_/  syntax invented for getting unescaped values - the same also with the leading and closing single quotes?

there is also a forum entr

[2012-06-12 10:12] danielfernandez opened #13 "StandardMessageResolver should default to included files' properties"
In the standard message resolution mechanism, properties are not explored for the included fragments, and they are only for the including template.

This might cause the repetition of properties in messages files between the included and including templates.

What could be done is to (optionally) add the Node itself to the message resolution request, so that if the Node contains information about

[2012-06-12 20:31] danielfernandez opened #14 "Add XML/HTML and JavaScript-escaping methods to #strings"
Add new methods to the #strings utility objects (therefore to the "Strings" utility class) to include methods for manually escaping and unescaping text both to-from XML/HTML and to JavaScript.

[2012-06-14 21:27] kreuzman commented on #3
Great. Anyway thank you very much for Thymeleaf. It's really good template engine.

[2012-06-15 22:50] eruiz opened #15 "Parameter with more than one value"
Add support to create an URL that contains one parameter with more than one value

The goal is to process the parameter with String[] ServletRequest.getParameterValues(java.lang.String)

Examples:

  @{~/getsomething(p1='value1',p1='value2',p1='value3')}
  @{~/getsomething(p1=${p1Values})}    (here where p1Values is a model attribute with an array or list of values.)

[2012-06-19 06:03] eruiz opened #16 "Inline javascript removes javascript code up to 1st ;"
The inline javascript removes javascript code up to 1st ;

Example;

[code]

Will output:

[code]

Note that Thymeleaf removed   )     that result in a not valid javascript expression.

Regards

Enrique

[2012-06-19 08:10] danielfernandez commented on #16
Hi,

This is in fact a feature, documented at the JavaScript Inlining section in the tutorials.

The aim of it is to provide a way to create JavaScript code that can be executed both statically (without executing Thymeleaf) and dynamically (after processing a template with Thymeleaf). That way:

[code]

The above code is perfectly correct JavaScript that can be executed statically. And when the te

[2012-06-19 10:08] eruiz commented on #16
Hi,

Thanks for clarifying.

Regards

[2012-06-20 08:49] danielfernandez opened #17 "Add MacroNode nodes to DOM"
A new DOM node type called "MacroNode" would allow thymeleaf to create nodes that would render text or markup without caring at all about things like XML-escaping or such.

A MacroNode would be directly rendered to output. So it could be used for: 1. Markup insertions from external sources and 2. Precomputed markup caches.

[2012-06-20 08:50] #16 closed, assigned to danielfernandez

[2012-06-20 08:56] danielfernandez opened #18 "Should the Text nodes be escaped when created?"
Currently, Text nodes in the Thymeleaf DOM determine whether they should be XML-escaped or not at creation time (this is, when they are instanced).

Isn't it more logical to do this during node **writing** instead of creation? This will depend on:
1. What is the reason for a Text node not being XML-escaped? (there will be MacroNodes now...)
2. Does this have to be with DOM-based parsing (maybe Tex

[2012-06-20 10:32] danielfernandez opened #19 "Should utexts be rendered as macros instead of parsing them?"
Now Macro nodes exist (from 2.0.9), maybe they would be a better representation for utext. What would we be losing? Does parsing a utext add something useful? Do we need to access those nodes afterwards?

If not a Macro... what about a non-escaping Text node?

[2012-06-20 20:21] #17 closed, assigned to danielfernandez

[2012-06-21 12:19] danielfernandez opened #20 "Add "additionalDialects" method to TemplateEngine"
In order to make it easier to add dialects to a template engine besides the Standard one, these methods would allow a more elegant configuration without the need to also specify the Standar Dialect:

[code]

[2012-06-22 08:03] danielfernandez opened #21 "Rename "th:substituteby" as "th:replace""
"replace" is a much more concise name. Substituteby could be deprecated (though perfectly functional) and a warning issued when it is used in 2.1.x

[2012-06-23 16:36] eruiz commented on #10
Hi Daniel, I'm not sure which is the XML parser used to load templates, but perhaps it has an option to ignore comments, then the output won't write the XML comments because the Reader ignored them.

Regards

[2012-06-25 07:51] kaanozdokmeci opened #22 "Javascript inlining problem - Multidimensional arrays"
[code]

Inlining the javascript causes colorLists to become "#A3AFDE","#DEFAB1","#3C5F1B".
Can I somehow prevent this behavior without moving the colorLists variable to another script block?

[2012-07-02 14:06] rwinch opened #23 "Support query parameters with special characters"
I have a use case where I need to be able to create a URL with [] in the parameter name (i.e. /context/url?a[0]=b). However, when I create a link like:

[code]

I get an Exception

[code]

I [asked on the forum](http://forum.thymeleaf.org/Creating-links-with-parameter-containing-td4024785.html) if there were any recommended solutions to this problem and a work around is that I can do something lik

[2012-07-02 14:36] danielfernandez opened #24 "Give publicity to ability to process no-root fragments"
Thymeleaf 2.1 should publicize in its release notes the new ability (since 2.0.9) to process HTML/XML fragments with no root (or several roots).

[2012-07-02 14:39] danielfernandez opened #25 "Give publicity to the execution of expressions outside templates"
When 2.1 is released, its release notes should talk about the ability (introduced in 2.0.9) to execute standard expressions using the StandardExpressionProcessor outside any templates (thanks to the new ExpressionEvaluationContext)

[2012-07-02 14:41] danielfernandez commented on #23
This is probably due to Thymeleaf not accepting the "[" and "]" chars as a part of the parameter names (which it considers "tokens").

I see the usefulness of this. For example, Spring MVC uses this syntax for array/map form binding.

Will be fixed for 2.0.9.

[2012-07-02 14:44] danielfernandez commented on #10
The problem with that approach is that sometimes comments in templates should appear in the final result, and that way the user would not be given the possibility to do it.

Establishing a new syntax is my preferred solution.

[2012-07-02 14:49] danielfernandez commented on #7
As a documentation comment, when this is evaluated, think about adding an attribute to the standard dialect like "th:date-format" that allows the establishment of such formats (besides allowing a programmatic Java configuration, which would be default).

[2012-07-02 14:50] danielfernandez commented on #8
Apache Tiles 2 support will be added as a new "Thymeleaf extras" project: thymeleaf-extras-tiles2

See repository: https://github.com/thymeleaf/thymeleaf-extras-tiles2

[2012-07-05 07:55] danielfernandez opened #27 "Add a #numbers.sequence(...) version that admits "step""
# numbers.sequence() does not admit a "step" parameter, which would be useful for cases like this: http://forum.thymeleaf.org/Nested-th-each-td4024799.html

A new method should be created like #numbers.sequence(init,end,step)

[2012-07-09 15:48] danielfernandez opened #28 "Base main actors in interface + abstract imple"
Review main actors in the core to make sure they are structured as an interface (I*) plus an abstract implementation (which allows to easily implement and make implementations less affected by change.

[2012-07-10 23:25] #21 closed, assigned to danielfernandez

[2012-07-10 23:26] danielfernandez commented on #21
Changing this would mean changes for related projects like for example Thymol. Not worth it.

[2012-07-12 14:51] ben3000 commented on #3
I use a fragment such as

[code]

in my layout.html page, that I then include by way of

[code]

but there is no way (that I can find) to specify the value of `${title}` prior to including the fragment other than adding it to the model. I find it far more useful to specify the title of a page in the page's template, rather than as part of the model code, for code maintainability reasons. I tried u

[2012-07-12 23:47] #8 closed, assigned to danielfernandez

[2012-07-13 21:01] #4 closed, assigned to danielfernandez

[2012-07-13 23:44] #20 closed, assigned to danielfernandez

[2012-07-15 09:53] danielfernandez commented on #23
Solved in trunk and 2.0.9-SNAPSHOT. Will be a part of 2.0.9.

Now this syntax:

[code]

Is valid.

[2012-07-15 09:53] #23 closed, assigned to danielfernandez

[2012-07-15 10:22] #15 closed, assigned to danielfernandez

[2012-07-15 10:22] danielfernandez commented on #15
The syntax:

[code]

...was already valid in 2.0.x versions of Thymeleaf.

The syntax:

[code]

Will be valid in 2.0.9 too. A fix has been added to the code trunk, and a new 2.0.9-SNAPSHOT has been published. This feature will go into 2.0.9

[2012-07-15 23:23] #22 closed, assigned to danielfernandez

[2012-07-15 23:25] danielfernandez commented on #22
The following fix has been applied to source trunk and 2.0.9-SNAPSHOT: When inlining, if the expression between [[...]] is not a valid Standard Expression, it is output without modification, including the double-brackets.

[2012-07-15 23:40] danielfernandez opened #29 "Add JavaScript escaping method to #strings"
Add new methods to the #strings utility objects (therefore to the "Strings" utility class) to include methods for manually escaping and unescaping text both to-from  JavaScript.

[2012-07-15 23:41] danielfernandez commented on #14
Created method for XML/XHTML escaping. JavaScript escaping rescheduled for 2.0.10

[2012-07-15 23:41] #14 closed, assigned to danielfernandez

[2012-07-15 23:54] danielfernandez opened #30 "Update docs and example apps"
Update:
- #numbers.sequence(to,from,step)
- #strings.escapeXml(...) [check name]
- (in extension articles): use "additionalDialects"

Update:
- sayhello: use "additionalDialects"

[2012-07-16 00:05] danielfernandez commented on #27
Will be a part of 2.0.9

[2012-07-16 00:05] #27 closed, assigned to danielfernandez

[2012-07-16 00:34] danielfernandez opened #31 "Study the usage of the thread context classloader"
According to this: http://forums.gradle.org/gradle/topics/gradle_classloader_problems_with_jetty_plugin also reported here http://forum.thymeleaf.org/Thymyleaf-Gradle-Jetty-td4024844.html there is a problem when using Gradle+Jetty for starting a Thymeleaf application.

Study the possibility of modifying that "catch" to include NoClassDefFound, and also check what happens if the current thread's cl

[2012-07-17 14:34] mdeinum opened #32 "Create OSGi bundle"
Currently the MANIFEST.MF is pretty empty, would be nice if there could be some headers (imports etc.) be added so that it can be used as an OSGI bundle. This goes for the subprojects as well (spring integration for instance).

[2012-07-17 18:16] pfeigl opened #33 "Replacements in conditional comments"
I'm using a conditional comment to load a javascript file only when running within IE7 or earlier.
I'm using the following code for that

[code]

Unfortunately the resource link is not resolved, due to the content not beeing part of the actual document but just within a comment.
Is there any change to make thymeleaf handle the replacement anyways?

[2012-07-17 20:36] #30 closed, assigned to danielfernandez

[2012-07-17 21:54] danielfernandez commented on #33
Hi,

The Standard Dialects do not include any processors for comments, but you can create your own for processing this kind of comments.

What you have to do is to create your own implementation of the `IProcessor` interface and include it into a new dialect (implementing `IDialect`). You will then be able to add this dialect to your template engine in order to process comments in whichever way yo

[2012-07-17 21:54] #33 closed, assigned to danielfernandez

[2012-07-19 03:05] ben3000 opened #34 "On upgrade to 2.0.10, template output contains a <THYMELEAF_ROOT> element"
On output, my templates begin with:

[code]

after upgrading Thymeleaf from 2.0.8 to 2.0.10.

If I revert to 2.0.8, the templates return to their normal output:

[code]

[2012-07-19 06:12] danielfernandez commented on #34
This is a bug. Thanks for reporting.

This affects LEGACYHTML5-mode templates under specific circumstances.

This has already been solved in source trunk and a 2.0.11-SNAPSHOT version has been uploaded including this fix. You can use this snapshot version if you want before 2.0.11 is released --probably next weekend-- with some additional minor bugfixing.

See http://www.thymeleaf.org/faq.html in

[2012-07-19 06:12] #34 closed, assigned to danielfernandez

[2012-07-19 07:22] danielfernandez opened #35 "Create servlet for standalone execution of templates"
A specific servlet could enable the standalone execution of thymeleaf templates (à la JSP) for those users that do not want to have any controller-side frameworks. Velocity has something similar to this...

[2012-07-19 07:24] danielfernandez opened #36 "Create dialect for the execution of SQL sentences"
A new "extras" dialect could be created for executing SQL sentences directly from the templates, à la JSP's "sql" taglib.

This is weird and goes against all rules of good software architecture, but could be handy for some users (or for extremely-easy prototyping)

[2012-07-19 22:48] #31 closed, assigned to danielfernandez

[2012-07-20 03:11] ben3000 commented on #34
Yep, this fixes it for me, thanks.

[2012-07-21 17:28] #29 closed, assigned to danielfernandez

[2012-07-24 11:12] acr92 opened #37 "org.xml.sax.SAXException: Scanner State 24 not Recognized"
After upgrading to Thymeleaf 2.0.10 from 2.0.8 I started getting this exception, which was not very clear, it turns out however that it was caused when my layout file didn't start directly with <!DOCTYPE .... >. If I have a space, or a new line before that, then it would result in this. Now, I know HTML dictates that the document should start with <!DOCTYPE..., so why this worked before I don't kn

[2012-07-25 23:31] danielfernandez commented on #37
This is a bug. The new THYMELEAF_ROOT element, added in 2.0.9 (which is a synthetic markup element inserted in order to allow Thymeleaf process templates with no root element / several root elements) was being inserted before the DOCTYPE (and not after) when there were whitespaces or comments before the DOCTYPE --which anyway is something that should never happen because some browsers would not co

[2012-07-25 23:31] #37 closed, assigned to danielfernandez

[2012-07-26 00:03] danielfernandez opened #39 "Check the inclusion of whole-template fragments without root element"
When a fragment does not have a root element (for example, only text), using a th:include raises an error because the resulting Node tree does not start by a nestable element.

[2012-07-26 19:59] danielfernandez opened #40 "Create an extra for JSP integration"
Basing on the techniques for variable sharing between JSPs and Thymeleaf templates developed for the Tiles2 integration module, another extra module could be developed for direct JSP-Thymeleaf integration.

This could have processors like:

[code]

And also, a JSP TagLib could be developed for including a Thymeleaf template into a JSP template:

[code]

[2012-07-27 07:14] danielfernandez opened #41 "Add Spring WebFlow support to 2.1 release notes"
Release notes for Thymeleaf 2.1 should include a mention to the new AJAX Spring WebFlow support added in 2.0.11

[2012-08-01 22:35] danielfernandez opened #42 "Add a "dirty" flag to nodes to enable second-pass processing"
In order to allow a second processing of already-processed elements (for example, when a processor modifies an already processed element and add some th:\* attributes to it), a "dirty" boolean flag could be added to the Node class.

When set to true, this flag should be automatically propagated towards the root of the node tree up to the Document node, so that after the first pass of processing we

[2012-08-07 10:41] kreuzman opened #43 "Compare string with enum."
Ability to compare string with enum. When you try to compare in if statement (th:if="${day == 'MONDAY'}")  exception is thrown - org.springframework.expression.spel.SpelEvaluationException: EL1007E:(pos 22): Field or property 'MONDAY' cannot be found on null. You must use cast enum to string (th:if="${day + '' == 'MONDAY'}")  in not nice way. So explicit or implicit casting to string would be nice

[2012-08-07 16:33] danielfernandez opened #44 "Consider DOCTYPE just like another node in output"
Currently, DOCTYPE nodes have a special consideration in output, and they are always output at the very beginning. This invalidates tricks like this: http://forum.thymeleaf.org/Quirks-Mode-td4024924.html which allows the selection of quirks mode on demand.

[2012-08-07 16:54] danielfernandez commented on #43
Hi,

This is not a Thymeleaf feature, but a Spring EL one. When using Spring, every expression inside `${...}` is evaluated by the Spring EL expression engine.

The way you can access enums in Spring EL is this:

[code]

[2012-08-07 16:54] #43 closed, assigned to danielfernandez

[2012-08-07 17:12] kreuzman commented on #43
Hi,

thanks for reply I missed this one (that it's Spring EL feature)...Anyway what do you think about adding ${#strings.asString(str)} function? It can be useful also in other cases I think.

[2012-08-07 17:27] danielfernandez opened #45 "Add a null-safe #strings.asString() function"
Both OGNL and String EL allow the execution of expressions like `${myVar.toString()}`, but these will raise an error if `myVar` is null.

A new `asString()` function could be added to the `#strings` utility object to avoid this.

[2012-08-07 17:30] danielfernandez commented on #43
That could be useful if you need to have a null-safe toString function. If there is no problem with nulls, Spring EL allows you to do:

[code]

The null-safe "toString()" function is a nice idea. I've added it here https://github.com/thymeleaf/thymeleaf/issues/45 as an enhancement for 2.0.12

[2012-08-07 19:37] danielfernandez opened #46 "Avoid jsessionid in URLs when indexed by GoogleBot"
Thymeleaf currently adds the "jsessionid" fragment to any context-relative or server-relative URLs when a user session is active in the server (`request.getSession(false)` is not null).

Although most public sites will not be creating sessions for non-authenticated users (and thymeleaf allows this), it might happen that some sites do, and therefore `;jsessionid=xxxxx` fragments would be added to t

[2012-08-07 22:24] danielfernandez opened #47 "Create 'decoupled' template modes"
Decoupled template modes would consist of having two files for each template:
- One with the real HTML template, specifying `id` attributes for those elements that will be added processors.
- One with the attributes to be added (those that apply processors like `th:*`), referencing the `id` of the elements where they should be added.
### Syntax

Possible syntax for the _instructions_ template file

[2012-08-07 22:36] danielfernandez opened #48 "CSS inlining"
Some kind of CSS inlining could be added in the same way as today's JavaScript inlining.

This would allow the addition of expression-dependent in-template styles.

[2012-08-07 22:38] danielfernandez opened #49 "Add line number to nodes of all types"
Currently, only Element nodes are added the line number during parsing.

In some situations, it could be possible to specify line number for all types of nodes, so that exception messages could be more precise when inlining or treating other (non-element) kinds of nodes with specific processors.

[2012-08-07 23:26] danielfernandez opened #51 "Use array instead of Stack in SAXParser?"
The SAXParser (`DocumentHandler` implementation) currently uses a `Stack` object for pushing the read markup elements.

Maybe performance in no-cache scenarios could be improved by using an array instead of this Stack?

[2012-08-07 23:29] danielfernandez opened #52 "Modify template modes amd add "Text" template mode"
In order to being able to process non-HTML email templates or maybe some other kinds of templates, it could be useful to add a  `"Text"` template mode that:
- Considers the entire template to be a Text node.
- Applies text inlining by default.

[2012-08-07 23:32] danielfernandez opened #53 "Boolean literals"
Currently, boolean literals in Standard expressions must be computed as text literals (i.e. outside OGNL or SpringEL expressions).

Adding boolean literals to the Standard expression language would allow expressions like:

[code]

[2012-08-08 00:08] danielfernandez opened #54 "Remove initialize() steps in extension points"
Many artifacts in extension points (like template resolvers, message resolvers, etc) have `initialize()` methods which disallow modifications once called.

These `initialize()` methods often are part of the main interface for the extension point, which means that it is the responsibility of the engine to initialize those components, instead of the responsibility of the component itself.

These met

[2012-08-08 00:11] danielfernandez opened #55 "Refactor IDialect features into multiple interfaces"
For easier creation of new dialects and easier addition of new features to the engine, there are some features in the current IDialect interface that could be moved to other auxiliary interfaces, like:
- Execution attributes
- DOCTYPE translations / resolution entries

Creating these auxiliary interfaces could allow dialects to be created just by specifying their processors, prefix, and leniency,

[2012-08-08 00:20] danielfernandez opened #56 "Create multi-element blocks with comments"
Currently, there is no way in Thymeleaf's Standar Dialects to specify a processor to be applied on a set of elements instead of a specific one.

For example, an iteration cannot be applied on _two tr's_ instead of just one. Which means some sort of interfaces cannot be created with thymeleaf unless we write invalid code like this:

[code]

The solution for this would be to add the possibility to s

[2012-08-08 00:28] danielfernandez opened #57 "Specify blocks to be removed using comments"
Currently, the only way to specify that a specific block should be removed is by executing the `th:remove` processor on specific elements.

The problem with this is that it turns static prototypes with lots of removable parts (like f.i. tables) in something quite _dirty_ to write:

[code]

If we could use a comment for this, things would be much clearer:

[code]

This "REMOVE_START/END" feature wo

[2012-08-08 00:37] danielfernandez opened #58 "Add the possibility to add # objects from dialects"
By creating a new interface extending `IDialect`, we could add the possibility to dialects to add new utility (`#xxxxxx`) objects to expression evaluation. Dialects that implement this interface will be able to add objects, and those that don't... won't.

This will enable us to add this feature without modifying the `IDialect` interface itself.

Most probably, the right place to be used for inject

[2012-08-08 00:40] danielfernandez opened #59 "Extract "contextExecutionInfo" in IContext to a new interface"
The current `addContextExecutionInfo` method in `IContext` does not make much sense, as it is a specific feature that will be needed only by a small part of the context implementations.

Maybe this method should be a part of a new purpose-specific interface extending `IContext`, so that if (and only if) a context implementation implements this interface, context execution info variables will be ma

[2012-08-08 23:04] danielfernandez opened #60 "Synthetic root in parsed templates breaks XML prolog"
In 2.0.11, when an XML prolog is added, like:

[code]

...a parser error is raised, because the template parser filter will add the `THYMELEAF_ROOT` synthetic element surrounding the `<?xml?>` prolog and will make it look like a processing instruction.

The filter should be modified so that it recognizes not only the `DOCTYPE` clause but also the XML prolog.

[2012-08-08 23:56] danielfernandez opened #61 "Avoid outputting "]]>" inside javascript CDATA sections"
Currently, Thymeleaf allows that a script like this:

[code]

When `example` is `"Be careful of </script> & ]]>!"` is output like:

[code]

...which means the `]]>` part could be understood as the end of the CDATA section by some browsers, and therefore even lead to some kinds of _script injection_.

This works alright in current versions of Chrome, Firefox, Opera and IE (v9), and also in IE6 (!!)

[2012-08-09 00:17] danielfernandez commented on #46
Google crawler User-Agent specification: http://support.google.com/webmasters/bin/answer.py?hl=en&answer=1061943

[2012-08-09 00:21] danielfernandez commented on #46
Fixed and added to 2.0.12-SNAPSHOT

[2012-08-09 00:21] #46 closed, assigned to danielfernandez

[2012-08-09 00:28] danielfernandez opened #62 "Try to use nu.validator instead of nekoHTML"
Using **nu.validator** instead of the current **nekoHTML** for processing templates in `LEGACYHTML5` mode should have the advantage of benefitting of the almost-industry-standard HTML5 parser for Java, and so ensuring better compatibility with browser behaviour.

nu.validator could be used following the "HTML2XML" example (from their site), using the `SAXContentHandler` in our SAX parser as conten

[2012-08-09 00:33] danielfernandez opened #63 "Create #urls utility object for expression evaluation"
This object would have at least methods for:
- Getting the server+port part of the URL
- Getting the server+port+context part of the URL

This could be very helpful in order to _manually_ build URLs in templates.

[2012-08-09 00:36] danielfernandez opened #64 "Possibility to specify timezone for #dates / #calendars formatting"
In order to better show dates and calendars in templates, it would be useful to allow the setting of the timezone to be used in either of two ways (investigate which would be the correct one):
- Adding the timezone as a parameter in `#dates` and `#calendars`
- Ability to set a timezone at the context object

See http://forum.thymeleaf.org/dates-format-and-TimeZone-td3735317.html

[2012-08-09 23:18] danielfernandez commented on #61
Another possibility for escaping `]]>` would be, simply:

[code]

...but, not being `>` one of the characters that must be escaped in JavaScript... are we sure every browser understands `\>` correctly?

[2012-08-10 07:57] asis commented on #61
"are we sure every browser understands {{whatever}} correctly?" => no :)

But according to the spec (http://es5.github.com/x7.html#x7.8.4) any escape sequence using a non-special character has the same value as the non-special character. So every browser _should_ understand it.

The "divide & conquer" :P option looks OK, but given the huge amount of javascript syntactic quirks... who knows ;) (by

[2012-08-10 23:47] danielfernandez commented on #60
Fixed and added to 2.0.12-SNAPSHOT

[2012-08-10 23:47] #60 closed, assigned to danielfernandez

[2012-08-11 00:17] danielfernandez commented on #61
Thanks.

Fixed using the `]]\>` escaping sequence, and added to 2.0.12-SNAPSHOT.

[2012-08-11 00:17] #61 closed, assigned to danielfernandez

[2012-08-11 15:34] danielfernandez commented on #45
Added to code trunk and 2.0.12-SNAPSHOT

[2012-08-11 15:34] #45 closed, assigned to danielfernandez

[2012-08-12 12:28] danielfernandez commented on #58
Feature implemented by means of the new `org.thymeleaf.dialect.IExpressionEnhancingDialect` interface and the abstract `org.thymeleaf.context.AbstractDialectAwareProcessingContext` implementation of `IProcessingContext`, which takes care of adding to the context-available objects those defined by dialects implementing the former interface.

Added to 2.0.12-SNAPSHOT.

[2012-08-12 12:28] #58 closed, assigned to danielfernandez

[2012-08-12 15:10] danielfernandez opened #65 "Add features included in 2.0.x versions into 2.1 release notes"
To be added in 2.1 release notes:
- Ability to process templates with no root element (or several of them)
- Execution of expressions outside templates (IProcessingContext implementations)
- Spring WebFlow 2.1 support
- DIalects' ability to add expression objects (#xyz)

[2012-08-12 15:11] danielfernandez commented on #24
This issue now included in https://github.com/thymeleaf/thymeleaf/issues/65

[2012-08-12 15:11] #24 closed, assigned to danielfernandez

[2012-08-12 15:11] danielfernandez commented on #41
This issue now included in https://github.com/thymeleaf/thymeleaf/issues/65

[2012-08-12 15:11] #41 closed, assigned to danielfernandez

[2012-08-12 15:11] danielfernandez commented on #25
This issue now included in https://github.com/thymeleaf/thymeleaf/issues/65

[2012-08-12 15:11] #25 closed, assigned to danielfernandez

[2012-08-12 19:45] kazukazu opened #66 ""org.thymeleaf.util.DateUtils#formatDate" is thread-unsafe ?"
"DateUtils#formatDate" is using a  "SimpleDateFormat"(not thread-safe API).

I think thread-unsafe, because SimpleDateFormat instance are cached in static variables and not synchronized.

Please confirm you.

[2012-08-12 22:18] danielfernandez commented on #66
Fixed in https://github.com/thymeleaf/thymeleaf/commit/93cacf1c4f3d5e0737a603ca6e9e267c8aaef604

Added to 2.0.12-SNAPSHOT.

Thanks.

[2012-08-12 22:18] #66 closed, assigned to danielfernandez

[2012-08-13 07:08] danielfernandez commented on #65
- The new `additionalDialects` property in TemplateEngine

[2012-08-14 08:14] danielfernandez commented on #19
Important thing to note: what will happen with unescaped entities? Now, if we have a th:utext and the inserted text has an ampersand, it should come as "&amp;amp;" in order to avoid a parsing error, but... if we use a Macro, we could write & without parsing errors (but display errors?)

[2012-08-17 00:13] danielfernandez commented on #39
Fixed and added to 2.0.12-SNAPSHOT

[2012-08-17 00:13] #39 closed, assigned to danielfernandez

[2012-08-22 22:51] danielfernandez opened #67 "Execution indexes in logs do not work with nested executions"
In cases when a nested execution of the `TemplateEngine` happens, like for example using the thymeleaf-extras-tiles2 integration module, the execution index obtained with `TemplateEngine.threadIndex()` returns always the value of the latest execution, even if it was a nested one.

This is because that _threadIndex_ is stored in a `ThreadLocal`. A possible solution would be to use a Stack to store

[2012-08-29 17:29] danielfernandez opened #68 "Syntax for parsing directives"
As an additional way to decouple processing instructions from template markup, it could be a good idea to add some kind of syntax for _processing directives_, in the form of markup comments, able to assign attributes to elements by ID or by DOM Selector.

[2012-08-29 17:41] danielfernandez opened #69 "Create th:replace as a synonym for th:substituteby"
Create a new attribute called `th:replace` as a complete synonym for `th:substituteby`.

The plan is to completely replace `th:substituteby` by `th:replace` in a couple of versions, so with 2.1 `replace`should be added to the documentation instead of every appearance of `substituteby`, and a mention to `substituteby` should appear stating that although having exactly the same effect, it is no long

[2012-08-29 17:42] danielfernandez opened #70 "Deprecate th:substituteby"
As a second step in the plan to replace `th:substituteby` with `th:replace`, version 2.2 should deprecate `th:substituteby`, writing a WARN log message each time this attribute is processed.

[2012-08-29 17:44] danielfernandez opened #71 "Remove th:substituteby"
As a final step in the plan for replacing `th:substituteby` with `th:replace`, version 3.1 should completely remove th:substituteby (previously deprecated in 3.0)

[2012-08-29 18:32] danielfernandez opened #72 "Add new #element and #attr utility objects"
New utility objects could be useful:
- `#attr` will be a map with all the attributes and their values in the current DOM element being processed.
- `#element` will represent the DOM element, including its name and an "attr" property pointing to `#attr`.

[2012-08-29 18:33] danielfernandez opened #73 "Add an #eval utility object"
Add an `#eval` utility object able to evaluate Stantard Expressions using the current element as context (for example, an expression containing `#attr` and `#element` could have a different result depending on when it is executed)

[2012-09-02 09:52] danielfernandez opened #74 "Remove duplicity of local variable management in Node and Arguments"
Check the possibility of removing the duplicity of local variables between `Arguments` and `Node`.

Nowadays, they are always being replicated and synchronized at the `processNode()` method in class `Node`, And maybe the only real need is to keep them in `Arguments`, and not in `Node`... also, whichever the changes, check we don't do a regression like http://forum.thymeleaf.org/th-object-and-th-re

[2012-09-05 08:19] balteo opened #75 "Using Spring's theme resolvers and themes with a Thymeleaf template [enhancement]"
It would be a interesting enhancement to be able to use Spring's theme resolvers and themes in a Thymeleaf template.

Further information available on Thymeleaf's forum:
http://forum.thymeleaf.org/Using-Spring-s-theme-resolvers-and-themes-with-a-Thymeleaf-template-td4025026.html

[2012-09-05 21:03] kreuzman opened #76 "Getting null with Selection Variable Expressions."
`<div th:object="${someObject}" th:remove="tag">
     <div th:text="*{getter}"/>
</div>`

With this code above I getting null while accessing *{getter}. That's happening because of th:remove="tag". Working well in version 2.0.8.

[2012-09-05 21:20] danielfernandez commented on #76
Hi,

This is already solved in 2.0.13-SNAPSHOT. See the last messages in http://forum.thymeleaf.org/th-object-and-th-remove-in-one-tag-td3771071.html

Thanks,
Daniel.

[2012-09-05 21:20] #76 closed, assigned to danielfernandez

[2012-09-09 22:44] danielfernandez commented on #67
Fixed and added to 2.0.13-SNAPSHOT

[2012-09-09 22:44] #67 closed, assigned to danielfernandez

[2012-09-11 22:32] danielfernandez opened #77 "Setting null prefix to dialect raises an exception."
Setting a `null` prefix to a dialect (which should mean the dialect will apply on _standard HTML tags and attributes_) raises an exception instead.

[2012-09-11 22:49] danielfernandez opened #78 "Node's "recomputeProcessorsImmediately" and "recomputeProcessorsAfterEachExecution" flags do not work correctly"
During the execution of a processor, this might set the `recomputeProcessorsImmediately` or `recomputeProcessorsAfterEachExecution` flags in order to force the engine to recompute the processors for that element.

Nevertheless, this re-computation is never being done because the `isPrecomputed` flag in class `Node` is not set to false before re-executing the computation.

[2012-09-11 22:53] danielfernandez commented on #78
Fixed and added to 2.0.14-SNAPSHOT

[2012-09-11 22:53] #78 closed, assigned to danielfernandez

[2012-09-11 22:54] danielfernandez commented on #77
Fixed and added to 2.0.14-SNAPSHOT

[2012-09-11 22:54] #77 closed, assigned to danielfernandez

[2012-09-12 04:39] davejoyce commented on #32
I second Martin's comment above. Can I jump in and OSGi-ify the Thymeleaf projects, so that the produced JARs are also valid OSGi bundles?

[2012-09-12 08:22] danielfernandez commented on #32
Thanks. What would this mean, what changes would be required?

[2012-09-13 04:27] davejoyce commented on #32
Daniel, basically what that means is that:
- The current Thymeleaf maven artifact projects would need to be altered:
  - to be packaged as **bundle** rather than **jar**
  - to specify dependencies at a package level, including accepted version ranges
- Or, a 2nd parallel set of new maven artifact projects would need to be created to produce **bundle** rather than **jar** packages. An OSGi bundle

[2012-09-13 14:52] danielfernandez opened #79 "Process conditional IE comments"
Internet Explorer's conditional comments should be handled in a special way so that their attributes can be processed.

This would mean creating a new type of DOM node, able to understand the conditional comment specification (IE version) and of processing its contents as any other markup fragment.

[2012-09-13 15:23] danielfernandez commented on #32
I understand. Could this modifications to MANIFEST.MF have effect on the way the .jars are being processed in enterprise application servers?

What I am worried about is that adding the OSGI-related headers could harm any users currently using the .jar files in environments which could react to this headers in unwanted ways... this is, I would like to be sure that this would not affect non-OSGI-co

[2012-09-13 17:28] davejoyce commented on #32
Daniel:

That's the really nice part! The short answer is no. A plain non-OSGi JVM will treat them as normal JAR manifest headers (ie, ignore them).

Sent from my Verizon Wireless BlackBerry

-----Original Message-----
From: Daniel Fernández notifications@github.com
Date: Thu, 13 Sep 2012 08:23:44
To: thymeleaf/thymeleafthymeleaf@noreply.github.com
Reply-To: thymeleaf/thymeleaf reply@reply.github.

[2012-09-17 09:54] mdeinum commented on #32
Creating an OSGI bundle shouldn't harm the current users. A lot of frameworks (Spring, Hibernate to name just 2) ship as valid OSGI bundles and work also in normal environments.

[2012-09-18 09:52] davejoyce commented on #32
I have just forked thymeleaf and thymeleaf-spring3 repos. My plan is to update the POMs to produce jars which are also OSGi bundles. In a standard JVM (JSE / JEE) environment, they will continue to work exactly as they do now.

Daniel - I will submit a pull request when I'm done.

Marten - how would we go about getting the OSGi bundle jars into the SpringSource EBR?

[2012-09-18 09:57] mdeinum commented on #32
Why would you want them in SpringSource EBR? What is wrong with normal maven? The SpringSource EBR is only to be used for jars which are modified by SpringSource to become OSGI bundles (for jars that aren't).

[2012-09-18 10:06] danielfernandez commented on #32
@davejoyce that's great! thanks.

What about thymeleaf's dependencies that are not OSGi bundles? I don't know what is the normal behaviour here... will they be included inside the bundle anyway but simply not exported?

[2012-09-18 10:39] davejoyce commented on #32
Marten - nothing is wrong with a normal maven repository. I asked about the EBR, because OSGi bundles are found either via Eclipse.org, SpringSource EBR, or some other OBR.

Daniel - part of my effort will be to identify existing OSGi bundle-ized dependencies. I may create a separate profile within the POMs to handle the potentially differing dependency resolution.

[2012-09-18 10:47] mdeinum commented on #32
In general most (commonly used) jar files found in the normal maven repository are already OSGi bundles (hibernate, spring, apache-common jars, jsf etc.) so no need to have them in another repository (but that is IMHO ofcourse :) ).

[2012-09-18 11:15] davejoyce commented on #32
@mdeinum good points. I, too, suspect that most (if not all) of the dependencies will already be OSGi bundles. In the event I find a dependency jar that isn't yet an OSGi bundle, I will return to this issue for discussion.

[2012-09-18 11:30] danielfernandez commented on #32
@davejoyce @mdeinum thymeleaf's dependency tree is quite small. In fact:

Thymeleaf (core): ognl, javassist, slf4j
Thymeleaf-Spring3: thymeleaf (core), several Spring beans, slf4j

As for OGNL and javassist, they are quite specific to Thymeleaf and I'm not sure of the usefulness it could have to import them as OSGi-contained dependencies. I think this dependencies would be safer "inside" the thyme

[2012-09-19 21:21] usethe4ce commented on #3
Variable substitution in a fragment works if you define the variable at a higher level. So, for your title example, you can do:

[code]

I'm trying to include the contents of the head from another template and then add some additional scripts and links. I was trying something like:

[code]

But then I find out the `th:remove` is lower precedence than `th:substituteby`, so the former is ignored and

[2012-09-20 10:56] davejoyce commented on #32
@danielfernandez As you may now be aware, the OSGi 4.2 Core Specification states:

Do I understand correctly that Thymeleaf's dependency upon javassist is specifically internal for the sole purpose of altering an OGNL class at load-time? If that is the case, then yes - a "thymeleaf-only" copy of javassist and ognl would need to be in the same classloader as the thymeleaf bundle itself. This is ach

[2012-09-21 00:15] danielfernandez commented on #32
Exactly. javassist is specifically used for that. And I agree that neither javassist nor OGNL should be exported.

[2012-09-22 04:28] usethe4ce opened #80 "Make dialects more easily configurable through Spring"
Would like to be able to modify the (Spring-) standard dialect directly through Spring rather than having to create a derived class. For example:

[code]

[2012-09-22 05:01] usethe4ce opened #81 "Use Jackson for Javascript inlining of JSON"
Provide some way for users to switch to using Jackson (or Gson) for JSON serialization in JavaScript inlining.

Thymeleaf currently rolls its own miniature JSON serializer, but for projects that already use <a href="https://github.com/FasterXML/jackson-databind">Jackson</a>, it would be more consistent and generally preferable to use Jackson instead (or likewise, Gson), especially since the result

[2012-09-23 17:33] danielfernandez opened #82 "Make ITemplateWriter use IProcessingContext instead of Arguments"
Currently, `ITemplateWriter` implementations need to receive `IProcessingContext` instances, but in fact the current writer implementation only needs a `Configuration`.

In order to improve testability, receiving `IProcessingContext` should be enough.

Also, search all uses of `Arguments` in interfaces, and substitute by `IProcessingContext` where possible

[2012-09-23 17:36] danielfernandez opened #83 "Remove all uses of Arguments where it is not strictly required"
Once all uses of `Arguments` are substituted by `IProcessingContext` where needed, every instantiation of `Arguments` (for example, in utils methods in classes like DOMUtils) should be removed by `ProcessingContext`, which should be enough.

[2012-09-23 23:01] danielfernandez commented on #81
This could probably be a part of a refactoring in the text inlining interfaces that allows plugging different implementation of TextInliners as a part of TemplateEngine / Dialect configuration.

[2012-09-24 10:09] dostermeier opened #84 "JavaScript escaping on strings that contain paths has unexpected results"
The original reference to this comes from: http://forum.thymeleaf.org/is-being-escaped-when-inlined-in-javascript-td4025110.html

In summary:

I have the following code that is not behaving as expected:

[code]

The rendered result is:

[code]

What I want is:

[code]

I'm currently working around this issue with the following:

url = url.replace(/\/g,'');

It is effective but I would prefer not t

[2012-09-24 22:42] davejoyce commented on #32
@danielfernandez I'm going to inline the contents of ognl and javassist JARs, so that the thymeleaf bundle JAR doesn't contain JARs, but only packages of classes.

Additionally, I'm working against the 2.0-master branch; is that right? What branch should I be putting these changes into?

[2012-09-24 22:58] danielfernandez commented on #32
@davejoyce You should create your pull requests against 2.0-master, you're right.

Also, I have a question about that inlining of classes: does that mean you are planning to include OGNL and javassist inside the standard Thymeleaf binary distribution .jars? and if the answer to that is "yes"... is this the only way to make thymeleaf use its own "instance" of these libraries?

[2012-09-24 23:13] davejoyce commented on #32
@danielfernandez I'll continue against 2.0-master, then.

Yes, the contents of the javassist and ognl JARs will be incorporated into the Thymeleaf binary distribution JAR. It is not the _only_ way to make Thymeleaf use these classes, but it is the simplest and most straightforward. This approach, will make the content of thymeleaf-x.x.x.jar similar to that of the popular cglib-x.x-nodeps.jar, whic

[2012-09-24 23:25] danielfernandez commented on #32
@davejoyce given the fact that this would affect everyone not using OSGi, I don't like that option. At least, the packages for these "inlined" classes should be changed in order to avoid collision with other versions of the same .jars in non-OSGi environments. And changing package would mean modifying their sources and almost creating our own distribution of these two libraries...

So unless there

[2012-09-24 23:42] davejoyce commented on #32
@danielfernandez That's fine. This will add complexity to the packaging, but the end product will be:
- standard thymeleaf-x.x.x.jar
- OSGi bundle thymeleaf-x.x.x-osgi.jar

[2012-09-25 00:06] danielfernandez commented on #32
@davejoyce Thanks.

Just in order to better document this issue ticket for future reference, let me explain that the problem I try to avoid is:

(in a non-OSGi container)
1. Thymeleaf is added to the classpath, and it contains an "inlined" version x of javassist (which classes are therefore added to the classpath too).
2. Other parts of the user's software require version y of javassist, so he/she

[2012-09-25 02:07] ben3000 commented on #3
Thanks @usethe4ce, that worked perfectly. I was using `th:with` in the `<head>` element. Moving it to the `<html>` element makes it work as advertised. Thanks heaps for the hint.

[2012-09-25 03:50] hussachai opened #85 "Should be a able to get the first value from request parameter's values without the bracket syntax?"
From this thread: http://forum.thymeleaf.org/Request-parameter-td3325136.html#none
I understand your point but it's not convenient to use that way.
Is it possible to do this? If the parser doesn't find a bracket, it will do the null check
and retrieve the first parameter from parameter values. If you implement this it will
save a lot of typing and make code cleaner.

[code]

Thank you very much. Y

[2012-09-25 06:08] hussachai opened #86 "Spring MVC: Should error message be looked up from IMessageResolver instead of MessageSource?"
I don't like the Spring MessageSource because it's designed to be a big centralized message.
I have to namespace every message and that make my message key longer and longer.

I like the idea of StandardMessageResolver that Thymeleaf provides. Instead of namespace
the message key, StandardMessageResolver namespace the cache key instead. It's very convenient. IMO the performance should be better.

[2012-09-25 06:17] mdeinum commented on #32
In Spring they do the same for ASM (and as of late also cglib 3) however they automated the process of inining (and renaming) the packages. Maybe take a look at their proces?

[2012-09-25 06:23] davejoyce commented on #32
@mdeinum Thanks, Marten. I'll look at what the Spring Framework project team is doing for that.

[2012-10-04 20:18] gfouquet commented on #32
Hi,

I work on an OSGi based project into which I introduced some Thymeleaf, so I had to do the osgi wrapping.

If it's of some help, you can find and reuse the wrapper poms I wrote. You will find the one for thymeleaf [here](https://bitbucket.org/nx/squashtest-third-party-bundles/src/ec6ef1673f09/org.thymeleaf/pom.xml) and the one for thymeleaf-spring3 [here](https://bitbucket.org/nx/squashtest-t

[2012-10-09 07:59] danielfernandez opened #87 "Inclusion mechanism similar to .jspx"
A new mechanism of code inclusion could be developed in a similar way to .jspx tags, so that a fragment of markup is parsed and executed with a closed context (receiving parameters for its execution), in a reusable manner.

[2012-10-10 03:54] ashley7070 commented on #75
This is the only reason I am not using thymeleaf at the moment. We rely heavilly on spring:theme tag for multi branding.

[2012-10-11 10:30] danielfernandez opened #88 "Check whether and/or operators in standard expressions short-circuit or/and can do it."
See http://forum.thymeleaf.org/short-circuit-operators-td4025171.html

[2012-10-12 05:08] danielfernandez commented on #80
Added to 2.0.14-SNAPSHOT

[2012-10-12 05:08] #80 closed, assigned to danielfernandez

[2012-10-12 05:27] danielfernandez commented on #88
Added to 2.0.14-SNAPSHOT

[2012-10-12 05:27] #88 closed, assigned to danielfernandez

[2012-10-17 14:22] emilime opened #89 "Url with pathvariable"
Add support to pathvariable style to URL syntax, like spring:url tag, example:

[code]

output:

[code]

[2012-10-17 15:38] danielfernandez commented on #89
You should be able to do this already by appending strings:

[code]

Would that be what you need?

[2012-10-17 16:05] emilime commented on #89
I think it would be useful to have a method like this:

[code]

(where Object has properties "id" and "action") which output the url as "/order/details/3/show_all".

What do you think?

[2012-10-18 01:07] danielfernandez opened #90 "Try to remove ThreadLocal<TemplateEngine>"
Currently, the TemplateEngine class creates and maintains a ThreadLocal<TemplateEngine> variable which might cause warnings from web servers like Tomcat.

These warnings do not mean a real problem, but it could be a good idea to try to remove this thread local in order to avoid them (the messages).

As a test, the _itutorial_ can be used, in an external (non-IDE) tomcat.

[2012-10-18 10:11] kreuzman commented on #76
Hi,

thanks I missed topic in forum.

Thanks for reply.
Michal

[2012-10-18 10:22] kreuzman commented on #89
Hi,

I think that standardized syntax for this would be nice syntax sugar. If you building long URL you easily make a mistake in joining (e.g. you forget `'`). Also with more parameters it's nice to see all parameters on one place (after URL).

For me this looks cleaner

[code]

than this (which I currently doing a lot :-)

[code]

But it's just my personal feeling and I'm ok with both in the end

[2012-10-24 14:35] petejohanson opened #91 "Ability to access "request" instance from WebContext"
Te new WebVariablesMap class provides access to a "params", "session" and "application" variables, which is handy, but I need to access properties of the request object itself.

I know I can manually add the request to my variables on a case-by-case basis, but what do people think about adding it in WebContext/WebVariablesMap automatically?

If yes, I'm happy to submit a pull request.

Thanks.

[2012-10-25 14:29] pidster commented on #75
Seems like a smashing idea.

[2012-10-26 08:05] danielfernandez opened #92 "Check the possibility of using response.encodeURL in @{...} expressions"
See http://forum.thymeleaf.org/url-rewriting-td4024756.html in order to let the container do the URL encoding instead of manually adding session-related fragments.

[2012-10-26 08:14] danielfernandez commented on #91
Hi,

The `HttpServletRequest` object is always added, and can be accessed from standard expressions as `#httpServletRequest`. So, for example, you coud have:

[code]

And you can call any method (not only getters):

[code]

Is this what you were looking for?

[2012-10-26 08:35] danielfernandez commented on #87
See http://today.java.net/pub/a/today/2003/11/14/tagfiles.html

[2012-10-26 12:44] petejohanson commented on #91
That's it exactly! I had tried simply `${httpServletRequest.servletPath}` previously, I forgot to include the `#`.

Thanks.

[2012-10-26 12:44] #91 closed, assigned to danielfernandez

[2012-10-29 02:01] danielfernandez commented on #92
Done. Added to 2.0.15-SNAPSHOT

[2012-10-29 02:01] #92 closed, assigned to danielfernandez

[2012-10-31 17:53] choreo opened #93 "Add HTML5 data-* attribute support instead of th prefix"
Add  "data-*" attribute instead of the th prefix when template mode is HTML5, to make Thymeleaf compatible with HTML5 validation.  Namespaces are not valid for html5.

Including dialect prefix in the attribute might be a good idea, such as 'data-th-text="${foobar}"' so one can make custom  dialects with its own prefix.

[2012-11-01 01:01] danielfernandez commented on #65
- The new `additionalProcessors` property in StandardDialect (2.0.14)
- All URLs now go through `response.encodeUrl(...)`, which allows integration with URL rewriting technologies (like filters) (2.0.15)

[2012-11-07 07:55] Darkvater opened #94 "using context variable 'size' in templates"
Using ThymeLeaf 2.0.13
I have created a template variable in ThymeLeaf called "size". When I want to show this value its actual value is not shown. After a bit of looking around I figured out it shows the context size. Is this correct? If so, where is this documented?
A quick example:

[code]

In the template if I now do:

[code]

It shows 2, and not 10. Two is the size of the number of objects in

[2012-11-07 14:04] petejohanson commented on #89
I would appreciate a simpler approach/syntax for this as well. String concatentation works, but isn't ideal, IMHO.

[2012-11-09 22:45] usethe4ce commented on #89
An important difference that I would expect is how strings are treated: simple concatenation should build up a raw URL, while the Thymeleaf parameter syntax should perform URL escaping.

[2012-11-13 11:45] danielfernandez opened #95 "Allow DOMSelectors to specify ids jquery-style"
It could be useful for DOMSelectors to being able to specify an element by ID by a simple `#id` expression, like in jquery. This would make decoupled-template binding easier.

[2012-11-13 18:31] danielfernandez opened #96 "Create DOM nodes with delayed rendering"
In order to allow the execution of pages containing large collections of data, it would be nice if we could create a new DOM node able to delay its execution (the execution of the actual processors) until the template writer reaches it, so that it doesn't require the full generated DOM to be in memory.

This of course would mean that any processor executed in this "delayed" mode (child of the high

[2012-11-14 23:07] danielfernandez opened #97 "Reduce the number of DOM nodes created during tree cloning"
It would be possible to dramatically reduce the amount of DOM nodes instanced during tree cloning (this is, when using template cache) if we avoided creating new Text, Comment or CDATA nodes.

This could be achieved if we only offer the `parent` property at NestableNode nodes instead of offering it at every Node, and converted Text instances into immutable. Then in `IProcessor#execute(...)` we sho

[2012-11-15 08:12] gihrig commented on #84
I agree, it would be useful to have the ability to disable 'standard' escaping in some circumstances. Another case is 'special' characters used in javascript that will be rendered through Thymeleaf attributes.

One posible solution might be to expand the number of 'th:utext' like attributes.

I posted to the support forum about this http://forum.thymeleaf.org/Avoiding-escape-of-special-characters-

[2012-11-19 00:45] petergeneric commented on #64
This would be really useful

[2012-11-21 00:04] danielfernandez opened #98 "Ability to reuse variables in th:with"
See http://forum.thymeleaf.org/Reusing-variables-from-the-same-th-with-td4025255.html

This would allow refactorization of th:with expressions, and could significantly reduce the length of the expressions declared there.

[2012-11-30 00:59] danielfernandez commented on #94
If a "size" variable exists, it should supersede the map's "size" property. Queued for 2.1

[2012-12-03 08:27] usethe4ce commented on #11
A few thoughts on this.
- There are a few ways to compact white space. One is to just discard whitespace-only nodes (a la `xml:space`). A more aggressive way is like `normalize-space()`, discarding leading and trailing space and collapsing contiguous white space into a single space.
- White space from the template itself is _usually_ not important, except in certain elements. This is mostly indent

[2012-12-06 00:20] danielfernandez opened #99 "Template readers are not being closed if parsing raises an exception"
Parsers correctly close template files if parsing ends OK, but a close operation is not performed if an exception occurs, resulting in blocked files.

[2012-12-06 00:20] danielfernandez commented on #99
Fixed in 2.0.15-SNAPSHOT

[2012-12-06 00:20] #99 closed, assigned to danielfernandez

[2012-12-06 00:49] danielfernandez opened #100 "Custom element processors do not match non-lowercase tag names"
Element processors are not correctly matching markup tags unless only lowercase letters are being used in the element to be matched.

This is probably a problem related to element name normalisation.

[2012-12-09 18:54] frandevel commented on #3
Still it would be really nice to have something more straight forward like the "insertions" described above, appending or prepending content to a tag element having a "th:include" or a "th:substituteby".
In my particular case I have a "head" tag within which I have linked all the external resources (JS, CSS, etc...) but if for a specific view I want to add a script, for instance to modify the DOM

[2012-12-09 22:00] ultraq commented on #3
I've written a dialect that currently performs these "insertions": create a parent 'layout' page, define points in the layout which will be overridden/filled-in by child/content pages, then reference the layout page in the child/content one (the one being processed by Thymeleaf).  It also does a bunch of automatic insertions for the `<head>` element without having to write any additional processor

[2012-12-10 04:26] OndraZizka opened #101 "Allow variables to be looked up lazily - switch VariablesMap to sort of VariablesResolver."
When extending ThymeLeaf's IContext, the variables map to be created can become really huge, and very inefficient to create upfront. Think of CDI-backed values. Or database-backed.

It would be nice if ThymeLeaf allowed lazy lookup, possibly using some kind of cached map.

[2012-12-17 17:47] danielfernandez commented on #86
Hi,

I'm not sure I understand the problem you are describing here...

When Thymeleaf is used along with Spring by using a `SpringTemplateEngine` instance, several things get preconfigured: 1. The _SpringStandard_ dialect is used, and 2. A `SpringMessageResolver` instance is used.

`SpringMessageResolver` is an implementation of `IMessageResolver` that, in order to have a better integration with t

[2012-12-18 03:58] hussachai commented on #86
Thank you for your response. I got your point. As I remember, I configured Thymeleaf to use StandardMessageResolver
and it worked well when I use #{messageCode} but with the Spring MVC form's error. It did not resolve the message from StandardMessageResolver but it used default Spring MessageSource instead.

I use "errors" attribute in Thymeleaf namespace to display the error but it caused the err

[2012-12-18 23:57] danielfernandez commented on #100
Fixed in 2.0.15-SNAPSHOT.

[2012-12-18 23:57] #100 closed, assigned to danielfernandez

[2012-12-19 18:06] danielfernandez opened #102 "Intelligent comments"
It would be nice to be able to have comments that might act as a Markup Group. Something like:

[code]

And also the ability to use them as an aid to prototyping, so that a part of the template remains hidden when statically visited, and then added to the template just like any other part of the template when executed:

[code]

[2012-12-21 21:53] paulkuhn12 commented on #93
+1

[2012-12-23 22:55] danielfernandez opened #103 "Modify ElementNameProcessorMatcher to enable non-prefixed element names"
Currently, ElementNameProcessorMatcher requires the element name (if set) to include the dialect prefix name.

So that processors can be created that match the entire element (element processors) but look for a set of specific configuration-oriented attributes inside the tags they apply to, it would be nice if the addition of the dialect prefix to the element name in this matcher is considered opt

[2012-12-23 22:56] tduchateau commented on #103
+1 ;-)

[2012-12-24 01:08] danielfernandez opened #104 "Could SpelVariableExpressionEvaluator use the standard Spring conversion service?"
See http://forum.thymeleaf.org/Issue-with-type-conversion-in-SpelVariableExpressionEvaluator-td4025236.html

[2012-12-27 23:28] tduchateau opened #105 "Precedence conflicts between dialects"
Hi!

It could be great to "abstract" the dialect's precedence and make it relative to existing dialects, in order to avoid conflicts.
So all the dialect's processor would be linked (e.g. with new constructors which would allow to increment/decrement their precedence relatively to other ones) but there would be no conflict at all.

Thanks!

[2012-12-27 23:39] tduchateau opened #106 "Utility method for non-lenient custom dialect"
Hi again !

For custom non-lenient dialect which can embed looots of processors (:-)), it would be nice to have utility method which removes the processed attribute :

[code]

Thanks !

[2013-01-07 13:28] kreuzman opened #107 "New appending attribute for inline style."
Hi, it could be sometimes useful to have appending attribute for inline style. Something like `th:styleappend` that can work same way like `th:classappend` but appends to inline style attribute.

[2013-01-08 15:00] ffesseler commented on #85
yes agree, would be great!

[2013-01-09 00:07] kreuzman opened #108 "Remove empty lines from generated HTML document."
Hi, it could useful to have feature to remove empty lines from generated HTML document by Thymeleaf. Empty lines occurring after using `th:remove` attribute. It could be made implicitly or one can turn this feature on in configuration. Motivation - sometimes size of generate document matters.

[2013-01-09 00:08] kreuzman opened #109 "This issue was made by mistake"

[2013-01-09 00:12] kreuzman opened #110 "Thymeleaf comments"
I'm missing feature in Thymeleaf that provide you comments in your source code. HTML comments is not suitable because they remain in generated HTML document.

[2013-01-09 00:13] #109 closed, assigned to danielfernandez

[2013-01-09 02:20] ultraq commented on #110
I thought for a moment that this feature had already been implemented (I remember some talk about this in the forums a few months ago), but I looked through the current list of issues and found the original issue / feature request, set for Thymeleaf 2.1: https://github.com/thymeleaf/thymeleaf/issues/10

[2013-01-09 09:02] kreuzman commented on #110
Thanks Emanuel for link I missed this one. That way I'm closing this issue.

[2013-01-09 09:02] #110 closed, assigned to danielfernandez

[2013-01-09 09:53] tduchateau opened #111 "Node selectors"
Hi!

Some useful methods already exist for server-side DOM manipulation/selection : addChild, extractChild, getFirstChild, ...
Also it would be very useful if you could add some other methods, a bit like jQuery selectors.

<hr />

[code]

Examples :

<ul>
<li>I want all nodes that have a "foo" CSS class</li>
<li>I want  the node that has a given HTML id</li>
</ul>

<hr />

[code]

Example :

<ul>

[2013-01-16 08:53] danielfernandez opened #112 "Add some sort of case/switch/decode expression to the Standard Expression language"
It would be nice to be able to do something similar to a "case"/"switch" expression, like:

[code]

[2013-01-21 12:00] Infeligo commented on #56
I just ran into similar issue. I needed to iterate over 3 nested collections and display it as table data. That is, collection1 children were collection2 and collection2 chidlren were collection3. And it is collection3 children that I had to display as rows. If there were 2 collections, I could iterate over collection1 using `<tbody>` and collection2 over `<tr>`, but in case of 3 collections there

[2013-01-22 08:10] mxab commented on #93
hey, not sure if it's exactly what you want but I wrote a dialect for that

https://github.com/mxab/thymeleaf-extras-data-attribute

[2013-01-23 15:01] cheleb opened #113 "Preserve formatting when iterating (th:each)"
&lt;ul&gt;
  &lt;li th:each="str: ${list}" th:text="${str}"&gt;My item&lt;/li&gt;
&lt;/ul&gt;

Outputs:

&lt;ul&gt;
  &lt;li&gt;One&lt;/li&gt;&lt;li&gt;two&lt;/li&gt;&lt;li&gt;three&lt;/li&gt;
&lt;/ul&gt;

Rather than (more readable):

&lt;ul&gt;
  &lt;li&gt;One&lt;/li&gt;
  &lt;li&gt;two&lt;/li&gt;
  &lt;li&gt;three&lt;/li&gt;
&lt;/ul&gt;

[2013-01-24 17:03] danielfernandez opened #823 "Check JodaTime integration for bound form fields"
Check whether the Spring JSP tags perform any kind of special integration for JodaTime-based fields when rendering <input type="date" /> fields (like e.g. adding any sort of patterns), and test correct integration with jodatime-based form fields.

[2013-01-29 00:47] danielfernandez opened #115 "Add method for listing all specific cache names from an ICacheManager instance"
Add a new method to ICacheManager (and AbstractCacheManager) for returning the list of all the specific caches that are available.

[2013-01-29 00:48] danielfernandez commented on #115
Fixed in 2.0.16-SNAPSHOT

[2013-01-29 00:48] #115 closed, assigned to danielfernandez

[2013-01-30 13:46] danielfernandez opened #117 "Spring MVC's "flash" attributes"
Have a look at Spring MVC's "flash" attributes... can they be directly displayed at the view? how? could they be offered at the SpringWebContext?

[2013-02-01 00:29] danielfernandez opened #118 "Possible cleaner solution for the OGNL "boolean fix""
We should explore the possibility of replacing the current "boolean fix" at the `OgnlVariableExpressionEvaluator` class with a `PropertyAccessor`.

But in order for this to make sense, this accessor should be applied on a Boolean, and that's not a good idea because accessors are applied to `OgnlRuntime` and therefore are global.

Maybe it could be made that expressions return a value holder instea

[2013-02-05 01:58] danielfernandez commented on #94
Fixed and updated 2.0.16-SNAPSHOT

[2013-02-05 01:58] #94 closed, assigned to danielfernandez

[2013-02-05 04:51] jhcao23 commented on #93
thymeleaf is a straightforward templating engine, so I assume we can just put data-whatever attribute in the html 5 tag.

[2013-02-05 08:48] danielfernandez commented on #79
This feature is currently provided by the **thymeleaf-extras-conditionalcomments** module. Should be a part of the thymeleaf core as of 3.0.

[2013-02-06 13:44] sorayasl opened #119 "Add equalsIgnoreCase to #strings utility object"
Utility object #strings used in expressions does not contain the method:

equalsIgnorecase(stringA, stringB)

which would be quite useful, for example, to be used in th:if expressions

[2013-02-06 20:20] ultraq commented on #119
I noticed there isn't an `equals()` method for `#strings` either, but I believe you can use the `equals()` and `equalsIgnoreCase()` methods of the `String` object itself:

[code]

[2013-02-08 10:14] sorayasl opened #120 "Using Thymeleaf Tutorial: spelling mistake"
Page 51 of the tutorial (20121220) contains "sesion" instead of "session":

<script th:inline="javascript">
/*<![CDATA[*/
...
var user = /*[[${sesion.user}]]*/ null;
...
/*]]>*/
</script>

[2013-02-08 12:59] AskerKazharov opened #121 "Java.sql.Date.getHours throws exception at org.thymeleaf.util.JavaScriptUtils.printObject"
We use Hibernate to DB processing. Example of date field:

[code]

startDate is mapped as java.sql.Date, which has the following deprecated method:

[code]

So we got the following exception:

readMethod.invoke(object) throws InvocationTargetException after call deprecated getter.

We propose to process java.sql.Date as special case.

[2013-02-11 10:12] jmiguelsamper opened #122 "Escaping all data by default to enforce security"
According to security reports like "OWASP Top Ten"

[code]

injection and XSS problems are the main vector of security vulnerabilities in web applications.

Avoiding this attacks has always been a responsability of the web developer.

However, a view technology like Thymeleaf can enforce better practices about security.

Thymeleaf currently escapes all printed values unless you use th:utext. Takin

[2013-02-14 13:31] danielfernandez commented on #90
`TemplateEngine#threadTemplateEngine()` was deprecated in 2.0.x, should be removed in 2.1.

[2013-02-14 13:37] #103 closed, assigned to danielfernandez

[2013-02-14 13:54] danielfernandez commented on #117
Confirmed: flash attributes are supported out-of-the-box as any other normal context variables. No need to modify anything at thymeleaf.

[2013-02-14 13:54] #117 closed, assigned to danielfernandez

[2013-02-15 12:35] danielfernandez commented on #823
JodaTime conversion should be handled by the Spring form binding mechanisms that are already being used by thymeleaf's infrastructure, so no special actions need to be taken. a #datetimes special utility object could be created, but that's responsibility of the thymeleaf core, not thymeleaf-spring3.

[2013-02-15 12:38] danielfernandez opened #124 "Remove the dialect leniency mechanism"
Is it really needed? it should be the developers responsibility to adequately match his/her code against the available processors. This mechanism requires processing time and is not really a plus.

[2013-02-15 12:47] danielfernandez opened #125 "Remove pattern-matching from preprocessing"
StandardExpressionParser uses pattern matching to determine whether an expression should be preprocessed... probably removing this pattern-matching by a mere iteration of the char[] in search for the "__" would be faster.

[2013-02-15 13:23] danielfernandez opened #126 "Add new parameter to IStandardVariableExpressionEvaluator"
The IStandardVariableExpressionEvaluator interface should receive a new parameter, called `StandardExpressionExecutionContext expContext`, which contains info such as whether we are in preprocessing or other future items. Since 2.0.16, all operations related to preprocessing warning are done at the VariableExpression class at the Standard Expression Engine.

[2013-02-15 14:44] danielfernandez opened #127 "Change VariablesMap signature to have always-String keys"
VariablesMap is currently defined as `<K,V>` when it should be defined as `<String,V>`, because keys should always be String.

[2013-02-15 16:16] danielfernandez opened #128 "Check double-usage of VariablesMaps"
It seems that a VariablesMap instace is being created at Context creation and also at ProcessingContext root creation. Is this needed?

[2013-02-17 23:45] danielfernandez commented on #128
There's one thing to be careful about here: context instances should not be shared among threads! because its VariablesMaps have their restrictions modified just before execution of expressions, so one thread could influence others (this does not happen on evaluationroots because they are created by ProcessingContext/Arguments instances, and therefore should be local to a specific template's execu

[2013-02-21 19:22] heat opened #131 "Introducing layout dialect in the core"
Hello
Recently, in a architecture design decision we decided to use:
JavaServlets and Thymeleaf.
I confess that I fell in love with thymeleaf.

We missed a way to do pages composition, or macro, and http://docs.zope.org/zope2/zope2book/ZPT.html#whole-page-macros .

I found a solution here https://github.com/ultraq/thymeleaf-layout-dialect . But my question is: have this feature in themyleaf?

It i

[2013-02-24 19:42] danielfernandez opened #133 "Add equals, set and list version of new methods in #strings"
Create array, set and list-oriented versions of:
- `#strings.equals(...)`
- `#strings.equalsIgnoreCase(...)`
- `#strings.concat(...)`
- `#strings.concatReplaceNulls(...)`

[2013-02-24 23:40] danielfernandez commented on #131
Emanuel Rabina's _layout dialect_ is not a part of the thymeleaf core, but anyway it is a useful and stable piece of software.

Besides, Emanuel is a member of the Thymeleaf development team (see http://www.thymeleaf.org/team.html), so you can be sure this dialect will implement high quality standards and a good integration with the official thymeleaf core.

[2013-02-24 23:43] danielfernandez commented on #119
Implemented by https://github.com/thymeleaf/thymeleaf/pull/130

Emanuel, you are right you could use the methods at the `String` class, but these new methods are null-safe, which the String-instance based ones aren't.

[2013-02-24 23:43] #119 closed, assigned to danielfernandez

[2013-02-27 17:48] sagarhire commented on #43
Hi,I am trying to use th:if for string comparison but it's not working.
 th:if="${adapterScource.adapterName} == 'Excel' " th:text="${adapterScource.adapterCount}"
 th:unless="${adapterScource.adapterName} == 'Excel' " th:text="0"
any help will be appreciated.

[2013-03-04 21:37] kreuzman commented on #43
Hi _sagarhire_ I'm not sure what's your use case but I think you have wrong position of `}`. See example below it works fine for me.

[code]

[2013-03-05 20:26] rosko01 commented on #94
The fix for this issue introduced a hard dependency on OGNL.  Before this change, users of the Spring-Dialect (which defaults to SpEL) could omit the ognl.jar and javassist.jar from their list of dependencies.

Please reconsider.

[2013-03-09 11:02] sunil0791 commented on #89
There is one thing that i noticed in  org.thymeleaf.standard.expression.LinkedExpression.java class.
Initial i had not applied pathvariable concept to my web application. When i changed it to use pathvariable, the css and js location where in pathvariable loaction and were not being found(which were actually under root context).
Let me explain it with example:
Consider my root Context path is /Cor

[2013-03-09 16:33] rymsha commented on #122
This change will break all currently written code.
Moreover I don't see it necessary, because as th:text and other th: do it already. The only way to write something unescaped is to use utext. But when you use at least  HTML5 mode thymeleaf thows exception (so XSS won't work)

[2013-03-09 16:45] rymsha commented on #108
I agree this might be a good feature of thymeleaf because it knows dom tree of templates it can reconstruct page without un nided empty spaces and html comments with nearly zero performance drop.
So, solutions like https://code.google.com/p/htmlcompressor/ could be avoided.

[2013-03-09 16:47] rymsha commented on #98
One more way to "reduce" the length of expressions would be to allow more than one th:with in one tag. (maybe it should be a separate issue?)

[2013-03-10 11:35] boonen commented on #75
This issue is already open for more than 6 months now. Any idea when it is planned to be implemented (I'd really love to use this feature in thymeleaf...). Perhaps someone can point in the right direction to start an implementation?

[2013-03-11 15:09] tduchateau opened #135 "More processor configuration"
Hi!

It would be a great addition to be able to configure whether a processor should be executed when the node processing is starting (i.e. before children) or when it is ending (i.e. after children).

[2013-03-11 21:16] ultraq commented on #75
I haven't used Spring themes before, but from what I've read and looking at the source code of the JSP tag, I think what needs to happen is that we create a new utility object (eg: call it `spring` and it has a method `theme()`) that accepts a single parameter (the `code` value, which is a key into the theme's properties file), and returns the value from the properties file, writing it into the do

[2013-03-13 06:03] sunil0791 opened #136 "change #strings.capitalizeWords and #strings.capitalize"
i feel that it would be better if capitalizeWords and capitalize methods convert the incoming String object to lowercase before performing the capitalize operation.
As of now, i am forcefully converting the bean class variable to lowerCase before rendering it to view and then calling capitalizeWords method of #strings.(which i don't want to do).

Please provide your thoughts on this to make better

[2013-03-13 10:25] danielfernandez opened #137 "Reconsider the usage of Ognl classes in VariablesMap initialization"
See https://github.com/thymeleaf/thymeleaf/issues/94#issuecomment-14463083

[2013-03-13 17:21] danielfernandez commented on #136
These methods mirror what the equivalent `capitalize()` and `capitalizeWords()` methods in Apache commons-lang's `StringUtils` class do, and these do not affect the capitalization of any other letters in the word, as you can see in http://commons.apache.org/proper/commons-lang//apidocs/org/apache/commons/lang3/StringUtils.html

Commons-Lang is a quite well-known and very used library, so I think i

[2013-03-13 17:21] #136 closed, assigned to danielfernandez

[2013-03-13 17:30] danielfernandez commented on #75
Looks like a very nice idea to me, Emanuel. Maybe `#themes.code(...)` or even `#themes.theme(...)` would be also nice possibilities...

[2013-03-14 09:39] rlespinasse commented on #135
+1

[2013-03-14 10:06] jmiguelsamper commented on #135
Another way of saying that is that Processors could follow the <b><a href="http://www.corej2eepatterns.com/Patterns2ndEd/InterceptingFilter.htm">Intercepting Filter</a></b> desing pattern, which is the pattern followed by Servlet filters and Spring interceptors.

[2013-03-16 21:06] jirutka commented on #3
@ultraq Your dialect is very useful, thanks for sharing!

[2013-03-18 05:32] ultraq commented on #75
Checked in code for a `#themes.code(...)` expression object as part of the thymeleaf-spring3 project, will be in version 2.0.17.  Also did work on the Eclipse plugin to add support for this new object/method in version 2.0.1.

[2013-03-18 05:32] #75 closed, assigned to ultraq

[2013-03-18 05:46] ultraq commented on #131
Now to live up to those high quality standards you talked about! :)

[2013-03-18 05:46] #131 closed, assigned to danielfernandez

[2013-03-27 10:58] java-artisan opened #138 "Node local variable can not be named "class""
Setting a local node variable with name "class" results in wrong markup:

Template markup:

<div class="accordion" th:classappend="${class}"/>

Renders in:
<div class="accordion class org.thymeleaf.context.VariablesMap">
....
</div>

[2013-04-01 08:36] WonderBeat opened #139 "StandardMessageResolver and encoding issue"
In current implementation, *.properties files with localization messages should be in ISO 8859-1 only.
This limitation prevents localization for some languages ;)

---

Problem is in `MessageResolutionUtils#loadMessages`.

[code]

`Properties#load` default encoding is **ISO 8859-1**.
Is it possible to read localization messages in **UTF-8**?
- I can submit patch if you do not mind

[2013-04-01 08:44] danielfernandez commented on #139
The problem is Thymeleaf should be compatible with Java 5, and until Java 6 (when a `Properties.load(Reader)`) mehod appeared, the specification clearly required that every `.properties` file should be encoded in ISO-8859-1, and non ISO-8859-1 characters should be represented as unicode escapes.

Anyway, if your needs are other, you can write your own implementation of `IMessageResolver`.

[2013-04-01 08:44] #139 closed, assigned to danielfernandez

[2013-04-08 05:47] opensource21 commented on #89
@sunil0791 I think you describe a complete different issue. Would be cleaner to have there an own ticket. For me the behavior you describe looks more like a bug than an enhancement. Have you try to fix it with `__${pathvariable}__`.

[2013-04-08 05:52] opensource21 commented on #89
I would appreciate this enhancement too. I would prefer the following behavior, which includes the ones which is described above.
Add support to pathvariable style to URL syntax, like spring:url tag, example:

[code]

output:

[code]

[2013-04-11 13:05] ghost opened #141 "Error rendering angularjs condition statements within a data attribute"
<pre>
data-ng-class="{'error': newUserForm.firstName.$invalid  && newUserForm.firstName.$dirty}"
</pre>

Appears that Thymeleaf cannot handle the '&&' statement and throws the exception: org.thymeleaf.exceptions.TemplateInputException

[2013-04-11 13:09] danielfernandez commented on #141
The markup standards establish that you should escape every `&` sign inside the value of an attribute, so you should be writing `&amp;&amp;` instead of `&&` there.

[2013-04-11 13:09] #141 closed, assigned to danielfernandez

[2013-04-11 13:14] ghost commented on #141
Sorry, missed that in the docs. Really appreciate the rapid feedback and should have thought of it.

Thanks
Josh

Sent from my iPhone

On 2013-04-11, at 8:09 AM, Daniel Fernández notifications@github.com wrote:

[2013-04-11 15:41] tduchateau opened #142 "New join utility method"
Hi,

I would need a new `join(collection, separatorChar)` method in `#arrays`, `#lists` and `#sets` objects.
What do you think? Interested in a pull request?

Regards,
Thibault

[2013-04-12 14:03] danielfernandez commented on #142
Hmm... isn't this covered by `#strings.arrayJoin(array, separator)`, `#strings.listJoin(array, separator)` and `#strings.setJoin(set, separator)`?

It was placed in `#strings` instead of `#lists`, etc. because it is a String-specific feature.

[2013-04-12 14:07] tduchateau commented on #142
Shame on me.

Thanks Daniel! :-)

[2013-04-12 14:07] #142 closed, assigned to danielfernandez

[2013-04-14 19:08] beamhead commented on #12
+1

[2013-04-18 10:51] opensource21 opened #143 "TemplateRepository.getTemplate shouldn't throw an exception"
`org.thymeleaf.TemplateRepository.getTemplate(TemplateRepository.java:247)` throws an exception if the template isn't found. The problem is that with this the idea of ordering the template-resolver in Spring with `resolver.setOrder(1);` is useless.

[2013-04-18 11:00] danielfernandez commented on #143
The `setOrder(...)` mechanism at the ViewResolver is thought for specifying which templates are resolved by each resolver by means of their `viewNames` property, which allows the specification of patterns on view names to determine which resolver is in charge of resolving them: `admin/*`, `user*.html`, etc.

[2013-04-18 11:00] #143 closed, assigned to danielfernandez

[2013-04-18 20:13] huxi commented on #2
Any news on this? This, and recursive templates, would be really helpful.

[2013-04-19 16:42] opensource21 commented on #143
You are right. Found this spring function not very intuitive, but that's not the fault of thymeleaf.

[2013-04-23 13:27] mindhaq commented on #2
+1

[2013-04-24 21:16] jamcole opened #144 "AbstractAttributeModifierAttrProcessor shouldn't remove element attributes with same name as modified attribute"
I hope this is the correct place to report this :)

Near the end of processAttribute() in AbstractAttributeModifierAttrProcessor, it removes the element attribute, but if you're using a null dialect to process attributes, not just those with a prefix, it inadvertently removes the attribute value you've modified.

I discovered this when making a dialect and processor to append a timestamp / buildnu

[2013-04-26 08:10] opensource21 opened #145 "Resolving messages in @{#{url}} doesn't work"
I tried 3 versions
1. `@{#{url.user.list}}`
2. `@{__#{url.user.list}__}`
3. `@{#{url.user.list(1)}}`

Version 2 and 3 work as expected: Read the url from messages and then creates the url. Version 1 creates an URL which contains `#{url.user.list}`
See http://forum.thymeleaf.org/How-is-the-order-of-execution-td4025946.html

[2013-05-08 15:49] adobarro opened #147 "Double underscore removed and exception processing &#95; code"
Double underscore are removed when its expression is processed:

[code]

generates

[code]

instead of

[code]

Also if we replace the underscore by &#95; it doesn't work in situations as:

[code]

resulting in the exception

[code]

.

[2013-05-14 09:17] chkluwe opened #148 "#dates.createToday() doesn't set the seconds to zero"
Using `#dates.createToday` sets the hour, minute and millisecond of a date to zero, but not the seconds. Comparing dates created this way with dates originating from Joda fails because of this.

[2013-05-14 22:40] restfulhead commented on #93
+1 Please support data attribute

[2013-05-15 07:49] mxab commented on #93
has anyone tried https://github.com/mxab/thymeleaf-extras-data-attribute ? :)

[2013-05-15 09:18] jirubio opened #150 "XML declaration lost"
I have a xml template with this as the first line:

[code]

When using thymeleaf in Xml mode the encoding attribute disappears in the output.
After rendering the first line of the output is:

[code]

This encoding information is important because the reader must know what was the encoding used for generating the text. This is mitigated in a web environment, the encoding can be retrieved from the c

[2013-05-16 12:33] jirubio commented on #56
+1 for nested loops.
I needed to use the workround th:remove="tag" to accomplish this, wich is ugly and creates invalid markup.
Other alternative is to allow multiple th:each on a node.
Example:

[code]

The result variable from the first loop is used for the second.
I think this syntax is nicer than introducing a fake comment.

[2013-05-20 02:24] gabrielbauman opened #151 "Newlines around comments getting mangled"
In HTML5 mode using 2.0.15,

[code]

becomes

[code]

This happens for every HTML comment. Not super critical but makes for some ugly HTML.

[2013-05-20 02:28] gabrielbauman commented on #151
I should mention I am using the Spring3, Apache Tiles, and Conditional Comments dialects.
Here's some startup info:

[code]

[2013-05-22 07:57] t-oster opened #152 "No "Repeat" method for Strings"
Hi,

I am using thymeleaf in my https://github.com/t-oster/VisiCut/pull/152 application to generate SVGs. However for complex paths, I need a String in an attribute repeated a number of times. like:

[code]

I could not find a way to do that. I would suggest extending the #strings Object with a method repeat(Object o, int number), which will just repeat the String number of times.

or am I missing

[2013-05-22 10:05] peteruithoven commented on #152
I get why you want to do this, but next you also want to use i in the string for example. In the long some kind of  boolean operations (difference, union, intersection) would be better. I think it's easier to write and more dynamic. When you have this you can use basic paths to create shapes.

[2013-05-22 11:13] t-oster commented on #152
Well... using i in the string is already possible. The boolean operations are SVG specific... even more, they are path specific. Since thymeleaf is originally targeted at XML and HTML, I don't think we should mix template logic with meaning of the underlying objects.
Thymeleaf already has many string operations present, but "repeat" seems just missing...

[2013-05-23 22:06] ultraq commented on #151
@danielfernandez I've always wanted to do something about these output formatting issues (a related issue is #113 ), but was wondering if that was something you'd want to target for the 2.0.x branch or for future versions of Thymeleaf?  (Note: I've already got a fix for #113 in my local copy of Thymeleaf and I've been running it on my website for a few months now.)

[2013-05-24 22:27] danielfernandez commented on #145
Fixed by https://github.com/thymeleaf/thymeleaf/pull/146, added to 2.0.17-SNAPSHOT.

[2013-05-24 22:27] #145 closed, assigned to danielfernandez

[2013-05-26 15:20] danielfernandez commented on #86
Actually, after examining more parts of the Spring integration code, it does not seem feasible to use a message resolution mechanism different than Spring's when Spring is used. There is just too much code that needs the `MessageSource` related to Spring's form binding.

So I'm afraid the only realistic way to use a different message resolution mechanism in a Spring application is creating a `Mess

[2013-05-26 15:20] #86 closed, assigned to danielfernandez

[2013-05-26 15:23] danielfernandez commented on #105
Note: this should be implemented avoiding direct compile-time dependencies among dialects (therefore declaring dependencies using dialect class names and not dialect class objects).

[2013-05-26 15:54] danielfernandez commented on #107
Good idea Michal. If you feel like preparing a pull request for thymeleaf 2.1... ;-)

[2013-05-26 16:07] danielfernandez commented on #108
Note: the best way to do this seems to be an implementation of `ITemplateWriter`. Queued for 3.0.

[2013-05-26 16:15] danielfernandez commented on #111
This are nice ideas for 3.0, when the existing DOM implementation and utilities will undergo a major overhaul.

[2013-05-26 16:21] danielfernandez commented on #151
@ultraq this looks like a good addition for 2.1. What solution are you planning to adopt? Off the top of my head, I think what could be done is repeating the whitespace node (containing any `\n`'s) after the element that is being repeated along with the repeated element itself...

[2013-05-26 16:45] danielfernandez commented on #120
Fixed!

[2013-05-26 16:45] #120 closed, assigned to danielfernandez

[2013-05-26 17:38] danielfernandez commented on #150
Yes, unfortunately the standard parsers _eat_ the XML declaration in XML files, so there actually is no _easy_ (or, more accurately, _non-extremely-difficult_) way for thymeleaf to recover the original XML decl.

This will be solved in version 3.0, when the current parsing system is subtituted by attoparser [ http://www.attoparser.org ]. But unfortunately, that won't be soon :-( (thymeleaf 2.1 wil

[2013-05-26 17:58] danielfernandez opened #154 "Parse error in link expressions with parenthesized base URLs"
This expression raises a parse error, even if it is completely valid:

[code]

If doesn't raise an error if parentheses are removed:

[code]

[2013-05-27 06:04] ultraq commented on #151
I think I did exactly that for the other issue, but for this one I'm not too sure how to go about it yet.  I'm mostly wondering why the whitespace before the comment node is lost, so wanted to delve into the parser to see what's going on there first before figuring out how to tackle this one.

[2013-05-27 07:57] danielfernandez commented on #151
It might be the SAX parser itself not reporting the whitespace Text nodes around a Comment one. If so, we'd not have much to do until attoparser is adopted :-(... the only other possibility would be to process whitespace at the `org.thymeleaf.templateparser.TemplatePreprocessingReader` class, for example by surrounding it with some very uncommon unicode char. That way it wouldn't be considered whi

[2013-05-27 08:37] jirubio commented on #150
As a workaround the first lines of the document could be parsed "manually", without depending on any external dependencies, at least until the version 3.0 arrives.

[2013-05-27 09:50] ultraq commented on #151
I did some digging, and I think you're gonna like this :)  In the `AbstractNonValidatingSAXTemplateParser` file, `XmlSAXHandler` private class, you don't call `flushBuffer()` before creating a `Comment` node.  So I added a single call to `flushBuffer()` in there, and suddenly _ALL_ comments in the output from Thymeleaf magically readjusted themselves to the way they were in my original HTML files.

[2013-05-27 09:55] danielfernandez commented on #151
Oh! great :-) Please fix both 2.0-dev and 2.1-dev. With a bit of luck, you will be able to just commit the fix on 2.0-dev and then cherry-pick the commit into 2.1-dev.

I'm therefore assigning this issue to milestone 2.0.17, and leave #113 for 2.1 :-)

[2013-05-27 11:01] ultraq commented on #151
`flushBuffer()` fix committed in both 2.0-dev and 2.1-dev.

[2013-05-27 11:01] #151 closed, assigned to ultraq

[2013-05-27 11:13] ultraq commented on #113
Fix committed in the Thymeleaf 2.1-dev branch, which is very similar to the solution you proposed in your forum thread: http://forum.thymeleaf.org/Issue-113-patch-td4025593.html

Commit: 26933aced617e517606b8190c8cb12af862163a6

[2013-05-27 11:13] #113 closed, assigned to danielfernandez

[2013-05-27 11:18] cheleb commented on #113
Cool, thanks a lot, I will be able to remove my xslt step that was
formatting output  :)

On Mon, May 27, 2013 at 1:13 PM, Emanuel Rabina notifications@github.comwrote:

##

"Computers are useless. They can only give you answers."
- Pablo Picasso -

[2013-05-27 13:19] danielfernandez commented on #138
It seems github formatting made your code dissapear. Could you please rewrite your example code and result?

The following test executes successfully:

[code]

And also does adding local variables to a node from an `IProcessor` returning `ProcessorResult.setLocalVariables(...)`

[2013-05-27 23:25] #154 closed, assigned to danielfernandez

[2013-05-27 23:26] danielfernandez commented on #147
I've added `\_\_` as a way to escape `__`

[2013-05-27 23:26] #147 closed, assigned to danielfernandez

[2013-05-28 21:04] danielfernandez opened #155 "Arithmetic exception in BigDecimal.divide()"
When a division operation involving a numeric literal returns a value with a non-terminating decimal expansion, an exception is raised. See http://forum.thymeleaf.org/ArithmeticException-in-Bigdecimal-divide-td4026118.html

[2013-05-28 21:13] #155 closed, assigned to danielfernandez

[2013-05-28 21:19] danielfernandez opened #156 "th:remove="all-but-first" removes some non-element nodes"
The `th:remove="all-but-first"` attribute should remove all `Element` nodes except the first one, but leave nodes of other types.

Currently, however, if there were two or more `Element` nodes, all non-Element nodes from its position are removed.

[2013-05-28 21:20] #156 closed, assigned to danielfernandez

[2013-05-29 18:13] danielfernandez opened #157 "No semicolon left after javascript inlining if a post-; comment is present"
JavaScript code like this:

[code]

is inlined as:

[code]

...without a final semicolon. This happens whenever there is a comment after the ';' sign.

The desired result is:

[code]

[2013-05-29 18:17] #157 closed, assigned to danielfernandez

[2013-05-30 21:28] danielfernandez opened #158 "Update OGNL version"
OGNL version 3.0.6 has been released (same group and artifact IDs, no Apache-based version yet). Update current dependency on 3.0.5.

[2013-05-30 21:30] #158 closed, assigned to danielfernandez

[2013-05-30 23:25] danielfernandez commented on #133
Won't be added. Array/list/set versions of these methods don't really make much sense.

[2013-05-30 23:25] #133 closed, assigned to danielfernandez

[2013-05-31 17:19] danielfernandez commented on #148
Fixed by #159

[2013-05-31 17:19] #148 closed, assigned to danielfernandez

[2013-06-02 17:13] danielfernandez commented on #138
I've done some changes to `Arguments`-`Node` synchronization of local variables in order to solve a side problem, but I don't think this could be related to an issue with variable names.

I've also created this test which includes a variable named `class`. It works OK: https://github.com/thymeleaf/thymeleaf-tests/blob/master/src/test/resources/dom/dom01.thtest

I'm closing this issue for now, in o

[2013-06-02 17:13] #138 closed, assigned to danielfernandez

[2013-06-03 22:54] vcatalano opened #160 "Parsing Void Elements (br, hr, link, meta etc.) should still work without end tags"
I noticed that Thymeleaf breaks on void elements that do not have a closing tag such as `<br>`. However, `<br>` is a perfectly valid HTML5 element. I think the parser should handle these elements gracefully and not break when encountered.

[2013-06-03 23:06] ultraq commented on #160
(Could you please edit your post to have the code within the markdown open/close code markers?)

What kind of error do you get when you have self-closing elements?  I have plenty of self-closing `<link/>`, `<meta/>`, and `<br/>` tags in my own pages and haven't got errors from them before.

[2013-06-04 07:55] danielfernandez commented on #160
@ultraq, I think @vcatalano is talking about unclosed standalone elements like `<a href="hello.html">`, which are allowed by HTML5. But github just ate his code examples.

Currently, thymeleaf uses a tuned SAX XML parser underneath, so this isn't allowed unless you use the `LEGACYHTML5` template mode, which applies a tag balancer before executing the thymeleaf parser.

Thymeleaf 3.0 will switch it

[2013-06-06 18:33] ugate opened #161 "Documentation for th:object precedence"
Looking at the [precedence section of the docs](http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#attribute-precedence) there doesn't seem to be a definition for `th:object`.

[2013-06-06 18:52] ugate commented on #98
+1

I'd deprecate `th:with` in favor of `th:var` to clarify its intent

[2013-06-07 20:48] danielfernandez commented on #144
I've just added to 2.0.17-SNAPSHOT a protected method in `AbstractAttributeModifierAttrProcessor` called `shouldRemoveAttribute(...)` which allows subclasses to determine whether the attribute has to be removed after execution.

[2013-06-07 20:48] #144 closed, assigned to danielfernandez

[2013-06-08 03:58] ultraq commented on #161
Added to the docs (will be regenerated when Thymeleaf 2.0.17 is available).  `th:object` precedence is just before `th:with`.

[2013-06-08 03:58] #161 closed, assigned to ultraq

[2013-06-09 18:55] danielfernandez opened #162 "Message resolution with no parameters is not consistent"
When a message is being resolved without parameters:

[code]

That message is never being applied the Messsage format mechanism:

[code]

...which is however being applied when the message is resolved with parameters:

[code]

The problem this provokes is that, for example, when a message entry is used for something like a date format, this:

[code]

...works OK, which it shouldn't because the `Me

[2013-06-09 18:55] #162 closed, assigned to danielfernandez

[2013-06-10 10:57] danielfernandez commented on #1
Not needed. DOM model will change in 3.0.

[2013-06-10 10:57] #1 closed, assigned to danielfernandez

[2013-06-10 11:16] danielfernandez commented on #49
This will naturally happen as a consequence of using attoparser in 3.0.

[2013-06-10 11:29] danielfernandez commented on #63
This should be very straightforward functionality, basically obtaining the needed data from the `#httpServletRequest` object...

[2013-06-10 12:16] danielfernandez commented on #65
Current 2.0.x release notes are rather well structures, so there is no real need to pay attention to this anymore. Closing.

[2013-06-10 12:16] #65 closed, assigned to danielfernandez

[2013-06-10 12:17] danielfernandez commented on #68
This is very linked to https://github.com/thymeleaf/thymeleaf/issues/47 because decoupled template modes should be based on this same syntax, for the sake of coherence...

[2013-06-10 12:19] danielfernandez commented on #69
@ultraq you are a native English speaker... what do you think of this? Do you feel `th:replace` is a better word than `th:substituteby`? Maybe we could just keep both, but only document `th:replace` in the future...

[2013-06-10 12:22] danielfernandez commented on #72
In the future, this would allow the definition of _expression functions_, expressions that could be referenced with a sort of method names, and then used several times along a template, being executed on different contexts.

[2013-06-10 12:23] danielfernandez opened #163 "Create expression functions"
_Expression functions_ would be, Thymeleaf Standard expressions that, instead of being just executed, could be referenced with a sort of method names, and then used several times along a template, being executed on different contexts (= different elements, points in the tempalte, etc.)

[2013-06-10 12:23] danielfernandez commented on #72
Linked to https://github.com/thymeleaf/thymeleaf/issues/163

[2013-06-10 12:25] danielfernandez commented on #73
This is linked to https://github.com/thymeleaf/thymeleaf/issues/163

[2013-06-10 12:30] danielfernandez commented on #84
This is linked to https://github.com/thymeleaf/thymeleaf/issues/12

[2013-06-10 12:31] danielfernandez commented on #84
This is linked to https://github.com/thymeleaf/thymeleaf/issues/122

[2013-06-10 12:40] danielfernandez commented on #102
This is linked to https://github.com/thymeleaf/thymeleaf/issues/47

[2013-06-10 12:41] danielfernandez commented on #102
This is linked to https://github.com/thymeleaf/thymeleaf/issues/68

[2013-06-10 12:41] danielfernandez commented on #102
This is linked to https://github.com/thymeleaf/thymeleaf/issues/10

[2013-06-10 12:45] danielfernandez commented on #126
This is left for 3.0, in order to minimize the amount of API changes in 2.1

[2013-06-10 12:57] danielfernandez commented on #137
Maybe some code could be added in order to apply this Ognl configuration only if ognl is actually present in classpath. Should be relatively easy.

[2013-06-10 16:50] jirubio opened #164 "EnumMap not working in templates"
Having a template fragment like this:

[code]

that just iterates the map and prints its values.
When passing a normal map to the template:

[code]

The resulting output is:

[code]

which is fine.
But if you pass an EnumMap:

[code]

This is the result:

[code]

The first entry of the map is repeated and the second doesn't even appear.
It should be no difference, EnumMap and HashMap both extend f

[2013-06-10 20:51] danielfernandez commented on #164
Solved in 2.0.18-SNAPSHOT, see the referenced commit above.

Apparently, the iterator returned by `EnumMap.entrySet().iterator()` reuses the same instance of `Map.Entry<?,?>` in every iteration, just modifying its contents each time. As thymeleaf created a list with these iterated `Map.Entry<?,?>` objects... it actually added to the list the same object, several times. With only the last iterated

[2013-06-10 20:51] #164 closed, assigned to danielfernandez

[2013-06-10 20:54] danielfernandez commented on #164
See the test added here: https://github.com/thymeleaf/thymeleaf-tests/blob/20130610/src/test/resources/attrprocessors/each/each06.thtest

Works now in 2.0.18-SNAPSHOT

[2013-06-10 21:18] ultraq commented on #69
I think 'replace' is better than 'substituteby', simply because it's a single word like most of the other processors, and so feels more like a part of the processor family that's been created.  All the other two-word processors are there to convey additional meaning and distinguish themselves from their single-word counterparts, eg: `th:classappend` and `th:class`, the 'append' part shows that it

[2013-06-11 09:21] jirubio commented on #164
Great! and thanks for the explanation. I have looked at the code of EnumMap and for me the way the iterator works is also buggy. As for the workaround other option that could be simpler is to use EnumMap.entrySet().toArray() that returns different instances for each entry on the map.

[2013-06-11 19:25] danielfernandez opened #165 "th:attr does not render fixed-value conditional attributes properly"
Markup like this:

[code]

...is rendered as:

[code]

Which is wrong in HTML template modes. It should be:

[code]

This happens with all the fixed-value conditional attributes in HTML, like `selected`, `multiple`, etc.

[2013-06-11 19:26] #165 closed, assigned to danielfernandez

[2013-06-11 21:26] danielfernandez opened #166 "th:attr renders attributes like "multiple" in XML as if it were HTML"
Thanks to #165, attributes like `multiple`, `selected`, etc. render correctly in HTML. But they render wrong in XML, where something like:

[code]

should render as:

[code]

[2013-06-11 21:50] danielfernandez opened #167 "Remove weak string dependency for determining template mode nature"
2.0.18 introduced the `org.thymeleaf.util.TemplateModeUtil` class, which includes methods for determining whether a template mode is used for HTML or for XML rendering.

This helps in, for example, determining how attributes like `multiple`, `selected`, etc. should be rendered (`multiple="multiple"` in HTML, `multiple="something"` in XML).

But this is too dependent on a weak mechanism like String

[2013-06-11 21:51] danielfernandez commented on #52
When this is done, `org.thymeleaf.util.TemplateModeUtil` should be modified. See also this: https://github.com/thymeleaf/thymeleaf/issues/167

[2013-06-11 22:06] #166 closed, assigned to danielfernandez

[2013-06-12 08:12] emilime commented on #2
no news about recursive templates? it's the only thing I miss with Tymeleaf...

[2013-06-12 08:48] danielfernandez commented on #2
Yup, this has been included in the thymeleaf 2.1 backlog.

[2013-06-14 09:20] dharrigan opened #168 "2.0.17 Breaks Javascript Inline"
Hi,

Just upgraded to thymeleaf 2.0.17, now it's breaking a bit of Javascript inline:

This is in my thymeleaf inline file

 messages: {
                emailAddress:{
                    required: /_[[#{frontend.signin.emailAddress.required}]]_/ 'Email address is required',
                    maxlength: /_[[#{frontend.signin.emailAddress.toolong}]]_/ 'Email address is too long',

[2013-06-14 09:38] danielfernandez commented on #168
Confirmed. This was unintentionally introduced when #157 was fixed in 2.0.17.

[2013-06-14 10:45] emilime commented on #93
+1

[2013-06-14 21:38] danielfernandez opened #169 "Appending attributes removing existing and empty target attributes"
Appending attributes (`th:attrappend`, `th:attrprepend` and `th:classappend`) don't behave correctly in this scenario:

[code]

...which is rendered as:

[code]

...instead of respecting the original attribute, which existed but was empty:

[code]

[2013-06-14 21:39] #169 closed, assigned to danielfernandez

[2013-06-14 21:45] danielfernandez opened #170 "Fixed-value conditional attributes do not remove the target attribute on false"
Fixed-value conditional attributes (like `th:multiple`, `th:selected`, etc.) do not remove the target attribute when evaluation is false.

For example, this:

[code]

...results in:

[code]

...instead of the correct:

[code]

[2013-06-14 21:51] danielfernandez opened #171 "th:case="*" does not behave correctly"
When `th:case="*"` is not the last option in a `th:switch` but there is another matching option, results can be incorrect.

For example, imagine `var='one'` and we have the following code:

[code]

The (incorrect) result is:

[code]

Instead of:

[code]

[2013-06-14 21:59] #170 closed, assigned to danielfernandez

[2013-06-14 21:59] #171 closed, assigned to danielfernandez

[2013-06-14 21:59] #168 closed, assigned to danielfernandez

[2013-06-14 22:22] danielfernandez commented on #168
See associated test. Works OK in 2.0.18-SNAPSHOT: https://github.com/thymeleaf/thymeleaf-tests/blob/20130615/src/test/resources/attrprocessors/inline/inline03.thtest

[2013-06-15 05:14] dharrigan commented on #168
w00t :-) Thank you Daniel :-)

-=david=-

On 14 June 2013 23:22, Daniel Fernández notifications@github.com wrote:

##

I prefer encrypted and signed messages. KeyID: B20A22F9
Fingerprint: 110A F423 3647 54E2 880F ADAD 1C52 85BF B20A 22F9

"It is not usually until you've built and used a version of the program
that you understand the issues well enough to get the design right." - Rob
Pike, Brian Ke

[2013-06-19 09:32] jmiguelsamper commented on #52
As there are 3 possible values for the th:inline processor, maybe there should be 3 "text template modes", TEXT, JAVASCRIPT, DART.

[2013-06-19 12:18] dharrigan commented on #168
Hi,

Still a bug however, in 2.0.18-SNAPSHOT:

var myDomainName = /_[[${myDomainName}]]_/ 'https://www.mydomain.com';

Renders as:

var myDomainName = 'https://www.mydomain.com'//www.mydomain.com';

It appears that having a : (colon) seems to cause issues.

-=david=-

[2013-06-19 12:20] dharrigan commented on #168
I'll create a new issue that refers to this.

[2013-06-19 12:21] dharrigan opened #172 "2.0.18-SNAPSHOT Javascript inline still a bit broken"
original:

https://github.com/thymeleaf/thymeleaf/issues/168

Hi,

Still a bug however, in 2.0.18-SNAPSHOT:

var myDomainName = /_[[${myDomainName}]]_/ 'https://www.mydomain.com';

Renders as:

var myDomainName = 'https://www.mydomain.com'//www.mydomain.com';

It appears that having a : (colon) seems to cause issues.

-=david=-

[2013-06-21 13:13] 4dz commented on #160
We are having a problem with this as well - as it means we can have a HTML developer provide valid HTML which then breaks when we add it to a Thymeleaf based website.

See http://www.w3.org/TR/html5/syntax.html#void-elements
Void elements only have a start tag; end tags must not be specified for void elements.
[which are], area, base, br, col, command, embed, hr, img, input, keygen, link, meta, pa

[2013-06-21 13:47] danielfernandez commented on #160
@4dz Actually, it's only closing tags what is forbidden for void elements in HTML5. Self-closing void tags are allowed.

So, put in code, the following is not valid HTML5:

[code]

But these two are allowed (and the first one preferred, for the reasons explained in the article you link to):

[code]

In fact, if this wasn't so, HTML5 would break backwards compatibility with all previous XHTML 1.0/1

[2013-06-21 14:04] 4dz commented on #160
Thats sort of true:

In HTML5, &lt;div/> means &lt;div> -- the / is ignored.  It does not mean &lt;div>&lt;/div>
Same goes for &lt;img /> -- the / is ignored, so it means &lt;img> not &lt;img>&lt;/img>

[2013-06-21 14:09] 4dz commented on #160
good point though! to all intents and purposes it's fine to have a /> in a void element.

Still be nice to get thymeleaf working with valid HTML5:- there is the LEGACYHTML5 mode, which is named oddly as its not legacy, but it seems to help?

[2013-06-22 16:44] danielfernandez opened #173 "Lazy creation of utility objects"
Several utility objects are instanced for every expression evaluation, though they are not really needed 99% of the times (e.g. `Fields`, `Themes`, etc).

The `VariablesMap` class (used as an evaluation root) could be tweaked so that these variables are only created at the moment they are accessed, thus saving a lot of object instantiations.

[2013-06-24 19:58] #172 closed, assigned to danielfernandez

[2013-06-26 23:19] #90 closed, assigned to danielfernandez

[2013-06-30 22:19] #53 closed, assigned to danielfernandez

[2013-06-30 22:19] #69 closed, assigned to danielfernandez

[2013-06-30 22:19] #98 closed, assigned to danielfernandez

[2013-06-30 22:48] danielfernandez opened #174 "Add null literal to expressions"
Add to Standard Expressions the possibility to specify the `null` literal, like:

[code]

[2013-06-30 23:02] #174 closed, assigned to danielfernandez

[2013-06-30 23:12] danielfernandez commented on #125
Closing as invalid. Whether preprocessing has to be applied or not is determined by means of `indexOf('-')` and not pattern matching. This already has the required performance.

[2013-06-30 23:12] #125 closed, assigned to nobody

[2013-07-01 15:48] danielfernandez opened #175 "Add literal substitutions to the Standard Expression syntax"
Allow this kind of expression:

[code]

Being equivalent to:

[code]

In general, make everything between `|...|` be considered a literal and substitution be performed inside it as a String.

Also allow combinations like:

[code]

Note not only whitespace should be allowed:

[code]

[2013-07-01 15:59] danielfernandez opened #176 "Change the way th:include works so that it doesn't discard fragment's root"
The current way in which `th:include` works is quite confusing. Instead of discarding the root node of the fragment being included, this root node should always be respected, and therefore the only difference between `th:include` and `th:replace` should be the whether the host tag should be removed after fragment inclusion or not.

So, `th:replace` should be just like `th:include` + `th:remove="ta

[2013-07-01 16:51] danielfernandez opened #177 "Remove leniency flag from IDialect"
The current existence of the `lenient` flag in `IDialect` will probably be an obstacle for the correct implementation of HTML5 `data-`-related features in thymeleaf dialects, because of the less flexibility this attribute at the dialect level forces to.

Removing it should not affect developers basing their dialect implementations on `AbstractDialect` instead of directly implementing `IDialect`.

[2013-07-01 17:30] tduchateau commented on #177
+1 ;-)

[2013-07-01 20:23] tadas-subonis commented on #87
+1 . Also, see http://www.jangod.org/userguide.html#tag-inheritance - same concept.

[2013-07-02 20:10] danielfernandez opened #178 "Add th:assert for in-template assertions"
Add a new attribute, `th:assert`, receving a comma-separated list of expressions which should be evaluated and produce `true` for every evaluation.

[code]

If any of the expressions specified returns `false` an exception should be raised.

[2013-07-02 21:03] #2 closed, assigned to danielfernandez

[2013-07-02 21:03] #178 closed, assigned to danielfernandez

[2013-07-02 21:15] danielfernandez commented on #2
2.1-SNAPSHOT now allows including fragments from the same template. There are two available syntaxes: one specifying no template name:

[code]

...and another one specifying the keyword `this`:

[code]

See associated example tests:
- https://github.com/thymeleaf/thymeleaf-tests/blob/20130702/src/test-21/resources/engine21/attrprocessors/include/include01.thtest
- https://github.com/thymeleaf/thym

[2013-07-02 21:46] emilime commented on #2
yes I was asking for recursive templates and I had not realized was included in 2.0.x!
I'll test it as soon as possible, thanks.

[2013-07-03 06:15] huxi commented on #2
Awesome! Thanks a lot!

[2013-07-03 07:46] phw4u opened #179 "How can i changes the sax parser to another html parser."
[sorry.. i am not good english. maybe you hard to read my post. ]

umm...
My development enviroment is  "osgi" and use "angular.js" for javascript framwork in the ui.

the angular.js code generally use like below.
(it is a google sample code : http://docs.angularjs.org/api/ng.directive:ngSwitch )

[code]

But maybe you know, i got some SAXParseExceptions  because a parser using thymeleaf is very v

[2013-07-03 09:36] danielfernandez opened #180 "Add DOM simple expressions"
Create a new type of simple expressions like `~{...}` for selecting subtrees of templates. At first thought, its syntax could be similar to that of current "th:include/th:replace", like:

[code]

It would also be great to have these expressions relative to the current node (the node where the expression is being executed):

[code]

Then the context variables created by these expressions could be u

[2013-07-03 09:38] danielfernandez commented on #3
Closing this issue for 2.1, as this is already offered by the LayoutDialect and 3.0 will include #180, which should solve this scenario for those not wanting to use this dialect for some reason.

[2013-07-03 09:38] #3 closed, assigned to danielfernandez

[2013-07-03 11:19] danielfernandez opened #181 "Fragment signature and fragment local variables mechanism"
In order to create a more _function-like_ mechanism for the use of template fragments, fragments defined with `th:fragment` could be allowed to specify a sort of _parameters_:

[code]

This would require the use of one of these two syntaxes to call the fragment:

[code]

Note that order is not important in the last option:

[code]

**Fragment local variables without fragment signature**

Even if f

[2013-07-03 11:21] danielfernandez commented on #87
This is now covered by the feature defined at #181. Closing this one.

[2013-07-03 11:21] #87 closed, assigned to danielfernandez

[2013-07-03 14:41] tadas-subonis commented on #181
I don't think you want to have such complex "th:with" style. JSP has solved these problems in a lot more fluent style. See http://docs.oracle.com/cd/E19502-01/819-3669/bnalv/index.html

So in this case it would be most useful to have:

[code]

[2013-07-05 03:47] ultraq commented on #179
I don't know if there's an 'easy' way to switch the parser (like some configuration option), but recently I saw that all of the logic for parsing a Thymeleaf template using SAX was done in the `org.thymeleaf.templateparser.xmlsax.AbstractNonValidatingSAXTemplateParser` class.  Start at the `parseTemplate(...)` method and you can see at what point it starts using SAX to convert the template into a

[2013-07-05 09:46] phw4u commented on #179
ok.
First, I will find that code in AbstractNonValidatingSAXTemplateParser.
Thanks ultraq.

[2013-07-05 11:39] danielfernandez commented on #179
Thymeleaf allows the modification of the parsing system by letting the user configure the available **template modes**. A template mode defines how a parser should be interpreted, and for such thing it allows the specification of a parser (that converts a template into DOM) and a writer (that converts the resulting DOM into the HTML/XML/whatever result).

You should therefore look at the `ITemplat

[2013-07-07 18:27] danielfernandez opened #182 "Synthetic block tag"
The Standard dialects can add a tag which would act as a synthetic block, a way to group markup and apply a series of `th:*` attributes to it:

[code]

Once executed, this `<th:block>` tag will just dissapear and never be shown in the execution results.

**Important**: this tag should work both as a standalone and as a non-empty tag.

[2013-07-07 18:36] danielfernandez opened #183 "Parser-level comment blocks"
Parser-level comment blocks are code that will be simply removed from the template when thymeleaf parses them. They should look like this:

[code]

Thymeleaf should remove absolutely everything between ``, so these comment blocks can be used for displaying code when a template is statically open, knowing that it will be removed when thymeleaf processes it:

[code]

This might come very handy for p

[2013-07-07 18:40] danielfernandez opened #184 "Add comments to Standard Expressions"
In coherence with the syntax established at https://github.com/thymeleaf/thymeleaf/issues/183, we could add comments to standard expressions, like:

[code]

[2013-07-07 18:49] danielfernandez opened #185 "Prototype-only comment blocks"
As an evolution of the syntax established at https://github.com/thymeleaf/thymeleaf/issues/183, thymeleaf can define special comment blocks marked to be comments when the template is open statically, but considered _normal markup_ by thymeleaf when executing the template.

[code]

Thymeleaf's parsers (or a filter executed at the `java.io.Reader` level) will simply remove the `` markers.

Combined

[2013-07-09 22:08] danielfernandez opened #186 "Add "ne" as a synonym to "neq" in standard expressions"
Currently, standard expressions allow:

[code]

...as a synonym to:

[code]

But it could be nice to have another possibility, also a very used substitute:

[code]

[2013-07-09 22:09] #186 closed, assigned to danielfernandez

[2013-07-11 10:00] huxi opened #187 "Problem with replacement of JavaScript String array"
We have the following code in a `<script>` tag of one of our templates:

[code]

This is transformed into

[code]

, i.e. only the first part of the array prototype is removed.

This seems to have been caused by the update from 2.0.16 to 2.0.17.

[2013-07-11 10:08] huxi commented on #187
Sorry, missed #168.

[2013-07-11 10:08] #187 closed, assigned to danielfernandez

[2013-07-11 10:12] huxi commented on #168
Any ETA for a 2.0.18 release?

[2013-07-11 20:21] danielfernandez opened #188 "Add more literal synonyms to operators: "div", "mod", "not""
Add new synonyms for several operators in standard expressions:
- `not` for `!=`
- `div` for `/`
- `mod` for `%`

[2013-07-11 20:31] danielfernandez commented on #188
Associated tests:
- https://github.com/thymeleaf/thymeleaf-tests/blob/20130711/src/test-common/resources/engine/features/expression/expression39.thtest
- https://github.com/thymeleaf/thymeleaf-tests/blob/20130711/src/test-common/resources/engine/features/expression/expression40.thtest
- https://github.com/thymeleaf/thymeleaf-tests/blob/20130711/src/test-common/resources/engine/features/expression/

[2013-07-11 20:31] #188 closed, assigned to danielfernandez

[2013-07-11 21:21] danielfernandez commented on #187
Actually, your specific scenario wasn't completely solved in 2.0.18 yet. It is now, thanks for reporting.

I've added a test with your example code, which now runs OK: https://github.com/thymeleaf/thymeleaf-tests/blob/20130711/src/test-common/resources/engine/attrprocessors/inline/inline06.thtest

[2013-07-11 21:29] danielfernandez commented on #168
@huxi we should be releasing 2.0.18 in two/three weeks. In the meantime, if you need any of its features you can use 2.0.18-SNAPSHOT following the instructions at http://www.thymeleaf.org/faq.html#use-snapshot

[2013-07-11 21:46] huxi commented on #187
Oops, awesome. Thanks! :D

[2013-07-11 21:52] huxi commented on #168
Ok, thanks.

It's not that urgent. 2.0.16 works fine for now. I just asked to have a rough idea when to check for the new version.

[2013-07-12 02:59] ncrawl opened #189 "Thymeleaf seems to be escaping the & character while rendering the th::href attribute and also adding a shape attribute (?)"
I don't know if I am doing something wrong, but there seems to be a bug while rendering the th::href attribute using the @{...} syntax.

[code]

The result I am getting is:

[code]

It's escaping the '&' character and adding a shape attribute.

Please! I really need a fix... I am using it everywhere. =(

[2013-07-12 03:20] ncrawl commented on #189
So far, I am unable to render any URL with query strings - using the @{..} or not.
I tried to concatenate the strings myself into the template, but that didn't work also. The sax parser requires the & character to be followed by an entity name and a ;.

[2013-07-12 07:06] jmiguelsamper commented on #189
Thymeleaf has its own syntax for URL parameters, look at
  http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#link-urls

[2013-07-12 07:06] #189 closed, assigned to jmiguelsamper

[2013-07-12 07:07] jmiguelsamper commented on #189
Escaping ampersand inside an attribute is correct HTML.

[2013-07-12 08:20] danielfernandez commented on #189
@jmiguelsamper is right. Per XHTML specification, `&` symbols must be encoded as `&amp;` in tag attributes (like `href`). Your links are perfectly right and work OK. It's just that you are used to seeing them ill-formed ;-)

As for the `shape` attribute, that happens because you are using an XHTML template mode and therefore an XHTML DTD. As it happens, the `shape` attribute is mandatory in `<a>`

[2013-07-12 17:11] ncrawl commented on #189
Wow, I was totally unaware of this behaviour. Thank you for the fast response!

Anyway, I have chosen XHTML to improve thymeleaf performance, forcing an XML compliant document. If I switch to HTML5, will I have any performance degradations?

[2013-07-12 20:57] jmiguelsamper commented on #189
No, no there is performance impact in using HTML5.

The only modes with a little performance impact are the LEGACY modes, as the HTML must be tidier the first time the template is loaded.

[2013-07-20 11:40] jmiguelsamper opened #191 "Support for Spring field formatters"
[Field formatters](http://static.springsource.org/spring/docs/3.2.x/spring-framework-reference/html/validation.html#format) are a feature introduced in Spring 3 which allows automatic formatting and parsing of data types.

For example, you can show all your Date objects like "Saturday 20/Jul/2013" or all your Currency objects like "35.50 €".

This is really nice for maintainability, avoiding repet

[2013-07-22 08:42] santoshballary commented on #181
above whatever u explaining is about different fragment from same page.
I need to include different fragments from different pages, based on the button click i need to replace old fragment to new fragment.

please help me on this

[2013-07-22 08:49] santoshballary opened #192 "Dynamically change Thymeleaf fragment"
I need to include different fragments from different pages.
Based on the button click i need to replace old fragment to new fragment.

please help me on this

[2013-07-22 19:42] danielfernandez commented on #181
@santoshballary maybe you should post a question explaining your scenario at the forum? http://forum.thymeleaf.org

[2013-07-22 20:55] danielfernandez commented on #192
Please, add a new question at the forum with this: http://forum.thymeleaf.org

I'm closing this as an issue ticket. Thanks.

[2013-07-22 20:55] #192 closed, assigned to danielfernandez

[2013-07-28 23:02] #181 closed, assigned to danielfernandez

[2013-07-28 23:10] danielfernandez commented on #181
This feature has now been implemented and is available in 2.1.0-SNAPSHOT.

[2013-07-28 23:30] danielfernandez commented on #181
Some associated tests: https://github.com/thymeleaf/thymeleaf-tests/blob/20130728/src/test-21/resources/engine21/attrprocessors/include/ tests 05 to 15.

[2013-08-01 11:47] danielfernandez commented on #181
Version 2.1.0-m1 has been published as a milestone towards 2.1.0, including this feature. This way users who want to test this do not have to create a dependency on a snapshot version.

[2013-08-03 18:29] opensource21 commented on #191
+1

[2013-08-03 21:38] danielfernandez opened #193 "Reorganize web attributes/params/objects in WebContexts"
1. Refactor the `WebContext`, `WebVariablesMap` and `ProcessingContext` classes so that we can access web-based attributes and parameters like:
   - Request parameters: `param.*`
   - Request attributes: `*`
   - Request object: `#request`
   - Session attributes: `session.*`
   - Session object: `#session`
   - ServletContext attributes: `application.*`
   - ServletContext object: `#servletContex

[2013-08-03 21:59] danielfernandez commented on #193
_Important_: The implentation of this requirement should also modify the behaviour of thymeleaf regarding this test: https://github.com/thymeleaf/thymeleaf-tests/blob/20130803/src/test-common/resources/engine/context/context01.thtest

[2013-08-04 18:14] #177 closed, assigned to danielfernandez

[2013-08-04 18:17] danielfernandez opened #194 "Allow several registered dialects for the same prefix"
Thanks to #177, now it should be possible to add several dialects with the same prefix, even if this prefix is null. This should allow the easy aggregation of dialects, for example, for extending the `th:*` attributes in a specific context.

[2013-08-04 18:19] danielfernandez commented on #177
Related tests: https://github.com/thymeleaf/thymeleaf-tests/tree/20130804/src/test-21/resources/engine21/xmlns

[2013-08-04 18:21] danielfernandez commented on #177
Added to 2.1.0-SNAPSHOT

[2013-08-04 23:52] #182 closed, assigned to danielfernandez

[2013-08-04 23:59] danielfernandez commented on #182
Added tests: https://github.com/thymeleaf/thymeleaf-tests/tree/20130805/src/test-21/resources/engine21/elementprocessors/block

[2013-08-05 00:01] danielfernandez commented on #182
Added to 2.1.0-SNAPSHOT

[2013-08-05 07:59] danielfernandez opened #195 "Deprecate old DOM parsers"
The old DOM parsers are still in the source tree, even if they were replaced with SAX parsers in 2.0.x.

This makes maintenance more difficult and adds no real value. Should be deprecated in 2.1 and removed in 3.0

[2013-08-05 15:13] #183 closed, assigned to danielfernandez

[2013-08-05 15:13] #185 closed, assigned to danielfernandez

[2013-08-05 15:15] danielfernandez commented on #185
Added to 2.1.0-SNAPSHOT

[2013-08-05 15:16] danielfernandez commented on #183
Added to 2.1.0-SNAPSHOT

[2013-08-05 15:39] danielfernandez commented on #185
Some related tests: https://github.com/thymeleaf/thymeleaf-tests/tree/20130805/src/test-21/resources/engine21/parsing

[2013-08-05 15:40] danielfernandez commented on #183
Some related tests: https://github.com/thymeleaf/thymeleaf-tests/tree/20130805/src/test-21/resources/engine21/parsing

[2013-08-05 19:57] danielfernandez commented on #102
This is covered by the combination of #182, #183 and #185.

[2013-08-05 19:57] #102 closed, assigned to danielfernandez

[2013-08-05 19:57] danielfernandez commented on #57
This is covered by #183.

[2013-08-05 19:57] #57 closed, assigned to danielfernandez

[2013-08-05 19:59] danielfernandez commented on #10
This is covered by #183.

[2013-08-05 19:59] #10 closed, assigned to danielfernandez

[2013-08-05 20:00] danielfernandez commented on #56
This is covered by the combination of #185 and #182.

[2013-08-05 20:00] #56 closed, assigned to danielfernandez

[2013-08-05 20:11] #195 closed, assigned to danielfernandez

[2013-08-05 21:58] danielfernandez opened #196 "Create a th:ref attribute for in-template reference of elements"
A new `th:ref` attribute should help referencing elements in the template from anywhere in the template at parsing time. Something like:

[code]

When executed, the processor for this attribute should simply do nothing and dissapear.

[2013-08-05 22:23] danielfernandez commented on #68
These directives can be implemented by means of a new element called `th:inject`, which will add its specified attributes to a target element. Like:

[code]

Note the `th:ref` attribute is defined at #196. Once **parsed**, `th:inject` should dissapear and this should result in:

[code]

And therefore, once **executed**, the result should be:

[code]

**Selecting target**

For specifying the target

[2013-08-06 10:04] danielfernandez opened #197 "Refactor DOM model"
Create a new, lighter DOM model, preferabily based on arrays and a DOM representation similar to that of attoparser instead of the current one. This should remove the amount of objects needed to represent a parsed template.

In an ideal world, we would be able to represent an entire template as a small number of arrays arrays pointing to a set of (constant, or at least engine-wide) element objects

[2013-08-06 10:04] danielfernandez commented on #197
Note also that the current IProcessor interfaces and their subinterfaces / subclasses should be adapted to the current model (for example, currently attribute processors receive `Element` even if with `NestableAttributeHolder` should be enough).

[2013-08-10 01:51] ultraq opened #198 "Inline text not happening before tag removal"
From this forum thread: http://forum.thymeleaf.org/Order-of-processing-th-attributes-tp4026551.html

The OP has some inline text (`th:text` and an inline text expression `[[${...}]]`) that's expected to be processed before the `th:remove="tag"`, but the result is as if the `th:remove` happened first.

I was able to reproduce it using Thymeleaf 2.0.17.

Also, when this is fixed, we might want to up

[2013-08-11 23:09] danielfernandez opened #199 "Reduce Arguments and ProcessResult"
The `ProcessResult` objects returned by processors many times duplicate functionality that can also be obtained by directly acting on the processed nodes (local variables, `processTextNodes` flags, etc.).

This duplicity, and their consequent changes on the `Arguments` objects being passed to processors, are difficult to maintain and unnecessary complex.

Ideally, `ProcessorResult` should be remov

[2013-08-11 23:27] danielfernandez commented on #198
Yup. This was a bug. The flags that determine whether `Text` or `Comment` nodes had to be processed at all were stored at the `Arguments` object, which meant they only propagated from father to children nodes.

The problem is, when a `th:remove="tag"` was executed, there was no propagation because the children nodes of the host tag turned into brothers after the host tag was removed, and this mean

[2013-08-11 23:27] #198 closed, assigned to danielfernandez

[2013-08-12 21:18] Russell-Allen opened #200 "javascript inline issue"
(using version 2.0.17)
The following fails to produce valid javascript:

[code]

The value of foo is injected and the prototype value is left on the line.  If I move the closing of the folloing line onto the end, then the closing of the JSON object is removed.

Note this is a simplified example.  This is actually nested inside a function, which only adds more trailing characters, such as closing p

[2013-08-15 11:48] danielfernandez opened #202 "Much more powerful DOM Selector syntax and capabilities"
DOM Selector syntax will be enhanced to include more selection possibilities and easier selection of DOM fragments.

New specification:
### Selection features

DOM Selector selection operations are based on:
- The **type of node**: both tags ( _elements_ ) and text nodes can be selected.
- The **name of the element** ( _element_ = _tag_ ).
- The **path and depth** of the node in the DOM tree.
- Th

[2013-08-15 11:50] #202 closed, assigned to danielfernandez

[2013-08-15 11:55] danielfernandez commented on #202
Updated 2.1.0-SNAPSHOT.

Added a bunch of tests for the new syntax: https://github.com/thymeleaf/thymeleaf-tests/tree/20130814/src/test-21/resources/engine21/domselector

[2013-08-15 13:04] danielfernandez commented on #180
These expressions will be made possible by the new syntax in DOM Selectors implemented in #202

[2013-08-15 13:05] danielfernandez commented on #95
Implemented at #202.

[2013-08-15 13:05] #95 closed, assigned to danielfernandez

[2013-08-15 13:07] danielfernandez commented on #196
This `th:ref` processor should be implemented as a no-op processor simply removing the attribute from its host element, and an implementation of `DOMSelector.INodeReferenceChecker` should be created in order to being able to select elements by their `th:ref` attribute (working as a _reference_, not a mere attribute) in DOM Selector expressions as specified at #202

[2013-08-15 13:12] danielfernandez commented on #200
I can confirm this is already solved in 2.0.18-SNAPSHOT, and therefore will be solved in the 2.0.18 release.

[2013-08-15 13:12] #200 closed, assigned to danielfernandez

[2013-08-15 17:29] Russell-Allen commented on #200
Thank you!  I'll re-post validation once 2.0.18 hits GA.

[2013-08-16 16:24] ugate opened #203 "Literal URLs cause generic java.lang.NumberFormatException"
In Thymeleaf 2.0.17 a generic java.lang.NumberFormatException is thrown when using a literal URL instead of the normal URL expression @{}

[code]

I know that this is just improper usage, but I thought it may be somewhat obscure for a newbe to track down the cause:

[code]

[2013-08-16 17:16] ugate opened #204 "Expressions with protocol relative URLs"
A common practice for CDN hosts is to provide links that drop the <b>http:</b>/<b>https:</b> /etc. prefix so that the URL will inherit the current protocol. In such a case Thymeleaf mistakens the URL to be context relative and adds the path to the beginning of such links. For example:

[code]

renders:

[code]

instead of the desired:

[code]

A workaround would be to use a literal string.

[2013-08-17 09:57] danielfernandez opened #205 "Reimplement th:include/th:substituteby/th:replace syntax with new DOM Selector syntax"
Currently, as of 2.0.x, the `th:include` (or `th:substituteby`, or `th:replace`) syntax makes a difference between:

[code]

...which means _look for a tag in the `mytemplate` template that is marked as `th:fragment="myfragment"`_ and:

[code]

...which means _look for a `<div>`tag in the `mytemplate` template that is marked as `id="myfragment"`_.

There is, therefore, a difference in syntax betwe

[2013-08-17 09:58] #205 closed, assigned to danielfernandez

[2013-08-18 00:24] danielfernandez opened #206 "Create a new version of the XHTML DTDs with the new attributes"
Given 2.1.0 is adding new attributes like `th:ref``and`th:assert`, we should create a new version of the`.dtd` files (version 4) with these attributes.

[2013-08-18 00:27] danielfernandez commented on #68
Note that, thanks to the new DOM Selector syntax implemented in #202, there will be no need to differentiate between injection _by ID_, _by reference_ or _by DOM Selector_. All these kinds of injection will be easily managed by DOM Selectors (applying a specialized `INodeReferenceChecker` implementation as specified in #196).

[2013-08-18 17:58] danielfernandez commented on #19
Problem: this could affect DOM Selectors!

[2013-08-18 21:59] danielfernandez commented on #206
Note `th:ref` has finally been discarded for 2.1, and its functionality queued for 3.0. See #196 for more details.

[2013-08-18 21:59] #206 closed, assigned to danielfernandez

[2013-08-18 22:04] danielfernandez commented on #68
**Important**: This has been moved from 2.1 to 3.0. The correct implementation of an _attribute injection_ mechanism, be it by means of a tag like `<th:inject>` or any other artifact like an `@inject` directive or whatever must be applied at _parsing time_ in order to be truly effective (not at processor execution time). And thymeleaf 2.x lacks the required support for letting dialects provide imp

[2013-08-18 22:04] danielfernandez commented on #196
As a consequence of moving #68 to milestone 3.0, for the reasons explained in that ticket, this is also moved to 3.0.

[2013-08-18 22:08] danielfernandez commented on #47
**Important**: This has been moved from 2.1 to 3.0. The most reasonable way to implement decoupled template modes is by means of some kind of _attribute injection_ mechanism like the one mentioned in #68. But as explained in that ticket (also moved to 3.0), this requires parsing-time DOM processing mechanisms provided by the configured dialects, and this kind of structure cannot be added with 2.x'

[2013-08-18 22:16] danielfernandez commented on #197
More notes: The `DOMSelector.INodeReferenceChecker` mechanism developed in 2.1 should probably be refactored in 3.0 so that references for every node can be precomputed at parsing time.

This should allow DOM nodes to keep precomputed lists of element names, `id` attribute values, `class` attribute values and reference values that apply not only to itself but also to any node lower in the DOM tree

[2013-08-18 22:16] danielfernandez commented on #202
**Important** note that, due to future modifications in 3.0 for #68 and #47, and the reference precomputing mechanism that will be needed in 3.0 explained in #197, the `INodeReferenceChecker` mechanism established here will probably need to be refactored (and moved to be executed at _parsing time_ instead of _template execution time_).

[2013-08-18 22:20] danielfernandez commented on #19
This won't affect DOM Selectors as DOM Selectors will always be executed on recently-parsed templates, never half-executed ones.

[2013-08-18 22:37] danielfernandez commented on #52
Given 3.0 will completely revamp the parsing and DOM system, it will be a much more reasonable point to modify the template mode system than 2.1. So this ticket has been moved to 3.0.

In fact, given the flexibility given by the new parser to be used in 3.0 (attoparser), we should study the possibility to establish only two template modes:
- Markup
- Text (which should not only be allowed to use o

[2013-08-19 08:36] danielfernandez commented on #72
This is heavily related to the DOM model, so it should better be rescheduled for 3.0.

[2013-08-19 10:34] danielfernandez commented on #18
Heavily linked with the DOM model. As it is to be rewritten in 3.0, this should be rescheduled to 3.0.

[2013-08-19 10:49] danielfernandez commented on #54
Note this initialization step seems useful in `Configuration` because of the need to precompute several dialect-related structures. It's template resolvers, message resolvers, etc. which could be removed this step.

[2013-08-19 10:50] danielfernandez commented on #54
Moved to 3.0, given this would mean changes in public interfaces like `ITemplateResolver` and `IMessageResolver`.

[2013-08-19 16:00] #137 closed, assigned to danielfernandez

[2013-08-19 16:19] danielfernandez commented on #63
This object would actually be a mere wrapper on the `#httpServletRequest` object, so it seems it would add little value. Rescheduled for future work if we see interest raise on it...

[2013-08-19 21:35] #6 closed, assigned to danielfernandez

[2013-08-19 21:42] danielfernandez commented on #6
A new value, `'WHITESPACE'`, as a possible thousands/decimal point separator value.

See the associated tests, like https://github.com/thymeleaf/thymeleaf-tests/blob/master/src/test-21/resources/engine21/features/expression/numbers/numbers02.thtest

[2013-08-20 20:34] danielfernandez commented on #64
This has been implemented in 2.1 by means of the following features:
- Fixed handling of time zone in `#dates.format(...)` and `#calendars.format(...)` expression utility methods. Time zone was being ignored until now.
- Fixed handling of locale in calendar/date creation methods in `#dates` and `#calendars`. Now the request's current locale is will be used. Even if locale has little influence on `

[2013-08-20 21:15] danielfernandez commented on #175
**Note**: only variable expressions are allowed inside `|...|` literal substitutions. No other literals (`'...'`), boolean/numeric tokens, conditional expressions etc.

[2013-08-20 21:15] #64 closed, assigned to danielfernandez

[2013-08-20 21:15] #175 closed, assigned to danielfernandez

[2013-08-20 22:31] danielfernandez commented on #152
Hi again Thomas,

I was examining your pull request in order to merge it, but I have a question... I see your implementation and this line:

[code]

...creates three objects: a char array and two Strings (one with `new`, another one as a result of `replace`). Of course there's also a `"\0"` String, but that is interned so it isn't really important. Then we all depend on how well the `replace` meth

[2013-08-20 22:54] t-oster commented on #152
I got it from here: http://stackoverflow.com/questions/1235179/simple-way-to-repeat-a-string-in-java . I am not sure if it is more efficient, I just thought it was less code ;). Feel free to use either way.

[2013-08-21 13:20] huxi opened #207 "Replacement still broken in 2.0.18"
The following code

[code]

is converted to

[code]

But it should be

[code]

[2013-08-21 14:44] danielfernandez commented on #207
Actually, this is a new problem. The inlining engine sees those `//` and considers them to be the start of a comment, which it must respect.

And why does it consider it a comment if it is inside a literal? Because you are using double-quotes for your literal instead of single-quotes, which is what it expects. That's a bug, obviously, it should take care of both double and single quotes.

So you h

[2013-08-21 14:55] huxi commented on #207
But it is manipulating the comment in some way...
It's removing the leading "http://

I reverted to 2.0.16 for now - which works as expected.

[2013-08-21 14:59] huxi commented on #207
I just realized that 2.0.16 is also printing

[code]

i.e. it also writes the `xml:space` - this isn't correct in my report above.

[2013-08-21 15:09] noelob commented on #93
@mxab i've tried it, works great!

[2013-08-21 15:36] danielfernandez commented on #207
As I said, it is considering `//` the start of a comment, and it is preserving it from there on (from the `//`, so it is removing `http:`).

The simplest solution for you is using single-quotes, IMHO. This works perfectly, and you will benefit from all the javascript inlining fixes in 2.0.18.

As for the `xml:space`, that has nothing to do with inlining, but with XHTML. If the `xml:space` attribut

[2013-08-21 15:50] #207 closed, assigned to danielfernandez

[2013-08-21 15:56] danielfernandez commented on #207
Updated 2.0.19-SNAPSHOT and 2.1.0-SNAPSHOT.

Added test with your specific code: https://github.com/thymeleaf/thymeleaf-tests/blob/20130821/src/test-common/resources/engine/attrprocessors/inline/inline11.thtest

[2013-08-21 16:43] huxi commented on #207
Ah, I see regarding `xml:space`.
Thanks for your incredible support! Your speed is amazing!

[2013-08-21 18:17] danielfernandez commented on #203
The reason you're receiving such exception is that everything in a th:src must be a Thymeleaf standard expression. And literals in standard expressions must be surrounded by single quotes.

Thymeleaf is trying to parse your url not considering it a literal, sees some symbols that look as a division and... the exception raises.

[2013-08-21 18:18] #203 closed, assigned to danielfernandez

[2013-08-24 19:45] #152 closed, assigned to danielfernandez

[2013-08-24 19:45] #204 closed, assigned to danielfernandez

[2013-08-24 19:53] danielfernandez commented on #204
Updated 2.1.0-SNAPSHOT. Added tests (see commit above).

[2013-08-24 19:56] danielfernandez commented on #152
`#strings.repeat(target,times)` been added to 2.1.0-SNAPSHOT. See the commit referenced above for an associated test.

@t-oster I finally decided to implement it the `StringBuilder` way... I read your link, and to be honest I don't share the poster's concerns about loops at all. I did some testing and the `StringBuilder` option seems to perform much better (besides being more readable), so I went

[2013-08-26 12:01] ugate commented on #203
Yeah, I figured that out after further investigation. The reason for the issue is that the exception is somewhat cryptic and misleading :)

[2013-08-27 15:53] harbulot commented on #183
Would this syntax inadvertently cause problems for comments such as this?

[code]

(I mean, anything that legitimately contains `/*`.)

In addition, one of the good things about Thymeleaf is that you're guaranteed to turn well-formed XML into well-formed XML (as far as I know). Using this block exclusion, you could have problems:

[code]

This would become invalid XML:

[code]

The suggestion in i

[2013-08-27 16:15] harbulot commented on #183
I've just tried this and Firefox, Chrome and IE (latest versions) are capable of ignoring the `<test:remove>` element while displaying its content.

[code]

If Thymeleaf had a `<th:remove>` element, which it would be capable of processing to remove the content from the output, I would suggest this is a cleaner solution to the problem of removing blocks (the part of issue #57 that was merged into t

[2013-08-27 17:30] danielfernandez commented on #183
Nope. Thymeleaf specifically looks for the `` sequences, without any whitespaces. So your _normal_ comments should be perfectly safe, if you just don't write those sequences (in the same way that you cannot write `--` in the middle of a comment because the HTML parser will consider it ended)

As for using an element like `<th:remove>` instead of a comment, it has two problems:
1. Extra elements, e

[2013-08-27 18:04] harbulot commented on #183
But what about `` in the middle of a `<tr>   </tr>`?
One of the good things about XML->XML transformations is that it prevents users from shooting themselves in the foot, which is possible with a number of other template languages. (I'm certainly not saying XML is the best thing in the world :-), but I think the clean, XML-based syntax of Thymeleaf is one of its strong points compared with other t

[2013-08-30 07:07] opensource21 opened #208 "#lists should have a sort-method"
I think it's often very useful sort a list. At the moment I must do it in the controller. Would be nice to have the possibility to call `Collection.sort` via `#lists.sort`

[2013-08-31 11:40] igo opened #209 "Cannot create URL with query string only"
Following statements doesn't work, thus cannot create links that only change parameters:
`@{(p1)}`
`@{~(p1)}`
They should generate link like `?p1`

[2013-08-31 16:31] danielfernandez commented on #209
In such case, you will need to use `#` as the URL base, which will work as you expect.

I've created a test file in order to explain how this works: https://github.com/thymeleaf/thymeleaf-tests/blob/20130831/src/test-common/resources/engine/features/link/link09.thtest

[2013-09-01 08:04] igo commented on #209
Unfortunately this is something totally different. `#?param` is not the same as `?param`

[2013-09-02 00:22] danielfernandez commented on #93
This has been implemented as follows:
- Every attribute with name `data-{prefix}-{name}` will be considered equivalent to `{prefix}:{name}` as long as `{prefix}` corresponds to the prefix of a configured dialect. For example, `data-th-text="..."` can be now used interchangeabily with `th:text="..."`. This follows the HTML5 standard for custom attributes.
- Every element (tag) with name `{prefix}-{

[2013-09-02 00:28] #93 closed, assigned to danielfernandez

[2013-09-02 00:50] danielfernandez commented on #93
Updated 2.1.0-SNAPSHOT.

Also, a new milestone version 2.1.0-m3 has been pushed to the Central maven repositories, including this feature (and the rest of the features already implemented for 2.1.0).

[2013-09-02 07:29] emilime commented on #93
@danielfernandez so, which is the proper way to write a custum data attribute in 2.1? I mean something like data-pippo="..." (where value of the attribute could be a variable)

[2013-09-02 07:52] danielfernandez commented on #93
@emilime custom data attributes (i.e. attributes not included in any thymeleaf dialect) can be set using `th:attr` or the new `data-th-attr` syntax. Like:

[code]

Note that the `data-{prefix}-{name}` syntax is new in 2.1, but doing this was already possible in 2.0 using the namespaced `{prefix}:{name}`:

[code]

[2013-09-02 07:56] emilime commented on #93
yes I know th:attr, I was hoping for something less verbose with this new feature :)

[2013-09-02 21:17] #209 closed, assigned to danielfernandez

[2013-09-02 21:23] danielfernandez commented on #209
Support for URLs like `@{''(p1)}` has been added to 2.0.19-SNAPSHOT and 2.1.0-SNAPSHOT.

Note however that an URL like `@{~(p1)}` cannot be valid, because a no-base URL is by definition relative, and not server-relative.

[2013-09-07 23:31] #19 closed, assigned to danielfernandez

[2013-09-08 00:31] danielfernandez commented on #19
Updated 2.1.0-SNAPSHOT

[2013-09-09 04:06] evanfeng opened #210 "throw NumberFormatException in 'th:href' contains invalid number string, version 2.1.0-beta1"
Example :

[code]

Error stack :

Caused by: java.lang.NumberFormatException: null
    at java.math.BigDecimal.<init>(BigDecimal.java:453) ~[na:1.6.0_51]
    at java.math.BigDecimal.<init>(BigDecimal.java:728) ~[na:1.6.0_51]
    at org.thymeleaf.standard.expression.NumberTokenExpression.<init>(NumberTokenExpression.java:51) ~[classes/:na]
    at org.thymeleaf.standard.expression.NumberTokenExpress

[2013-09-09 18:33] #210 closed, assigned to danielfernandez

[2013-09-09 18:33] danielfernandez commented on #210
This happened because the "2.3.0" was mistakenly parsed as if it were a number literal, and it failed because it contained two decimal point symbols.

Updated 2.1.0-SNAPSHOT with this fix.

[2013-09-10 17:03] marcosjitisoft commented on #32
javaassist 3.17.0-GA seems to have the attributes set correctly in the manifest. For anyone using earlier versions up to 3.16.1 in an OSGI environment, they just simply have to wrap it as they install it or repackage it.

Can we move on the bundling of thyme and thyme-spring3?

Also remember, that we do not have to change the packaging to bundle, we can just add the following the maven-bundle-plug

[2013-09-10 22:36] danielfernandez opened #211 "Update javassist version"
The javassist dependency should be updated to (at least) 3.18.0-GA. Especially since 3.17 fixed its OSGi packaging problem.

But this cannot be done until thymeleaf 3.0 because javassist 3.17 was compiled against  Java 6 and contains non-java5 classes.

[2013-09-11 08:32] andris-rauda opened #1087 "SpringNonCacheableMessageResolver swallows NoSuchMessageException"
org.springframework.context.support.AbstractMessageSource allows you to choose the way missing message resources are handled by setting setUseCodeAsDefaultMessage(boolean)
true - message's code is returned instead of message
false - NoSuchMessageException is thrown

Usually in production environment you would choose the second option (fail-fast) instead of displaying page incorrectly, which is con

[2013-09-11 19:41] apazzolini opened #212 "LegacyHTML5 template mode produces incorrect output for th:include and th:substituteby"
When using the LegacyHTML5 template mode, attempting to include a another file without specifying a fragment results in incorrect output.

The `NekoBasedHtmlParser` is too aggressive in its conversion, and will add in unnecessary wrapper objects. Here's an example:

_a.html_

[code]

_b.html_

[code]

This would produce the following output with the extraneous wrapper

[code]

If you include a fra

[2013-09-14 22:32] danielfernandez commented on #212
Thanks Andre.

The way nekoHTML performs its markup balancing operations is a bit obscure, but let's see if this thing of adding an extra HTML structure can be configured without breaking other scenarios. Should be able to return just a markup fragment...

In the meantime, as a workaround you could use a DOM selector in your "substituteby", thought it isn't exactly a beautiful solution:

[code]

o

[2013-09-14 22:37] ultraq commented on #212
(Just inserting myself into the conversation to keep notified of changes.  The Layout Dialect loosened up some of it's own template checks because of this very issue.)

[2013-09-14 22:49] dnezic commented on #191
+1

[2013-09-14 22:52] danielfernandez commented on #191
This is related to thymeleaf/thymeleaf-spring3#19

[2013-09-16 20:29] apazzolini commented on #212
I can confirm that the following works:

[code]

It successfully parses out all of the incorrect HTML / HEAD / BODY tags. It's not ideal, but we can work with that for now until we can get our RTE to produce valid XHTML so that we can switch back to the non-legacy mode. Thanks!

[2013-09-17 11:52] danielfernandez commented on #124
Already deprecated in 2.1

[2013-09-17 11:52] #124 closed, assigned to danielfernandez

[2013-09-17 11:53] danielfernandez commented on #106
Dialect leniency has been deprecated as of 2.1, so this is no longer needed.

[2013-09-17 11:53] #106 closed, assigned to danielfernandez

[2013-09-18 08:10] cxubrix opened #213 "Add support for locale specific templates in ServletContextTemplateResolver with fallback"
When using templates for fragments, there is no clean way to include different fragments based on locale with a fallback option for not supported locales or locales with language part only(no country)

Template resolver can use similar mechanism as it is used for messages.

Let's say we have 3 html files with fragment definitions `test.html`, `test_en.html` and `test_en_GB.html` when using `th:inc

[2013-09-19 08:44] cachescrubber commented on #191
+1

[2013-09-20 05:43] marcosjitisoft commented on #32
forked the project gfouquet mentioned and updated to version 2.0.18 [here](https://bitbucket.org/skyblender/thymeleaf-bundles).

I've tested them with a simple spring/osgi/thymeleaf example. However I was unable to get the webjars and resources to work properly using the spring resource annotation. so I modified my web.xml to use a servlet for static files (e.g. org.eclipse.jetty.servlet.DefaultSe

[2013-09-24 11:24] opensource21 commented on #208
Just to make it clear the issue `#28` in  thymeleaf/thymeleaf-spring3 was closed because I think it was the wrong issue-list. This issue is still open.

[2013-09-24 13:16] sunil0791 commented on #208
I am just giving a thought. If we sort once, all the place where the arraylist object is used would have been sorted. So,    would it be good to do it in thymeleaf. Else, should we have a method which creates the copy of list and may be we can then sort that list.

[2013-09-25 12:43] SkipLOC commented on #203
I believe I'm getting the same issue when trying to link to .css files with a '-' in the name, for example jquery-ui-1.10.3.custom.min.css.
For example, this line:
<code>
&lt; link href="../../css/jqueryui/1.10.3/themes/smoothness/jquery-ui-1.10.3.custom.min.css" th:href="@{/css/jqueryui/1.10.3/themes/smoothness/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet" media="screen" / &gt;
</code>
Cause

[2013-09-25 13:04] danielfernandez commented on #203
@SkipLOC are you using 2.1.0-beta1? if so, your issue might be this: thymeleaf/thymeleaf#210

[2013-09-25 13:28] SkipLOC commented on #203
Thanks for the speedy reply.
I'm using 2.1.0-m3
I had to remove the directory '1.10.3' and escape the '-' symbols with a '\'

From: Daniel Fernández [mailto:notifications@github.com]
Sent: Wednesday, September 25, 2013 9:05 AM
To: thymeleaf/thymeleaf
Cc: Cole, Ronald
Subject: Re: [thymeleaf] Literal URLs cause generic java.lang.NumberFormatException (#203)

@SkipLOChttps://github.com/SkipLOC are y

[2013-09-25 13:30] danielfernandez commented on #203
@SkipLOC OK. 2.1.0-beta2 will soon be out. In the meantime, you can use 2.1.0-SNAPSHOT, which is already updated with that fix. You can read more about using snapshots here: http://www.thymeleaf.org/faq.html

[2013-09-28 08:04] opensource21 commented on #208
I have a deeper look into this issue. The only use case I see is to call `th:each="${#list.sort(myList)}"`. If so I think it's better to create an `th:ordered="${myList}` or `th:eachSorted` `th:sortedEach`. It's moire complicated to implement, but I guess it's more useful.

[2013-09-28 13:11] danielfernandez commented on #208
In my opinion, a utility method would be more useful than new attributes. Mainly because of being a more versatile solution, allowing its usage for example in th:with attributes (so that we can iterate the list twice or more times if needed)

Besides, it wouldn't be easy to be able to specify a comparator object with the current syntax of th:each...

[2013-09-28 15:47] opensource21 commented on #208
The `th:with` example is indeed a good argument. `th:order` can then easily realize by an own dialect replacing the the attribute.

[2013-09-28 18:53] opensource21 commented on #208
Please merge https://github.com/thymeleaf/thymeleaf-tests/pull/2 too.

[2013-09-28 18:55] opensource21 commented on #208
I didn't find the xml-file for the eclipse-plugin, so I couldn't adjust this file. Can someone give me a hint?
Furthermore I don't know how to adjust the documentation.

[2013-09-29 14:45] AlexCzar opened #215 "Rename classes and interfaces."
Call me crazy but I think this is one of the must-be-done features. I know it will be a small period of tough time while all the existing developers catch up and transfer, but it will ensure new developers wont turn the framework down due to this design horribleness (pardon my "French").
To the point: Interface name should not ever have `I` in front of the name! E.g.
`IWebContext` is just horrible

[2013-09-29 16:18] jmiguelsamper commented on #215
Although I don't follow the I-prefix convention, I wouldn't call it "design horribleness", it's just a naming convention, which it's not so important, even not important at all. Having worked with many different teams, I tend to adapt myself to the group conventions instead of trying to change them.

[2013-09-29 23:04] danielfernandez commented on #215
@AlexCzar I understand your point. Your position is very common and poses many benefits, though also some drawbacks and, in the end, it's just a matter of choosing a naming option. As far as I know, there is at least an example of another popular Java framework using this syntax: Apache Wicket

I chose the `I+name` naming scheme for interfaces specifically to signal they are possible extension or

[2013-09-29 23:04] #215 closed, assigned to danielfernandez

[2013-09-30 07:06] ultraq commented on #208
Documentation is in the [thymeleaf-docs](https://github.com/thymeleaf/thymeleaf-docs) project.  In the root folder you'll find the markdown (.md) files corresponding to each of the 3 guides/tutorials that are available on the website.  HTML and PDF versions are generated from those markdown files using the Gradle build script.  Setup/installation instructions for generating the HTML/PDF versions a

[2013-09-30 12:49] 4dz opened #216 "Thymeleaf 2.1 Parser Comments not working"
The parse comments as documented in https://github.com/thymeleaf/thymeleaf/issues/183 are not working/not being removed.

e.g.

[code]

... are not being removed in v2.1 beta 1.

Likewise the related method for commenting out blocks of code does not work,

[code]

However the comment which injects a dom element e.g. th:block DOES work,

[code]

Details about specific configuration below but this o

[2013-09-30 16:52] opensource21 commented on #208
So I added the documentation see https://github.com/thymeleaf/thymeleaf-docs/pull/1. As far as I understand the eclipse-plugin must not be changed.

[2013-10-01 00:24] danielfernandez opened #217 "Refactoring of the current StandardExpressionParser/Executor/Processor mechanism"
The following refactorings should be performed on the current mechanism for executing Standard Expressions:
- Create `IStandardExpression` as an interface for Standard Expression objects.
  - Current `Expression` will be an implementation of this interface.
- Deprecate `StandardExpressionExecutor` and move all public expression execution methods to the `IStandardExpression` implementations.
- Crea

[2013-10-01 00:27] #217 closed, assigned to danielfernandez

[2013-10-01 00:33] danielfernandez commented on #217
Updated 2.1.0-SNAPSHOT

[2013-10-02 05:38] opensource21 opened #1096 "Compare results by means of normalized markup in thymeleaf-testing"
If you write test you must create an expected result exactly (character by character) as it will be generated. Mostly I only want to know if the html-structure is good.
It's much more convenient to write the expected structure with newlines and indention, than writing everything into one single line with blanks in it.
So I would prefer to have the possibility to pretty-print the result and the exp

[2013-10-02 09:45] ultraq commented on #208
Pull requests for the code and doc updates were accepted.  We'll figure out what to do for the Eclipse plugin XML files once 2.1.0-beta2 goes out: https://github.com/thymeleaf/thymeleaf-extras-eclipse-plugin/issues/30

[2013-10-02 09:45] #208 closed, assigned to danielfernandez

[2013-10-03 12:18] rustamm opened #218 "Inefficient implementation of org.thymeleaf.util.IdentityCounter is a performance bottleneck for large templates"
Used profiling tools to track performance issues in my project and seen following picture:

![isalreadycounted](https://f.cloud.github.com/assets/5218959/1261139/502637f8-2c25-11e3-8ba9-b37027995ae3.png)

Current implementation of IdentityCounter is too slow - isAlreadyCounted method has linear-time performance depending on the number of counted objects. I rewritten it to work with constant-time p

[2013-10-03 12:30] danielfernandez commented on #218
Sounds really good. Thanks. Please remember to read and accept (a github comment will do) the guidelines for contributing when you do your pull request: https://github.com/thymeleaf/thymeleaf/blob/2.1-master/CONTRIBUTING.markdown

[2013-10-03 12:50] rustamm commented on #218
I've read the guidelines and I accept them by making this comment.

[2013-10-03 20:27] ultraq commented on #218
:+1:

[2013-10-04 23:53] danielfernandez commented on #216
Confirmed. This is happening only in the `LEGACYHTML5` template mode. Parser level comment blocks are being processed (i.e. removed) at the XmlSAXHandler, which is never used in that template mode (parsing is done by nekoHTML in legacy mode).

Perhaps processing of parser level comment blocks should be moved to the `TemplatePreprocessingReader` class.

[2013-10-05 13:22] danielfernandez commented on #212
According to http://nekohtml.sourceforge.net/settings.html, the `http://cyberneko.org/html/features/balance-tags/document-fragment` should help avoiding this behaviour, without completely losing the benefit of neko's HTML tag balancing operations.

[2013-10-05 13:55] #216 closed, assigned to danielfernandez

[2013-10-05 13:55] #212 closed, assigned to danielfernandez

[2013-10-05 13:55] danielfernandez commented on #212
Updated 2.1.0-SNAPSHOT and 2.0.19-SNAPSHOT

[2013-10-05 13:55] danielfernandez commented on #216
Updated 2.1.0-SNAPSHOT

[2013-10-05 19:32] opensource21 opened #220 "org.xml.sax.SAXException: Scanner State 24 not Recognized"
Seems to be a regression: https://github.com/thymeleaf/thymeleaf/issues/37
It happens after changing encoding to UTF-8!
Tested with 2.0.17 and 2.0.18

[2013-10-05 19:37] danielfernandez commented on #220
Would you be able to share the template file that raises this error when parsing? If it only happens when encoding is set to a specific value, my first thought is this could be an issue in the `TemplateProcessingReader`, but it might be very specific, so it would be nice if we could have the template causing this...

[2013-10-05 19:44] opensource21 commented on #220
Yes I send it via Mail to you. I figured out that with 2.0.8 I get another error:

[code]

[2013-10-05 20:29] opensource21 commented on #220
Added Xerces as a dependency and get them with Thymeleaf 2.0.17 an error with leads me to
http://stackoverflow.com/questions/5138696/org-xml-sax-saxparseexception-content-is-not-allowed-in-prolog. If I convert the files to UTF-8 without BOM everything works fine. Even if I drop xerces from classpath.

[2013-10-05 21:21] #220 closed, assigned to danielfernandez

[2013-10-05 21:26] danielfernandez commented on #220
Thanks for your files. I've just been able to fix this.

Given thymeleaf parsers work at a `char[]` level, there is no need to preserve the Byte Order Mark symbols, so I've modified the template parser reader to just skip them and not cause any problems during parsing.

Both the _Scanner State 24 not Recognized_ (xerces not in classpath) and the _Content is not allowed in prolog_ (xerces in classp

[2013-10-05 21:27] danielfernandez commented on #220
Updated 2.0.19-SNAPSHOT and 2.1.0-SNAPSHOT.

[2013-10-06 05:58] opensource21 commented on #220
Two further information:
1. On Unix and with Eclipse the files are normally UTFwithoutBOM so the problem only happens if someone use a converter. So it's not a blocker, sorry for describing it so dramatic.
2.  As far as I understand the BOM is only the first byte, so there is no need to check it everywhere. As I understand a check everywhere could have side effects.  Following the German Wikipedia

[2013-10-06 11:06] danielfernandez commented on #220
Once the stream is converted to chars, BOM symbols should be interpreted as zero-size whitespaces, which basically means they should be ignored.

The purpose of that symbol is the correct auto-configuration of unicode character input streams, and as thymeleaf output (result) is a different document than input (template) --created by different output writers-- in my opinion it makes no sense to let

[2013-10-07 08:34] opensource21 commented on #220
Didn't find a clear definition how to handle it. In BOMInputStream.java I think only the first bytes are handled as BOM. However I don't think that it will have any influence on behavior only the performance will be a little bit better if you only check the first bytes.

[2013-10-07 22:28] danielfernandez commented on #104
This has been implemented at thymeleaf/thymeleaf-spring3#19

[2013-10-07 22:28] #104 closed, assigned to danielfernandez

[2013-10-07 22:29] danielfernandez commented on #191
This has been implemented at thymeleaf/thymeleaf-spring3#19

[2013-10-07 22:29] #191 closed, assigned to danielfernandez

[2013-10-07 23:08] danielfernandez commented on #218
Merged into 2.1.0-SNAPSHOT

[2013-10-07 23:08] #218 closed, assigned to danielfernandez

[2013-10-08 11:45] 2325407504 opened #221 "Nested replace enhancement"
[code]

how can I replace Please select with backend one?

[2013-10-08 11:56] jmiguelsamper commented on #221
Please use the forums:
   http://forum.thymeleaf.org/General-Usage-f2234430.html

We'll be glad to help you.

[2013-10-08 11:56] #221 closed, assigned to jmiguelsamper

[2013-10-10 13:24] danielfernandez opened #222 "Fine tune applicability of conversion service"
**EDIT: Definitive implementation is explained in #223**

Based on the issue explained by user "cachescrubber" here: http://forum.thymeleaf.org/Formatting-with-Spring-Formatter-td4026363.html#a4026867 it looks as a good idea to try to fine tune when the conversion service should be used for String conversion and when it shouldn't.

Scenarios as the `th:href` one explained there seem at first incom

[2013-10-10 19:12] danielfernandez commented on #222
After some thinking, IMO this could be a feasible specification:
- Expression pre-processing: never apply conversion.
- Simple expressions (components of Standard Expressions):
  - Link expressions (`@{...}`): never apply conversion.
  - Message expressions (`#{...}`): only apply conversion to parameters, not to message keys.
  - Literals and tokens: never apply conversion.
  - Variable/Selection

[2013-10-10 20:11] ultraq commented on #222
How are you thinking of being able to turn this feature on/off?  I think there are far too many attribute processors to try do it on a processor by processor basis.  Maybe a flag in the expression, eg: ${!...} ?  What would the default behaviour be then?

[2013-10-10 20:27] danielfernandez commented on #222
@ultraq actually, if you see the list in my comment above, I think there are only 7 attributes meant to output _arbitrary text_ (not simply _Strings_). And those should be the only attribute processors in which it actually makes sense that the default behaviour is applying the conversion service. As for how to turn it off... preprocessing or `toString()` should do, as explained above.

For the res

[2013-10-11 05:16] cachescrubber commented on #222
Since the main focus of the conversionService is data binding, it should be automatically applied in
- form-binding (as always)
- The parameter part of @{...} expressions.

It should probably be not applied to
- The path part of @{...} expressions.

simply because it has great potential to break existing code.

Please consider it as the default for *{...} expressions. Why? It is already a mechanis

[2013-10-11 07:57] danielfernandez commented on #222
@cachescrubber thanks for your comments!

Conversion will always be applied to form binding, this has been working like that since Thymeleaf 1.0, because Spring applies the conversion service to form-bound data even before it reaches thymeleaf's code (so, actually, there is no way we could even opt-out from this :-)).

As for parameters... I don't think it should be applied to parameters in `@{...

[2013-10-11 08:04] danielfernandez commented on #222
I've edited the specification in my comment above ( https://github.com/thymeleaf/thymeleaf/issues/222#issuecomment-26082347 )  to try to explain it in a much simpler way.

[2013-10-11 08:26] cachescrubber commented on #222
Not exactly. There is indeed a difference. If the userid is not part of the url's path, but a url encoded request parameter instead, it will be converted back an forth by spring. To stay with your example:

[code]

This is what I meant with "data binding". Spring will pass request parameters through the conversionService, whether they are GET request params or POST data. But it apparently does not

[2013-10-11 11:49] danielfernandez commented on #222
I see your point. Let me dig a bit deeper into how Spring would really create this URLs using their JSP tag library, so that I can better tune this part of the spec...

[2013-10-11 12:05] cachescrubber commented on #222
@danielfernandez: thank you for taking that time - better to double or tripple check such a crucial piece of code.

I'll check github and the forum to test and give feedback with whatever you come up with.

[2013-10-12 17:29] opensource21 commented on #222
Be careful to format the messages. Messages has an own formatting syntax.

[2013-10-13 00:16] danielfernandez commented on #222
@opensource21 what do you mean?

[2013-10-13 12:55] danielfernandez commented on #222
After doing some tests and even looking quite carefully into Spring's JSP tag library source code, I can say Spring's JSP tag for creating URLs (`<spring:url>`, which mirrors the standard JSTL `<c:url>`) **does not** apply conversion neither to URL paths nor URL parameters.

The only way to do so is to do it manually, using `<spring:eval>` or `<spring:transform>`.

So thymeleaf should be safer (an

[2013-10-13 15:45] opensource21 commented on #222
@danielfernandez You wrote

But I have for example messages like this: `/user/edit/{0,number,##}`. So I declare in the message-source how to format the parameter. Or see http://kodejava.org/how-do-i-format-a-message-that-contains-date-information/. So in messages has a conversion service. It would be bad if you format the parameter first.

Another aspect I hope you have in mind: You can define at

[2013-10-16 22:58] danielfernandez opened #223 "New double-bracket syntax for the application of the conversion service"
In order to regulate the use of the `IStandardConversionService` (and its Spring `ConversionService` counterpart, to which the standard service delegates), a new syntax should be established:
- For variable expressions: `${{...}}`
- For selection expressions: `*{{...}}`

This double-bracket syntax should be the only way to apply the conversion service to the expression results, therefore convertin

[2013-10-16 22:58] danielfernandez commented on #223
Note this issue substitutes #222

[2013-10-16 23:03] danielfernandez commented on #222
Closing this issue in favour of the implementation that has been finally decided, explained in #223

[2013-10-16 23:03] #222 closed, assigned to danielfernandez

[2013-10-16 23:38] danielfernandez commented on #223
Added to 2.1.0-SNAPSHOT

[2013-10-16 23:38] #223 closed, assigned to danielfernandez

[2013-10-17 12:04] petergeneric opened #224 "Add conditional th:remove"
It would be useful to have a conditional form of th:remove, as originally described in http://forum.thymeleaf.org/Conditional-variant-of-th-remove-quot-tag-quot-td4025254.html

The use case described in that topic seems like a generally useful one (making a link only appear for admins, whereas non-admins would simply see the text)

[2013-10-17 16:07] opensource21 commented on #223
Please make sure that the documentation of a migration from 2.0 to 2.1 should contain a search for `"*\{(.*)\}"` replace with `"*{{$1}}"`.

[2013-10-17 16:11] danielfernandez commented on #223
@opensource21 why? single-bracket expressions will work in 2.1 exactly as they do in 2.0... no need to modify them when migrating.

[2013-10-18 16:14] opensource21 commented on #223
@danielfernandez I guess I miss something, but my understanding is the following:
2.0 Only for th:fields with *{var} the value will be formatted.
2.1 For all expression single brackets-var will not convert. This should true for th:field too. So old code must be changed. Or is there an inconsistency?

[2013-10-18 18:12] danielfernandez commented on #223
@opensource21 ok, I understand your point. Let me explain:

Correct. Single-bracketted selection (`*{...}`) expressions are only formatted in form inputs, specifically in `th:field` attributes. This is something we cannot even opt-out, because it is done by Spring before thymeleaf retrieves the data from the form object.

Single brackets will not convert, exactly. But that cannot be true for `th:f

[2013-10-19 17:59] acr92 opened #225 "Issue with > and < signs in HTML attributes"
Hello,

I am using Knockout.js with Thymeleaf running on Spring MVC, and if I have the following element in a thymeleaf view:

[code]

I get an error because of the < 3 part.

The stacktrace is the following:

[code]

Thymeleaf version: 2.0.16

My quick workaround is just to define this as a method in the knockout js file, and call that instead of the function. But that isn't the preferred (Knocko

[2013-10-19 19:48] danielfernandez commented on #225
Thymeleaf uses an XML parser underneath. And by XML and XHTML specification, all `<`, `>` and `&` signs should be encoded in attributes, like `&lt;`, `&gt;`, `&amp;`.

[2013-10-19 19:48] #225 closed, assigned to danielfernandez

[2013-10-22 00:33] danielfernandez commented on #224
This will be implemented by allowing `th:remove` to take any Thymeleaf Standard Expression, as long as it returns one of the following literal values:
- `all`
- `body`
- `tag`
- `all-but-first`
- `none`

Which means a conditional removal could be implemented like:

[code]

This should be perfectly backwards-compatibly while adding the new functionality.

[2013-10-22 00:38] danielfernandez commented on #224
Also note that `th:remove` could consider `null` a synonym to `none`, so that the following works exactly as the example above:

[code]

If `${condition}` is false, null will be returned, and thus no removal will be performed.

[2013-10-22 00:45] #224 closed, assigned to danielfernandez

[2013-10-22 00:53] danielfernandez commented on #224
Updated 2.1.0-SNAPSHOT

[2013-10-27 17:07] jmiguelsamper opened #227 "randomAlphanumeric in #strings object"
Shouldn't the org.thymeleaf.util.StringUtils.randomAlphanumeric() method be also in #strings (org.thymeleaf.expression.Strings) object?

[2013-10-27 22:09] danielfernandez commented on #227
Hmmm yes. I cannot really remember why that method was implemented :$, but it could be useful for some sorts of non-static prototyping...

Can you take care of it? :)

[2013-10-27 22:20] jmiguelsamper commented on #227
I came to it reviewing the ChangeLog. Yes, I'll fix it.

[2013-10-28 17:30] #227 closed, assigned to jmiguelsamper

[2013-10-28 17:43] emilime opened #228 "Parsing error from version 2.0.17"
Hello,

we are using Thymeleaf not only for web template but also for email and we have just discovered this strange error:

we use the standard web template engine and in controller a WebContext:

[code]

in email template this line works until 2.0.16 and gives a parsing error from 2.0.17:

[code]

the same expression works in a web template but not in email calling templateEngine.process(...)

w

[2013-10-28 21:43] jmiguelsamper commented on #228
This error is fixed in 2.0.18.

If you want to avoid the error update to 2.0.18 or 2.0.19 and add this line to your code
        RequestContext requestContext = new RequestContext(request, request.getServletContext());
        ctx.setVariable(SpringContextVariableNames.SPRING_REQUEST_CONTEXT, requestContext);

[2013-10-28 21:43] #228 closed, assigned to jmiguelsamper

[2013-10-28 22:14] emilime commented on #228
Thank you very much! It works perfectly :)

[2013-10-29 14:48] danielfernandez opened #229 "Create new version of DTDs"
The DTD files for XHTML should be updated in 2.1, adding the following new structures:
- `th:assert` attribute.
- `th:replace` attribute.
- `<th:block>` tag.
- `th:errorclass` attribute (for thymeleaf-spring3).

New version is version 4:

[code]

[2013-10-29 14:49] #229 closed, assigned to danielfernandez

[2013-10-29 14:56] danielfernandez commented on #229
Updated 2.1.0-SNAPSHOT

[2013-10-31 16:01] zaza10 opened #230 "Radio button not binding correctly"
Radio buttons not working always checked when you include the th:field and doesnt bind the value back to the backing bean

http://forum.thymeleaf.org/radio-button-not-binding-correctly-tt4026964.html

[2013-11-01 13:04] danielfernandez opened #231 "DOM Selectors in-depth search does not go through all nesting levels"
The current DOM Selector implementation has a bug regarding in-depth search.

The selector `//li/b` should match `<b>hi<b>` here:

[code]

...but it doesn't , probably because the first `<li>` element it finds does not match (and therefore does not go on searching).

[2013-11-01 13:18] #231 closed, assigned to danielfernandez

[2013-11-01 13:28] danielfernandez commented on #231
Updated 2.1.0-SNAPSHOT

[2013-11-01 14:45] danielfernandez commented on #231
Update 2.0.20-SNAPSHOT

[2013-11-01 22:21] danielfernandez commented on #230
Answered at the forum. Closing this ticket. Thanks.

[2013-11-01 22:21] #230 closed, assigned to danielfernandez

[2013-11-03 00:32] danielfernandez opened #232 "Make StandardDialect truly configurable"
Currently, there are three _execution attributes_ being established by the Standard Dialects:
- The Standard Variable Expression Evaluator (in charge of executing `${...}` and `*{...}`).
- The Standard Expression Parser (in charge of parsing Thymeleaf Standard Expressions).
- The Standard Conversion Service (in charge of converting `${{...}}` and `*{{...}}`).

None of these values can be configure

[2013-11-03 01:57] danielfernandez opened #233 "Extract URL and form-specific attribute processors to their own class"
In order to allow developers to further customize the way some specific processors handle URLs and form mechanisms, the following attribute processors should be extracted to their own classes:
- `th:action`
- `th:href`
- `th:method`
- `th:src`
- `th:value`

Besides, given the influence that a form's `method` attribute might have in the way their URLs are handled and/or shaped, the precedence of `t

[2013-11-03 02:11] #232 closed, assigned to danielfernandez

[2013-11-03 02:11] #233 closed, assigned to danielfernandez

[2013-11-03 02:36] danielfernandez commented on #233
Updated 2.1.0-SNAPSHOT

[2013-11-04 07:26] yseun opened #234 ""th:remove" attribute still remains in output."
I need &lt;rotation&gt; tag if only the network is IPTV.
Removing &lt;rotation&gt; tag is successfull,
but else, "th:remove" attribute still remains in output.

template : (in case, network is "IPTV")
&nbsp;&nbsp;&nbsp;&lt;rotation th:remove="${network != 'IPTV'} ? all"/&gt;
I guess the following result :
&nbsp;&nbsp;&nbsp;&lt;rotation /&gt;
but, the result is :
&nbsp;&nbsp;&nbsp;&lt;rotation <b>t

[2013-11-04 07:49] #234 closed, assigned to danielfernandez

[2013-11-04 07:51] danielfernandez commented on #234
Fixed and updated in 2.1.1-SNAPSHOT.

[2013-11-04 15:09] zimmi opened #235 "Hard dependency on OGNL + javassist for Non-StandardDialect"
In thymeleaf-spring version 2.1.0-beta2 it was possible to remove the dependencies on javassist and OGNL because the StandardDialect was not used:

[code]

In 2.1.0.RELEASE that's no longer possible.

Excluding OGNL and javassist as seen above leads to:

[code]

Only excluding OGNL leads to:

[code]

Something similiar was once fixed for issue #137. I would argue that keeping javassist and OGNL op

[2013-11-06 07:19] bingozzzz commented on #108
I defined  an custom ITemplateWriter to remove empty lines.

[code]

lTemplateWriter configuration:

[code]

spring mvc view configuration:

[code]

[2013-11-07 22:04] danielfernandez opened #236 "Flags for processing text and comment nodes not being correctly propagated to fragments"
The `processTextNodes` and `processCommentNodes` flags in nodes are not being propagated to their new children when they are added.

This causes, for example, that the Conditional Comments Dialect does not process comments when they are added from fragments. See http://forum.thymeleaf.org/Conditional-comments-extras-not-working-with-fragments-td4027034.html

[2013-11-07 22:11] #236 closed, assigned to danielfernandez

[2013-11-07 22:12] danielfernandez commented on #236
Updated 2.1.1-SNAPSHOT and 2.0.20-SNAPSHOT

[2013-11-10 14:49] igo opened #237 "Improve API Documentation"
Please improve whole Java API documentation. Currently it's described insufficiently thus making extensions is very difficult.

[2013-11-12 08:10] ultraq opened #238 "Using the | (pipe / vertical bar) character causes expression parsing exceptions"
From the forums: http://forum.thymeleaf.org/How-to-properly-escape-the-vertical-bar-td4027061.html

The developer wants to use the | character, but it looks like the `LiteralSubstitutionUtil` class gets at it first and then messes things up with it, causing a parsing exception to be thrown.

[2013-11-13 11:14] ghost opened #239 "ThreadLocal memory leak warning still present in Tomcat after upgrade to version 2.1"
Referring to https://github.com/thymeleaf/thymeleaf/issues/90

I have upgraded to version 2.1 of artifacts thymeleaf and thymeleaf-spring3. Upon redeploying I still get in my catalina log:

2013-11-12 13:31:15,469 ERROR [ContainerBackgroundProcessor[StandardEngine[Catalina]]] org.apache.catalina.loader.WebappClassLoader- The web application [/admin] created a ThreadLocal with key of type [java.lan

[2013-11-14 14:49] danielfernandez opened #240 "Perform context sensitive escaping"
Text escaping in inlining mode should be done in a context sensitive manner. So escaping in comments should take care of -- instead of <>, etc

[2013-11-15 15:15] Rouche opened #241 "Disabled Checkbox and Select multiple override model"
I have a checkbox disabled because a part of the form cannot be changed.

The value is Checked.

The checkbox seems to still generate the hidden field.
When i submit, the Spring model is overriden with a False (checkbox) and Null (multiselect)

They should not be generated at all. (hidden on disabled fields)

[2013-11-15 22:29] ultraq opened #242 "Reflection w/ Google App Engine and Thymeleaf 2.1"
From the forums: http://forum.thymeleaf.org/Google-App-Engine-error-Thymeleaf-2-1-td4027046.html

Running Thymeleaf 2.1 in Google App Engine leads to errors when it comes to using reflection.  The OP then found that this wasn't a problem in Thymeleaf 2.0.19, so something happened between 2.0 and 2.1 that is causing this.

Stack trace shows that `org.thymeleaf.context.OGNLVariablesMapPropertyAccess

[2013-11-19 12:44] danielfernandez commented on #241
Verified. Note this affects the thymeleaf/thymeleaf-spring3 module and not this core one. Created thymeleaf/thymeleaf-spring3#41 referencing this ticket, which will be closed.

[2013-11-19 12:44] #241 closed, assigned to danielfernandez

[2013-11-19 12:47] danielfernandez commented on #242
Might be related to #235

[2013-11-19 12:48] #179 closed, assigned to danielfernandez

[2013-11-23 22:13] #238 closed, assigned to danielfernandez

[2013-11-23 22:16] danielfernandez commented on #239
I am not able to reproduce this. I've verified that `ThreadLocal`'s are not used anymore in the whole `thymeleaf` and `thymeleaf-spring3` code bases for versions 2.1.x...

Could you please double-check that you are experiencing this error message from an application using 2.1? Maybe you have several applications in your Tomcat and the one outputting this message is still using 2.0...

[2013-11-23 22:18] danielfernandez commented on #238
Fixed. Updated 2.1.2-SNAPSHOT

[2013-11-23 23:03] #235 closed, assigned to danielfernandez

[2013-11-23 23:04] danielfernandez commented on #235
Initialization code for `StandardDialect` was making a reference to `OGNLVariableExpressionEvaluator` even before it was decided whether this was needed or not (because of the presence of Spring). Should now be fixed.

Updated 2.1.2-SNAPSHOT

[2013-11-24 10:19] zimmi commented on #235
That's great, thank you so much. :)

[2013-11-24 17:21] #242 closed, assigned to danielfernandez

[2013-11-24 17:32] danielfernandez commented on #242
This couldn't be reproduced. A similar scenario was tested using Google App Engine SDK 1.8.7 and 1.8.8, both using the Dev server and the Google Cloud server. Everything worked OK.

The lines of code provoking this issue seem to be https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-2.1.1.RELEASE/src/main/java/org/thymeleaf/context/VariablesMap.java#L58-L65, where a default-visibility constructo

[2013-11-24 18:38] makigumo opened #243 "odd/even properties of iteration status variable are counterintuitive"
In `org.thymeleaf.processor.attr.AbstractIterationAttrProcessor.StatusVar` `isEven()` is calculated starting from zero, which will make the first iteration 'even'. In the real world you would expect the first iteration to be 'odd', as you usually start counting from 1. Thus I propose the following change in implementation.

[code]

[2013-11-25 14:32] ghost commented on #239
I have taken another look at the log file now and I can see that the ThreadLocal message appears when tomcat is UN-deploying  the old webapp (which contained the older artifacts) and not when deploying the new one. Sorry for putting you into additional work and thanks for your good job with Thymeleaf.

[2013-11-25 17:00] #239 closed, assigned to danielfernandez

[2013-11-28 00:31] danielfernandez commented on #241
Just in case you are not following thymeleaf/thymeleaf-spring3#41, This has been fixed and included into 2.1.2-SNAPSHOT and 2.0.20-SNAPSHOT.

[2013-11-28 00:43] Rouche commented on #241
Dont worry i follow :)

caint wait to remove the Javascript fix!

Thanks!

On Wed, Nov 27, 2013 at 7:31 PM, Daniel Fernández
notifications@github.comwrote:

[2013-11-28 00:46] danielfernandez commented on #241
OK. Remember you can directly use snapshot releases if you want to test, by following the instructions here: http://www.thymeleaf.org/faq.html#use-snapshot

[2013-12-02 12:51] jmiguelsamper opened #244 "StackOverflow error with preprocessing expression"
I've come to a preprocessing parsing error.

Given a context attribute with value `1--1`, for example

[code]

and a `th:href` expression like

[code]

the following exception is raised

[code]

[2013-12-02 12:51] jmiguelsamper commented on #244
Tested on 2.1.1

[2013-12-03 14:35] zotheca opened #245 "Replace fragment local variable is incorrect"
Local variables inside fragments are handled differently in th:replace than in th:include. In th:include the local variable can be overriden in sub fragments. With th:replace the local variable override is removed and the original value comes though.

Example:

[code]

![replacelocalvariable](https://f.cloud.github.com/assets/6096044/1664487/220facea-5c28-11e3-9ff0-9cbc1b001562.png)

The cause see

[2013-12-03 14:55] ghost opened #246 "th:block not working properly in document head"
Using org.thymeleaf.spring3.SpringTemplateEngine and template mode LEGACYHTML5, th:block is not behaving as expected. For example:

[code]

renders as

[code]

Also th:each in th:block does not render in head tag as expected. In document body th:block behaves as expected.

[2013-12-07 18:57] #244 closed, assigned to danielfernandez

[2013-12-07 19:28] danielfernandez commented on #244
Updated 2.1.2-SNAPSHOT

[2013-12-07 20:34] #245 closed, assigned to danielfernandez

[2013-12-07 20:37] danielfernandez commented on #245
Verified and fixed. Thanks a lot for the pointers, you've been really helpful!

Indeed, the bug was caused by `NestableNode.extractChild(...)` always replacing _all_ the local variables. I've modified it so that now it only adds those variables from its grandparent (new parent) that are missing, so that any child local variables are not overwritten.

Your example works OK now, and has been added a

[2013-12-08 20:15] danielfernandez commented on #246
This has been verified. Apparently, when using the `LEGACYHTML5` template mode, nekoHTML (executed prior to the thymeleaf parsers) is performing an inconvenient tag balancing operation, closing the `<th:block>` when it encounters the `<script>` tag, like:

[code]

...which basically provokes the `<th:block>` to execute OK, but not do anything.

In order to solve this, it would be necessary to some

[2013-12-09 07:35] Kleeven81 opened #1095 "Wildcard/pattern matching on output at thymeleaf-testing"
In order to make more robust test for templates that have a variable output, for instance showing the current date, it would be nice to have either wildcard or pattern matching support in the output of test cases.

For example the following template would otherwise be impossible to test:

[code]

[2013-12-09 07:57] Kleeven81 opened #1094 "Support for custom message resolver in thymeleaf-testing"
In our project we are using a custom message resolver which we would also like to be able to use in the testing framework. Currently for each test a new TestEngineMessageResolver is created with no way to replace it with a custom implementation.

[2013-12-11 15:16] dimw opened #247 "Add CDN support for LinkExpression"
The Link URL Expression `@{...}` should be enhanced in order to allow to relink existing resources to a CDN. As analogy to the server-relative URLs, this could be done by adding a certain static prefix before the resource address:

[code]

(which is suitable for a single-domain CDN) or defining a certain specific dummy protocols:

[code]

The latter, if explicitly defined, should be evaluated to s

[2013-12-14 18:24] ghost commented on #246
Daniel, many thanks for analyzing this issue. We'll discuss to switch to an XML syntax variant and the respective parser. By now we tried to avoid it for its 'verbosity'.

[2013-12-15 16:02] jegadisan commented on #32
Is there any progress on this issue ? I do not see the OSGI bundles for thymeleaf in the repositories

[2013-12-18 06:30] johnlauer commented on #160
I would second the need for allowing tags like <br> without requiring the /. It makes it really hard to move from JSP to Thymeleaf. For the sake of adoption, please allow these types of tags. If anything, let Thymeleaf stick in the slashes if it wants to. Make our developer lives easy and more folks will adopt Thymeleaf.

[2013-12-18 08:46] 4dz commented on #160
For our purposes, we tend to rely on the LEGACYHTML5 mode.

[2013-12-19 09:33] mpscheidt opened #248 "xhtml11-thymeleaf-spring3-4.dtd cannot be validated"
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-3.dtd">

is validated fine by the W3C validator, but

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-4.dtd">

the W3C validator complains:
- Error (http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-4.dtd) Line 446, Column 22: parameter entity "Flow" not defined
- Error (http://www.thym

[2013-12-23 10:32] paulfairless opened #249 "Template Preprocessing and BEM CSS syntax"
We're using the BEM notation for organising our CSS. This however has thrown up an issue with the preprocessing template syntax `__${something}__`

BEM stands for Block Element Modifier and requires you to structure your CSS as

[code]

Now we are running into issues with the preprocessor and the `block__element` class names clashing. I understand we can escape the `__` however this results in tem

[2014-01-02 12:55] danielfernandez opened #250 "PORT: DOM Selectors in-depth search does not go through all nesting levels"
Port of #231 for Thymeleaf 2.0

[2014-01-02 12:56] #250 closed, assigned to danielfernandez

[2014-01-02 12:59] danielfernandez opened #251 "PORT: Flags for processing text and comment nodes not being correctly propagated to fragments"
Port of #236 for Thymeleaf 2.0

[2014-01-02 12:59] #251 closed, assigned to danielfernandez

[2014-01-02 13:02] danielfernandez opened #252 "PORT: Disabled Checkbox and Select multiple override model"
Port of #241 for Thymeleaf 2.0

[2014-01-02 13:02] #252 closed, assigned to danielfernandez

[2014-01-02 17:57] danielfernandez commented on #7
Since the release of Thymeleaf 2.1, this is covered by the integration with the Spring conversion service. See http://www.thymeleaf.org/whatsnew21.html#spconv

[2014-01-02 17:57] #7 closed, assigned to danielfernandez

[2014-01-02 18:03] danielfernandez commented on #12
Note for future evaluation: any work in this direction would require checks for avoiding adding vulnerabilities regarding code injection.

[2014-01-02 18:20] danielfernandez commented on #62
Note Thymeleaf supports the `data-` extension syntax in HTML5 since 2.1, and this could ease the error handling of nu.validator.

[2014-01-02 18:20] danielfernandez commented on #62
Note the use of attoparser should render this unnecessary. But this should be a feasible _plan B_

[2014-01-02 18:21] #63 closed, assigned to danielfernandez

[2014-01-02 23:33] danielfernandez commented on #89
This is covered by Thymeleaf 2.1's support of _literal substitutions_, which can be used inside `@{...}` expressions. See http://www.thymeleaf.org/whatsnew21.html#lsub