[2019-07-30 11:09] MossounAndre commented on #745
Use th:each="index, item: ${items}"

[2019-08-02 12:30] AkaneMurakawa commented on #745
@MossounAndre thank you

[2019-08-05 09:14] bulentozdil commented on #717
I am facing same problem with **spring boot 2.0.0.RELEASE** and thymeleaf
I used different ways of fragment path in controller class to return html but result is not changed.

like this:

- return "/views/fragments/installment_table :: installment1"

- return "fragments/installment_table :: installment1"

- return "installment_table :: installment1"

**resources/views/fragments/installment_table.h

[2019-08-07 12:24] bulentozdil commented on #717
When I return ModelAndView instead of "/views/fragments/installment_table"  this problem was solved.

[2019-08-14 07:33] anchao-lu opened #759 "About Comments"
* Version of Thymeleaf (and any involved extensions) you are using. 3.0.11
  * Environment: versions of Spring, Spring Boot, or any other relevant libraries. Spring Boot2.1.7

my Html page contents this ``.
when I access this page, then I get this `Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is org.thymeleaf

[2019-08-17 09:53] devplayg opened #760 "cast"

[2019-08-17 22:55] ultraq commented on #760
Empty/accidental issue created?  (I even tried hitting Edit on the original post and couldn't find anything except the issue template.)  Closing.

[2019-08-17 22:55] #760 closed, assigned to nobody

[2019-08-26 22:47] xhc-code opened #761 "关于Thymeleaf 3.0.11.RELEASE版本,IFragmentSpec接口找不到问题"
您好，我在thyme leaf中遇到关于渲染模板片段的接口在3.11版本不存在的问题，请问，在Thymeleaf 3.0.11.RELEASE版本中，找不到org.thymeleaf.fragment.IFragmentSpec接口及相关实现，但在Thymeleaf3的文档中有进行此接口的使用说明(https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html#rendering-template-fragments)
，是此接口移动到其他扩展包？还是进行重新命名了？我在Thymeleaf 2.1.6.RELEASE版本中可以查找到IFragmentSpec接口及其相关实现。请问是什么原因呢？

[2019-08-26 22:48] starSmallDream commented on #761
请问是说明原因呢？  ==》 请问是什么原因呢？

[2019-09-06 06:10] NikhilParmar47 commented on #451
Hello Friends,

I facing below error and warning in spring boot version 2.1.7.RELEASE with thymeleaf.

WARN  is :

layout:decorator/data-layout-decorator processor has been deprecated and will be removed in the next major version of the layout dialect.  Please use layout:decorate/data-layout-decorate instead to future-proof your code.

Error is :
[THYMELEAF][http-nio-9090-exec-8] Exception process

[2019-09-07 04:11] dallaslu commented on #247
[code]

[2019-09-09 00:16] grath10 commented on #451
It seems that you do not need the '/'， try to return "signup" instead.

At 2019-09-06 14:10:39, "Nikhil Parmar" <notifications@github.com> wrote:

Hello Friends,

I facing below error and warning in spring boot version 2.1.7.RELEASE with thymeleaf.

WARN is :

layout:decorator/data-layout-decorator processor has been deprecated and will be removed in the next major version of the layout dialect. P

[2019-09-15 11:48] jonnybecker opened #762 "Update jackson-databind dependency due to vulnerabilities (CVE-2019-12384)"
FasterXML jackson-databind 2.x before 2.9.9.1 might allow attackers to have a variety of impacts by leveraging failure to block the logback-core class from polymorphic deserialization. Depending on the classpath content, remote code execution may be possible.

See https://www.cvedetails.com/cve/CVE-2019-12384/

[2019-09-16 08:35] ultraq commented on #762
Thanks for the report @jonnybecker.  Can bump the dependency to 2.9.9.2 for the next patch version.

[2019-09-16 09:11] ultraq commented on #638
Given all the Jackson updates we're making because of security vulnerabilities (#720, #762), we'll have the version of Jackson that includes this new feature in the 3.0.x branch already! 😆

[2019-09-16 16:18] jfleschler commented on #423
Resurrecting this issue in case someone else needs help adding `templateResolutionAttributes`.

The solution that we came up with is to create a new template engine that delegates to the out of box Thymeleaf `TemplateEngine`.  In doing so, we can modify the `templateResolutionAttributes` and then pass them along.

[code]

To configure the new `DelegatingTemplateEngine` we added the following confi

[2019-09-18 11:24] hbjastad opened #763 "Q: Is it possible to have thymeleaf in a JSON template and still have the template be valid JSON?"
Hi, I have been looking at the documentation for hiding thymeleaf with comments in
XML/HTML/etc, but is there a way to do the same in JSON?

If I have a template.json that looks like this:

[code]

Then thymeleaf does its job and produces a valid JSON file, with all
items in myList in the "enum" array.

However, template.json is not a valid JSON file, which is not ideal when editing it.
Is there a

[2019-09-19 02:53] rosemead opened #764 "is thymol still the preferred solution for evaluating fragments in static templates?"
Hi.

I followed the suggestion in section 3.8 of [the layout doc](https://www.thymeleaf.org/doc/articles/layouts.html), to get fragments displayed in templates when prototyped.

[Could not get thymol to work](https://github.com/thymol/thymol.js/issues/24).

I am new to frontend templating, so I may be missing something. It's just that my expectation was to be up-and-running quickly with fragments.

[2019-09-19 09:14] ultraq commented on #764
Hey there, it has been a while since we looked at Thymol, and checking out the repo right now it is looking a little quiet over there.  I'll find some time to see if I can get it going without too much difficulty, and if not then might consider adding some notes to that layouts article.

[2019-09-24 05:08] deved65 commented on #727
The problem is, that with the 3.2.x branch of OGNL the constructor of OGNLContext that is used by Thymeleaf in line 315 of OGNLVariableExpressionEvaluator has become deprecated. But unfortunately it is not only deprecated but also not working anymore as it will always throw a RuntimeException subsequently which down the chain ends up in Thymeleaf's exception handling. This def. requires a software

[2019-09-24 05:13] deved65 commented on #739
If you are managing the ognl dependency manually, like I do using maven, you could try latest release of 3.1.x branch of OGNL which is currently 3.1.25. This appears to be working for me under Java 11. But I did not build the thymeleaf project against this version... thus did not run the complete unit/integration test of thyemleaf; it is just user experience.

[2019-09-26 10:33] lukaszlenart commented on #727
Does Thymeleaf provide its own `MemberAccess` implementation?

[2019-09-28 04:33] deved65 commented on #727
I'm not expert on the thymeleaf code base. But I cloned the thymeleaf/thymeleaf repo and checked for implementations of MemberAccess. I could not find any implementation.

[2019-10-01 08:54] lukaszlenart commented on #727
Ok, so when you want to use OGNL 3.2.x you should provide your own implementation of `MemeberAccess` - it can be even the [default one](https://github.com/jkuhnert/ognl/blob/master/src/test/java/ognl/DefaultMemberAccess.java) - you can copy it into your code

[2019-10-03 06:09] lukaszlenart commented on #727
Also please be aware that 3.2.x line is still a [work-in-progress](https://github.com/jkuhnert/ognl/blob/master/docs/VersionNotes.md#release-notes---version-323---wip-new-changes-are-coming) - maybe I should express that better

[2019-10-03 08:47] ultraq commented on #764
I spent a while with trying to get Thymol working over the weekend.  Following the quickstart guide on the website gave me the same problems that you mentioned in the linked issue.  However, downloading the ZIP attached to the last release (https://github.com/thymol/thymol.js/releases/tag/2.0.0) and linking to the `thymol.js`/`thymol.min.js` file found in the ZIP worked for simple things if config

[2019-10-04 01:48] rosemead commented on #764
Thanks for looking into this.
Tried the suggested release with no success.

Specifically, I am interested in rendering a parameterized <head> fragment, as suggested [here](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#flexible-layouts-beyond-mere-fragment-insertion). However, even with non-parameterized footer fragment, I was unsuccessful (served statically via webserver, to over

[2019-10-04 07:32] ultraq commented on #764
One way that I make use of natural templating without fragments is to copy some of the result of the target fragment into the template being looked at.  So if I had say a main template and a footer fragment, I might have something like this:

footer.html

[code]

main.html

[code]

The main things to bring across would be enough class information to give the fragment its shape and/or colour (in th

[2019-10-10 14:22] Sven-WEBDESIGN opened #765 "Accessibility requirement: capacity to have an empty alt output in the HTML from an empty or null string variable passed into a th:alt property"
* Nature of the issue according to me: BUG
  * Problem description: Web accessibility for images that are decorative (that is most images on the web) requires that they have an empty alt property, see: [https://www.w3.org/WAI/tutorials/images/decorative/](https://www.w3.org/WAI/tutorials/images/decorative/)
  * Work-around: duplicate img tag with two versions, one with an alt="" when variable is a

[2019-10-10 21:59] ultraq commented on #765
Hi there, I tried creating an `<img>` with an empty `alt` attribute, ran it through Thymeleaf, and the output was as expected: an empty `alt` attribute.

For this template:

[code]

This is what I got:

![Screen Shot 2019-10-11 at 10 52 59 AM](https://user-images.githubusercontent.com/1686920/66609358-4f468200-ec15-11e9-8b11-ad0e1223d1b1.png)

This was using Thymeleaf 3.0.11 w/ Spring Boot 2.1.4,

[2019-10-11 06:34] Sven-WEBDESIGN commented on #765
Hello, @ultrahq, you are right: i don't know how i messed up my test. I am thankful for you taking the time to test and have this feedback. I'll close the issue right now.

[2019-10-11 08:26] Sven-WEBDESIGN commented on #765
I changed the case to refine the problem: there's no possibility to manage empty / null values in an th:alt property without having no outputted alt="" in the resulting HTML or having to duplicate blocks with an alt="" and a th:alt property with a non empty non null value.

Thymeleaf SHOULD output th:alt empty properties as alt="".

Thanks to @ultraq for helping me clarify the issue and pointing t

[2019-10-11 22:09] ultraq commented on #765
Yeah, the `th:alt=""` thing does bother me - I feel it should at least emit an empty `alt` value if the expression in it is empty itself or resolves to some "falsey" value.  I think we have other attributes that do this, so I can check those.

I'll leave this issue open and tag it as appropriate so that the other devs can see this and we can discuss if necessary.  Thanks for bringing this up @Sven

[2019-10-11 23:50] #762 closed, assigned to ultraq

[2019-10-12 07:21] Sven-WEBDESIGN commented on #765
Hello, thanks for considering this issue, it's an important point, accessibility-wise.
Let me know if i can help you in any way.

Have a good day.

[2019-10-12 07:25] Sven-WEBDESIGN commented on #765
Hello, thanks for considering this issue, it's an important point, accessibility-wise.
Let me know if i cna help you in any way.

Have a good day.

[2019-10-16 15:24] tholu opened #766 "Is Thymeleaf dead?"
I don't see any preparations for development on version 3.1, almost no commits since about a year to the core repository. Am I missing something or is this project slowly dying?

[2019-10-16 15:45] danielfernandez commented on #766
Nope :) But 3.1 will depend (if everything goes as it should) on other technologies that are being developed (at a slow pace, admittedly) as separate projects.

[2019-10-16 15:45] #766 closed, assigned to danielfernandez

[2019-10-17 07:01] tholu commented on #766
Thanks for the quick answer! Can you elaborate on what other technologies you are talking about? Can the community help?

[2019-10-17 07:27] danielfernandez commented on #766
One of the main ideas is to bring Thymeleaf closer to a true reactive approach in order to take better advantage of reactive scenarios. But that requires severe refactorings on several areas, like of course the processing core, but also non-blocking caches and an entirely new expression language (SpringEL compatible) that can work as a valid (lighter, simpler, reactive-friendly) replacement for th

[2019-10-17 08:07] frostblazergit commented on #761
translate:

[code]

Removal of classes? #502

https://github.com/thymeleaf/thymeleaf/issues/502#issuecomment-221976843

Please use English.

[2019-10-17 22:36] gustavo-9189 commented on #709
En definitiva, si o si, hay que dejar los estilos dentro del html? no se puede entonces acceder a /static/css/file.css, desde el html porque el mismo no está dentro del contexto web?

[2019-10-18 00:38] CoderOverflow opened #767 "how to return html in json object?"
Controller returns "foo::table_refresh" which can get a html data to refresh a table with Ajax. I wonder how to make this html data into an object and return it from controller.
Class ResultObject {
String data = "foo::table_refresh";
}
@RestController
@RequestMapping(value="Test")
Public ResultObject test(){
ResultObject to = new ResultObject();
return ro;
}

[2019-10-18 12:47] Sven-WEBDESIGN commented on #765
Sorry, i closed the issue by error.
Have a good day.

[2019-10-21 14:06] tamb opened #768 "Syntax Highlighting in IntelliJ"
I'm pretty desperate for syntax highlighting and I haven't been able to find any plugins.  It would really help with the readability and debugging the html attributes.

[2019-10-22 05:43] ultraq commented on #768
IntelliJ has built-in support for Thymeleaf, though as noted on their help page it is only present in the Ultimate edition: https://www.jetbrains.com/help/idea/thymeleaf.html  It looks pretty much like their standard HTML/XML editors combined, with some content assist under some circumstances.

[2019-10-22 05:43] #768 closed, assigned to ultraq

[2019-10-22 06:13] ultraq commented on #767
One way I can think of doing would be to invoke rendering yourself by calling Thymeleaf's template engine directly, then saving the result in whatever object you're planning to return.  Something like:

[code]

[2019-11-07 13:40] lgawron opened #769 "th:text does not escape 0x1f (UNIT SEPARATOR) character for xml/html"
0x1f character (UNIT SEPARATOR) is not allowed for xml/html documents yet the value is not escaped thus rendering the generated xml unparseable.

If you do not treat this as bug, as there is no clear escape replacement for 0x1f (as with " > <) is there any way to plug in some additional escaping logic into the engine?

[2019-11-11 17:07] Partho99 commented on #614
w

[2019-11-12 10:32] Simsteve7 commented on #716
Is there any update on the question of @NielsNet? It would be really nice to replace fragments and keep the attributes.

[2019-11-12 13:46] Sven-WEBDESIGN opened #770 "Security suggestion: cross-site links with a target="_blank" should be protected"
Hello,

**Suggestion**: cross-sites links with a target="_blank" property/value pair should declare a rel="noopener" or rel="noreferrer" property by default, which you can override by passing a th:rel="{myIntendedOverrideValue}"

**Rationale:** Security, performance, privacy, see: https://developers.google.com/web/tools/lighthouse/audits/noopener?utm_source=lighthouse&utm_medium=devtools

[2019-11-29 02:59] ztg-zlu opened #771 "thymeleaf 自定义标签"
自定义标签，不可以直接写成，html模板吗？我记得，jsp可以直接写html.tag，这样的，不用在后台写。

还有一个问题，
`<div th:replace="common/common::xmSelect(参数1,参数2,参数3,参数4)`
这样写，也太长了，能不能简化成
`<th:replace="xmSelect(参数1,参数2,参数3,参数4)`

把片段，放入一个规定的路径中，这样，就可以，不用写路径了

[2019-12-05 12:58] Sven-WEBDESIGN commented on #765
Hello, would you be kind so kind to give me an idea when that feature will be taken into account so that i know if i have to implement an alternative in the meantime?
Thanks for that.

[2019-12-06 05:32] wwwqyhme commented on #770
I don't think this is template engine's job

[2019-12-06 06:46] ultraq commented on #765
Hi @Sven-WEBDESIGN, I'd suggest you go ahead and implement your alternative as we have no timeframe for this feature.

[2019-12-06 09:45] Sven-WEBDESIGN commented on #765
Thanks for your feedback and its speed, i appreciate.
Have a good day.

[2019-12-19 18:55] daggerok commented on #572
Hello there

@danielfernandez , facing with same issue. thymeleaf failing with message:

[code]

![image](https://user-images.githubusercontent.com/2445604/71201104-04df2280-22a2-11ea-88ab-dd17a703708e.png)

can you please tell me how I can workaround this. some of my html gets generated and I have to deal somehow with duplicated data-xxx attributes.

Thanks

---
Regards,
Maksim

[2020-01-02 09:01] nfc916 opened #772 "th:replace don't work"
Hello I'm new in Thymeleaf and encountered a problem that might be trivial, but thymeleaf don't behave like it supposed to be. Just a little help will be much appreciated

I don't use spring boot for the matters of learning. Additionally, I am also pretty new to Spring. Might miss one or two things.

I have simple index.html like this

[code]

and fragment1.html

[code]

Supposedly it does resolve

[2020-01-02 09:35] srbala opened #773 "JDK 1.8 upgrade"
Question/Feature regarding JDK support

Any plans to upgrade base JDK support to 1.8, might be with Thymeleaf 3.1.X or 4..x series and continued support for JDK 1.6 on Thymeleaf 3.0.x series. That gives option to make Spring 5 as prime candidate support

[2020-01-02 10:07] jmiguelsamper commented on #773
Hi,

Thymeleaf works smoothly with any modern Java version and also with Spring 5.

Support for older versions does not prevent using the library with newer versions.

[2020-01-02 10:07] #773 closed, assigned to nobody

[2020-01-06 16:08] LuisV commented on #735
Is there an option for this yet? I was following the tutorials for request parameters but they now longer work.

[2020-01-07 18:42] jonathansanchez commented on #593
@saviola777 how to pass a variable?

[2020-01-07 19:08] saviola777 commented on #593
What have you tried? It should work simply by including the variable name without anything else.

[2020-01-07 19:11] jonathansanchez commented on #593
@saviola777 I tried
`<th:block th:each="services : ${service}">
See more here: [[${T(com.example.myPackage.ServiceClient).create(${anotherGlobalVar})]]
</th:block>`

[2020-01-07 19:32] saviola777 commented on #593
No need to surround `anotherGlobalVar` with `${}`, just `[[${T(com.example.myPackage.ServiceClient).create(anotherGlobalVar)]]` should work.

[2020-01-07 19:35] jonathansanchez commented on #593
Thanks @saviola777

[2020-01-08 14:06] wicked539 commented on #744
Any news on this? Am i missing something here, or is this preventing us from using perfectly valid Javascript syntax in a template file?

[2020-01-09 10:54] wilkinsona commented on #741
We have the same problem in Spring Boot. It prevents our javadoc (generated with Java 8) from linking to classes in Thymeleaf. I believe the switch from `package-list` to `element-list` is an unwanted side-effect of the javadoc being generated with Java 11 since 3.0.10.RELEASE.

Gradle had a similar problem and worked around it by [copying `element-list` to `package-list`](https://github.com/gradl

[2020-01-10 13:22] devashish234073 commented on #561
For me it worked after including attoparser,javassist,log4j,ognl,slf4j,thymeleaf and unbescape libraries.

[2020-01-13 04:10] dengGQ commented on #684
hello, I think I have a similar proble．My English is not very good. Please read the error log below：
`Caused by: java.io.FileNotFoundException: Could not open ServletContext resource [/WEB- INF/views/common/head;jsessionid=2C3A05E1E2DA86C5A86BE309BBD31AA3.html] at org.springframework.web.context.support.ServletContextResource.getInputStream(ServletContextResource.java:141) at org.thymeleaf.spring4

[2020-01-14 20:44] tamb commented on #392
I'm attempting to use your answer in a ternary:
[code]

It doesn't work since you still need assignation at the end.  My workaround is:
[code]

It would be great if `th:attr` could accept `null` as well.

To note.  If you are creating a fragment that can optionally take attributes, instantiating it might look like this:
[code]

[2020-01-14 21:06] tamb commented on #392
You can use the fragment syntax to create some nifty dynamic chunks of HTML.  It's super helpful if you want to make fragments that can have various load states.

[2020-01-24 10:46] Athas1980 commented on #604
I've got an even more complicated requirement.
I have an application that has exactly the same problems but the amounts involved in some cases are a smaller than the default number of decimals. I.e. I've got some values that are equivalent to $0.025 (these are used for aggregation elsewhere).  Now this is a really rare case.

Currently I'm handling by passing a NumberFormat to the view.

`<td th:t

[2020-01-31 09:49] hschaeufler opened #774 "Tags adds Line-Breaks in Textmode - Documentation is wrong"
Hello,

as in Issue #689 described, the tags used in Text-Mode adds a line-break. Maybe it's intended behavoir. But then the documentation should be corrected
From the Documentation [https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#textual-syntax](url):

Correct would be:
[code]

The Problem with this behavoir is, that the legibility of some templates is reduced, if you do a "workar

[2020-02-01 04:14] vanduc1102 commented on #614
I found from the tutorial here: https://attacomsian.com/blog/spring-boot-auto-reload-thymeleaf-templates
it works for me when i added both

[code]

[2020-02-17 13:45] larionovda commented on #717
lol

[2020-02-18 18:33] leonard84 opened #775 "Allow fragment expression as parameter to message expression"
_I do believe this is applicable to all of thymeleaf not just `thymeleaf/thymeleaf-spring`, but if I'm wrong I can move it._

Trivial i18n works quite well, but we often have the issue that we have to embed a link, or other smaller html code into a continuous text. Currently we use this really ugly workaround:

[code]
It would be much nicer if we could define it as follows:
[code]

The alternative

[2020-02-18 19:39] antemooo opened #776 "#messages.msgOrNull(key) is not returning null when a message for the specified key is not found - Spring"
The main problem is when using `#messages.msgOrNull(key)` it is returning `???key???` which means that is working exactly like `#messages.msg(key)`

it should however  return **null** if the key is not found. as stated in the documentation

https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#messages-1

[2020-02-25 07:54] mjog opened #777 "Support XML templates, HTML5 output"
I am in the process of converting a Thymeleaf 2.1 installation to 3.0 that has a substantial number of existing templates as XML files that contain HTML5 markup.

XML is used as the template format since it is trivial to author, parse and detect errors such as missing end tags, etc both during editing, development and via CI, using existing tools. Templates have standard HTML5 doctype declarations

[2020-02-26 19:09] BigGitWorld opened #778 "base layout js files does not work in fragment loaded by $().load of ajax"
I' using spring boot 2 and thymeleaf 3.
I have a base layout.html file that includes all common css and js files and also declare sections of my pages (such as header, footer, sidebar and content).
when this layout.html file loads, the content section is empty and if I click an item in the sidebar, this content section will be loaded by an ajax load() function.
Everything works fine, except that t

[2020-02-28 02:56] Morty-se opened #779 "There are several CVEs in the project dependencies"
I noticed some of your libraries contained CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. See below for details:
* **Vulnerable Library Version:** com.fasterxml.jackson.core : jackson-databind : 2.9.9.2
  **CVE ID:** [CVE-2020-8840](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8840), [CVE-2019-16335](https://cve.mitre.org/cgi-bin/cven

[2020-02-28 06:21] izeye opened #780 "Consider providing an option for fully-initialized TemplateEngine"
`TemplateEngine` seems to be fully-initialized when `TemplateEngine.process()` is called. I don't know what happens for the `TemplateEngine` initialization behind the scene, but `TemplateEngine.initialize()` is not allowed to be called directly, so I triggered it via `TemplateEngine.getConfiguration()`. It seems to provide an initialized state but it doesn't seem to be fully-initialized. I could t

[2020-03-11 20:11] silkentrance commented on #527
https://stackoverflow.com/questions/46423560/how-do-i-minify-dynamic-html-responses-in-spring

[2020-03-11 20:12] silkentrance commented on #11
https://stackoverflow.com/questions/46423560/how-do-i-minify-dynamic-html-responses-in-spring

[2020-03-11 20:14] silkentrance commented on #527
See also #11

[2020-03-11 23:38] silkentrance commented on #451
Will preprocessing still be possible, e.g.

[code]

I am asking because right now I get the deprecation warning (thymeleaf:3.0.12-SNAPSHOT)

[code]

[2020-03-19 12:22] hendisantika commented on #745
It didn't work for me @MossounAndre .
[code]
var `index` gave me full object not index of sequence.

[2020-03-19 12:28] hendisantika commented on #745
But this work for me:
[code]

[2020-03-24 09:22] sysmat opened #781 "elvis operator error"
* Version of Thymeleaf 3.0.11.RELEASE
* Environment: no Spring, stand alone, java 8, ClassLoaderTemplateResolver, TemplateEngine
* java Simple pojo:

[code]
* html

[code]

* error:
`org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating OGNL expression: "user?.title" (template: "user" - line 20, col 17)
`

[2020-03-27 12:59] mahozad opened #782 "Bug in numbers.formatInteger and numbers.formatDecimal"
<h1>Description</h1>

  * Thymeleaf v3.0.11.RELEASE
  * Spring Boot v2.1.0.RELEASE (irrelevant to the bug)
  * JDK v12.0.2 (Java 11 or higher)

# Update 2020-11-17

There might be other subtle problems as well. For example thousands separators are not the same in different European countries and I think Thymeleaf does not produce correct formatting in this case either. So by fixing [The issue]() a

[2020-04-04 12:54] zhLin001 opened #784 "StandardExpressionParser.java parseExpression return wrong result"
StandardExpressionParser.java

static IStandardExpression parseExpression(
            final IExpressionContext context,
            final String input, final boolean preprocess)

when parameter  _input_ is "01" and not a real expression ,it return  "1"，this is not the right result
![error](https://user-images.githubusercontent.com/30398184/78451180-7c508a80-76b6-11ea-9f95-2da99839b046.PNG)

[2020-04-07 17:46] mahozad opened #785 "Embedding variable value in Thymeleaf URL expressions (without pipes)"
### [This issue](https://github.com/thymeleaf/thymeleaf/issues/89) is related.

Embedding value of a variable in a URL expression is really cumbersome in Thymeleaf.
For example,  to embed the value of a variable named `myVariable`, [Thymeleaf standard and recommended notation](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#link-urls) would be like this:

[code]

Other methods are

[2020-04-08 11:16] BigGitWorld commented on #778
No Answer?

[2020-04-08 12:47] #778 closed, assigned to nobody

[2020-04-12 08:11] yahyadev69 opened #786 "constructor ServletContextTemplateResolver in class org.thymeleaf.templateresolver.ServletContextTemplateResolver cannot be applied to given types"
Hell everybody ,

I start my first project  spring.

I want to configure my  thymeleaf resolver for relate views and model.

I follow this documenattion to do that :

https://www.baeldung.com/thymeleaf-in-spring-mvc

in the bean ServletContextTemplateResolver i have a missing argument problem.

    @Bean
    @Description("Thymeleaf Template Resolver")
    public ServletContextTemplateResolver temp

[2020-04-12 08:58] ultraq commented on #786
Looking at the docs for `ServletContextTemplateResolver` https://www.thymeleaf.org/apidocs/thymeleaf/3.0.11.RELEASE/org/thymeleaf/templateresolver/ServletContextTemplateResolver.html), it looks like the only constructor is one that takes a `ServletContext` object.

As for where to get that object to pass into the constructor, I believe one is already registered as a Spring bean by default (either

[2020-04-13 15:25] yahyadev69 commented on #786
Thank you @ultraq for your answer.

Finally I use the following configurator ThymeleafViewResolver.

I find it on github .

i use the maven dependancy :
[code]

Now i can run my project.

[code]

[2020-04-14 08:27] #786 closed, assigned to nobody

[2020-04-16 18:20] matkosoric opened #787 "Random integer in #numbers"
This is enhancement or suggestion:

Just like there is utility method to create random string - ${#strings.randomAlphanumeric(count)} - there could be method in numbers to provide random integer or decimal.

[2020-04-17 05:50] ghost opened #788 "Disable auto append jsessionid to static resources"
### Problem
My website works in iframe and use session. Safari don't store/send cookies if website opened in iframe. I decide use URL session tracking mode in Tomcat. But thymeleaf replaces it
[code]
to
[code]
and Tomcat not responds real widgets.css, it responds 500 Error page.
How i can tell Thymeleaf don't append jsessionid to static(js/css) resources?

[2020-04-18 16:16] CraigSDel commented on #75
Hi, I had tried to implement this is someone able to share their successful implementation or any resources they have found on this.

Here is my try https://github.com/CraigSDel/springboot_thymeleaf_theme

[2020-04-21 13:55] SandeepGanesana commented on #691
I got stuck at this issues, Can you help me out in displaying Rupee symbol using Thymeleaf. Thanks in advance.

[2020-04-23 16:11] angsuman commented on #593
`[[${T(java.lang.System).currentTimeMillis()}]]` does not work.
What works is (following OGNL format):
[code]

[2020-04-27 20:53] RiZKiT commented on #583
Thanks @lourish, I was fiddling already with preprocessing but without success. I had a slightly different issue, but got it solved now, with your approach.
I simplified the code here, I have several input element templates and I needed different field values, `th:field="${fieldname}"` doesn't work for obvious reasons, but this does:
[code]

[2020-05-21 08:03] javafuns commented on #196
Is there any way to set 'ref' attribute ? th:ref does nothing.

[2020-05-29 13:21] wimdeblauwe opened #790 "id and name attribute not the same for th:field with checkbox"
I have a form bean like this:

[code]

In my Thymeleaf template, I am using:
[code]

The resulting HTML is:

[code]

Note the id being `vehicles0.insured1`, while the name is `vehicles[0].insured1` (as I expect it to be). As a consequence clicking on the label does not toggle the checkbox since the `for` attribute of the label does not match with the `id` of the checkbox.

Why is the `id` generate

[2020-06-02 16:25] S-Gaertner opened #791 "Provide more control over restricted expression evaluation mode"
Changes introduced in version 3.0.9 and 3.0.10 (#648, #649 , #705) lead to errors in templates using special variable names (like `param`) in `th:include` and other fragment inclusion attributes. Error example:

Please reconsider this behavior or at least allow more control over the usage of the restricted evaluation mode. This great library is not only used in web context and/or with untrusted in

[2020-06-08 00:44] caiqichang opened #792 "timezone error in javascript inline"
version: 2.0.1.RELEASE and 2.1.4.RELEASE
environment: spring boot

Java:
[code]

JavaScript:
[code]

Result:
[code]

why the lmp in data is "2020-06-02" ?
i think it may due to timezone or json format.

[2020-06-09 19:07] eshatkeinensinn opened #793 "1"

[2020-06-09 19:09] eshatkeinensinn commented on #793
Auf der Course Create Seite bewegen sich die Schiebe Regler? nicht / werden blau, wenn man die Buttons auswählt.

[2020-06-09 19:10] eshatkeinensinn commented on #793
wrong repo^^

[2020-06-09 19:10] #793 closed, assigned to nobody

[2020-06-10 07:44] #792 closed, assigned to nobody

[2020-06-18 20:18] huylq4198 commented on #717
can you tell me how to return ModelAndView like you? tysm.

[2020-07-02 06:37] mahmud624683 commented on #572
Did find any solution for this?

[2020-07-02 12:28] thuri opened #794 "Browser moves th:block element"
I created an application that enables the user to display an manipulate a thymeleaf template in the browser (actutally it's displayed in an iframe). When a specific button in the application is clicked, the content of the iframe is sent to the backend to save it.

But i do have an issue now with one of the templates which uses a th:block element within a table similar to the following snippet, whi

[2020-07-02 12:58] THD-Thomas-Lang opened #795 "Model from th:object is not found after AJAX Update"
I use a model container `Invoice` with a given `name` and a list of given `InvoiceItems` to be rendered to html with thymleaf.
I am binding the model to `th:field` within my form.
Everything works fine.

No i want to add `InvoiceItems` to the `Invoice` container dynamically without refreshing the whole page (because in the real world my invoice object is very rich (beside this items)):

- Serializ

[2020-07-02 21:40] icstreispe opened #796 "Problem inserting a form from a fragment"
I've used Thymeleaf 3.0.11,  and spring boot 2.3.0

I've put the problem on stackoverflow problem, no one responded:
[https://stackoverflow.com/questions/62694597/create-a-fragment-for-a-form-in-thymeleaf-and-spring](url)

Putting the 2 fragments below in the same file didn't work, kept throwing:
_java.lang.IllegalStateException: Neither BindingResult nor plain target object for bean name 'strada'

[2020-07-03 11:34] ultraq commented on #796
I'm going to close this as I see you've created a similar issue against the thymeleaf-spring repo (https://github.com/thymeleaf/thymeleaf-spring/issues/236) and I suspect it's closer to a Spring issue than a Thymeleaf one - my initial search of the error results in lots of posts relating to Spring MVC, even when using other templating technologies.

[2020-07-03 11:34] #796 closed, assigned to nobody

[2020-07-04 00:03] H-Lo commented on #108
Really sad decision.  Perfect case would be that the engine does NOT create emply lines at all, and not that we have to write additional software to fix those bad practice of creating empty lines.

[2020-07-04 00:05] H-Lo commented on #108
If I put this snippet on a page, I expect no empty line because there is nothing to show.
<script th:if="${ wannaShow == false }">
alert("Hello world!");
</script>

[2020-07-04 09:33] ultraq commented on #794
One thing that comes to mind: does your iframe of these editable templates have a doctype declaration?  I know when browsers are in "quirks mode" (no doctype defined) they do really weird tag balancing tricks and elements end up in the wrong place, etc.  I wonder if something like that is at play here.

But yeah, I wouldn't be too surprised it the browser is choosing to eject the `<th:block>` elem

[2020-07-06 07:26] thuri commented on #794
Thanks @ultraq That's definitely what i wanted.
Simply should have had a look at the chapters above when i read the docs about th:block 😖

[2020-07-06 07:26] #794 closed, assigned to ultraq

[2020-07-06 07:41] caiqichang opened #797 "unescape th:attr"
[code]
the render result i want is:
[code]
in fact, it is:
[code]
it works well, but can i unescape the content of th:attr ?

[2020-07-07 10:54] ultraq commented on #797
Having a look through the Thymeleaf code, I think the attribute escaping happens on these lines: https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/standard/processor/AbstractStandardMultipleAttributeModifierTagProcessor.java#L166-L167  Unfortunately, it doesn't look like it's configurable.

One idea that comes to mind: you could create a custom dialect with your ow

[2020-07-08 03:25] caiqichang commented on #797
@ultraq thank you, i will try it

[2020-07-08 03:25] #797 closed, assigned to ultraq

[2020-07-29 15:50] sbelikov opened #798 "Allow multiple th:classappend attributes in the tag"
As a developer I would like to be capable to add classes to tag using multiple conditions each with it's own th:classappend attribute.

Please consider
&lt;div
&nbsp;&nbsp;&nbsp;&nbsp;th:classappend="${x.isTrue} ? 'class1'"
&nbsp;&nbsp;&nbsp;&nbsp;th:classappend="${y.isTrue} ? 'class2 ': 'class3'"
&gt;&lt;/div&gt;

instead of

&lt;div
&nbsp;&nbsp;&nbsp;&nbsp;th:classappend="|${x.isTrue ? 'class1'

[2020-08-06 14:38] wimdeblauwe opened #799 "Weird behaviour of fragments when using HTML tag name as fragment name"
Using Spring Boot 2.3.1 with Thymeleaf 3.0.11.

Declare 2 fragments like this:

[code]

Use them like this:

[code]

The resulting HTML will output _both_ fragments for each line where they are used. So there will be 10 `<td>` elements in the output instead of the expected 5.

However, when changing the fragment names from `td` to `tada` and `tdWithLink` to `tadaWithLink`, things start to work nor

[2020-08-08 05:00] ultraq commented on #799
Hi there, so the fragment selector syntax is described in detail in this section of the docs: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#appendix-c-markup-selector-syntax  One thing it mentions is that it's also a CSS selector, so looking for the fragment `td` is the same as the CSS selector `td` which is all elements named `td`, hence the behaviour you're seeing.

[2020-08-08 05:00] #799 closed, assigned to nobody

[2020-08-11 12:26] wimdeblauwe commented on #798
Would love to see this as well.

[2020-08-11 12:30] wimdeblauwe commented on #772
This kind of question is probably better asked on https://stackoverflow.com/ as most likely it is not a Thymeleaf bug.

[2020-08-18 02:36] ferdibulus commented on #572
The exception will give the line # in the html where the error is occurring... in any case, the actual problem is here:

<div class="container" class="row">
Thymeleaf won't allow an element to have two attributes with the same name (Attribute "class" appears more than once in element). Just change it to:

<div class="container row">

[2020-08-18 02:37] ferdibulus commented on #572
The exception will give the line # in the html where the error is occurring... in any case, the actual problem is here:

`<div class="container" class="row">`
Thymeleaf won't allow an element to have two attributes with the same name (Attribute "class" appears more than once in element). Just change it to:

`<div class="container row">`

[2020-09-09 08:52] leccelecce commented on #799
Is there any way to disable this behaviour? I've just been bitten by this as well. It feels unnecessary to also apply a CSS selector if there is a defined fragment in the template using th:fragment. Wouldn't clearer behaviour be either to stop searching using the CSS selector if a matching fragment has been found, or have some kind of syntax that can optionally be used to specifically only match a

[2020-09-12 00:11] ultraq commented on #799
It doesn't look like this is configurable.  I had a quick browse at how fragments are pulled out of templates, and in this part of the codebase it starts to lean on the Attoparser dependency, from which the CSS selector syntax that people are encountering is derived from (see: https://www.attoparser.org/apidocs/attoparser/2.0.5.RELEASE/org/attoparser/select/package-summary.html).

I think if we ne

[2020-09-14 16:48] garretwilson commented on #777
I'm having a similar issue. I am using Thymeleaf from Spring Boot 2.3.3.RELEASE. My templates are well-formed XHTML5 files with `.xhtml` extensions, and an XML declaration:

[code]

I specify the suffix in `application.properties`:

[code]

Thymeleaf picks up the XHTML5 template files and generates views of type `text/html;charset=utf-8`. This is all correct so far.

However Thymeleaf is leaving t

[2020-09-19 01:22] mgl-pub opened #800 "thymeleaf stop update ?"

[2020-09-19 08:10] jmiguelsamper commented on #800
No description provided

[2020-09-19 08:10] #800 closed, assigned to nobody

[2020-09-21 02:56] Hgqin opened #801 "Your website can not open in china"
Is fiexed?

[2020-10-01 14:06] p10r opened #802 "Using the FileTemplateResolver for multiple nested directories"
Hello,

while using thymeleaf I had the idea that I would like to try out having the templates sitting right beside the corresponding controllers to have it grouped by feature. The result looks like that:
[code]
Then I tried picking up the templates with a FileTemplateResolver:
[code]
which leads to the following error:
[code]

I also tried adding a `FileTemplateResolver` for every nested director

[2020-10-02 06:42] ultraq commented on #802
If the templates are in the same directories as the code, then would they be in the classpath?  I'm wondering then if the `ClassLoaderTemplateResolver` might have a better chance of working.

https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-resolvers

[2020-10-03 20:51] p10r commented on #802
I actually tried that, but it seems like its not picked up, that's why I tried to use the FileTemplateResolver.
Just tried again, here you can see my structure and the corresponding build output:
![image](https://user-images.githubusercontent.com/23278849/95001480-b568a980-05ca-11eb-9b60-a751b83b7edb.png)

I tried all kinds of prefixes, but I think I have a wrong understanding there:
[code]

[2020-10-04 00:04] ultraq commented on #802
OK, given your screenshot and config, it doesn't look like the HTML files are included alongside your compiled Kotlin files.  I suspect they're inside the resources directory instead.

For a `FileTemplateResolver`, assuming that the working directory of a running project is the same as the root directory of your project, I think you need a prefix pointing to build/resources instead:

[code]

For a

[2020-10-04 16:51] p10r commented on #802
Sorry, should have posted the whole directory. Unfortunately the file is not picked up at all.

![image](https://user-images.githubusercontent.com/23278849/95021664-a2111900-0672-11eb-897c-7ffd61d6086b.png)

[2020-10-05 07:51] ultraq commented on #802
Oh, if the HTML files don't even end up in the build directory, then that's more of a build tool issue.  I'm guessing you're using Gradle since I can see a directory with that name in the screenshot.  One thing I've had to do in the past when putting resource files alongside source files is update my gradle configuration with something like this:

[code]

That's for if the Java source directory is

[2020-10-05 15:08] p10r commented on #802
That was it! Thanks a lot for your help!

[2020-10-05 15:08] #802 closed, assigned to nobody

[2020-10-07 16:00] garretwilson commented on #672
I just started using Thymeleaf and it seems wonderful in theory. But still no native `Optional` support?

[2020-10-10 12:28] smaziano commented on #289
Just in case somebody hits this problem:
just build your url and pass it to the template:
`<a th:href="${resetUrl}">link</a>`

This should work fine.

[2020-10-11 00:29] garretwilson commented on #660
Yes, please add this. In the source code it's as simple as wrapping an `Iterable` around `Stream.iterator()`, which with lambda notation is even simpler:

[code]

Of course there will be a little extra code if Thymeleaf is using reflection, but the basic idea is the same.

Thymeleaf should really be supporting common Java 8 constructs in 2020!

I naively tried to iterate over a stream in Thymeleaf

[2020-10-11 17:03] garretwilson commented on #672
I've added a [question on Stack Overflow](https://stackoverflow.com/q/64306235/421049) to find some reasonable workaround until this is implemented natively in Thymeleaf expression processing.

Assuming `${foo.findName()}` returns `Optional<String>`, what comes to my mind first is that it would seems natural to use it in expressions like this:

[code]

[2020-10-15 03:55] Hgqin opened #803 "A simple problem！"
If I put the html file under WEB-INF, and then define the template under WEB-INF, I keep reporting errors to Java. Io. FILENOTFOUNDEXCEPTION: Could not open ServletContext resource [/WEB-INF/view/user/encomposition-en/common/common. HTML ]
How can I solve this problem at not exchange file location？

[code]

[2020-10-15 05:16] ultraq commented on #803
Given the error message you've posted, the first thing to check would be the paths of the files being processed and if they actually exist at those locations.

It says Thymeleaf is parsing `/WEB-INF/view/user/composition-en/practise.html` but then it can't find a file called `/WEB-INF/view/user/encomposition-en/common/common_header.html`.  The "encomposition-en" directory seems a bit suspicious, l

[2020-10-15 05:24] Hgqin commented on #803
You are right！According to your suggestion I rechecked the directory name，I misspelled it.Thanks for getting back to me.

[2020-10-15 05:24] #803 closed, assigned to nobody

[2020-10-22 14:44] bertrandbo commented on #788
Hi,

Had the same problem and Daniel already answered in #684. [According to Thymeleaf documentation](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#link-urls) :

The documentation also says :

So, here is a Stack Overflow answer [to do it with URL rewrite](https://stackoverflow.com/questions/5276634/remove-jsessionid-in-url-rewrite-in-spring-mvc?answertab=votes#tab-top).

And, yo

[2020-10-26 08:08] BigGitWorld opened #804 "'!=', '%', '&&', '(', '*', '+', '+=', '-', '.', '/', <, <=, '==', '>', '>=', '?', '?.', '?:', and, div, eq, ge, gt, le, lt, mod, ne, or or '||' expected"
Hi.
I'm using Thymeleaf version **3.0.11**.
when I use the ``th:onClick`` :
[code]
I receive the below Intellij IDEA error in end of the ``myFunction``:
[code]
Code works, but I'd like to know why Intellij IDEA shows this error/warning.
What is the problem?

[2020-10-27 09:36] ultraq commented on #804
I tried adding a `th:onclick` attribute to some Thymeleaf projects using IntelliJ, and neither of them gave me a warning.  If I tried adding exactly the same code as in your post, then I would get JavaScript warnings for 'this/getAttribute cannot be resolved', which makes sense.  This was using IntelliJ IDEA Ultimate 2020.2.3.  I also tried turning off the Thymeleaf plugin just to see what would h

[2020-10-27 09:36] #804 closed, assigned to nobody

[2020-10-27 13:50] zaizac opened #805 "Custom dialect missing attributes"
Hi, I am creating a custom tags using thymeleaf 3. Initially it is created in thymeleaf 2, but since we are upgrading to versioin 3 we need to rewrite our current custom tags.

We had some issue related to th:field attributes (and other th:* commands). Upon  accessing the custom element itself the supposed generated name and value field from th:field is not there or even a th:field itself. Our cus

[2020-10-30 06:16] ultraq commented on #805
Hi there, so my understanding of `th:field` is that it will generate attributes into the current element based on specific identifiers, like if the current element is `<input>` or `<select>` and then often check the `type` attribute, before doing anything (as seen in the docs here where `th:field` is introduced but then emits different kinds of HTML based on the input: https://www.thymeleaf.org/do

[2020-10-30 11:22] BigGitWorld opened #806 "is Thymeleaf SEO friendly when we return HTML fragments to the client?"
Hi.

It seems my question is not related to the Thymeleaf nature.
But I'm confused about this issue and there is not any good article about it.

I'm going to build a **E-commerce web site as a Single page app** by the Thymeleaf as template engine.
But I don't have enough information about SEO by javascript.

**My Questions:**
I'm going to change main content (div HTML) of my pages by the AJAX load

[2020-10-31 08:19] benfortuna opened #808 "Add support for OSGi"
Instead of relying on the servicemix bundle Thymeleaf can support OSGi directly using the bndtool to generate the JAR manifest.

This pull request adds support for OSGi manifest headers: #807

==== from #839 ======

@benfortuna
benfortuna commented on 2 Jul

Problem statement: currently to include thymeleaf in OSGi runtimes we need to use wrapper implementations such as the servicemix bundle. Ther

[2020-11-02 06:25] zaizac commented on #805
Hi, Thank you for your response. Actually, my expectation is it will generate the corresponding attribute id and name generated by th:field. Or I can pass the same attribute to the tag that I'm adding during the processor.

[2020-11-02 12:31] danielfernandez opened #809 "Improve restricted expression evaluation mode"
**Current status**

Currently the *restricted expression evaluation mode* is applied in the following scenarios (see note below):

   * Pre-processing expressions: `__...__`
   * Unescaped output: `th:utext` and inlined unescaped expressions.
   * All `th:on*` attribute processors for JavaScript events which value is a _Thymeleaf Standard Expression_ (see #707).
   * `th:attr` attribute processor

[2020-11-03 08:27] ultraq commented on #805
So `th:field` will do that, but it'll have to be on an HTML input element that it knows about, not a custom one like `<extra:file>`.

Given this, one option to try is to change from using a custom element to a custom attribute, use an HTML input element so that `th:field` can add the id and name as it normally would, then your attribute processor can read those values from the element after, eg:

[2020-11-04 14:47] BigGitWorld commented on #806
No answer?

[2020-11-05 05:28] ultraq commented on #806
As an HTML template engine, any website built w/ Thymeleaf is only as SEO-friendly as you choose to make it.  In your example of building a SPA where you fetch content rendered on the server by Thymeleaf via an XHR request and update your main content area with it, if the returned HTML fragment has a good document outline and uses good headers and descriptions, then that's a 👍 for the SEO of the p

[2020-11-05 09:37] BigGitWorld commented on #806
I'm changing main-content section of pages by AJAX and SSR(by Thymeleaf), because re-loading full page is very bad idea for my scenario. As you said, I have a well-structured HTML file (including  meta tag, title for every fragments).
But although I have a ``<head>`` section in my fragments, but title of my SPA does not change automatically and need to use the below javascript code to change it.

[2020-11-06 05:38] ultraq commented on #806
Having a title that corresponds to the content being displayed is good for SEO.

Having a URL that corresponds to the content being displayed is also good for SEO.  Search bots will use the URL to tell whether or not the page is actually different, so to your question:

I believe that is the only option for a SPA - any other attempt to change the URL outside of the history API will result in a cal

[2020-11-06 05:38] #806 closed, assigned to ultraq

[2020-11-06 11:48] jbaiter commented on #765
@Sven-WEBDESIGN did you find a good workaround for this issue?

[2020-11-07 23:49] mgl-pub opened #810 "stop update ?"

[2020-11-07 23:50] mgl-pub commented on #771
good

[2020-11-08 23:10] danielfernandez commented on #740
With Thymeleaf 3.0.11, I'm getting these results the first time this is executed:
[code]
And then from then on, in subsequent executions something like...
[code]

I don't think these differences are significative or point to a performance issue. And in fact link expressions seem to get (very) slightly better performance... could you please specify which version of Thymeleaf you were using for thes

[2020-11-10 09:11] ultraq commented on #810
Hi there, I see you've raised a similar no-description issue a while back so I'm going to guess you're asking if there are still updates?  In which case I'll point you to this well written response from one of our team answering a similar question: https://github.com/thymeleaf/thymeleaf-spring/issues/234#issuecomment-652236402

[2020-11-10 09:11] #810 closed, assigned to nobody

[2020-11-10 19:35] marcelopbarros commented on #740
Hi @danielfernandez! Thank's for taking your time! I realize that my issue was really missing some data.

I was testing here again, and I realize the problem didn't occur in a new project, only in the one I work on. I looked for the cause and found that the performance drop only occurred if one of the Resource Handling Chain strategies were active. Thus, to demonstrate the problem, it would be nec

[2020-11-10 21:19] danielfernandez commented on #740
So it's a performance drop that can be justified on the encoding of the URL by the Spring resource infrastructure, right? whereas when the URL is built by mere appending of strings, such call to the Spring resource infrastructure never happens and therefore no performance drop is apparent.

So I'm going to close this ticket for not being imputable to Thymeleaf. But please don't hesitate to reopen

[2020-11-10 21:19] #740 closed, assigned to danielfernandez

[2020-11-11 07:09] zaizac commented on #805
Ok then. Thank you for your suggestion.

[2020-11-11 07:09] #805 closed, assigned to ultraq

[2020-11-11 09:02] ultraq commented on #767
Not sure if correctly answered, but no follow-up from the OP, so closing.

[2020-11-11 09:02] #767 closed, assigned to ultraq

[2020-11-11 09:03] #753 closed, assigned to ultraq

[2020-11-11 09:15] ultraq commented on #728
Old issue w/ no follow-up from OP, so closing.

[2020-11-11 09:15] #728 closed, assigned to ultraq

[2020-11-15 06:40] chkal opened #811 "Provide support for Servlet 5.0"
Thymeleaf depends on the Servlet API 2.5 at the moment. Servlet 5.0, which will be part of the Jakarta EE 9 release, migrated the `javax.*` to the new `jakarta.*` package namespace. It would be great to see a Thymeleaf version that supports this new package namespace.

Are there any plans for this at the moment?

[2020-11-15 12:39] danielfernandez commented on #811
This is a major breaking change, so there would no way to support e.g. dealing with `HttpServletRequest` objects both with the old and the new namespace. So any changes in this respect at Thymeleaf should be made in sync with major scenarios such as Spring Boot. See https://github.com/spring-projects/spring-boot/issues/16111

[2020-11-15 12:50] chkal commented on #811
I agree that this is a major breaking change. And many Java libraries and frameworks have to deal with it in one or the other way. I just wanted to make sure that this issue is considered for the next major release.

[2020-11-15 12:55] chkal commented on #811
BTW: spring-projects/spring-boot#16111 is actually just about switching to the official Jakarta EE 8 dependencies (which still use the `javax.*` packages and are compatible with Java EE8). My comment is more about the Jakarta EE 9, which introduces the package namespace update. Please note that Tomcat 10 for example will not support `javax.*` anymore.

[2020-11-16 00:17] danielfernandez commented on #741
Fixed by thymeleaf/thymeleaf@e782e22, thymeleaf/thymeleaf-spring@60b8b7a, thymeleaf/thymeleaf-testing@189add9, thymeleaf/thymeleaf-extras-java8time@89c4385 and thymeleaf/thymeleaf-extras-springsecurity@f97b11c.

Also fixed at the javadoc published on the project's website for both 3.0.10.RELEASE and 3.0.11.RELEASE.

[2020-11-16 00:17] #741 closed, assigned to danielfernandez

[2020-11-16 09:01] zhanhb commented on #741
Thanks for fixing.

[2020-11-16 10:08] mahozad commented on #782
The issue was updated. Please see the top section of the issue.

[2020-11-16 22:53] danielfernandez commented on #727
OGNL dependency updated to 3.1.26 by means of 2da733d.

OGNL 3.2.x requires Java 7, but Thymeleaf 3.0's current Java compability is set to Java 6. So 3.1.26 is the newest version of OGNL that can be used.

[2020-11-16 22:53] #727 closed, assigned to danielfernandez

[2020-11-16 22:57] danielfernandez commented on #739
OGNL was updated to 3.1.26 by means of 2da733d (See #727).

As you mention, according to jkuhnert/ognl#41 the fix for this has been backported to the 3.1.x branch of OGNL, so this update should fix it for Thymeleaf too.

[2020-11-16 22:57] #739 closed, assigned to danielfernandez

[2020-11-17 02:42] qiushuei commented on #739
unsubscribe.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Daniel Fernández"<notifications@github.com&gt;;
发送时间: 2020年11月17日(星期二) 上午6:57
收件人: "thymeleaf/thymeleaf"<thymeleaf@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: Re: [thymeleaf/thymeleaf] Outdated OGNL dependency throws spurious messages System.err (#739)

关闭#739.

—
您正在接收此消息，因为您订阅了此线程。
直接回复此邮

[2020-11-18 04:52] chkal commented on #811
Let me know if there is anything I can do to help with getting this done. Thymeleaf is the most popular third party view engine for Jakarta MVC. So it would be great if we could ship it as part of the upcoming 2.0 release.

[2020-11-18 19:46] danielfernandez commented on #754
Please note that totally avoiding scenarios such as your example in which the `name` variable might contain a `javascript:...` link is out of reach for a template engine:
[code]
Thymeleaf can make sure that the `javascript:` scheme is not used in the base of a link expression (`@{...}`) and that looks helpful, but nothing can stop a developer from writing things like this:
[code]
Sanitizing contex

[2020-11-18 21:01] #754 closed, assigned to danielfernandez

[2020-11-19 11:27] alanfranz commented on #754
Of course. In fact I've never cited non-link expressions - that's not something that the template engine could and should act upon. My only surprise was in link expressions.

OK, seems reasonable. I'd probably like the documentation to explain the behaviour with a bit more detail, I'll try contributing a PR soon. URLs are an easy attack vector sometimes.

Thanks for your interest.

[2020-11-24 19:02] jobscluster commented on #691
Hey Sandeep.
You can use indian currency like as [(${lineItem.currency})] instead of th:text="${lineItem.currency}".
Where lineItem is you dto that have currency HEXA code.

[2020-11-29 22:45] federicoromeo commented on #811
@danielfernandez
In the new version jakarta, is thymeleaf supported?
If yes, can someone send me the maven dependencie for an intellij Idea project?

[2020-11-30 04:31] chkal commented on #811
@federicoromeo I'm not sure if I fully understand your question. Thymeleaf supports Jakarta EE 8 (which is essentially the same as Java EE 8). But Jakarta EE 9, which has just been released a few days ago, is not supported yet.

[2020-11-30 08:13] federicoromeo commented on #811
@chkal  Sorry for the wrong nomenclature. I am developing a WebProfile Intellij Idea project, with Java EE 8 (Jakarta EE 8), but i'm facing an issue on resolving the Thymeleaf dependency using that technology, since some methods are expecting "javax. ...".

[2020-11-30 08:24] federicoromeo commented on #811
@chkal  Sorry for the wrong nomenclature. I am developing a WebProfile Intellij Idea project, with Java EE 8 (Jakarta EE 8), but i'm facing an issue on resolving the Thymeleaf dependency using that technology, since some methods are expecting "javax. ...".
So what dependency should i use? On MVNrepository of thymeleaf (https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-java8t

[2020-11-30 11:41] chkal commented on #811
The current version of Thymeleaf should work fine with Jave/Jakarta EE 8. I guess your problem is caused by something else. Perhaps you should file a new issue and include all the information you have. Including the exact error message. Thanks.

[2020-11-30 11:49] federicoromeo commented on #811
All right, i'm doing it, thanks!

[2020-12-03 00:07] #782 closed, assigned to danielfernandez

[2020-12-03 00:11] danielfernandez commented on #782
This is already in `3.0.12-SNAPSHOT`.

Note however that the Thymeleaf core does not create any instances of `DateTimeFormatter` because its code is Java6-compatible. I suggest you create an equivalent ticket at the https://github.com/thymeleaf/thymeleaf-extras-java8time subproject so that this can be correctly dealt with at the `java.time`-related artifacts, which will be part of the core in a fu

[2020-12-03 07:27] mahozad commented on #782
OK, thank you.

[2020-12-03 08:31] mahozad opened #910 "Any DateTimeFormatter#withLocale should be replaced with DateTimeFormatter#localizedBy"
This issue is related to https://github.com/thymeleaf/thymeleaf/issues/782 in Thymeleaf core.

Java 14 and earlier had a bug in `DateTimeFormatter` class which did not format numbers correctly for locales that use different number systems (such as Persian and Arabic). This, along with the related problem in Thymeleaf core, produced incorrect formatting for numbers:

1. Somehow set the locale that

[2020-12-05 15:27] marccollin commented on #766
thymeleaf forum is closed
Is there any schedule or planing feature then contributor can check?

[2020-12-05 22:29] gkaur2294 opened #812 "Is Thymeleaf dead?"
Not able to see any new version after 2018. Could you please share about next plans?

Since [766](https://github.com/thymeleaf/thymeleaf/issues/766) is closed, I created new issue to understand the future plan. This might help more people to adopt Thymeleaf.

[2020-12-05 22:30] kumarsen26 commented on #812
Yes, your inputs will help us to plan our migration better.

[2020-12-05 22:32] danielfernandez commented on #812
This repository has commits from 3 days ago :)

Plase have a look here https://github.com/thymeleaf/thymeleaf/milestone/24 and https://github.com/thymeleaf/thymeleaf-spring/milestone/21

[2020-12-05 22:32] #812 closed, assigned to danielfernandez

[2020-12-05 22:35] kumarsen26 commented on #812
Thank you

Thank you @danielfernandez .. This will help more developers using Thymeleaf 👍

[2020-12-09 15:28] marccollin commented on #812
seem like forum at http://forum.thymeleaf.org/ is closed.

Is there any schedule for next version of thymeleaf?
Any plan for thymeleaf 4, any feature?

[2020-12-09 16:54] danielfernandez commented on #812
Yes, the forum is closed due to excessive spam and security issues at nabble (where the forum is hosted). It will be removed in the near future.

https://github.com/thymeleaf/thymeleaf/milestone/24
https://github.com/thymeleaf/thymeleaf-spring/milestone/21

[2020-12-12 02:13] #809 closed, assigned to danielfernandez

[2020-12-14 03:56] user20161119 opened #813 "fragment in the same page with call page,fragment html do not hidden"
when the fragment defined in the call page,the th:fragment rendered after the call page rendered.

call page code
[code]

source code after render the call page
[code]

what's the config i missed?

[2021-01-01 11:26] ottlinger opened #814 "Request - iterating over i18n keys with spring boot integration / looking for a DRY way to show repeating text blocks"
I'm using Thymeleaf in conjunction with SpringBoot 2.4.1 and would like to iterate over i18n keys in the following manner:

[code]

In order to show multiple headlines/paragraphs I created the message properties:
* greeting.header0
* greeting.header1
* greeting.header2 a.s.o
and would like to iterate over them.

All things I find via search engines just show how to iterate over maps and their entr

[2021-01-05 06:36] liuxueyuanjwt opened #815 "Please update slf4j-api from 1.7.25 to 1.7.30"
solve these

CVE-2015-3281
CVE-2015-3281
CVE-2015-3281
CVE-2015-3281
CVE-2018-8088
CVE-2018-8088
CVE-2018-8088
CVE-2018-8088

[2021-01-05 08:58] ultraq commented on #815
Looks like only CVE-2018-8088 is related to slf4j, particularly the slf4j-ext module: https://jira.qos.ch/browse/SLF4J-451  CVE-2015-3281 talks about a library called HAProxy 🤷‍♂️

Thymeleaf uses the slf4j-api module, but that doesn't bring in slf4j-ext (slf4j-api actually has no dependencies: https://search.maven.org/remotecontent?filepath=org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.pom), so upda

[2021-01-05 08:58] #815 closed, assigned to ultraq

[2021-01-05 12:39] pawel-napieracz commented on #814
This working for me: `<h1 th:text="#{'greeting.header.'+__${number}__}" class="display-4"></h1>`

[2021-01-05 12:58] ottlinger commented on #814
@pawel-napieracz thanks - this helped.
Is there a documention I can add this example to make it useful for other people stumbling upon this?

It's fantastic that I can do this with Thymeleaf 🥇

[2021-01-05 15:31] wimdeblauwe commented on #814
I wonder if the pre-processing is really needed. I would think that this should also work:

    <h1 th:text="#{'greeting.header.' + ${number}}" class="display-4"></h1>

[2021-01-05 15:35] ottlinger commented on #814
Both solutions are working - thanks.

[2021-01-06 15:31] ottlinger commented on #814
As people can search this issue for solutions I'm going to close the issue - thanks again for your help and patience.

[2021-01-06 15:31] #814 closed, assigned to nobody

[2021-01-08 23:15] scoldwell opened #816 "Release 3.0.12 has broken most of our templates due to #809"
Due to changes in https://github.com/thymeleaf/thymeleaf/issues/809 we have a lot of templates that are now broken.

For a lot of our templates we use static members in our Spring controllers for the request names.  Hrefs within our templates look like the following:

`<a th:href="@{${T(com.test.controller.DashboardController).REQUEST_DASHBOARD}}">`

This now results in the following exception:

o

[2021-01-13 11:37] odrotbohm opened #1080 "Templates names starting with leading slash not resolvable from fat-jar"
Assume a template `sample.html` present in `src/main/resources/templates` of a Spring Boot application, Boot configuring the `templates` folder to be the root folder for view resolution and a Spring MVC controller returning `/sample` as view name.

In that case, Thymeleaf resolves the template if the application is run exploded (in the IDE or via the Spring Boot build plugin) *but fails* to resolv

[2021-01-15 05:40] benfortuna commented on #808
Any thoughts or feedback on this?

[2021-01-15 12:43] abs0 commented on #816
Very much likewise - there seem to be a lot of thymeleaf examples using just this pattern and we've used it across our system.

I'd even be happy with a new syntax for accessing enums (regex being your (sometimes sharp edged) friend :)

[2021-01-17 03:24] yerodriguez commented on #108
I came across same issue with Thymeleaf output: it had a lots of white space.
The solution provided by @bingozzzz does not work on 3.0.

I resolved by creating a custom class implementing IPostProcessorDialect  and in that Dialect I referenced a custom Template Handler (extending AbstractTemplateHandler). The work of removing empty text is taken care of by the impl of the AbstractTemplateHandler.

[2021-01-18 11:36] abollaert commented on #816
It looks like this gets applied selectively though (for example a th:each works whereas a th:data-xxx doesn't). The only problematic instances I found in our code were "default" attributes (such as th:data-whatever or th:aria-labelledby).

[2021-01-26 09:48] ultraq opened #817 "Create an online Thymeleaf sandbox/repl"
When I'm answering some of the questions raised on GitHub about Thymeleaf, I'm often having to create small snippets of HTML with some Thymeleaf in them.  To verify that what I've written works, I open up a local project on my computer, throw the snippet into an easy-to-access HTML file, adjust the necessary controller, and run the project.  Modifying a personal project feels a bit much to verify

[2021-02-05 15:53] mvpcortes opened #818 "Problem with <script th:src=""/>"
Hi,

I update my spring-boot to 2.4.2 and spring 5.3.3.

Thymeleaf version is: 2.4.2

I using too org.thymeleaf.extras:thymeleaf-extras-springsecurity5:3.0.4.RELEASE

My  main template has a script tag like:

[code]

In the <script> tag, thymeleaf render page without  / to close tag, and the browser hides all page cotent because do not has </script> to close <script> OR the / in the end of <script

[2021-02-05 16:02] #818 closed, assigned to nobody

[2021-02-05 16:03] mvpcortes commented on #818
I'sorry, I was wrong in this bug. O closed because I was solved.

[2021-02-06 19:07] didiez opened #819 "Thymeleaf expression cache bug in restricted expression evaluation mode"
After #809 we have noticed an odd behaviour due to some unsafe expressions we were using in our templates.
The errors caused by these expressions (`ThymeleafProcessingException`) were raised intermittently. We had a hard time reproducing the issue. Those errors were more frequent under high load so we dug deeper.

The problem seems to be related with the expression cache. Once an expression is cac

[2021-02-07 21:45] ultraq commented on #817
Got something going under my own user for now and hosted on 'hobby' tier hardware 😅  https://github.com/ultraq/thymeleaf-repl  If it becomes useful to a wider audience I'll reconsider the options.

[2021-02-07 21:45] #817 closed, assigned to ultraq

[2021-02-08 15:56] leonard84 commented on #816
As the intent of the _restricted expression evaluation mode_ is to:

([source](http://forum.thymeleaf.org/Thymeleaf-3-0-9-JUST-PUBLISHED-td4030728.html))

IMHO restricting access to constants and enums doesn't make sense to achieve this goal, as they cannot be manipulated by user input.

@danielfernandez as you are responsible for #809 I would like to know what the suggested replacement for access

[2021-02-08 19:42] danielmurilo commented on #798
Caused by: org.attoparser.ParseException: ... Malformed markup: Attribute "th:classappend" appears more than once in element

[2021-02-09 14:09] membersound commented on #816
Here too. Most of our template broke with `3.0.12`, which is part of `spring-boot-starter-thymeleaf-2.4.2`.
Thus atm we have to downgrade thymeleaf explicit...

[2021-02-10 16:13] gerardnico commented on #774
From a design and logical point of view, the designer would expect to not see any EOL if a line contains only thymeleaf instructions.

The documentation is not logically wrong and shows this well.

An indicator could be created to toggle this behavior.

That was my two cents. Thanks !

[2021-02-15 05:54] bhaskar-anil commented on #456
@harikk did you solve this? I am having similar issue!

I understand that escaping & into &amp; is correct way and it doesn't really change the actual url, but we use a system which reads the URLs and it doesn't work with escaped characters and I do not have any control over it.

[2021-02-15 06:05] selvipt opened #821 "css styles is not visible when downloading the pdf file using thymleaf html template in java"
I am facing the issue while downloading the pdf using thymleaf template. I came across the answer from the stack overflow. I thought of raising my issue over here. I got struck up with more than a month. Help me resolve this issue. I have given all details in the stackoverflow link.  Refer to the stack overflow link [here]( https://stackoverflow.com/questions/64532755/css-styles-is-not-visible-whe

[2021-02-16 02:31] solomonotoo opened #822 "why is jquery code not responding"
Am trying to create sidebar menu in a thymleaf but I dont know what am missing.
This is where am actually facing the problem main_layou.html file

main_layout.html
[code]

Below is the other files
header.html file
[code]

index.html file

[code]

css file

[code]

[2021-02-17 23:41] #823 closed, assigned to danielfernandez

[2021-02-22 16:07] futzlig commented on #816
If I understand #809 correct, I can not write

<option th:each="item : ${T(my.package.to.an.EnumClass).values()}" ...>

anymore (fill dropdown boxes with enum values)? What is the best / easiest way to migrate this code?

A downgrade to 3.0.11 is not possible for me due to #208 in thymeleaf-spring...

[2021-02-23 02:06] goodale opened #824 "no documentation on configuring java8TimeDialect in spring-web-servlet.xml"
I am trying to solve something that is straightforward in JSTL.  Namely,  transform a datetime from the timezone of the server into another timezone.     In JSTL this can be done by simply specifying the timeZone attribute for the fmt:formatDate tag.    (e.g. `<fmt:formatDate timeZone="${rec.tzName }" type="time"  pattern="h:mm a zz" value="${dateValue}" /> ` )

From what I have read it is necessa

[2021-02-23 10:00] membersound opened #825 "Support Formatter in th:data attributes"
For complex objects a `Formatter` can be registered to pretty print objects as follows:

[code]

This works fine:
[code]

But often I'd like to make use of the `th:data-*` tag, which does not work:
[code]

A workaround is to use the `th:attr` tag, but which requires all formatted data attributes being added as csv line, which is quite ugly:
[code]

It would be great if the `th:data-*` field could

[2021-02-26 15:26] Jason-purse opened #826 "html/xml comment blocks not support [[]] or [()]"
when I use the html/xml comment blocks ,find it not support  [[]] or [()],

If these two symbols appear in this comment block, they will be interpreted and executed by the template engine. If the variable does not respond, it will cause an null exception, and it is not text-inlining or javascript...inling, I am confused, can
No answer this doubt

eg.  will throw null exception;

I need help!

[2021-02-26 15:31] Jason-purse commented on #826
eg .   "

[2021-02-26 15:32] Jason-purse commented on #826
eg.   "\\<!-- [[user.name]] or [(user.password)]--\\>" will throw null exception;

[2021-03-02 16:56] sunriize commented on #816
+1 Many of my templates are broken due to this "minor"?? update. It looks like a breaking change to me and should not have been embedded within a minor version update...

[2021-03-06 11:43] ayechantharsoe commented on #816
I really wonder why there is no mention of the alternatives.
I ended up using with `th:with` like below
[code]

[2021-03-08 18:18] scoldwell commented on #816
@danielfernandez can you comment on this issue?  Seems to be a major problem for many people

[2021-03-26 05:31] jlSites commented on #816
I had the same issue on my spring boot project(2.4.4), maybe 30+ templates affected, so spend few hours refactoring them into model attributes.

[2021-03-26 08:06] membersound commented on #816
Could you maybe give examples on which expressions have to be formatted in a new way? That would probably help the majority of us to get rid of the old syntax more easily.

[2021-03-28 04:32] ayechantharsoe commented on #816
If you are working with Spring then another workaround to this is to define global model attributes using `@ControllerAdvice`.
For eg,

[code]

[2021-04-03 12:50] wimdeblauwe commented on #604
I personally think about the same lines as @jonhkr . The locale represents the language that you want to show an amount in. If you have an amount in euro with an English locale, you should show `€ 1,000.00`. If you shown an amount in euro with a Dutch locale, you should show `€ 1.000,00`. I already find it weird that the number is just assumed to be in the correct currency of the current locale. I

[2021-04-03 16:01] goodale commented on #604
I also have a multi-tenant Saas application where each client has its own currency but all clients are on the same database.  (So the currency is saved in the database on a per-client basis such as 'EUR', 'USD' , 'CAD', etc)

The view layer needs to present financial data in the currency defined in the database but formatted based on the locale of the browser (eg the number and date formats as def

[2021-04-05 23:53] totof3110 commented on #604
+1 here. Would love to see this resolved especially with the PR already there: https://github.com/thymeleaf/thymeleaf/pull/715.

[2021-04-06 14:24] mohamedHedi1990 commented on #572
this error is most likely due to an unclosed attribute and as a result it generated a problem in the whole html template. So, check your html file.

[2021-04-16 18:38] wimdeblauwe commented on #749
I see that https://github.com/thymeleaf/thymeleaf/discussions is now available.

[2021-04-17 14:35] danielfernandez commented on #749
The old Thymeleaf User Forums at http://forum.thymeleaf.org were locked more than a year ago. We didn't remove the content so that it could still work as documentation for users coming from Google searchs, but no interactions are (should be) allowed any longer since then, at least to the point allowed by the service.

Those forums are managed by an external service called Nabble, and we closed the

[2021-04-17 14:35] #749 closed, assigned to nobody

[2021-04-25 09:32] threedr3am opened #828 "Report a security vulnerability for Restricted mode bypass"
Hello, i'm threedr3am. I found that Thymeleaf 3.0.12 version provides a new function Restricted mode to restrict the execution of statements such as T(java.lang.String) and new java.lang.String().

### 0x01 Vulnerability details

https://github.com/thymeleaf/thymeleaf/issues/809

1. spring3、spring4、spring5

https://github.com/thymeleaf/thymeleaf-spring/blob/3.0-master/thymeleaf-spring3/src/main/ja

[2021-04-25 17:08] threedr3am commented on #828
I think it should be submitted to thymeleaf-spring, so close the issue..
https://github.com/thymeleaf/thymeleaf-spring/issues/256

[2021-04-25 17:08] #828 closed, assigned to nobody

[2021-04-25 17:11] threedr3am commented on #828
But I think there should also be problems with the ognl detection code, and more tests should be needed!

[2021-04-25 22:42] danielfernandez commented on #816
Please note that, as explained in #809, execution of static code with `T(className)` has only been forbidden in specific _restricted_ scenarios. Namely:

   * Pre-processing expressions: `__...__`
   * Unescaped output: `th:utext` and inlined unescaped expressions.
   * All `th:on*` attribute processors for JavaScript events which value is a _Thymeleaf Standard Expression_ (see #707).
   * `th:att

[2021-04-25 22:47] #816 closed, assigned to danielfernandez

[2021-04-25 23:33] ultraq commented on #822
Hi there, looks like there's a bit of the layout dialect sprinkled throughout the code example, so not entirely sure if it's a Thymeleaf issue and will close this issue after I take a stab at answering it.

You've got all of the jQuery code inside a `<script>` block that appears inside a layout dialect fragment, `layout:fragment="content"`, of your main layout file:

[code]

However, the layout di

[2021-04-25 23:33] #822 closed, assigned to ultraq

[2021-04-26 09:04] abs0 commented on #816
I absolutely understand the rationale behind the changes, and we're more than happy to adjust our code to access enums in a safer way, but I have to confess "Go add a getter to a model object for every enum you might ever want to use in a template" is not the answer for which I was hoping.

It would be nice if thymeleaf could provide a recommended way of managing enum visibility - possibly even pa

[2021-04-26 16:31] leonard84 commented on #816
IMHO it would be better to be able to add classes to an `AllowList`. Those classes are allowed for static access in those sensitive areas. This way we can allow access to our enums and constant classes. It would be a similar compromise to what has been done with the serialization vulnerabilities.

[2021-04-26 16:35] leonard84 opened #829 "Add `AllowList` for classes that should be available for static access via `T()` in sensitive expressions"
As discussed in #816 the changes in `3.0.12` disabled static access via `T()` in sensitive expressions.
It would be a good compromise, if we could allow certain classes to be still be accessible in those areas, e.g. Enums or String constants.

[2021-04-26 16:38] jochenchrist commented on #816
A version bump would have been nice.

[2021-04-27 19:40] scoldwell commented on #816
I complete understand the idea of preventing execution of arbitrary code, but in most of the cases myself and others have raised, we're talking about constants/enums.  Could code be added to the detection routine to determine if the target of the T() expression is a constant and allow that?

[2021-05-07 15:15] Lesurglesum opened #831 "ClassLoaderTemplateResolver ignores leading '/'"
Hello,
currently I am trying to use HTML templates with the `ClassLoaderTemplateResolver` and 'absolute' paths and failing. No matter what I try, only relative paths are processed and a FileNotFoundException with **no** leading '/' is thrown. I want to use the `ClassLoaderTemplateResolver` because I want to keep the templates inside the jar.

[code]

Walking in with the debugger I've found out tha

[2021-05-07 22:37] ultraq commented on #831
Having a look at the `ClassLoaderTemplateResolver` code, if you don't include which classloader to use in the constructor, it defaults to the classloader returned by `Thread.currentThread().getContextClassloader()`  You can follow the code down from here: https://github.com/thymeleaf/thymeleaf/blob/309b9f298e03cd069a6eea526bec298cfbec4a4a/src/main/java/org/thymeleaf/templateresource/ClassLoaderTem

[2021-05-21 08:34] Ornelio-Chauque commented on #786
@yahyadev69 thanks.

Changing the ServletContextTemplateResolver to ClassLoaderTemplateResolver on the configuration class worked for me.

From:
`@Bean
    public ServletContextTemplateResolver templateResolver(ServletContext servletContext){
        ServletContextTemplateResolver templateResolver = new ServletContextTemplateResolver(servletContext);
        templateResolver.setPrefix("/WEB-INF/te

[2021-05-21 08:39] Ornelio-Chauque commented on #786
@yahyadev69 thanks.

Changing the ServletContextTemplateResolver to ClassLoaderTemplateResolver on the configuration class worked for me.

From:

`@Bean
    public ServletContextTemplateResolver templateResolver(ServletContext servletContext){
        ServletContextTemplateResolver templateResolver = new ServletContextTemplateResolver(servletContext);
        templateResolver.setPrefix("/WEB-INF/t

[2021-06-02 19:40] Gitanshu3 opened #834 "Get Sub IModels from IModel"
I am migrating from thymeleaf 2.1.4 to version Thymeleaf 3.0 running on spring boot application. I was using DOM structure extensively to keep tracks of children of elements and run my modifications on them but as Thymeleaf 3.0 introduces event based parsing , parsing an XML document with great depth containing loads of nested elements or children has become a difficult task. IModel interface cont

[2021-06-03 08:05] ultraq commented on #834
Thymeleaf doesn't come with methods for working with events/models as if they were DOM nodes with the whole child/parent hierarchy, so custom solutions like yours are needed if you want to do that.

I don't know if it's any better, but one thing I've done to extract submodels is to copy the current model, then remove the opening element and any leading whitespace nodes, and remove the closing elem

[2021-06-03 08:10] Gitanshu3 commented on #834
Well , i have my custom code working to create submodels out of a mode but can you please answer me for And since i am extending AbstractElementModelProcessor , it provides me IElementModelStructureHandler that doesn't provide any functionality to replace/remove the current model with the new Model i have created . How to deal with this scenario ?

[2021-06-03 08:20] Gitanshu3 commented on #834
@ultraq Well , you are assuming that after removing your open element tag ,your first event will be text , what if the next event is the nested element as the part of the parent element and can you please answer me for And since i am extending AbstractElementModelProcessor , it provides me IElementModelStructureHandler that doesn't provide any functionality to replace/remove the current model with

[2021-06-03 09:05] ultraq commented on #834
Then the loop will be skipped as it checks if the element is a text node and contains only whitespace before removing it.

When using a model processor, any changes you make to the model that is given to the process method will be reflected in the output.  So, if you want to replace the model with your own, you can clear it and then add your own events or models to it, eg:

[code]

The `IElementMo

[2021-06-05 17:52] Gitanshu3 commented on #834
@ultraq Do you know if there is any way to get a map of LocalVariables in thymeleaf 3 , in thymeleaf 2.x.x , we used to have Arguments class that provided the functionality to manipulate the local variables used in the html/xml template while evaluating the OGNL expressions,
Below is the method I have been overriding from AbstractLocalVariableDefinitionAttrProcessor.
In thymeleaf 3 context contain

[2021-06-06 06:48] ultraq commented on #834
You can get a set of variable names using the `IContext.getVariableNames()` method (`ITemplateContext` implements `IContext`, so this is available in the process method of all your custom processors), then, if you need to know the values, follow up with `IContext.getVariable(String name)`.

[2021-06-06 07:16] Gitanshu3 commented on #834
@ultraq I used this IContext.getVariableNames() and you can see in the screenshot , it gets me all the variable names(spring related as well) but i just want the local variables that are there in my xml(for example in screenshot you can see there are 2 , prods and teams) and i can only use IContext.getVariable(String name)  if i can have a list of all local variable names(which i am not already aw

[2021-06-10 08:16] Gitanshu3 opened #837 "Context not available to compute Template Resource"
In Thymeleaf 3.0 TemplatePrcoessingParameters class is removed that helped in providing the Context(where you can manipulate the local variables) while overriding getResourceAsStream method to compute the Template resources by implementing IResourceResolver interface.

In return, thymeleaf 3.0 still allows one to override computeTemplateResource method to return ITemplateResource where one has to

[2021-06-18 09:34] karancontexio commented on #614
This works for me thank you Intellij Idea

[2021-06-21 13:18] linearizability opened #838 "Comments in HTML (<!-- [[${xxx}]] -->) causr "Could not parse as expression""
## Sorry, my english is not very good, so I use pictures to show

[code]

![0](https://user-images.githubusercontent.com/59158756/122766171-cf225c00-d2d3-11eb-8f15-96ba1b8daaef.png)
![1](https://user-images.githubusercontent.com/59158756/122766182-d2b5e300-d2d3-11eb-8fd5-75ebac359773.png)
![2](https://user-images.githubusercontent.com/59158756/122766190-d47fa680-d2d3-11eb-97f1-91a65c6fbf0b.png)
![

[2021-06-22 13:11] membersound commented on #816
I can encourage you using this quickfix for your broken definitions.
I only had to use a bunch of it, and can now work again with the most recent version again.

[2021-07-02 02:54] benfortuna opened #839 "Enhancement: Native support for OSGi"
Problem statement: currently to include thymeleaf in OSGi runtimes we need to use wrapper implementations such as the servicemix bundle. There are issues with the reliability of the servicemix bundle that could be fixed by native OSGi support in this project's release artefacts.

Solution: Add the bndtool to generate the JAR manifest including OSGi headers. The work is already done and available i

[2021-07-06 07:48] xhc-code opened #840 "The th:with statement, the declared variable is within its scope, what if the value of this variable is changed? I want to judge whether the current loop has a state condition for the result, but the scope of the variable declared by th:with is bound to the location where it is added, and it cannot modify the wider variable with the same name; may I ask, it is designed like this Or has there been a history of decision-making?"
The th:with statement, the declared variable is within its scope, what if the value of this variable is changed? I want to judge whether the current loop has a state condition for the result, but the scope of the variable declared by th:with is bound to the location where it is added, and it cannot modify the wider variable with the same name; may I ask, it is designed like this Or has there been

[2021-07-06 07:52] xhc-code commented on #840
The th:with statement, the declared variable is within its scope, what if the value of this variable is changed? I want to determine whether the current loop has a state condition for the result, but the scope of the variable declared by th:with is bound to the position where it is joined, and I cannot modify the scope of the declaration using th:with The value of the variable; is it the design or

[2021-07-07 13:35] zoain-it opened #841 "Some questions about the built-in object session"
I am currently using version 3.0.11 and I would like to know about how the built-in object session is refreshed. For example, if I switch to different accounts several times, how does the session trigger the update?

[2021-07-15 13:10] ghost opened #842 "Javascript injection replacing +"
When I inject thymeleaf code in javascript in a webpage, it replaces everything up to a comma, closing bracket or carrige return.
The + sign should be added.

this line works fine
`setInterval(keepSetAlive, Number(/*[[${@environment.getProperty('keepalive',840000)}]]*/840000));`

this line does not work:
`httpRequest.open('GET', /*[[@{'/keepalive?time='}]]*/ + start.toISOString());`

expected resu

[2021-07-22 15:46] mmoayyed opened #843 "ENHANCEMENT: Customizing TemplateCacheKey used by TemplateManager"
Thymeleaf version: 3.0.12.RELEASE
Spring Boot: 2.5.3
Apereo CAS: 6.4.0

When `TemplateManager` attempts to provide a template model, it ultimately builds a cache key to cache the result as such:

[code]

There is a scenario in Apereo CAS where two template names, by the same name, can be found at different paths, where the differentiating factor is a theme name or an external variable.

For exampl

[2021-08-10 05:43] Urodacus commented on #842
I came across a situation like thais while using js inlining and found out that in my case thymeleaf was ignoring anything after the comment
[code]
it ignored everything after the comment and before the semicolon , and in this case the html file will contain the userId default value
it may be a different situation

i just want you to check the thymeleaf url  if you use intellij  so if it was `<htm

[2021-08-10 09:23] ghost commented on #842
I have tested it on eclipse, bet the problem persists, it still removes the the plus and other javascript variables.

Ronald Stubbe

[2021-08-15 17:53] #841 closed, assigned to nobody

[2021-08-19 16:35] xtianus commented on #831
In `templateResolver.setPrefix();` I use neither leading nor trailing slashes and it works:

`resolver.setPrefix("net/yadaframework/views");`

All my view names are always absolute then: "/my/view/name"

This was the only way to make it work for me (did so in an old Thymeleaf version and stuck to it).

[2021-08-25 18:32] d1snin opened #844 "th:each problem."
Hello, im new to thymeleaf, how can i fix this error?
![изображение](https://user-images.githubusercontent.com/68169685/130846043-8a391a98-b0a4-4be2-864d-b414eb8fd47f.png)

[2021-08-25 18:33] d1snin commented on #844
Tell me if you need more code or info.

[2021-08-25 19:51] d1snin commented on #844
well, I think it is probably an ide issue, because actually it works.

[2021-08-25 19:51] #844 closed, assigned to nobody

[2021-08-27 10:29] xtianus commented on #805
@ultraq I have the same exact issue and the question is: how do I get the th:field value from inside my tag processor that extends `AbstractElementModelProcessor`?
When executing my

    doProcess(ITemplateContext context, IModel model, IElementModelStructureHandler structureHandler)

the th: attributes have already been stripped from the model.

I need to give my dialect a higher (later) preceden

[2021-08-27 20:41] mdwheaton opened #845 "The contents of the error page template are being displayed inline when and Exception is raised."
I'm not entirely sure if this goes in the Thymeleaf project or the Spring Boot project.
Spring Boot 2.5.4
Thymeleave 3.0.12
Custom ErrorController
The template I have contains a number of large tables.
At a certain point in the template, if I encounter an Exception I am no longer redirected to the Error Page I created.
Instead, my Error Page is embedded inline with the partially rendered template.

[2021-08-28 13:30] mdwheaton commented on #845
Looks like the issue was this Thymeleaf option defaults to TRUE:
spring.thymeleaf.servlet.produce-partial-output-while-processing=false

[2021-08-28 13:30] #845 closed, assigned to nobody

[2021-08-28 15:02] CrazyOrr opened #846 "ENHANCEMENTS: Can we have optional parameters with Link URLs?"
For example:
`@{/order/{id}/details(id=3,action=${action})}`
when the variable `action` is null, the expression results to:
`/order/3/details?action=`
Can we lose the 'action=' part in this case?

[Related stackoverflow question](https://stackoverflow.com/questions/32087808/optional-parameters-in-thymeleaf-url)

[2021-08-29 10:10] ultraq commented on #805
Ah, yes having a higher precedence than the standard dialect will mean you miss out on seeing things like `th:field` in its raw state 🤔

Some workarounds that I can think of:
 - create a separate dialect with a lower value than the standard dialect, which then that contains the processor you want to see the `th:field` value
 - create another processor that can be included on a parent HTML element,

[2021-09-02 07:27] ultraq commented on #838
Hi there 👋  It looks like you've encountered a special feature of Thymeleaf called expression inlining, and it's a feature that lets you create expressions (`${...}`) inside text blocks by using `[[` `]]` brackets.  The feature is described in the docs here: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#inlining

By having `[[${xxx}}]]`, Thymeleaf saw the `[[...]]`, so thought to

[2021-09-08 12:23] justwiebe commented on #816
I feel like a much less breaking way would be to instead not execute expressions in string variables rather than to stop developers from explicitly calling an enum. This is really annoying

[2021-09-11 14:26] wimdeblauwe opened #847 "Difference in th:replace vs th:insert when using variables"
Suppose `todos` is a model attribute that has a `List` of `TodoItemDto` instances.

This works:
[code]

Given `fragments.html` contains this:

[code]

However, when using `th:replace` instead of `th:insert` like this:

[code]

Then I get an error:

Any idea why this is?

What I find also strange is that it also does _not_ work with `th:insert` if I rename `item` to `myItem` when calling the fragme

[2021-09-11 18:09] wimdeblauwe commented on #847
Reading up on [Attribute Precedence](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#attribute-precedence), I think I can answer my own question.

`th:insert` and `th:replace` have the highest precedence, `th:each` is lower.

**With th:insert**

So, when using `th:insert`, the following is happening.

Start with the actual template:
[code]

First, the `th:insert` is processed, so w

[2021-09-12 06:48] ultraq commented on #847
Hey there 👋  So yes, what you've discovered is exactly right: `th:replace` replaces the entire DOM node before `th:each` runs, giving you the error that you encountered.

Using `th:remove="tag"` is one solution to this to clean up the HTML after all of the fragments have been included and iterations run.  Another one might be to use Thymeleaf's `<th:block>` element which acts as a place to have at

[2021-09-14 16:32] wimdeblauwe commented on #847
I am writing a blog post to explain all this in more detail, but I can't seem to be able to combine a fragment with `th:block`.

So this works:

[code]

But if I do this:

[code]

Then I get:

Replacing `th:replace` with `th:insert` gives no difference, both result in the same error.

[2021-09-14 16:37] wimdeblauwe commented on #847
For clarity, this was the fragment I was using:

[code]

What I found that does work, is using pre-processing.

Change the fragement to:

[code]

And use it like this:
[code]

Note how I pass `'user'` string into the fragment, which has to match with the name of the iteration variable `user` that is used in the `th:each`.

Would you say that using the pre-processing approach is recommended if you

[2021-09-15 15:25] wimdeblauwe commented on #847
To be honest, I still don't understand why this does not work:

[code]

How does Thymeleaf handle processing of child elements? I would expect the `<li th:replace...` element to be processed first. If that is the case, then it should work, no?

[2021-09-15 16:31] wimdeblauwe commented on #847
Looking through [the docs on fragments](https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#parameterizable-fragment-signatures) in more detail, I see that my example should be:

[code]

Note how I replaced `user` with `${user}` in the `th:replace` attribute value.

[2021-09-15 16:31] wimdeblauwe commented on #847
I published a blog post about this now: https://www.wimdeblauwe.com/blog/2021/09/14/thymeleaf-iteration-and-fragments/

[2021-09-17 13:03] wilkinsona commented on #811
Just FYI, work has now begun in earnest on Spring Framework 6 where the switch to Jakarta EE 9 dependencies [has been made](https://github.com/spring-projects/spring-framework/commit/d84ca2ba90d27a7c63d7b35a6259b5b9cf341118). Spring Boot will follow suit in due course. As things stand we will remove support for auto-configuring Thymeleaf. Hopefully this will only be a temporary situation. If there

[2021-09-17 13:30] danielfernandez commented on #811
Understood, thanks @wilkinsona

[2021-09-22 17:51] xtianus opened #848 "Standard th: attributes not executing on nested custom tag"
I'm trying to write a custom tag with nested custom tags. Something like

[code]

The `th:if` attribute on the `my:out` tag works fine but the `th:text` attribute is ignored on the `my:inside` tag. Actually any `th` attribute is ignored in the inside tag.

I'm using a custom `AbstractElementModelProcessor` that iterates over the `IModel` elements.

My guess is that tags inside custom tags are not

[2021-09-23 09:40] ultraq commented on #847
Nice 🙂  And yeah I got a bit stuck figuring out why what you had a few posts back didn't work, but good to see you've figured it out!

[2021-09-23 09:40] #847 closed, assigned to ultraq

[2021-10-25 16:19] trinhnx commented on #826
That is inlining expression, and afaik, Thymeleaf gonna process it even it is in documented block
you can try add the tag to disable inline
see
https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#disabling-inlining

[2021-10-26 03:41] trinhnx commented on #838
Yes, as below comment, you can disable inline to hint Thymeleaf avoid evaluating those expressions in comment sections

[2021-11-05 03:51] lqxue575 opened #849 "shiro conflict with layui template"
hello,

i am using layui framework for web UI,and using shiro for the security framework, i found that the  shiro conflict with layui template when the use DO NOT has the permission.
the code as below,when user does not have caigou:add permission will cause the issue:

<script  type="text/html" id="operation">

    {{# if(d.addman =='[[${_humanId}]]' && d.state<=0){ }}

    <a class="layui-btn lay

[2021-11-05 14:42] OrangeDog commented on #586
While this was "fixed", how do you get the old behaviour back (whitespace between iterated spans)?

[2021-11-05 15:41] OrangeDog commented on #672
Wouldn't this need to be done in Spring?
https://github.com/spring-projects/spring-framework/issues/20433

[2021-11-12 20:02] northcoder-repo opened #850 "Unexpected result from subtraction using nulls"
I am using Thymeleaf  version 3.0.12.RELEASE with Java 16.

There is no Spring or SpEL involved.

I have a question regarding the following two scenarios:

### Scenario One

The Java model:

[code]

The Thymeleaf template:

[code]
The outcome:

Upon attempting to render the template, the following exception is thrown:

    org.thymeleaf.exceptions.TemplateProcessingException: Cannot execute subtra

[2021-11-18 20:10] testinging1 opened #853 "Execute thymeleaf template from project directory"
I created a library which, in combination with thymeleaf (without spring), deals with sending e-mails.
I add this library to my project dependencies and there is a problem - the library does not use the html template from the project's "resources / templates",it uses template from library resources.
How can this be changed? Do you have a sample solution?
I want this library to take html template f

[2021-11-18 20:10] #853 closed, assigned to nobody

[2021-11-21 06:20] ratulSharker commented on #798
[As same attribute appearing more than once is not valid HTML / XML](https://stackoverflow.com/a/26341866/2143128), can we proceed by adding a separator between multiple expressions ? i.e say we use `|` as a separator, then we could accommodate multiple expression as follows

[code]

Then in the parsing end, before feeding the expression to the evaluator, we have to split by `|`.

[2021-11-21 15:10] adrianodanduino opened #854 "execute thymeleaf from project directory"
I created a library which, in combination with thymeleaf (without spring), deals with sending e-mails.
I add this library to my project dependencies and there is a problem - the library does not use the html template from the project's "resources / templates",it uses template from library resources.
How can this be changed? Do you have a sample solution?
I want this library to take html template f

[2021-11-21 23:40] danielfernandez commented on #854
The `resources/templates` folder is only the default folder for Thymeleaf web HTML templates in Spring Boot applications, per Spring Boot (auto)configuration.

If you want to load your templates from your `src/main/resources/templates/` folder you can use `ClassLoaderTemplateResolver` as long as you make sure that your `src/main/resources` folder ends up being the root of your class loader path, a

[2021-11-21 23:40] #854 closed, assigned to danielfernandez

[2021-11-22 11:41] eaglerainbow commented on #839
Same as or at least related to #808?

[2021-11-22 22:24] benfortuna commented on #839
Indeed it is a duplicate. I can't recall why a new issue was created, I'll merge into the original the issue.

[2021-11-22 22:24] #839 closed, assigned to nobody

[2021-11-25 22:48] danielfernandez commented on #831
The `ClassLoaderTemplateResolver` always considers paths to start at one of the entries of the class path of the class loader being used for resolving the resources. There is no such thing as _relative_ resources in a class-loader-based resolution. So your `/some/resource" will be equivalent to `some/resource`, and will result in a folder called `some` being searched in all the folders configured

[2021-11-25 22:48] #831 closed, assigned to ultraq

[2021-11-25 22:51] danielfernandez commented on #849
Sorry, I'm afraid that doesn't look like Thymeleaf code, so most probably this has been reported here in error.

[2021-11-25 22:51] #849 closed, assigned to nobody

[2021-11-25 23:01] danielfernandez commented on #850
In this expression, the subtraction is executed by Thymeleaf:
[code]
In this one, the subtraction is performed by the expression language because of being inside of `${ ... }`, which from your result I take is OGNL. Thymeleaf here is consistent with SpringEL instead, which would raise an exception if you executed this with it:
[code]

[2021-11-25 23:01] #850 closed, assigned to nobody

[2021-11-25 23:25] danielfernandez commented on #837
In Thymeleaf 3.0, for the sake of the new resource architecture which allows for better caching and sharing of resources, template resolution had to be decoupled from the context being used for specific executions at the resolution step.

So the context for a specific resolution is no longer a valid input for the resolution of a template.

[2021-11-25 23:25] #837 closed, assigned to nobody

[2021-11-25 23:36] danielfernandez commented on #791
I honestly understand this comments, but these backwards-incompatible changes are due to security vulnerabilities being reported by security auditors. Unfortunately performing major version leaps whenever this happens would not be feasible.

In the same way, allowing for the _disabling_ of these security features would not be allowed by these security auditors. In general, these are people that do

[2021-11-25 23:36] #791 closed, assigned to nobody

[2021-11-25 23:42] danielfernandez commented on #808
Sorry, OSGi support was evaluated in the past and declined. Conclusions of such evaluation still stand. Thanks a lot for your contribution, though.

See https://github.com/thymeleaf/thymeleaf/pull/280#issuecomment-50977114

[2021-11-25 23:42] #808 closed, assigned to nobody

[2021-11-26 00:17] danielfernandez commented on #840
Yes, this is by design. Variables have a value in a scope defined by the structure tree of markup.

[2021-11-26 00:17] #840 closed, assigned to nobody

[2021-11-28 12:41] danielfernandez commented on #826
As @trinhnx explained, this collides with inlining syntax and therefore it is executed as such.

[2021-11-28 12:41] #826 closed, assigned to nobody

[2021-11-28 13:23] danielfernandez commented on #842
This is the expected behaviour. Please review https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#javascript-inlining. In cases such as yours, I would first compute the inlined argument in a `var` in the previous line and then use it in the more complex expression with `+` without the need for inlining.

[2021-11-28 13:23] #842 closed, assigned to nobody

[2021-11-28 18:25] danielfernandez commented on #790
This is done for compatibility with the way Spring generated this attributes in its JSP taglibraries. See https://github.com/spring-projects/spring-framework/blob/f88344db03bcc6e40cc434bda00434acb0e8f0c6/spring-webmvc/src/main/java/org/springframework/web/servlet/tags/form/AbstractDataBoundFormElementTag.java#L126-L151

The underlying reason is that ID has quite strict rules on allowed characters

[2021-11-28 18:25] #790 closed, assigned to danielfernandez

[2021-11-28 18:34] #838 closed, assigned to ultraq

[2021-11-28 18:35] #771 closed, assigned to nobody

[2021-11-28 20:44] danielfernandez commented on #776
Sorry, none of our tests in 3.0.12 or 3.0.13 show this behaviour. I've re-tested in a web application both with and without Spring just in case, and it seems to be working as expected.

Please reopen with a working example if you are still experiencing this issue.

[2021-11-28 20:44] #776 closed, assigned to danielfernandez

[2021-11-28 21:16] danielfernandez commented on #769
Thymeleaf makes use of Unbescape's _Level1_ HTML escaping, as explained [here](https://www.unbescape.org/apidocs/unbescape/1.1.6.RELEASE/org/unbescape/html/HtmlEscapeLevel.html).

I've added this to Unbescape here: https://github.com/unbescape/unbescape/issues/29

[2021-11-28 21:16] #769 closed, assigned to danielfernandez

[2021-11-28 21:18] danielfernandez commented on #781
Your `User` class needs a getter for the `title` property. If not, this being a private property, the expression engine cannot access it.

[2021-11-28 21:18] #781 closed, assigned to danielfernandez

[2021-11-28 21:20] danielfernandez commented on #761
All `process(...)` methods in `TemplateEngine` in 3.0.x include a `templateSelectors` argument that allows the specification of a template fragment (or several), so that only those are executed.

[2021-11-28 21:20] #761 closed, assigned to nobody

[2021-11-28 21:23] danielfernandez commented on #638
Base Jackson dependency version already is 2.11.3 for the core. Closing this.

[2021-11-28 21:23] #638 closed, assigned to nobody

[2021-11-28 21:24] danielfernandez commented on #821
PDF generation is not the responsibility of Thymeleaf. I assume this has to do with how your browser generates this from your HTML.

[2021-11-28 21:24] #821 closed, assigned to nobody

[2021-11-28 22:06] danielfernandez commented on #825
Conversion should work for `th:data-*` attributes, and none of our tests show it doesn't. Nevertheless, I've re-tested it on both Spring-based and non-Spring applications and I've verified it works for me. Please reopen with a working example showcasing the issue if it still persists for you.

[2021-11-28 22:06] #825 closed, assigned to nobody

[2021-12-02 14:09] anton-lilleby commented on #765
Hi,
I had the samme issue and solved it client side @jbaiter

[code]

[2021-12-08 09:51] wilkinsona commented on #811
Hi, @danielfernandez. Just to let you know that Spring Boot 3.0 snapshots are now available. As described above, we've removed Thymeleaf support. We'd love for this to be a temporary situation so please do let us know if there's anything at all that we can do to help with Jakarta EE 9 and Spring Framework 6 compatibility.

[2021-12-14 15:40] trinhnx commented on #846
I think it is a safe result in case it is a query param, an empty value will be a valid too.
If you want to exclude it then you can create a helper and using it in your thymeleaf template

[2021-12-14 16:30] trinhnx commented on #848
@xtianus could you give me some samples to look up?

[2021-12-14 16:43] xtianus commented on #848
@trinhnx you can see an example implementation in the YadaInputTagProcessor class [here](https://github.com/xtianus/yadaframework/blob/master/YadaWeb/src/main/java/net/yadaframework/web/dialect/YadaInputTagProcessor.java). That's not a simple example though. I don't have a test that you can easily run.

[2021-12-20 21:19] danielfernandez commented on #819
This should be fixed in `3.0.14.RELEASE`

[2021-12-20 21:19] #819 closed, assigned to nobody

[2021-12-22 07:19] SantanaSJ opened #858 "Getting enum values in JS"

[2022-01-01 22:03] #858 closed, assigned to nobody

[2022-01-03 20:13] cbartolome opened #862 "Restricted expression evaluation mode triggers on data-th-minlength but not data-th-maxlength"
I recently upgraded to Spring Boot 2.6.2, which upgraded my project from Thymeleaf 3.0.12 to 3.0.14. This made a template that uses an expression like `data-th-minlength="${T(org.example.Class).MIN_LENGTH}"` fail, while templates that use expressions like `data-th-maxlength="${T(org.example.Class).MAX_LENGTH}"` still work fine. In my opinion, both expressions should be allowed.

I should mention t

[2022-01-05 15:24] danielfernandez commented on #811
Please note this is now in progress. First snapshots of `3.1.0-SNAPSHOT` are already published, but note thorough testing is still ongoing.

Test applications "GTVG" in repo `thymeleafexamples-gtvg` [`3.1-master-javax`,`3.1-master-jakarta`] and "STSM" in repo `thymeleafexamples-stsm` [`3.1-spring5`,`3.1-spring6`] have already been adapted and tested to work with the new snapshots.

Thymeleaf 3.1 w

[2022-01-05 15:31] wilkinsona commented on #811
That's great news. Thanks very much, @danielfernandez. I'll experiment a bit with the Thymeleaf 3.1 snapshots and Boot 3.0's snapshots and let you know how it goes.

[2022-01-06 14:56] wilkinsona commented on #811
Thanks again, @danielfernandez. Things are looking good from Spring Boot's perspective with 3.1.0-SNAPSHOT. The one notable change that I've had to make is to remove support for the Spring Security dialect. Other than that, we appear to have parity with Thymeleaf 3 and Servlet 4.

[2022-01-06 15:19] danielfernandez commented on #811
Thank you @wilkinsona. Spring Security support will happen very soon, @rwinch is helping a lot with that — as he's also been doing with Jakarta EE and Spring 6 support.

[2022-01-18 15:06] danielfernandez commented on #811
The first milestone of Thymeleaf 3.1.0 has just been released.

The following artifacts have been published to Maven Central:

   * `org.thymeleaf`:`thymeleaf`:`3.1.0.M1`
   * `org.thymeleaf`:`thymeleaf-spring5`:`3.1.0.M1`
   * `org.thymeleaf`:`thymeleaf-spring6`:`3.1.0.M1`
   * `org.thymeleaf.extras`:`thymeleaf-extras-springsecurity5`:`3.1.0.M1`
   * `org.thymeleaf.extras`:`thymeleaf-extras-sprin

[2022-01-18 17:28] wilkinsona commented on #811
Thanks very much, @danielfernandez. I've reinstated Thymeleaf support in Spring Boot's main branch and it'll be part of this week's 3.0.0-M1 release.

[2022-01-18 19:06] danielfernandez commented on #811
That sounds awesome. Thanks @wilkinsona.

[2022-01-22 12:30] xtianus commented on #848
I made some experiments with a simple use case.

Given this HTML

[code]

and this processor implementation

[code]

I get this output in the page

[code]

and this console output

[code]

so I deduce that the th: attributes are being processed, but on a "different level" than the custom tag.
In other words, `th:if` and `th:text` give the desired result, but the custom tag doesn't know about them.

[2022-02-01 10:34] sysmat opened #869 "3.1.0.M1 any migration guied"
SUGGESTIONS: 3.1.0.M1
- has any migration guied
- 3.0.14.RELEASE should have marked deprecated(ServletContextTemplateResolver )

Regards, Tomaž

[2022-02-01 23:20] danielfernandez opened #870 "Fix expression parsing inconsistency provoked by empty literal substitutions"
Until `3.0.14.RELEASE`, empty literal substitutions like `||` evaluated to the empty string.

This could provoke issues in the detection of variable execution expressions when these literal substitutions were placed between the `$` / `*` symbols and the opening `{`, like `$||{...}`. Given literal substitutions are executed before expressions, this made `$||{...}` totally equivalent to `${...}`.

T

[2022-02-01 23:22] danielfernandez commented on #870
Thymeleaf `3.0.15.RELEASE` has been already published.

[2022-02-01 23:22] #870 closed, assigned to danielfernandez

[2022-02-01 23:28] danielfernandez opened #871 "Block static and constructor access to certain classes"
Certain classes should be _blocked_ so that the cannot be used in variable expressions in Thymeleaf templates for higher security of expressions. These are all classes which name starts with (i.e. including inner classes):

   * `java.lang.Runtime`
   * `java.lang.Thread`
   * `java.lang.Class`
   * `java.lang.ClassLoader`
   * `java.lang.Runnable`
   * `java.lang.reflect.Executable`
   * `java.ut

[2022-02-01 23:28] danielfernandez commented on #871
Thymeleaf `3.0.15.RELEASE` has been already published.

[2022-02-01 23:28] #871 closed, assigned to danielfernandez

[2022-02-01 23:43] danielfernandez opened #872 "Establish larger restrictions in expressions: more blocked classes, forbid static and constructor use"
Building on what was made for 3.0 in #871 and #874, the following modifications should be done to the restrictions in place for the execution of expressions:

  * Block all classes from _core_ packages establishing a series of exceptions (i.e. go from _allow by default_ to _block by defaut_).
  * For blocked classes, forbid static reference (`@SomeClass@` in OGNL, `T(SomeClass)` in SpringEL), and

[2022-02-01 23:44] #872 closed, assigned to danielfernandez

[2022-02-01 23:48] danielfernandez opened #873 "Expression class allowance mechanism"
Building on #872, we should consider the allowed classes there a _default_ and move towards an even more restricted scenario in which all classes are forbid for static use (`@SomeClass@` in OGNL, `T(SomeClass)` in SpringEL), or constructor use (`new SomeClass`) except some classes that will be specifically _allowed_, and which can be configured by the user.

Note that, given by means of #874 calli

[2022-02-01 23:52] danielfernandez opened #874 "Block calling methods of blocked classes in expressions"
Building on the class blocking mechanism added on #871, the calling of any methods on the black listed classes should be forbidden for all expressions except for the `java.lang.Class#getName()` method, which might be of some use in expressions.

So any expression like `${obj.doSomething()}` where `obj` is of one of the blocked classes detailed in #871 should raise an exception.

[2022-02-01 23:53] danielfernandez commented on #874
Thymeleaf `3.0.15.RELEASE` has been already published.

[2022-02-01 23:53] #874 closed, assigned to danielfernandez

[2022-02-17 16:03] mikehearn commented on #735
Is this being ignored deliberately? :( I just hit this:

1. Surprising, not documented anywhere.
2. Irrelevant for my use case, where all inputs are trusted (not web serving but static file rendering).

@danielfernandez  Is there a way to disable this?

[2022-02-17 16:36] danielfernandez commented on #735
The _restricted mode_ is a feature totally needed by Thymeleaf in order for this project not to be flooded with CVEs from security audits that declare vulnerabilities on Thymeleaf based on things that a template engine should IMHO not be validating at all :). So I'm terribly sorry, but it cannot be disabled, and my prediction is that it can probably get _worse_ with time. This is how software secu

[2022-02-17 16:36] #735 closed, assigned to nobody

[2022-02-17 17:12] mikehearn commented on #735
It would at least be good to document what this mode is and what the rules are.

[2022-02-24 23:13] 123Haynes opened #878 "Mention breaking change in SpringEL expressions in the 3.0.15 release notes"
Hello,

I updated my spring boot application to spring boot 2.6.4 today which in turn also updates thymeleaf from 3.0.14 to 3.0.15.
Unfortunately, this broke my app in one place.

I have the following SpringEL Expression:

`${T(Integer).parseInt(@environment.getProperty('server.servlet.session.timeout')) / 60}`

This breaks in 3.0.15.
The fix is quite simple. I just changed it to this:
`${T(java.l

[2022-02-28 13:24] OrangeDog commented on #878
In general, don't put breaking changes in patch releases.
Having not mentioned it is even worse.

[2022-03-08 03:22] techwanker opened #879 "a non null offsetdatetime attribute causes an error when using temporals format"
Bug report.

https://stackoverflow.com/questions/71379614/a-non-null-offsetdatetime-attribute-causes-an-error-when-using-temporal-format?noredirect=1#comment126170922_71379614  seems to satisfy all your requirements for a bug report.

[2022-03-09 07:54] seletz commented on #878
Is there a fix for this other to pin versions to 3.0.14.RELEASE?

[2022-03-14 13:49] mikehearn opened #880 "Is there a way to turn a string expression into a fragment?"
(All the following is in the context of a static rendering tool, so no security issues are present).

I have a context variable that contains some HTML as a string (well, actually a list of lines but I can use `#strings.listJoin` to fix that). I'd like to apply a markup selector to the contents of this string, so I can insert only a sub-part of it.

I played around with this for about an hour but

[2022-03-15 09:01] ultraq commented on #880
I had a look around at the things that perform selecting bits of HTML, and I don't think this is something you can do with the standard processors that come with Thymeleaf.  Maybe something with your own custom processor though?  The APIs which you might want to look at are `ITemplateParser.parseStandalone` (notably some implementation like [`HTMLTemplateParser.parseStandalone`](https://github.com

[2022-03-15 11:52] mikehearn commented on #880
Thanks! I was concluding the same thing. The APIs you found look good - I'll experiment with that when I get time.

[2022-03-17 20:22] a13a commented on #561
@huffstler 's example should be included in the examples list

[2022-03-22 20:34] rwinch opened #885 "Missing null checks in web interfaces can cause NPEs"
Rendering the following template with thymeleaf-spring6-3.1.0.M1:

[code]

produces the following error:

[code]

The problem is that the default method on `ISpringWebFluxWebRequest.getParameterValues` needs to perform a [null check](https://github.com/thymeleaf/thymeleaf-spring/blob/f078508ce7d1d823373964551a007cd35fad5270/thymeleaf-spring6/src/main/java/org/thymeleaf/spring6/web/webflux/ISpringW

[2022-03-22 20:37] rwinch commented on #885
If desired, I can submit a PR for this

[2022-03-23 07:42] kaibadash commented on #593
[code]
works well.

[2022-03-25 22:13] tedyoung opened #881 "New Restrictions break stream collector collections (Spring6 3.1.0.M1)"
The recent restrictions break previously working code that use Stream's `toList()`. The code only "whitelists" (allows) classes with the names like `java.util.List`, however the code does not look at the _interfaces_ implemented, only the concrete underlying type. This means an instance of `class java.util.ImmutableCollections$ListN` (returned by stream's `toList()`) are treated as not allowed, de

[2022-03-25 22:20] tedyoung commented on #881
Note that replacing

`toList()`

with

`.collect(Collectors.toList())`

is a workaround, but that requires unnecessary code.

[2022-04-06 20:56] #811 closed, assigned to danielfernandez

[2022-04-14 20:41] xtianus opened #882 "th:text on custom tag gives "already been modified by a previously executed processor""
I don't think this is a bug but might be a feature request, unless I'm doing something wrong.

Thymeleaf version 3.0.14
Spring webmvc 5.3.18

I have created a custom tag like

[code]

It works fine unless I make the content dynamic with

[code]

in which case I get this exception before even entering my tag processor:

[code]

The message seems to explain the reason

but it doesn't tell me how to

[2022-04-14 22:54] #112 closed, assigned to nobody

[2022-04-14 22:54] #122 closed, assigned to nobody

[2022-04-15 07:52] xtianus commented on #882
To clarify what I'd like to do, I fixed my problem by implementing a custom text tag like so:

[code]

It would be much nicer if I could stick to the standard th attributes instead of rewriting my own:

[code]

[2022-04-20 09:10] kamenik opened #883 "Exception evaluating OGNL expression: "#request.requestURI""
Hello,

I am trying to use Thymeleaf 3.1.0-snapshot because of jakarta namespace support and it crashes at this simple code:

`
<th:block th:if="${#request.requestURI} == '/for/somebody'">
`

with root exception

`
Caused by: ognl.OgnlException: source is null for getProperty(null, "requestURI")
`

I just replaced original

`
templateEngine.process(template, new WebContext(request, response, reque

[2022-04-22 11:46] ManuelPetermann opened #884 "Using fragments in xml environments should include the missing xml namespaces in the corresponding tags"
When i am inserting an xml fragment from another file/place into the template where some or all of the namespaces are not defined, the  namespaces should be automatically copied over to the corresponding element.

I tried hacking this by writing all the missing namespaces into a contextvar as a string but thymeleaf is complaining:
Could not parse as assignation sequence: "__${importantNamespaces}_

[2022-04-24 16:24] kght6123 commented on #561
I made a example maven project for myself.
https://github.com/kght6123/thymeleaf-standalone

[2022-04-25 07:09] mahozad commented on #561
Here is a related Stack Overflow post: [How to use Thymeleaf to make only a simple Java app (without Spring)](https://stackoverflow.com/q/60208627/8583692).

Borrowing from @huffstler [solution above](https://github.com/thymeleaf/thymeleaf/issues/561#issuecomment-490648829) for Java, here is the same solution for Kotlin:

[code]

[2022-04-27 22:59] #885 closed, assigned to danielfernandez

[2022-05-02 07:01] derTobsch commented on #774
Is there a parameter to configure if the newline should be there or not?

[2022-05-02 23:03] danielfernandez opened #886 "Remove web-API based expression utility objects"
The `#request`, `#response`, `#session` and `#servletContext` expression utility objects should be removed from the Standard Dialect, both for security reasons (in order to avoid direct access to potentially unsafe properties such as request parameters) and also due to the fact that these are currently bound to the `javax.*` Servlet API, and generalising the web interfaces in the Thymeleaf core in

[2022-05-02 23:05] danielfernandez commented on #886
Closed by means of ef4d87fddb39d247cd8661ea7b031bb6d59f7df2.

[2022-05-02 23:05] #886 closed, assigned to danielfernandez

[2022-05-02 23:10] danielfernandez opened #887 "Removed expresssion utility objects not showing explanatory messages"
The `#request`, `#response`, `#session` and `#servletContext` expression utility objects that were removed in #886 should raise an explanatory exception message, but they currently aren't doing so.

[2022-05-02 23:14] #887 closed, assigned to danielfernandez

[2022-05-02 23:19] danielfernandez commented on #883
The `#request`, `#response`, `#session` and `#servletContext` expression utility objects have been removed in Thymeleaf 3.1.0 for both security reasons and web-technology agnosticism (#886). They can still be manually added if necessary, but their direct use from templates is not recommended by default.

However, there was an issue in the explanatory error message that this usage should have cause

[2022-05-02 23:19] #883 closed, assigned to danielfernandez

[2022-05-04 08:25] karriprakash opened #888 "How to Set Thymeleaf Variables to Global Scope When Declared inside a Tag"
<p>
Here, I'm doing a mini project for practicing Spring Web with View as Thymeleaf, and here I got a requirement of providing
Page size, which can provide some default values to a variable **size** but I was trying to hold the data but its scope remains as local
or until the tag can anyone suggest me to what to do?
----------------------------------------------------------------------------------

[2022-05-04 10:28] karriprakash commented on #888
Resolved using session object

[code]

[code]

[2022-05-04 10:28] #888 closed, assigned to nobody

[2022-05-04 11:08] karriprakash commented on #888
![image](https://user-images.githubusercontent.com/91652683/166670254-8e5b7b67-9000-4c82-a353-3dce0756b6d6.png)

[2022-05-12 13:17] checketts opened #1079 "Feature Request: Micrometer Metrics for templates"
I would like to investigate adding some metrics to Thymeleaf. The Spring library already uses Micrometer so this won't introduce a new dependency.

I'm primarily interested in recording which templates are being used. Would a PR for that be welcome? Another metric would be to record when there are template errors.

Proposed metric names would be:

Counter: `thymeleaf.template.used` (tags: template

[2022-05-16 22:28] #881 closed, assigned to danielfernandez

[2022-05-19 10:26] muhammadismailkhan0009 opened #889 "Improvement in Thymeleaf checkbox Documentation for feeding toggled value back to controller back-end"
I had recently faced the problem while using `th:checked` attribute as described in thymeleaf checkbox section.

Since `th:checked` attribute is single valued, its value does not change as checkbox is ticked or unticked. Hence, it cannot be used as user input to submit data from front-end to back-end.
It took me 2 days to find the workaround, but i was able to change checkbox value and get it as i

[2022-05-20 06:04] ultraq commented on #889
Moving to the thymeleaf-docs project since it makes more sense to solve there if we do

[2022-05-27 19:56] duoduobingbing commented on #829
It would be very nice to have this. Currently the only workaround to this is to either downgrade to `3.0.11` or by using Reflection to change [`ExpressionUtils.ALLOWED_JAVA_CLASS_NAMES`](https://github.com/thymeleaf/thymeleaf/blob/3.1-master/lib/thymeleaf/src/main/java/org/thymeleaf/util/ExpressionUtils.java) and `ExpressionUtils.ALLOWED_JAVA_CLASSES` which is in no way ideal.

This requires every

[2022-05-31 06:52] geoffblandrbs opened #890 "Improve Handling of Template Recursion and Prevent StackOverflowError"
Thymeleaf can cause a `StackOverflowError` if a `th:replace` either directly or indirectly points back to itself.

Whilst this is obviously an coding error in the Thymeleaf template HTML it would be better if this was caught by the Thymeleaf library at some point before a `StackOverflowError` occurs and reported with a more useful exception.

Obviously in some rare situations recursion of the repl

[2022-06-01 20:30] joshua-koehler opened #892 "Nested ternaries throw exception in Thymeleaf but not SpEL"
# Nested ternaries appear to not work in Thymeleaf

The following with SpEL works just fine (and is a suitable **workaround** for those reading this and just looking for that):
[code]

But the equivalent in Thymeleaf will throw a ParseException:
[code]

Some environment info:
Spring 5.3 app using `org.thymeleaf.spring5.SpringTemplateEngine` 3.0.12.RELEASE with the `nz.net.ultraq.thymeleaf.layoutdi

[2022-06-01 21:40] joshua-koehler commented on #892
I just found in the [docs](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#conditional-expressions) that nested ternaries should have parentheses, thus I'm closing this.

[2022-06-01 21:40] #892 closed, assigned to nobody

[2022-06-02 13:35] lmartelli opened #893 "Avoid formatting time or date when using formatstyle with temporals that don't contain them"
I am using `#temporals` to format a LocalDate and it insists on also formatting the time 👍🏻

`${#temporals.format(period.start,'MEDIUM')}`

I believe it is because `org.thymeleaf.extras.java8time.util.TemporalFormattingUtils#defaultOrPatternFormatted()` uses `DateTimeFormatter.ofLocalizedDateTime()`. There should probably be some common logic with `org.thymeleaf.extras.java8time.util.TemporalObjec

[2022-06-17 10:09] rjeeb opened #894 "HTML result is different than expected."
I have a case where I write this html
[code]
and after run the page on the browser, the result html is as follows
[code]
not sure why the result is different than what I expect.

[2022-06-21 18:01] duoduobingbing commented on #894
This issue is not caused by Thymeleaf.

To test this: Create a plain HTML file and write
[code]

to it and then open it with your browser and use "Inspect Element". You will see that the browser transformed the structure to
[code]

This is because you can not have an `a` element inside of an `a` element as per HTML specification. The browser attempts to correct the erroneous HTML resulting in the

[2022-06-29 09:07] sysmat commented on #869
any progress on that?

[2022-07-07 12:27] evoelise opened #895 "Removed Comments Leaving Empty Lines"
We have a lot of comment our HTML templates and we use Thymeleaf to exclude these from the generated HTML.

For example: ``

In our opinion comments should be completely removed from the rendered HTML however when the HTML is rendered blank lines and also a load of spaces are left behind in the HTML.

This is especially egregious when `<th:block>`s are used as these should remove the entire block

[2022-07-12 20:55] joshua-koehler opened #896 "th:attr lowercases attribute names in XML mode"
Spring MVC 5.3 app using org.thymeleaf.spring5.SpringTemplateEngine 3.0.12.RELEASE with the nz.net.ultraq.thymeleaf.layoutdialect.LayoutDialect 3.0.0

What are the differences between XML and HTML mode when doing variable insertion?  I can't find anything in the docs and couldn't find the answer after half-an-hour of looking at the source code.

[code]

The resulting output is
[code]
Note that ent

[2022-07-13 14:15] joshua-koehler commented on #896
# Why is the xml lowercased? #

The real answer to this is: **it isn't**.  When viewed from a web browser DOM this is the case, but a curl request on the endpoint exposing this xml file confirmed that the attribute names are properly cased.

[2022-07-13 14:15] #896 closed, assigned to nobody

[2022-07-15 02:55] #738 closed, assigned to nobody

[2022-07-18 08:53] rstoyanchev opened #900 "Web Flow view support for Spring Framework 6"
Web Flow is getting upgraded to Spring Framework 6, Java 17+ and Jakarta EE. The main branch is already building with that after https://github.com/spring-projects/spring-webflow/pull/109. It would be great to re-introduce [FlowAjaxThymeleafView](https://github.com/thymeleaf/thymeleaf-spring/blob/3.1-master/thymeleaf-spring5/src/main/java/org/thymeleaf/spring5/webflow/view/FlowAjaxThymeleafView.ja

[2022-07-21 11:52] ygogolitsyn commented on #581
Hi, All. My name is Yuri, I received this issue for triage from the CodeTriage site.

On a positive note – it is possible to add a rounding mode to the utility methods for Numbers, and it is a relatively straightforward task. To avoid backwards compatibility issues a set of new methods with an additional rounding mode parameter should probably be introduced. Due to a fact that a need to change the

[2022-07-21 19:24] ygogolitsyn commented on #798
I have been asked to look at this issue via the CodeTriage site.

The original proposal listed an expression that in Java terms is a single ternary operator with two conditions. x is evaluated first, If x is true, the expression returns 'class1' and y is not even evaluated. If, however, x is false, y is evaluated and 'class2' or 'class3' is returned depending on y. Only one class name is always re

[2022-07-21 21:48] danielfernandez commented on #900
Thanks @rstoyanchev. Transferring issue to the `thymeleaf` project because `thymeleaf-spring` and many other repos are in process of being unified here for 3.1.

[2022-07-25 14:45] JohnNiang opened #901 "Request to add possibility to add additional IMessageResolver for SpringWebFluxTemplateEngine"
#### What would you like to be added?

As I mentioned in the title, I request to add additional [IMessageResolver](https://github.com/thymeleaf/thymeleaf/blob/120a0e9cc5d768a7b21abb19b4f4122bdc019206/lib/thymeleaf/src/main/java/org/thymeleaf/messageresolver/IMessageResolver.java) for [SpringWebFluxTemplateEngine](https://github.com/thymeleaf/thymeleaf/blob/120a0e9cc5d768a7b21abb19b4f4122bdc019206/

[2022-08-12 11:13] ygogolitsyn commented on #743
Hi, I have been asked to comment on this issue via CodeTriage.

The template is processed by building an internal in-memory model of the template processing result. This model is built and written dynamically using event queues for gathering a sequence of template events into a Model object representing the result.

Please have a look at the comments in the TemplateEngine class in Thymeleaf 3.0 an

[2022-08-16 03:30] liunancun opened #903 "side effects of th:block"
![image](https://user-images.githubusercontent.com/12378933/184791677-3461114b-fcf0-40eb-8c7e-1eebd8d01d88.png)

As shown in the figure, after using the th:block tag, IDEA will prompt that the xml format does not conform to the xsd specification.

![image](https://user-images.githubusercontent.com/12378933/184791937-0c0a6100-5628-41df-8044-9fb877c54d95.png)

As shown in the figure, after using the

[2022-08-16 03:40] liunancun opened #904 "Is it possible to count the number of loops in 2 th:each?"
![image](https://user-images.githubusercontent.com/12378933/184792912-f32cc874-2e3d-45d5-bf9a-63dfd6cbc98a.png)

Try to use th:with, expecting to implement the accumulation function like Velocity's #set instruction, but the count printed every time is 1. Is there any way to achieve something like Velocity's #set directive?

[2022-08-16 04:02] liunancun opened #905 "The use of th:text in the sub-end tag will cause extra spaces"
`<MessageID th:text="${amazonTemplateVariantStat.count}" />`

output

`<MessageID >1</MessageID>`

There is a space between MessageID and >

[2022-08-16 10:31] duoduobingbing commented on #904
You cannot "update" the value of a model variable like you would do in velocity.

If you just want the loop iteration count:

[code]
should suffice. See [here](https://www.baeldung.com/thymeleaf-iteration) for details.

If you want to truly update a value (and operate within Spring+WebContext) something like

[code]

[code]

would be possible

(Please note that this will not work OOTB with the nex

[2022-08-16 12:26] liunancun commented on #904
@duoduobingbing I have 2 layers here th:each
data model

![image](https://user-images.githubusercontent.com/12378933/184879298-6858d21b-5d56-45a6-9315-00e4debaf25b.png)

![image](https://user-images.githubusercontent.com/12378933/184879198-856a0b92-032e-4105-8d57-1198a212d7ba.png)

Input count should be 1 2 3

Operates in a pure Java environment

[2022-08-18 15:08] xtianus commented on #765
I'd like to have `th:alt="${emptyString}"` output an empty alt, but maybe there should be a trick that doesn't break the standard behaviour of removing empty attributes. How about some kind of flag in the expression? It would be something like `th:alt="+${emptyString}"` where + means "keep the attribute when empty".

[2022-08-18 20:57] duoduobingbing commented on #904
@liunancun The following approach should work with plain Java:

First create a POJO-Class like:
[code]

Then in your template:
[code]

[2022-08-19 07:11] jorgevl commented on #581
This would come incredibly handy, 100%.

[2022-08-21 09:58] ygogolitsyn commented on #716
Have been asked to look at this issue by Code Triage.
Would an introduction of a completely new attribute that would do what th:relplace does, but keep the attributes be acceptable? Something like th:replacewithattr?

[2022-08-24 15:20] ygogolitsyn opened #908 "Circular reference in pom files"
The current 3.1-master branch of thymeleaf contains circular reference and cannot be build with Maven by running "mvn clean package". Here is the error message:

C:\OpenSourceWork\thymeleaf>mvn clean package
[INFO] Scanning for projects...
[ERROR] [ERROR] The projects in the reactor contain a cyclic reference: Edge between 'Vertex{label='org.thymeleaf.testing:thymeleaf-testing:3.1.0-SNAPSHOT'}' an

[2022-09-01 09:44] sebasira commented on #717
I'm having the same issue and I can not figure out how to solve it. Could you provide your answer?

[2022-09-01 10:40] ygogolitsyn commented on #785
Has been asked to triage  this issue by Code Triage.
Removal of just the pipe symbols would indeed improve the readability, but only slightly, it would still be required to provide other symbols like @ and {}. The effort and complexity associated with implementing the proposed change needs to be evaluated before recommending it for implementation.

[2022-09-06 19:31] wimdeblauwe opened #909 "How to use th:attrappend with an alpinejs attribute?"
I want to combine Thymeleaf with Alpinejs. For a particular use case, I want to add `@keydown.tab="isOpen = false"` to the last iteration of a `th:each` loop.

I was trying this kind of thing:

[code]

but that does not work.

I even tried to simplify as much as possible to:

[code]
(The `@...` of alpine can be replaced with `x-on:....`)

But that is also not working. Is there a way to make this w

[2022-09-07 09:55] wimdeblauwe commented on #909
I found the correct way:

[code]

I needed to add single quotes around the name of the attribute I want to append. And there is no need for quotes for the value of the attribute, Thymeleaf will add those.

[2022-09-07 09:55] #909 closed, assigned to nobody

[2022-09-26 21:47] danielfernandez commented on #910
I'm moving this to thymeleaf core because this `thymeleaf-extras-java8time` module is in the process of being integrated with the core for Thymeleaf 3.1.

However, it should be noted that using `DateTimeFormatter#localizedBy(locale)` will not be possible until Thymeleaf 4, given the fact that this method was added in JDK 10, and Thymeleaf 3.1 needs to keep JDK 8 compatibility.

[2022-09-28 10:52] xg578962913 opened #911 "When using the preprocessing expression and dates.format at the same time, the date is added by 1 day"
The date is 2022/09/27、
My HTML looks like this
date1  Use the preprocessing expression to get the value of field   (The date has been increased by one day)
date2  get the value through object.field (normal)
[code]
My controller
[code]
The value of the date object is 2022/09/27
![image](https://user-images.githubusercontent.com/24224600/192760332-8174b1ec-91d4-4f24-a9eb-c79166053f94.png)
And the d

[2022-09-30 10:02] mahozad commented on #910
Thank you.

[2022-10-03 19:27] danielfernandez commented on #893
This should be fixed by thymeleaf/thymeleaf-extras-java8time#34

[2022-10-03 19:40] danielfernandez commented on #908
Unfortunately there is no way to make Maven test lib modules after building the testing libraries, so tests finally had to be kept in separate modules in the multiproject. This is therefore fixed now.

[2022-10-03 19:40] #908 closed, assigned to danielfernandez

[2022-10-05 00:04] danielfernandez opened #912 "Integrate thymeleaf-extras-java8time module into core"
Given the minimum JDK requirements in Thymeleaf 3.1.0 will be increased to JDK 8, we should integrate the `thymeleaf-extras-java8time` module into the core, thus making the `#temporals` object accessible in the Standard dialects.

[2022-10-05 00:04] #912 closed, assigned to danielfernandez

[2022-10-05 00:06] #900 closed, assigned to danielfernandez

[2022-10-09 22:18] danielfernandez opened #913 "Remove th:include"
As a final step in the plan for replacing th:substituteby with th:replace, version 3.2/4.0 should completely remove `th:include`.

Note `th:include` was previously deprecated in 3.1 as a result of #405

[2022-10-09 22:50] #71 closed, assigned to danielfernandez

[2022-10-09 22:50] #405 closed, assigned to danielfernandez

[2022-10-09 22:50] #455 closed, assigned to danielfernandez

[2022-10-09 23:16] danielfernandez opened #914 "Refactor project structure"
In order to improve the maintainability of the project's code and improve both task management and issue reporting, the main repository should be refactored into a large, Maven multiproject-based structure.

This will contain:

   * `/`: the Thymeleaf BOM (`thymeleaf-parent` artifact) containing all common configurations and versions for dependencies and plugins.

   * `/lib` : the core libraries.

[2022-10-09 23:23] danielfernandez opened #915 "Allow example applications to be executed from command line"
Now that example applications will be a part of the main repository (see #914) there should be a way to make all the example applications executable from the command line:

   * For **Spring Boot** based applications, this can be easily achieved by executing the `jar` build artifact (self-contained web server) or using `mvn spring-boot:run`.
   * For **war** based applications, Codehaus's [Maven C

[2022-10-09 23:23] #914 closed, assigned to danielfernandez

[2022-10-09 23:23] #915 closed, assigned to danielfernandez

[2022-10-09 23:37] danielfernandez opened #916 "Make Thymeleaf Distribution artifact include all relevant artifacts"
Building on #914 and #915, the new Thymeleaf Distribucion artifact in `.zip` format should include:

   * `/`: License and notice files.

   * `/dist`: The Thymeleaf main distribution: `thymeleaf`, `thymeleaf-spring5`, `thymeleaf-spring6`, `thymeleaf-extras-springsecurity5` and `thymeleaf-extras-springsecurity6` artifacts: binaries, sources (in `.jar` package) and javadocs (in `.jar` package).

[2022-10-09 23:38] #916 closed, assigned to danielfernandez

[2022-10-09 23:44] danielfernandez commented on #404
This is no longer needed as a result of #886

[2022-10-09 23:44] #404 closed, assigned to danielfernandez

[2022-10-10 00:24] danielfernandez commented on #453
Closed in 569e71b

[2022-10-10 00:24] #453 closed, assigned to danielfernandez

[2022-10-10 00:42] #660 closed, assigned to danielfernandez

[2022-10-16 17:11] odrotbohm opened #917 "`ExpressionUtils.isMemberAllowed(…)` should not reject methods on `java.util.Stream`"
Currently, you cannot invoke any method on `Stream`, as it's not included in `ExpressionUtils.JAVA_SUPERS`. For example, `stream.count()` could be a useful expression but is not allowed. Looks like an oversight in the implementation of the fix for #874.

[2022-10-16 17:15] odrotbohm opened #918 "Misleading exception message from `ThymeleafEvaluationContextACLMethodResolver.resolve(…)` if called method does not exist"
`ThymeleafEvaluationContextACLMethodResolver.resolve(…)` immediately calls `ExpressionUtils.isMemberAllowed(…)`. For collection types, it verifies the method to be invoked is declared on the collection interface. If that fails, the error message indicates that the method *is not allowed* to be called. However, the same error is triggered if the method doesn't even exist in the first place, like `C

[2022-10-18 11:19] mapuo commented on #775
I have the same issue. I want to be able to insert a link into the i18n but so far I haven't found a way to do it.

[2022-10-18 13:35] mapuo commented on #697
@danielfernandez Any resolution for this one?
Also I think this is the same as #775 .

[2022-10-18 15:31] wimdeblauwe opened #919 "Typo in release notes of 3.1.0.RC1"
The release notes of 3.1.0.RC1 have "3.0.1..." instead of "3.1.0....":

<img width="912" alt="image" src="https://user-images.githubusercontent.com/1115823/196475664-63e748f3-8204-47be-ac5b-c3f969fa8c7b.png">

[2022-10-19 05:07] ultraq commented on #919
Haha, good spotting!  I'll fix those up right now

[2022-10-19 05:08] #919 closed, assigned to ultraq

[2022-10-21 19:47] sagarnishant1 commented on #816
An example at below link
https://stackoverflow.com/questions/24937441/comparing-the-enum-constants-in-thymeleaf/34354605#34354605

[2022-10-21 20:12] ghost commented on #816
Unsubscribe

[2022-10-23 21:49] #917 closed, assigned to danielfernandez

[2022-10-23 22:13] fibsifan commented on #604
Hi @danielfernandez

Maybe you didn't see it, but I created a PR some time ago: #715. I just updated it to be merged into 3.1. I hope it helps (this issue has the label "help wanted")

[2022-10-23 23:39] #918 closed, assigned to danielfernandez

[2022-10-24 03:44] JohnNiang commented on #912
Hi, I had tried to search the related PR and commit about this issue, but nothing I could find. I would appreciate it if you tell me the specific PR or commit.

BTW, I encountered a problem about thymeleaf-extras-java8time module in Spring Boot 3.0.0-RC1.

[code]

[2022-10-24 07:03] danielfernandez commented on #912
Thymeleaf's core (`thymeleaf`artifact) now includes the `#temporals` expression utility object in its Standard Dialect without any additional artifacts. Package `org.thymeleaf.extras.java8time.dialect` does no longer exist.

[2022-10-24 07:33] JohnNiang commented on #912
Thank @danielfernandez for quick reply. I got the related commit at <https://github.com/thymeleaf/thymeleaf/commit/c79acde3647ad6daa45d4662110e22ee18af6fbd>.

[2022-10-25 12:30] ottlinger opened #920 "Recommended way to go after upgrade to SpringBoot3 - attributes"
After playing around with the latest SpringBoot 3.0-RC1 I realized my application is not working anymore due to:

`Caused by: java.lang.IllegalArgumentException: The 'request','session','servletContext' and 'response' expression utility objects are no longer available by default for template expressions and their use is not recommended. In cases where they are really needed, they should be manuall

[2022-10-25 22:46] danielfernandez commented on #920
These objects are not directly available in templates in Thymeleaf 3.1 for security reasons. The recommended way to make this information available to templates is to add the specific pieces of information that are really needed by the template as context variables (_model attributes_ in Spring).

So in your case, the base case would be your controller code adding the servlet path to the model lik

[2022-10-25 22:46] #920 closed, assigned to danielfernandez

[2022-10-26 07:57] ottlinger commented on #920
Thanks for the explanation, I'll see how this integrates into my application but I loved the way it was before: very easy to integrate ;)

[2022-11-01 22:06] #901 closed, assigned to danielfernandez

[2022-11-04 23:20] ottlinger opened #921 "Add java.util.Optional to the list of allowed classes in expressions"
Thanks for your help in answering #920 - I'm still working myself from error message to error message during a migration SpringBoot3 and stumbled upon:

[code]

Is there a new syntax to verify/check if an optional is present in templates?

I always used Option<T> in API/interfaces to prevent NPEs from happening, thus I'd expect this logic to apply to template engines as well.

Is there a special s

[2022-11-04 23:47] danielfernandez commented on #921
That was an overlook. `java.util.Optional` should be in the list of allowed classes.

Anyway, for most of its API you should be able to access using bean notation instead of calling methods, i.e. `data.present` instead of `data.isPresent()`, or `data.empty` instead of `data.isEmpty()`.

[2022-11-04 23:53] #921 closed, assigned to danielfernandez

[2022-11-06 12:01] ottlinger commented on #921
Thanks for the feedback - looking forward to a new release with the fix in it.

[2022-11-06 15:56] danielfernandez commented on #921
It's already in `3.1.0-SNAPSHOT` if you want to give it a try. But anyway `3.1.0.RC2` will be immediately published.

[2022-11-06 18:21] #893 closed, assigned to danielfernandez

[2022-11-07 20:53] ottlinger commented on #921
@danielfernandez I tried to replace
`calculation.isPresent()
`with
`calculation.present`
but the following exception is thrown:

`Caused by: org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating SpringEL expression: "calculation.present" (template: "/results/index.html" - line 17, col 13)
`

Exception is not thrown if using 3.1.0-SNAPSHOT with `calculation.present` or `calcula

[2022-11-10 12:44] andvisk opened #923 "resource name composition"
Thymeleaf 3.1.0.RC2

Environment:
Java(TM) SE Runtime Environment (build 17.0.4.1+1-LTS-2)
Wildfly 27.0.1 Beta1
CentOS 9 Stream

Libraries:
jakarta.jakartaee-api version: 10.0.0
jakarta.mvc-api version: 2.1.0
org.eclipse.krazo:krazo-core:3.0.1
org.eclipse.krazo:krazo-resteasy:3.0.1
org.eclipse.krazo.ext:krazo-thymeleaf:3.0.0

In case when prefix and suffix values are present, also the parameter "f

[2022-11-11 10:26] jlous opened #924 "locale is ignored for plain numbers"
Decimal numbers rendered directly as values (not via #numbers) seem to ignore decimal sign and thousands separator from the locale completely, and always use US format.

With #numbers.format I can force using the locale deafults, but it cannot replicate the variable-decimal behavior of plain numbers, which I need.

I'm using 3.0.15.RELEASE,
instantiating TemplateEngine directly,
adding SpringStand

[2022-11-16 07:02] git-JaforIqbal commented on #590
It works, thank you

[2022-11-16 12:29] ftonik opened #926 "IllegalArgumentException when upgrade from 3.1.0.M3 to 3.1.0.RC1 and forward-headers-strategy: framework"
I try Spring Boot 3(RC2). We have simple app.(https://github.com/ftonik/sb3-thymleaf)
All works fine in development mode. But when I try deploy in production with enabled **_server.forward-headers-strategy: framework_** propery it caused IllegalArgumentException([exception.txt](https://github.com/thymeleaf/thymeleaf/files/10021542/exception.txt))
Nginx ingress configuration:
[code]

If I rollback

[2022-11-22 23:22] #926 closed, assigned to danielfernandez

[2022-11-22 23:26] danielfernandez commented on #926
This should have been fixed now. Could you please test with `3.1.1-SNAPSHOT` and verify the exception is no longer happening for you?

See [this explanation](https://www.thymeleaf.org/faq.html#use-snapshot) on how to use Thymeleaf's snapshot versions.

[2022-11-24 16:47] bclozel opened #932 "Thymeleaf 3.1.0 refers to milestone Spring dependencies"
Thymeleaf 3.1.0.RELEASE has been published to Maven Central, but [its parent POM](https://repo.maven.apache.org/maven2/org/thymeleaf/thymeleaf-parent/3.1.0.RELEASE/thymeleaf-parent-3.1.0.RELEASE.pom) still refers to non-GA versions of Spring projects. See: https://github.com/thymeleaf/thymeleaf/blob/eac55ee4ab20878c5289b3ad1e99dec9c07d3e20/pom.xml#L147-L149

Could you please release a maintenance

[2022-11-24 16:58] danielfernandez commented on #932
Sure, 3.1.1 is actually already being tested, and the Spring Security one is already changed in master. See https://github.com/thymeleaf/thymeleaf/blob/37fc3318a6a492a060bdee38f9cf22fe0f0b6e88/pom.xml#L147

But... is there a release for Spring Webflow 3.0.0? Support for it was requested in #900, but I cannot find it [here](https://repo1.maven.org/maven2/org/springframework/webflow/spring-webflow/)

[2022-11-24 17:07] wilkinsona commented on #932
@rstoyanchev will be able to help with WebFlow 3.0.0.

Unlike the reference to `spring-security-bom`, the dependency management for WebFlow isn't causing a problem. That's because `spring-security-bom` is used as an import, requiring consumers to resolve the bom so that they have a complete view of Thymeleaf's pom. In other words, from a consumer's perspective, I think https://github.com/thymeleaf

[2022-11-24 17:10] danielfernandez commented on #932
So just to confirm: releasing Thymeleaf 3.1.1 with a dependency on Spring Security 6.0.0 and Spring Webflow 3.0.0-M1 would be OK for you? If so, that is a matter of minutes as the staging repo for 3.1.1 is already closed in Sonatype since yesterday.

[2022-11-24 17:55] wilkinsona commented on #932
Yeah, that's fine. The WebFlow dependency won't affect anyone as it's marked as provided anyway. Please don't rush on our account though. We've worked around the problem for Spring Boot 3.0.0. We'll pick up Thymeleaf 3.1.1 when it's available.

[2022-11-24 20:57] ftonik commented on #926
I'll try and update the comment, thanks.

[2022-11-27 16:44] kamkie opened #933 "Allow method calls on proxied instances while keeping instantiation of proxies still forbidden"
I am testing upgrade to spring boot 3 and I found problem with calling methods on beans
my demo projekt https://github.com/kamkie/demo-spring-jsf/tree/upgrade_spring_boot_3 that I use to test upgrade

[code]

[2022-11-30 13:07] QualidadeCnac commented on #933
I am also having the same problem when upgrading.

[code]