[2014-01-02 23:47] danielfernandez commented on #122
Note for future evaluation: the idea would be to replace the current division between `th:utext` (unescaped) and all the other `th:*` (escaped) so that the new division depends on the specific simple expressions being used inside the attribute processors, not the names of the attribute processors themselves.

[2014-01-02 23:50] danielfernandez commented on #126
It was finally necessary to do this for 2.1, due to requirements of other features being developed.

[2014-01-02 23:50] #126 closed, assigned to danielfernandez

[2014-01-03 23:46] danielfernandez opened #253 "Bad relative URLs in XHTML 1.0 frameset DTD"
The thymeleaf-enabled versions of the `XHTML 1.0 Frameset` DTD list as relative URLs for linked entities:

[code]

Which is wrong, because those links should be absolute, given these are the thymeleaf-enabled versions of the DTD and therefore live at the thymeleaf server (not the w3c one). They should be:

[code]

[2014-01-03 23:47] danielfernandez opened #254 "PORT: Bad relative URLs in XHTML 1.0 frameset DTD"
Port of #253 for Thymeleaf 2.0

[2014-01-04 00:47] #253 closed, assigned to danielfernandez

[2014-01-04 00:48] danielfernandez commented on #254
Updated 2.0.21-SNAPSHOT

[2014-01-04 00:48] #254 closed, assigned to danielfernandez

[2014-01-04 20:38] #248 closed, assigned to danielfernandez

[2014-01-04 20:42] makigumo opened #255 "Not escaping ``&`` (ampersand) in entities breaks xml schema"
Considering the following source data, which should be displayed (e.g. in a textarea) as

[code]

which is escaped to

[code]

and displayed via `th:text` as

[code]

This is undesired and in this case simply wrong because it breaks the xml schema validation, because there is now opening markup for an element `c` defined which doesn't belong there. The correctly escaped sequence would be the follo

[2014-01-04 20:54] danielfernandez commented on #248
Note: this issue should reference the non-Spring version of the DTD, namely `xhtml11-thymeleaf-4.dtd`.

The `thymeleaf-spring3` version is thymeleaf/thymeleaf-spring3#53 and the `thymeleaf-spring4` version is thymeleaf/thymeleaf-spring4#4. All three versions are affected.

[2014-01-04 22:23] danielfernandez commented on #248
Updated 2.1.3-SNAPSHOT

[2014-01-05 18:21] opensource21 commented on #89
It's not really a solution of what I wanted, because I want to reuse the Strings I used at controller side. In the current situation I must define the URL twice.

[2014-01-05 20:14] danielfernandez commented on #89
Could you please ellaborate a bit more on why this does not fulfill your needs?

Do I understand correctly if I think you want to pass `"/order/details/{id}/{action}"` as a context variable from the controller and then reuse it at your template with different values for filling those `id` and `action` values?

If so, you could still do this by using Thymeleaf's preprocessing and writing your Strin

[2014-01-13 10:46] opensource21 commented on #89
Thanks for reopen it. What I do is to put all URLs into the message-source so I can get them with #('url.myUrl). At the moment I manipulate the string, so that the normal message-source parameters work, but I got problems to combine this with furtherParam. This should solved now. How ever the normal message-source parameters don't allow named parameter. But I can try to use the new syntax in the m

[2014-01-14 08:55] opensource21 commented on #89
Today I switched in my project to the new syntax and everything is fine. You can see it in action at https://github.com/opensource21/fuwesta. The URLs are defined in [Class URL](https://github.com/opensource21/fuwesta/blob/master/fuwesta-sample/src/main/java/de/ppi/samples/fuwesta/frontend/URL.java). The information is put into the [MessageSource](https://github.com/opensource21/fuwesta/blob/maste

[2014-01-15 20:58] lang commented on #255
It also affects thymeleaf-springs' th:field attribute: e.g. a "&amp;lt;" in a string property will be turned into "<" on rendering the form input.

[2014-01-16 06:39] user20161119 opened #256 "use thymleaf without spring or servlet container"
How can use thymleaf without spring or servlet container to generate html content?
thanks

[code]

[2014-01-16 09:47] danielfernandez commented on #256
This is probably more a question for the forum [ http://forum.thymeleaf.org ]. Anyway, there is an entire tutorial and example application devoted to using Thymeleaf without the need of using Spring. See it here: http://www.thymeleaf.org/documentation.html it's titled **Using Thymeleaf** and its companion application is the _Good Thymes Virtual Grocery_, which code lives here: https://github.com/t

[2014-01-16 09:47] #256 closed, assigned to danielfernandez

[2014-01-19 15:00] jmiguelsamper opened #257 "Incorrect replacing in script inlining"
In Thymeleaf 2.1.2,

[code]

when the "referrer" field is empty, Thymeleaf renders this as

[code]

Reported by Chrylis in the forum:
   http://forum.thymeleaf.org/Problem-with-script-inlining-td4027438.html

[2014-01-22 08:10] Antibrumm opened #258 "Make ICache more accessible (keySet etc)"
It would be nice to have more accessors on the ICache interface. In particular getting all keys would be good to have in my situation (thymeleaf-cache-dialect).

Currently i have to use reflection to get all the keys in the cache.

Having this accessor it would allow implementing cache eviction based on startsWith, regex and so one.

[2014-01-23 13:16] danielfernandez opened #259 "Improve logging"
Two actions to be taken:
1. Generalize logging so that no specific library is used (`slf4j`, currently). Instead, logging should be pluggable so that a different implementation can be also used if needed, and in order to avoid collisions with the logging technologies used by client applications. Default implementation should still be `slf4j`.
2. Extensions (processors, resolvers, etc.) should be a

[2014-01-23 21:55] danielfernandez opened #1092 "Better JUnit integration"
Enhance integration with JUnit in order to allow each thymeleaf test (`.thtest`) to be counted by JUnit as a separated test, so that execution summary figures better reflect the real amount of executed tests.

[2014-01-30 13:37] manish-in-java commented on #131
I would suggest moving the Layout Dialect into the core.  First of all, it will avoid having an additional Maven dependency.  Then, I get freaky when I see different package names.  Having everything as part of the same library keeps things simple.  Next, having code in the same library ensures that upgrades can be performed smoothly and that version compatibility issues do not crop up.  Additiona

[2014-01-31 12:54] melix commented on #101
I second that issue. I wrote a PR to integrate Thymeleaf into JBake (see jonbullock/jbake#91) and one major issue is that we can't have lazy items like we do with Freemarker or Groovy templates. Even if I create a custom implementation of `VariableMap`, there is code in `AbstractContext` (and other classes) which copies the contents of the `CustomMap` into a new `VariableMap` or `HashMap`, so not

[2014-02-07 15:43] danielfernandez opened #260 "Limitation in externalized text containing links"
Reference: http://forum.thymeleaf.org/Correct-way-to-localize-text-containing-links-td4027464.html

This is related to the fact that, in Spring-enabled environments, the `RequestDataValueProcessor#processUrl(...)` method is applied not on the `@{...}` expression itself, but on the `th:href` attribute processor as explained at https://github.com/thymeleaf/thymeleaf-spring3/issues/7#issuecomment-276

[2014-02-07 15:50] danielfernandez commented on #260
**Approach 1**: create a new attribute, for example `th:eval`, that would work exactly like `th:utext` but allowing code inside, this is, not including the results of evaluating its expression as a `Macro`, but rather as a subtree of DOM nodes, which would be subsequently executed as a part of the template (like `th:include` does).

This should allow users to include `th:href` attributes inside ex

[2014-02-07 17:30] cm-rudolph commented on #260
I think `th:includetext` (or an abbreviated form like `th:itext`) would be a good solution, because there is definitely the need for an "intelligent" solution to handle the referenced case.
For example, it might be needed to escape some characters with respect to their occurence (whether they are inside a tags attribute or just content, e. g. when repeating the `href` as content of the `a` tag).

[2014-02-12 04:36] manish-in-java opened #261 "Unable to use Ember.js in a ThymeLeaf application"
Ember.js uses Handlebars to allow developers to create reusable HTML code snippets.  Sometimes, these snippets have to be decorated with Handlebar syntax to add dynamic logic.  A typical Handlebar snippet looks such as the following:

[code]

ThymeLeaf fails to parse this snippet, complaining that `li` is not closed correctly on _line 3_.  We therefore have to resort to doing something such as fol

[2014-02-12 20:49] danielfernandez commented on #261
Hmmm... if you enclose your template (`<script>` body) inside a `<![CDATA[...]]>` section, would it work?

[code]

Of course, this would mean no thymeleaf code inside your ember.js template, but at least, if ember.js understands the `CDATA` block, you'd have a working client-side template...

[2014-02-14 07:45] manish-in-java commented on #261
No, that does not work because I need to have ThymeLeaf code inside the templates.

[2014-02-14 15:40] danielfernandez commented on #261
That's unfortunate. Right now I cannot think of a way to make it work, because the SAX parser thymeleaf uses underneath has to parse your template in order to process that thymeleaf code, and those ember.js handlebars structures are definitely not valid markup, so you should always get an error :(

As you can see above, I've queued an improvement for attoparser --which will be the parser used in T

[2014-02-15 03:07] manish-in-java commented on #261
I found another problem with your suggestion.  If the code is written as:

[code]

browsers interpret `<![CDATA[<ul>` as `` which spoils the template altogether.

However, after much trial and error, I have found that the following workaround works on all browsers:

[code]

[2014-02-15 03:07] #261 closed, assigned to danielfernandez

[2014-02-17 12:53] sebdavid opened #262 "script "text/template" tag and LEGACYHTML5 mode"
Hello,

I'm using Thymeleaf 2.1.2. It seems that the following code works in HTML5 mode, but not in LEGACYHTML5 :

[code]

HTML5 mode : the "th:" attributes are well processed
LEGACYHTML5 : the "th:" attributes are not processed, and are displayed as they are written.

Sébastien.

[2014-02-21 19:26] eduardocasas commented on #160
I find this really annoying and IMHO it is a key point. Is this going to be fixed?

[2014-02-27 23:18] danielfernandez opened #263 "Create a #strings.default() method"
Sometimes it makes sense to have something like:

[code]

This is not equivalent to any of these:

[code]

Because the empty String would be evaluated as `true` in these cases. So a new method (with array_, list_ and set\* version) could be added to `#strings` in order to perform this with:

[code]

[2014-02-28 00:36] willdavidwarren commented on #263
+1

[2014-02-28 11:15] Antibrumm opened #264 "Feature Request: Allow fallback templates for th:include, etc..."
It would be great to be able to define a fallback template inside a `th:include` using the `elvis operator`.
Beeing an application framework developer this would greatly support me in providing "default" functionality which can then be overriden by just placing the template at the given location.

Example:

[code]

One possible location i found to implement this feature what the `AbstractStandardF

[2014-03-02 14:05] danielfernandez opened #265 "Parameter names are not being encoded in link expressions"
Parameter names are not being correctly url-encoded in query strings by link expressions. So this:

[code]

Results in this, which is invalid:

[code]

Instead of:

[code]

[2014-03-02 14:06] danielfernandez opened #266 "PORT: Parameter names are not being encoded in link expressions"
PORT of: #265 for Thymeleaf 2.0

[2014-03-09 20:10] danielfernandez opened #267 "Parentheses inside literals in link parameters break expression parsing"
When parentheses are used inside parameters in link expressions, parsing of these expressions breaks. This test fails:

[code]

[2014-03-09 20:13] #267 closed, assigned to danielfernandez

[2014-03-10 00:28] #266 closed, assigned to danielfernandez

[2014-03-10 00:29] #265 closed, assigned to danielfernandez

[2014-03-10 00:32] #89 closed, assigned to danielfernandez

[2014-03-10 00:42] danielfernandez commented on #89
This has been implemented in 2.1.3-SNAPSHOT. Will be available in Thymeleaf 2.1.3.

See this test: https://github.com/thymeleaf/thymeleaf-tests/blob/20140309/src/test-21/resources/engine21/features/link/link05.thtest

[2014-03-12 17:18] marceloverdijk commented on #35
+1 would love to see this

[2014-03-14 00:13] mchiareli commented on #64
how to perform a format using a specific timezone using this fix?

[2014-03-14 18:31] jomski2009 commented on #93
This does not work when one needs multiple data attributes on an html tag. Please reopen and consider that use case.,

[2014-03-14 19:44] danielfernandez commented on #93
@jomski2009 what do you mean?

[2014-03-14 21:27] jomski2009 commented on #93
I attempted to do the following...

[code]

This throws an exception.

[2014-03-14 21:52] danielfernandez commented on #93
HTML forbids repeated attributes, so that code is not correct. However, `th:attr` and `data-th-attr` allow you to specify several attributes separated by commas, like:

[code]

[2014-03-14 21:55] danielfernandez commented on #93
Also, if you prefer a different option, there is a dialect in the ecosystem which will allow you to specify any `data-*` attribute without using `data-th-attr`: http://www.thymeleaf.org/ecosystem.html#dataattrdialect

[2014-03-14 21:57] jomski2009 commented on #93
Ok. the comma was what I was missing. I'll give that a shot.

[2014-03-17 23:19] danielfernandez opened #268 "Study cache solutions for improved performance"
See http://forum.thymeleaf.org/Thymeleaf-Cache-Dialect-released-td4027289.html

[2014-03-18 01:12] jjbenson opened #269 "Arithmetic exception in BigDecimal.divide()"
When the division step in the #aggregates.avg utility method(s) returns a value with a non-terminating decimal expansion, an exception is raised.

[2014-03-19 09:27] Antibrumm commented on #264
I played around a little and found a quite nice approach to hide my previous controlling code from the html templates:

This allows any number of fallback templates. The example shows two.

!This currently uses Spring MVC and is a component in the servlet-context!

HTML

[code]

The TemplateAvailablity Class

[code]

[2014-03-19 09:30] Antibrumm commented on #213
Take a look at issue #264 (Feature Request: Allow fallback templates for th:include, etc...)

Probably you can use my approach I wrote in the comment to achieve what you want by using the locale variable to build the template name?

[2014-03-19 22:41] #263 closed, assigned to danielfernandez

[2014-03-23 16:44] luoruici commented on #32
@danielfernandez @davejoyce
Thanks for your work/discussion on OSGi bundle of thymeleaf, it's valuable for my work. I'm now using OSGi framework(Equinox) in my springmvc project and trying to use thymeleaf instead of traditional jsp. I have some experience on it:

### It is not neccessary to package javassist and ognl jars to thymeleaf distribution

because actually there exists bundle version for

[2014-03-25 09:09] doctore commented on #180
Hi.

First thanks for your work. Would it be possible to include this functionality in the next version? Since it would be very interesting for those who, like me, we have several "levels of head" and, for now, there is no simple way to include a "head father" within another "head son".

Thanks.

[2014-03-25 20:37] ultraq commented on #180
One of the referenced issues (https://github.com/thymeleaf/thymeleaf/issues/3) mentions that this feature will be for Thymeleaf 3.0 (no idea when that will happen though especially since 2.1 isn't all that old yet) as the layout dialect provides some of these features for those looking for an interim fix.

[2014-04-01 09:31] ultraq commented on #51
This is a bit of an oldie (I was looking through some of the older issues, see if I could do anything in the interim), but are you talking about the `elementStack` property here: https://github.com/thymeleaf/thymeleaf/blob/2.1-master/src/main/java/org/thymeleaf/templateparser/xmlsax/AbstractNonValidatingSAXTemplateParser.java#L305 ?  `Stack` does extend `Vector`, so it is theoretically slower than

[2014-04-01 09:42] ultraq commented on #35
@danielfernandez What kind of servlet do you envision for this?  I already run a Spring-less Thymeleaf site, so I could just extract my template servlet into its own library (much like I did with the layout dialect) or as an extra?

[2014-04-01 09:46] ultraq commented on #36
lol, can we close this one?  It is _very_ weird, and something that nobody has really asked for :)  Just because JSP does it, doesn't mean we should.

[2014-04-01 09:50] jmiguelsamper commented on #35
I think this is the Velocity servlet that Daniel told about http://velocity.apache.org/tools/devel/view.servlet.html

[2014-04-01 09:52] jmiguelsamper commented on #36
Nowadays, that dialect should run JPQL more than SQL.

Anyway, I agree, I've never heard of anyone using the JSTL SQL taglib.

[2014-04-01 10:06] danielfernandez commented on #51
Wow, someone brave enough to fight against the low-level parsing code in Thymeleaf!! I think I'm going to cry with joy :-):-)

Yes, that `Stack` is the thing to be removed. This class will require a heavy rewrite in 3.0, when we adopt attoparser, but anyway a structure like that will be probably needed even in the new handler, in order to contain the current stack of DOM elements.

And we have a b

[2014-04-01 10:13] danielfernandez commented on #36
A decade ago, I collaborated with a paint-by-numbers web site called griddlers.net, which at the time was entirely developed using plain JSPs executing SQL queries with the JSTL SQL taglib :-) Code was immensely dirty, I admit, but the whole thing worked, was incredibly fast and allowed a really surprising amount of load, even if directly served by a single Tomcat instance of the time.

And think

[2014-04-01 10:18] danielfernandez commented on #35
Basically, I thought of this as a way to create thymeleaf-only web applications in a similar fashion to the way people can create ASP-only web applications on an IIS or JSP-only web applications on a Tomcat/Jetty/whatever.

This is, a servlet that takes URLs (probably only `.html` URLs) and redirects them to thymeleaf templates which will do the processing.

And what processing, you might ask, if

[2014-04-01 18:38] ultraq commented on #36
Yeah, SQL in templates is a very PHP thing.  Still, I'd rather someone else do it and not fill our issues/backlog with things we're unlikely to do ourselves :P

[2014-04-01 19:54] ultraq commented on #51
I think I had a look at this stuff a few months ago when I was trying to get AttoParser working with the Eclipse plugin, so it's shouldn't be that scary.  I'll give it a look sometime this week.

[2014-04-01 19:56] ultraq commented on #35
I'll see what I can get going for this sometime this week as well.  I'll just throw it into one of my own repos for you to evaluate.  I should also be able to get it working much more simply than the instructions on the Velocity page if I start with using Servlet 3.0 web fragments (sooo much easier than having to hack together the web.xml yourself), or maybe I'm just being too optimistic.

[2014-04-02 09:15] ultraq commented on #51
Arg, the comparison/benchmark scripts require a Unix-like environment.  Note to self: take the work MacBook home one of these nights.

[2014-04-02 09:30] danielfernandez commented on #51
Actually, I run them with CYGWIN on a Windows machine...

[2014-04-02 09:46] ultraq commented on #51
Thought I had a Unix-like environment on my Windows machine (Git Bash which had MingW), but it doesn't have everything in it that your script needs.  Will give Cygwin a try.

[2014-04-02 11:31] ultraq commented on #51
Got it going, but I get a tonne of errors in the tests like this:

[code]

[2014-04-08 10:36] ultraq commented on #35
So I got something going in this repo: https://github.com/ultraq/thymeleaf-template-servlet

It's a web fragment project, so can be imported into any web project and it'll automatically start working as per the config in the annotations here: [StandaloneThymeleafServlet.java](https://github.com/ultraq/thymeleaf-template-servlet/blob/master/Java/nz/net/ultraq/thymeleaf/StandaloneThymeleafServlet.ja

[2014-04-08 10:44] jmiguelsamper commented on #35
Oh, that's a nice toy!

I will try it at the end of this week, maybe doing an example application.

Regards,
  Zemi

[2014-04-09 00:36] danielfernandez commented on #51
Oh, I didn't receive a GitHub email notification for this last comment... sorry.

What profile are you using? This probably has to do with the modifications made for fixing #265 and #267, but it shouldn't be failing for you if you use the current 2.1.3-SNAPSHOT (you should actually be obtaining those `a%5B0%5D`)

[2014-04-09 08:12] ultraq commented on #51
I was using the 2.1-spring4 profile, but I changed it to use 2.1.2.RELEASE so I could compare it against another profile that used 2.1.3-SNAPSHOT that contained my changes.  I guess if I want to do that I should use the thymeleaf-tests repository with tests for the 2.1.2.RELEASE version?  Otherwise, how can I compare my changes against the current 2.1.3-SNAPSHOT?

[2014-04-09 08:43] danielfernandez commented on #51
Hmmm.... you're right, that is a limitation of our test layout. Given tests had to be modified in order to adapt to the fixes in #265, they won't work in 2.1.2. And if you go back to the version of the tests that worked for 2.1.2, it won't work for your snapshot :-)

I suppose the easiest fix for your needs are to locally remove the problematic tests from the list of tests being used for benchmark

[2014-04-09 10:56] ultraq commented on #51
I removed those tests from the benchmark suite and was finally able to get it to run 2.1.2.RELEASE vs the 2.1.3-SNAPSHOT.  The results are... inconclusive :|  My machine isn't very good as a benchmark machine, and so the comparisons were all over the place: sometimes it was in favour of the change, sometimes it wasn't, usually favouring one or the other by 5%.

If the point of this issue is to jus

[2014-04-09 23:43] danielfernandez commented on #51
I think we can consider a +- 5% difference as a "no difference". Fluctuations are completely normal as operating systems will not give you the full attention of the CPU the whole time. And virtual machines (non-dedicated) aren't an option either, fluctuations are even bigger there...

Given this will be rewritten in 3.0, I see no reason for changing now if we are not going to obtain a performance

[2014-04-10 16:38] srbala opened #271 "Thymeleaf only example"
I have seen it on documentation that thymeleaf can work without spring framework. Is there any Thymeleaf only example in this repository?

It would be good idea to add a Thymeleaf only example.

[2014-04-10 16:44] jmiguelsamper commented on #271
The companion application for the main tutorial does not use Spring. You can find it at
     https://github.com/thymeleaf/thymeleafexamples-gtvg

[2014-04-10 16:44] #271 closed, assigned to jmiguelsamper

[2014-04-15 09:05] kaanozdokmeci opened #272 "Adjust app context path for @{} expressions"
Hello, currently you can specify the following:
-Context relative urls
-Server relative urls
-Absolute urls
-Protocol relative urls

While developing, we generally run our applications on localhost. But deployed apps run behind a reverse proxy.

context root for the app: my-app
expression: @{/login}
localhost url: /my-app/login
deployed url: /login

so, as a feature, would you please consider adju

[2014-04-15 09:57] ultraq commented on #272
I also work behind a reverse proxy to redirect domains to apps, so one method I use to get around those paths is to set the `<base>` tag in my HTML, eg:

[code]

(The HTML5 spec for the `<base>` element: http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#the-base-element)

`siteURL` is set from an environment property so that on my dev machine/s it can stay `http://localhos

[2014-04-17 16:24] jbaiter opened #274 "th:utext turns certain UTF8 characters into '?'"
When I try to render a string containing German quotation marks (`„Some text“`) or dashes (`foo – bar`) in my template, using `<th:utext=${mystring}>`, the characters in the generated HTML are replaced with quotation marks, e.g. in the above examples `?Some text?` and `foo ? bar`.

However, other unicode symbols like `ö` or `Ü` are rendered without any problems.

[2014-04-17 17:22] jmiguelsamper commented on #36
Just as a pastime, the SQL dialect has been created at https://github.com/jmiguelsamper/thymeleaf-extras-sqldialect

[2014-04-23 17:48] opensource21 opened #275 "Doublebracket-Syntax doesn't work for iteration items"
If you have an Object Task with an attribut budget and declare via annotation for budget a special formatter, I get the following surprising behavior:

[code]

works fine, but

[code]

doesn't work. This is an extremly surprising behavior.

[2014-04-29 14:31] jsumners opened #276 "Adding a "selected" attribute based on a condition is overly verbose"
Unless I'm missing something, adding a "selected" attribute (or one like it) when a condition is met is more complicated than it needs to be. As an example, the following is building a list of options for a select box. It is designed to pre-select an option based on a user's past choice:

[code]

Note that I have essentially the same code written _twice_ just because I can't do something like:

[c

[2014-04-29 14:55] jmiguelsamper commented on #276
Hello,

I think you are looking for the th:selected attribute.

Try
    th:selected="${gateway.extension == smsAddress.extension}"

If you have further doubts, you can use the forum at http://forum.thymeleaf.org/

[2014-04-29 14:55] #276 closed, assigned to jmiguelsamper

[2014-04-29 15:27] jbaiter commented on #274
Closing since this is not a bug. I just didn't know that I had to set the `contentType` attribute on the `ThymeleafViewResolver`. Configuring it like this works like a charm:

[code]

[2014-04-29 15:27] #274 closed, assigned to danielfernandez

[2014-04-29 22:05] danielfernandez commented on #107
Updated 2.1.3-SNAPSHOT

[2014-04-29 22:05] #107 closed, assigned to danielfernandez

[2014-04-29 22:20] danielfernandez commented on #275
This is known behaviour. Please have a look at thymeleaf/thymeleaf-spring#37 and thymeleaf/thymeleaf-spring#49.

I'm closing this ticket as this belongs to the thymeleaf-spring repository, and the topic is already covered in the referenced tickets.

Thanks.

[2014-04-29 22:20] #275 closed, assigned to danielfernandez

[2014-04-29 23:41] danielfernandez commented on #272
Hmmm... the preferred configuration here is setting up _URL rewriting_, so that URLs are rewritten in a manner completely transparent to thymeleaf or even the MVC technology of choice. This can be done by means of the `HttpServletResponse.encodeURL(...)` method in the Servlet API, an extension point that Thymeleaf honors.

Then the transformations applied can of course be configured differently de

[2014-04-29 23:41] #272 closed, assigned to ultraq

[2014-04-30 08:48] BrandonJohnGrenier commented on #261
I've been able to get ThymeLeaf and Ember.js to work together without having to use CDATA sections. I was running into the same problem, then I remembered reading about ThymeLeaf templates:

http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html

ThymeLeaf supports 6 different templates out-of-the-box. If you're using ThymeLeaf in Spring MVC, the "HTML5" ThymeLeaf template is used by default. I co

[2014-04-30 09:28] opensource21 commented on #275
Thanks!

[2014-05-01 20:40] danielfernandez opened #277 "PORT: Arithmetic exception in BigDecimal.divide()"
PORT of #269 for Thymeleaf 2.0

When the division step in the #aggregates.avg utility method(s) returns a value with a non-terminating decimal expansion, an exception is raised.

[2014-05-01 21:47] #269 closed, assigned to danielfernandez

[2014-05-01 21:52] #277 closed, assigned to danielfernandez

[2014-05-01 22:52] danielfernandez opened #278 "PORT: Incorrect replacing in script inlining"
PORT of #257 for Thymeleaf 2.0

---

In Thymeleaf 2.1.2,

[code]

when the "referrer" field is empty, Thymeleaf renders this as

[code]

Reported by Chrylis in the forum:
   http://forum.thymeleaf.org/Problem-with-script-inlining-td4027438.html

[2014-05-01 23:14] danielfernandez commented on #269
Updated 2.1.3-SNAPSHOT

[2014-05-01 23:14] danielfernandez commented on #277
Updated 2.0.21-SNAPSHOT

[2014-05-01 23:23] #257 closed, assigned to danielfernandez

[2014-05-01 23:23] #278 closed, assigned to danielfernandez

[2014-05-01 23:24] danielfernandez commented on #278
Updated 2.0.21-SNAPSHOT

[2014-05-01 23:24] danielfernandez commented on #257
Updated 2.1.3-SNAPSHOT

[2014-05-02 19:59] danielfernandez commented on #262
This has been verified. Unfortunately, this will be quite difficult to solve in 2.1.

The problem is that **nekoHTML**, which is used for parsing in `LEGACYHTML5` mode, always treats the contents of a `<script>` tag as text not markup so, after parsing this fragment, the whole content of the `<script>` is fed to the Thymeleaf engine a `Text` DOM node. This makes it impossible for thymeleaf to exec

[2014-05-05 10:09] anil1712 opened #279 "Relative ${url} is not working"
Hi, I am using Spring Web MVC and <a href="http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html">Thymeleaf template Engine</a> and got stuck while creating url.

 I have a url this `http://localhost:8080/project/web/category/mobiles`
 and now I want to create relative url like this `http://localhost:8080/project/web/category/mobiles/store/samsung`
or
`http://localhost:8080/project/web/category/m

[2014-05-05 10:34] jmiguelsamper commented on #279
Hello,

if you just want a relative URL you don't need any Thymeleaf syntax, just write

[code]

for the first example.

Or if you want to add parameters to current URL, you can use, for example

[code]

You can learn about Thymeleaf URL syntax in the section
   http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#link-urls

Please use the forums if you have any further questions
   http://forum

[2014-05-05 10:34] #279 closed, assigned to jmiguelsamper

[2014-05-05 11:34] anil1712 commented on #279
your both examples are not working any more, the 1st one `<a href="store/samsung">` will append the `store` all the time in every request in href and the 2nd one `${#httpServletRequest.requestURI}` is showing no changes on url.

*I posted the same on <a href="http://forum.thymeleaf.org/Relative-url-is-not-working-td4027852.html">thymeleaf forum</a>, please give me some soution.

[2014-05-05 20:21] taypo opened #281 "Feature Request: Safe Null Dereferencing"
I could be like how grails does it. Like
${song?.video.thumbnail}

Above expression would not throw TemplateProcessingException when the video is null, if you reference it with the ?. operator.

What do you think?

[2014-05-05 20:48] jmiguelsamper commented on #281
Hello,

that syntax is already supported in both OGNL and SpringEL, but the ? must be _after_ the element that can be null.

Regards.

[2014-05-05 20:48] #281 closed, assigned to jmiguelsamper

[2014-05-05 21:20] taypo commented on #281
That's great, thank you.

[2014-05-06 22:57] danielfernandez commented on #255
Actually, after much research, it seemed that this escaping bug was not only quite deeply rooted into thymeleaf's way of dealing with `Text` and `Attribute` nodes, but also very difficult to solve with the existing java escaping tools.

The reason for this is that Thymeleaf needs to:
1. Unescape the contents of the template texts and attributes that will be processed.
2. Process them, adding data

[2014-05-06 22:58] #255 closed, assigned to danielfernandez

[2014-05-07 06:56] makigumo commented on #255
Just wanted to give you a big thank you. I didn't realize it would take so much effort. Great work! I will test it as soon as possible.

[2014-05-07 22:10] danielfernandez commented on #247
Our current position on this is that these URL tuning operations should be performed outside thymeleaf, by means of URL rewriting filters such as http://tuckey.org/urlrewrite/ (which we recommend). This is so because the rules that match URLs to CDNs might be complex, and they clearly fall into the category of _application configuration_, not _view layer configuration_. A specialized tool (like an

[2014-05-07 22:10] #247 closed, assigned to danielfernandez

[2014-05-08 00:18] danielfernandez commented on #249
The `__` syntax is part of the core of the Thymeleaf Standard Expression processors. Unfortunately, it would be quite difficult (and provoke a lot of legacy code incompatibilities) to change it.

However, thymeleaf does make sure that preprocessing marks are not escaped (like `\_\_`), that they appear in pairs (`x__y__z` is preprocessed but `x__y,z` isn't), and that what is delimited between the `

[2014-05-08 00:18] #249 closed, assigned to danielfernandez

[2014-05-08 10:11] danielfernandez commented on #258
This `keySet()` method should not be added to the `ICache` interface (at least not in 2.1) because it would break the existing interface and therefore code compatibility. However, if you assume you can do a cast to the `StandardCache` class (the standard implementation), it could be added there.

However, note that this `keySet()` method would have a drawback: it would return to you all the names

[2014-05-10 10:38] ultraq commented on #121
Added a special case in the Javascript/Dart inline text utils for `java.sql.Date` types, converting it to a `java.util.Date` and using that object's `toString` method.  Slated for the 2.1.3 release.

[2014-05-10 10:38] #121 closed, assigned to ultraq

[2014-05-10 20:10] marceloverdijk opened #282 "Spring formatting issue with list"
I have a VatPercentage domain class containing:

[code]

Note the @NumberFormat annotation to cause Spring to format the field nicely.
In my case with Dutch locale it will use a comma as decimal separator.

When using double-brakcets (as described in https://github.com/thymeleaf/thymeleaf/issues/223) it works when I have a single instance but not when looping over list.

To give example, in my con

[2014-05-10 20:13] danielfernandez commented on #282
Yes, this is in fact the expected behaviour in SpringMVC-based scenarios (works the same in JSP). This was already described at thymeleaf/thymeleaf-spring#37, and a specific action will be taken to solve this scenario as described in thymeleaf/thymeleaf-spring#49

Closing this one as duplicated, therefore.

[2014-05-10 20:13] #282 closed, assigned to danielfernandez

[2014-05-10 20:45] marceloverdijk commented on #282
Thx for quick reply. I wish it was easier on github to search issues...

I understand https://github.com/thymeleaf/thymeleaf-spring/issues/49 is not yet solved so I was trying to understand how the workaround this from issue #37.

I tried `th:text="${{vatPercentages[__${iteration.index}__].standardRate}}"` but it still does not use the formatting and still the dot is printed as decimal separator.

[2014-05-10 23:09] danielfernandez opened #283 "Move response.encodeUrl(..) to th:href and th:src"
Currently, `response.encodeUrl(...)` is being applied at the `LinkExpression` level instead of at the `th:href` and `th:src` attributes.

But maybe the same reasons that advise against applying Spring's `RequestDataValueProcessor` there ( https://github.com/thymeleaf/thymeleaf/blob/0962d0b98f4afeb2e9c1ea60385769aa0595c821/src/main/java/org/thymeleaf/standard/expression/LinkExpression.java#L236-L24

[2014-05-11 11:54] marceloverdijk commented on #282
Btw I think by using `<spring:eval />` in jsp the formatting also works within <c:forEach>.

How is thymeleaf outputting values when using double brackets `${{ }}` when using Spring? If it would go through a similar eval flow it should work.
Does Thymeleaf has a specific way to call the Spring eval mechanism?

[2014-05-11 21:52] danielfernandez commented on #282
Actually, your comments made me look again at this problem, but this time from a different perspective. And this allowed me to solve the problem in an easy and very Spring-integrated way.

So this is already closed and this will be a part of 2.1.3. See thymeleaf/thymeleaf-spring#49 for more details.

2.1.3-SNAPSHOT has been updated, so you can use it for testing if you want, before 2.1.3 is publis

[2014-05-11 21:54] danielfernandez commented on #275
Note this has been implemented and will be a part of Thymeleaf 2.1.3. See thymeleaf/thymeleaf-spring#49 for more information.

[2014-05-12 19:46] danielfernandez opened #285 "PORT: Java.sql.Date.getHours throws exception at org.thymeleaf.util.JavaScriptUtils.printObject"
PORT of #121 for Thymeleaf 2.0

---

We use Hibernate to DB processing. Example of date field:

[code]

startDate is mapped as java.sql.Date, which has the following deprecated method:

[code]

So we got the following exception:

readMethod.invoke(object) throws InvocationTargetException after call deprecated getter.

We propose to process java.sql.Date as special case.

[2014-05-12 19:47] #285 closed, assigned to ultraq

[2014-05-12 19:48] danielfernandez commented on #285
Updated 2.0.21-SNAPSHOT

[2014-05-12 19:49] danielfernandez commented on #121
Updated 2.1.3-SNAPSHOT

[2014-05-13 11:32] vitornp opened #286 "Not return value default with multi-language using #strings.defaultString"
Use:

[code]

Return: Caused by: ognl.OgnlException: source is null for getProperty(null, "uninformed")

Use:

[code]

Return:

[code]

[2014-05-13 13:47] vitornp opened #288 "Literal substitutions could not parse"
Use:

[code]

Return:
org.thymeleaf.exceptions.TemplateProcessingException: Could not parse as expression: "|${country} (#{signal}${code})|"

[2014-05-13 16:52] bubuzzz commented on #2
Just awesome !! your example is exactly what I need. Thank you very much

[2014-05-13 21:13] kreuzman commented on #286
Hi you must use preprocessing expression to execute localized message (default value in your case) first.

So this will work for you.

[code]

[code]

[2014-05-13 21:34] danielfernandez commented on #286
Michal is right, you are trying to execute a Thymeleaf i18n expresion inside a Thymeleaf variable expression (which is executed by the OGNL engine, who does not know about `#{...}` expressions).

However, there's another possibility besides preprocessing: you can use the `#messages` utility object like:

[code]

More about this `#messages` utility object here: http://www.thymeleaf.org/doc/html/Usi

[2014-05-13 21:34] #286 closed, assigned to danielfernandez

[2014-05-13 21:48] vitornp commented on #286
@kreuzman @danielfernandez thanks for the help!

[2014-05-13 23:17] #288 closed, assigned to danielfernandez

[2014-05-13 23:24] danielfernandez commented on #288
Thanks. This was a bug. It's now been fixed.

2.1.4-SNAPSHOT has been updated, including this fix.

[2014-05-14 11:03] vitornp commented on #288
Thanks!

[2014-05-15 19:01] dharrigan opened #289 "URL's with # not being written correctly"
Hi,

Java 1.8u5 b13.
Thymeleaf 2.1.3

I have the following defined in a template:

[code]

I'm passing into my Context, the following:

[code]

getDomain() returns this:

[code]

and resetTokenLink variable is defined as:

[code]

Inside the Context (when I observe with a breakpoint), I'm seeing this:

[code]

I'm expecting this (URL) to be rendered in the template:

[code]

Instead, I'm getting t

[2014-05-15 19:11] willdavidwarren commented on #289
Isn't your desired result actually an invalid URL? I thought the "fragment" had to come very last in a URL http://en.wikipedia.org/wiki/Fragment_identifier

[2014-05-15 19:22] dharrigan commented on #289
Hi,

Thanks for your comment. I'm not sure, since with Single Page Applications (such as AngularJS which is my target client), it appears that the format of the url:

domain/#/page?params

is valid.

It would appear the the "#" should proceed the parameters passed into a page.

Taken directly from AngularJS website, this is an example they provide:

[code]

here is another one from their site:

[c

[2014-05-15 19:26] willdavidwarren commented on #289
I'm unfamiliar with AngularJS, but I believe you. So since you're building a complete URL in the java code, why not simply output the URL using the `$` instead of the `@` and do some string concatenation. So your HTML would become:

[code]

Does that work?

[2014-05-15 19:29] dharrigan commented on #289
Hi,

Thanks again :-) Perhaps a valid workaround for now, however, this leaves this potential bug still open (and I would rather use the provided () construct as outlined in the Thymeleaf usage guide :-)).

You've been very helpful :-)

-=david=-

[2014-05-15 19:31] willdavidwarren commented on #289
Yes, there's definitely a gap there unless there's a proper way to do this that I'm unaware of. I'm just a lowly thymeleaf user like yourself. Maybe someone like @danielfernandez would know the proper answer.

Cheers!

[2014-05-15 20:31] cwong15 opened #290 "Rendering of Java Date objects breaks JavaScript inlining"
Forum post here:

http://forum.thymeleaf.org/Inline-JavaScript-rendering-of-Java-dates-syntax-error-td4027910.html

Release 2.1.3 added the method StandardJavaScriptTextInliner.printDate to fix issue #121. Unfortunately, this results in invalid JavaScript when we try to inline any object that contains a Java Date property, because it gets converted into a human-readable string instead of a valid J

[2014-05-15 20:34] cwong15 commented on #290
Sorry, the following got swallowed by the editor. This is the Thymeleaf construct that generates the above text:

<pre>
&lt;script th:inline="javascript" type="text/javascript">
    var foo = /*[[${myFoo}]]*/
&lt;/script>
</pre>

[2014-05-16 07:01] Antibrumm commented on #258
Basically I'd like to clean the evictByStartsWith method in the thymeleaf-extras-cache-dialect. For this I need to be able to get all cache keys to iterate over it.
Currently I have to get a reference to the cache container map to be able to get this info:

[code]

I use the ValidityChecker already for the TTL eviction feature in the dialect.
Do you mean that instead of going to the cache and remo

[2014-05-16 08:39] jmiguelsamper commented on #290
In order to make the Javascript object creation work, we could display dates as:

[code]

where the number inside is the time in milliseconds date.getTime()

Or, if we want a more readable output

[code]

with the date inside following the format YYYY-MM-DDTHH:mm:ss.sssZ specified in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString

[2014-05-16 22:47] danielfernandez commented on #289
Thymeleaf considers everything after a `#` in an URL base (in your case, the result of evaluating `${resetTokenLink}`) a _page fragment identifier_, and therefore a piece of information to be processed by the browser, not the server.

Your `?r=kjsk2j3k23` parameter is not really meant for a server, but instead for your client-side library (AngularJS, in this case). But Thymeleaf does not understan

[2014-05-16 23:01] danielfernandez commented on #290
The date being output is not being surrounded by single quotes :-(:-(

All "simple" objects are being output as string literals, and the aim of this change was to convert `java.sql.Date` and `java.util.Date` in such directly-convertible objects so that introspection was avoided, so the:

[code]

...wouldn't be completely adequate IMHO, because it would output the `Date` as an object instead of a l

[2014-05-16 23:50] danielfernandez commented on #290
For the record: section **15.9.1.15 Date Time String Format** of the ECMAScript specification, version 5, states that:

_ECMAScript defines a string interchange format for date-times based upon a simplification of the ISO 8601 Extended Format. The format is as follows: **YYYY-MM-DDTHH:mm:ss.sssZ**_

Of special interest is the meaning of **Z**, which is defined as:

_Z is the time zone offset speci

[2014-05-16 23:58] danielfernandez opened #291 "PORT: Rendering of Java Date objects breaks JavaScript inlining"
PORT of #290 for Thymeleaf 2.0

---

Forum post here:

http://forum.thymeleaf.org/Inline-JavaScript-rendering-of-Java-dates-syntax-error-td4027910.html

Release 2.1.3 added the method StandardJavaScriptTextInliner.printDate to fix issue #121. Unfortunately, this results in invalid JavaScript when we try to inline any object that contains a Java Date property, because it gets converted into a human

[2014-05-17 00:02] danielfernandez commented on #290
More info: the pattern that would produce an ECMAScript-valid date literal using a `java.text.SimpleDateFormat` object would be:

[code]

But unfortunately the `X` pattern, defined as _ISO 8601 time zone_ at http://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html was only added in Java SE 7. So a different solution should be evaluated.

[2014-05-17 00:06] danielfernandez commented on #285
Note this fix is broken, as explained in #291

[2014-05-17 00:06] danielfernandez commented on #121
Note this fix is broken, as explained in #290

[2014-05-17 06:56] dharrigan commented on #289
Hi Daniel,

Thank you for the update. Everything you have said makes complete sense.
I've used your suggested work-around for now :-). I guess with SPA's
becoming more popular, this type of URL pattern will become more pervalent,
but at least it's very easy to work around if required (or rather, perhaps
just adopt this as the de facto way of handling SPA fragment parameters
with Thymeleaf).

Keep

[2014-05-17 21:55] #290 closed, assigned to nobody

[2014-05-17 23:12] danielfernandez commented on #290
Updated 2.1.4-SNAPSHOT

[2014-05-17 23:12] danielfernandez commented on #291
Updated 2.0.21-SNAPSHOT

[2014-05-18 16:31] #291 closed, assigned to nobody

[2014-05-20 17:43] davicdsalves opened #292 "Support of conditional statement for tag attributes."
I have a requirement to load a javascript function on the body tag whenever a model variable is true, something that I would simple do like this with jstl:

[code]

But from my understanding Thymeleaf works only with if conditions for tags, so in order to have a conditional body attribute I would need a whole conditional body tag, and that doesn't seems reasonable.
Is there any way to acomplish wh

[2014-05-20 18:21] willdavidwarren commented on #292
I think you could do this fairly easily with `th:attr`. It would be something along the lines of:

[code]

[2014-05-20 19:21] danielfernandez commented on #292
Actually, there is a `th:onload` attribute processor, and the _else_ part of a conditional expression is optional. So your expression could be as simple as:

[code]

[2014-05-20 19:21] #292 closed, assigned to danielfernandez

[2014-05-20 19:22] danielfernandez commented on #292
By the way, you can know more about how Thymeleaf Standard Expressions work here: http://www.thymeleaf.org/standarddialect5minutes.html

[2014-05-20 19:30] davicdsalves commented on #292
Thanks for your support guys. I will try what you suggested.

[2014-05-20 21:12] marceloverdijk commented on #282
Sorry for late reply, but this now works 2.1.3. Thanks!

[2014-05-30 01:41] ghost commented on #93
Hi  I have a requirement to give multiple values to attributes. its with the combination of angular and thymleaf with spring mvc.
<div id="zipLookup" ng-controller="AddressManagementCtrl" data-th-attr="data-data=*{primary.zipcode}, *{primary.county},*{primary.city},*{primary.street1},*{primary.street2}">

the intention is the after document should look something like this:
here zipcode, state,coun

[2014-06-11 11:28] marcosabel opened #293 "Local variables defined in the th:with attribute of a given tag cannot be used in the th:if attribute of the same tag"
Hi guys,

The precedence values currently defined for thymeleaf attributes make imposible to use local variables in the th:if attribute. To better clarify the situation, in the following example the variable local will not be defined when evaluating the th:if attribute:

[code]

I understand that the precedence values currently defined provide the advantage of not evaluating the th:with attribute

[2014-06-11 12:16] Antibrumm commented on #293
For me the evaluation of `th:with` after `th:if` is ok as it is.
I use it quite often together and prefer that the variables are only evaluated if the children need to be rendered.

So `th:if`/ `th:unless` are not evaluating all variables and throw half of them away directly afterwards.

You could however easily add your own processor `th:earlywith` by just extending the `th:with` processor and gi

[2014-06-13 10:28] adobarro opened #294 "A model param name called 'restrictions' doesn't throw a forbidden message"
Hello,

if you have a model attribute name called "restrictions", thymeleaf doesn't show its current value but the toString representation of a ForbiddenContextVariableRestriction object ("org.thymeleaf.context.ForbiddenContextVariableRestriction@3ca55555"). If this happens because "restrictions" is a reserved word (or a method of a request variable) the framework should behave the same way as it

[2014-06-16 07:43] danielplappert opened #295 "th:replace and th:include behave differently"
While working with <b>th:replace</b> and <b>th:include</b> I found out that these tags behave differently.
Let's say I've a fragment for displaying messages. This message should be displayed only under a given condition.

Fragment:

<pre>
&lt;div class="message" th:fragment="info-message (message)"&gt;
    &lt;p th:text="${message}" class="some-other-style-class" /&gt;
&lt;/div&gt;
</pre>

... my

[2014-06-23 11:15] vitornp opened #296 "Not implemented specific cache"
Method getSpecificCache is not implemented in https://github.com/thymeleaf/thymeleaf/blob/2.1-master/src/main/java/org/thymeleaf/cache/AbstractCacheManager.java#L120

[2014-06-23 23:42] danielfernandez opened #297 "Default attribute support"
It could be useful to add a "default attribute processor" that simply matches any name (with the lowest precedence, so that it acts as a default) and outputs an attribute with the same matched name, with value equal to the evaluated expression.

Something like:

[code]

with output:

[code]

[2014-06-23 23:53] ultraq commented on #297
Could this be a replacement for all the HTML attribute processors we have?  (`th:class`, `th:href`, `th:selected`...)

[2014-06-23 23:56] danielfernandez commented on #297
Not all, but many of them. For example, `th:selected` works differently, because it evaluates its expression as boolean and outputs `selected="selected"` if true, and does not output at all if false.

Also, some attributes are actually required, so when evaluating to a null expression they must not dissapear from the tag, but simply output the empty string, like `<form action="">`. These would not

[2014-06-24 08:29] Antibrumm commented on #297
What if you simply manage a list of attributes that allow null to empty string conversion?

Also: Probably the same approach could be possible for append and prepend processors?

[2014-06-25 09:55] oliverlietz commented on #32
I've written a [Scripting Engine](http://docs.oracle.com/javase/6/docs/api/javax/script/ScriptEngine.html) "[_Apache Sling Scripting Thymeleaf_](https://github.com/apache/sling/tree/trunk/contrib/scripting/thymeleaf)" for [Apache Sling](http://sling.apache.org) (and [Adobe CQ/Experience Manager](http://dev.day.com)) as OSGi bundle.
It embedds thymeleaf, unbescape and nekohtml as they aren't availa

[2014-06-25 17:48] jamesagnew opened #298 "Text is double escaped in Thymeleaf 2.1.3"
I have a template with the following (spaces added to prevent the pre tag from actually rendering):
< pre th:text="${requestBody}" >< /pre >

..where the ${requestBody} contains raw HTML that is displayed in a PRE block. In Thymeleaf 2.1.2 the HTML is correctly escaped (< becomes &amp;lt; etc...) but in Thymeleaf 2.1.3 the HTML is double escaped ( < becomes &amp;lt;lt; ).

(This is my first issue

[2014-06-25 18:24] jmiguelsamper commented on #298
Hello,

I have just tested it and the escaping on Thymeleaf 2.1.3 works OK, maybe you should double check your code.

Regards,
   Zemi

[2014-06-25 19:03] danielfernandez commented on #298
Actually, Thymeleaf 2.1.2 was doing HTML escaping wrong, and 2.1.3 fixed this. See https://github.com/thymeleaf/thymeleaf/issues/255#issuecomment-42370355

Your `requestBody` variable probably comes already HTML-escaped, and `th:text` simply escapes it again. Please, double-check this. This wasn't happening to you before because 2.1.2 wasn't correctly escaping `&lt;` into `&amp;lt;`, but leaving i

[2014-06-25 19:03] #298 closed, assigned to jmiguelsamper

[2014-06-25 19:16] jamesagnew commented on #298
You are completely correct, my apologies. I should have paid closer attention to my own code. :)

[2014-06-26 18:01] vitornp opened #299 "Integration with CDI"
Possible integrate thymeleaf with CDI?

[2014-06-30 19:31] dgomesbr opened #300 "Template per device type (html5, xhtml, wml and so on)"
This is related to: spring-projects/spring-mobile#14

My project uses WRUFL to detect the user device and save it to the session for later use.
So a `WurflDeviceDiscoveryFilter extends OncePerRequestFilter` saves a `CustomDevice` which contains a `WurflDevice` for later use.

eg.:

[code]

My thymeleaf config class has a few methods that creates different template resolvers based on the version as

[2014-06-30 19:38] dgomesbr commented on #300
cc @royclarkson

[2014-07-02 15:41] Antibrumm opened #301 "AbstractStandardScriptingTextInliner swallows uncatched exceptions"
Just ran into a small issue which took me a while to find out whats happening.
The `AbstractStandardScriptingTextInliner`is swallowing exceptions without any hint to the developer.

Line: 290+  // If it is not a standard expression, just output it as original

I had an uncatched exception during the evaluation of the expression and as a result the JS started to fail. no hint on the server side at

[2014-07-08 16:04] danielfernandez opened #302 "Evaluate the creation of a new extra component for JSR-310/jodatime support"
We should evaluate the possibility of creating a new extra for JSR-310 (Java 8's Date API) and jodatime. One is a Java8-only feature and the other one an external library, so at first it seems they shouldn't be in the core (_would there be a way?_)...

[2014-07-09 02:09] ultraq commented on #302
Is this intended to be something that replaces the `#dates` utility object, such that it processes Java 8 dates / Joda dates instead of the standard Java ones?

[2014-07-09 08:23] danielfernandez commented on #302
It would be nice if it could actually replace the _standard_ `#dates` object only when Java 8 is present, but not processing JSR-310 and JodaTime dates _instead_ of standard ones, but _besides_.

[2014-07-11 16:39] huxi opened #303 "Strange th:object behavior in combination with th:remove="tag""
In a main template:

[code]

In someTemplate:

[code]

In otherTemplate:

[code]

`otherTemplate` kind of "works as expected" meaning that the surrounding `<table>` is removed and only the contained `<tr>` ends up in `someTemplate`. But `*{class}` is printing the class of `foo` instead of the class of `bar`.

If I remove `th:remove="tag"` from `otherTemplate` then `*{class}` returns the class of `

[2014-07-14 08:12] jmiguelsamper commented on #303
Hello,

In the first and second template the parameters are switched. Is that intentional?

[code]

[2014-07-14 08:40] huxi commented on #303
Kind of. Calling a template with named arguments makes the order of them irrelevant. I don't think it makes a difference in this case but I should have switched them to avoid confusion.

[2014-07-15 05:32] rohtakdev commented on #89
edit - Works, just tested it!
can we also use this with th:src="@{...}" ?

[2014-07-15 08:11] jmiguelsamper commented on #89
Yes, you can use a @{...} expression in any attribute processor.

[2014-07-16 01:33] rohtakdev commented on #89
Thank you for your reply. One more question, i could not get the above behavior when i was using it inside a custom attribute.
like <option th:attr="data-img-src=@{...}" />
basically i wanted to use jquery plugin - http://rvera.github.io/image-picker/ and way it works is to specify an option tag like below -
<option
          data-img-src='http://www.example.com/image.jpg'
          data-img-label

[2014-07-16 08:05] jmiguelsamper commented on #89
You need a processor for that data-img-src attribute. You can use https://github.com/mxab/thymeleaf-extras-data-attribute

[2014-07-16 08:35] danielfernandez commented on #89
...or also simply use `th:attr`:

[code]

[2014-07-25 12:04] petergeneric commented on #81
This would be a really useful feature

[2014-08-02 23:15] danielfernandez commented on #293
We are declining this. Preference order makes more sense the way it is, order of attributes cannot be used because HTML does not consider attributes ordered (and attributes cannot be duplicated in a tag) and scenarios like this can be solved by means of using the synthetic `th:block` tag.

[2014-08-02 23:15] #293 closed, assigned to danielfernandez

[2014-08-02 23:26] ultraq commented on #32
Closing, see #280

[2014-08-02 23:27] #32 closed, assigned to danielfernandez

[2014-08-02 23:57] balazs-zsoldos commented on #32
Thank you for the great explanation. I know that spring stopped supporting OSGi and I think that was a good decision. OSGi based modules need much more simplicity that Spring has. While spring works great in the JEE monolithic world, it does not fit into OSGi modularized logic.

I hope you do not mind that I uploaded the [OSGified Thymeleaf jar](http://search.maven.org/#artifactdetails%7Corg.everi

[2014-08-03 22:24] danielfernandez commented on #32
@balazs-zsoldos of course, we are perfectly happy with anyone producing and distributing OSGi bundles for thymeleaf, thanks so much for the effort!

[2014-08-03 23:22] danielfernandez commented on #294
Note this does only happen in Spring-enabled environments.

[2014-08-04 00:05] danielfernandez commented on #295
The way it is now, attribute precedence works like this:
- 1st: Fragment inclusion: `th:replace`, `th:include`
- 2nd: Iteration: `th:each`
- 3rd: Conditional evaluation and rendering: `th:if`, `th:unless`
- (others)

I think it is important that we keep Conditional rendering **after** iteration, so that we can decide whether a block must be evaluated or not for each element of the iterated collect

[2014-08-04 07:52] danielfernandez commented on #296
Those _specific cache_ methods are intended for override, that's why they return `null` (or empty).

I suppose that you mean that `AbstractCacheManager` does not provide a map for storing and retrieving specific caches at the will of the user, and that's because neither it nor its default implementation `StandardCacheManager` are meant to have any specific caches (note they only have _getters_ for

[2014-08-04 08:52] danielfernandez commented on #299
Why not? In the same way you can define thymeleaf's relevant _beans_ in Spring using XML or annotations, you should be able to contruct and inject your thymeleaf objects using CDI...

[2014-08-04 08:52] #299 closed, assigned to danielfernandez

[2014-08-04 17:44] #301 closed, assigned to danielfernandez

[2014-08-04 17:48] danielfernandez commented on #301
Fixed, thanks a lot.

Updated 2.1.4-SNAPSHOT

[2014-08-05 19:41] #303 closed, assigned to danielfernandez

[2014-08-05 20:06] danielfernandez opened #304 "PORT: Strange th:object behavior in combination with th:remove="tag""
PORT of #303 for the Thymeleaf 2.0 branch.

[2014-08-05 20:13] #304 closed, assigned to danielfernandez

[2014-08-05 21:57] danielfernandez commented on #303
That was a bug. It's now fixed, thanks.

Updated 2.1.4-SNAPSHOT

[2014-08-05 21:57] danielfernandez commented on #304
Updated 2.0.21-SNAPSHOT

[2014-08-06 07:57] danielfernandez commented on #300
If I understood you correctly, there is no template resolution artifact in Thymeleaf that is able to do this out-of-the-box.

But it should be possible to implement a template resolver (implementation of the `ITemplateResolver` interface) for this:

As you can see here https://github.com/thymeleaf/thymeleaf/blob/2.1-master/src/main/java/org/thymeleaf/templateresolver/ITemplateResolver.java#L122 th

[2014-08-06 07:58] #300 closed, assigned to danielfernandez

[2014-08-06 17:46] vitornp commented on #299
I have a class

[code]

Try to use:

[code]

I get an error https://gist.github.com/vitornp/50624276dacb632fa67f

[2014-08-06 20:10] danielfernandez opened #305 "Create an #uris expression utility class for URI/URL-related utilities"
A new `#uris` utility object could be useful in expressions for dealing with some common URI/URL-related operations.

Initially, it should offer escape/unescape operations for the diverse parts of an URI (path, path segment, query parameters, fragment identifiers), based on the [Unbescape](http://www.unbescape.org) library.

[2014-08-06 20:13] #305 closed, assigned to danielfernandez

[2014-08-06 20:18] danielfernandez commented on #305
Updated 2.1.4-SNAPSHOT.

[2014-08-06 20:30] danielfernandez commented on #289
After some research, I've decided to not create a specific syntax for parameters in URI fragment identifiers (as the ones you have in your AngularJS URLs).

The reason is, each client-side framework can do basically whatever it wants with what is specified at the URI fragment identifiers (`#...`), and the fact that AngularJS uses a query string almost equal in syntax to that of the main part of th

[2014-08-06 20:30] #289 closed, assigned to danielfernandez

[2014-08-06 22:52] danielfernandez opened #306 "Add keySet() method to ICache (already in StandardCache)"
When the `StandardCache.keySet()` method was added in 2.1 (see #258), this method was not added to the `ICache` interface in order to not break existing code.

It should be added in 3.0. See https://github.com/thymeleaf/thymeleaf/commit/ce915d310f4be7c877a4ef567a8ab69da8f05ad3

[2014-08-06 22:55] danielfernandez commented on #258
A `keySet()` method has just been added to `StandardCache`. It will not be added to the `ICache` interface until Thymeleaf 3.0 (see #306), but for the moment you can cast your objects to `StandardCache` (the implementation class they most probably are instances of) and call it.

[2014-08-06 22:55] danielfernandez commented on #258
Updated 2.1.4-SNAPSHOT

[2014-08-06 22:55] #258 closed, assigned to danielfernandez

[2014-08-07 07:09] dharrigan commented on #289
Hi,

Thank you Daniel for the consideration of this issue. I understand where
you are coming from and it seems the best approach :-)

Thanks again for a great framework and tools! :-)

-=david=-

On 6 August 2014 20:30, Daniel Fernández notifications@github.com wrote:

##

I prefer encrypted and signed messages. KeyID: B20A22F9
Fingerprint: 110A F423 3647 54E2 880F ADAD 1C52 85BF B20A 22F9

"It is

[2014-08-07 09:12] Antibrumm commented on #258
Thanks Daniel, i will try it out soon.

[2014-08-08 23:03] danielfernandez opened #307 "Allow any text node to contain expressions"
Thymeleaf would be a bit easier to understand and use for people coming from textual template engines like JSP, FreeMarker or Velocity if we were able to allow Thymeleaf Standard Expressions anywhere in Text nodes. Something like:

[code]

All kinds of simple expressions (`${...}`, `#{...}` and `@{...}`) and conversion expressions (`${{...}}`, `#{{...}}` and `@{{...}}`) could be embedded just like

[2014-08-08 23:11] danielfernandez opened #308 "Create th:itext for inclusion of executable text"
The existing `th:utext` includes unescaped markup into output, but it does not allow this markup to contain execution instructions like any `th:*` attributes. The included markup is copied verbatim and not executed.

But sometimes, like in the scenario described in #260, we might need to include a fragment of markup that actually should be executed and contain some `th:*` attributes. Besides, toge

[2014-08-08 23:12] danielfernandez commented on #260
I'm moving this to the Thymeleaf 3.0 milestone, as it is now covered by #307 and #308.

[2014-08-16 09:34] danielfernandez opened #309 "Do not process contents of <script> and <style>"
The HTML5 specification defines the content of `<script>` and `<style>` elements as `#CDATA`, not `#PCDATA`, which means that these contents _should be treated as non-processable text instead of markup_.

This means that no markup inside them should be parsed, and no `th:*` or similar processors should be executed. This should keep us free from problems deriving from the use of markup-significant

[2014-08-16 09:38] danielfernandez opened #310 "Extend inlining mechanism in order to treat #CDATA as processable markup"
Linked to #309, we would need a way to signify that a fragment of markup that is not treated as such by default (like e.g. the contents of a `<script>` element) should be processed.

An idea for this would be `th:inline="markup"`, but this might change if _text inlining_ is finally adopted by default (see #307) in which case the inlining mechanism might suffer bigger changes.

[2014-08-21 17:40] ldesgrange opened #311 "Context dependent template cache"
Hi,

From what I understand, processing a template starts with `TemplateEngine.process(String, IContext)` which get the template from `TemplateRepository.getTemplate(TemplateProcessingParameters)` which in turn looks into its cache using the template name (from `TemplateProcessingParameters`).

I can imagine cases when we would like to cache different templates base on the template name and some e

[2014-08-25 17:11] jmiguelsamper opened #313 "Preserve single quote attribute declarations"
Javascript libraries are challenging us these days with their complicated syntaxes.

The following is valid XML (see point [10] of http://www.w3.org/TR/xml/#sec-common-syn):

[code]

but Thymeleaf (as of 2.1.3.RELEASE) will transform it to the invalid

[code]

As a workaround, a user could use

[code]

or even

[code]

if their JSON parser allows this syntax (not JSON standard).

As Javascript lib

[2014-08-27 08:25] ultraq commented on #313
Might be a job for AttoParser in Thymeleaf 3.0 since XML (and thus the XML engine under the hood of Thymeleaf 2.1-) requires the double-quoted attribute values.

[2014-08-27 15:24] RiZKiT commented on #313
Thanks god I found this issue today, I ran into the same problem and was afraid I'm the only one. And using escaped quotes is a temporary but ugly workaround and makes it hard to read the JSON.

@ultraq as OP already posted (here with an even more specific link http://www.w3.org/TR/REC-xml/#NT-AttValue) it seems totally valid to have single quoted attributes. It just feels unnaturally.

On the oth

[2014-08-29 15:46] whitneyh opened #314 "Final methods in TemplateEngine make it difficult to mock"
All the process(...) methods in TemplateEngine are marked as 'final'. This makes creating a Mockito mock object for it difficult. Please consider removing this keyword from methods in this class.

[2014-09-01 13:59] opensource21 opened #1091 "Possibility to get the executed result in thymeleaf-testing"
I have the problem, that I have some differences in my html at the end of a long line. The report doesn't show the difference then. I can only fix it, with a debugger and get then the result. Would be great to be able to run 1 test of defined in myTest.thtest and get easily the expected result and the real result as a String. Then it's can be compared in a way the user preferred.

[2014-09-13 15:14] jkuhs opened #315 "Handle MapAccessor exception when attribute does not exist and render blank"
With version 2.1.3.RELEASE, when trying to output a map attribute that does not exist via the `MapAccessor` implementation, Thymeleaf currently throws an exception and the rendering fails. It would be nice if it could instead handle the exception and render the attribute value as an empty string / blank.

After all, when calling `Map.get("keyThatDoesNotExist")` the map does not throw an exception.

[2014-09-17 13:43] jgrtalk commented on #313
So, no solution yet?

[2014-09-17 19:58] danielfernandez commented on #313
This situation will no longer happen in Thymeleaf 3.0, as the new underlying parser (attoparser) will preserve the original state of non-processable attributes: type of quotes, specification or not of a value, etc.

[2014-09-20 21:50] ultraq opened #316 "Syntax for unescaped text inlining"
I was recently creating an XML template for an RSS feed that Thymeleaf could process, and instead of my usual of putting `th:text` attribute processors to feed into the text fields, I thought I'd put a `th:inline="text"` declaration at the top and do some inlining.  It worked quite well (since the important thing to me was having a good overview of the elements I was putting into the RSS feed, not

[2014-09-24 08:10] ultraq commented on #81
@danielfernandez, let me know if we're thinking of this one for 3.0 - I might like to give it a go.

[2014-09-24 10:36] Antibrumm commented on #81
In a Spring environment Thymeleaf could probably rely on the message converters?

[2014-09-26 04:15] ghillert commented on #160
Any updates on this? Dealing with some templates that are being generated via Grunt. This is a major annoyance.

[2014-09-26 07:04] jmiguelsamper commented on #160
Work on Thymeleaf 3.0 has already begun and it will support this syntax, as it will not rely anymore on XML parsers.

Thymeleaf 2.1.X won't have support for this.

[2014-09-26 07:05] eduardocasas commented on #160
Finally. That's great!

[2014-10-02 14:33] jkuhs commented on #315
Any chance to get some feedback on this issue @danielfernandez ?

[2014-10-02 14:49] danielfernandez commented on #315
I understand the difference in behaviour can be distracting, but it is consistent with the two different access methods being used.

In the case of `${user['gender']}` we are accessing the bean as a `Map`, and when a map is accessed a key that is not contained, the result is `null`.

However, `${user.gender}` is the syntactic equivalent to Java code's `user.getGender()`, which is impossible if the

[2014-10-02 14:59] jkuhs commented on #315
Thanks for the reply! In my example, `user` is actually a map and `MapAccessor` is being used. That's why I don't understand why it would behave any different than when accessing a map via `VariablesMap`.

I agree that if `user` was **not** a map but a bean, there should be an exception - at compile time as you mentioned.

[2014-10-02 15:01] danielfernandez commented on #315
Ah, good. Sorry I didn't notice `user` was a map. In such case, I would tend to agree with you... returning `null` looks much better. OK, let's see what we can do with this in v3. Thanks!

[2014-10-02 15:02] jkuhs commented on #315
Great, thanks!

[2014-10-02 16:37] matthauck opened #317 "Dependency on ognl introduces dependence on old javassist version"
I was hoping to move to thymeleaf from struts2. One of the (minor) reasons to move away from struts2 was that it would avoid the dependency ognl:ognl:3.0.6 -> javassist:javassist:3.11.0.GA. The reason is that the 3.11 javassist library conflicts with version of javassist in hibernate 4.2+. This is blocking a move to thymeleaf for us for now at least, since we'd rather stay up to date with hibernat

[2014-10-02 16:41] jmiguelsamper commented on #317
You can exclude Javassist dependency from Thymeleaf like:

[code]

[2014-10-03 07:19] matthauck commented on #317
I assumed that this would break the `ognl` library since it depended on it. Perhaps thymeleaf could add this exclusion to your own pom.xml so that this javassist does not transitively get passed on to consumers of thymeleaf?

[2014-10-03 08:01] danielfernandez commented on #317
Actually, thymeleaf does _not_ use that version of javassist. Thymeleaf 2.1.3.RELEASE uses javassist 3.16.1-GA, and if I remember correctly we've been using it for some time (for thymeleaf javassist is not only an indirect dependency, but in fact a direct one -- we use a little bit of javassist code). See https://github.com/thymeleaf/thymeleaf/blob/2.1-master/pom.xml#L235-L253

So if you are fine

[2014-10-03 08:01] #317 closed, assigned to danielfernandez

[2014-10-03 16:48] matthauck commented on #317
As for whether I really tested it, I didn't get very far beyond analyzing its dependencies to see if it would solve the issue I was having with struts2. Strangely enough, gradle is resolving the dependencies differently with struts being on/off the compile dependencies for my project. This is what I saw:

[code]

(Note the different group name in ''javassist:javassist'', which makes this dependenc

[2014-10-21 02:51] n0mer opened #321 "please allow to iterate java.util.Enumeration"
Currently http://www.thymeleaf.org/doc/usingthymeleaf.html#iteration says the following:

Please add support for `java.util.Enumeration`. Or please advice how to iterate properly to display all `${#httpServletRequest.attributeNames}`

The following code does not work properly:

[code]

It produces the following output:

[2014-10-21 08:08] ultraq commented on #321
You can convert Enumerations to Iterables using the `Collections.list` method.  In Spring:

[code]

In OGNL (ie: Thymeleaf without Spring):

[code]

[2014-10-21 19:55] n0mer commented on #321
@ultraq , thank for the quick response.

This solution will work, but it will create unnecessary in-memory ArrayList just for the sake of iteration.
Do you think this is the right way to iterate over `java.lang.Iterable` ?

And, can you please point to the right section of http://www.thymeleaf.org/doc/usingthymeleaf.html , where i can read more about type reference using "T" construct? I've search

[2014-10-21 20:04] n0mer commented on #321
few more thoughts from http://stackoverflow.com/a/14979639/935546

Depsite the fact of http://alexruiz.developerblogs.com/?p=2519 , Iterable is currently the only way (AFAIK) to query for request attribute names in servlet api.

So, for my use case (to display the list of request attrs in error page) this is semi-okay - i'm ready to pay this memory penalty. But Thymeleaf should be usable in other

[2014-10-22 04:23] ultraq commented on #321
True, I was just suggesting a workaround as we don't currently support `th:each` for Enumeration types.

That's actually in SpringEL, so http://docs.spring.io/spring-framework/docs/4.0.x/spring-framework-reference/html/expressions.html, section 7.5.8 shows its usage.

[2014-10-22 04:26] n0mer commented on #321
thanks for pointing out to SpEL

[2014-10-29 12:25] christianbauer commented on #101
Yes, this isn't a great design choice. A simple Object resolve(String name) interface must be enough for the EL resolver. And then there is this gem which really makes any attempt at a workaround futile:

[code]

[2014-11-07 23:28] ktsunoda opened #322 "'font-family' name's quotes are no longer escaped,"
When I use version 2.1.3.RELEASE for org.thymeleaf - thymeleaf, email created gets formatted incorrectly due to the font name not being escaped anymore. It works with 2.1.2.RELEASE.

From version 2.1.2.RELEASE (maven):

[code]

[code]

Notice the "&quot;"s surrounding "Helvetica Neue" in the above version, but not in the below version. Both are generated using Thymeleaf.

From version 2.1.3.RELEAS

[2014-11-07 23:30] danielfernandez commented on #322
What is the thymeleaf code that generates the value for your `style` attribute?

[2014-11-08 00:00] ktsunoda commented on #322
[code]

It's just part of the HTML template that I have. I run that through the template engine from Spring-Thymeleaf library.

[2014-11-08 00:10] danielfernandez commented on #322
OK, so you are not using `th:style`, which means that thymeleaf 2.1.3 is just leaving your attribute value as was in the original template, unchanged. Modifying the values of unprocessed attributes in order to add escaping codes that did not exist in the original code was actually a sort of bug in versions previous to 2.1.3.

However, the problem for you here is that thymeleaf 2.1 does not support

[2014-11-08 00:10] #322 closed, assigned to danielfernandez

[2014-11-08 00:19] ktsunoda commented on #322
Awesome. Thank you very much for such a quick turnaround!

[2014-11-08 16:54] mattj65816 commented on #213
I would like to see this as well.  I have quickly glanced at the Thymeleaf code (TemplateRepository, TemplateEngine and so forth) and don't see any clean way to accomplish this using the existing SPI.  It looks as if a search path could be implemented in the template resolver.  If I request "page.html," and my locale is en_US, search for "page_en_US.html," then "page_en.html," and finally fall bac

[2014-11-09 11:52] totemtec opened #323 "Exception parsing document: when use &"
JDK1.7  Tomcat8.0   Thymeleaf 2.1.3

I have a template using:

&lt;a class="active" href="./test?param=1&type=5"&gt;Line 5&lt;/a&gt;

Got an Exception:

org.springframework.web.util.NestedServletException: Request processing failed; nested exception is org.thymeleaf.exceptions.TemplateInputException: Exception parsing document: template="kuai3/chart_pattern", line 24 - column 58
    at org.springf

[2014-11-09 13:03] jmiguelsamper commented on #323
Hello,

Thymeleaf templates are valid XML, so inside an attribute you need to use &amp;amp; instead of &.

Regards.

[2014-11-09 13:03] #323 closed, assigned to nobody

[2014-11-12 10:34] arokhmistrov opened #324 "Merging of Dialects works incorrectly"
version: 2.1.3-RELEASE
class: org.thymeleaf.Configuration

//line 637
final Map<Class<? extends Node>, Set<ProcessorAndContext>> nonSpecificProcessorsByNodeClass = new HashMap<Class<? extends Node>, Set<ProcessorAndContext>>(20);

//line 697
/\* Aggregate all the processors not assigned to a specific attribute or element name*/
nonSpecificProcessorsByNodeClass.putAll(dialectConfiguration.unsafeGet

[2014-11-13 15:16] odrotbohm commented on #302
Been running into this as well. Pretty much prevents us from using JDK 8 DateTime types in views which is a pity. Any ETA?

[2014-11-14 08:41] danielfernandez commented on #302
Actually, we are starting the development of a small dialect to give support to JSR310 in a simple and modular way. Should be ready in a couple of weeks or less.

[2014-11-15 18:58] jmiguelsamper commented on #302
The source code will be available at https://github.com/thymeleaf/thymeleaf-extras-java8time

At this moment all creation methods and a few of the formatting methods are implemented.

[2014-11-19 16:37] jmiguelsamper commented on #302
Now 2.1.0-SNAPSHOT is in the Sonatype Snapshot Repository.

We'll still perform some testing and refactoring before releasing it into Maven Central repo.

[2014-11-19 17:02] odrotbohm commented on #302
Works like a charm, thanks. Is there any reason this will be a 2.1.0 while core Thymeleaf is in 2.1.3 already? Do you version extras independently?

[2014-11-19 17:05] danielfernandez commented on #302
Correct. The first two parts of an extra's `x.y.z` version correspond to the `x.y` version of the core such extra works with. The third `z` number is independent. Not doing so would force us to create new versions of every extra with each update of the core.

Extras link with the `x.y` part of the core's version because that's the level at which API changes in the core may occur.

[2014-11-19 17:23] odrotbohm commented on #302
Gotcha, thanks. Makes version management a bit more complicated in Maven but understood. Thanks for the quick turnaround!

[2014-11-20 01:14] chrylis opened #325 "Include non-HTML files"
I have a JavaScript configuration for RequireJS that is managed in an upstream project, packaged in a jar, and served from a Spring classpath resource. I would like to be able to include the contents of a `config.js` file immediately (preferably with inlining evaluation) instead of requiring a separate round-trip for it, something like

[code]

[2014-11-22 19:44] danielfernandez commented on #314
I understand your point. Thymeleaf v3 will actually make most of its structures implement interfaces so that they are easier to test or mock (e.g. `ITemplateEngine`).

[2014-11-23 00:39] #324 closed, assigned to danielfernandez

[2014-11-23 00:45] danielfernandez commented on #324
Thanks. Should be fixed now.

Updated 2.1.4-SNAPSHOT

[2014-11-23 14:22] danielfernandez commented on #325
As a workaround, maybe you can configure a separate template resolver for your non-HTML files --one that wouldn't add an `.html` suffix, for example-- and then just configure the `resolvablePatterns` property in your template resolvers so that you make sure it's this non-HTML resolver the one that runs when you ask for your `config.js` file.

The _issue_ you might encounter with this is that Thyme

[2014-11-24 06:40] chrylis commented on #325
My current planned workaround is to just slap `<script>` tags with the necessary spells around the JS file during a build step and then include that as a fragment.

[2014-12-03 14:19] magat opened #328 "Make "absent message representation" customizable"
The webapp I'm working on provides internationalization to its users by letting them set the translations in a dedicated page.

When there is no translation provided, I'd like to customize the message displayed, instead of the Thymeleaf representation (??code.locale??)

I have identified the MessageResolutionUtils.getAbsentMessageRepresentation(final String messageKey, final Locale locale) method,

[2014-12-03 17:36] delgurth opened #329 "Cache a specific ITemplateResolver result with another key"
I was looking at issue #300 for a feature we are trying to realise.

We have a template resolver that changes the location where to search for the template name based on information in the HTTP request, a bit like issue #300, but with different conditions. But now I was looking at the [org.thymeleaf.TemplateRepository#getTemplate method](https://github.com/thymeleaf/thymeleaf/blob/2.1-master/src/m

[2014-12-03 20:33] delgurth commented on #329
That commit is just a quick workaround I'm testing now. Since overriding the cache implementation is quite hard with all the finals in the classes/methods.

I guess we should discuss this feature request and if it's something you indeed see as a good feature, the way to implement it before a real pull request can be created. Do you want to do that here or by e-mail?

[2014-12-04 11:36] veenaRK commented on #59
In Configuration and usage without Spring it is mentioned that need to follow sequence of request items:

The Thymeleaf template engine (TemplateEngine)
The Thymeleaf context (IContext)
The HttpServletRequest
The HttpServletResponse
The java.io.Writer the result should be written to (for example, response.getWriter())

How to get the IContext object?
i am getting the following error...
SEVERE: Ser

[2014-12-05 15:22] delgurth commented on #329
The fix is a bit more challenging then I initially thought (isn't that always the case...).

The problem is that once the template is in the cache under it's original name, the overrides are never going to be used. But you also don't want to check for an override if you do not want to use that functionality, for performance reasons. I'm still not sure how to properly fix this. I've made some more

[2014-12-06 19:19] balazsmaria commented on #259
Do you mean to use an own facade instead of the de facto standard facade?

[2014-12-08 18:13] markus-s24 opened #330 "NestableNode.computeNextChild() is slow"
When rendering pages with a lot of rows, NestableNode.computeNextChild() is really slow (rendering can take hours). The IdentityHashMap.containsKey() used in there consumes most of the computing time, because it is not just a lookup but needs an iteration too.

Isn't it possible to have an "already processed flag" at Node to keep its status to avoid costly iterations?

[2014-12-08 21:03] jkuipers commented on #330
I can confirm this problem, it showed up during profiling of some large pages.
It would help if a node could indicate if it inserted siblings before its own position so that if that's not the case, iterating over all the prior siblings again doesn't need to be done.

[2014-12-10 19:55] fedebalboa opened #331 "Open graphs tags issue"
Problems to render og: meta tags for facebook, g+ crawlers.

Thymeleaf parser exception.

When I added this open graph tags on the html:

http://i.imgur.com/3YEBBP3.png

This is the result

http://i.imgur.com/2rWoAgw.jpg

thanks

[2014-12-11 07:56] jmiguelsamper commented on #331
Thymeleaf expects well-formed HTML in your templates. Close the meta tags, as in
   <meta ... />

Regards,
   Zemi

[2014-12-11 07:56] #331 closed, assigned to nobody

[2014-12-11 23:18] ultraq commented on #331
Forgot the example @jmiguelsamper :)

[code]

(note the / )

[2014-12-11 23:30] jmiguelsamper commented on #331
Oh, I typed it, I forgot to use markdown syntax :-|

Thanks, anyway.

[2014-12-11 23:46] fedebalboa commented on #331
yes, my mistake, thanks !!!

[2014-12-15 10:48] frankbregulla1111 opened #332 "StandardCache does not handle SoftReferences correctly."
When the gc cleares SoftReferences the effective cache size may be reduced to below the max cache size.

Imagine we have a cache with a max size of 3 and insert values with keys "a", "b" and "c" in this order.
The internal fifo pointer will now point to the first entry key "a".
Now the gc decides to remove the soft references for all entries.
A get("b") will now return null and remove cache entry

[2014-12-17 12:13] danielfernandez commented on #329
After re-reading your and #300 with more care, I'm afraid I misunderstood Diego, and you would be right in thinking there is no easy or elegant way of doing this with an implementation of `ITemplateResolver`. The problem is, as you say, that `TemplateRepository` class only uses the template name for accessing the template cache, and this means there is no real way to introduce new variants like us

[2014-12-18 20:09] danielfernandez commented on #330
Thanks. I've just updated 2.1.4-SNAPSHOT with an improvement that should importantly reduce the amount of times that `NestableNode.computeNextChild()` iterates on child nodes that have already been processed. This should mean a performance improvement in pages containing iterations on very large collections of elements.

Note however that `computeNextChild()` itself is the method that actually cal

[2014-12-19 12:37] danielfernandez commented on #332
Thanks for your detailed explanation. I see the problem. However, if I'm right once we get to the scenario where we only have one entry in the container, (that `a` at the end of your example), it's not that the cache is reduced to size 1, but just that we only have one entry in the container and some specific `put` call sequences (but not all) would provoke entries recently added to the `container

[2014-12-20 10:34] frankbregulla1111 commented on #332
Hi Daniel,

thank you for looking at this. I think your proposed solution should work.

Regards
Frank

[2014-12-20 23:05] #332 closed, assigned to danielfernandez

[2014-12-22 02:04] danielfernandez commented on #330
Closing - this has been published as a part of 2.1.4

[2014-12-22 02:04] #330 closed, assigned to danielfernandez

[2014-12-22 09:50] danielfernandez commented on #332
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 09:50] danielfernandez commented on #324
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 09:50] danielfernandez commented on #303
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 09:51] danielfernandez commented on #301
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 09:51] danielfernandez commented on #290
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 09:51] danielfernandez commented on #288
Thymeleaf 2.1.4 has just been published, including this fix.

[2014-12-22 09:51] danielfernandez commented on #330
Thymeleaf 2.1.4 has just been published, including this improvement.

[2014-12-22 09:51] danielfernandez commented on #258
Thymeleaf 2.1.4 has just been published, including this improvement.

[2014-12-22 12:15] huxi commented on #303
Thanks for the info!

[2014-12-23 17:10] amr commented on #9
I will work on a PR for adding a note of this to the docs as I wasted few hours debugging why my `t:text` wasn't actually doing anything. The problem was that I prefixed Thymeleaf as `t` instead of `th`

[2014-12-23 17:13] danielfernandez commented on #9
@amr sorry, this ticket is quite outdated. Thymeleaf 3.0 will actually remove markup validation support (not even DTD-based), as very few people actually use it, and it adds an important load of complexity to the parsing system. So there is little use in adding this XSD Schema support in the near future. I'm closing this ticket as declined.

[2014-12-23 17:13] #9 closed, assigned to nobody

[2014-12-24 04:49] airclear opened #334 "How can I render a string template"
my template content store in database.

when I get the template content from the database ,how can  I use thymeleaf to render it?

[2014-12-25 21:39] ultraq commented on #334
This is a good question for our forums: http://forum.thymeleaf.org/General-Usage-f2234430.html  You can have a search through there to see if the question might already have been answered.  I did a search for "string template" and I came across this which might give some clue to manually rendering templates: http://forum.thymeleaf.org/Easier-way-to-process-against-a-string-as-template-td4027556.ht

[2014-12-25 21:39] #334 closed, assigned to nobody

[2014-12-31 08:37] gjdev opened #335 "Custom IProcessorMatcher for Elements not working"
An IProcessorMatcher like this never triggers on Elements:

[code]

I have to write it like this, to get matches:

[code]

Judging from the documentation this is a bug.

[2015-01-01 20:48] petrholik opened #336 "ElementNameProcessorMatcher is not case insensitive - BUT element names are lowercase"
I was trying to implement `AbstractElementProcessor`, for processing custom element named:
`<dynamicJavascript/>`
and i was unable to match it with `new ElementNameProcessorMatcher("dynamicJavascript")`
It's pretty confusing. There should be `toLowerCase()` or something like it.

[2015-01-02 09:32] inkrement opened #337 "Simple select throws"
I try to generate a simple form including a select-box. I used a static value-attribute for debugging purposes but the following example throws a ParseException. I am not sure how to interpret this error message.

How to set the AbstractNumberFormat and why isn't thymeleaf able to parse "1"?!

[code]

[code]

[2015-01-04 08:50] jzaruba commented on #93
I was hoping for something like

[code]

or

[code]

[2015-01-04 10:06] michael-simons commented on #64
@mchiareli +1

[2015-01-07 16:19] BrynCooke commented on #81
This feature would be very useful. I am using Gson with a customized type adapters to allow serialization of JOOQ generated entities. The Thymeleaf JSON serialization falls over when it hits one of these as they contain many getters that should be ignored.

[2015-01-09 10:16] yacota commented on #13
Let me share an example to try to fully understand the point of this issue

some_dir/fragment.html
some_dir/fragment_es.properties
some_dir/template_that_includes_fragment.html
some_dir/template_that_includes_fragment_es.properties

What I understand is that StandardMessageResolver when resolving message keys for/"inside" the included fragment will look up first in template_that_includes_fragment_

[2015-01-10 22:24] KORPSE opened #338 "Removes datalist's option tags when use LEGACY HTML5 template mode and nekohtml 1.9.13+"
For example view:

[code]

renders to something like that when using nekohtml 1.9.12:

[code]

Despite of unwanted <select> this works correct.

And when using nekohtml 1.9.13+:

[code]

Looking to change log of version 1.9.13 (http://nekohtml.sourceforge.net/changes.html) I saw this:

[code]

I don't know is this issue treat more to Thymeleaf or to nekohtml, so i put it here. Sory if it is wrong.

[2015-01-13 13:23] danielfernandez commented on #337
Maybe your `itemTypeId` field has some kind of custom formatter like a `@NumberFormat` annotation or similar? Perhaps that `1`, even being a valid number, would not be a valid rendering of that field... (for example, if you require decimals, or a sign symbol...)

[2015-01-13 13:56] danielfernandez commented on #13
Currently, only `template_that_includes_fragment_es.properties` is looked up. No search is done at all for a `fragment_es.properties` file.

This ticket intends to make this change so that `fragment_es.properties` is looked up in second place, before considering the search as failed. That way each fragment can be auto-contained in terms of internationalization (by including its own messages), but

[2015-01-13 15:25] yacota commented on #13
Crystal-clear, I think that this is a VERY interesting "issue"/improvement :)

BTW, we are actually adding to SpringTemplateEngine org.thymeleaf.messageresolver.StandardMessageResolver as a  messageResolver while leaving SpringResourceResourceResolver as a default one.
It would be pretty cool if we could also add a new  FragmentMessageResolver there

[2015-01-13 20:50] danielfernandez opened #340 "Richer exception handling in developer mode"
It would be nice to have some kind of _developer_ mode which reported parsing or processing exceptions  in a richer manner, including the part of the code that actually caused the error. Something more in the lines of: https://camo.githubusercontent.com/8de5dcc8481ece10e723690a624b83644196711a/68747470733a2f2f7261772e6769746875622e636f6d2f6775696c6c61756d65626f72742f706c6179322d667265656d61726b657

[2015-01-13 20:54] ultraq commented on #13
(Just adding myself into the comment chain so I can see how this gets resolved, if ever, as I've basically given-up on a related issue here: https://github.com/ultraq/thymeleaf-layout-dialect/issues/36)

[2015-01-14 16:27] sundermann opened #341 "SelectedValueComparator is expensive when a DomainClassConverter is used"
Thymeleaf uses SelectedValueComparator from Spring to determine which option tags should be selected. Unfortunately, the algorithm used there is quite aggressive leading to many checks triggering spring's converter service eventually. When a DomainClassConverter is connected then every option tag will result in a database lookup for the option's value.
I filed and issue at spring but it seems that

[2015-01-14 23:06] danielfernandez commented on #341
Thanks. I've read the Spring JIRA ticket and I think I understand (more or less) the problem.

Thymeleaf's integration with Spring tries to mirror (more or less exactly) what the Spring JSP tag libraries do, so that users don't suffer any unpleasant surprises when they (hopefully) migrate their applications from JSP to thymeleaf.

Thymeleaf's `th:field` support for `<select>` and `<option>` calls

[2015-01-15 15:31] danielfernandez commented on #338
I'm afraid it looks as if nekohtml is taking the wrong decisions there, trying to force code to be more HTML4-compliant (but not HTML5 :(). The fact that `<select>` does not exist of course should not influence at all the existence of `<option>`s...

You will have to use the `HTML5` template mode there to avoid nekohtml. As a side comment, Thymeleaf 3.0 will not need nekohtml anymore to process no

[2015-01-15 15:31] #338 closed, assigned to danielfernandez

[2015-01-17 13:34] inkrement opened #342 "Thymeleaf removes name-attribute"
I found some strange behavior. Thymeleaf strips my name-attribute but I don't have a clue why. I tried several things, but I wasn't able to find a solution.

[code]

generates the following:

[code]

[2015-01-17 21:17] ultraq commented on #342
I'm no pro in the Spring integration, but I'm wondering if it might have something to do with the `th:field` attribute you have on the `<select>` element.  `th:field` invokes some Spring magic that binds values in forms to request parameters so that they can be picked-out in your controllers, and the `name` attribute might be how it does that.

[2015-01-17 23:50] danielfernandez commented on #342
The only possibility I see for the `name` being set to the empty string is that you are specifying a non-existing form attribute binding. This is, that the bean you have bound the form to (by using `th:object` on the containing `<form>` tag) has no property (or at least public and settable property) called `paymentType`...

Could this be?

[2015-01-19 15:59] inkrement commented on #342
nope. the form does not have a `th:object` attribute. Here is the whole html-block:

[code]

[2015-01-19 16:34] danielfernandez commented on #342
So if you have no form bean... where is that `paymentType` property from?

The problem is that Spring is not finding any binding for the `paymentType` expression. If you have no form, then I would recommend not using `th:field`, but simply the standard `name` and `id` attributes in your `<select>` tag, and then using `th:selected` in your `<option>` to determine which option should appear selected

[2015-01-19 21:45] inkrement commented on #342
I added it as object:

[code]

ok, so I just remove `th:field` and use `th:each`.

[2015-01-21 23:04] #342 closed, assigned to danielfernandez

[2015-01-29 16:04] chrylis opened #343 "Inconsistent entity handling in script blocks"
I'm trying to embed a script that needs an ampersand character. If I use a raw `&`, I get a SAX parser error. If I use `&amp;`, Thymeleaf passes the literal `&amp;` into the output instead of turning into a plain ampersand.

[code]

[2015-01-29 16:20] danielfernandez commented on #343
Yes, the XML parser used by Thymeleaf 2.1 does not really know about HTML elements which body should be treated as `CDATA` (as `<script>` should). This will be improved in 3.0.

In the meanwhile, you'll have to enclose your `<script>` body contents in a CDATA Section with `<![CDATA[...]]>`, an old trick:

[code]

[2015-01-29 16:20] #343 closed, assigned to danielfernandez

[2015-01-29 18:20] chrylis commented on #343
Now I'm getting `org.xml.sax.SAXParseException: XML document structures must start and end within the same entity.` Investigating.

[2015-01-29 18:23] chrylis commented on #343
Closing tag needs to be `]]>`. Works with that.

[2015-01-29 22:07] brdloush commented on #330
Hi, I'm wondering whether mentioned code can still be improved. We're still facing not-too-good performance with some of our templates (100-200ms just for rendering the html) and we traced the issue down to be related just to nested POJO objects.

I've created a simple test project that's showing the poor performance - it can be cloned at following url: https://github.com/brdloush/thymeleaf-perf-i

[2015-01-30 09:17] brdloush commented on #330
btw. For single iteration (30 \* 5 \* 10 = 1500 items) the IdentityCounter.isAlreadyCounted method is called 26-million times, which may be the problem..

[2015-02-07 02:59] airclear opened #344 "Include and replace performance"
I have the same problem with this guy :
http://forum.thymeleaf.org/Include-and-replace-performance-td4028729.html

[code]

[2015-02-07 05:01] airclear commented on #344
when i open the cache, It is no longer a problem.

[2015-02-07 05:01] #344 closed, assigned to nobody

[2015-02-09 14:30] leroyvi opened #345 "I18n messages and array arguments"
Hello,

I have an issue using `#{my.message.code(${someStringsArray})}` syntax.

The `MessageExpression.executeMessage` method, doesn't detect the param as an Array. So I have to use `#{my.message.code(${#strings.listJoin(someStringsArray,',')})}`.

Am I missing something ?

[2015-02-12 14:20] fernando-nog opened #346 "Escape Javascript doesn't work."
I try:

[code]

But doesn't work, can use onchange this way?

[2015-02-12 15:00] fernando-nog commented on #346
Testing more, I discovered this way by JS that solved the problem in my case.

[code]

But there is the question whether you can do the same with #strings

[2015-02-12 16:03] danielfernandez commented on #346
Actually, `#strings.escapeJavaScript()` escapes Javascript _literals_, not JavaScript _code_... maybe you shouldn't have been trying to escape your code?

[2015-02-12 16:03] #346 closed, assigned to danielfernandez

[2015-02-16 15:29] brdloush commented on #330
Just a reminder: such big performance drop only seem to occur when th:remove="tag" is being used inside the loop.

[2015-02-17 14:19] esanchezros opened #347 "Thymeleaf upgrade issue"
I am currently using version 2.1.2.RELEASE of Thymeleaf and wanted to upgrade to the latest version as it comes with several performance improvements.

So I upgraded thymeleaf version in the pom to 2.1.4.RELEASE and ran the website as usual. The problem now is that I can see one of Internet Explorer's conditional comment on the top left corner of the screen and the layout is no longer working as e

[2015-02-20 14:13] dagnelies commented on #12
+1

[2015-02-20 14:14] dagnelies commented on #81
+1

[2015-02-20 16:12] dagnelies opened #348 "Inserting serialized POJO in script tag"
I would like to insert a POJO (plain old java object) as normal Json within a `<script>` tag. ...but how?!?

Given an object like this:

[code]

I'd like to obtain something like this as rendered template:

[code]

Until, I haven't found a way to render this using thymeleaf.

I've tried:

[code]

But this failed because apparently thymeleaf is apparently incapable of serializing POJOs.

Then, I've

[2015-02-21 15:32] hho opened #349 "Can't iterate over #vars without HttpSession"
I'm just getting started with Spring Boot and Thymeleaf and tried to dump all the `#vars` just on my index page.

[code]

This fails with a NullPointerException here…
https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-2.1.4.RELEASE/src/main/java/org/thymeleaf/context/WebSessionVariablesMap.java#L276
…because I don't seem to have a `HttpSession` yet.

Versions:

[code]

Stacktrace:

[code]

[2015-02-24 13:38] kalgon opened #350 "Allow fragment parameters to have default values"
It would be great if fragment parameters could have default values:

[code]

[2015-03-04 12:55] beamhead commented on #348
Workaround I used:

    <script type="text/javascript" th:inline="text">
    /*<![CDATA[*/
	    var data= [[${myDataAsJson}]];
    /*]]>*/
    </script>

Works on TL 2.1.2 (not on 2.1.3)

[2015-03-05 14:29] danielfernandez commented on #101
Just a note: possibility for 3.0: Create a `ThymeleafLazyLoader` interface so that, if an executed expression is resolved to an object implementing it, its `load()` method is called in order to obtain the real data that should be considered the result of the expression. This `load()` should only be called once per template rendering.

This should solve the scenario for data that might never be nee

[2015-03-09 14:47] mgiamberardino opened #351 "Multiple Object Update"
Hello, i'm trying to modify a list of objects. I could not get work my code with a List as an Model Attribute so i've created a class like a container for the list.

Here is my code:

[code]

Thymeleaf Form:

[code]

I get "null" in the AsistenciaDiaria attributes except for "Id" and "Alumno".

Sorry for my english.

Thanks.

[2015-03-10 22:05] gfouquet opened #352 "Serializing enums into javascript produce stack overflow"
Version : 2.1.4.RELEASE

Hi,

When you try to print an enum **which has abstract methods** into javascript, it produces a stack overflow. It turns out the `JavaScriptUtil.print(Object)` method does not correctly detect that the object is an enum and tries to serialize it as a plain object.

I wrote a non-passing test case you can check here : gfouquet/thymeleaf-tests@d06a2f55133415c9a73da27c77439f

[2015-03-11 08:49] ultraq commented on #352
A pull request and test case would be handy :smile:

[2015-03-11 09:16] gfouquet commented on #352
I just sent a pull request for both the test case and the fix

[2015-03-13 07:53] mus65 opened #354 "Exceptions in inline expressions are silently ignored"
When an inline expression causes an exception, it is silently ignored and Thymeleaf just continues processing the rest of file:

e.g.
`<div>[[${null.toUpperCase()}]]</div>`

will not cause an exception, but Thymeleaf will simply output the expression as is and continue. If I use th:text instead, Thymeleaf will properly throw an exception and cause an Internal Server Error.

This makes debugging re

[2015-03-19 20:57] franklindeoliveira opened #355 "Problem to generate table fragment with parameters in thymeleaf"
Hello, i don't understand render result balow.
Why thymeleaf add addictional td tags on the header table?
Thanks.

Fragment:

[code]

HTML:

[code]

Result:

[code]

[2015-03-23 08:29] danielfernandez commented on #355
I suppose you are using the `LEGACYHTML5` template mode, which uses a tag balancer. You are iterating your `th`'s inside `td`s, and the parser in that template mode is automatically closing your `td`'s at the header because a `td` cannot contain a `th`.

[2015-03-23 08:29] #355 closed, assigned to danielfernandez

[2015-03-25 07:14] airclear opened #356 "Big bug！ Namespace conflicts"
I use spring4 ，

page1:

[code]

model1 :   mv.addObject("items",arr);

page2;

[code]

model2 :   mv.addObject("items",arr);

When i visit the page1, and then visit page2 ,It will throw a exception .... can not cast to java.util.Map ..

[2015-03-25 08:04] jmiguelsamper commented on #356
There is nothing wrong in that piece of code, and no Thymeleaf bug known related to simple iteration. You should look for the error in other places, try to debug the content of your model attributes on the server side.

[2015-03-26 03:09] airclear opened #357 "can't not cast to java.util.map"
the heml is like this:

[code]

and the controller is like this:

[code]

!!!!!!!!!!!!!!!!!!!!!!!!!!when i visited tmpl2   , and then i go to visit tmpl1,  it will throw a exception , can't not cast to java.util.map ,

the JSON library is fastjson

[code]

[2015-03-26 05:00] airclear commented on #356
see #357

[2015-03-26 05:00] #356 closed, assigned to nobody

[2015-03-26 08:00] jmiguelsamper commented on #357
Hello,

Your "rows" model attribute at testTmpl2() is a JSON String. Thymeleaf cannot iterate a JSON String, you should pass directly a Collection.

Regards,
   Zemi

[2015-03-26 11:38] airclear commented on #357
@jmiguelsamper

Hello,

"rows" is not a JSON String,  is just like a list of Map

[2015-03-26 11:46] jmiguelsamper commented on #357
Ok. Could you paste the stack trace of the exception?

[2015-03-26 11:50] airclear commented on #357
@jmiguelsamper

[code]

[2015-03-26 12:04] jmiguelsamper commented on #357
It is difficult to see exactly what it is happening without seeing the code, but it seems that the Exception is raised at the getTitle() method of your Item object.

Does 'item' have a property 'title'?

I think the problem is not related to Thymeleaf at all, try to iterate over the 'rows' list and to print the 'title' property in Java code to see it better.

[2015-03-27 02:16] airclear commented on #357
@jmiguelsamper

Hello again!  this time  I  do what you say in the Java code, and it print the 'title' property normally,  when go into the thymeleaf  it throw an exception again .  you can try this code in spring4 web mvc.

[code]

[2015-03-27 07:51] jmiguelsamper commented on #357
Ok, testTmpl1() should work with th:text="${item.title}" because the Item class has a getTitle() method.

Try to use th:text="${item['title']}" (SPel notation for Maps) for testTmpl2() as you don't have a getTitle() method.

[2015-03-27 08:39] airclear commented on #357
it works ...

[2015-03-27 08:39] #357 closed, assigned to nobody

[2015-03-31 11:25] adobarro opened #358 "A th:block between a th:select and a th:option breaks the binding of its form parameter."
Hello,

If you have a th:block between a th:select and his th:option’s and you submit the form to the same page (or to a page with the same select-block-option structure) then the form won’t be selected with the right value.

Example:

my_template_wrong.html:

[code]

If we don’t use the th:block the combo will be correctly selected when submitted:

my_template_without_block.html:

[code]

Thank y

[2015-04-02 07:36] mreiterer commented on #349
same here. seems to be a problem in 2.1.4. Trying the same in 2.1.3 works

[2015-04-03 08:26] bjoern-mahler commented on #40
Both ways would be great for jsp-migrations. We have a lot of jsp-fragments over here, which i would transform step-by-step. But without such a feature this wouldn't work...

[2015-04-06 14:09] nikevasilev commented on #12
+1

[2015-04-08 07:51] martinmoserswiss commented on #6
Hello Daniel
Is it possible to use apostrophe (') to as a thousands seperator?
So it would be cool if you can decalre a APOSTROPHE in NumberPointType enum.
Or is there another way to acheive this?

[2015-04-10 12:36] ph4nt0ma5ter commented on #348
+1

[2015-04-10 12:36] ph4nt0ma5ter commented on #12
+1

[2015-04-11 06:38] ubala opened #360 "3.0-dev branch java.lang.ArrayIndexOutOfBoundsException"
Created local snapshot and failed on performance test.

org.thymeleaf.exceptions.TemplateInputException: An error happened during template parsing ("templates/stocks.thymeleaf.html")
    at org.thymeleaf.aurora.parser.AbstractMarkupTemplateParser.parse(AbstractMarkupTemplateParser.java:168)
    at org.thymeleaf.aurora.parser.AbstractMarkupTemplateParser.parse(AbstractMarkupTemplateParser.java:84)

[2015-04-12 14:13] amr commented on #348
This works for me:

In my view:

[code]

In controller (Spring):

[code]

Rendered in browser, the relevant part renders as:

[code]

and my alert works fine, displaying "Hey, Amr"

[2015-04-12 16:22] danielfernandez commented on #360
The 3.0-dev branch is still under heavy development. And I really mean _heavy_ ;)
So don't worry about these kinds of things yet. It's just the engine isn't still complete. I'm somewhat surprised it did just fail the tests and not explode or something ;)

[2015-04-12 16:22] #360 closed, assigned to danielfernandez

[2015-04-13 08:30] dagnelies commented on #348
Hi @amr,

This thread is about serializing POJOs.
Your example works because it's a "Bean" (with getters/setters), not a POJO (with just members).

[2015-04-15 14:23] adamjames87 opened #361 "Changing year when using dates.format"
Version: 2.1.4.RELEASE

Hi,

When using dates.format the shown year is different to the unformatted date. Obviously this does not always occur but the following date seems to trigger this error

[code]

Using this simple template

[code]

The result is that the formatted date has a year of 2015 and not 2014 as I suspect it should be.

![thymeleafbug](https://cloud.githubusercontent.com/assets/4480

[2015-04-16 03:41] tan9 opened #362 "LegacyHtml5TemplateParser has threading issue, which may convert 'form' element to whitespace text"
`LegacyHtml5TemplateParser` has a strange threading issue. `<form>` `Element` in some html will be translate to `Text` (e.g. `"    \n"`) on threads exceeding the parser pool limit.

I created a test case here:
https://github.com/tan9/thymeleaf-legacyhtml5-parser-threading-issue-testcase

[2015-04-16 03:51] tan9 commented on #362
The `poolSize` was set to `3` in the test case, then we fire 20 concurrent executions using TestNg.
Only the first 3 parsed documents will be correct, the form element in remaining 17 documents will be translated to whitespace text.

[2015-04-16 10:42] tan9 commented on #362
When the problem occurs, only`<form>` element tag got disappeared, all its children remains in the right place.

[2015-04-20 17:37] chrylis commented on #305
This class is not mentioned in the documentation.

[2015-04-20 17:38] chrylis opened #363 "#uris method to get context prefix"
I'm trying to render Open Graph meta tags, which want an absolute URL. The `@{...}` rewriting feature produces URLs relative to the server root. I saw a discussion about the possibility of having the host part of the request available in `#uris` back when the expression helper was first discussed; would this be feasible to add?

[2015-04-24 08:44] naveenkoch opened #364 "Send date parameter from html form to controller in thymeleaf"
Please follow this URL  http://stackoverflow.com/questions/29842584/send-date-parameter-from-html-form-to-controller-in-thymeleaf

[2015-04-24 17:21] vphilipnyc opened #365 "Nested authorize block evaluated even when wrapped with th:if"
Please see this post:

http://stackoverflow.com/questions/29830111/why-does-this-thymeleaf-block-get-evaluated/29849333#29849333

If it is not a bug, please let me know why.

[2015-04-25 19:47] chrylis opened #366 "Preprocessed expressions with exceptions silently return the literal expression"
I had the following expression in a Thymeleaf data tag:

`|__${work.title}__ by ${mainArtist.displayName}|`

This was incorrect because the property `title` did not exist, and when the expression `${work.title}` was evaluated in a standalone context, SpEL threw an exception:

[code]

However, when the expression was part of a preprocessed block (`__${work.title}__`), the exception thrown by the pr

[2015-04-27 01:15] vphilipnyc commented on #365
Not a bug.   Should have used strings.isEmpty.  My mistake.

[2015-04-27 01:15] #365 closed, assigned to nobody

[2015-04-29 16:31] danielfernandez commented on #101
Note for self: evaluate `javax.inject.Provider<T>` in JSR-330 as a possible interface (maybe along with a Thymeleaf-specific one) being implemented by objects to be lazy-loaded into the variables map.

Also, note that according to the new v3 architecture, it should be the `IVariablesMap` implementations (web and non-web) the ones performing these lazy-loading resolutions. Also, we should make sure

[2015-05-06 12:31] JeroenVdb opened #367 "th:fragment inside th:include"
For our progressive enhancement effort we respond with complete pages if the request isn't ajax and respond with only a fragment of the page when requested via ajax.

Example: when "Next articles" is clicked and requested with ajax the page is rendered and only the list items are send (views/all-your-articles.html :: ajax) back so we can append them with Javascript.

**views/all-your-articles.html

[2015-05-14 08:02] danielfernandez opened #368 "Move precedence setting to the dialects"
_From @danielfernandez on May 14, 2015 7:56_

Allow the registration of processors/pre-processors/post-processors in dialects to be done at the moment of instantiation of the dialect, not by having hard-coded constants in these clases (at most, these should work as a default value as the `dialectPrefix` does).

Ideally, this would allow us to pass the dialects information about other dialects alre

[2015-05-14 08:04] danielfernandez opened #369 "Make sure a markup minifier post-processor is feasible"
_From @danielfernandez on May 14, 2015 8:0_

One of the possible interesting _extras_ for 3.0 would be a markup minifier acting as a post-processor, which can be therefore configured by an `IPostProcessorDialect`.

Minifying whitespace would be extremely simple now we have `IText#isWhitespace()`, but given the way `IProcessableTag` implementations write themselves to output (it's them who generate

[2015-05-14 12:36] danielfernandez opened #370 "Remap most INFO-level to DEBUG (and DEBUG to TRACE)"
The current configuration initialization, as well as some resolver initializations (if 3.0 still has any of this, which I think it hasn't), are using `INFO` as a debug level instead of starting at `DEBUG`. We should move configuration printing to DEBUG, and the part that is currently in DEBUG to TRACE.

[2015-05-20 21:31] ttwhy opened #371 "different evaluation of @ symbol / context using th:src"
hello,

we found something strange within the context annotation and modified contextPath.
We are using a Filter concept which modifies the contextPath.
contextPath original: /my-app
contextPath modified: /my-app/additionalInformation

if we use th:src="@{/myUrl}" the result will be src=/my-app/myUrl
the same syntax using th:attr="src=@{/myUrl}" returns src=/my-app/additionalInformation/myUrl

Is

[2015-05-20 21:45] danielfernandez commented on #371
The only real difference between how your URL will be treated in `th:src` and `th:attr` is that, if you are using Spring, `th:src` will call Spring's `RequestDataValueProcessor#processUrl(request, url)` in order to enable Spring's own URL rewriting and form tuning mechanism, which in turn enables things like CSRF protection in Spring Security.

Maybe you are directly acting somehow on the `Request

[2015-05-20 22:01] ttwhy commented on #371
Thanks for the fast reply! The filter will be executed within the Spring Application Filter Chain (The stack shows org.springframework.web.filter.DelegatingFilterProxy as a part of the current position ...so the filter chain will be started and Springs filters will be started before the custom Filter).
The Filter wrappes the request within a extended HttpServletRequestWrapper class.

I will lookup

[2015-05-25 20:41] chrylis opened #372 "Getting attributes of current element"
I'd like to be able to pass in an expression something like this:

[code]

and then in a downstream expression say something like

[code]

Is there any way to refer to "attributes of the current element"?

[2015-05-26 16:56] cv commented on #12
:+1:

[2015-06-01 19:01] yarix commented on #348
@dagnelies , your observation between Beans and POJOs saved me hours!! thanks!

[2015-06-04 12:11] beradrian commented on #12
+1

[2015-06-07 04:47] globalbus opened #373 "Cannot pass arguments to fragment, if fragment name is the same as already used tag"
Take this as a example

[code]

If I use somewhere in the same file tag with name of any defined fragment (in this example, "button"), arguments passed to fragment will not be accessible (nulls). Position of tag is irrelevant.
This fragment, loaded anywhere, will cause an error in expression evaluation (null+1)

Error is not very problematic (I only need to change the name of fragment), but can be

[2015-06-07 10:24] ultraq commented on #373
This might be because fragment selectors don't just select fragments by their names, but are also DOM selectors according to the docs here: http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#defining-and-referencing-fragments  It says they're also XPath or CSS selectors, and I think it's the CSS selector you're running into.

[2015-06-07 10:30] #373 closed, assigned to nobody

[2015-06-09 07:24] rodionovsasha commented on #108
There is no more public method org.thymeleaf.dom.Text#unsafeGetContentCharArray in new version (2.1.4.RELEASE).

What about the following approach:

@Override
    protected void writeText(final Arguments arguments, final Writer writer, final Text text) throws IOException {
        final char[] textChars = text.getContent().toCharArray();
        if (StringUtils.hasText(CharBuffer.wrap(textChars)))

[2015-06-18 05:00] yugakiran opened #374 "Unescape Java Script"
Hello All,

I have a problem, where i would like to render the value of string with unescaped in the inline java script of thymeleaf.
Ex: abc =/_[[${xyz}]]_/;
expectedOutput: abc = "hello="world"".
Actual output: abc = "hello=\'world\"".

Tried many things, like thymeleaf escapeJavaScript/unescapeJavaScript. But nothing works. Please let me know if we can achieve this through thymeleaf. I am using

[2015-06-18 09:29] danielfernandez commented on #374
It seems you need inlining inside JavaScript code, but without thymeleaf actually understanding that it is processing JavaScript (thymeleaf outputs that as a string literal because that kind of inlining is for outputting such kind of litterals). In such case, wouldn't using text inlining (intead of javascript) solve your scenario?

[2015-06-18 09:29] #374 closed, assigned to danielfernandez

[2015-06-18 11:34] yugakiran commented on #374
Thanks for rep;lying Daniel. I am using Thymeleaf 2.1.3
Here is my actual code snippet  <div th:inline="javascript">[[${session['STRING_HTML']}]]</div>
Now I would liek to render this STRING_HTML on browser.

But the STRING_HTML wasn't unescaped and as a result its breaking the prcoess of rendering the markup.

[2015-06-23 18:28] ruslanys commented on #81
+1

[2015-06-23 19:13] chrylis opened #375 "mechanism for registering global variables into a root eval context"
I have a large number of pages that all need to dynamically fill in a few values such as analytics keys. Right now, I'm manually grabbing these out of a Spring `@ConfigurationProperties` bean, but this is cumbersome (especially with the bean naming). It would be helpful to have a hook where I could acquire the template engine and register variables to be injected into the top-level evaluation cont

[2015-06-23 19:56] petergeneric commented on #81
@danielfernandez in `StandardScriptInliningUtils` for 3.0, would it make sense for `formatEvaluationResult` to ask the `IProcessingContext` for a formatter from it (somehow) rather than having a switch on lang directly in StandardScriptInliningUtils? I'd like to be able to swap out just the call to `StandardJavaScriptUtils.print` with a call to the appropriate JSON library rather than having to wo

[2015-06-25 15:58] danielfernandez opened #376 "Use ExceptionInInitializerError where needed"
Check any `static` blocks just in case any of them is logging exceptions and then swallowing them. Fix this in order to make these blocks throw `java.lang.ExceptionInInitializerError`

[2015-07-02 06:54] mohic opened #377 "Possible infinite loop with Numbers.sequence"
Hi,

If I use this code

[code]

it's make an infinite loop.

Best Regards,
Christophe

P.S.: I use Thymeleaf 2.1.4

[2015-07-02 11:41] ultraq commented on #377
Thanks for the bug report :+1:

I've found the problematic code: https://github.com/thymeleaf/thymeleaf/blob/3.0-dev/src/main/java/org/thymeleaf/util/NumberUtils.java#L146-L159

Looks like `step` is assumed to be positive for when `from` < `to`, and negative for when `from`> `to`.  Fix should probably be to assume nothing about `step`, and always add it to the current value until the value exceeds

[2015-07-07 06:56] matodrobec commented on #350
It would be great to me too

[2015-07-10 17:48] candrews opened #378 "Make org.thymeleaf.Template serializable"
Since org.thymeleaf.Template is cached, I think it should implement Serializable.

I think making this should should be pretty easy - perhaps it could be done for Thymeleaf 3?

Besides implementing the interface in org.thymeleaf.Template, it would also have to be added to these classes:
org.thymeleaf.dom.Document
org.thymeleaf.dom.DocType
and others.

Also, the fields:
org.thymeleaf.templateresolv

[2015-07-21 12:51] Shredder121 commented on #361
This is not a bug in thymeleaf, but YYYY is the [ISO 8601 standard of handling when a date falls in what year](https://en.wikipedia.org/wiki/ISO_8601#Week_dates).

To be precise, I'll quote an excerpt and convince you using that.

Since January 1st was on a Thursday, that week was week 01 of Year 2015. 29 December was also in that week, so it's in yearweek 2015.

If you want it to format to the co

[2015-07-21 13:05] adamjames87 commented on #361
Ah, my mistake. Thanks for the reply.

[2015-07-21 13:05] #361 closed, assigned to nobody

[2015-07-21 13:06] Shredder121 commented on #361
You are more than welcome. :smile:

[2015-07-21 14:12] yacota opened #380 "Modify TemplateRepository in order to build cache keys based on templateName+resourceName"
We have implemented our own ThymeleafViewResolver which is tenant aware. So if a request comes from site A we will look for templates in BASE_DIR/tenantA/template.html, and if a request comes from site B we will look for templates in BASE_DIR/tenantB/template.html and so on.

So far so good, BUT, fragment resolution done by TemplateResolver class assumes that resource location of fragments resides

[2015-07-22 07:50] yacota commented on #380
Ups I've just found https://github.com/thymeleaf/thymeleaf/issues/329 .... adding a comment on that ticket

[2015-07-22 08:00] yacota commented on #329
I've just created yesterday https://github.com/thymeleaf/thymeleaf/issues/380 and now found this ticket

From @danielfernandez 'workaround explanation' I do not understand this part :
  That way template cache would work as expected, and it would be the responsibility of the   (custom) ITemplateRepository implementations to determine when they must execute (based on extended-template-name suffix),

[2015-07-22 14:26] yacota commented on #380
Also changing method's signature of TemplateResolver.getPrefix to a non final method would be welcomed because then any customized TemplateResolver could modify the prefix path at runtime for instance.

[2015-07-22 18:29] candrews commented on #378
For folks that run into problems when using Ehcache ARC (Automatic Resource Allocation) due to this issue, I've written up how to work around it at http://candrews.integralblue.com/2015/07/issues-using-ehcache-with-arc-as-the-thymeleaf-cache/

[2015-07-30 08:30] marukuru opened #382 "Recursive fragments not working since (at least) 2.1.2.RELEASE"
I tried to do recursive fragment replacement/inclusion for a simple Java POJO-styled tree (item with title and a list of children). The feature was introduced in 2.0.X as mentioned in #2
I tried the supplied test https://github.com/thymeleaf/thymeleaf-tests/blob/20130702/src/test-common/resources/engine/attrprocessors/include/include13.thtest from #2 with 2.0.19, where it works as expected. Howeve

[2015-08-04 01:37] masa-kunikata commented on #12
+1

one way to get the object from jsonString

[code]

[2015-08-04 07:29] yacota opened #383 "Modify StandardMessageResolutionUtils in order to build cache keys based on resourceName + templateName"
Based on the same idea proposed in issue https://github.com/thymeleaf/thymeleaf/issues/380 I think that it would be great if Thymeleaf uses resourceName aside from templateName in order to build cache keys used in StandardMessageResolutionUtils

The information is already in the arguments that receives

[code]

Just get it from

[code]

[2015-08-07 10:50] kreuzman commented on #377
Hi, I would like to contribute and fix this issue but it's unclear to me what is expected behaviour in this case. Should step <= 0 be allowed anyway? If step is 0 there will be definitely infinitive loop. There's just not null validation of step value. If 0 and negative step is allowed what is the desired output of below examples?

[code]

Also it seems there's no test for Numbers utility class sh

[2015-08-11 12:26] justass commented on #357
Hi,

 sometimes I also face the same issue. Sometimes the same page works, and sometimes it doesn't. I noticed that it depends on navigation between pages. And somehow the problem is related with variable name in "each" loop (if it has the same name in several views). When I rename iteration variable, problem disappears.

@airclear have you tried renaming "item" variable? It should work..

[2015-08-12 10:33] Shredder121 opened #384 "th:switch and elvis operator ambiguity"
I came across this issue:

I wanted to use a switch, where null is an option.
So far it works good, but the order object we use can be null.

For some reason, when we want to use nullsafe navigation, the expression (`switchStatement : caseStatement`) is interpreted as a conditional (`order ? .ascending : caseStatement`).

[code]

The workaround (and the behavior that should happen / I expect) is d

[2015-08-12 10:39] Shredder121 commented on #384
Follow-up, missed a ton of `${ }` expressions, wait a moment while I reverify.

[2015-08-12 10:39] #384 closed, assigned to nobody

[2015-08-12 10:52] Shredder121 commented on #384
Just as I thought, it was my mistake.
This works:

[code]

That beat the ambiguity (`${switchStatement} : caseStatement`).

[2015-08-15 20:23] mohic commented on #377
Hi,

My goal was to obtains 5, 4, 3, 2, 1 sequence number but at this time, I don't know that Numbers.sequence(5, 1) count from five to one. I thought that Numbers.sequence(5, 1) just don't work.

I my head, sequence function is based on this code:

[code]

Now I know that 5, 1 give me 5, 4, 3, 2, 1 sequence and it's not necessary to add third argument.

[2015-08-17 06:12] ssivanat commented on #12
+1

[2015-08-18 15:01] davinkevin opened #385 "Documentation : Wrong signature on #strings.equals(str)"
Hi,

In the documentation at the following url (http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#strings) the following example seems to be wrong :

[code]

You only use one parameter to do a comparison, I think it should be :

[code]

Thanks

[2015-08-19 08:18] ultraq commented on #385
Thanks for letting us know.  I'll update the docs project so that these get fixed the next time they're generated.

[2015-08-19 10:46] #385 closed, assigned to ultraq

[2015-08-20 21:50] chrylis opened #386 "form binding for collection-valued fields"
I am attempting to bind a `List<String> foo` to a `textarea`. Out of the box, attaching `data-th-field="*{foo}"` and putting in a comma-separated list works for writing. However, on refreshing the form, only the first value from the list is presented, wiping out all others on a naive save.

If an object field bound to a form input is a collection, it ought to be possible to render the field as a c

[2015-08-20 22:03] chrylis commented on #386
This appears to have been a modeling problem.

[2015-08-20 22:03] #386 closed, assigned to nobody

[2015-09-02 07:55] chrylis opened #387 "mechanism for adding global evaluator objects"
I have some utility methods (mostly formatters) that I want to be available to all of my templates globally. I know that I can manually add them to the evaluation contexts on a per-render basis, but I'd like a way to register an object with the `TemplateEngine` or a similar place to be added to the base processing context for all rendering.

[2015-09-06 13:38] oliverlietz opened #388 "keep (custom) IContext accessible"
The `IContext` supplied to `ITemplateEngine#process(...)`should be kept fully accessible in downstream workers, e.g.:
- `IElementProcessor#process(...)`
- `IResourceResolver#resolveResource(...)`
- `ITemplateResolver#resolveTemplate(...)`
- `IMessageResolver#resolveMessage(...)`

It is the only convenient way to pass in and use required objects/services.

https://sling.apache.org/documentation/bun

[2015-09-10 12:22] flyasky commented on #2
add this to documentation about fragments&layouts, please

[2015-09-10 12:37] cybrown commented on #375
This would be awesome

[2015-09-10 13:27] frenchfrie commented on #139
Hie there!
I'm having the same problem. I'm currently writing a copy of the standard resolver and all the static utility methods it needs. It creates a lot of code duplication that could be avoided if an encoding dependant message resolver was included in Thymeleaf itself.

Would it be possible to include such a class?

Thanks a lot

[2015-09-12 23:52] danielfernandez opened #389 "[MAJOR FEAT] New event-based template processing engine"
Thymeleaf 3.0 builds around a **completely new template processing engine**, codenamed _aurora_, developed with the aim of improving its execution performance and reducing its memory footprint, especially in scenarios that were heavily penalized until 2.1 like the generation of big amounts of output markup as a consequence of the execution of iterations on very large collections.

In order to achi

[2015-09-12 23:54] danielfernandez commented on #389
Already in 3.0.0-SNAPSHOT

[2015-09-12 23:54] #389 closed, assigned to danielfernandez

[2015-09-13 18:21] danielfernandez opened #390 "[MAJOR FEAT] Full HTML5 support, new parsing infrastructure"
**Thymeleaf 3.0 adopts a new parsing system** that enables it to accept HTML5 input without restrictions.

Thymeleaf 2.1 uses underneath a standard Java SAX parser –usually xerces or crimson, depending on the JVM and application server–, which it heavily configures and tweaks with tricks such as feeding it with a customized `java.io.Reader` implementation that changes the markup on-the-fly just be

[2015-09-13 18:21] danielfernandez commented on #390
Already included in `3.0.0-SNAPSHOT`

[2015-09-13 18:21] #390 closed, assigned to danielfernandez

[2015-09-13 22:29] danielfernandez opened #391 "[MAJOR FEAT] Thymeleaf 3.0 Template Mode set"
Thymeleaf 3.0 replaces the set of template modes from previous versions. The new template modes are:
- `HTML`
- `XML`
- `TEXT`
- `JAVASCRIPT`
- `CSS`
- `RAW`

There are two _markup_ template modes (`HTML` and `XML`), three _textual_ template modes (`TEXT`, `JAVASCRIPT` and `CSS`) and a _no-op_ template mode (`RAW`).

The **`HTML`** template mode will admit any kind of HTML markup input, including

[2015-09-13 22:29] danielfernandez commented on #391
Already present in `3.0.0-SNAPSHOT`

[2015-09-13 22:29] #391 closed, assigned to danielfernandez

[2015-09-14 14:12] rahulgoel1990 commented on #261
@BrandonJohnGrenier ,
Can you provide us with a sample code or a link to your github project?
Thanks.

[2015-09-15 00:24] BrandonJohnGrenier commented on #261
@rahulgoel1990, I've created a gist for you, hope that helps
https://gist.github.com/BrandonJohnGrenier/bc99e9529674f64f593a

[2015-09-15 06:13] RALGIE opened #392 "Set attributes dynamically"
Hello,

I want to parse attributes dynamically to the fragment and when the function doesn't have a "btnname" param. The attribute must not be added.

I have the following code:

[code]

When I add this i get an exception:

[code]

When I change "th:attr" to "th:text" the button text is:

[code]

Why is it that this doesn't work?

Best regards,
Ralph Gielkens.

[2015-09-15 11:52] willdavidwarren commented on #389
This is amazing @danielfernandez - really looking forward to 3.0!

[2015-09-15 15:38] neblina-software opened #393 "ThymeLeaf->AngularJS"
Hi there. im Trying to do:

...
< a href="#" th:inline="text" ng-click="blotoggle([[${posts.id}]])">Click Me!</ a >
...

Testing with th:inline="javascript" [[${posts.id}]]

Do not work!

I think it is a bug.

This tag should work, but never inside a tag=""

< a href="#" th:inline="text" >Click Me! [[${posts.id}]]</ a >

Prints

Issue Result

Note: If anyone response to use /\* */, ="javascript",

[2015-09-16 20:24] oliverlietz commented on #388
[code]

[2015-09-17 08:33] danielfernandez commented on #380
I don't think adding the resource name to the cache key would be possible, because by the time the template engine accesses the cache in order to determine whether the requested template is there or not, _template resolution_ as such has not been executed yet. So we don't have a resource for the template, nor a resource name. Therefore we wouldn't be able to get entries from the cache.

Your solut

[2015-09-17 08:38] lukosan commented on #393
[code]

will not work. The reason is that th:inline only works on the contents of the node - i.e. the "Click Me!" part. There's no way for Thymeleaf to know that you want it to affect the contents of the ng-click attribute. This isn't a bug, it's very much a feature.

However, you can achieve what you want by using the th:attr attribute (or by creating a custom dialect for angular, if you fancy th

[2015-09-17 10:22] yacota commented on #380
Thanks for the feedback!!

I am going to elaborate my suggestion a little bit more because I do not see what you see :)

As far as I know TemplateRepository is the one that uses the template caching mechanism, in
    public Template getTemplate(final TemplateProcessingParameters templateProcessingParameters)

In that method a list/set of ITemplateResolver s is retrieved, my templateResolver is ret

[2015-09-17 11:06] lukosan commented on #371
A word of warning: if you are using the CSRF protection in SpringSecurity this is also achieved by a class which implements the `RequestDataValueProcessor` interface and the  `RequestDataValueProcessor4Delegate` in Thymeleaf only delegates to a single implementation. So you could either extend the `CsrfRequestDataValueProcessor` class or create a different implementation of the delegate interface

[2015-09-17 14:07] neblina-software commented on #393
To complex, but it is working for now!

https://github.com/neblina-software/balerocms-enterprise/blob/master/src/main/resources/templates/silbato/blog.html

[2015-09-17 21:54] danielfernandez opened #394 "[MAJOR FEAT] Inlined output expressions"
Thymeleaf 3.0 introduces the concept of _inlined output expressions_. They look like this:

[code]

In fact, this is something that was already present in 2.1, but by means of _text inlining_:

[code]

But in Thymeleaf 3.0 _output expressions_ will be always available in tag bodies, without the need to enable explicit inlining:

[code]

Note that you can write any **Thymeleaf Standard Expression**

[2015-09-17 21:54] danielfernandez commented on #394
Already in 3.0.0-SNAPSHOT

[2015-09-17 21:54] #394 closed, assigned to danielfernandez

[2015-09-18 14:06] danielfernandez opened #395 "[MAJOR FEAT] New syntax for textual template modes"
Thymeleaf 3.0 includes three new _textual_ template modes: `TEXT`, `JAVASCRIPT` and `CSS`. As their names imply, `JAVASCRIPT` and `CSS` are meant to be used for processing JavaScript and CSS templates, and the first one (`TEXT`) can be used for processing a template in mostly any format, including mere plain text or even HTML files that we don't want to treat as such.

These new template modes do

[2015-09-18 14:06] danielfernandez commented on #395
Already in `3.0.0-SNAPSHOT`

[2015-09-18 14:06] #395 closed, assigned to danielfernandez

[2015-09-19 00:29] danielfernandez opened #396 "[MAJOR FEAT] Refactoring of the inlining mechanism"
In Thymeleaf versions earlier than 3.0, an _inlining_ mechanism was available that allowed the insertion of _javascript_ (`th:inline="javascript"`) or _dart_ code (`th:inline="dart"`) inside HTML templates, and also for allowing the use of _inlined output expressions_ like `[[${...}]]` in the bodies of HTML tags (`th:inline="text"`).

Thymeleaf 3.0 merges this _inline_ support with its new set of

[2015-09-19 00:30] danielfernandez commented on #396
Already in `3.0.0-SNAPSHOT`

[2015-09-19 00:30] #396 closed, assigned to danielfernandez

[2015-09-22 12:50] adeptues opened #397 "th:switch doesn't work in head"
[code]

when parsing a template with the above code fragment in the `<head>` tag i get an exception with

[code]

when clearly the th:switch has been defined before, this code is very similar to the example listed on the docs pages. So what am i doing wrong or is this a bug?

[2015-09-23 07:04] ieugen opened #398 "Relative/absolute links depend on Servlet API which is not available"
Hi,

I'm developing an application with Vertx and thymeleaf. I'm having issues with rendering pages that create links. It seems there is no easy way to integrate thymeleaf templates in other web frameworks that _do not_ implement Servlet API .

From waht I can tell, you need Servlet API to build links. If this is the only use case then maybe a solution where you put that information in the  non we

[2015-09-23 21:54] danielfernandez opened #399 "[MAJOR FEAT] New Processor API"
The new engine introduced in Thymeleaf 3.0 (see #389) offers a refactored processor API that allows users to create custom processors, i.e. to apply custom behaviours to their templates.

**Processors can be created for each type of event** fired by the template engine, whichever the _template mode_:
- **Template start/end**
- **Element Tags**
- **Texts**
- **Comments**
- **CDATA Sections**
- **DO

[2015-09-23 21:54] danielfernandez commented on #399
Already included in `3.0.0-SNAPSHOT`

[2015-09-23 21:54] #399 closed, assigned to danielfernandez

[2015-09-23 23:16] danielfernandez opened #400 "[MAJOR FEAT] New Pre-Processor and Post-Processor APIs"
Along with the new Processor API (see #399), Thymeleaf 3.0 offers two new ways of customizing the way a template is processed: **pre-processors** and **post-processors**.

Both artifacts are different to processors in that instead of executing on a single event or on a model, they apply to the entire template execution process as an additional step in the chain. They are therefore implementations

[2015-09-23 23:16] danielfernandez commented on #400
Already included in `3.0.0-SNAPSHOT`

[2015-09-23 23:16] #400 closed, assigned to danielfernandez

[2015-09-24 00:23] danielfernandez opened #401 "[MAJOR FEAT] New Dialect API"
Thymeleaf 3.0 redesigns its Dialect APIs in order to offer a **more modular approach**.

The base base interface to be implemented is `org.thymeleaf.dialect.IDialect`, which is an extremely simple one:

[code]

But starting there, a dialect can implement any combination of a set of subinterfaces in the same `org.thymeleaf.dialect` package, each of which allows the dialect to provide a specific fun

[2015-09-24 00:23] danielfernandez commented on #401
Already in `3.0.0-SNAPSHOT`

[2015-09-24 00:23] #401 closed, assigned to danielfernandez

[2015-09-24 00:29] danielfernandez commented on #397
Maybe you are using the `LEGACYHTML5` template mode? in such case, the tag balancer that executes before thymeleaf parses your code will close your `<th:block>` before the `<link>` tags, like:

[code]

Unfortunately, this might not be compatible with `LEGACYHTML5`. Try using `HTML5` instead.

FYI, Thymeleaf 3.0 removes the `LEGACYHTML5` mode, offering a new `HTML` mode instead, which does not perf

[2015-09-24 00:29] #397 closed, assigned to danielfernandez

[2015-09-26 16:26] danielfernandez opened #402 "Update OGNL to 3.1"
Several updates that may affect Thymeleaf have been applied to OGNL, then published in version 3.1:
- https://github.com/jkuhnert/ognl/pull/9
- https://github.com/jkuhnert/ognl/pull/10
- https://github.com/jkuhnert/ognl/pull/11
- https://github.com/jkuhnert/ognl/pull/12

And also https://github.com/jkuhnert/ognl/issues/8 which allows thymeleaf to remove its _boolean OGNL fix_, and therefore its di

[2015-09-26 16:27] #402 closed, assigned to danielfernandez

[2015-09-26 16:27] danielfernandez commented on #402
Already in `3.0.0-SNAPSHOT`

[2015-09-26 16:28] danielfernandez commented on #376
Already in `3.0.0-SNAPSHOT`

[2015-09-26 16:28] #376 closed, assigned to danielfernandez

[2015-09-26 16:30] danielfernandez commented on #18
3.0 has no Text nodes anymore -- just events. Texts are escaped when created for an event, but it is now the responsibility of the processor to do so.

[2015-09-26 16:30] #18 closed, assigned to danielfernandez

[2015-09-26 16:30] danielfernandez commented on #18
Already in `3.0.0-SNAPSHOT`

[2015-09-26 16:31] danielfernandez commented on #28
All relevant classes like `TemplateEngine` have an implementing interface in 3.0, like `ITemplateEngine`

[2015-09-26 16:31] #28 closed, assigned to danielfernandez

[2015-09-26 16:31] danielfernandez commented on #28
Already in `3.0.0-SNAPSHOT`

[2015-09-26 16:32] danielfernandez commented on #42
This makes no sense anymore in the new 3.0 architecture. See #389

[2015-09-26 16:32] #42 closed, assigned to danielfernandez

[2015-09-26 16:33] danielfernandez commented on #44
`DOCTYPE`s are now one of the types of events in the new Thymeleaf 3.0 architecture. See #389

[2015-09-26 16:33] #44 closed, assigned to danielfernandez

[2015-09-26 16:33] danielfernandez commented on #44
Already in `3.0.0-SNAPSHOT`

[2015-09-26 16:35] danielfernandez commented on #48
This is a part of the Thymeleaf 3.0 capabilities. See #390, #391, #394, #395 and #396

[2015-09-26 16:35] #48 closed, assigned to danielfernandez

[2015-09-26 16:36] danielfernandez commented on #48
Already in `3.0.0-SNAPSHOT`

[2015-09-26 16:36] danielfernandez commented on #49
In the new Thymeleaf 3.0 architecture, all events know their line and column number

[2015-09-26 16:36] #49 closed, assigned to danielfernandez

[2015-09-26 16:37] danielfernandez commented on #49
Already in `3.0.0-SNAPSHOT`

[2015-09-26 17:58] danielfernandez commented on #51
This no longer applies with the new Thymeleaf 3.0 parsing mechanisms. See #390

[2015-09-26 17:58] #51 closed, assigned to ultraq

[2015-09-26 18:00] danielfernandez commented on #52
Developed as a part of the new Thymeleaf 3.0 architecture and template modes. See #391 and #395

[2015-09-26 18:00] #52 closed, assigned to danielfernandez

[2015-09-26 18:00] danielfernandez commented on #52
Already in `3.0.0-SNAPSHOT`

[2015-09-26 18:01] danielfernandez commented on #55
Refactored as a part of the new Dialect API in Thymeleaf 3.0. See #401

[2015-09-26 18:01] #55 closed, assigned to danielfernandez

[2015-09-26 18:01] danielfernandez commented on #55
Already in `3.0.0-SNAPSHOT`

[2015-09-26 18:02] danielfernandez commented on #62
This was rendered unnecessary by the new parsing mechanisms in Thymeleaf 3.0. See #390

[2015-09-26 18:02] #62 closed, assigned to danielfernandez

[2015-09-26 18:05] danielfernandez commented on #74
Neither `Arguments` nor `Node` actually exist in the new Thymeleaf 3.0 architecture. So this is no longer necessary. Local variables are held at the `IVariablesMap` implementation contained at the context, and only there.

[2015-09-26 18:05] #74 closed, assigned to danielfernandez

[2015-09-26 18:05] danielfernandez commented on #79
This has been included into the core features of Thymeleaf 3.0. The **thymeleaf-extras-conditionalcomments** module is no longer necessary.

[2015-09-26 18:05] #79 closed, assigned to danielfernandez

[2015-09-26 18:05] danielfernandez commented on #79
Already in `3.0.0-SNAPSHOT`

[2015-09-26 20:44] danielfernandez commented on #82
The concept of _template writer_ as such dissapears in Thymeleaf 3.0, so this ticket is no longer valid.

[2015-09-26 20:44] #82 closed, assigned to danielfernandez

[2015-09-26 20:44] danielfernandez commented on #83
The `Arguments` class has dissapeared in Thymeleaf 3.0, so there is no need to control its uses.

[2015-09-26 20:44] #83 closed, assigned to danielfernandez

[2015-09-26 20:48] danielfernandez commented on #96
The new architecture in Thymeleaf 3.0 removes the concept of DOM from template processing, so this is no longer valid.

[2015-09-26 20:48] #96 closed, assigned to danielfernandez

[2015-09-26 20:51] danielfernandez commented on #97
The new architecture of Thymeleaf 3.0 (see #389) removes the concept of DOM from template processing, so this is no longer valid.

[2015-09-26 20:51] #97 closed, assigned to danielfernandez

[2015-09-26 20:54] danielfernandez commented on #105
This is already a part of the new Processor and Dialect APIs in Thymeleaf 3.0. See #399 and #401

[2015-09-26 20:54] #105 closed, assigned to danielfernandez

[2015-09-26 20:54] danielfernandez commented on #105
Already in `3.0.0-SNAPSHOT`

[2015-09-26 20:55] danielfernandez commented on #111
The new architecture in Thymeleaf 3.0 does not work on a DOM model anymore, so this is no longer valid.

[2015-09-26 20:55] #111 closed, assigned to nobody

[2015-09-26 20:56] danielfernandez commented on #118
The OGNL boolean fix has been removed thanks to the update to OGNL 3.1. See #402

[2015-09-26 20:56] #118 closed, assigned to danielfernandez

[2015-09-26 20:57] danielfernandez commented on #118
Already in `3.0.0-SNAPSHOT`

[2015-09-26 21:01] danielfernandez commented on #127
`VariablesMap`, as well as all other context-related classes, have undergone major refactoring in Thymeleaf 3.0. So this is no longer valid.

[2015-09-26 21:01] #127 closed, assigned to danielfernandez

[2015-09-26 21:04] danielfernandez commented on #128
All context-related classes have undergone major refactoring in Thymeleaf 3.0, so this is no longer valid.

[2015-09-26 21:04] #128 closed, assigned to danielfernandez

[2015-09-26 21:30] danielfernandez commented on #135
The new architecture in Thymeleaf 3.0 does not work on a DOM anymore, so there is no way to access the _processed_ results of an element (after this element has been processed). However, Dialects in 3.0 can specify Post-Processors, which --though not working on DOMs anyway-- are useful for offering a view on the template results, after applying the processors. See #400

Closing this as declined.

[2015-09-26 21:30] #135 closed, assigned to danielfernandez

[2015-09-26 21:33] danielfernandez commented on #150
Already included in `3.0.0-SNAPSHOT`

[2015-09-26 21:33] #150 closed, assigned to danielfernandez

[2015-09-26 21:34] danielfernandez commented on #160
This is covered by the new parsing mechanisms in Thymeleaf 3.0. See #390.

Already in `3.0.0-SNAPSHOT`

[2015-09-26 21:34] #160 closed, assigned to danielfernandez

[2015-09-26 21:39] danielfernandez commented on #167
Template modes are specified in Thymeleaf 3.0 as an `enum`. See #391

Already in `3.0.0-SNAPSHOT`

[2015-09-26 21:39] #167 closed, assigned to danielfernandez

[2015-09-26 21:39] danielfernandez commented on #173
Already in `3.0.0-SNAPSHOT`

[2015-09-26 21:39] #173 closed, assigned to danielfernandez

[2015-09-26 22:25] danielfernandez commented on #176
Thymeleaf 3.0 includes `th:insert`, which works just like described (not removing the insertion's root).

`th:included` has been **deprecated** in 3.0

Already included in `3.0.0-SNAPSHOT`

[2015-09-26 22:25] #176 closed, assigned to danielfernandez

[2015-09-26 22:28] danielfernandez commented on #194
Already in `3.0.0-SNAPSHOT`

[2015-09-26 22:28] #194 closed, assigned to danielfernandez

[2015-09-26 22:29] danielfernandez commented on #197
Thymeleaf 3.0 does not work on a DOM model anymore. See #389 and #390

[2015-09-26 22:29] #197 closed, assigned to danielfernandez

[2015-09-26 22:30] danielfernandez commented on #199
These classes no longer exist in Thymeleaf 3.0.

[2015-09-26 22:30] #199 closed, assigned to danielfernandez

[2015-09-26 22:31] danielfernandez commented on #211
Thanks to #402, a direct dependency on javassist is no longer needed and has been removed in Thymeleaf 3.0.

[2015-09-26 22:31] #211 closed, assigned to danielfernandez

[2015-09-26 22:32] danielfernandez commented on #240
The escaping mechanism has been heavily refactored in Thymeleaf 3.0 and this is no longer needed.

[2015-09-26 22:32] #240 closed, assigned to danielfernandez

[2015-09-26 22:34] danielfernandez commented on #397
Linked to #246

[2015-09-26 22:36] danielfernandez commented on #246
The `LEGACYHTML5` template mode has dissapeared from Thymeleaf 3.0 and no tag balancing operations are being performed on template markup anymore, so this is no longer an issue. See #390

Already in `3.0.0-SNAPSHOT`

[2015-09-26 22:36] #246 closed, assigned to danielfernandez

[2015-09-26 22:39] danielfernandez commented on #262
The `LEGACYHTML5` template mode has dissapeared from Thymeleaf 3.0 and `<script>` tags are considered non-processable CDATA now. In this case, a `<template>` tag should be used, and that should work just fine. See #390

Already in `3.0.0-SNAPSHOT`

[2015-09-26 22:39] #262 closed, assigned to danielfernandez

[2015-09-27 09:33] danielfernandez commented on #295
These precedences have been left untouched in Thymeleaf 3.0. Conditional evaluation must come after iteration in order to be able to determine if a block has to be shown or not _per iteration_, i.e. depending on the iterated variable. This is a quite common scenario.

Also, iteration has to come _after_ fragment inclusion because doing otherwise would mean executing fragment inclusion (a potential

[2015-09-27 09:33] #295 closed, assigned to danielfernandez

[2015-09-27 09:34] danielfernandez commented on #297
Default attribute support has been implemented in Thymeleaf 3.0, for the Standard Dialects.

Already in `3.0.0-SNAPSHOT`

[2015-09-27 09:34] #297 closed, assigned to danielfernandez

[2015-09-27 09:36] danielfernandez commented on #307
This has been implemented in Thymeleaf 3.0 by means of the new support for Inlined Output Expressions. See #394 and #396

[2015-09-27 09:36] #307 closed, assigned to danielfernandez

[2015-09-27 09:36] danielfernandez commented on #307
Already in `3.0.0-SNAPSHOT`

[2015-09-27 22:16] #321 closed, assigned to danielfernandez

[2015-09-27 22:32] danielfernandez commented on #321
Already in `3.0.0-SNAPSHOT`

[2015-09-27 22:38] n0mer commented on #321
:+1:

[2015-09-27 23:20] danielfernandez commented on #314
This is already so in Thymelaf 3.0, including an `ITemplateEngine` interface for the `TemplateEngine` class.

Already in `3.0.0-SNAPSHOT´

[2015-09-27 23:20] #314 closed, assigned to danielfernandez

[2015-09-27 23:21] danielfernandez commented on #313
Already in `3.0.0-SNAPSHOT`

[2015-09-27 23:21] #313 closed, assigned to danielfernandez

[2015-09-28 20:46] danielfernandez commented on #243
Already in `3.0.0-SNAPSHOT`

[2015-09-28 20:46] #243 closed, assigned to danielfernandez

[2015-09-28 20:53] chrylis opened #403 "feature: support Java 8 time classes"
I need to be able to render Java 8 times in the timezone associated with a record, but the Thymeleaf `DateUtils` is written for the pre-Java 8 date/time APIs. I suggest conditionally adding a `#datetimes` (or equivalent) template utility if the Java 8 classes are present.

[2015-09-28 20:53] danielfernandez commented on #70
Already in `3.0.0-SNAPSHOT`

[2015-09-28 20:53] #70 closed, assigned to danielfernandez

[2015-09-28 20:55] danielfernandez commented on #403
I think the **java-extras-java8time** should cover your needs: https://github.com/thymeleaf/thymeleaf-extras-java8time

Or is there something you miss there?

[2015-09-28 20:55] #403 closed, assigned to danielfernandez

[2015-09-28 21:11] danielfernandez commented on #59
The _execution info_ object is now accessible in Thymeleaf 3.0 as an expression utility object: `${#execInfo}`.

Access as a context variable (`${execInfo}`) is still allowed, but considered deprecated, and will issue a warning.

Already in `3.0.0-SNAPSHOT`

[2015-09-28 21:11] #59 closed, assigned to danielfernandez

[2015-09-28 21:23] danielfernandez commented on #54
Only the `initialize()` method in the `TemplateEngine` class --which is needed-- has been left in Thymeleaf 3.0.

Already in `3.0.0-SNAPSHOT`

[2015-09-28 21:23] #54 closed, assigned to danielfernandez

[2015-09-28 21:25] danielfernandez commented on #108
Thymeleaf 3.0 now includes a **Post-Processor API** (see #400 and #401). A whitespace-collapsing utility looks like the perfect use case for a post-processor, provided by a custom dialect.

Will close this as declined, as I don't think it should be a part of the core or the Standard Dialects.

[2015-09-28 21:25] #108 closed, assigned to danielfernandez

[2015-09-28 21:27] danielfernandez commented on #259
Closing as declined - after evaluation, slf4j still makes perfect sense as a default choice, and using a custom logging interface would add quite a lot of (probably unnecessary) clutter.

[2015-09-28 21:27] #259 closed, assigned to danielfernandez

[2015-09-28 21:28] danielfernandez commented on #306
Already in `3.0.0-SNAPSHOT`

[2015-09-28 21:28] #306 closed, assigned to danielfernandez

[2015-09-28 21:44] danielfernandez commented on #296
After evaluation, providing some kind of standard configuration for specific caches that allow their creation and use only by calling `getSpecificCache()` has proven to be very prone to configuration issues and even memory leaks.

Each configured cache has to provide default and maximum sizes, as well as a _validity_ policy, in order to work correctly and make sure it doesn't grow above its limit

[2015-09-28 21:44] #296 closed, assigned to danielfernandez

[2015-09-28 21:50] chrylis commented on #403
I managed to miss that one, and it doesn't have a link on the Ecosystem page. Thanks!

[2015-09-28 22:35] danielfernandez commented on #370
Already in `3.0.0-SNAPSHOT`

[2015-09-28 22:35] #370 closed, assigned to danielfernandez

[2015-09-28 22:53] danielfernandez commented on #283
After evaluation, some methods in Spring's `RequestDatValueProcessor` are heavily linked to the attributes the generated URLs live in, like `processAction()` for the `action` attribute of a `<form>` tag.

Some others are more general, like `RequestDatValueProcessor#processUrl()`, which should be applied to every generated URL... but the fact that an `action` attribute in a `<form>` tag shouldn't b

[2015-09-28 22:53] #283 closed, assigned to danielfernandez

[2015-09-29 21:30] danielfernandez commented on #85
Thymeleaf 3.0's use of the request parameters has changed so that now it is possible to output a single-valued parameter like:

[code]

Instead of being forced to write (which is still valid):

[code]

However, note that this is achieved by means of returning `something` as a custom implementation of `java.util.List` that will be accessible through index just like an array, and will output the fir

[2015-09-29 21:30] #85 closed, assigned to danielfernandez

[2015-09-29 21:30] danielfernandez commented on #85
This is in `3.0.0-SNAPSHOT` already

[2015-09-29 21:34] danielfernandez opened #404 "Issue warnings for #httpServletRequest and #httpSession"
Once #193 has been implemented in Thymeleaf 3.0, the `#httpServletRequest` and `#httpSession` expression object names should start to issue warnings whenever used in 3.1.

These will be removed in 3.2.

[2015-09-29 21:36] danielfernandez opened #405 "Deprecate th:include"
Once `th:insert` has been introduced in Thymeleaf 3.0 and documentation for `th:include` has been retired, the latter should be deprecated (with warnings being issued in Thymeleaf 3.1).

This `th:include` should be removed in 3.2/4.0.

[2015-09-29 21:38] danielfernandez commented on #193
Implemented point number 1. As a part of such implementation, the _old_ expression object names `#httpServletRequest` and `#httpSession` have been deprecated.

Implemented point number 2. But `param.x.all` is not necessary because `param.x` will output single-valued parameters as their mere `toString()`, and multi-valued parameters as the result of calling `toString()` on the underlying `List` imp

[2015-09-29 21:38] #193 closed, assigned to danielfernandez

[2015-09-29 21:47] danielfernandez commented on #315
After evaluation, we won't be adding any `try...catch` for catching this kind of SpringEL exceptions in Thymeleaf 3.0.

This is the way Spring's `MapAccessor` works, and doing such thing would break the compatibility between the way maps are accessed using SpringEL in thymeleaf pages and elsewhere. It could be something to think about for very specific scenarios... but catching map access exceptio

[2015-09-29 21:47] #315 closed, assigned to danielfernandez

[2015-09-29 21:55] danielfernandez commented on #294
Already fixed in `3.0.0-SNAPSHOT`

[2015-09-29 21:55] #294 closed, assigned to danielfernandez

[2015-09-29 21:57] danielfernandez commented on #12
This has already been implemented in `3.0.0-SNAPSHOT`

See #394, #395 and #396

[2015-09-29 21:57] #12 closed, assigned to danielfernandez

[2015-09-29 22:16] #196 closed, assigned to danielfernandez

[2015-09-29 22:17] danielfernandez commented on #196
This has been implemented and is already available in `3.0.0-SNAPSHOT`

[2015-09-29 23:11] hussachai commented on #85
I think that it would be better to add method like .first() instead of overriding toString()
Because sometimes if we want to see parameters for debugging purpose, the default List.toString() is quite useful.
The .first() method is supposed to return either null or the first element of List and I think its name is more correct than .toString() in term of semantic.

What do you think?

[2015-09-30 17:28] lukosan opened #406 "TemplateResolverComparator's handling of 'null' order value"
In Thymeleaf 2.1.4:

[code]

I don't think this should return -1 (and 1) when the values are null. I'd suggest that if the order property of an ITemplateResolver isn't set then it should be assumed to be maximum (i.e. Integer.MAX_VALUE).

For example, I have two ITemplateResolvers - one of them is scaffolded by Spring Boot and doesn't set the order value. The other one I'm instantiating myself and

[2015-09-30 21:11] yacota commented on #406
I also discussed this issue with Spring Boot guys
https://github.com/spring-projects/spring-boot/issues/3575

[2015-09-30 22:05] danielfernandez commented on #85
I don't see a difference between the `param.something.first()` you describe and simply using indexed access like `param.something[0]`, which was valid until now and will continue to be.

Overriding `toString()` is perfectly fine for debugging also, because it will always return the data inside. The only real difference is that, when there's only one element, there will be no `[....]` brackets arou

[2015-09-30 22:46] hussachai commented on #85
Sweet! I misunderstood I thought toString() will return only the first element.
Now I'm perfectly clear what you said. Thanks a lot.

[2015-09-30 23:37] danielfernandez commented on #262
Please note this has been modified.

Given the lack of support for `<template>` in some major browsers like Internet Explorer 11, I've implemented attoparser/attoparser#8 so that `<script type="text/template">` tags are **not** considered CDATA and therefore their bodies will be parsed in Thymeleaf 3.0 (contrary to any other `<script>` element, which will still be CDATA).

This corrected behaviour

[2015-09-30 23:38] danielfernandez commented on #309
Already in `3.0.0-SNAPSHOT`

[2015-09-30 23:38] #309 closed, assigned to danielfernandez

[2015-09-30 23:40] danielfernandez commented on #310
There seems to be no need for this now that #309 has been fully implemented (see attoparser/attoparser#8). Closing as _declined_.

[2015-09-30 23:40] #310 closed, assigned to danielfernandez

[2015-10-01 06:32] lukosan commented on #406
That's concensus enought for me. Is it worth me submitting a patch? i.e. is there a 2.1.5 release on the horizon or is all effort being thrown towards 3?

[2015-10-01 07:08] ultraq commented on #406
Well, all the effort is towards 3, but I don't imagine we'd be dropping support for 2.1 any time soon.  A PR for 2.1 would be really nice, maybe even one for 3.  (Or one against 2.1, then one for 3 if it gets accepted.)

[2015-10-01 07:54] lukosan commented on #406
Okay will do - do you want the PR against 2.1-master or 2.1-dev? I'll assume dev unless otherwise notified.

[2015-10-01 07:56] ultraq commented on #406
`2.1-dev` will do, although I just noticed both branches are pointing to the same commit :)

[2015-10-01 08:14] danielfernandez opened #407 "TemplateResolverComparator's handling of 'null' order value"
**Port of #406 by @lukosan for the Thymeleaf 3.0 branch**

Original text (see original ticket for comments)

---

In Thymeleaf 2.1.4:

[code]

I don't think this should return -1 (and 1) when the values are null. I'd suggest that if the order property of an ITemplateResolver isn't set then it should be assumed to be maximum (i.e. Integer.MAX_VALUE).

For example, I have two ITemplateResolvers - on

[2015-10-01 08:18] danielfernandez commented on #406
Thanks @lukosan. Your proposed changes look OK to me too.

I've added #407 in order to apply this modification to both the 2.1 and 3.0 development branches. Emanuel, I've assigned both to you ;)

@lukosan please read https://github.com/thymeleaf/thymeleaf/blob/3.0-master/CONTRIBUTING.markdown before making your contribution. We will need a comment on your PR ticket (or on this one) explicitly stat

[2015-10-01 08:22] lukosan commented on #406
Just noticed MessageResolverComparator has a similar issue - you might want to open a ticket for that too (or you might not).

[2015-10-01 09:38] danielfernandez commented on #406
Yes, `MessageResolverComparator` should be modified its behaviour too. Thanks.

[2015-10-01 09:40] danielfernandez opened #409 "MessageResolverComparator's handling of 'null' order value"
Derived from #406 by @lukosan, the same `null`-related behaviour should be modified in `MessageResolverComparator` too.

Current `MessageResolverComparator` code:

[code]

[2015-10-01 09:42] danielfernandez opened #410 "MessageResolverComparator's handling of 'null' order value"
Port of #409 for the Thymeleaf 3.0 branch. Related to #406 by @lukosan.

---

The same `null`-related behaviour explained in #406 should be modified in `MessageResolverComparator` too.

Current `MessageResolverComparator` code:

[code]

[2015-10-01 23:00] danielfernandez commented on #72
After evaluation, this will be left out of Thymeleaf 3.0, and just put on the wish list for future versions.

There are a good number of problems for the implementation of these `#attr` and `#element`.
- The `tag` (`IProcessableTag`) in which expressions are contained does not reach the `OGNL/SPELExpressionEvaluator`s.
- Actually, the `tag` is not even included in the signature of the `StandardExp

[2015-10-01 23:01] danielfernandez commented on #73
Moved from the Thymeleaf 3.0 backlog to the wish list for the same reasons as #72. See https://github.com/thymeleaf/thymeleaf/issues/72#issuecomment-144871041

[2015-10-02 15:33] #101 closed, assigned to danielfernandez

[2015-10-02 15:58] danielfernandez commented on #101
This has been implemented in Thymeleaf 3.0 by means of the `org.thymeleaf.context.ILazyContextVariable` interface and its default abstract implementation `org.thymeleaf.context.LazyContextVariable`.

Context variables that implement the `ILazyContextVariable` interface will be resolved in the moment of being executed, effectively _lazy-loading_ their value. For example:

[code]

This variable can

[2015-10-02 15:59] danielfernandez commented on #101
This is already in `3.0.0-SNAPSHOT`

[2015-10-03 02:43] #406 closed, assigned to ultraq

[2015-10-04 14:54] oliverlietz opened #412 "readd isInitialized() to easily allow creation and configuration of template engine in multiple steps"
This is useful in dynamic environments like OSGi.

[code]

[2015-10-06 20:58] #325 closed, assigned to danielfernandez

[2015-10-06 21:07] danielfernandez commented on #325
A new mechanism has just been implemented into Thymeleaf 3.0 that allows _cross-template-mode_ fragment insertion, i.e. insertion of fragments that use a template mode different to the one used by the including template.

This, together with the new template mode system explained in #391 allows the implementation of the scenario explained in this ticket and any others which may involve the inserti

[2015-10-07 21:35] danielfernandez opened #413 "Decouple context from template/resource resolution"
The current `ITemplateResolver` and `IResourceResolver` interfaces have resolution methods like:

[code]

[code]

Which means that the `context`, and therefore the variables used for processing the template, must be present when resolving the template.

This comes from previous versions, for example template resolution in 2.1 required a `TemplateProcessingParameters` object as parameter, which in

[2015-10-07 21:46] #413 closed, assigned to danielfernandez

[2015-10-07 21:46] danielfernandez commented on #413
Already in `3.0.0-SNAPSHOT`

[2015-10-09 21:20] danielfernandez commented on #368
See #105. Already in `3.0.0-SNAPSHOT`

A new concept of _dialect precedence_ has been created, and now processor precedence is relative to the dialect's precedence.

[2015-10-09 21:20] #368 closed, assigned to danielfernandez

[2015-10-10 07:50] #409 closed, assigned to ultraq

[2015-10-10 08:40] #407 closed, assigned to ultraq

[2015-10-10 08:40] #410 closed, assigned to ultraq

[2015-10-10 14:34] danielfernandez commented on #412
I would need to understand this better: how would this be _needed_ in an OSGi environment, what for?

My concern is that, if this is added to `TemplateEngine` in 3.0, maybe it should also be added to the `ITemplateEngine` interface, and I wouldn't really like exposing an implementation detail as such through the most central interface of the library.

So, would you please explain why would an OSGi

[2015-10-10 14:39] danielfernandez commented on #387
In 2.1, dialects implementing the `IExpressionEnhancingDialect` interface can add expression objects to be used in any expressions inside templates. See https://github.com/thymeleaf/thymeleaf/blob/2.1-master/src/main/java/org/thymeleaf/dialect/IExpressionEnhancingDialect.java

Thymeleaf 3.0 has a similar interface called `IExpressionObjectDialect` for the same purpose. See #401

[2015-10-10 14:39] #387 closed, assigned to danielfernandez

[2015-10-10 14:52] danielfernandez commented on #406
Updated `2.1.5-SNAPSHOT`

[2015-10-10 14:53] danielfernandez commented on #409
Updated `2.1.5-SNAPSHOT`

[2015-10-10 14:54] danielfernandez commented on #410
Updated `3.0.0-SNAPSHOT`

[2015-10-10 14:54] danielfernandez commented on #407
Updated `3.0.0-SNAPSHOT`

[2015-10-11 10:13] oliverlietz commented on #412
It needs not to be added to `ITemplateEngine` in my case ([Apache Sling Scripting Thymeleaf](https://github.com/apache/sling/tree/trunk/contrib/scripting/thymeleaf)). The `ThymeleafScriptEngineFactory` is responsible for the lifecycle of the `TemplateEngine` and the configuration:
- creates the `TemplateEngine`
- adds `ITemplateResolver`s
- adds `IMessageResolver`s
- adds `IDialect`s
- adds `ICach

[2015-10-11 18:33] chrylis commented on #387
Exactly what I was looking for. It'd be helpful to have a link to this somewhere in the docs.

[2015-10-13 21:02] danielfernandez opened #414 "Move Java compatibility up to Java 6"
The lack of `java.util.Properties#load(Reader)` method in Java 5 is causing some potential optimization problems in message processing, and as of today it seems there is not really much to worry about dropping support for Java 5 ( https://plumbr.eu/blog/java/java-version-statistics-2015-edition ), so we should be just fine moving to Java 6 in Thymeleaf 3.0

[2015-10-13 21:18] ultraq commented on #414
Drop Java 5! :grinning:

[2015-10-13 22:39] danielfernandez opened #415 "Make sure of Servlet API independence"
There are `context instanceof IWebContext` calls here and there throughout the code, and `IWebContext` is a class with hard dependencies on Servlet API structures like `HttpServletRequest` or `HttpSession`. We should make sure this doesn't mean any class loading errors when executing such code in an application without the Servlet API in the classpath.

[2015-10-14 14:48] f0def commented on #348
+1

[2015-10-14 14:48] f0def commented on #81
+1

[2015-10-16 10:46] sopehl opened #416 "There are no javadocs in some classes."
for instance org.thymeleaf.expressions.Ids class haven't got java documentation. in this package(s), there is no documentation. version 1.2.6.release

Best Regard

[2015-10-16 19:48] chrylis opened #417 "include/replace do not respect if"
I am trying to include a "banner" module if and only if the `banner` variable is set:

[code]

but not passing a `banner` in the context results in an NPE evaluating the `include` expression. I would expect the `if` to suppress the inclusion attempt, as it does for other directives. Nesting the `include` inside a `div` that has nothing but the `if` works as expected.

[2015-10-18 11:38] klebermo opened #418 "Allow to create an dialect without a prefix"
I wonder if anyone feels thymeleaf should allow the developer to create an dialect without a prefix, which will make possible use a processor in the HTML page from the view without it, allowing, by instance, override HTML tags and integrate them with the Java / Spring code, making the code a lot more clear. For example, if I have a processor for tag **nav**, I could make this tag retrieve the opti

[2015-10-19 22:31] danielfernandez commented on #414
`3.0.0-SNAPSHOT` already uses this `java.util.Properties#load(Reader)`, so Java 6 will be required for Thymeleaf 3.0 from now on.

[2015-10-19 22:31] #414 closed, assigned to danielfernandez

[2015-10-20 00:42] danielfernandez opened #419 "[MAJOR FEAT] Refactoring of the Template Resolution API"
The Template Resolution API in Thymeleaf 2.1 had two major caveats:
- Excessive complexity due to the separation between _template resolvers_, _resource resolvers_ and _resource objects_. The first ones were actually not much more than mere forwarders to the second, to the point that most user-developed `ITemplateResolver` implementations needed a corresponding `IResourceResolver` implementation d

[2015-10-20 00:42] danielfernandez commented on #419
Alread in `3.0.0-SNAPSHOT`

[2015-10-20 00:42] #419 closed, assigned to danielfernandez

[2015-10-20 20:37] danielfernandez opened #420 "[MAJOR FEAT] Refactoring of the Context API"
The Thymeleaf Context API lives mostly in the `org.thymeleaf.context` package, and includes the classes needed for both specifying the variables and locale the user wants templates to be executed with (the template _data_, therefore), and also for the template engine to keep relevant information about the current state of template processing and exchange this among the diverse parts of the system.

[2015-10-20 20:38] danielfernandez commented on #420
Already in `3.0.0-SNAPSHOT`

[2015-10-20 20:38] #420 closed, assigned to danielfernandez

[2015-10-20 20:42] danielfernandez opened #421 "[MAJOR FEAT] Refactoring of the Message Resolution API"
The refactorings undergone by the Template Resolution API (#419) and Context API (#420) offered the possibility of performing an additional refactoring, this time on the Message Resolution API (package `org.thymeleaf.messageresolver`).

The Message Resolution API in Thymeleaf 2.1 suffered from two main issues:
- No possibility to specify _externalized messages_ for inserted fragments. When an `A.h

[2015-10-20 20:43] danielfernandez commented on #421
Already in `3.0.0-SNAPSHOT`

[2015-10-20 20:43] #421 closed, assigned to danielfernandez

[2015-10-20 21:06] danielfernandez commented on #13
This has been just implemented into Thymeleaf 3.0.0, thanks to a refactoring on the Message Resolution API. See #421.

Note however there is a modification to what is explained in comments above: the `template_that_includes_fragment.properties` file will be searched BEFORE `fragment.properties`, and not afterwards.

The reason for this is that the including template should be given the opportunity

[2015-10-20 21:06] #13 closed, assigned to danielfernandez

[2015-10-20 21:20] danielfernandez commented on #328
This has been just implemented into Thymeleaf 3.0 as a part of a major refactoring for the Message Resolution API (see #421), needed in order to support other required modifications on the Template Resolution API (#419) and Context API (#420).

Many thanks for your contributed PR and sorry for the delay, but unfortunately a series of changes in the architecture meant we had to go for a complete re

[2015-10-20 21:20] #328 closed, assigned to nobody

[2015-10-20 22:04] danielfernandez commented on #412
Thanks for the explanation. Looking at your code, I understand you need a way to determine whether you need a new `TemplateEngine` instance or not, depending on whether the one you have has already been initialized or not (because it would not let you re-initialize it if it has already been initialized).

I will be adding the `isInitialized()` method in `TemplateEngine`.

[2015-10-20 22:09] danielfernandez commented on #412
Already in `3.0.0-SNAPSHOT`

[2015-10-20 22:09] #412 closed, assigned to danielfernandez

[2015-10-20 22:47] danielfernandez opened #422 "Add template stack info to #execInfo"
Currently the `#execInfo` expression object only gives information about the template name and the current timestamp.

However, it would be easy to add to it information about the `TemplateMode`, as well as the full stack of template names and modes for a specific execution point (including data for all inserted fragments, just as provided by `ITemplateContext#getTemplateStack()`).

[2015-10-20 23:14] #422 closed, assigned to danielfernandez

[2015-10-20 23:15] danielfernandez commented on #422
Already in `3.0.0-SNAPSHOT`

[2015-10-21 08:11] magat commented on #328
Thank you for your answer, I'm looking forward to Thymeleaf 3.0 !

[2015-10-21 08:25] danielfernandez commented on #388
Please have a look at the new Template Resolution (#419), Context (#420) and Message Resolution (#421) APIs.

It is now possible to make the engine use a custom implementation of the _context_ passed as a parameter to `ITemplateEngine#process(...)`, as long as such context implements the `IEngineContext` interface. But this is _strongly not recommended_ except in very rare occasions, due to the hi

[2015-10-21 08:26] danielfernandez commented on #388
I'm closing this for now, unless you consider there are additional problems in the current implementations of these template resolution, message resolution and context APIs that need further discussion. Thanks.

[2015-10-21 08:26] #388 closed, assigned to danielfernandez

[2015-10-22 21:03] ultraq commented on #414
FYI: we'll need to update our `CONTRIBUTING.markdown` files to update this line

[2015-10-22 21:05] danielfernandez commented on #414
Yup. Can you create a ticket on `thymeleaf-dist` for that? And also the `download.html` page on the website should be modified...

[2015-10-22 21:17] ultraq commented on #414
Done: https://github.com/thymeleaf/thymeleaf-dist/issues/4

And yep, that'll be on my TODO list for the website too :)

[2015-10-26 01:31] danielfernandez opened #423 "Mechanism for configuring template resolution on a per-template basis"
A mechanism called _template resolution attributes_ has been added to Thymeleaf 3.0 that will allow further configuration of the way a template is resolved, specifying this for each call of the template engine's `process(...)` methods.

The idea is that at the `process(...)` call a series of configurations (_attributes_) can be specified by means of a map in the `TemplateSpec` class:

[code]

This

[2015-10-26 01:35] danielfernandez commented on #423
Already in `3.0.0-SNAPSHOT`

[2015-10-26 01:35] #423 closed, assigned to danielfernandez

[2015-10-26 01:36] danielfernandez commented on #329
The new mechanism implemented for _template resolution attributes_, explained in #423, should solve this. Please have a look at it and test it if you can. It's already available in `3.0.0-SNAPSHOT`

[2015-10-26 01:36] #329 closed, assigned to danielfernandez

[2015-10-26 01:43] danielfernandez commented on #380
Well, finally after a lot of refactoring effort invested on the Template Resolution, Message Resolution and Context APIs (in some cases refactorings on refactorings ;)), I've finally found a way to implement this that was sound enough with the new architecture of the engine in 3.0…

The main problem was, switching the way in which the `TemplateManager` (heir of the `TemplateRepository` in 2.1) per

[2015-10-26 01:43] #380 closed, assigned to danielfernandez

[2015-10-26 01:52] danielfernandez commented on #383
Together #423 and #421 should solve this, as the TemplateResolver now can be configured by means of the _template resolution attributes_, and then produce an `ITemplateResource` implementation that, when afterwards queried by the `StandardMessageResolver` for its `relative(...)` resources (the `.properties` files) will point to the right files in your multi-tenant scenarios…

[2015-10-26 01:52] #383 closed, assigned to danielfernandez

[2015-10-27 07:28] yacota commented on #383
Thanks

[2015-10-27 07:34] yacota commented on #380
Thanks for the effort.  I will give it a try ASAP.
By the way any chance to get a release candidate instead of working with snapshots ? As far as  I can see Thymleaf 3 seems pretty stable.

[2015-10-27 08:09] danielfernandez commented on #380
Yes, we should produce `3.0.0.BETA01` this week.

[2015-10-30 00:56] danielfernandez commented on #415
Tested OK

[2015-10-30 00:56] #415 closed, assigned to danielfernandez

[2015-11-01 22:24] danielfernandez opened #424 "Fix behaviour of addTemplateResolver"
Right now, when `addTemplateResolver(...)` is called just after creating a new `TemplateEngine` instance, the specified template resolver is being **added** after the `StringTemplateResolver` being configured by default.

The problem is, this `StringTemplateResolver` should be transparent to users, so it should only be configured if the user has not specified any resolvers. As soon as any template

[2015-11-02 18:24] cescoferraro commented on #160
I am trying to update to 3.0.0.ALPHA03 because of this issue but it is breaking Spring Boot.
Any pointers?
https://gist.github.com/cescoferraro/6015f0d142bcd4570c71

[2015-11-02 18:30] danielfernandez commented on #160
Thymeleaf 3.0.0 (current version is `3.0.0.BETA01`) is very new, and many dialects have not updated to the new APIs yet. Specifically, you (or Spring Boot) seem to be using @ultraq's Layout Dialect, which does not work with 3.0 yet.

I'm afraid you will have to wait some time for dialect integrators to update to 3.0. Or avoid any non-standard dialects in the meantime…

More info: http://forum.thym

[2015-11-02 18:38] cescoferraro commented on #160
thanks @danielfernandez !

[2015-11-03 01:02] ultraq commented on #160
And I've just started work towards updating the layout dialect for Thymeleaf 3 - I'm getting lots of questions about it!

[2015-11-03 22:49] danielfernandez opened #425 "Allow inlining to avoid creating new Strings"
Right now the inlining mechanism is set to create new Strings in memory with the results of processing the inlined texts.

However, in certain conditions (no post-processors, no other text processors but inliners -- so nobody will be able to modify the _context_ between the moment of inlining and output), we should be able to make inliners set a `CharSequence` imlpementation into the `IText` node

[2015-11-03 22:51] #425 closed, assigned to danielfernandez

[2015-11-03 22:54] danielfernandez opened #426 "Allow different-mode insertion to avoid creating new Strings"
In the same way as #425 should make inlining avoid creating new Strings by means of using `StringWriter`s, maybe the same mechanism could be applied to the insertion of fragments with different template modes.

In this case, however, maybe it will a bit more difficult to determine if the context is really going to remain unchanged from the insertion moment to output, as we will depend on the fact

[2015-11-03 22:56] danielfernandez commented on #425
Already in `3.0.0-SNAPSHOT`

[2015-11-06 04:47] cp10000 opened #427 "Powerful feature of Template Inheritance should be implemented in Thymeleaft"
I have found that the powerful feature of Template Inheritance found in the tool Jinja2 should also be considered for Thymeleaf.   It's a powerful feature!   It allows the encapsulation of complexity in parent templates and allow child templates to differ only in what's different.   A library of parent templates can be created and creating child templates is only a matter of stating the difference

[2015-11-08 22:46] wienczny opened #428 "Semantic change for same template fragments in 3.x"
The semantic of same template fragements changed between 2.x and 3.x.
In 2.x I'm using this feature for page templates that are wrapped around a content template. In 3.x this does not work any more:

In the page template is a "fragement"-declaration at the html element and a "replace" using the fragment "content" that is contained in "this".
In the content page is a "replace" at the html element i

[2015-11-09 05:16] ultraq commented on #427
Template inheritance may not be in Thymeleaf's core, but I developed a dialect ([layout dialect](https://github.com/ultraq/thymeleaf-layout-dialect)) that can do that.  Even reading through Jinja2's docs on that feature, it read an awful lot like the readme of the layout dialect.

Would that be something that could help you out?

Looking through the feature list of Jinja2, the only thing it doesn'

[2015-11-09 11:18] afillatre commented on #345
Hi,

I have the same issue. I could use a shorter syntax as well.

[2015-11-10 16:48] Antibrumm opened #429 "Thymeleaf 3.0.0 AttributeName could contain the completeName too instead of `getAllCompleteNames`"
While updating the thymeleaf-with-dialect to version 3.0.0 I had my troubles working with the "declared" attribute names. I'm not sure if that is because `TemplateMode.HTML` is meant to be case insensitive or not.

Anyway. From my dialect point of view a `variable` has to be written into the `engineContext` with the name given on the attribute, in a case sensitive way. I had some trouble matching

[2015-11-10 20:34] seanhinkley commented on #428
+1

[2015-11-12 12:52] Antibrumm opened #430 "3.0.0.BETA01 - Custom Dialects need to include `StandardXmlNsTagProcessor`"
Hi
I'm in the process of updating my two dialects for version 3.0.0.BETA01 and as a side effect I had to include this processor myself in both dialects. Is this desired behavior?

[code]

[2015-11-12 14:48] george-hawkins-work opened #431 "HTML entities in URLs in order to avoid invalid XML not being "unescaped""
Unescaped is probably the wrong term, but...

In one of my Thymeleaf templates I initially had something of the form:

[code]

As you all probably expect this resulted in a parse error:

[code]

I.e. the parser sees the ampersand as the start of an HTML entity called `beta` and complains that it has not been correctly terminated with a semicolon.

Googling for this suggests just replacing `&` with

[2015-11-12 18:38] Antibrumm commented on #429
I found a bit a nicer way of matching originally declared attributes with the AttributeNames. If i understand correctly that length of an attribute is not changing, just the case (in HTML mode). So a simple substring is enough.

Never the less, I think it would be nice to be able to get the original value directly from an AttributeName, whatever the templateMode might be. The two correlated lists

[2015-11-13 15:46] seanhinkley opened #432 "Nested javascript arrays throw TemplateProcessingException"
Inlined output expressions are great but get tripped up with nested javascript arrays.

consider this:

[code]

The expression parser is trying to parse <code>fizz,buzz], [foo,bar</code>

Exception thrown at https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/standard/expression/StandardExpressionParser.java#L142

could a tag attribute be added when the parser comes

[2015-11-14 21:08] ultraq commented on #429
I've also had to add whole host of "utility" methods into my code to handle the variances between the XML and data- attribute declarations (eg: https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/Source/nz/net/ultraq/thymeleaf/LayoutDialect.groovy#L88-L113).  Was never sure if other dialect devs needed similar things or if it was just me.

[2015-11-15 19:40] akarandii opened #433 "Invocation of #fields.hasErrors() fails to NPE."
"fields" object is not null and true/false result is expected, but invocation fails with:

org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating SpringEL expression: "#fields.hasErrors()" (/registration/form:9)
    at org.thymeleaf.spring4.expression.SpelVariableExpressionEvaluator.evaluate(SpelVariableExpressionEvaluator.java:161) ~[thymeleaf-spring4-2.1.4.RELEASE.jar:2.1.4.R

[2015-11-15 20:32] #433 closed, assigned to nobody

[2015-11-15 20:32] akarandii commented on #433
Sorry, i missed to bound expression with tag contains th:object

[2015-11-16 14:38] george-hawkins-work commented on #431
I guess this was a case of [rubber duck debugging](https://en.wikipedia.org/wiki/Rubber_duck_debugging), by the time I'd gotten to the end of the above issue report I was happy I understood the issue.

However I still think it should be clearly documented somewhere (maybe it already is, if so where?).

Basically it should explain:
- The ideal solution is to separate out your Javascript into a sepa

[2015-11-16 14:38] #431 closed, assigned to nobody

[2015-11-19 14:19] danielfernandez commented on #345
I might not be understanding completely your issue...

From what I understand, you are passing **only one** parameter to your message, and this parameter is an array.

So you have a message such as:

[code]

And then `someStringsArray` is a `String[]` such as `["hello", "goodbye"]`.

If you do:

[code]

The expected result would be something like:

[code]

Which is normal, because arrays have no `

[2015-11-19 14:19] #345 closed, assigned to danielfernandez

[2015-11-19 23:13] danielfernandez commented on #429
Hmm... yes, I think `ElementAttributes` should definitely have some kind of `getName()`. Actually, it's a strange ommission. I can try to add it.

It cannot be added to `AttributeName` because objects of that class are not created for each attribute in each tag. Instead, they are a sort of _global definition_. They are kept in a repository, one for each possible attribute, and retrieved as a sort

[2015-11-19 23:18] danielfernandez commented on #430
Yes. As of 3.0 there is no mechanism in the engine itself to continuously look for `xmlns` attributes and remove them. It becomes the responsibility of the dialects to do so. So your solution is correct.

[2015-11-19 23:18] #430 closed, assigned to danielfernandez

[2015-11-19 23:20] danielfernandez commented on #427
For more info on the several possibilities Thymeleaf offers for page composition, please have a look here: http://www.thymeleaf.org/doc/articles/layouts.html

I'm closing this question as answered for now.

[2015-11-19 23:20] #427 closed, assigned to ultraq

[2015-11-19 23:22] danielfernandez commented on #418
Actually, the idea is that you can specify a dialect with `null` prefix, and that will make thymeleaf apply your dialect's processors on tags/attributes without namespace. This should work both in 2.1 and 3.0.

If not, please feel free to open a bug issue ticket, thanks. I'm closing this question as answered for now.

[2015-11-19 23:22] #418 closed, assigned to danielfernandez

[2015-11-19 23:24] danielfernandez commented on #316
This is covered by #394 in Thymeleaf 3.0

[2015-11-19 23:24] #316 closed, assigned to danielfernandez

[2015-11-19 23:28] danielfernandez commented on #351
This is a need for Spring form binding: what you bind must be bean, an object with getters/setters. You cannot perform form binding directly on a list of elements. That's why you had to create this object.

[2015-11-19 23:28] #351 closed, assigned to danielfernandez

[2015-11-19 23:40] danielfernandez commented on #392
The `th:attr` attribute expects an assignation sequence as value (`a=x,b=y`), not a simple expression like `${myvariable}`. Even if the contents of your `${myvariable}` have the shape of an assignation sequence, it would need two evaluations for that to work (first to convert your variable into the assignation sequence it has as value, second to execute the assignation sequence as such), so you'd

[2015-11-19 23:40] #392 closed, assigned to danielfernandez

[2015-11-19 23:46] danielfernandez commented on #375
Actually, the `ThymeleafViewResolver#setStaticVariables(Map)` method should allow you to do precisely this…

[2015-11-19 23:46] #375 closed, assigned to danielfernandez

[2015-11-19 23:50] danielfernandez commented on #372
This is equivalent to #72, which was postponed and put into the wishlist. Please see https://github.com/thymeleaf/thymeleaf/issues/72#issuecomment-144871041

I'm closing this as _declined_ in order to focus on #72 and not having repeated tickets for the same feature.

[2015-11-19 23:50] #372 closed, assigned to danielfernandez

[2015-11-20 00:08] danielfernandez commented on #416
Improving JavaDoc is an ongoing effort for all versions, we are continuously trying to add more docs with useful explanations to every class. However, most of the functionality in all relevant classes (like `org.thymeleaf.expressions.Ids`) is explained at the tutoriales.

[2015-11-20 00:08] #416 closed, assigned to danielfernandez

[2015-11-20 00:15] danielfernandez commented on #364
This looks like a Spring form-binding issue. If you want to perform Spring form binding (and therefore have the date formats apply between view and controller) you should be using `th:field`, not simply `th:value`, and also specifying your form bean in an enclosing tag with `th:object`. See the _Thymeleaf + Spring_ tutorial for more details.

[2015-11-20 00:15] #364 closed, assigned to danielfernandez

[2015-11-20 00:17] danielfernandez commented on #393
As a side note: Thymeleaf 3.0 allows you to use `th:ng-click="blotoggle([[${posts.id}]])"`, and that will create an `ng-click` attribute with the contents you need.

[2015-11-20 00:17] #393 closed, assigned to danielfernandez

[2015-11-20 06:43] pere5 commented on #81
+1 I'm very sad to just find out that my inlined JSON contains 70% null values because Thymeleaf ignores my `@JsonInclude(JsonInclude.Include.NON_NULL)`

http://stackoverflow.com/questions/33821081/thymeleaf-inline-javascript-ignore-null

[2015-11-20 12:27] chrylis commented on #372
:+1:

[2015-11-21 00:20] #429 closed, assigned to danielfernandez

[2015-11-21 00:21] #428 closed, assigned to danielfernandez

[2015-11-21 00:22] danielfernandez commented on #428
Fixed by means of #434

[2015-11-21 00:40] danielfernandez commented on #428
Already in `3.0.0-SNAPSHOT`

[2015-11-21 00:41] danielfernandez commented on #429
New `getCompleteName(...)` methods have been added to the `IElementAttributes` interface, which will return the original (complete) name an attribute had in the template, in a case-sensitive way.

Already in `3.0.0-SNAPSHOT`

[2015-11-21 00:54] danielfernandez commented on #347
Sorry for the big delay — somehow this ticket got untriaged and lost in the backlogs :( There are no known issues in 2.1.4 with IE conditional comments, so I will suppose you will have already found and fixed your problem by now. Will therefore close this ticket for the moment.

[2015-11-21 00:54] #347 closed, assigned to danielfernandez

[2015-11-21 17:39] danielfernandez commented on #363
The problem with computing absolute URLs is that the web server isn't always really aware of what these URLs should look like. Many times web servers are behind proxies, and all the information the Servlet API can offer about how the application was called from the browser is actually only the last step in a chain of proxied calls. Sometimes proxies add a specific HTTP header which allows the reco

[2015-11-21 17:39] #363 closed, assigned to danielfernandez

[2015-11-22 01:07] danielfernandez commented on #354
If text inlining is active (Thymeleaf 2.1), this shouldn't happen, and actually cannot be reproduced.

I've just added this test with your scenario (adding `th:inline="text"`), and it passes alright: https://github.com/thymeleaf/thymeleaf-tests/blob/2.1-spring41/src/test/resources/templateengine/attrprocessors/inline/inline22.thtest

Thymeleaf 3.0 has also been checked (though 3.0 does not require

[2015-11-22 01:30] danielfernandez commented on #354
Reopening. This can be reproduced in 2.1 using SpringEL (_SpringStandard_ dialect), but not OGNL (_Standard_ dialect). So there is a lack of synchronization between those two scenarios.

Actually, outputting the inlined expression seems to be the expected result in order to cover non-parsable expressions (not execution exceptions), but `OgnlVariableExpressionEvaluator` only catches `OgnlException`

[2015-11-22 01:56] danielfernandez commented on #354
Fixed now. Behaviour in 2.1 now matches that of 3.0 both with and without Spring integration. An exception should always be thrown when an inlined expression fails.

This is already in `2.1.5-SNAPSHOT`

[2015-11-22 01:56] #354 closed, assigned to danielfernandez

[2015-11-26 10:38] gfouquet commented on #352
Hi,
Do you have any feedback on that issue / PR ?

[2015-11-26 23:51] danielfernandez opened #435 "Make JavaScript and CSS serialization in the Standard Dialects configurable"
Both `JAVASCRIPT` and `CSS` template modes, as well as `javascript` and `css` inlining blocks (`th:inline`) perform their escaped text output (`th:text` attribute or `[[...]]` inlined output expressions) in the form of serialized values: string literals, numbers, booleans and dates. In the case of JavaScript, complex objects might also be output in JavaScript object syntax which, due to the nature

[2015-11-26 23:54] danielfernandez commented on #435
Two new interfaces have been created in the `org.thymeleaf.standard.serializer` package:
- `IStandardJavaScriptSerializer`
- `IStandardCSSSerializer`

And methods `setJavaScriptSerializer(IStandardJavaScriptSerializer)` and `setCSSSerializer(IStandardCSSSerializer)` have been added to the `StandardDialect` class so that users can now customize the way values are serialized in `JAVASCRIPT` and `CSS

[2015-11-26 23:54] #435 closed, assigned to danielfernandez

[2015-11-26 23:55] danielfernandez commented on #435
Already in `3.0.0-SNAPSHOT`

[2015-11-26 23:55] danielfernandez commented on #81
This has been implemented as specified in #435. It is already in `3.0.0-SNAPSHOT`

[2015-11-26 23:55] #81 closed, assigned to danielfernandez

[2015-11-27 00:02] danielfernandez commented on #348
This should be covered by Jackson support in #435, which has just been implemented into `3.0.0-SNAPSHOT`

[2015-11-27 00:02] #348 closed, assigned to danielfernandez

[2015-11-27 01:14] ultraq commented on #352
Ping @danielfernandez

[2015-11-29 12:55] danielfernandez commented on #352
@ultraq oops :( reviewed!

[2015-11-30 21:52] danielfernandez opened #436 "Fix issues with default Enum serialization"
Serialization of `Enum`s in 3.0 has two issues:
- It might be affected by the issue described in #352 (`StackOverflowError` when they contain abstract methods).
- Their serialization does not match that of Jackson, thus producing different output when Jackson is enabled than when it isn't. Jackson simply uses the `Enum`'s `toString()`.

[2015-11-30 21:53] #436 closed, assigned to danielfernandez

[2015-11-30 21:57] danielfernandez commented on #436
Already in `3.0.0-SNAPSHOT`

[2015-11-30 22:38] danielfernandez commented on #352
PR merged. Already in `3.0.0-SNAPSHOT`

[2015-11-30 22:38] #352 closed, assigned to danielfernandez

[2015-12-02 13:18] garpinc opened #437 "Infinite loop in 3.0.0 Beta"
org.thymeleaf.engine.WebEngineContext.ServletContextAttributesMap.size()

Method looks like this:
@Override
        public int size() {
            int size = 0;
            final Enumeration<String> attributeNames = this.servletContext.getAttributeNames();
            while (attributeNames.hasMoreElements()) {
                size++;
            }
            return size;
##         }

in while l

[2015-12-02 13:24] danielfernandez commented on #437
Oops. Unfortunately, `this.servletContext.getAttributeNames()` is an `Enumeration`, and therefore has no `size()` method. So the counting algorithm is the right one, but a call to `nextElement()` is definitely missing.

Will be fixed in a snapshot, as soon as possible.

:)