[2015-12-02 13:26] garpinc commented on #437
I didn't imply it has a size().. I proposed using Collections.list which results in a list which then has corresponding size.. However perhaps it's more memory intensive so I agree with you.

[2015-12-02 21:44] #437 closed, assigned to danielfernandez

[2015-12-02 21:53] danielfernandez commented on #437
`3.0.0-SNAPSHOT` has just been updated with this fix. For more info on how to use a snapshot, please see http://www.thymeleaf.org/faq.html#use-snapshot

[2015-12-03 10:48] ultraq commented on #11
In Thymeleaf 3, could this be the job of a post-processing dialect developed by someone else, so not part of the Thymeleaf core?  You said something similar in #108, so I'm thinking it'll be the same for here.

[2015-12-03 11:01] ultraq commented on #36
Ah I remember this one :smiley: (I've been browsing some of our old but open issues)  Is this, and #35, still something we want to see through to official-ish status?

[2015-12-03 23:06] danielfernandez opened #438 "PORT - Possible infinite loop with Numbers.sequence"
**PORT** of #377 for the Thymeleaf 3.0 branch
##

If I use this code

[code]

it's make an infinite loop.

[2015-12-03 23:12] #377 closed, assigned to danielfernandez

[2015-12-03 23:14] danielfernandez commented on #377
This has been finally implemented like this:

[code]

[2015-12-03 23:14] danielfernandez commented on #377
Already in `2.1.5-SNAPSHOT`

[2015-12-03 23:21] #438 closed, assigned to danielfernandez

[2015-12-03 23:32] #349 closed, assigned to danielfernandez

[2015-12-03 23:32] danielfernandez commented on #349
Fixed in 2.1. Does not affect the 3.0 branch.

Already in `2.1.5-SNAPSHOT`

[2015-12-04 00:04] danielfernandez commented on #366
This has been verified to not happen anymore in the 2.1 (`2.1.5-SNAPSHOT`) and 3.0 (`3.0.0-SNAPSHOT`) branches.

[2015-12-04 00:04] #366 closed, assigned to danielfernandez

[2015-12-04 00:10] danielfernandez commented on #11
@ultraq yes exactly, this should do a great external dialect, a part of the ecosystem.

In fact, with Thymeleaf 3.0's architecture I would in fact doubt between implement it as an `IPreProcessor` and an `IPostProcessor`. I think the former (pre-processor) would be more both CPU and memory efficient in most cases.

I'm closing this as declined, the same as #108 was.

[2015-12-04 00:12] danielfernandez commented on #11
Actually, better leave this one open, just like #35 and #36, with the `contrib:open` label so that we can use these as a repository of ideas to external contributors.

[2015-12-04 00:16] danielfernandez commented on #36
In this case of SQL querying it would be perfectly fine (actually, probably better) to have an external dialect, created by someone and not an official `extras` extension. For #35 I'm not that sure… but of course it would be great if someone developed it, official or not ;)

[2015-12-04 00:18] danielfernandez commented on #35
@ultraq Oops! I still haven't had a look at that! :-$

[2015-12-04 09:00] jmiguelsamper commented on #36
@danielfernandez What do you mean by "it would be great if someone developed it"? Do you want https://github.com/jmiguelsamper/thymeleaf-extras-sqldialect to be ported to 3.0? Or do you want to be published in a more official way?

[2015-12-04 09:05] danielfernandez commented on #36
@jmiguelsamper I was actually talking about #35, without remembering that @ultraq had _actually developed it_ :-(.

Anyway, in both cases (your SQL and @ultraq 's servlet extensions), shouldn't they go to the ecosystem page on the website? Any reasons to not do so?

[2015-12-04 09:16] jmiguelsamper commented on #36
The reason I did not promote it is that I see it more like a game/proof of concept/example that something that could interest anyone. But I am OK if you prefer to promote it.

[2015-12-04 09:40] danielfernandez commented on #36
@jmiguelsamper I would be fine with listing it at the ecosystem, but it's your decision. It's you who'll have to answer support tickets ;)

[2015-12-04 21:41] #358 closed, assigned to danielfernandez

[2015-12-04 21:42] danielfernandez commented on #358
Fixed in 2.1. Does not affect 3.0.

Already in `2.1.5-SNAPSHOT`

[2015-12-04 22:01] danielfernandez commented on #382
This is actually the way Thymeleaf 2.1 works, by design. I agree that it might be confusing (in fact, Thymeleaf 3.0 changes this and works in exactly the way you expect), but there is a reason for it.

First, it's not that recursive fragments _stopped_ working in 2.1. It's just that 2.1 introduced the `this` keyword for making reference to the _same_ template, but this _same_ template actually mea

[2015-12-04 22:01] #382 closed, assigned to danielfernandez

[2015-12-04 22:07] danielfernandez commented on #367
This is actually the expected behaviour. By the moment you specify to Spring you want the `views/all-your-articles.html :: ajax` fragment, and Spring passes that request to Thymeleaf, Thymeleaf will go to the `all-your-articles.html` template and parse+execute _only_ the `ajax` fragment. So such fragment has to actually live inside that template.

In order to work placing `th:fragment` inside `lis

[2015-12-04 22:07] #367 closed, assigned to danielfernandez

[2015-12-04 22:11] danielfernandez commented on #417
It is a matter of _processor precedence_. In this case, `data-th-include` has a precedence of `100` whereas `data-th-if` has a precedence of `300`. So `include` does always execute before `if` when in the same tag…

[2015-12-04 22:11] #417 closed, assigned to danielfernandez

[2015-12-04 23:19] danielfernandez commented on #432
Yes, that code will be considered an inlined expression and you will obtain an exception. But there are several ways to avoid it.

First, if you are inlining javascript inside an HTML template, you could just disable inlining by using `th:inline="none"`:

[code]

And in the case you were actually writing a template in `JAVASCRIPT` template mode, or you just didn't want to disable inlining for an e

[2015-12-04 23:19] #432 closed, assigned to danielfernandez

[2015-12-05 00:08] danielfernandez commented on #350
This should be mostly covered in Thymeleaf 3.0 by the creation of an out-of-the-box implementation of `ITemplateResolver` that always returns a previously configured text. This should be useful in some cases as the last element of a resolver sequence.

[2015-12-05 10:37] jmiguelsamper commented on #36
Added to ecosystem page. I think this issue can be close.

[2015-12-05 10:40] jmiguelsamper commented on #35
The standalone servlet was integrated in the example app at https://github.com/jmiguelsamper/thymeleaf-extras-sqldialect which now is listed on the ecosystem page.

The only outstanding question is whether integrate the servlet into the Thymeleaf core or not.

[2015-12-05 20:18] chrylis commented on #417
Unless there are other intermediates that would be significantly disrupted, I suggest reconsidering that relative precedence. Intuitively, I expect the conditionals to be evaluated before include/replace.

[2015-12-05 20:25] ultraq commented on #36
And time to update them for Thymeleaf 3.0 and publish to Maven :P

[2015-12-05 20:27] #36 closed, assigned to nobody

[2015-12-05 20:31] ultraq commented on #35
I think it shouldn't be core, and just get a mention in the ecosystem page like your SQL dialect and then we'll support them like we do with our other Thymeleaf add-on projects.

[2015-12-05 20:34] danielfernandez commented on #35
:ok_hand:

[2015-12-05 20:34] #35 closed, assigned to nobody

[2015-12-05 22:36] danielfernandez commented on #362
This seems to be a _nekoHTML_ issue, apparently some kind of bad cleanup of the tag balancing mechanism. I've reported it to the nekoHTML team here: https://sourceforge.net/p/nekohtml/bugs/162/

[2015-12-05 22:36] #362 closed, assigned to danielfernandez

[2015-12-05 22:51] danielfernandez commented on #369
This should be possible both via an `IPreProcesor` or also an `IPostProcessor` implementation, though probably the former (preprocessor) would be preferred in order to act only once on markup that might be repeated during processing like e.g. by means of iteration. Also, some mechanisms created for performing direct output on the response writers (e.g. _lazy processing_ or _lazy escaping_ char seq

[2015-12-05 22:51] #369 closed, assigned to danielfernandez

[2015-12-07 14:48] beradrian opened #439 "Question: Markdown in Thymeleaf"
What will be the best way to implement Markdown in Thymeleaf?
- template mode
- a new dialect (what processors?)

It would be useful if I can embed markdown in HTML.
I also asked this on SO: http://stackoverflow.com/questions/34115270/markdown-in-thymeleaf.

[2015-12-07 21:37] danielfernandez commented on #439
What do you mean with _implementing Markdown in Thymeleaf_? Tuning thymeleaf to turn it into some kind of markdown processor (which I wouldn't recommend at all), or rather create some kind of additional processors that would let you run a markdown processor for a piece of markup like e.g. the body of a `<code>` (or any other)?

I will suppose it is the latter, and you want to process a body of a H

[2015-12-07 21:37] #439 closed, assigned to danielfernandez

[2015-12-07 22:01] #424 closed, assigned to danielfernandez

[2015-12-08 01:04] danielfernandez opened #440 "Create a default template resolver"
Some scenarios should benefit from the existence of a template resolver that always resolves exactly the same text.

This should work as a default so that whenever a template is not found by the rest of the template resolver chain (something that can now happen thanks to the `checkExistence()` check in template resolvers in Thymeleaf 3.0), the template text configured here as default is returned i

[2015-12-08 01:05] danielfernandez commented on #350
Note that the previous comment does not apply - default template resolution (#440) should have no effect in this, as we are here talking about default values for fragment parameters.

[2015-12-08 08:47] beradrian commented on #439
Yep, that's what I meant. Thanks!

[2015-12-08 09:54] beradrian commented on #439
From what I understood from Javadoc, I will have to implement first the _markdown enabler_ as an `AbstractAttributeModelProcessor` and use `structureHandler.setLocalVariable` to set that variable. Then I have to implement the _markdown executor_ as an `AbstractTextProcessor` and in the `doProcess` method to test the variable using `context.getVariable` and if set to replace the text with a new mod

[2015-12-08 13:06] danielfernandez commented on #439
That sounds right, except you don't really need that call to `structureHandler.replaceWith` at the text processor. You could simply get the `text` element and do `text.setText(transformMarkdown(..))`.

OK, that is a problem because you need to avoid the parser to think those HTML tags in Markdown are actually part of your higher-level markup. The only tags that the thymeleaf parser (as of 3.0) wil

[2015-12-08 13:16] beradrian commented on #439
Using the `<script>` tag sounds good. There is still the problem with inline expressions.

[2015-12-08 13:23] beradrian commented on #439
Ahh, and it would be nice if the transformed text will still be processed after. E,g, if you have a `<img>` tag with `th:src`.

[2015-12-08 22:14] #440 closed, assigned to danielfernandez

[2015-12-08 22:23] danielfernandez commented on #440
Updated `3.0.0-SNAPSHOT`

[2015-12-08 23:35] jpomykala opened #441 "Reversed if condition"
I upgraded thymeleaf from stable 2.1 version to 3.0 BETA-1 and I get exception on line like this:
`${place.user} != null ? ${place.user.username} : 'anonymous'`

If i change `!=` to `==` it works like on 2.1 version.

version: 2.1 `(condition) ? true : false`
version: 3.0 BETA-1 `(condition) ? false : true`

[code]

[2015-12-10 12:21] T3rm1 commented on #314
Over one year later, nothing has changed, 3.0 isn't out and we are still not able to mock Thymeleaf with Mockito. Why didn't you change the code? It's really easy and fast to do...

[2015-12-10 12:27] karollewandowski commented on #314
If it's a blocker for you, you can use PowerMockito to mock final methods.

[2015-12-11 19:23] mohic commented on #377
Thanks for this fix... And for Thymeleaf  :smile:

[2015-12-12 22:20] danielfernandez commented on #439
OK, your scenario really made me think and pushed me to perform a significant amount of refactoring on the way inlined output expressions are (were) processed.

The problem is (was) that, until now the Standard Dialects were preprocessing inlined output expressions at parsing time. Which was very convenient because it allowed text nodes to be cached with inlining already resolved and converted int

[2015-12-15 05:07] refacktor commented on #247
does anybody have a working example of how to do this by overriding HttpServletResponse.encodeURL()?

[2015-12-19 17:58] danielfernandez opened #442 "Remove getDialect() from IProcessor"
The first version of the `IProcessor` interface in 3.0 (`3.0.0.BETA01`) includes a `getDialect()` method that forces every processor ever created to be able to return the dialect object that created it. This in turn forces most of the processor constructors to include the `this` keyword, something like:

[code]

Even if this processor construction is normally not executed at the dialect's construc

[2015-12-19 18:02] danielfernandez commented on #442
**NOTE** this should also be done on the `IPreProcessor` and `IPostProcessor`interfaces, for the same reasons

[2015-12-19 23:39] #442 closed, assigned to danielfernandez

[2015-12-20 00:18] danielfernandez commented on #442
Already in `3.0.0-SNAPSHOT`

[2015-12-22 21:36] danielfernandez commented on #441
I have been unable to reproduce this issue either in `3.0.0.BETA01` or in `3.0.0-SNAPSHOT`. Trying a similar scenario to yours (object containing inner object containing `String` property) with an equivalent expression, both with `!=` and `==`, both with `null` and non-`null` inner objects… everything seems to work alright.

Could you please elaborate a bit more on the specific circumstances or th

[2015-12-22 22:48] danielfernandez opened #443 "Remove the need to compute line and col for every processor"
Abstract versions of element processors `AbstractElementTagProcessor`, `AbstractElementModelProcessor`, `AbstractAttributeTagProcessor` and `AbstractAttributeModelProcessor` all compute template name, line and column referred to the execution of that specific processor.

The problem is, this information is not needed by most processor implementations, and specifically computing the `line` and `col

[2015-12-22 22:48] danielfernandez commented on #443
Already in `3.0.0-SNAPSHOT`

[2015-12-22 22:48] #443 closed, assigned to danielfernandez

[2015-12-23 22:49] danielfernandez commented on #441
Please note the tests linked above, added to the `thymeleaf-tests` repository. All of them pass.

I'm closing this for now. Please feel free to reopen if you obtain any new data about this.

[2015-12-23 22:49] #441 closed, assigned to danielfernandez

[2015-12-24 12:03] juanitocalero opened #444 "th:content rendering fails after 3.0 migration"
I found an issue migrating to Thymeleaf 3.0.

The engine throws an `TemplateProcessingException`
[error-thymeleaf.txt](https://github.com/thymeleaf/thymeleaf/files/71702/error-thymeleaf.txt)
if the tempate has an attribute `th:content` inside a `meta` tag. The static `content` attribute works ok.

The value of the attribute is irrelevant. It fails everytime.

It looks like it fails with the `meta`

[2015-12-24 12:14] juanitocalero commented on #444
Also, it would be very helpful if the exception could leave some information of the location of the error.
I had to completely clean my html in order to find the source of the problem.

Great update, anyway. Except this problem, very straightforward and clearly documented.

[2015-12-24 15:22] danielfernandez commented on #444
Strangely, this looks like a parsing error... could you please post the specific fragment of template that's provoking this error? Also, I'm interested on the value you are setting for that `th:content`. Thanks

[2015-12-24 15:23] danielfernandez commented on #444
And also... was this `3.0.0.BETA01` or `3.0.0-SNAPSHOT`? If it was the former… could you try `3.0.0-SNAPSHOT` and see if the issue is still there? See http://www.thymeleaf.org/faq.html#use-snapshot on how to use a snapshot.

[2015-12-24 15:33] danielfernandez commented on #444
Most probably something more complex than a mere `th:content` is happening at your template, I'm afraid. See the tests created in the commit linked above, which perfectly pass both on `3.0.0.BETA01` and `3.0.0-SNAPSHOT`.

The more info you can give us about your failing template the better. Thanks again.

[2015-12-24 16:31] danielfernandez commented on #444
More questions: from what I see in your exception trace, the error seems to havey nothing to do with a `th:content`, and instead happens when the engine tries to insert a `Model` (i.e. a fragment of template) which is malformed because it only has one of the _template start_ / _template end_ events (it should either have both or none).

This can only happen in a `th:utext`, `th:insert` or `th:repl

[2015-12-25 16:13] ivan-gammel commented on #213
+1 to this request: I'd like to see Locale in TemplateResolver parameters too. I'm working on open-source library for application resource management, which already has integration with Thymeleaf 2.1:
https://github.com/resource4j/resource4j

resource4j 2.x implemented custom resource file and message resolvers as Thymeleaf backend and is supposed to handle caching itself, so typical usage pattern

[2015-12-27 09:50] juanitocalero commented on #444
I'm using `3.0.0.BETA01`. And my template uses fragments, as you said. I'm attaching my `pruebas.html`, athough right now I have no time to clean it up to the minimal working example.
In this example I got two same page fragments, the original and the test. The test is an exact copy of the original without the conflicting  `meta` tags. Adding the original to the page fails. Adding the test works.

[2015-12-28 22:36] danielfernandez opened #445 "Unmatched close tags cause th:include to malform markup"
In scenarios where a `th:include` inserts a fragment that contains an unmatched close tag (a close tag that should not exist, mostly because it tries to close an element that has no body), such as:

[code]

That `</img>` close tag causes `th:include` to malform the inserted model and cause an exception such as:

[code]

[2015-12-28 22:38] danielfernandez commented on #444
Bug #445 has been determined to be the cause of this. In your case, most probably the cause are those unneeded `</meta>` close tags (`<meta>` is a void HTML element with no close tag)

[2015-12-29 00:13] #445 closed, assigned to danielfernandez

[2015-12-29 00:20] danielfernandez commented on #445
Already in `3.0.0-SNAPSHOT`

[2015-12-29 00:21] danielfernandez commented on #444
Fixed and already in `3.0.0-SNAPSHOT`. Thanks.

[2015-12-29 00:21] #444 closed, assigned to danielfernandez

[2015-12-29 14:17] sorayasl opened #446 "Add getter to get first level template name"
At https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/expression/ExecutionInfo.java it would be nice having a method to get first level template name instead of calling `getTemplateNames()` to get the first item

[2015-12-31 20:37] dlvenable opened #447 "Thymeleaf templates are not working in HTML script elements"
Thymeleaf 2.1 would correctly operate within HTML `<script>` tags. However, upon updating to 3.0.0.BETA1, these replacements are no longer occurring. The generated HTML has the data within the script exactly as it is in the template file.

For example, the following template produces:

[code]

produces:

[code]

 (where scriptId was just some UUID I made for testing)

[2016-01-02 00:50] danielfernandez opened #448 "Tentative conversion to BigDecimal slows down some complex expression operators"
Forum reference: http://forum.thymeleaf.org/Concatenating-strings-td4029410.html

Some complex operators such as addition (`+`) try to perform a conversion of the operands to BigDecimal in order to determine if such addition should be taken as a numeric addition operation or rather a string concatenation.

Such conversion is performed by means of the `EvaluationUtils.evaluateAsNumber(Object)` meth

[2016-01-02 00:51] #448 closed, assigned to danielfernandez

[2016-01-02 00:56] danielfernandez commented on #448
Already in  `3.0.0-SNAPSHOT`

[2016-01-02 16:28] danielfernandez opened #449 "PORT: Tentative conversion to BigDecimal slows down some complex expression operators"
PORT of #448 for Thymeleaf 2.1

---

Forum reference: http://forum.thymeleaf.org/Concatenating-strings-td4029410.html

Some complex operators such as addition (`+`) try to perform a conversion of the operands to BigDecimal in order to determine if such addition should be taken as a numeric addition operation or rather a string concatenation.

Such conversion is performed by means of the `Evaluatio

[2016-01-02 16:35] danielfernandez commented on #449
Already in `2.1.5-SNAPSHOT`

[2016-01-02 16:35] #449 closed, assigned to danielfernandez

[2016-01-02 21:06] dlvenable opened #450 "Pre-processing templates do not process include elements"
I'm working with the new `IPreProcessor` plug-in capabilities. I have found that when I configure an `IPreProcessor` using an `IPreProcessorDialect`, the `ITemplateHandler` is not receiving any handle events for template fragments (`th:include`).

To clarify, the `IPreProcessor` does receive the `handleStandaloneElement` event for the element containing the `th:include`. But, it does not receive a

[2016-01-02 21:15] danielfernandez commented on #447
This was due to the way `<script>` tags are treated in AttoParser 2.0. `<script>` tags are in fact `CDATA` per the HTML5 specification and thus should not be parsed and processed. That's what the new `<template>` tag in HTML5 is for.

However, unfortunately IE has no support for `<template>`, so many frameworks are still using `<script>` tags with _alien_ types such as your `text/ng-template`. So

[2016-01-02 21:15] #447 closed, assigned to danielfernandez

[2016-01-02 21:19] dlvenable commented on #447
To clarify, in a build since 3.0.0.BETA1, the `script` tags should be able to have template replacements _if_ the `type` is a custom type, like `text/ng-template`?

[2016-01-02 21:21] danielfernandez commented on #447
After `3.0.0.BETA01`. Yes.

See http://www.thymeleaf.org/faq.html#use-snapshot to learn how to use a snapshot, if you want to test it right now.

[2016-01-02 21:33] dlvenable commented on #450
Found in `3.0.0.BETA01`.

[2016-01-02 22:35] danielfernandez commented on #450
Confirmed. This is the consequence of a limitation in the current processing mechanisms of the new architecture. Inserted fragments have their events directly injected into the processed template's event queues, instead of conforming separate (nested) execution calls. This significantly helps performance and reduces context-related memory overhead.

An alternative option could be evaluated: have `

[2016-01-03 01:40] dlvenable commented on #450
Thanks for the explanation. The basic problem makes sense and I see why it would be difficult to implement. Though I'm not familiar enough with the internals to understand the performance costs. In my opinion, if a Thymeleaf client wants a pre-processor, he would also want and expect that pre-processor to work on an entire template, including fragments.

[2016-01-03 08:59] ultraq commented on #430
Ah, this one tripped me up too.  Thanks for pointing it out.

[2016-01-04 09:19] yvanavermaet commented on #448
Hi @danielfernandez

Isn't this a rather dirty solution? In the evaluateAsNumber function you check the type of the object (number or string), but shouldn't this be done someplace else? The function states it should be a number.

I think you need to write a wrapper for the "+", "eq", "ne", ... (explained in the post on the thymeleaf forum), so that it calls the correct "evaluateAs"-function immedi

[2016-01-08 18:02] srang commented on #64
So is this actually possible now? I'm looking at the documentation and at the commit and I don't see how to actually pass in the timezone to the #dates.format function

[2016-01-09 09:05] ultraq commented on #64
Seems like the docs are out of date for this.  Raised a new issue to update them: https://github.com/thymeleaf/thymeleaf-docs/issues/32

The new timezone-specifying methods are as per Daniel's comment:

[2016-01-09 19:39] srang commented on #64
Good call @ultraq. Also from playing around with it and looking at this [post](http://forum.thymeleaf.org/dates-format-and-TimeZone-td3735317.html) I think there could be more done around the handling of timezones. I tried doing what Blejzer said to do `#dates.format(#calendars.createForTimeZone(#calendars.year(ticket.ticketDate), #calendars.month(ticket.ticketDate), #calendars.day(ticket.ticketDa

[2016-01-13 14:12] nishanta454 commented on #325
Can we include text file in thymeleaf html file / template?

[2016-01-13 14:16] chrylis commented on #325
Eagerly looking forward to the 3.0 series!

[2016-01-17 00:30] neblina-software commented on #393
Thanks for the fix! Is there a way for using BETA or ALPHA release in spring-boot-thymeleaf?

[2016-01-19 09:04] VictorWei007 commented on #357
The problem is in the following code, because the cache is used.
Whether to disable caching????

private static SpelExpression getExpression(final Configuration configuration, final String spelExpression) {

        SpelExpression exp = null;
        ICache<String, Object> cache = null;

        final ICacheManager cacheManager = configuration.getCacheManager();
        if (cacheManager != null) {

[2016-01-25 22:21] danielfernandez opened #451 "[MAJOR FEAT] Fragment Expressions"
Building on the idea explained at #180, Thymeleaf 3.0 will introduce a new type of _simple expressions_ for the Thymeleaf Standard Expression engine. These expressions are called **Fragment Expressions** and their main idea is that they _generalize_ the syntax that was already being used in `th:insert`/`th:replace`/`th:include` in order to be able to use _resolved fragments_ as any other kind of o

[2016-01-25 22:21] danielfernandez commented on #451
Already in `3.0.0-SNAPSHOT`

[2016-01-25 22:21] #451 closed, assigned to danielfernandez

[2016-01-25 22:22] danielfernandez commented on #180
Implemented as **Fragment Expressions** for Thymeleaf 3.0. See #451

[2016-01-25 22:22] #180 closed, assigned to danielfernandez

[2016-01-25 22:22] danielfernandez commented on #3
See #451 (Thymeleaf 3.0)

[2016-01-25 23:18] danielfernandez opened #452 "[MAJOR FEAT] NO-OP token"
Thymeleaf 3.0 will introduce a new _possible result_ for most of the attribute processors in the Standard Dialects: the **NO-OP** (no-operation) token: `_`

The idea behind this token is to allow developers to specify cases in which the desired result for a Thymeleaf Standard Expressions is to actually _do nothing_, i.e. do exactly as if the processable attribute was not there at all:

For instanc

[2016-01-25 23:18] danielfernandez commented on #452
Already in `3.0.0-SNAPSHOT`

[2016-01-25 23:18] #452 closed, assigned to danielfernandez

[2016-01-25 23:27] danielfernandez commented on #350
This behaviour should be actually covered in Thymeleaf 3.0 by combinations of `th:with` with default expressions and also the no-op token explained at #452.

For example, `th:with` can be used for applying a default value to `param` with:

[code]

...and also the no-op token could be used in some scenarios where `hello` is used as _prototyping text_, such as:

[code]

So I see no need to make the

[2016-01-25 23:27] #350 closed, assigned to danielfernandez

[2016-01-25 23:33] danielfernandez opened #453 "Deprecate unwrapped syntax for fragment insertion"
After introducing fragment expressions in Thymeleaf 3.0 (see #451), the legacy _unwrapped syntax_ for these fragment expressions (i.e. `th:replace` values without `~{...}`) should be marked as _deprecated_ in preparation for removing it in future versions of Thymeleaf.

This future removal will allow an important reduction of complexity in the expression parsing phase of `AbstractStandardFragmentI

[2016-01-25 23:51] danielfernandez opened #454 "Update XML resource files used for IDE integration"
Thymeleaf 3.0 adds some new attributes to the Standard Dialects, such as `th:insert` or `th:ref`.

The XML files in the `resources` folders in Thymeleaf core, Thymeleaf Spring3/Spring4 integrations and also extras like the SpringSecurity3/4 dialects might therefore need a check and (if needed) an update with any new attributes.

[2016-01-26 00:34] ultraq commented on #453
We might need a good doc overhaul for this too :)

[2016-01-27 22:22] danielfernandez commented on #378
I agree that once Templates are cacheable (in Thymeleaf 3.0 we would be talking about implementations of the `org.thymeleaf.model.IModel` interface) it would be desirable to make them implement `java.io.Serializable`.

Unfortunately, this is not possible with Thymeleaf 3.0's architecture and model implementations. For example (but not only), template engine events (implementations of `org.thymelea

[2016-01-27 22:22] #378 closed, assigned to danielfernandez

[2016-01-27 22:29] danielfernandez commented on #260
This scenario is solved in Thymeleaf 3.0 by means of the `#requestdatavalues` expression object detailed at thymeleaf/thymeleaf-spring#97

[2016-01-27 22:29] #260 closed, assigned to danielfernandez

[2016-01-27 22:31] danielfernandez commented on #308
After careful evaluation, implementing this feature has been _declined_, at least for now.

Implementing a way to _process_ text living in context variables as if it were a piece of template code poses and amount of architectural difficulties, and might even raise some security concerns given the inavailability of the security context checks applied on fragment expressions.

However, the most impo

[2016-01-27 22:31] #308 closed, assigned to danielfernandez

[2016-01-28 21:10] danielfernandez commented on #426
Moved to Wish List, discarded for Thymeleaf 3.0. Implementing this would be complex from an architectural standpoint.

The key difference with inlining (see #425) is that when we are inlining we are already processing the inlined text node itself (applying a _text processor_), so we can simply create a lazy processing artifact for it which result is equivalent to simply modifying the Text node. Bu

[2016-01-28 21:58] danielfernandez opened #455 "Remove execInfo as a context variable (leave it as a mere expression object)"
After applying #59 in Thymeleaf 3.0, which meant the deprecation (and issue of warnings) when `execInfo` used as a context variable instead of an expression object, it makes sense that this functionality is simply removed in Thymeleaf 3.1

[2016-01-28 22:07] #446 closed, assigned to danielfernandez

[2016-01-28 22:14] danielfernandez commented on #446
New methods have been added to `#execInfo`:
- `#execInfo.processedTemplateName` obtains the name of the template at first level, i.e. used for calling the `TemplateEngine` itself.
- `#execInfo.processedTemplateMode` obtains the template mode corresponding to the `processedTemplaetName`.

Besides, the javadoc for the `ExecutionInfo.getTemplateName()` and `ExecutionInfo.getTemplateMode()` methods ha

[2016-02-02 10:40] JeroenVdb commented on #343
@danielfernandez I bumped into the same issue as @chrylis with a Facebook widget. The widget embed code contains a raw `&` which we must escape as `&amp;`. But in the `<script>`tag this also stays `&amp;` and thus calling the Facebook SDK.js with a wrong set of parameters ("amp;version" instead of "version").

![image](https://cloud.githubusercontent.com/assets/657797/12746970/aef8359e-c9a1-11e5-9

[2016-02-02 11:15] harikk commented on #189
@jmiguelsamper

If this is the case, how could I pass the following url?

http://example.com?id=20&somevar=content_with_&amp;rr=29

Here, I have only two parameters: id => 20 and somevar => `content_with_&amp;rr=29`

but according to the reply, it will have three parameters (id => 20, somevar => content_with_, rr =>29)

Also when I tried https://www.google.co.in/search?source=hp&amp;q=thymeleaf in

[2016-02-02 21:29] #450 closed, assigned to danielfernandez

[2016-02-02 21:35] danielfernandez commented on #450
This should be fixed now. The `TemplateManager` has been modified so that pre-processors are not only applied to complete templates being processed, but also to fragments. And in any case _after_ caching so that pre-processors are applied always and what is cached is the result of merely parsing and not of parsing + pre-processing.

Besides, a modification on the general mechanism for pre- and pos

[2016-02-02 21:35] danielfernandez commented on #450
Already in `3.0.0-SNAPSHOT`

[2016-02-02 23:16] danielfernandez commented on #454
@ultraq could you have a look at this one pls?

[2016-02-02 23:34] danielfernandez commented on #450
By the way, because of the way pre-processors and post-processors work as steps in the chain of handlers applied to templates/fragments (they are implementations of `ITemplateHandler`), and the fact that these chains cannot be _broken_, there will be different chains of pre-processors for a template and each of its inserted fragments.

Therefore, _pre-processor instances will not be shared among t

[2016-02-03 01:11] ultraq commented on #454
Sure thing!

[2016-02-03 12:48] harikk opened #456 "Ampersand is wrongly escaped in href attribute."
This is related to #189
But still not solved.

Thymeleaf seems to be escaping the & character while rendering the th::href attribute

as a comment to this issue @jmiguelsamper said

If this is the case, how could I pass the following url?

http://example.com?id=20&somevar=content_with_&amp;rr=29

Here, I have only two parameters: id => 20 and somevar => `content_with_&amp;rr=29`

but according to

[2016-02-03 16:29] UniK opened #457 "Thymeleaf fails to parse valid HTML5 template with <meta> tag without closing slash."
Thymeleaf fails to parse HTML5 Template
with the meta tag (without '/' in front of closing '>'):

[code]

Thymeleaf does parse the meta tag, if the tag is self-closing (with '/' in front of closing '>') which is fully optional in HTML5:

[code]

And by the way: Thymeleaf should not parse following HTML4 markup if TemplateMode==HTML5 is specified.

[code]

[2016-02-04 09:23] ultraq commented on #457
I take it this is with Thymeleaf 2?  If so, then yeah, Thymeleaf 2 is an XML parser under the hood, and so tags and everything need to be balanced for it to work.  There's the (not so intuitively named) LEGACYHTML5 template mode you can use that'll bring in the nekoHTML tag balancer to do that automatically, but may bring other undesired effects if it can't figure out where to close tags.

Thymele

[2016-02-04 09:39] ultraq commented on #456
Having `&amp;` in the `href` attribute of a link is fine though as the browser will translate it when you hover over it or click it.  For example, view the HTML source of your own post and look at your own links.  GitHub has them as escaped, `<a href="https://www.google.co.in/search?source=hp&amp;q=thymeleaf">`, but on hover or click it appears as a normal &.

[2016-02-04 09:49] harikk commented on #456
But when I click on the link you gave, it redirect me to https://www.google.co.in/webhp?source=hp

I am using Chrome 48.0.2564.97 m
Same behavior for Firefox 44

[2016-02-04 10:02] ultraq commented on #456
Link I gave?  That was the source code of your own link that on the surface had a `&` but in the source used `&amp;`

Here's another example: http://codepen.io/ultraq/pen/KVxQqN

The underlying source uses an `&amp;`, but the browser translates it as if it were `&`

[2016-02-04 12:19] harikk commented on #456
Browser may display it as an & but when you click on the link, browser wont translate &amp; to &.
Please have a look at the screenshot. At the bottom tooltip, it shows `&amp;`

![image](https://cloud.githubusercontent.com/assets/1871282/12814753/89d5bf8a-cb67-11e5-9ce2-ccad17e9be48.png)

[2016-02-04 22:01] danielfernandez opened #458 "[MAJOR FEAT] New extension point: Link Builders"
Thymeleaf 3.0 will introduce a new extension point that will allow developers to configure the way they want _link URLs_ to be built in Thymeleaf views, most usually in `@{...}` Thymeleaf Standard Expressions.

The new extension point will be the `org.thymeleaf.ILinkBuilder` interface, and the mechanism used for building link URLs in previous versions of Thymeleaf will still be considered the _def

[2016-02-04 22:04] #398 closed, assigned to danielfernandez

[2016-02-04 22:04] #458 closed, assigned to danielfernandez

[2016-02-04 22:11] danielfernandez commented on #458
Already in `3.0.0-SNAPSHOT`

[2016-02-04 23:00] danielfernandez commented on #398
This has been implemented by means of a new extension point called `ILinkBuilder`. See #458

[2016-02-05 00:54] ultraq commented on #456
No, not the link on your Gmail - that won't work.  Come to this page in GitHub (Gmail is parsing the e-mail and getting the link wrong as that is monospaced code text on GitHub) and you'll get the behaviour I described.

The Pen that I linked you too works for me in Firefox and even Safari on iOS.  Try go to that page in your browser.

[2016-02-05 03:57] harikk commented on #456
You are right.
But I am using Thymeleaf for email templates.

So is there any solution for emails to show '&' instead of '&amp;'?

[2016-02-05 11:32] omblanco commented on #345
You can use a case, it is not a real solution to any number of messages, but it is valid.

[code]

Its work for me.

[2016-02-05 17:00] #457 closed, assigned to ultraq

[2016-02-05 17:26] danielfernandez commented on #456
There is no difference in how an URL inside an `href` attribute should be rendered in a web page or in an HTML email. In both cases we are talking about HTML and therefore any `&` characters inside an attribute (be it `href` or any others) should go escaped as `&amp;` (even if all modern browsers will allow unescaped `&` characters in URLs and won't break when they find one).

In this URL you ment

[2016-02-05 17:26] #456 closed, assigned to danielfernandez

[2016-02-06 04:50] harikk commented on #456
But how do I solve the problem with emails?

[2016-02-10 22:33] danielfernandez opened #459 "Generalise the mechanism for creating IEngineContext instances"
The `org.thymeleaf.context.IEngineContext` interface represents the internal _context_ implementations that are _really used by the engine_ during template processing. They are much more complex than those `IContext` implementations that are normally instantiated by users when calling the `TemplateEngine` like `Context` and `WebContext`.

Out-of-the-box, Thymeleaf 3.0 offers two implementations of

[2016-02-10 22:35] #459 closed, assigned to danielfernandez

[2016-02-10 22:38] danielfernandez commented on #459
Already in `3.0.0-SNAPSHOT`

[2016-02-13 17:53] aahlenst opened #460 "Templates cannot be resolved from file:// location on Windows"
I'm unsure whether this is a Thymeleaf, Spring MVC, Spring Boot, documentation or usage issue. So please send me elsewhere if it's not a Thymeleaf issue.

We're using Thymeleaf 2.1.4.RELEASE in a Spring MVC application that's configured using Spring Boot 1.3.2. For development purposes we're loading the templates directly from `src/main/resources` instead of the classpath using the following confi

[2016-02-13 18:31] aahlenst commented on #460
My bad. It turned out that a third forward slash is required after `file:`. This works on Windows and Mac as well:

[code]

The only thing that would have been nice if the `UnknownHostException` would have been printed to the console in addition to the `TemplateInputException` with the generic message "Error resolving template 'admin/index', template might not exist or might not be accessible by a

[2016-02-13 18:31] #460 closed, assigned to nobody

[2016-02-14 23:19] danielfernandez commented on #68
After the switch to an event-based engine in Thymeleaf 3.0 (see #389), implementing this feature as it is designed here would not be possible, given there would be no way to add attributes to a tag that has _already been processed_ (and its results output).

This does not affect the _decoupled templates_ feature because that would go to a different file that would be processed first. But mere dire

[2016-02-14 23:19] #68 closed, assigned to nobody

[2016-02-16 13:54] yvangg opened #461 "Elvis operator with date formatting"
I want to use the elvis operator with a Date field. The problem is that if i want to format that date, and if i use something like

`<td th:text="${#dates.format(object.dateField, 'dd/MMM/yyyy HH:mm')} ?: #{text.empty.date}">2012-10-08</td>`

I get an error. It will be awesome if the format operation will not fail if the date will be null.

[2016-02-19 10:45] ultraq commented on #454
Have just started this now, and holy cow do we have a lot of processors!

On a related note, that screencast of IntelliJ 16 reading the dialect schema files we created has me all :grin: https://twitter.com/serega_vasiliev/status/699522005012500480

With that in mind, I've started thinking that we need to move schema-related stuff into its own repo: https://github.com/thymeleaf/thymeleaf-extras-ecl

[2016-02-19 10:50] danielfernandez commented on #454
Sounds sensible... a new repo or maybe even the Thymeleaf core?

BTW, what is the relation between the XML resources that go inside the Thymeleaf jar and the `.xsd`s in `thymeleaf-extras-eclipse-plugin`?

[2016-02-19 11:05] ultraq commented on #454
The XML resources are just implementations of the XSD in the plugin project.  This was so that the Eclipse plugin (and now future IntelliJ versions) could ensure some kind of common language for reading dialect metadata statically.

[2016-02-19 19:18] seanhinkley opened #462 "Jackson closes writer by default"
Jackson by default closes streams (https://fasterxml.github.io/jackson-databind/javadoc/2.6/com/fasterxml/jackson/databind/ObjectMapper.html#writeValue-java.io.Writer-java.lang.Object-).  This is problemsome when writing lazy CharSequence instances (uses Servlet PrintWriter).  CharSequence instances that aren't lazy have no issue as they use a seperate Writer.

This

[code]

results in

[code]

[2016-02-19 19:20] seanhinkley commented on #462
I can create a PR if you'd like.

https://github.com/seanhinkley/thymeleaf/commit/c5989690fd937123db62e280101bc8d6fbbc0019

[2016-02-19 22:08] danielfernandez commented on #462
Confirmed. I'm wondering how the $%&·!! this could go through our JS serialization tests, which use Jackson :-|... maybe it's something in the `Writer`s used by the thymeleaf-testing library.

Anyway, I've tested it directly on a Tomcat server and you're completely right. A pull request would be awesome.

Thanks Sean.

[2016-02-20 04:06] #454 closed, assigned to ultraq

[2016-02-20 04:08] ultraq commented on #454
Documentation references will probably need an update once the Using Thymeleaf tutorial is updated for 3.0

[2016-02-20 20:02] seanhinkley commented on #462
submitted the PR.  It looks like string writers don't much care about closed streams.

Users that provide IStandardJavaScriptSerializer to StandardDialect may have issues if they config ObjectMapper as a bean and reuse it.  I think @ResponseBody would use jackson and may be negatively impacted.  When I get a moment, I can check it out and let you know.  Worst case it may require a mention in the d

[2016-02-20 23:45] #462 closed, assigned to danielfernandez

[2016-02-20 23:50] danielfernandez commented on #454
Already in `3.0.0-SNAPSHOT`

[2016-02-20 23:55] danielfernandez commented on #462
Thanks again. It might not pose a problem for Spring if the writer is closed anyway at the end of the response… but anyway, it would be nice to know for sure if this kind of interaction could pose any problems.

[2016-02-21 21:36] iyaso commented on #361
Thank you @adamjames87 , This helped me a lot :+1:

[2016-02-21 23:19] danielfernandez commented on #461
Applied null-safety to all methods (in which it made sense) in #dates, #calendars, #numbers and #153

This is already in `3.0.0-SNAPSHOT`

[2016-02-21 23:19] #461 closed, assigned to danielfernandez

[2016-02-22 21:04] danielfernandez opened #465 "[MAJOR FEAT] Decoupled template logic"
Thymeleaf 3.0 will introduce the possibility to completely _decouple_ the template's markup from its logic, allowing the creation of **completely logic-less markup templates** in the `HTML` and `XML` template modes.

The main idea is that template logic will be defined in a separate _logic file_ (more exactly a _logic resource_, as it doesn't need to be a _file_). By default that logic resource wi

[2016-02-22 21:05] danielfernandez commented on #47
Finally implemented not as separate template modes, but as an additional template resolution and parsing capability for the `HTML` and `XML` template modes in Thymeleaf 3.0

See #465

[2016-02-22 21:05] #47 closed, assigned to nobody

[2016-02-22 21:06] danielfernandez commented on #465
This is already in `3.0.0-SNAPSHOT`

[2016-02-22 21:06] #465 closed, assigned to danielfernandez

[2016-02-24 09:26] t-cst opened #466 "Include a fragment from the same thymeleaf template using "this :: content" or ":: content" not working as expected"
Section "[8.1 Including template fragments - Defining and referencing fragments](http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#including-template-fragments)" of the docs states that:

But it seems that only works fine making full reference `th:include="test-fragment :: contentB"`.

I've made a small test project to reproduce the issue, it can be found here: https://github.com/t-cs

[2016-02-25 20:59] danielfernandez commented on #466
This is not exactly a _bug_, but more precisely a limitation of all versions of Thymeleaf until 2.1. This should not happen in 3.0 (currently in BETA02).

The problem is in the way Thymeleaf <= 2.1 performs fragment insertion: it basically gets the tree of nodes corresponding to the fragment being inserted and hangs that tree onto the DOM of the higher-level template being processed. By the time t

[2016-02-25 20:59] #466 closed, assigned to danielfernandez

[2016-02-27 12:44] oldelvet opened #467 "Cannot process: inner whitespace is not related to an open/standalone tag"
Testing Thymeleaf 3 against my existing 2.1 based project I found a number of failures due to failure to parse the template markup. These all work against 2.1 and form a significant barrier to migrating to Thymeleaf 3. I also believe that the actual whitespace involved is valid in XML/HTML and the W3C validators seem to confirm that.

The specific failure seen is due to whitespace in the closing t

[2016-02-27 12:57] danielfernandez commented on #467
Confirmed. `TemplateHandlerAdapterMarkupHandler` is throwing an exception as soon as an inner whitespace arrives without an open or standalone tag being currently open. It is not attoparser-related, though, it is in the way thymeleaf converts events coming from attoparser to thymeleaf-based events.

[2016-03-01 14:26] kolorobot opened #468 "th:remove="all" with links"
Spring Boot 1.3.2
Thymeleaf 2.1.4

I have strange situation and I am not sure if this is how it should be.
1. The following is working fine

[code]

All is removed on runtime - as expected.
1. Similar situation, but instead of script tags I have link tags:

[code]

The comment gets removed but not the link tag.

Is this an unwanted feature or do I miss something?

Thanks!

[2016-03-01 21:36] danielfernandez commented on #467
This fix is already in `3.0.0-SNAPSHOT`

[2016-03-01 21:36] #467 closed, assigned to danielfernandez

[2016-03-01 21:44] danielfernandez commented on #468
Rafał, that happens in Thymeleaf 2.1 when you place that code inside a `<head>` and use the `LEGACYHTML5` template mode.

The reason is, this template mode makes the nekoHTML tag balancer execute first (before Thymeleaf's own parsing) and it considers `<link>` a tag that should go directly inside `<head>`, so it closes the `<th:block>` just before the `<link>`, making that `th:remove="all"` not ap

[2016-03-01 21:44] #468 closed, assigned to danielfernandez

[2016-03-01 21:50] danielfernandez commented on #468
I am curious, does the use of AngularJS actually _require_ you to use non-XML-ized HTML?

[2016-03-04 19:48] fahimmm commented on #389
Are there any performance stats or comparisons between thymeleaf 2.x and 3.0?

[2016-03-06 08:12] eiswind opened #469 "Text write from buffer - writer takes start/end not start/len"
`public void write(final Writer writer) throws IOException {
        Validate.notNull(writer, "Writer cannot be null");
        if (this.buffer != null) {
            // Using the 'buffer write' is the first option because it is normally faster and requires less
            // resources than writing String objects
            writer.write(this.buffer, this.offset, this.length);`

in Text should pr

[2016-03-06 10:12] danielfernandez commented on #469
Thanks. However, unless I'm understanding correctly, you are referring to https://github.com/thymeleaf/thymeleaf/blob/d88e6b7dbf132b6b6f8c09567b1025a24194a3f1/src/main/java/org/thymeleaf/engine/Text.java#L201

And actually, `write(char[] cbuf, int offset, int len)` is the correct signature of that method in `java.io.Writer`. Or is there something I'm missing?

[2016-03-06 10:12] #469 closed, assigned to danielfernandez

[2016-03-06 12:27] eiswind commented on #469
Hi Daniel,
you are absoluteley right. Magnolias API was misleading me completely as they have an Appendable (mis-)designed as
`AppendableWriter extends Writer`

`@Override

public void write(char[] chars, int start, int end) throws IOException {

[code]

now when thymeleaf uses this as Writer, everything goes wrong.
I think I can workaround by wrapping the Magnolia Writer.

[2016-03-07 09:17] sukhokri commented on #112
Hello, although the topic is quite old, may I ask if it is still possible to try contributing an implementation of this feature? If yes, could you, please, assign this to me? The helping tips would also be very appreciated.

[2016-03-07 22:23] jimmythomson opened #470 "Path variable not correctly escaped in link"
I'm using Thymeleaf (3.0.0.BETA02) in my Spring MVC app.

I'm trying to create a URL. The code looks like this:

`<a href="edit.html" th:href="@{/slugs/edit/{id}(id=${slug.id})}">[[${slug.id}]]</a>`

This works fine, except that the value of ${slug.id} might be something like slug:/path/to/page (the ID is used for storage in a Couchbase repository), and this value is NOT escaped. So I end up with

[2016-03-07 22:45] danielfernandez commented on #112
Ahoj Kristina, thanks for your interest.

The classes supporting the Thymeleaf Standard Expression system live at the `org.thymeleaf.standard.expression` package. Specifically, this would be a _complex_ expression (note there are simple and complex ones). Every complex expression is executed in two phases: _parsing_ and _executing_, the former being in charge of identifying whether a fragment of e

[2016-03-07 23:41] danielfernandez opened #471 "Allow the specification of URI template patterns to be escaped as path segments"
Currently, the specification of URI template patterns at `StandardLinkBuilder` does always escape variable values as _URI paths_ (i.e. `/` are not escaped). This was so because it was implemented mimic'ing what Spring did at `UrlTag`.

However, Spring 4.1 added a way to specify template patterns so that they are escaped as _path segments_: `{/variable}`. See https://github.com/spring-projects/spri

[2016-03-07 23:42] danielfernandez commented on #470
OK, so two things here:
1. It seems path escaping is not being applied where there is no `?`. I wonder how this passed the tests...
2. The _escapeUriPath_/_escapeUriPathSegment_ thing: when this was implemented, it was implemented to mimic the behaviour of Spring's URI template patterns in Spring's JSP `<s:url>` tags. Back then, Spring's `UrlTag` class behaviour was to only use _path escaping_, bu

[2016-03-08 08:25] jimmythomson commented on #470
Thanks for the super quick response, Daniel.

[2016-03-08 14:07] sukhokri commented on #112
Thank you for your reply. I will get to it as soon as possible.

[2016-03-10 02:30] jasonm23 opened #472 "Attribute combination/aggregation not working (in input element)"
When I try to assign a combined attribute to an input element it is not transformed.

e.g.

[code]

and:

[code]

Transform to:

[code]

and:

[code]

Is this expected behaviour?

This tutorial suggests otherwise: http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#setting-more-than-one-value-at-a-time

[2016-03-10 09:38] danielfernandez commented on #472
I'm afraid the standard dialects only include two _double output_ attributes: `th:alt-title` and `th:lang-xmllang`, as explained in the section of the tutorial you link. There is no `th:value-id`, nor is any combination of attributes allowed, sorry.

[2016-03-10 09:38] #472 closed, assigned to danielfernandez

[2016-03-10 09:56] jasonm23 commented on #472
Ideally `id-name` or `name-id` would be useful for inputs/selects/form child elements.

[2016-03-10 09:56] jasonm23 commented on #472
(which was what I should have put in my original example)

[2016-03-11 16:06] jimmythomson commented on #471
@danielfernandez - did you want me to look getting a PR in for this? Happy to do so.

[2016-03-11 16:10] danielfernandez commented on #471
Oh, I will fix this (and #470) before GA for sure, but of course if you can provide a PR it would be more than welcome :)

The idea is to mimic what Spring's `UrlTag` does to the maximum extent possible (even if Spring is not being used).

[2016-03-11 16:15] jimmythomson commented on #471
Cool. I'll take a look over the weekend. I feel like I should try and contribute :)

[2016-03-13 00:01] #470 closed, assigned to danielfernandez

[2016-03-13 00:35] danielfernandez commented on #471
Already in `3.0.0-SNAPSHOT`

[2016-03-13 00:35] #471 closed, assigned to danielfernandez

[2016-03-15 12:06] mmoayyed opened #474 "autofocus attribute for element Input not supported?"
[code]

[2016-03-15 12:07] mmoayyed commented on #474
Reference http://www.w3schools.com/tags/att_input_autofocus.asp

[2016-03-16 08:51] shiliting commented on #390
very cool

[2016-03-17 15:43] pcroc opened #475 "th:switch cannot be combined with th:fragment"
The following template code causes an exception, using HTML5 template mode (Thymeleaf 2.1.4):

[code]

**Cannot specify a "th:case" attribute in an environment where no switch operator has been defined before. (subscription.html:3)**

The only way to fix this is to move the th:switch into its own th:block inside the outer block.

If combining th:switch with th:fragment is not allowed, the exceptio

[2016-03-22 03:42] songpo opened #476 "about special character can not use in page"
I can not use special character in my html page,like < >,
the error is “org.xml.sax.SAXParseException: 元素内容必须由格式正确的字符数据或标记组成。”

[code]

when i use gt; or &gt;

[code]

it is show like this

[code]

i want show this

[code]

hope everyone can help me!
thanks very much!

[2016-03-22 03:46] songpo commented on #476
I already find the solution！
It's like this

[code]

[2016-03-22 18:05] kazuki43zoo opened #477 "First new line character is removed when use <textarea th:field="...">"
When first character of input value is new line character, `<textarea th:field="...">` is output the HTML as follow:

[code]

e.g.) input value at textarea is `"<CRLF>input value"`

[code]

When render the above HTML on Web Browser(Chrome, Firefox, Safari, IE ...), first new line character is removed from User Interface.
On an Web Browser,`"<CRLF>input value"` is render same with `"input value"` (

[2016-03-23 10:04] omazurashu opened #478 "Update documentation for Thymeleaf 3"
Hi team,
just checked the site and didn't find the documentation about how to use Thymeleaf 3 except migration guide.

Believe that for community it will be useful to have it.
Are you plan to update it in near future? Current version BETA02 is feature-complete, so maybe it is a time to do that.

Anyway thanks for your hard work and good luck :)

[2016-03-23 12:57] kazuki43zoo commented on #477
Sorry, I've moved to thymeleaf-spring.
See https://github.com/thymeleaf/thymeleaf-spring/issues/103 .

[2016-03-23 12:57] #477 closed, assigned to nobody

[2016-03-24 11:54] aaaaarrrgghhh commented on #349
I'm having this same error with ThymeLeaf 2.1.4 in Spring Boot, with Eclipse, Tomcat 8.
Any workarounds please?

[2016-03-24 22:28] ultraq commented on #349
Given the comment above, I'd say the fix is to try the 2.1.5-SNAPSHOT version and see if that works.

[2016-03-25 00:43] aaaaarrrgghhh commented on #349
But 2.1.4 is the latest release available on the website!

[2016-03-25 00:49] ultraq commented on #349
True, but if you configure Maven to download from the snapshots repository, you can give 2.1.5-SNAPSHOT a try too.  We have a guide for that here: http://www.thymeleaf.org/faq.html#use-snapshot

If you're not using Maven or a Maven-compatible dependency management tool, then you can download it from the Maven snapshot repository here: https://oss.sonatype.org/content/repositories/snapshots/org/thy

[2016-03-25 01:24] aaaaarrrgghhh commented on #349
Ok...any ideas if its been tested with Spring Boot..
On 25 Mar 2016 08:49, "Emanuel Rabina" notifications@github.com wrote:

[2016-03-25 01:31] ultraq commented on #349
Not sure, but given that this is a patch change over 2.1.4, then the interfaces shouldn't have changed and so I'd expect it to continue to work with Spring Boot.  So you'll really have to just try it yourself.  The tests for the latest 2.1 development code are also green if that's any comfort.

[2016-03-25 03:36] aaaaarrrgghhh commented on #349
So this is weird. I changed to version 2.1.5-SNAPSHOT. Same error
Exception evaluating SpringEL expression: "question.questionText" (ehcForm:14).
BUT, when i change the template variable to question.ID, it still shows me the same error:
Exception evaluating SpringEL expression: "question.questionText" (ehcForm:14).

I've tried disabling caches, restarting Tomcat, used Safari, Chrome - same result!

[2016-03-25 04:17] aaaaarrrgghhh commented on #349
Fixed that - have to do Maven-->Update Project after the template edit, reload the app, THEN it works.
will take that problem elsewhere...

[2016-03-28 03:45] wmarbut opened #479 "th:fragment seems to be executed inline with rest of document"
Fragments declared within a template seem to be executed even when they are not called in thymeleaf 3 beta2.

**Example 1**

[code]

I get an error like this

[code]

**Example 2:** Or in this case

[code]

I get this

[code]

Even though I never called that fragment. This wasn't the behavior in thymeleaf 2.

[2016-03-29 21:33] danielfernandez commented on #479
This has not changed in 3.0.
The presence of a `th:fragment` attribute does not mean that the markup section that contains such attribute does not have to be executed as a part of a containing, larger template. Executing your fragment of code should mean the execution of your fragment in all versions of Thymeleaf.

[2016-03-29 21:33] #479 closed, assigned to danielfernandez

[2016-03-30 07:59] simonissime opened #480 "Thymeleaf 3, Spring 4 and LayoutDialect"
Hello,

sorry in advance for my poor english. I'm getting a try to spring and thymeleaf with the Thymeleaf 3 and Spring 4 tutorial Hello World example.

Here is the dependencies excerpt from my gradle build :

dependencies {
   compile("commons-logging:commons-logging:1.2")
   compile("javax:javaee-web-api:7.0")
   compile("org.springframework:spring-context-support:4.2.2.RELEASE")
   compile("org

[2016-03-30 08:02] jmiguelsamper commented on #480
Hello,

unfortunately, the LayoutDialect is not yet compatible with Thymeleaf 3.

It will be soon, hopefully.

Kind regards,
 Zemi

[2016-03-30 08:02] #480 closed, assigned to nobody

[2016-03-30 15:27] yvanavermaet commented on #367
@danielfernandez Isn't that strange behaviour? Imagine that we've passed some data via th:with, from the actual page over various includes to that include-file that contains th:fragment="ajax". The way you describe, this isn't possible.

We're working progressive enhanced:
- No working JS for whatever reason, then the link will go to "all-your-articles.html".
- If you have JS, you just want a smal

[2016-03-31 15:44] sundermann opened #481 "Expression cache is too aggressive"
It seems like some expressions are cached too aggressively since I get strange behaviour and class cast exceptions when using some of my templates with thymeleaf 3. This is the output of the log directly before the exception occurs:

[code]

It seems like thymeleaf resolved the expression from cache, though this expression has not been used in the preceeding parts of the template before then faili

[2016-03-31 20:26] danielfernandez commented on #481
Spring 4.1 introduced compilation of property accessors into SpringEL. Once compiled, these property accessors demand every execution to be called on the same types, which is why you are receiving those exceptions.

However, it wasn't until version 4.1.8 that Spring included a leniency mechanism that made the system detect a mismatch in the call types in order to rebuild the compiled accessors (or

[2016-03-31 20:37] sundermann commented on #481
I'll try updating to Spring 4.1.8+ and report back if it fixes the issue.

[2016-03-31 20:59] yvanavermaet commented on #474
@mmoayyed
You should write autofocus="true".
Eventhough the value is not necessary, it is for Thymeleaf.

[2016-04-01 20:19] sundermann commented on #481
Upgrading spring indeed fixed the issue! Thanks for pointing this out!

[2016-04-04 14:51] kurtseebauer opened #482 "add formatCurrency() method to #numbers helper"
Since currency-formatting is locale dependent (thousands and decimal separator and decimal digits) and the #numbers utility class already has the locale in it, I suggest the addition of a method

String formatCurrency(Number number)

It's pretty inconvenient to find out the current locale and apply its settings to
formatDecimal(target, minIntegerDigits, thousandsPointType, decimalDigits, decimalPo

[2016-04-05 06:01] Kumilo opened #483 "There is no method which named init in Object org.thymeleaf.dom.Text,but when use with springboot,an exception is throwed."
## below is  the detail.

org.springframework.web.util.NestedServletException: Handler processing failed; nested exception is java.lang.NoSuchMethodError: org.thymeleaf.dom.Text.<init>(Ljava/lang/String;Ljava/lang/String;Ljava/lang/Integer;Z)V
    at org.springframework.web.servlet.DispatcherServlet.triggerAfterCompletionWithError(DispatcherServlet.java:1303) ~[spring-webmvc-4.2.3.RELEASE.jar:4.2.

[2016-04-05 09:28] cornim opened #484 "Reflection issue with google app engine and Thymeleaf 2.1.4 and 3.0.0.b02"
When accessing a function directly from a thymeleaf template via ognl a IllegalAccessException is thrown even though the function is public.
I've put together a sample application so you can reproduce the error:
https://github.com/cornim/TLBugExample.git

Please also note the following:
If the function is accessed via the property (i.e. ${item.name} instead of ${item.getName()}) no exception is th

[2016-04-07 12:39] juanitocalero opened #485 "Custom attribute not being processed in th:block"
I've created a custom dialect for thymeleaf 3.0 (Using BETA02) with a simple attribute `when`, mixing `th:with` and `th:if` functionality.
It's based in th:with but If the resulting variable evaluates to false, it acts as `if` and removes the content.
It also understands Java 8 Optional, evaluating to the content if it is present.

[WhenTagProcessor.txt](https://github.com/thymeleaf/thymeleaf/file

[2016-04-09 10:14] outofrange commented on #485
Just wanted to report the same issue I had a while ago.

It also happens when HTML5 mode is used with NekoHTML - `th:if` (and `th:unless`) in `th:block`s is simply ignored.

Thymeleaf v2.1.4 is used with spring-boot v1.3.2 and NekoHTML v1.9.22.

[2016-04-11 14:02] yvanavermaet commented on #367
@danielfernandez Still awaiting a reply. Thanks in advance!

[2016-04-11 20:57] danielfernandez commented on #367
@yvanavermaet that's what fragments were defined for, actually...

The idea behind fragments is to process only a part of a template, for instance, in order to include them into another fragment. If a template `home.html` includes fragments `header`, `menu` and `footer` from template `layout.html`, used to define the general appearance of an entire site, it would not make much sense to execute the

[2016-04-13 11:50] pciiitmk commented on #465
This sounds great. Still to get my hands dirty it was something like this in Thymeleaf that I wanted from a long time. Thanks for doing this.

[2016-04-13 19:27] berniegp opened #486 "Conditional javascript block"
Hello,

I cannot find a way to add a javascript block inside an `th:inline="javascript"` `<script>` tag. I read the docs and tried many things to no avail. Here is what I want to do:

[code]

It seems that this feature, if not already present, would be very useful.

Relevant SO question: http://stackoverflow.com/questions/31771821/thymeleaf-how-to-add-conditional-block-in-javascript

[2016-04-14 14:04] berniegp commented on #486
Implemented (I think) by #395

[2016-04-14 23:21] danielfernandez opened #487 "[MAJOR FEAT] Throttled template execution"
Thymeleaf 3.0 will introduce the possibility to [_throttle_](https://en.wikipedia.org/wiki/Throttling_process_%28computing%29) the processing of a template by instructing the engine about the rate at which the client software layers want template output to be produced, and signaling when these layers are prepared to receive such output.

Among other scenarios, this should improve the integration o

[2016-04-14 23:21] danielfernandez commented on #487
Already in `3.0.0-SNAPSHOT`

[2016-04-14 23:21] #487 closed, assigned to danielfernandez

[2016-04-14 23:26] danielfernandez commented on #486
Exactly. I'm afraid there is no way to do what you need in Thymeleaf 2.1, but the new textual template modes (and inlining) in Thymeleaf 3.0 will allow you to do it using the new syntax.

[2016-04-14 23:26] #486 closed, assigned to danielfernandez

[2016-04-15 22:18] danielfernandez commented on #389
@fahimmm see https://raw.githubusercontent.com/thymeleaf/thymeleaf-benchmarks/master/thymeleaf-benchmark01/thymeleaf-benchmark01.png

[2016-04-16 17:46] danielfernandez opened #488 "Immutable event model"
The mutable event model used until `3.0.0.BETA02` was built with the aim of hugely reducing the amount of event objects needed for processing templates by allowing the parser to reuse the same event objects (acting as _buffers_) many times during the processing of a template. So only one `IText` object was needed for all the texts in a specific template, only one `IOpenElementTag`. only one `IStan

[2016-04-16 17:55] danielfernandez commented on #488
Already in `3.0.0-SNAPSHOT`

[2016-04-16 17:55] #488 closed, assigned to danielfernandez

[2016-04-16 17:58] danielfernandez commented on #488
This graph shows the improvement in performance between `3.0.0.BETA02` and `3.0.0-SNAPSHOT` (soon to be `3.0.0.BETA03`) thanks to the new model and the reduction of complexity:

![thymeleaf-benchmark01](https://cloud.githubusercontent.com/assets/1492299/14582734/83334e52-040d-11e6-9af7-12c36db6c3ab.png)

[2016-04-16 20:44] danielfernandez commented on #474
As @yvanavermaet explained, Thymeleaf 2.1's parser is an XML one, so it requires your attribute to have a value. `autofocus` is a _boolean_ attribute, so the correct way to express its value is `autofocus="autofocus"`, but `autofocus="true"` would work too.

Als note that Thymeleaf 3.0 changes this, as its new parser is not XML anymore, and allows attributes without a value.

[2016-04-16 20:44] #474 closed, assigned to danielfernandez

[2016-04-16 20:55] danielfernandez commented on #475
The problem here is not really in the combination of `th:fragment` and `th:switch`, but in the fact that you are probably calling this fragment with a `th:include`.

`th:include` does not insert the entire fragment but only _its body_, i.e. what is inside the highest-level `<th:block>`. Which is why you end up having several tags with `th:case` that are inside anything with a `th:switch` and the e

[2016-04-16 20:55] #475 closed, assigned to danielfernandez

[2016-04-16 20:58] danielfernandez commented on #476
That's right. Thymeleaf 2.1 requires your JavaScript blocks to be enclosed in `<![CDATA[...]]>` if their bodies contain HTML-significative characters such as `>`, `<`, etc.

Note also that Thymeleaf 3.0 improves its parsing system regarding `<script>` blocks and would not require you to do this.

[2016-04-16 20:58] #476 closed, assigned to danielfernandez

[2016-04-16 21:01] danielfernandez commented on #478
Yes, of course we will. But it will take a bit of time :-)

Fortunately, from the users' standpoint almost everything said in the tutorials for 2.1 is still valid (except a couple of things that can be easily found at the migration guide) so most users should be able to transition seamlessly during the time it takes us to create new, updated tutorials and guides.

Also, javadoc has been vastly imp

[2016-04-16 21:01] #478 closed, assigned to danielfernandez

[2016-04-16 21:08] danielfernandez commented on #482
Thanks, makes sense to me. I'm queueing this for future work, and opening it for contributions.

[2016-04-16 21:11] danielfernandez commented on #483
It looks like you are trying to use Spring Boot with Thymeleaf 3.0. In Thymeleaf 3.0 the `org.thymeleaf.dom.Text` class does not exist anymore.

Spring Boot has not yet been adapted to Thymeleaf 3.0, they'll probably wait until Thymeleaf 3.0 goes GA (which makes sense). There's nothing that can be done from this side, sorry...

[2016-04-16 21:11] #483 closed, assigned to danielfernandez

[2016-04-16 21:16] danielfernandez commented on #484
Google App Engine poses important restrictions on the use of reflection, but unfortunately there is nothing we can do from the Thymeleaf side to modify the way OGNL (which is a separate, independent project) executes functions.

I would suggest using property access whenever possible. Maybe you could also try using Spring and the Thymeleaf-Spring integration packages and check if SpringEL (which r

[2016-04-16 21:16] #484 closed, assigned to danielfernandez

[2016-04-16 22:57] danielfernandez commented on #485
I've been unable to reproduce this issue, using your same code. There should be no reason why a custom processor inside a `th:block` is not processed.

Most probably you have a precedence issue. I see the precedence of your processor is `600`, but if the _dialect precedence_ of your custom dialect makes everything in your dialect execute _after_ everything in the Standard Dialect (the Standard Dia

[2016-04-16 22:57] #485 closed, assigned to danielfernandez

[2016-04-17 16:50] danielfernandez commented on #481
I've been thinking about making expression cache keys more specific, but that would negatively affect  (a bit) scenarios where Spring EL is not being compiled (it isn't by default). If interpreted, the parsed object corresponding to a SpEL expression is exactly the same disregarding the types it is executed on.

For the scenarios when SpringEL is compiled, we've added an optimisation to the way ex

[2016-04-17 16:50] #481 closed, assigned to danielfernandez

[2016-04-18 06:46] zhanghqgit opened #489 "how to use th:data"
for example ,add data-example attribute to a tag, not use th:attr, how to do this?

th:data='example=${*****}' can not parse.

thank you

[2016-04-19 20:39] danielfernandez commented on #489
If you are using Thymeleaf 2.1, you have to either use `th:attr` (which apparently you don't want to) or use the _Data Attribute Dialect_: https://github.com/mxab/thymeleaf-extras-data-attribute

If you are using Thymeleaf 3.0, you can simply do `th:data-example="${...}"`

[2016-04-19 20:39] #489 closed, assigned to danielfernandez

[2016-04-20 03:42] kings1990 opened #490 "how to integration springboot with thymeleaf3"
my project based on springboot1.3.3
i update my thymeleaf from 2.1.3 to 3.0.0.BETA02
but it went wrong
Caused by: java.lang.NoClassDefFoundError: org/thymeleaf/resourceresolver/IResourceResolver

how to repair？

[2016-04-20 05:54] kings1990 commented on #490
springboot1.3.3 now don't support thymeleaf3 but support thymeleaf2.1.3
 so i just exclude thymeleaf and write ThymeleafConfig and SpringWebInitializer
then it can work with thymeleaf3
@SpringBootApplication(exclude={org.springframework.boot.autoconfigure.thymeleaf.ThymeleafAutoConfiguration.class})

[2016-04-20 19:43] danielfernandez commented on #490
As you explain, Spring Boot is not yet updated to Thymeleaf 3 (which makes sense, given Thymeleaf 3 is still in BETA).

[2016-04-20 19:43] #490 closed, assigned to danielfernandez

[2016-04-21 14:53] Kerruba opened #491 "Inherit objects from parent layout when using layout decoration"
Hi,

I think would be nice to use variable inheritance within layout template, defining default variables in the base template that can be overridden in the decorating child template.
For example, I've a base template `base.html` which contains various layout fragments, one of which is the navigation bar.
I would like to use a `currentPage` variable to set the active page in the navigation bar usi

[2016-04-21 16:21] Kerruba commented on #491
So I just found out that if you don't define any other variable in the child template, the child template is actually picking up the default value inside of parent... I'm missing something probably -_-'

[2016-04-21 20:45] danielfernandez commented on #491
The Layout Dialect is a separate project, not part of the official Thymeleaf distribution.
You should probably add your ticket here: https://github.com/ultraq/thymeleaf-layout-dialect

[2016-04-21 20:45] #491 closed, assigned to danielfernandez

[2016-04-22 07:37] lijing241 commented on #399
When I use AbstractElementModelProcessor,I found no factory method for me to create complete new model from html string and replace the old one.But use AbstractElementTagProcessor I can use structureHandler.replaceWith(grid.toHtml(), true) instead,how can I do with AbstractElementModelProcessor?I upgrade from thymeleaf 2 to thymeleaf 3 and some old processor must be rewrite! Thanks for your answer

[2016-04-22 07:45] danielfernandez commented on #399
The `IModelFactory.parse(...)` method seems to be what you need. It will turn a `String` into an `IModel`. There is no way to directly replace the IModel you receive as an argument because it is mutable on purpose: you can just reset it and then execute `addModel()` with the newly created model.

[2016-04-28 13:55] glock42 opened #492 "Angular directive cause org.thymeleaf.exceptions.TemplateInputException"
I use `spring 4.2.5`,`thymeleaf 2.1.4`.The problem is that when I ues `Angular's directive`  in `Html`,will cause an Exception.

 `org.thymeleaf.exceptions.TemplateInputException`

Html code below

[code]

The probelm is `ng-minlength` ,`ensure-same` and `required`. How to solve it?

[2016-04-28 16:49] martyychang opened #493 "Attribute name "selected" associated with an element type "option" must be followed by the ' = ' character"
The XML parser Thymeleaf uses throws an **error** when trying to create a valid HTML `option` element without a value for the [Boolean `selected` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option).

[code]

The full stack trace is shown below.

[code]

[2016-04-28 20:31] danielfernandez commented on #492
Thymeleaf 2.1.x uses an XML parser underneath, and therefore does not allow attributes with no value. So you'd have to write `ensure-same="ensure-same" required="required"`.

Please note that Thymeleaf 3.0 (already in version `3.0.0.BETA03`) includes a completely, fully-HTML5 compliant which allows you to write your code without modifications.

[2016-04-28 20:31] #492 closed, assigned to danielfernandez

[2016-04-28 20:32] danielfernandez commented on #493
Thymeleaf 2.1.x uses an XML parser underneath, and therefore does not allow attributes with no value. So you'd have to write `selected="selected"`.

Please note that Thymeleaf 3.0 (already in version `3.0.0.BETA03`) includes a completely, fully-HTML5 compliant which allows you to write your code without modifications.

[2016-04-28 20:32] #493 closed, assigned to danielfernandez

[2016-05-04 04:35] martinezrw commented on #390
How do we handle JavaScript that has components that look like inlining?

for example `$("table").tablesorter({sortList:[[0,0]],sortMultiSortKey: 'ctrlKey'});`

This is resulting in

[2016-05-04 06:31] danielfernandez commented on #390
@martinezrw adding some white space should do: `[ [0,0] ]`

[2016-05-04 13:46] ochsA commented on #465
Does it also work with th:text and replace statements?

[2016-05-04 23:00] danielfernandez commented on #465
@ochsA it works with any processor from any dialect.

[2016-05-05 17:50] martinezrw commented on #390
It seems to be breaking the javascript, could we do something like`\[[ and \]]`to escape those tags?

[2016-05-05 18:08] danielfernandez commented on #390
Whitespace inside an array definition like that shouldn't break javascript syntax... could you double-check that is the reason for it not working?

This works perfectly fine for me...

[code]

[2016-05-05 20:15] martinezrw commented on #390
You are right, it was my fault it wasn't working. Thanks for the reply!

[2016-05-08 17:55] jmvivo opened #495 "data-th-field doesn't use formatters in Spring Boot application"
According to #223 for this entity:

[code]

and this template:

[code]

should use Spring Formatters to transform values but I get:

[code]

As you can see, span with th-text formats values as expected, but input with th-field doesn't.
Is this a regression? Is there any configuration missing?

Thank you in advance.

Note: I try it with Spring boot 1.3.4 and 1.3.3

Note 2: There is a post in [Stack

[2016-05-12 19:03] berniegp opened #497 "Localized template lookups (Freemarker style)"
Freemarker (by default) [uses the locale to build the file names it looks for](http://freemarker.org/docs/ref_directive_include.html#ref_directive_include_localized) when loading and including templates. For example, loading `tos.ftl` (the template) with the `en_US` locale would look for these template files in order and use the first one it finds:
1. tos_en_US.ftl
2. tos_en.ftl
3. tos.ftl

This c

[2016-05-14 10:13] sukhokri commented on #112
Hello, excuse me for long silence. Would you be so kind as to check the code I commited: https://github.com/thymeleaf/thymeleaf/pulls? I'd probably need to fix something, so I'm asking for your guidance. Thank you :)

[2016-05-14 10:54] danielfernandez commented on #112
Thanks Kristina. Please allow us some days. We've just published Thymeleaf 3 and there's still quite a lot of urgent doc work to do (and a conference to prepare :)). We'll review your code as soon as possible.

[2016-05-17 14:35] huxi opened #498 "Template incompatibility 2.1.4 => 3.0.0"
I have a template that worked perfectly fine in 2.1.4 but throws an `UnsupportedOperationException` in 3.0.0:

[code]

A simplified template showing the problem would be this:

[code]

The exception looks like this:

[code]

My problem isn't just that there is an incompatibility but that I don't have the faintest idea how to achieve that functionality at all with 3.0.0.

My related StackOverflow q

[2016-05-17 14:46] danielfernandez commented on #498
See my latest response on StackOverflow: you'd need to create a status bean that allows you to count calls and tell you if the index is even or odd…

[2016-05-17 20:12] huxi commented on #498
Thanks, I'll give your suggestion a shot.

This should definitely be a topic in the documentation and/or migration guide. It's a rather common problem.

[2016-05-20 10:35] lmtoo opened #499 "two Integer division bug"
I'm writing a pager fragment,but i occur a division problom between two integers.

[code]

in the code `<li >
        <a th:text="${page.number}+'/'+${batchSize}+'='+${page.number/batchSize}"></a>
    </li>`

page.number division batchSize,when page.number less than 5 is right and the result is 0,but when page.number is 6~9,the result is 1,that is confuse me......

[2016-05-20 14:17] danielfernandez commented on #495
I am unable to reproduce this, using the same annotation and the same data type. Check this (non-Spring Boot) sandbox app:

Entity: https://github.com/thymeleaf/thymeleafsandbox-springjsp/blob/master/src/main/java/thymeleafsandbox/springjsp/business/entities/User.java#L34-L35
and page: https://github.com/thymeleaf/thymeleafsandbox-springjsp/blob/master/src/main/webapp/WEB-INF/templates/thymeleaf/f

[2016-05-23 07:48] jmvivo commented on #495
Thank you @danielfernandez:

This is a simple proof created using [Spring Initializr](https://start.spring.io/) tool, including `web`, `validation` and `Thymeleaft` dependencies. This generates a project with:
-  org.springframework.boot:spring-boot-starter-thymeleaf:jar:1.3.4.RELEASE
  - org.thymeleaf:thymeleaf-spring4:jar:2.1.4.RELEASE
  - nz.net.ultraq.thymeleaf:thymeleaf-layout-dialect:jar:1.3

[2016-05-24 15:15] jmvivo commented on #495
I've got it:
- The myEnity object is loaded on model through a `@PathVariable` by a Formatter, instead use a `@ModelAttribute`.
- This makes that **no `BindingResult` is available** when Thymeleaf builds a `BindStatus` for field value
- So, no `PropertyEditor` is found to transform the value to a String.

So, to solve it I must change this [request mapping definition](https://github.com/DISID/disi

[2016-05-24 15:15] #495 closed, assigned to danielfernandez

[2016-05-24 15:39] danielfernandez commented on #495
Correct, that's what I was just seeing too, but I wanted to make sure that it was not in the Thymeleaf side, basically that Spring is not expecting the `View` to additionally create `BindingResult` objects on the variables coming from the `@PathVariable` mechanism (as opposed to the `model`).

So I made the equivalent to this using JSP and Spring's taglib and I can confirm behaviour is the same: S

[2016-05-24 20:59] #499 closed, assigned to danielfernandez

[2016-05-24 21:09] danielfernandez commented on #499
Confirmed and fixed. The reason for this is that `th:with`, when it processes `batchSize`, creates a _number token_ which contains `10` as a `BigDecimal`. Until this fix, all _number tokens_ used `BigDecimal` for their values.

The problem with this is that `10` is converted (as it should be) into a `BigDecimal` with `scale == 0`, but both OGNL and SpringEL take the decision that the result of a d

[2016-05-24 21:09] danielfernandez commented on #499
Already in `2.1.5-SNAPSHOT`

[2016-05-24 21:12] danielfernandez opened #500 "PORT: two Integer division bug"
PORT of #499 for the 3.0 branch

**Original description by @lmtoo**:

---

I'm writing a pager fragment,but i occur a division problom between two integers.

[code]

in the code `<li >
        <a th:text="${page.number}+'/'+${batchSize}+'='+${page.number/batchSize}"></a>
    </li>`

page.number division batchSize,when page.number less than 5 is right and the result is 0,but when page.number is 6~9

[2016-05-24 21:14] #500 closed, assigned to danielfernandez

[2016-05-24 21:27] danielfernandez commented on #500
Already in `3.0.1-SNAPSHOT`

[2016-05-25 21:41] danielfernandez commented on #497
With the current Thymeleaf 3.0 APIs, an implementation of `ITemplateResolver` could be created that resolved a different template for each locale by means of specifying such locale in the `templateResolutionAttributes` map that can be passed as a parameter to the `ITemplateEngine.process(...)` methods.

However, this would mean you'd need to actually pass the locale twice: once in the `IContext` a

[2016-05-26 13:50] nesohc opened #501 "Writer chain should own the responsibility of flushing underlying streams"
Hi, I'm quite a new user to Thymeleaf so it might be that I am missing something.

But when testing it together with spring boot I have found that it seems to work "by accident" most times.
This may very well be wrong but from my understanding the AbstractGeneralTemplateWriter writes to my underlying Writer which I pass on. But if I for example pass on a PrintWriter to it, the PrintWriter will use

[2016-05-26 17:09] michael-t-moore opened #502 "Removal of classes?"
Migrating from 2.1.2 to 3.0.0 removed some classes that were used to manually render thymeleaf templates and store the result in a variable.  Specifically the classes IFragmentSpec and DOMSelectorFragmentSpec.  I could understand deprecating them if they are no longer used, but they are now completely gone from Thymeleaf 3.0.0.  Can you please advise on how this is to be done in 3.0.0?  Here is th

[2016-05-26 19:55] danielfernandez commented on #502
Thymeleaf 3.0 is a complete rewrite of the engine, which adopts a completely different architecture. While  compatibility of the template code is kept to the maximum extent possible, most APIs have changed and therefore many classes and methods have been modified and/or have simply disappeared.

When a new major version is published it is not always possible to go through a deprecation process for

[2016-05-26 19:55] #502 closed, assigned to danielfernandez

[2016-05-26 20:05] danielfernandez commented on #501
You are right, thanks for pointing this out.

Actually, Thymeleaf 3.0 already performs a `writer.flush()` after processing a template (see https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/TemplateEngine.java#L1107-L1114 ) but Spring Boot still uses Thymeleaf 2.1.4, and this does not happen in the 2.1 branch yet.

[2016-05-26 21:18] danielfernandez commented on #501
Already in `2.1.5-SNAPSHOT`

[2016-05-26 21:18] #501 closed, assigned to danielfernandez

[2016-05-27 05:48] holmes200601 opened #503 "ServletContextTemplateResolver has no constructor with ZERO parameters"
The class ServletContextTemplateResolver doesn't contain default constructor with no paramenter. So the configuration example of ServletContextTemplateResolver in thymeleaf-spring.pdf tutorial would not be valid. Please refer to the following picture.

![thymeleaf-issue](https://cloud.githubusercontent.com/assets/11832975/15598846/c2a2124e-2410-11e6-89f1-899be28c74e9.JPG)

It seems that ServletCon

[2016-05-27 06:33] danielfernandez commented on #503
That is correct. The only tutorial that has been updated to 3.0 so far is the 'Extending Thymeleaf' one, so what you see at the 'Thymeleaf + Spring' tutorial is still 2.1.x code.

As for the ServletContextTemplateResolver, it required a modification that removed its argument-less constructor. Please refer to the migration guide at http://www.thymeleaf.org/doc/articles/thymeleaf3migration.html (sec

[2016-05-27 06:34] #503 closed, assigned to danielfernandez

[2016-05-27 11:00] dtrunk90 opened #504 "Update Thymeleaf 3 ten-minute migration guide"
It's necessary to add a `@Bean` annotation to the template engine as well as making it public. Otherwise messages won't getting resolved: https://gist.github.com/seanhinkley/6eab2130ceea857c160b#file-thymeleafconfig-java-L45

Please update the migration guide.

[2016-05-27 11:11] jmiguelsamper commented on #504
Fixed on the source code. Thank you very much.

[2016-05-27 11:11] #504 closed, assigned to danielfernandez, jmiguelsamper

[2016-05-27 11:28] dtrunk90 commented on #504
In the source code of Thymeleaf Spring Extension? So it's not necessary to add the annotation and make the method public in future releases anymore?

Or in the source code of the website? Cause it's still private and without annotation there: https://github.com/thymeleaf/thymeleaf.github.com/blob/master/doc/articles/thymeleaf3migration.html#L108

[2016-05-27 11:31] jmiguelsamper commented on #504
Yes, the source code of the article at https://github.com/thymeleaf/thymeleaf-docs/blob/master/docs/articles/thymeleaf3migration.md

The final HTML is generated automatically from the previous file.

[2016-05-27 11:41] dtrunk90 commented on #504
I see! Thanks.

[2016-05-27 13:40] holmes200601 commented on #503
Thanks for your email.

I have solved this issue by programly configing the ServletContextTemplateResolver.

Anyway, thanks for your quick response. Wish thymeleaf the most popular template-markup language.

Thanks and Regards,
Sampson

From: Daniel Fernández [mailto:notifications@github.com]
Sent: Friday, May 27, 2016 2:34 PM
To: thymeleaf/thymeleaf thymeleaf@noreply.github.com
Cc: holmes200601 h

[2016-05-27 14:32] robvanderboom commented on #504
Hi,
i added public and @Bean,  But my issue still is there (that it sees the already translated result of the attribute as an expression.  I see now also https://github.com/mxab/thymeleaf-extras-data-attribute/issues/8#issuecomment-222149981 ....

[2016-05-27 20:01] danielfernandez commented on #504
Website updated! Thanks @dtrunk90

[2016-05-30 09:01] hbprotoss opened #505 "Variables defined in th:each not accessible"
I'm new to Thymeleaf, and I'm learning the example provided by official site [https://github.com/thymeleaf/thymeleafexamples-stsm.git](https://github.com/thymeleaf/thymeleafexamples-stsm.git)

A piece of template code in file `webapp/WEB-INF/seedstartermng.html`, line 118 to 131:

[code]

If I change the expression `*{rows[__${rowStat.index}__].variety}` to `${row.variety}`, it reports

[code]

an

[2016-05-30 21:44] danielfernandez commented on #505
The difference is, the `rows` variable was added to the Spring model in _controller time_, i.e. before the view layer was executed. This meant Spring created for it underneath a `BindingResult` object which basically allowed such object (`rows`) to be used for binding fields in a form (i.e. to be used as a _form-backing bean_).

However, `row` is not a variable created before calling the view laye

[2016-05-30 21:44] #505 closed, assigned to danielfernandez

[2016-06-01 06:23] hbprotoss opened #506 "bind fragment to dialect processor"
For example, a reusable `<header>` fragment for other pages to include. I want to show user info in the header after they log in. For now, I have to get user info from backend in every controller(or put the operations in a base controller to extend).

I'd like to ask if it is possible to bind a fragment to a dialect processor so that I can retrieve info in the processor to render page. Pages that

[2016-06-01 23:05] danielfernandez commented on #506
If I'm understanding correctly, what you need is to create a _processor_ (triggered by a specific tag or attribute) in a new dialect so that whenever that processor is called, and that injects into the template a piece of HTML that includes data (user info) obtained from somewhere in your application.

However, both the process of creating a Thymeleaf processor _and_ the process of retrieving your

[2016-06-01 23:05] #506 closed, assigned to danielfernandez

[2016-06-02 01:54] hbprotoss commented on #506
@danielfernandez How can I add a variable to the context for templateManager to process?

[2016-06-02 21:52] danielfernandez commented on #506
In your case I think your best option is to simply use the same `context` object you are receiving at the `process` method, similar to what `StandardConditionalCommentProcessor` does, but casting to `IEngineContext` (at that point, context will always be an _engine context_):

[code]

[2016-06-03 01:34] hbprotoss commented on #506
I've made it work, thx :)

[2016-06-08 08:39] szhgoldeneye opened #507 "about variable definition"
can i use js variable in thymeleaf?
just as

[code]

or how to define global variable in thymleaf
like

[code]

but it is effective in this div only

that's my question,thx :）

[2016-06-08 08:52] jmiguelsamper commented on #507
Hello,

No, that's not possible. Thymeleaf variables are server-side, while Javascript variables are client-side.

About the defining a 'global' variable, if we understand 'global' by the full page, you can put th:with in the body element.

Regards.

[2016-06-08 08:52] #507 closed, assigned to jmiguelsamper

[2016-06-08 09:09] szhgoldeneye commented on #507
@jmiguelsamper Thx for the answer first.
Actually i define the variable using th:with in a head html,and use th:replace to quote it in another html.
Is that means the variable defined in head.html only is effective in itself and is invalid in other htmls quoting it?
And if there is a way to make it 'global' in all htmls?
Thx again.

[2016-06-08 09:11] jmiguelsamper commented on #507
I don't think there's a way to make it global. The best option is to set it on your controller.

[2016-06-08 09:16] szhgoldeneye commented on #507
@jmiguelsamper  I got it.
Thx for your time.

[2016-06-09 13:14] tobiasflohre commented on #423
Hi Daniel,

how is this feature meant to be used? There's no process method in ITemplateEngine that takes the templateResolutionAttributes, and of course ThymeleafView cannot provide a possibility to add templateResolutionAttributes then.
Our usecase would be to add attributes from the servlet request as template resolution attributes, but there's still no extension point where I can add those tem

[2016-06-09 20:47] danielfernandez commented on #423
@tobiasflohre you should use the methods in `ITemplateEngine` that allow the specification of a `TemplateSpec` argument. It is these `TemplateSpec` objects that can contain the template resolution attributes.

[2016-06-10 04:47] tobiasflohre commented on #423
@danielfernandez I'm not using them directly since I use the Spring integration with `ThymeleafView`, so it's not my choice. What I need would be some hook where I can add template resolution attributes. I'm now building a proxy `ITemplateEngine` that does that, but that doesn't feel like the optimal solution.
Thanks for all your work on Thymeleaf, it's a great thing!

[2016-06-10 09:22] tobiasflohre opened #508 "Thymeleaf 3: Incompatibility with JRE 6 and JRE 7"
I'm running Thymeleaf with JDK 7, and when I call `StandardCache.keySet` I get the following Exception:

[code]

This happens because Thymeleaf is compiled with Java 8. `KeySetView` is new in Java 8. For more information take a look at https://gist.github.com/AlainODea/1375759b8720a3f9f094.

Solution: compile Thymeleaf with JDK 7.

[2016-06-10 14:05] tobiasflohre commented on #508
Another possible solution could be: not returning the keyset from the `ConcurrentHashMap` directly but creating a new `Set` with the keys provided in `StandardCache`.

[2016-06-10 21:46] danielfernandez commented on #508
Oh! That is indeed an unfortunate change at the JavaSE runtime :(

Note this should only affect calls to `TemplateManager.clearCachesFor(template)`.

The easiest way to solve that is to simply add a cast, so that, at `StandardCache$CacheDataContainer`:

[code]

Turns into:

[code]

Indeed, if we compare the old bytecode:

[code]

With the new one:

[code]

We are not referencing the new return typ

[2016-06-10 21:59] #508 closed, assigned to danielfernandez

[2016-06-10 21:59] danielfernandez commented on #508
Already in `3.0.1-SNAPSHOT`

[2016-06-10 22:38] danielfernandez commented on #498
I'm closing this ticket for now as _answered_. Please feel free to reopen it if you still find issues trying to workaround your specific scenario.

[2016-06-10 22:38] #498 closed, assigned to danielfernandez

[2016-06-13 04:32] QiaoG commented on #395
<img src="[[@{/images/logo.png}]]" alt="logo" /> can not parse to <img src="/???/images/log.png" ...
why?

[2016-06-13 04:35] QiaoG commented on #395
src="[[@{/images/logo.png}]]" can not parse to  src="/???/images/log.png" ... why?

[2016-06-13 21:09] danielfernandez commented on #395
@QiaoG are you using the `TEXT` template mode for that tempalte?

[2016-06-16 10:17] lmtoo opened #509 "about binding List<String> value to textarea"
I want to binding  List<String> value to textarea，one line one String element，so I use
`<textarea  class="form-control" th:rows="${rows}" th:id="${id}" th:name="${id}" th:placeholder="${placeholder}" th:text="${#strings.listJoin(text,'\n')}"/>`
but the result is split by string "\n" not lineseparator,so I try to put this join logic to model object ,add a getter,and the result is right,so I think t

[2016-06-18 21:14] danielfernandez commented on #509
The `'...'` syntax in Thymeleaf expressions does not correspond to the meaning of `'...'` in Java. While in Java single quotes are meant to specify a _character_, in Thymeleaf expressions they are meant to specify a _text literal_ (like `'whatever you want to put here'`).

So what you are telling the expression engine there is that you actually want to join your strings using the _(backslash, lett

[2016-06-18 21:14] #509 closed, assigned to danielfernandez

[2016-06-22 06:24] qinliming opened #510 "document translate"
I want to translate the doc of thymeleaf to chinese
https://qinliming.gitbooks.io/thymeleaf_zh/content/

[2016-06-22 20:25] danielfernandez commented on #510
Hello @qinliming

I understand that you are volunteering for performing the translation of some Thymeleaf documentation to Chinese, right? Do you mean the tutorials? (what I can see in that link seems like the first paragraphs of the _Using Thymeleaf_ tutorial).

If so, please give us some time to update these docs to Thymeleaf 3.0 (two of the three tutorials are still based on 2.1) and then pleas

[2016-06-22 20:25] #510 closed, assigned to danielfernandez

[2016-06-23 02:04] qinliming commented on #510
@danielfernandez OK,i will wait for the  Thymeleaf 3.0 tutorials

[2016-06-24 18:00] markot6 commented on #314
A workaround is create a temporary interface and a related implementation:

[code]

[code]

Then, in the tested component instead of:

[code]

use:

[code]

Now, you can easily `mock(ITemplateEngine.class)` and its `process()` method.

[2016-06-30 01:57] duyanhpro opened #511 "th:switch doesn't work with variable of Byte type"
This was observed in spring boot 1.3.5  & thymeleaf 2.1.4:
In spring mvc controller:
`Byte i = 1;
        model.addAttribute("mynumber", i);`
In template:
`<div th:switch="${mynumber}">
                <td th:case="'1'">Active</td>
                <td th:case="'0'">Disabled</td>
                <td th:case="*">Unknown status</td>
            </div>`
Or:
`<div th:switch="${mynumber}">

[2016-07-01 08:50] gochev opened #512 "URL expressions doesnt work with variables."
Based on the documentation here http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#dialects-the-standard-dialect

Expressions like:

[code]

should work however placing `{variable}` inside the `@{}` block doesnt work.

My snippet:

[code]

so the only way is to use `+`

[code]

[2016-07-01 08:53] gochev commented on #512
it is not because of the `data-th-href` of course ;) I tried with the html5 not valid way `th:href`  but it also doesn't work.

[2016-07-04 21:26] danielfernandez commented on #512
Please note that when using URL variables, you should provide a value for them as a parameter to the link expression. So note how in:

[code]

...the `{orderId}` variable is given a value as a parameter: `(orderId=${o.id})`.

If you want to simply append your variable without the need for appending it, you could use _literal substitutions_ (`|...|`), like:

[code]

By the way, the _Using Thymeleaf

[2016-07-04 21:26] #512 closed, assigned to danielfernandez

[2016-07-06 22:06] danielfernandez commented on #511
Confirmed. Somehow `Byte` wasn't being taken into consideration in `EvaluationUtils#evaluateAsNumber(...)`

[2016-07-06 22:11] danielfernandez opened #513 "PORT: th:switch doesn't work with variable of Byte type"
PORT of #511 for the Thymeleaf 2.1 branch.

[2016-07-06 22:15] #513 closed, assigned to danielfernandez

[2016-07-06 22:15] danielfernandez commented on #513
Already in `2.1.5-SNAPSHOT`

[2016-07-06 22:16] #511 closed, assigned to danielfernandez

[2016-07-06 22:20] danielfernandez commented on #511
Already in `3.0.0-SNAPSHOT`

[2016-07-07 14:56] cruftex commented on #108
+1 for keeping it open.

I think Thymeleaf should have a standard solution for this. In what artifact it is included, is another discussion. We might take a look at this and do a contribution, so additional hints and +1 are welcome :)

[2016-07-07 14:56] cruftex commented on #11
+1 for keeping it open.

I think Thymeleaf should have a standard solution for this. In what artifact it is included, is another discussion. We might take a look at this and do a contribution, so additional hints and +1 are welcome :)

[2016-07-08 10:40] tburny commented on #112
I just stumbled upon this and took a look at the code. Maybe it would be wise to add some unit tests? This would prove your code to be (probably) correct :)

[2016-07-11 20:50] #302 closed, assigned to jmiguelsamper

[2016-07-11 21:13] #371 closed, assigned to danielfernandez

[2016-07-11 21:14] #337 closed, assigned to danielfernandez

[2016-07-12 18:00] tobiasflohre opened #515 "Why is owner template part of the cache key?"
If we reference one template from many templates we noticed that it's put into the cache for each template it is referenced from because the owner template is different. At least in our case that's not necessary and fills the cache unwanted. Why is that the case? Would it be safe to eliminate the owner template from the cache key (let's say in a cache repo facade for all reading and writing access

[2016-07-13 06:09] sify21 opened #516 "How do I configure thymeleaf 3.0 with springMVC through xml?"
I know it can be configured through java code, but I prefer the xml way. The official doc isn't updated, can you tell me how to do that?

[2016-07-13 06:35] jmiguelsamper commented on #516
Hello,

you can find examples at the end of the Migration Guide at http://www.thymeleaf.org/doc/articles/thymeleaf3migration.html

[2016-07-13 06:35] #516 closed, assigned to jmiguelsamper

[2016-07-13 06:45] sify21 commented on #516
Thank you, it seems that I only need to change ServletContextTemplateResolver to SpringResourceTemplateResolver

[2016-07-13 22:56] danielfernandez commented on #515
In 3.0, the template resolution process (represented by `ITemplateResolver` and its implementations) was made more flexible.

Two main actions were taken: 1. Add a `Map` of template resolution attributes which could be used for _configuring_ template resolution for a specific template execution, and 2. Add the concept of `ownerTemplate` so that fragments could be resolved in a different way depend

[2016-07-13 22:56] #515 closed, assigned to danielfernandez

[2016-07-14 19:31] tobiasflohre commented on #515
Thanks!

[2016-07-18 20:36] phillipuniverse opened #518 "Processors implementing an AbstractModelVariableProcessor without replacing the tag throw a StackOverflowException"
1. Add a new processor to the dialect that extends from `AbstractModelVariableProcessor` with no implementation in the `process()` method:

[code]
1. This operates off of a template like this one:

[code]
1. This throws the following exception:

[code]

From what I can see in tracing through the code, the model processors are supposed to be applied in 2 steps: the 1st step is to compile the model

[2016-07-18 22:56] #518 closed, assigned to danielfernandez

[2016-07-18 22:56] danielfernandez commented on #518
Should be fixed now. The problem was that a recompute of the `ProcessorElementIterator` was being forced even when the `ModelProcessor` made absolutely no changes on the `tag`.

This recompute should only take place if the tag has suffered any changes. That is what allows processors to trigger the execution of new processors on tags –processors that wouldn't be initially applicable given the origi

[2016-07-18 22:58] danielfernandez commented on #518
Already in `3.0.1-SNAPSHOT`

[2016-07-19 23:39] danielfernandez opened #520 "Improve handling of Jackson initialisation errors"
If an error happens during the initialisation of a Jackson-based `StandardJavaScriptSerializer`, such as e.g. the version of Jackson being < 2.5.0 and therefore some required configuration methods being missing, the current setup simply stops initialisation, throws an exception and stops.

A better approach would be to issue a warning through the logs and default to non-Jackson-based initialisatio

[2016-07-19 23:47] #520 closed, assigned to danielfernandez

[2016-07-19 23:50] danielfernandez commented on #520
Already in `3.0.1-SNAPSHOT`

[2016-07-28 07:52] sorayasl opened #522 "Script containing html not correctly processed"
I'm migrating from thymeleaf 2.1.2 to 3.0.0 but have found a piece of code in a template which does not work due to thymeleaf not interpreting properly an script containing html (I'm usign it as a template for jquery-tmpl plugin).

Script containing html (used as a fragment):

[code]

The fragment above is being added to a template by means of:
`<script th:replace="layout/menu :: menutmpl"></scrip

[2016-07-29 11:23] www1350 opened #523 "error in springboot with scala"
**I use thymeleaf in scala report error**
Can return data by JSON.

2016-07-29 19:10:47.336 ERROR 6912 --- [nio-8080-exec-1] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing fai
led; nested exception is org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating SpringEL expressio

[2016-07-29 12:47] CrazyOrr commented on #209
Hi, @danielfernandez What about query params? Can we add/replace/remove specific query params based on the current ones? Like mentioned in this question: http://stackoverflow.com/questions/17504965/thymeleaf-url-construction

[2016-07-30 21:08] ultraq commented on #523
This line in the stack trace looks suspicious:

It doesn't look like it's trying to get `username` from your user class, but rather from a `JIterableWrapper` class (I'm guessing that's a Scala internal class).  I don't know Scala that well, but does that give any hint as to why it's trying to do that?

[2016-08-01 05:41] www1350 commented on #523
**I've found the mistake, It's about the feature of scala.**
-  It doesn't have automatic generate like getter and setter, the `@BeanProperty`needs to be set manually. But I still don't clearly understand why it can return json and confused about the parsing process of the thymeleaf;

[code]
- To convert the Iterable of scala  into java.util.Collection may needs explicit conversion.

`val userList

[2016-08-01 05:46] #523 closed, assigned to ultraq

[2016-08-01 18:13] prusik opened #524 "Improper escaping of text ressource in TEXT templateMode."
In version Thymeleaf 3.0.0.RELEASE, using Spring Boot 1.4.0.RELEASE.

In my opinion, multilingual text is being improperly escaped for mode TemplateMode.TEXT. In my template there is a multilingual resource (spring messages.properties) that is escaped while being resolved.

For example, if messages.properties contains
    myresource=I'd like this to work

When resolving #{myresource} in my templat

[2016-08-05 13:00] stefluhh opened #525 "th:classappend creates at least 1 whitespace"
Hi,
this is my code:
`<a th:fragment="href-link" class="link--alpha" href="#" ontouchstart
        th:classappend="${link.iconLink} ? ${'--icon ' + link.iconName}">
</a>`

And this is the output:
`<a class="link--alpha --icon facebook" href="#" ontouchstart></a>`
I suppose there shouldn't be a whitespace beetn link--alpha and --icon facebook, or? I also tried this:

`th:classappend="${link.iconLin

[2016-08-06 23:11] danielfernandez commented on #525
This is the intended behaviour. `th:classappend` is supposed to append classes to elements, and it needs a whitespace in order to actually do that without modifying the values already existing at the `class` attribute.

If you want to append in a _raw_ fashion, without this _intelligence_ associated to a `class` attribute, I would recommend using `th:attrappend` and specifyig the `class` attribute

[2016-08-06 23:11] #525 closed, assigned to danielfernandez

[2016-08-06 23:18] danielfernandez commented on #524
This is intended behaviour. This was designed like that in order to: 1. Support the rendering of HTML templates in `TEXT` mode for performance or style reasons; and 2. Provide backwards-compatibility with `th:inline="text"` markup fragments still allowed in 3.0, and used quite often in Thymeleaf 2.1 setups.

Note that the `TEXT` template mode, like all other textual template modes –and also all in

[2016-08-06 23:18] #524 closed, assigned to danielfernandez

[2016-08-09 08:58] ldesgrange commented on #497
Hi,

[I had the same issue with Thymeleaf 2](http://forum.thymeleaf.org/Use-a-different-template-for-a-given-Locale-td4026103.html), I'm trying to do the same in Thymeleaf 3 and it seems to be even more complicated now.
This would be a very nice feature for me too.

[2016-08-11 10:31] szhupeng opened #526 "spring boot combine thymeleaf cannot include css/js"
I use spring boot and thymeleaf to build a project,but the css/js file include in html cannot load;
error:
Failed to load resource: the server responded with a status of 405 ()

[2016-08-11 14:15] danielfernandez commented on #526
HTTP 405 is a `Method not allowed` error, so it seems there is something in the configuration of your Spring Boot app that prevents the use of one of the HTTP methods (`GET`, `POST`, `PUT`, etc.) you are using for loading some of your resources, or calling some of your APIs. This does not seem to have a relation to Thymeleaf.

[2016-08-11 14:15] #526 closed, assigned to danielfernandez

[2016-08-19 04:11] jansen07 commented on #11
up. for adding simple/general tags for stripping those extra lines and spaces. please make
thymeleaf-extras-minify for this issue ..
+1 for #11

[2016-08-19 05:51] jansen07 opened #527 "thymeleaf-minify"
i would really love to minify thousands of lines of web page generated by thymeleaf..
GZIP + minify = amazing.

creating some thymeleaf-extras-minify might help lots of people

[2016-08-21 03:12] ghost commented on #465
Great feature! Is there a list of all possible selectors? I read the AttoParser docs but it was mostly internal documentation. Also, is it possible to make a ~1:1 xml file that maps directly to each line in the html?

[2016-08-23 07:50] CodePlayer7 opened #528 "Parsing Error when declaring an nested array in embeded js inside the page file"
as long as the below code is added to the page

[code]

[2016-08-23 16:37] danielfernandez commented on #465
The JavaDoc for the [`org.attoparser.select` package](http://www.attoparser.org/apidocs/attoparser/2.0.0.RELEASE/org/attoparser/select/package-summary.html) is currently the only authoritative source on selectors. Note it is not _internal_ documentation, but actually stable, fully-valid one. The AttoParser website itself has not been updated to AttoParser 2.0 though, so we are still lacking proper

[2016-08-23 22:12] cja769 opened #529 "Error resolving templates that are empty or just have a Thymeleaf comment"
In Thymeleaf 2.1.4, if a template resolver returned a valid file location the template was returned regardless if there was any contents in it or not. In Thymeleaf 3 this is not true. If the file returned is empty or if there was only a Thymeleaf comment (i.e. after parsing the file was empty) then an error is thrown saying that the template could not be resolved just as if the file didn't exist e

[2016-08-24 05:54] ghost commented on #465
What I meant to say is if it is possible to match every single tag in a corresponding html file simply by the order in which the tags appeared in the html.

For example, if line one of the html file was `<div class="row">`, I could just write `<attr th:text="${user.name}" />` on line one of the xml file and it would map correctly. Of course, this means that I would have a lot of empty `<attr/>` ta

[2016-08-24 06:57] danielfernandez commented on #465
No, you need a selector in your `<attr>` tags. There is no 1:1 correspondence mechanism.

I understand this, but that would make you end up with very large XMLs with, as you say, tons of empty `<attr>` tags. And your XML would be 100% sensitive to changes in the (now-hardly-coupled) HTML. So IMHO the coupling situation between markup and logic would have gone _worse_, not better...

That's when ca

[2016-08-24 12:11] josketres commented on #147
Why is the template engine removing double underscores?
Is there any way to fix this? Adding the possibility to escape is only a workaround!
This is very annoying for projects using [BEM](http://getbem.com/introduction/)

[2016-08-24 22:20] danielfernandez commented on #147
@josketres double-underscores are the markers for _expression preprocessing_ in Thymeleaf Standard Expressions. See http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#preprocessing

[2016-08-25 13:49] josketres commented on #147
ok, thanks for the clarification! 👍  it's still not nice for projects using BEM 😩

[2016-08-27 22:43] danielfernandez commented on #529
That is intended behaviour in 3.0, due to a series of required interactions in the way the new _Fragment expressions_ (`~{...}`) work (even if you don't use the `~{...}` syntax, your `th:include`, `th:insert` and `th:replace` attribute value will be considered a fragment expression).

Given fragments have now been given _first-class citizen_ status, the absence of anything to be inserted is consid

[2016-08-27 22:43] #529 closed, assigned to danielfernandez

[2016-08-29 15:54] cja769 commented on #529
Ok just making sure that it was intended. I was actually running into this because we have this idea of overriding templates. Take for an example a template named `layout/partials/preFooterContent`. We have a default template resolver that returns just an empty template. If some other module or piece of extended code wants to put something there then their template resolver would have a higher pre

[2016-09-06 11:21] arminnaderi commented on #465
Great advice, thank you. I have been using your decoupled templates for a few files and have begun to appreciate how invaluable they are! It can make working with front end developers much easier.

By the way, what are your suggestions for fragments? If a front end developer views the html file that was just converted from full coupling, he would have a hard time developing if there are a lot of f

[2016-09-06 11:23] arminnaderi commented on #465
Great advice, thank you. I have been using your decoupled templates for a few files and have begun to appreciate how invaluable they are! It can make working with front end developers much easier.

By the way, what are your suggestions for fragments? If a front end developer views the html file that was just converted from full coupling, he would have a hard time developing if there are a lot of f

[2016-09-06 11:23] ghost commented on #465
Great advice, thank you. I have been using your decoupled templates for a few files and have begun to appreciate how invaluable they are! It can make working with front end developers much easier.

By the way, what are your suggestions for fragments? If a front end developer views the html file that was just converted from full coupling, he would have a hard time developing if there are a lot of f

[2016-09-08 17:19] prusik commented on #524
Oh, good to know, missed that one! Thanks for the reply.

shaun

[2016-09-09 13:47] anschnapp opened #530 "Improve handling of Jackson initialisation errors fix don't take effect when an Error was thrown"
Hi,

i get an error on jackson initialization. (Thymeleaf Version 3.0.1.RELEASE)

My environment contains an old jackson library which i can't easily update.

I have seen you already have a ticket for jackson initialization problems

Related Ticket
https://github.com/thymeleaf/thymeleaf/issues/520

Related commit with fix
https://github.com/thymeleaf/thymeleaf/commit/69724d1db9c55ae95068fda7f73a60

[2016-09-09 20:36] garyhellman commented on #465
Hello
We use a header/footer/ assets server with "pure" HTML  (but named "*.inc" not *.html)
ala "jsp c:import tag"

Can I see an example of using UrlTemplateResolver like this?
Would the *.th.xml files need to exist on that same assets server?
OR would just UrlTemplateResolver accomplish this?

basically in order to do this:

<div th:include="http://www.thymeleaf.org :: p.notice" >...</div>

Than

[2016-09-09 20:50] danielfernandez commented on #465
@garyhellman the `UrlTemplateResolver` will try to look for the `th.xml` file in the same path as the template (also retrieving it as an URL). It does this because that's what the `UrlTemplateResource#relative(String relativeLocation)` does.

And the reason `UrlTemplateResource#relative(...)` is called is because that is what `StandardDecoupledLogicTemplateResolver` does. But this is only the defa

[2016-09-09 20:52] garyhellman commented on #465
Wow thanks for fast response -
I am trying to do this:

`<div th:include="http://www.thymeleaf.org :: p.notice" >...</div>`

am I making it more complicated that necessasry?

[2016-09-09 20:55] danielfernandez commented on #465
@garyhellman that could be enough (though I'd recommend `th:insert` in Thymeleaf 3.0). However, note that if that `<p class="notice">...</p>` fragment you are selecting there needs to be applied no Thymeleaf logic (because of being a _static asset_, not a template or anything you want to apply logic on), you'd need no `th.xml` file at all. Simply insert your `.inc` and you'd be done...

[2016-09-09 22:07] garyhellman commented on #465
I am not configured I supposed - I get " [templates/http://www.thymeleaf.org.html] cannot be opened because it does not exist"
I am using Spring Boot with Thymelaf 3.1
can we use both URL and html templates? (yes - as in the example in the docs)

[2016-09-09 22:09] danielfernandez commented on #465
@garyhellman yes. You need to configure your `UrlTemplateResolver`. Have a look: http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-resolvers (especially at the _Chaining Template Resolvers_ section)

[2016-09-12 09:40] anschnapp opened #531 "customizable escaping functions would be nice"
I need some special escaping for my html templates.
In fact they are angularjs templates and so my code is potential vulnerable for client site template injections in angular. (yes maybe mixing server templates with client site templates is not a good idea but there is no fast way to change it in the related codebase)

I've make a very special escaping for handle this problem. But for now it's rea

[2016-09-13 11:35] anschnapp commented on #530
i have created a pull request with a fix which works inside my application

[2016-09-14 13:11] anschnapp opened #533 "custom IMessageResolver wired by spring is overwritten with default one"
I have a custom IMessageResolver which i have set (with spring) as the message resolver for the SpringTemplateEngine.

But after the spring properties are set the method afterPropertiesSet inside of SpringTemplateEngine is triggered and overwrite the Resolver with a default one.

See this code snippet:

[code]

[2016-09-14 22:14] danielfernandez commented on #531
`th:text` currently applies the escaping mechanisms that correspond to each of the different template modes: HTML, XML, JAVASCRIPT, etc.

Being `th:text` a core tag in the Standard Dialect, and its already-existing adaptation to each of the template modes, I would not agree to making its behaviour modifiable by means of configuration, as the result of that would IMHO be that `th:text` would no lon

[2016-09-14 22:23] danielfernandez commented on #533
This is intended behaviour. The `SpringTemplateEngine` aims at full Spring integration and, as a part of this, message resolution is integrated with Spring's declared `MessageSource` beans, overriding the configurable behaviour present at `TemplateEngine` (which it extends).

Actually, all it basically does is setting the `SpringStandardDialect` and setting the message resolution as you explain. I

[2016-09-14 22:23] #533 closed, assigned to danielfernandez

[2016-09-15 07:29] anschnapp commented on #531
Yes you are right, the th:text with template mode html should have the standard escaping for html.

My code is vulnerable for client side template injections with just "normal" use of th:text.
Here is a snippet just for illustration:

[code]

If the resolved message has a value

[code]

The expression will be interpreted by angular and the displayed result is 1.
Normal escaping f.e. of the charact

[2016-09-15 07:48] anschnapp commented on #533
Thanks for your info! I thought spring template engine is a must for working with spring and is highly customizable, maybe i should have take a deeper look in the javadocs... ;)

[2016-09-16 16:38] garyhellman commented on #465
Daniel (and all),
I am interested in using Spring Boot, Thymeleaf(2 or 3) and URLTemplate (to pull in header/footer snippets from a different host.
I probably should read more/all of the code in Thymeleaf and Spring Boot
but ... if anyone already knows how to do this, I would appreciate the help ...

Also please just let me know if it makes more sense to ask for help from Spring Boot .. forum
Than

[2016-09-16 20:54] danielfernandez commented on #531
I understand.

In my opinion the mix of server- and client-side templates is not the real issue here, as you could be experiencing this same code injection scenario in client-side-only templates with, for instance, values coming from user input as request parameters (precisely, that's what the article you link explains).

I think mixing server- and client-side templates is actually a very useful t

[2016-09-16 20:54] #531 closed, assigned to danielfernandez

[2016-09-16 21:25] danielfernandez commented on #528
This conflicts with Thymeleaf _inlined expression_ syntax, which is active by default since Thymeleaf 3.0. Inlined expressions are specified between double brackets, like `[[...]]`.

In order to overcome this, all you have to do is add a whitespace between your brackets. It is perfectly valid JavaScript syntax, and Thymeleaf's parser will not complain:

[code]

[2016-09-16 21:25] #528 closed, assigned to danielfernandez

[2016-09-17 03:24] gomyho commented on #451
hi,
I'm from china,i'm learning thymeleaf ,but when i use thyemleaf3.0 layout examples,it always throws exception,hope 4 solution.
In my project(spring boot1.4,spring-boot-starter-thymeleaf) template files like this:

[code]

all content in _header.html_  (copy from   [ http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-layout](http://www.thymeleaf.org/doc/tutorials/3.0/usingt

[2016-09-17 14:10] anschnapp commented on #531
I agree that a custom expression or a own dialect is a proper solution here and i will use this approach.

But personaly I would prefer a way to handle it as an Template Mode cause in my opinion it is anoher type of template and it would be great to reuse the standard dialogs and such already implemented mechanism like lazy escaping. But I also see that the API is not designed to provide an easy w

[2016-09-21 12:45] naokism opened #534 "Fragment parameter validation not parametersAreSynthetic pattern."
Hi,

I think don't need this code.
Because , when it has many fragment parameters , I have to write much.
But Thymeleaf can write name based parameters.

I want to write only parameters required .

FragmentSignatureUtils#processParameters

[code]

Thank you for your consideration.

[2016-09-21 17:11] benkuly opened #535 "th:if Closing tag isnt removed"
I use Thymeleaf (3.0.1.RELEASE) with Spring Boot (4.0.1.RELEASE). The th:if attribute (e.g. `<hr th:if="${false}"></hr>` and `<input th:if="${false}"></input>`) does not remove the closing tag when false (e.g. `</hr> and </input>` in processed html). I tried this with autoconfigured Spring Boot and manualy:
`engine = new TemplateEngine();
engine.clearDialects();
StandardDialect std = new StandardD

[2016-09-21 18:41] garyhellman commented on #465
This link was a help - I think it is working for me now...
https://github.com/spring-projects/spring-boot/issues/6500
(for v2 and v3) - the "order" was apparently very important

Thanks again Daniel!

[2016-09-22 19:31] danielfernandez commented on #535
This is correct behaviour when Thymeleaf 3 works in HTML mode.

According to the HTML specification, both `<th>` and `<input>` are _void_ tags, they have no body. The _elements_ on which your `th:if`s are applied end in the `>` character of the tags they live in.

So `</input>` and `</hr>` do not really exist and are not considered related to `<input>` or `<hr>`. Instead, they are considered _unma

[2016-09-22 19:31] #535 closed, assigned to danielfernandez

[2016-09-22 19:33] danielfernandez commented on #451
@gomyho check your configuration, you are using Thymeleaf 2.1. The `FragmentSelectionUtils` class does not exist in 3.0.

[2016-09-22 21:26] danielfernandez commented on #534
Sorry, could you elaborate a bit? I don't think I fully understand your issue…

If you want to specify less arguments than present in a fragment signature, reduce your fragment signature to include only the required ones, then call it with as many (named) parameters as you want. Only the ones present at the signature will be checked, as explained in a code comment just above the piece of code you

[2016-09-23 01:21] naokism commented on #534
I apologize if the explanation was hard to understand.

I am creating a common component.

for example.
/component/textfield.html

[code]

This component has 5 pamameters.
I want use 3 parameters of these. However, this pattern will result in an error . ( call parameters < signature parameters)
I think this case may be permitted when dialect implement a null check.

[code]

[2016-09-26 21:15] danielfernandez commented on #522
Note this only happens when the fragment `<script>` lives inside the `<head>` element of the container template.

The reason for this is that AttoParser is not considering this `<script>` as mere `CDATA` because it is a template, and therefore it's parsing its contents. And when it finds `<div>`, which is a body-only block element (in normal conditions), it auto-closes the `<head>`. And before aut

[2016-09-26 23:22] danielfernandez opened #536 "Jackson not protecting against closing script tag in literal escaping"
When Jackson is included in the classpath, Thymeleaf 3.0 uses it for the serialization of JavaScript.

This includes output of inlined output expressions and objects in JavaScript object syntax, like:

[code]

The problem appears when `value` contains the `"</script>"` string, which in theory has no characters that should mandatorily be escaped in JavaScript or JSON syntaxes. So for `value = "Some

[2016-09-26 23:24] #522 closed, assigned to danielfernandez

[2016-09-26 23:25] danielfernandez commented on #522
Already in `3.0.2-SNAPSHOT`

[2016-09-26 23:27] danielfernandez commented on #530
Already in `3.0.2-SNAPSHOT`

[2016-09-26 23:27] #530 closed, assigned to danielfernandez

[2016-09-26 23:45] danielfernandez commented on #536
Related: FasterXML/jackson-databind#1145

[2016-09-27 00:47] #536 closed, assigned to danielfernandez

[2016-09-27 00:49] danielfernandez commented on #536
Already in `3.0.2-SNAPSHOT`

[2016-09-27 01:51] gomyho commented on #451
yes,i found that the default Tyemeleaf version is 2.x in spring boot1.4 ,and my example is for version3.x.

[2016-09-27 03:27] gomyho commented on #451
yes,i found that the default Tyemeleaf version is 2.x in spring boot1.4 ,and my example is for version3.x.

[2016-09-27 19:21] alexaylwin opened #537 "Map multiple HTML files to single decoupled templates"
Hi there, this is a question regarding how to map more than one presentation template to a decoupled logic template. I have the following files for my templates:
- HtmlTemplate1.html
- HtmlTemplate2.html
- HtmlTemplate.th.xml

When the view is returned from a controller method (HtmlTemplate1 or HtmlTemplate2), I would like both to read HtmlTemplate.th.xml as the decoupled logic file. Does the Stan

[2016-09-27 21:18] Assumeru opened #538 "Update ognl"
I ran into an issue with varargs parameters using 3.0.1.RELEASE where ognl would select the wrong method out of:

[code]

Using an expression like this:
`<p th:text="${obj.format('Hello world')}"></p>`

ognl attempts to use the second method and then proceeds to throw an ArrayIndexOutOfBoundsException because it's missing arguments.

After reducing the problem to a simple ognl call, I found the pr

[2016-09-27 22:26] danielfernandez opened #539 "Prevent XHTML code injection in inlined escaped JavaScript literals"
Inlined (and escaped) JavaScript literals do protect against code injection when browsers display markup in HTML mode by escaping `/`, such as:

[code]

The \/ escape sequence prevents [SOME_INJECTED_CODE] from actually executing.

But in XHTML environments, a similar issue could appear if XHTML escapes are used inside literals. When browsers are operating in XHTML mode (`Content-Type: application

[2016-09-27 22:31] #539 closed, assigned to danielfernandez

[2016-09-27 22:33] danielfernandez commented on #539
Already in `3.0.2-SNAPSHOT`

[2016-09-27 22:46] danielfernandez commented on #537
I'm afraid `StandardDecoupledTemplateLogicResolver` does not offer this, as it bases its search for _decoupled logic_ files in the names of the original templates (plus a suffix and/or a prefix). So it would always look for two different files in your case.

So yes, I think you should provide your own implementation to the `IDecoupledTemplateLogicResolver` interface in this case. Which should be e

[2016-09-27 22:46] #537 closed, assigned to danielfernandez

[2016-09-27 23:14] danielfernandez commented on #538
Updated to OGNL 3.1.10. Actually, updating to a version of OGNL >= 3.1.5 was a pending task that would allow us get rid of a direct dependency on the Javassist library.

And given OGNL 3.1.10 depends on Javassist 3.20.0-GA, which is the minimal version we needed (older versions of Javassist didn't work well with Java 8), this change allows us to not even have to manage the dependency.

All tests p

[2016-09-27 23:14] #538 closed, assigned to danielfernandez

[2016-09-27 23:15] danielfernandez commented on #538
Already in `3.0.2-SNAPSHOT`

[2016-09-27 23:18] danielfernandez commented on #534
I'm afraid that is actually the intent of the fragment specification signature: to work like a Java method call. So arguments specified there are required, just like in Java code.

Non-required attributes should not appear at the signature.

Thanks a lot for your comments. I'm closing this for now, please reopen if you find any issues with this approach.

[2016-09-27 23:18] #534 closed, assigned to danielfernandez

[2016-09-28 07:20] Assumeru commented on #538
Well that was quick. Awesome.

[2016-09-28 11:28] ruszki opened #540 "Local variables in th:object attributes"
When a selection (*{}) is used in an expression (e.g. th:field="*{something}"), it's resolution will be the content of th:object concatenated with selection's value (e.g. if th:object="${object.objectField}", then th:field="*{field}" will be resolved to "${object.objectField.field}"). If a local variable is used in the object definition, then it won't be resolved properly. Example:

[code]

Then t

[2016-09-28 11:59] alexaylwin commented on #537
Thank you, I've extended it for my purposes.

[2016-09-29 17:42] dopatraman commented on #189
why is this closed? clearly @harikk question has not been answered.

[2016-09-29 17:47] danielfernandez commented on #189
@dopatraman this issue was closed in 2013. And @harikk's question was posted on a 3-yr-old closed ticket in 2016, after what he opened a new ticket, #456, which was sufficiently answered IMHO.

Regards.

[2016-10-04 22:34] danielfernandez commented on #540
This is expected behaviour. In order to properly use a context variable as a form-backing bean, such variable must be added to the `ModelMap` so that Spring is able to recognize it.

In your case, however, `th:with` is creating a _local variable_ that is only available inside your `<div>` tag, a thymeleaf-specific feature that is not later accessible by Spring when performing the real binding (Spr

[2016-10-04 22:34] #540 closed, assigned to danielfernandez

[2016-10-06 09:25] cplaetzinger opened #541 "Thymeleaf 3 fails to parse JavaScript string containing start of comment"
The following template code works fine in Thymeleaf 2.x but fails in 3.x
`<script th:inline="javascript">
        var options = {acceptedFiles: 'image/*'};
    </script>`

From the logs:
[thymeleaf_3.x_parseerror.txt](https://github.com/thymeleaf/thymeleaf/files/513312/thymeleaf_3.x_parseerror.txt)

[2016-10-06 20:54] danielfernandez commented on #541
Confirmed, thanks. It seems `TextParser` is not taking literals into account when looking for comment opening/closing delimiters.

[2016-10-10 16:53] damienbeaufils opened #542 "Thymeleaf 3 rendering issue when having empty HTML comment in template"
Hello,

I am migrating my web application from Thymeleaf 2.x to 3.0.2, and I encountered a strange issue with one of my templates: there was an empty HTML comment (**``**) inside a fragment template and it was preventing the whole block and blocks after to be rendered correctly, like if the closing tag was not properly rendered.

I try to add this `` line inside differents fragments, and sometimes

[2016-10-10 22:15] danielfernandez commented on #542
Thanks. Confirmed. This is an issue at the AttoParser side: attoparser/attoparser#14

Thymeleaf `3.0.3-SNAPSHOT` will update its dependency to `org.attoparser:attoparser:2.0.2-SNAPSHOT`, and a fixed AttoParser 2.0.2 version should be used in Thymeleaf 3.0.3.

[2016-10-10 22:31] #542 closed, assigned to danielfernandez

[2016-10-10 22:35] danielfernandez commented on #542
Already in `3.0.3-SNAPSHOT`

[2016-10-11 14:13] damienbeaufils opened #543 "`<p>` with `<form>` inside + `th:if` is rendered when it should not be"
Hello,

I am still migrating my web application from Thymeleaf 2.x to 3.0.2, and I encountered another issue with one of my templates: I had a `<p th:if="${someCondition}"><form>xxx</form></p>` which is rendered even when `${someCondition}` is `false`. If I change the `<p>` to a `<div>` or a `<th:block>`, it works fine.

Here is an example to reproduce it (tested with Thymeleaf 3.0.2):

Template:

[2016-10-11 21:01] danielfernandez commented on #543
Actually, this is expected and correct behaviour. And I'll explain:

According to the HTML specification, a `<form>` tag cannot live inside a `<p>` element. So what Thymeleaf's HTML parser is doing is to _auto-close_ your `<p>` element as soon as it encounters `<form>`. So this code:

[code]

…actually looks like this to Thymeleaf:

[code]

And that is precisely why you see that behaviour, because

[2016-10-11 21:19] ultraq commented on #543
Gah, you beat me to it @danielfernandez 😛

Reference: https://html.spec.whatwg.org/multipage/semantics.html#the-p-element

[2016-10-12 08:08] damienbeaufils commented on #543
Thanks for your quick answers and explanations! That's what I was afraid of. ;-)
It seems that Thymeleaf 2.x didn't care about this, and it can be a breaking change for users like me who had invalid HTML inside their templates.

[2016-10-12 20:00] danielfernandez commented on #543
Yes, Thymeleaf 2.1 didn't actually have the possibility to understand things like these, because it was based on an XML parser (as were all previous versions of Thymeleaf). For Thymeleaf 3.0, we developed AttoParser in order to have a _real_ HTML parser to do the job, with complete HTML5 support. So this is actually more a _fix_ than a change in behaviour…

[2016-10-12 20:00] #543 closed, assigned to danielfernandez

[2016-10-13 20:22] #541 closed, assigned to danielfernandez

[2016-10-13 20:27] danielfernandez commented on #541
Already in `3.0.3-SNAPSHOT`

[2016-10-18 14:59] PawelJagus commented on #377
Unfortunately this fix breaks already existing reverse sequences in views. For example numbers.sequence(9,1) ends now with IllegalArgumentException. Not cool.

[2016-10-18 15:00] PawelJagus commented on #438
Unfortunately this fix breaks already existing reverse sequences in views. For example numbers.sequence(9,1) ends now with IllegalArgumentException. Not cool.

[2016-10-18 15:05] PawelJagus opened #544 "After fixes #438 and #377 the two argument sequence method should be adjusted for reverse sequences"
After fixes #377 and its port #438 all the reverse sequences done with the two argument version of NumberUtils.sequence method are broken. This method should be adjusted with a check if from > to then sequence(from, to, Integer.valueOf(-1)).

It is a pity that such a thing does not have a unit test.

[2016-10-19 01:12] danielfernandez commented on #544
Confirmed. As you explain, the issue is `NumberUtils.sequence(from,to)` is always sending `1` as `step`, instead of checking if it has to send `-1` instead.

Workaround is to use the 3-arg version and manually specify a negative step of `-1`, like `#numbers.sequence(4, 1, -1)`

[2016-10-19 19:52] danielfernandez opened #545 "PORT: After fixes #438 and #377 the two argument sequence method should be adjusted for reverse sequences"
PORT of #544 for the Thymeleaf 2.1 branch.

Original description:

---

After fixes #377 and its port #438 all the reverse sequences done with the two argument version of NumberUtils.sequence method are broken. This method should be adjusted with a check if from > to then sequence(from, to, Integer.valueOf(-1)).

It is a pity that such a thing does not have a unit test.

---

[2016-10-19 19:54] #544 closed, assigned to danielfernandez

[2016-10-19 19:57] danielfernandez commented on #544
Already in `3.0.3-SNAPSHOT`

[2016-10-19 20:03] #545 closed, assigned to danielfernandez

[2016-10-19 20:05] danielfernandez commented on #545
Already in `2.1.6-SNAPSHOT`

[2016-10-20 04:58] yKazihara opened #546 "Output text is changed(Thymeleaf3)"
After I upgraded from 2 to 3, output text is changed.

[code]

[code]

`<span th:text="${it.code}">ORANGE</span>`

・Thymeleaf 2.1.4.RELEASE
　APPLE // OK

・Thymeleaf 3.0.2.RELEASE
　701259 // hashCode?

Could you tell me why the output is changed?

[2016-10-20 06:24] danielfernandez commented on #546
Nothing should have changed in your case. Are you completely sure that your expression in the second case includes the `.code` part?

Also,  what is the environment? Are you using thymeleaf in a Spring app?

[2016-10-20 08:35] yKazihara commented on #546
I don't use  thymeleaf in a Spring app.

I wrote another sample.
This Junit test was successful.

[code]

[2016-10-20 22:59] danielfernandez commented on #546
This is actually a bug in the OGNL expression language. OGNL is the expression language being used by Thymeleaf in non-Spring applications.  See jkuhnert/ognl#32

I'm leaving this open in order to update Thymeleaf's dependency to a future version of OGNL that might fix this.

[2016-10-21 12:14] sedooe opened #547 "How to properly use dialect precedence?"
Hello,

I'm creating a custom dialect and I want an upperside HTML element to be processed after a downside HTML element. Let's say I want **head** tag to be processed after **div** tag. How can I do this?...or is this possible at all?

I assumed that for the same dialect it is impossible and created a second dialect which have higher precedence so I expected its processors to be executed first bu

[2016-10-21 12:23] destan commented on #527
afaik 'gzip'ing the response is upto the server container or application server.  so I don't think it's Thymeleaf's responsibility.

however I agree that Thymeleaf had better provide a way to minify html output.

[2016-10-22 01:35] ultraq commented on #527
If it is possible, then I think some kind of post-processing extension, rather than the core codebase, could be used to do this.

[2016-10-22 14:30] danielfernandez commented on #547
Please note the _precedence_ mechanism affects the order in which processors are executed inside a specific host tag, not in the template as a whole. So the order and hierarchy in which tags appear in the template has more influence than any of this.

Actually, Thymeleaf by default works as if it were a _stream_, so by the time your `<div>` gets processed it is actually possible that your `<head>`

[2016-10-22 20:07] sedooe commented on #547
Thanks Daniel.

[2016-10-22 20:13] #547 closed, assigned to danielfernandez

[2016-10-22 22:25] ccit-spence opened #548 "Javascript parsing issue for [[ ]]"
Thymeleaf Version: 3.0.0.RELEASE
Thymeleaf  Layout Dialect Version: 2.0.0
Spring Boot: 1.4.1.RELEASE

I have the following setup using the jQuery version of Datatables.

[code]

The `"order": [[ 2, 'asc' ]],` is causing a 500 error.

[2016-10-22 22:32] danielfernandez commented on #548
`[[...]]` is the expected envelope for inlined output expressions, which in this case `2, 'asc'` isn't.

The way to avoid Thymeleaf thinking this is an inlined expression and at the same time let your JS work just the same is to simply add a whitespace char between the brackets: `[ [2, 'asc'] ]`.

[2016-10-22 22:34] ccit-spence commented on #548
That did the trick.  Thanks for the quick response.

[2016-10-22 22:34] #548 closed, assigned to danielfernandez

[2016-10-26 08:39] JeryZeng opened #549 "Inline expression write a error th:block tag"
thymeleaf transform a inline expression as a th:block tag ,but this tag write as a incorrety text,such as `[[${title}]]`:
`<th:blockth:text="${title}">`
but should be:
`<th:block th:text="${title}">`

[2016-10-26 20:47] danielfernandez commented on #549
That is expected behaviour. Those `<th:block>` are synthetically generated at parsing time, and will disappear at processing time, so they should never get to template output. The only way you will see this `<th:blockth:text="${title}">` is if you take one of these tags and do `.toString()` on them inside a processor or pre-processor.

But this doesn't mean the event is not correctly formed: the t

[2016-10-26 21:30] #546 closed, assigned to danielfernandez

[2016-10-26 21:31] danielfernandez commented on #546
OGNL 3.1.12 released and Thymeleaf's 3.0 branch updated to use it.

[2016-10-26 21:32] danielfernandez commented on #546
Already in `3.0.3-SNAPSHOT`

[2016-10-27 00:16] yKazihara commented on #546
Thank you!

[2016-10-27 01:26] JeryZeng commented on #549
Yeah ... but I think it's still a problem.The Engine should always transofrm any expression correctly.that's right?

[2016-10-27 06:33] danielfernandez commented on #549
The expression is being correctly transformed into an `IStandaloneElement` object of name `th:block` that correctly contains a `th:text` attribute with value `${title}`.

What you observe is just the lack of a white space internal structure, which will only show if you execute `toString()` on it during the processing phase, before the element is removed (which is always its fate). This lack of whi

[2016-10-27 09:05] JeryZeng commented on #549
OK.I just have a little bit confusion ,because my requirement is reading some block and write to another files to be some new template module.But i just change my implements.So let it go.
Thanks for ur explanation

[2016-10-27 16:19] yvanavermaet opened #550 "BEM and Thymeleaf don't play nicely together"
Dear

Thymeleaf version: 2.1.4 and 3.0.2

The following html will throw an error due to __ being used.

[code]

I've read a similar issue that was closed as "won't fix", however it should be fixed imo. Thymeleaf is a templating engine and should be able to deal with the BEM standard (or any other standard for that matter).
I know __ is used for preprocessing, however it shouldn't matter when it ap

[2016-10-27 20:27] danielfernandez commented on #550
IMO there is actually nothing to fix here. The reason is, the syntax for Thymeleaf Standard Expressions considers `__` the marker for pre-processing, but offers an escape sequence for it: `\_\_`. Your code will work perfectly if you apply the escape sequence to the value of your `th:classappend` attribute:

[code]

The result will be:

[code]

[2016-10-27 20:29] #549 closed, assigned to danielfernandez

[2016-10-28 14:32] yvanavermaet commented on #550
Hi Daniel

I'm aware of the solution as we are currently using this.

I do feel like this is a bug with the specific example. The HTML example below doesn't have a problem with __, however when it's in a condition (as shown in my previous example) it's a problem. In both cases the __ is present in a string.

[code]

There is another reason why this is annoying. It's just harder to find a certain f

[2016-10-28 16:05] danielfernandez commented on #550
The difference is in the amount of times `__` appears. Pre-processing expressions are _delimited_ by `__`. In your conditional, the `__` appears twice, so the parser feels there is a _delimitation of something_. However, in your example without a conditional there is no _delimitation_, and therefore it works without the need to escape. The specific fact that there is a conditional doesn't affect a

[2016-10-28 16:05] #550 closed, assigned to danielfernandez

[2016-10-30 04:21] yhojann-cl commented on #474
In standard from W3C https://www.w3.org/wiki/HTML5_form_additions#autofocus autofocus canot contain boolean value, if you write autofocus="true" canot pass validator. The parser force to break the html5 standard.

[2016-11-01 13:00] dtrunk90 opened #551 "Append/Prepend text attributes"
According to [this question at SO](http://stackoverflow.com/questions/25071985/thymeleaf-thtext-put-a-text-without-removing-html-structures) it would be nice to have attributes to append/prepend text.

Reasons:
* Using inline text would destroy the idea of prototyping
* Using `th:remove="tag"` would add html elements which aren't necessary
* Using `Hello world` isn't good practice and would bloat

[2016-11-02 07:06] destan commented on #551
How is that? it just removes the "unnecessary" tag but keeps its children which is the text itself in this case.

[2016-11-02 07:09] dtrunk90 commented on #551
In prototype mode it's still an existing unnecessary tag, isn't it?

[2016-11-02 07:16] destan commented on #551
@dtrunk90 oh I see, I only thought of rendered HTML.

[2016-11-02 07:41] ultraq commented on #551
If this doesn't end up on the to-do list for Thymeleaf, then this idea might be a really good custom dialect & processor for someone to make.

[2016-11-03 18:09] dtrunk90 commented on #551
https://github.com/dtrunk90/thymeleaf-extras-textmod-dialect
Prepending is working already. It's just a first try.

[2016-11-03 23:30] danielfernandez commented on #551
I understand, and actually I've seen myself in this situation several times (working with Bootstrap buttons, for example). I've always solved this with inlining, but I understand why someone would prefer to do it in a prototype-friendly manner.

I'm adding this therefore to the Wishlist, but with a modification: **the idea should be to have something more general than simply making text be a prefi

[2016-11-07 18:11] dtrunk90 commented on #482
Additionally I suggest another method: `formatPercent(Number target, Integer minIntegerDigits, Integer decimalDigits)`

[2016-11-10 14:44] rattek opened #554 "th:include/replace to allow server root relative URLs"
The following to example refers to the same template hosted in my Spring project.

<th:block th:include="my/relative/uri" />
<th:block th:include="/my/relative/uri" />

However, I would like the first one to be relative to my project (http://mydomain.com/myproject/my/relative/uri) but the second to be relative to my server (http://mydomain.com/my/relative/uri).

In fact it's the same as for @{...}

[2016-11-12 08:08] destan commented on #554
@rattek including fragments is local and nothing to do with domains or URLs. You can think of this process like _reading a local file from classpath_. So it's not relevant to try including fragments via your app's web URL.

Take a look here http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#fragment-specification-syntax for some examples.

[2016-11-13 12:03] danielfernandez commented on #554
As @destan correctly explained, template resolution is a configurable process independent of the URLs that your web server / web application is configured to respond to. Please have a look at the corresponding tutorial chapters on _Template Layout_ to better understand this process.

[2016-11-13 12:03] #554 closed, assigned to danielfernandez

[2016-11-14 13:58] rattek commented on #554
Thank you very much for the answers!! I was wondering that "UrlTemplateResolver" has been created especially for getting template that are not within the same application. To me it makes a lot of sense to share templates globally (for many applications). Do you know if there's a way to do so? Thanks again!!

[2016-11-14 22:57] ultraq commented on #554
I have heard of people sharing templates across a network (I had one dev let me know that an in-development version of the layout dialect was really slow for them because they accessed templates across a network), so I think if your templates are served as HTML via any plain old HTTP web server, you can access it using that UrlTemplateResolver.

[2016-11-15 03:19] JavaProgress commented on #122
This is great jmiguelsamper.  Thanks very much

[2016-11-15 13:22] rattek commented on #554
Yes, this is exactly what I've done. UrlTemplateResolver worked as expected but it's not as portable as I wish ... It could be awesome to have a "DomainTemplateResolver" (or ServerRootTemplateResolver) which can take into account path starting with slash as I've described in by initial post. Thank you for taking my suggestion into consideration.

[2016-11-18 23:54] #482 closed, assigned to nobody

[2016-11-19 17:23] danielfernandez opened #555 "Update doc links in the Standard-Dialect.xml definition file"
The `Standard-Dialect.xml` file used for IDE metadata still links all the dialect attributes to the Thymeleaf 2.1-version of the tutorials.

@ultraq could you take care of this please?

[2016-11-20 08:26] mrdear opened #556 "th:utext html overflow inside"
when I use this like
`<p th:id="${comment.getId()}+'content'" th:utext="${comment.content}" >`

but parse

[code]

`${comment.content}` include html language

[2016-11-20 08:41] ultraq commented on #555
Huh, well that was easy enough.  Since all of our titles stayed the same, I just had to replace the 2.1 with 3.0 in the URL and it all led to the right place.  Hopefully the Spring one is just as easy to do.

[2016-11-20 08:42] #555 closed, assigned to ultraq

[2016-11-20 13:04] danielfernandez commented on #556
Sorry, I'm not sure I understand your issue here… what is exactly what you are obtaining that you think you shouldn't? could you please elaborate a bit?

[2016-11-20 13:21] mrdear commented on #556
sorry,I use it this way `<p th:id="${comment.getId()}+'content'" th:utext="${comment.content}" ></p>`
I want to get results like the following(the  ${comment.content} parsed Inside the p tag)

[code]

but it is actually parsed like this(The content is outside the p tag)

[code]

my database saved  like Following
This is also the data for $ {comment.content}

[code]

[2016-11-20 13:50] danielfernandez commented on #556
OK. I'm quite sure Thymeleaf is not causing this at all (at least its core and standard dialects). With your code and your database values, Thymeleaf's output should look like:

[code]

However, once this is produced something in your application seems to be applying a _tag balancer_ or some kind of _HTML validator_.

And this tag balancer/validator is detecting that your code is not valid HTML be

[2016-11-21 01:35] mrdear commented on #556
Thanks for the solution.
you are right,It is caused by my browser . When I use chrome or firefox, there will be problems, but the use of Microsoft Edge on the normal resolution.

[2016-11-21 01:35] #556 closed, assigned to danielfernandez

[2016-12-06 11:00] maxxyme opened #557 "Standard-Dialect.xml links to tutorials/2.1 instead of 3.0"
In this file: https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/resources/org/thymeleaf/xml/thymeleaf/Standard-Dialect.xml

the links found point to http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html instead of http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html

[2016-12-06 11:02] maxxyme commented on #417
OK but how are we expected to do this?
I have the same problem, I want to do something like:

[code]

But both header tags are displayed.

[2016-12-06 11:04] ultraq commented on #557
I've updated these already, but they live in the `3.0-dev` branch which hasn't been merged into master just yet.  (https://github.com/thymeleaf/thymeleaf/blob/3.0-dev/src/main/resources/org/thymeleaf/xml/thymeleaf/Standard-Dialect.xml)  They should be merged before the next release.

[2016-12-06 11:04] #557 closed, assigned to nobody

[2016-12-06 11:17] maxxyme commented on #557
OK, I should've check the dev branch too. Sorry for that.

[2016-12-06 13:10] danielfernandez commented on #417
If you are using Thymeleaf 3, you can directly apply a conditional that returns a different fragment expression depending on the result of the conditional expression:

[code]

Anyway, given in this case your fragments are actually the same and all that changes is an argument to your fragment, you could use a conditional directly in your fragment's argument, which was already allowed in Thymeleaf 2

[2016-12-06 14:14] maxxyme commented on #417
OK thank you very much!!!
Now you've written it, that seems so simple I'm feeling a bit dumb not to have thought about that.
(but I'm quite new to Thymeleaf, that's why)

The solution was even included in the documentation: http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#advanced-conditional-insertion-of-fragments

[2016-12-06 18:46] ultraq commented on #557
That's OK, not many people know to look there 🙂

[2016-12-12 19:46] taypo opened #559 "json conversion of java 8 localdatetime"
When using javascript inlining, java 8 localdatetime types are serialized as follows:

`
"end":{
  "hour":22,
  "minute":27,
  "second":51,
  "nano":302000000,
  "dayOfYear":347,
  "dayOfWeek":"MONDAY",
  "month":"DECEMBER",
  "dayOfMonth":12,
  "year":2016,
  "monthValue":12,
  "chronology":{
    "id":"ISO",
    "calendarType":"iso8601"
  }
}
`

A similar problem with spring rest controllers are

[2016-12-15 23:08] danielfernandez opened #560 "CharsetEncoder hanging with very small throttled chunk sizes"
When executing the template engine in a *throttled* manner, if the chunk size being set is very small (< 16 bytes), the buffer set into the `CharsetEncoder` used by the `ThrottledTemplateWriterOutputStreamAdapter` (used for hooking `OutputStream` outputs as the `Writer` to which Thymeleaf writes) can cause trouble, even getting to completely hang during execution.

The reason is the resulting comp

[2016-12-15 23:13] #560 closed, assigned to danielfernandez

[2016-12-15 23:16] danielfernandez commented on #560
Already in `3.0.3-SNAPSHOT`

[2016-12-15 23:25] danielfernandez commented on #559
Just for clarification: what version of Thymeleaf are we talking about? In Thymeleaf 3.0, if Jackson is present at the classpath it will be used for JS serialization… is this happening to you letting Thymeleaf delegate to Jackson in v3.0?

[2016-12-16 15:53] Volodymyr128 commented on #256
@danielfernandez  your example works with `ServletContextTemplateResolver`. All Thymeleaf doc is bounded to controllers and routing specific staff. As I understand the question, user asked you to provide something like this Velocity's example http://www.javaworld.com/article/2075966/core-java/start-up-the-velocity-template-engine.html. It generates template in few string of code without controller

[2016-12-16 16:05] Volodymyr128 opened #561 "Using thymeleaf without Spring, Servlet Container, Controller specific logic"
I have missed about 30 minutes trying to figure out how to generate email HTML body from my service. This is a scheduled task, not an API call - means no controllers and Spring integrations.
I have raw java and I want to process single *.html file with Thymeleaf. How to do that?

In other words, I need Thymeleaf analogy for Velocity example:

[code]

**P.S.** I've read [this issue](https://github.

[2016-12-18 03:45] ultraq commented on #561
You've basically got the solution already, but maybe a few more looks to the Javadocs could have helped you out for the processing methods that you needed.  Anyway, I've created standalone Thymeleaf template engines several times, mostly for writing tests, but the only code I can give you a link/reference to is a Groovy project which creates a Thymeleaf engine and then uses it to process an XML fi

[2016-12-19 20:30] Volodymyr128 commented on #561
@ultraq I get the next exception at runtime:

[2016-12-19 20:49] ultraq commented on #561
Whoops, looks like I had an error in my example when translating from Groovy to Java.  The `TemplateResolver templateResolver = new TemplateResolver();` line needs to be replaced with a specific template resolver, and from the Thymeleaf 3 docs there are 4 to choose from: http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-resolvers  You probably want to use `ClassLoaderTemplate

[2016-12-19 21:04] Volodymyr128 commented on #561
@ultraq I've replaced it with `TemplateResolver templateResolver = new ClassLoaderTemplateResolver();` but still get an exception

[2016-12-19 21:08] ultraq commented on #561
The type declaration also needs to be changed - there is no `TemplateResolver` class in Thymeleaf 3: http://www.thymeleaf.org/apidocs/thymeleaf/3.0.2.RELEASE/org/thymeleaf/templateresolver/package-summary.html

[2016-12-19 21:08] Volodymyr128 commented on #561
@ultraq in my pom.xml I use
[code]
But should I include any other dependencies?

[2016-12-19 21:10] ultraq commented on #561
That dependency is Spring-specific, and given the title of this issue I don't think you want to use Spring.  So you might want to change that to just the Thymeleaf core library only, which just has the artifactId of `thymeleaf`.  All of the Thymeleaf artifacts are listed on the Downloads page: http://www.thymeleaf.org/download.html

[2016-12-19 21:19] Volodymyr128 commented on #561
@ultraq I've changed my pom.xml dependency to:
[code]

It still throws exception at runtime when I try to invoke `TemplateUtils.processHTMLTemplate` method:

My full version of code:

[code]

[2016-12-19 21:36] ultraq commented on #561
Could you double check that the Thymeleaf JAR is on the classpath when executing?  I copied your code above and made a basic main method that called your method with "HelloWorld.html" (I also made that template) and output it to the console and it worked if I managed to get the `-classpath` argument on the command line right.  If I got it wrong, I would get `ClassNotFoundException` just like you.

[2016-12-19 21:41] Volodymyr128 commented on #561
@ultraq why I have to add my Thymeleaf JAR to classpath? Isn't it there by default after `mvn clean install`?

[2016-12-19 21:48] ultraq commented on #561
How are you running your program?  I was using the plain old `java` command so had to manually specify the classpath as per the `-classpath` argument I showed above.  If I got it wrong, then Java couldn't find the Thymeleaf JAR, and threw a `ClassNotFoundException`, just like you had.  If I got it right, then Java found the JAR and I got no exceptions.

I don't know how to use Maven to run a progr

[2016-12-19 22:11] Volodymyr128 commented on #561
@ultraq I checked my classpath, thymeleaf jar is there. I unpacked it and check - everything is there. Haven't any clue at this point, but that's look really as maven packaging issue. Thank you for your time and patience!

[2016-12-19 22:18] ultraq commented on #561
Not a problem @Volodymyr128.  Just out of curiosity I googled "maven classnotfoundexception" and found a few StackOverflow posts which talk about making sure the `scope` for dependencies is correct, or to set additional configs if a plugin is being used to run the program, etc.  It seems to be a common enough problem, so I hope there's a solution in those answers somewhere!

[2016-12-20 10:53] Volodymyr128 commented on #561
@ultraq that appears that classpath issues were the problems of Intellij cahce. Once I overcome them I get

Just to complete this issue, you should insert into example above
[code]

[2016-12-20 10:55] #561 closed, assigned to nobody

[2016-12-20 11:35] taypo commented on #559
+--- org.springframework.boot:spring-boot-starter-thymeleaf: -> 1.4.2.RELEASE
|    +--- org.thymeleaf:thymeleaf-spring4:2.1.5.RELEASE -> 3.0.2.RELEASE
|    |    +--- org.thymeleaf:thymeleaf:3.0.2.RELEASE

I'm not sure about the delegation, or if `write-dates-as-timestamps` would effect the serialization from thymeleaf. I only mentioned it beacuse it fixed a similar problem of spring web mvc rest c

[2017-01-02 23:51] danielfernandez opened #562 "Allow Jackson to (optionally) serialise JSR310 dates as ISO8601"
The `jackson-datatype-jsr310` module should allow us to add support in Thymeleaf for serialising JSR310 dates (Java 8's `java.time` package) as ISO8601 in JavaScript inlines, instead of letting the default `toString()` apply, which serialises this kind of objects as more complex, less usable JavaScript objects.

See #559.

This support should be enabled simply by adding the `jackson-datatype-jsr31

[2017-01-02 23:55] #562 closed, assigned to danielfernandez

[2017-01-02 23:57] danielfernandez commented on #562
Already in `3.0.3-SNAPSHOT`

[2017-01-02 23:58] danielfernandez commented on #559
Please note that direct (yet optional) support for the serialisation of JSR310 artifacts has been added by means of #562

[2017-01-02 23:58] #559 closed, assigned to danielfernandez

[2017-01-05 09:28] JetForMe commented on #89
This is not working as I would expect in 2.1.5. I have code like this:

[code]
And I want it to render a URL like `/users/1`, but instead I get `/users/{user.id}`. If I use string concatenation, it works correctly, but that is terribly cumbersome and hard to read.

[2017-01-05 15:57] kazuki43zoo commented on #89
Probably, it work fine to change as follow:

[code]

See http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#link-urls for details.

[2017-01-05 17:27] yglodt commented on #84
Workaround:

1. Remove _th:inline="javascript"_ from the _<script type="text/javascript">_ tag
2. Quote the expression: var url = "[[@{/path}]]";

[2017-01-05 20:29] yglodt opened #563 "Textual template modes closing tag broken in 3.0.3"
The following code inside a _<script type="text/javascript" th:inline="javascript">_ block stopped working with 3.0.3:
[code]
In fact the closing tag leaves a stale
[code]
which the JavaScript parser does not like.

In 3.0.2 it works.

[2017-01-05 21:10] JetForMe commented on #89
Yes, that appears to work, but it's still extraordinarily verbose. Why the resistance to simply supporting `th:href="@{/users/{user.id}}"`? That seems to be the most natural way of expressing it.

[2017-01-05 21:45] danielfernandez commented on #563
This works for me… let's see if we can find the difference in environment.
  - Please check that you are including version `2.0.2.RELEASE` of AttoParser in your classpath (if you are using Maven, Thymeleaf 3.0.3 should automatically ask for that version, but just in case).
  - Are you configuring in your template engine any other dialects besides the *SpringStandard* one?

[2017-01-05 22:26] yglodt commented on #563
Yes it picks up version 2.0.2 of AttoParser. If I go back to Thymeleaf 3.0.2, AttoParser also goes back to 2.0.1.

Spring Boot autoconfigures Thymeleaf in my case, and adds the Spring Security dialect probably.

In application.properties I have:
[code]

What I did change is the versions and some additional dependencies:
[code]

And I added an extra Bean:

[code]

[code]

[2017-01-07 22:45] danielfernandez commented on #563
This is very strange… I've configured a Spring Boot 1.4.3 application with Thymeleaf 3.0.3 and exactly those four dialects (SpringStandard, SpringSecurity, Layout, Java8Time) in the same versions, and a `<script>` fragment containing your code, and I'm still unable to reproduce this. It works OK 100% of the times for me.

I need more info still: that fragment of JavaScript… is it all you have in y

[2017-01-09 07:46] yglodt commented on #563
Since I am not able to disclose the complete code, please check your Twitter private messages, there I sent you more information.

[2017-01-09 22:58] #563 closed, assigned to danielfernandez

[2017-01-09 23:03] yglodt commented on #563
Thanks!

[2017-01-09 23:04] danielfernandez commented on #563
Confirmed and fixed.

This was actually caused by a quite complex interaction –and quite a large amount of bad luck :(–. As it happens, the textual parser uses buffers for parsing the textual structures (like e.g. the contents of inlined `<script>` tags) which size starts at 2Kbytes, and can grow during parsing if needed.

The problem however appeared when, during parsing, the parser ended the sca

[2017-01-09 23:05] danielfernandez commented on #563
Already in `3.0.4-SNAPSHOT`

[2017-01-11 10:10] arne-vandamme opened #564 "Proposal for extending th:attr support"
This is not really a bug or issue but more of an idea to extend the behaviour of **th:attr**.
It might be handy if you could for example do **th:attr-href** or **th:attr-data-url**.  This would allow you to use dynamic attributes in more straightforward way, and you could repeat attributes on the same element.  I think it would improve readability over the current *th:attr* with a comma separated

[2017-01-11 21:47] danielfernandez commented on #564
Thanks for your comments.

As for setting *any* attribute in a similar way to what you explain, note that Thymeleaf 3.0 has out-of-the-box support for this via the *default attribute processor*. See http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#setting-the-value-of-any-attribute-default-attribute-processor

As for repeating attributes in an element, though, note this is forbidden

[2017-01-11 21:47] #564 closed, assigned to danielfernandez

[2017-01-12 06:58] arne-vandamme commented on #564
Waw, even though I actually went looking for that functionality in the 3.0 documentation, I managed to miss it.  That basically does exactly what I proposed.

My text must not have been clear enough, but I never suggested actually meant to suggest repeating the _same_ attribute on an element.  No matter, you had already thought of the solution :-)

Thanks for your feedback & speedy reply !

[2017-01-16 22:47] danielfernandez opened #565 "Evaluate startup times in TemplateEngine"
The same evaluation done in thymeleaf/thymeleaf-spring#125 should be extended to the artifacts at the core (mainly `TemplateEngine` and `StandardDialect`, because the Spring-enabled artifacts extend from artifacts at the core.

See also: spring-projects/spring-boot#7591

[2017-01-16 23:16] #565 closed, assigned to danielfernandez

[2017-01-16 23:26] danielfernandez commented on #565
Most of the time invested during startup of the template engine is invested in operations involved the loading of classes using the class loaders, and these operations are done at the structures provided by the standard dialects: CSS/JS inliners, expression object factories, etc.

But these structures are only really needed at first execution, during the (synchronized) initialisation phase, so ini

[2017-01-16 23:27] danielfernandez commented on #565
Already in `3.0.4-SNAPSHOT`

[2017-01-19 11:18] sis-yoshiday opened #566 "Incompatible behaviour th:remove and th:inline"
Hi.
I found two incompatible behaviour in the cource of migrating thymeleaf version from 2.1.5 to 3.0.3

## 1.  th:remove="all-but-first"

[code]

When passing empty List to above template, rendered html like below,

### thymeleaf 2.1.5
[code]

### thymeleaf 3.0.3
[code]

## 2. variable in th:inline="javascript"

[code]

### thymeleaf 2.1.5
[code]

### thymeleaf 3.0.3
[code]

### bug or specificat

[2017-01-19 23:16] danielfernandez opened #567 "th:remove="all-but-first" shows second element if first is an iteration on empty"
This code:

[code]

With `test` being an empty list, results in:

[code]

Instead of the expected:

[code]

Source: #566

[2017-01-19 23:29] danielfernandez commented on #566
Thanks a lot for your comments.

As for the first item, the `all-but-first` behaviour, it is clearly a bug. I've filed if separately here: #567

As for the second item, it is actually expected behaviour given the improved textual parsing being applied on JavaScript fragments. HTML comment prefixes/suffixes inside a JavaScript fragment should be ignored (it wasn't possible before in 2.1), and so th

[2017-01-19 23:29] #566 closed, assigned to danielfernandez

[2017-01-20 12:55] martintilma commented on #84
We recently updated from version 3.0.0 to 3.0.3 and seeing the same issue as described here.

The workaround as suggested by yglodt doesn't work when /path is not string but a variable.
For example in your java code: `String pageName = "/";`
In the template:
    `pageName: /*[[@{ ${analyticsInfo.pageName} }]]*/ null,`
becomes:
    `pageName: "\/",`

When using:
    `pageName: /*[(@{ ${analyticsInf

[2017-01-20 22:39] #567 closed, assigned to danielfernandez

[2017-01-20 23:26] danielfernandez commented on #567
Already in `3.0.4-SNAPSHOT`

[2017-01-21 00:32] danielfernandez commented on #84
@yglodt @martintilma please note this is expected behaviour, and the generated JavaScript literals are perfectly valid (though maybe, I admit, a bit less pretty).

This happens when Thymeleaf's JavaScript inlining capabilities use Jackson for JavaScript/JSON serialisation (which will happen if Jackson is in the classpath). JavaScript blocks appearing inside `<script>` tags should avoid including t

[2017-01-21 00:32] #84 closed, assigned to nobody

[2017-01-24 23:18] danielfernandez opened #568 "Add a '/content()' markup selector"
From attoparser/attoparser#16:

In some occasions it could be useful to have a selector that selected everything inside a specific element (elements, texts… all). Something like x/content() or x/body() (for former looks better).

In Thymeleaf fragment expressions, this would allow layout selection using simple body/content() expressions as fragment arguments (being done right now in Spring's PetCl

[2017-01-24 23:20] #568 closed, assigned to danielfernandez

[2017-01-24 23:22] danielfernandez commented on #568
Already in `3.0.4-SNAPSHOT`

[2017-01-27 11:53] trurli opened #569 "Ampersand from Context is encoded as "&amp;" when TemplateMode is set to TEXT"
When using Thymeleaf 3.0.0 with a TemplateResolver set to TemplateMode.TEXT, a variable value from a Context that contains "&" appears as "& a m p ;" instead of "&" in the processed output.

I would expect that HTML entities are not treated for the TEXT template mode.

Found this, when I used the sample template from http://www.thymeleaf.org/doc/articles/springmail.html and added "fun & games" as

[2017-02-01 22:00] danielfernandez commented on #569
This is actually expected behaviour, as explained at http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#escaped-element-attributes

The idea is that `TEXT` mode could be used in some specific scenarios to create HTML output, without needing the engine to parse the HTML and process it as such (losing quite a lot of features in doing so, of course).

However, note that you can perform un

[2017-02-01 22:00] #569 closed, assigned to danielfernandez

[2017-02-01 22:08] danielfernandez commented on #569
I've added tickets for the sample application and also the doc, so that the example that you used as a base is fixed. It should be using unescaped output.

[2017-02-03 21:12] prushforth opened #570 "Custom element name of the form {prefix}- causes parser error"
The specific message is "Element name cannot be null".   Can you suggest a workaround to create a custom element of that form, perhaps?

Thank you!

[2017-02-03 21:26] danielfernandez commented on #570
If I understand correctly, what you want to create is an HTML/XML element that has no name, but has a prefix/namespace? If that's so, I'm afraid that would not be allowed (neither by Thymeleaf nor the HTML or XML specs).

Could you please add a bit more detail about why you specifically need something like that (and what version of Thymeleaf you are using)? there might be other ways…

[2017-02-03 21:29] prushforth commented on #570
I have created a custom element called &lt;layer-&gt;&lt;/layer-&gt;, which is allowed per the custom element specification (at least I believe it is, I will double check).  When I try to put this element in my template, I get the parser error mentioned (in the exception).  If I put &lt;layer-foo&gt;&lt;/layer-foo&gt; I have no problem.

Double check: the [Custom Elements spec](https://www.w3.org/

[2017-02-03 22:01] danielfernandez commented on #570
Oops yes, you are very right! It seems that asterisk there was missed when specifying how AttoParser should behave before this.

I've added a ticket at AttoParser, as this is the parser's responsibility. Thanks!

[2017-02-04 03:02] prushforth commented on #570
Thank you!

[2017-02-04 22:24] danielfernandez commented on #570
Re-labelled as a *problem*. Not an AttoParser issue, but Thymeleaf's own. There is a check at `HTMLElementName` which turns no-suffix element names into `null`, which is not allowed by the `ElementDefinition` mechanism. It seems turning these `null`s into empty strings should suffice, as is also done at the `TEXT` template modes for `[# ...]` elements.

[2017-02-04 22:29] #570 closed, assigned to danielfernandez

[2017-02-04 22:45] danielfernandez commented on #570
Already in `3.0.4-SNAPSHOT`

[2017-02-04 23:23] prushforth commented on #570
Thank you very much for your help!  I will use the snapshot version for now.  Cheers!

[2017-02-05 01:02] prushforth commented on #570
Ok the fix works for me, thank you and  I apologize for reporting that on a Friday afternoon.  Bon weekend!

[2017-02-07 22:03] yglodt opened #571 "Spring Session alias inclusion for link URL expressions"
Spring Session takes care of adding the current session alias if the jstl c-taglib (c:url) is used, with help of  HttpServletResponse#encodeURL().

Example:

[code]
will output:

[code]

You can read more about how it's done here: http://docs.spring.io/spring-session/docs/current/reference/html5/#httpsession-multi

Thymeleaf does not seem to support that when url expressions like

 are used.

It w

[2017-02-07 22:10] danielfernandez commented on #571
Thymeleaf does indeed call the `HttpServletResponse#encodeURL()` mechanism before outputting an URL, see https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/linkbuilder/StandardLinkBuilder.java#L521-L530

But note that in order to do this, it has to have access to such `HttpServletResponse`, which it does by means of the context being an implementation of `IWebContex

[2017-02-07 22:28] yglodt commented on #571
The project in which I noticed that the session alias is not included is Spring-Boot 1.5.1 based.

I am not sure a Spring Boot application has a "normal" web context...

My own code does not call Thymeleaf programmatically, but maybe Spring Boot does.

[2017-02-07 23:27] danielfernandez commented on #571
Spring Boot does indeed call Thymeleaf as a Spring View. So the `HttpServletResponse#encodeURL()` mechanism is most certainly being called for you.

Perhaps you could debug on the line I pointed just to be sure, and make sure Spring Session's configuration is actually making it inject the behaviour you are expecting into the URL encoding mechanism.

[2017-02-09 10:44] fredhdroz opened #572 "Malformed markup: Attribute "" appears more than once in element"
I try to include an html text in my page using th:utext (Thymeleaf 3), but the parser detect duplicate attributes and throw an exception. Unfortunately I've got no possibility to validate the th:utext value before.

I've seen the org.thymeleaf.templateparser.markup.HTMLTemplateParser has a default ParseConfiguration

`MARKUP_PARSING_CONFIGURATION.setUniqueAttributesInElementRequired(true);`

How c

[2017-02-10 00:39] danielfernandez commented on #572
This is expected behaviour. When you output something as *unescaped* via `th:utext`, the parser should still apply on the inserted code in order to give a chance to possible *postprocessors* to hook on the newly created markup events.

Customizing the parser being used is not currently possible in Thymeleaf 3. Even if AttoParser does indeed allow to disable the restriction for the unicity of attri

[2017-02-10 00:39] #572 closed, assigned to danielfernandez

[2017-02-10 08:00] yglodt commented on #571
Ok, I will try to debug it the weekend.

[2017-02-13 10:14] san0x opened #573 "(VERY) Slow th:each"
Tests based on thymeleafexamples-gtvg/src/main/webapp/WEB-INF/templates/product/list.html

1. th:each took ~360ms+ (30 elements)
[code]
2. manual row took 17ms
[code]

3. recursive fragment insert took ~45ms
[code]
[code]

[2017-02-13 14:22] danielfernandez commented on #573
No, actually there is no issue in `th:each`. The issue was me, in this case :)

I don't know how it happened, but somehow this test code got pushed to the repository for the example application you use for your timing: https://github.com/thymeleaf/thymeleafexamples-gtvg/blob/6a6951ee689c9b486d2032a066ce1563936b1976/src/main/java/thymeleafexamples/gtvg/business/entities/repositories/ProductReposito

[2017-02-13 14:22] #573 closed, assigned to danielfernandez

[2017-02-17 11:20] Idiot-Alex opened #574 "About 'th:onclick' add a function with an parameter"
recently, I used the thyeamleaf for developing my project, I want to add a function for ‘a’ label and with an parameter, but it doesn't work. just like this:

[code]

[code]
this is form the chrome's console, but the result is like this:
[code]
it can't exec the function and throw an error
it's for me , seems lose the ''(quotation marks)
I mean that the parameter shuld be a string
and I used some

[2017-02-18 19:55] danielfernandez commented on #571
Any news?

[2017-02-18 20:10] danielfernandez commented on #574
A couple of things:

  - The iteration variable created inside a `th:each` can be accessed with `${...}`, no need to use `*{...}`. In your case it works exactly the same because there your expressions are not inside the scope of a `th:object`, but if they were you'd be experiencing unexpected results.

  - It seems all you need is to escape the quotes you need for turning your JS function's argume

[2017-02-18 20:10] #574 closed, assigned to danielfernandez

[2017-02-19 06:04] Idiot-Alex commented on #574
omg, it's all i want
tks

[2017-02-21 15:35] sofiageo opened #575 "AbstractElementTagProcessor not matching element name"
I'm trying to create some custom thymeleaf tags but I'm having trouble making AbstractElementTagProcessor doProcess to work with a normal XML element e.g:

`<customtag>body</customtag>`

I've followed the tutorial for extending thymeleaf, tried everything but nothing seems to match my element. This looks to be an issue on thymeleaf 3.0.2 and 3.0.3.

It only seems to be matching when extending the

[2017-02-21 16:06] danielfernandez commented on #575
Are you applying a prefix to your dialect? And if so... are you including such prefix in your markup, like `<prefix:customtag>`?

Also, are you making sure that you are adding your processor to the custom dialect definition?

Could you please post what the constructor for you element (not attribute) processor looks like?

[2017-02-21 16:16] sofiageo commented on #575
Hi, thanks for your quick response and sorry for not providing many details. I've tried both with prefix and without prefix. I'm including the prefix on my markup, and I've also tried without a prefix. I've added both the custom processor and the StandardXmlNsTagProcessor processor to the custom dialect definition. I've also tried only with the custom processor on the custom dialect.

The construc

[2017-02-23 14:07] lilalinux commented on #465
How do you inject a th:block? I would prefer not to introduce divs
http://stackoverflow.com/questions/42748663/decoupled-template-logic-how-do-you-insert-thblock

[2017-02-26 22:17] danielfernandez commented on #575
I've not been able to replicate this. Could you please make sure that the template engine you are setting into your processors actually matches the template engine used for processing your template?

And if so, could you please provide some code, ideally a test project that shows this behaviour?

Thanks

[2017-02-28 14:57] sofiageo commented on #575
I will try to create a test project later in the evening and post it here. If you can't reproduce it though, I doubt I will be able to. Maybe it's my Java version (8) or some of my project dependencies that are messing with this. If you can tell me what Class / method does the actual matching, I can try to debug it and provide more details.

[2017-02-28 15:05] danielfernandez commented on #575
Have you checked your dialect's processors are configured to work for the same template mode you are using?

[2017-03-01 12:19] gigermocas opened #576 "Incorrect output in natural javascript template"
[thymtester.zip](https://github.com/thymeleaf/thymeleaf/files/810610/thymtester.zip)

Moving one of my applications from 3.0.2 to 3.0.3 some pages stopped working, found that there were a problem with natural javascript templates, namely inline expressions:
The code:
`url: /*[[@{/data/mntagent/jobs/{jobId}/executions.json(jobId=${'1'})}]]*/ "/data/mntagent/jobs/{jobId}/executions.json"`
was being

[2017-03-01 14:19] danielfernandez commented on #576
This looks the same as #563 to me. Could you please check that this is fixed for you in `3.0.4-SNAPSHOT`?

[2017-03-01 14:37] gigermocas commented on #576
Indeed it is, sorry I missed that

[2017-03-01 14:37] #576 closed, assigned to danielfernandez

[2017-03-03 12:00] wiecia commented on #563
I have the same issue. Unfortunately this is showstopper as i cannot upgrade my production neither with 3.0.3 with this bug nor with a snapshot. I need to revert to 3.0.2 for the time 3.0.4 is released. Glad you found and fixed that though

[2017-03-07 07:44] dtrunk90 commented on #357
I'm migrating from version 2 to 3. I hoped I don't have to touch the templates.
[code]

I explicitly disabled the Spring EL Compiler: `engine.setEnableSpringELCompiler(false);`.
It happens in conjunction with `th:object`.

[2017-03-07 09:31] chenxb2015 opened #577 "unescape attribute of the element"
currently I have only got  th:utext for the output of element, but if i would like to get the unescaped attribute value , how would i do it ?
for example,  I have a  `<meta property="description" th:content="|mywebsite ${content} |">`.  how to get the unescaped  content ?

[2017-03-07 10:40] danielfernandez commented on #357
@dtrunk90 please note this is a 2yo closed ticket :)

This is a SpEL issue. The SpEL compiler was introduced in Spring 4.1 and it had a couple of issues in its first versions. Anyway, as stated in the docs, Thymeleaf can only use and have influence on the compiler since Spring 4.2.4

Please update your Spring version and your issue should go away.

[2017-03-07 10:59] david-dogneton opened #578 "Adding a custom value to "selected" attribute is not possible"
I am using Polymer's [paper-tabs](https://www.webcomponents.org/element/PolymerElements/paper-tabs/paper-tabs).

It uses the `selected` attribute to choose the default tab to display.
It could be a string or a number (the tab index).

I want to change the `selected` attribute value through Thymeleaf but it always set the value to `"selected"`, probably to comply with the `<option>` [selected attri

[2017-03-07 11:25] dtrunk90 commented on #357
Thanks. That solved the problem.

[2017-03-07 21:49] danielfernandez commented on #577
Thymeleaf, when working in a *markup* template mode (`HTML` or `XML`), will not allow you to create unescaped attributes, as this goes against the HTML and XML specifications.

In order to force this behaviour, therefore, you will need to process your template (or fragment) using the `TEXT` template mode. Note however that this will make you lose many HTML-specificities Thymeleaf offers.

[2017-03-07 21:49] #577 closed, assigned to danielfernandez

[2017-03-07 22:21] danielfernandez commented on #578
You are right, `th:selected` is meant to model the HTML `selected` attribute, which according to the HTML spec is a *boolean* attribute. This means that it can either be present or not, but no value is expected for it. The `selected="selected"` is the standard value given in order to be friendly to XHTML processors, and together with the empty string is the only value allowed for an HTML *boolean*

[2017-03-07 22:21] #578 closed, assigned to danielfernandez

[2017-03-07 22:29] danielfernandez commented on #578
Oops! I'm going to correct myself here: I wasn't noticing the *hyphen* in those tag names. So yes, they do adhere to the HTML5 spec. But the name collision will anyway be an issue for Thymeleaf there…

[2017-03-07 22:42] danielfernandez opened #579 "Detect if HTML tags are custom and make boolean attribute behaviour depend on this"
See #578. In cases such as these polymer web components, code like:

[code]

...does add new custom components, but being web components their attributes are defined on a per-element basis, and their names might collide with standard attribute names, only with different behaviours/types :(

In the case seen above, the `selected` element defined for the `paper-tabs` custom element might have differ

[2017-03-07 22:44] danielfernandez commented on #578
Please note #579. It might be possible to improve this behaviour in future versions.

[2017-03-07 23:04] david-dogneton commented on #579
Thanks a lot @danielfernandez.
The first strategy also looks good to me.

[2017-03-08 08:07] chenxb2015 commented on #577
thank you for explain

[2017-03-08 10:10] herau commented on #579
@danielfernandez do you any workaround please ?

[2017-03-08 12:18] danielfernandez commented on #579
@herau please see #578

[2017-03-09 14:09] dtrunk90 opened #580 "th:remove all-but-first + th:each precedence"
It seems `th:each` will be processed first. If the loop ends up in no elements (e.g. iterable is empty) `th:remove="all-but-first"` will not remove following elements.

Example:
[code]

If the list is empty this will result in:
[code]

But I'm expecting:
[code]

This wasn't the case in Thymeleaf 2.

Version infos:
Thymeleaf 3.0.3.RELEASE
Spring 4.3.7.RELEASE

[2017-03-09 14:20] danielfernandez commented on #580
This seems to be the same as #567

Please could you check that it is fixed for you in `3.0.4-SNAPSHOT`?

[2017-03-10 00:13] Antibrumm commented on #405
Could you please share the reason why include should be retired? In my project we use include quite often as it allows us to create fragments that show a correct prototype and also allow to build the inclusion side according to the same style without the need for tag removal. Or fragments that are included in a template but also rerendered via ajax. I will share one template as soon as I got some

[2017-03-10 00:30] danielfernandez commented on #405
Hi @Antibrumm. The reason is that the way it worked caused a good amount of confusion among many users: *template inclusion* operations in other template systems usually include entire templates and, though there aren't many other options out there for comparison that are able to include only *fragments* of other templates, many people assumed `th:include` would include the host tag too, just like

[2017-03-10 07:01] dtrunk90 commented on #580
Yes, it's fixed. Sorry for the duplicate.

[2017-03-10 07:01] #580 closed, assigned to danielfernandez

[2017-03-10 23:37] danielfernandez commented on #571
Closing this for now as *non reproducible*. Please don't hesitate to reopen it in the future if you are able to get further information on it.

[2017-03-10 23:37] #571 closed, assigned to danielfernandez

[2017-03-10 23:39] danielfernandez commented on #575
@gsf-greece where you finally able to create some code that reproduces this that we can have a look at?

[2017-03-11 17:48] sofiageo commented on #575
Hi, sorry I was extremely busy / tired last week. I'll try to reproduce this today in a new project.

[2017-03-12 02:22] sofiageo commented on #575
I created a new project with the same code for custom tags, and it works fine. I then tested the main project that had the original issues, and it also works fine. I don't know what may have trigger this in the first place.
I will keep a close eye on it (since I now know it should work with this configuration), and I will try to pinpoint the cause before opening a ticket in the future. Thanks for

[2017-03-12 02:22] #575 closed, assigned to danielfernandez

[2017-03-20 16:39] ghost opened #581 "Support for different rounding strategies in #number.format"
Thymleaf 3.0.3 (Spring Boot)

When the decimal of an even number is .5,  the number is rounded down, but is rounded up when the number is odd.

For example:
`<span th:text="${#numbers.formatInteger(98.5, 0,'COMMA')}"></span>` result=98
`<span th:text="${#numbers.formatInteger(99.5, 0,'COMMA')}"></span>` result=100

The same results occur with `#numbers.formatDecimal` and also when using inline syn

[2017-03-21 02:53] kazuki43zoo commented on #581
Probably, it is default behavior of `DecimalFormat` provided by JDK.
The [JavaDoc of JDK](https://docs.oracle.com/javase/8/docs/api/java/text/DecimalFormat.html) says as follow:

---

Rounding

`DecimalFormat` provides rounding modes defined in `RoundingMode` for formatting. By default, it uses `RoundingMode.HALF_EVEN`.

---

About `RoundingMode`, see https://docs.oracle.com/javase/8/docs/api/java

[2017-03-22 15:45] jiangchuan1220 opened #582 "HTML email send from thymeleaf shows as plain text in email client"
My scenario is to send email from spring boot app using thymeleaf as template. The SMTP server is on Amazon. Currently I can send email from app with template and receive them in email client(Gmail).
The issue is when I try to use inlineimage template, which is html email, I received the email as plain text in Gmail as is shown below. How to make the email shown as html format?

![2](https://cloud

[2017-03-22 20:46] destan commented on #582
if you could send your code we can provide more help. Are you sure that you set correct content type?

be sure you are using `setContent` instead of `setText`. See http://docs.oracle.com/javaee/6/api/javax/mail/internet/MimeMessage.html#setContent(java.lang.Object, java.lang.String)

[code]

[2017-03-22 21:19] danielfernandez commented on #582
Note there is an article devoted to sending email with Spring and Thymeleaf, and a complete example application: http://www.thymeleaf.org/doc/articles/springmail.html and https://github.com/thymeleaf/thymeleafexamples-springmail

Even if the article and sample code use Spring, the basics on how email is handled will probably be useful to you. Most probably your issue is just a matter of setting th

[2017-03-23 08:12] AaricChenLegacy opened #583 "Pass fragment parameter as th:object"
I have fragment definition like below:
[code]
when I use following fragment replace
[code]

Got following exception
[code]

could you please tell me how to do this ? thanks in advance :)

[2017-03-23 08:23] jiangchuan1220 commented on #582
@destan , it is great. I used your solution, and it works well now.
Also many thanks to @danielfernandez .

[2017-03-23 08:56] #582 closed, assigned to nobody

[2017-03-23 09:30] jiangchuan1220 commented on #582
I have another question when sending HTML email with attachments. My code is as follows:
[code]
In the email receiver, the email is shown as html but the attachment is not received.
If I delete the code:
[code]
The attachment can be received but the email is shown as plain text.
Which content type should I use in this situation?

[2017-03-23 09:54] jiangchuan1220 commented on #582
For the question above, I find that Multipart type is needed for html email with attachment. My code is as follows:
[code]

[2017-03-23 11:20] destan commented on #582
Hi @jiangchuan1220 I'm glad my answer helped you. However I believe your second question belongs to places like stackoverflow since it's not relating to Thymeleaf.

[2017-03-26 21:17] danielfernandez commented on #581
As @kazuki43zoo says, this is due to the default `RoundingMode` being applied by `DecimalFormat`, which is `HALF_EVEN`(when the part of the number to be rounded is equidistant to both extremes, round towards the nearest even number).

There is currently no way to customize the rounding mode to be used in the `#numbers` expression utility objects, though of course different rounding modes can be ap

[2017-03-26 21:31] danielfernandez commented on #583
This is an effect of how Spring MVC works: it will only add `BindingResult` objects for objects in the `Model` (*context*) at first level, in the moment the controller is executed and the control is passed on to the view (in this case, Thymeleaf).

The problem is, during your call to a fragment you are actually changing the name of the *form-backing bean* you want to use, and it happens that Sprin

[2017-03-26 21:31] #583 closed, assigned to danielfernandez

[2017-03-26 23:45] ghost commented on #581
Yeah, that kind of defeats the convenience of using #number.  To reiterate @kazuki43zoo's question, any plans to customize this behavior?

[2017-03-28 15:30] ghost opened #585 "Usage without Servlet Container or Spring"
When i use a wrapper like `GTVGApplication` in [thymeleafexamples-gtvg](https://github.com/thymeleaf/thymeleafexamples-gtvg/blob/3.0-master/src/main/java/thymeleafexamples/gtvg/web/application/GTVGApplication.java), It does work.
But, when i don't use a wrapper, it doesn't work.

**Without wrapper** When i call `templateEngine.setTemplateResolver(resolver);`, It throws Exception

For example,
[cod

[2017-03-28 19:41] pachoyan opened #586 "New line with span loop"
Due this question [No space between elements in a Thymeleaf each loop](http://stackoverflow.com/questions/43077387/no-space-between-elements-in-a-thymeleaf-each-loop/43078003#43078003) I've done some tests.

- Version: 2.1

So if you want to use a loop using a `<span>` tag, for example, just like the question:

`<span th:each="item : ${X}">1</span>`

You'll get the <span> with breaklines. It would

[2017-03-28 20:28] danielfernandez commented on #585
There seems to be an issue in your classpath, given your server is not finding the `ITemplateResolver` class. The root cause of your exception is:
[code]
This doesn't seem related to Thymeleaf itself, therefore…

[2017-03-28 20:28] #585 closed, assigned to danielfernandez

[2017-03-28 23:30] ghost commented on #585
The point is that exception appears when `templateEngine.setTemplateResolver(resolver);` is called without wrapper. If i don't call the method(`setTemplateResolver`), exception doesn't be thrown.

[2017-03-29 09:50] xtianus opened #588 "Javascript inline breaks in 3.0.4"
I just updated the libraries to v3.0.4 and javascript inlining stopped working properly.

The following code

[code]

produces the following wrong output:

[code]

where the console.log line has not been inlined correctly.

My dependency tree:
[code]

[2017-03-29 09:58] xtianus commented on #588
Just by reverting back to 3.0.3 the problem is fixed:
[code]

[2017-03-29 14:53] danielfernandez commented on #588
This is confirmed. This happens in 3.0.4 when the inlined expression contains a literal, like is your case. Changes in 3.0.4 make the `TextParser` return literals in separate `text` events. In this case, this means an event is generated for all text until `"...log([[@{"`, another one for `"'/someUrl'"`, and finally a third one for `"}]]);..."`

This prevents the inliner, which kicks in afterwards,

[2017-03-29 19:24] #588 closed, assigned to danielfernandez

[2017-03-29 19:26] danielfernandez commented on #588
Already fixed in `3.0.5-SNAPSHOT`

[2017-03-29 21:16] danielfernandez commented on #588
The artifacts for `3.0.5.RELEASE` have just been pushed to Maven Central and Bintray. Thanks for reporting this so quickly and allowing us to have a quick fix.

[2017-03-30 09:29] xtianus commented on #588
Sorry but 3.0.5.RELEASE still has a problem: it breaks with

[code]

on the following template:

[code]

[2017-03-30 09:37] danielfernandez commented on #588
I see. It's complaning about you having an unclosed literal, because it's not understanding your `//...\n` as a comment. Easy workaround is to use `/*...*/` or close with an additional quote `'` inside the comment.

Anyway, this is a separate (and much less severe) issue. Would you please be so kind to open a separate ticket for this? Thx!

[2017-03-30 09:45] xtianus opened #589 "Unclosed quote in comment breaks parser in 3.0.5"
The following code gives a parser exception at runtime:

[code]

The exception is:
[code]

This breaks all comments like

It works fine in 3.0.3

[2017-03-30 09:46] xtianus commented on #588
#589

[2017-03-30 19:51] danielfernandez commented on #589
Confirmed as a bug.

For the record, this is because the new logic introduced to `TextParser` in version `3.0.4.RELEASE` for avoiding issues with `/*` groups inside literals considers those quotes (`'`) to be the start of a JavaScript literal that is not closed afterwards. The parser should not be doing this given these quotes are inside comments (`//...\n`), but the parser is only ignoring the qu

[2017-03-30 20:47] danielfernandez commented on #586
In Thymeleaf 3.0, a `th:each` will work in the way you detail when added to a `<span>` tag.

Spacing around iterated elements is actually a quite complex feature in the Thymeleaf engine, much more complex than it can probably seem to be (esp. in 3.0 where iteration is engineered deep into the template engine core itself in order to improve streaming performance for large iterations).

Despite the

[2017-03-30 20:47] #586 closed, assigned to danielfernandez

[2017-04-03 03:56] tianmingxing opened #590 "Spring Boot Thymeleaf Layout Dialect Not Working"
My environment info:

software|version
------------ | -------------
spring boot|1.5.2.RELEASE
spring-boot-starter-thymeleaf|1.5.2.RELEASE
thymeleaf-layout-dialect|2.2.1&1.2.9

I found that the layout was not applied as instructed in the [documentation] (https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-layout).

I found that other people have the same [trouble](http://stacko

[2017-04-03 06:29] danielfernandez commented on #590
Please note that the Layout Dialect is not a part of the Thymeleaf project. You should probably report your issue at https://github.com/ultraq/thymeleaf-layout-dialect