[2017-04-03 06:29] #590 closed, assigned to danielfernandez

[2017-04-04 21:45] #589 closed, assigned to danielfernandez

[2017-04-04 22:05] danielfernandez commented on #589
Already in `3.0.6-SNAPSHOT`

[2017-04-06 10:02] kamenik opened #591 "Thymeleaf 3.0.5 resolver parses JS as HTML"
Hi,

I have updated thymeleaf from 3.0.3 to 3.0.5 and it is crushing with "TemplateInputException: An error happened during template parsing (template: "js/communication/worker_communication.js" - line 1, col 1)" now. Problem occurs in main html template when it is trying to insert javascript.

_<script th:insert="js/communication/worker_communication" id="worker_communication" type="javascript/wo

[2017-04-06 10:08] danielfernandez commented on #591
Is this the result of *only* updating 3.0.3 to 3.0.5?

That resolver for JavaScript has order `2`. Is the resolver with order `1` the HTML one? and if so, is it specifying its `viewNames` property to the pattern for the names of the views it will resolve as HTML, or alternatively the `checkExistence` property to `true` so that it actually checks if the template is there before considering it *reso

[2017-04-06 10:28] kamenik commented on #591
Yes, after return to 3.0.3 it's ok again. Yep, there is HTML one at position 1. This is full definition of resolvers:

templates = new TemplateEngine();

final ClassLoaderTemplateResolver pagesResolver = new ClassLoaderTemplateResolver();
pagesResolver.setPrefix("/pages/");
pagesResolver.setSuffix(".html");
pagesResolver.setCharacterEncoding("UTF-8");
pagesResolver.setTemplateMode(TemplateMode.HTM

[2017-04-06 10:39] danielfernandez commented on #591
OK, could you please post a trace of the exception you are getting for `An error happened during template parsing (template: "js/communication/worker_communication.js" - line 1, col 1)`?

The fact that it goes through the HTML parser can be simply because the containing tempate (the one executing `th:insert`) is HTML, and in the new engine it is the parser who drives the entire execution of the en

[2017-04-06 10:54] kamenik commented on #591
[js_as_html_trace.txt](https://github.com/thymeleaf/thymeleaf/files/902299/js_as_html_trace.txt)

[2017-04-06 13:42] danielfernandez commented on #591
OK, the issue is in that single quote `'` character in the first line, in the comment that starts in line 1, col 1. This is therefore the same as #589.

Could you please confirm that `3.0.6-SNAPSHOT` fixes it for you?

[2017-04-06 14:51] kamenik commented on #591
3.0.6-SNAPSHOT seems to be OK :).

[2017-04-06 15:10] #591 closed, assigned to danielfernandez

[2017-04-06 21:09] joaoandremartins opened #592 "It's hard to get Thymeleaf to work with Spring Boot out of the box"
Creating a Spring Boot project with Spring Initializr and then adding Thymeleaf support as per the [tutorial instructions](http://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html) doesn't work.

My SpringWebConfig file looks exactly like one in the tutorial.

I spent quite a while trying to understand why Spring can't reach /WEB-INF/templates by looking at other code examples, but already

[2017-04-06 21:18] danielfernandez commented on #592
The tutorial you mention is not for adding Thymeleaf support into Spring Boot apps. It explains Thymeleaf's general Spring Framework support, but as you can see in the example application, the web infrastructure used as an example is based on Spring MVC *vanilla*, not Spring Boot.

If you want to use Thymeleaf in your Spring Boot app, simply add the `spring-boot-starter-thymeleaf` starter (you can

[2017-04-09 00:35] #592 closed, assigned to danielfernandez

[2017-04-10 11:15] leavesgreen opened #593 "How to call a static method ??"
For some reason , I want to call a static method in html template , I use the code just like the example:
` <p th:text="${@myapp.translator.Translator@translateToFrench('textVar')}">`
it's an ordinary OGNL expression, but it does not work. I got the error like this:
`org.springframework.expression.spel.SpelParseException: EL1041E:(pos 29): After parsing a valid expression, there is still more data

[2017-04-11 07:57] leavesgreen commented on #593
anyone can help? so much thanks.

[2017-04-11 08:05] danielfernandez commented on #593
If you are using Thymeleaf with Spring, your expression language is not OGNL, but Spring's own (Spring EL or SpEL). You should have a look at the syntax here: https://docs.spring.io/spring/docs/current/spring-framework-reference/html/expressions.html

[2017-04-11 08:05] #593 closed, assigned to danielfernandez

[2017-04-12 03:43] leavesgreen commented on #593
@danielfernandez , thank you , but I am sorry I can't totally get the point. do you mean I can use SpEL in the Thymeleaf template engine?
we use spring-boot and Thymeleaf , I read the link you supplied but I only learn the SpEL is an dynamic expression define language, but how to use it in the html template, it  did not said clearly.
so can you offer me some example of this? thank you so much.

[2017-04-12 10:04] saviola777 opened #594 "#strings.abbreviate: trim before adding ellipsis"
Just a small suggestion: It would be nice if the abbreviated string was trimmed before adding "..." at the end. At the moment, if the string contains spaces they are included before the ellipsis, e.g.:

[code]

would result in "test with ..." instead of "test with..." which would (in most / all cases?) be more desirable.

If you think this is unnecessary or keeping the spaces is more desirable, fe

[2017-04-12 11:28] saviola777 commented on #593
I think you want to use ```T()``` with the full class name, like

[code]

[2017-04-12 18:03] pgpx opened #595 "Constant values in Javadoc for StandardCacheManager do not match implementation"
Some of the constant values in StandardCacheManager do not match the values specified in the Javadoc, for example DEFAULT_TEMPLATE_CACHE_INITIAL_SIZE has an actual value of 20, but the Javadoc says 10.

Fix in the PR is just to use {@value ...} Javadoc tags, so that the values are always in sync.

[2017-04-12 18:17] pgpx commented on #595
Also found a few more comments where {@value} could be used.

[2017-04-13 02:03] leavesgreen commented on #593
@saviola777 ,thank you very much, it worked!
so surprise because i tried last day  as @danielfernandez  said  the same but it did't  work;

[2017-04-13 02:13] leavesgreen commented on #593
@saviola777 , can you help me more ?
how can I put a variable on as the static method params?  the variable is defined like this: `model.addAttribute("q",q);`
`<p th:text="${T(utils.ustr).test1(#q)}"></p> ` it indeed call the method , but the params is null.

[2017-04-13 04:29] kiriljames opened #597 "intermittent issue with th:inline="javascript""
I've been encountering this issue sometimes when I reload the page.
It seems like there is problem with parsing inline javascript.

The following code:

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
           var all =  /*[[ ${currencyAll} ]]*/;
           var filterCd1 =  /*[[ ${filterCd1} ]]*/;
           var filterCd2 =  /*[[ ${filterCd2} ]]*/;
        /*]]>*

[2017-04-13 05:57] leavesgreen commented on #593
@saviola777 ,Thanks , I finally find the correct way , just write like this. `<p th:text="${T(utils.ustr).test1(q)}"></p>`

[2017-04-13 19:38] hthole opened #598 "th:block not resolved when sourrounded with quotes in JS template"
Hi there,

since 3.0.5 it seems Thymeleaf is no longer recognizing th:block statements inside quotes in JS mode.
For example an expression like
`myLabels.push("[#th:block th:utext="#{some.text.label}"/]");`
is no longer resolving the text, but just printing out the th-statement. I think this is caused by the multiple quotes on that line, but even using single quotes for the inner or outer statemen

[2017-04-13 21:18] danielfernandez commented on #598
That is correct. It's not exactly an issue, but rather the fact that elements (`[#...]` or in your case the equivalent `[#th:block ...]`) were allowed inside JavaScript and CSS literals was something that versions < 3.0.4 were not ruling out and which was causing syntax collisions that lead to other parsing/evaluation issues.

Elements are not allowed inside literals. But this only means you canno

[2017-04-13 21:18] #598 closed, assigned to danielfernandez

[2017-04-13 21:55] danielfernandez commented on #597
Your code as such is correctly processed for me (actually, its structure corresponds with an amount of tests at our testing repository). Also, #563 was related with large buffer sizes at the JavaScript text parser, but your script is very small for this to be the same issue. So we will need to dig deeper into this:

1. What do you mean with this problem appearing when *reloading*? Do you mean that

[2017-04-13 22:19] danielfernandez commented on #594
Thanks for your suggestion. I do actually see your point, because it is true that a text ending in something like `" ..."` looks a bit weird.

However, I think performing this previous trim operation would provoke unexpected results, as the idea with `abbreviate` is that texts with a length larger than the specified value will result in a literal with *exactly* the specified length. Returning a li

[2017-04-13 22:19] #594 closed, assigned to danielfernandez

[2017-04-14 02:55] kiriljames commented on #597
1. This happens when we try to reload or redirect into the page. There is instance that it will happen the first time the template is processed but most of the time when reloading the page (reload and reload until the issue will occur). I could not find constant basis on when the issue would occur.

2. Yes the template is cacheable since the default is true.

   The following is my bean configurat

[2017-04-14 07:44] hthole commented on #598
Hi Daniel, thanks for the fast answer. I'll give it a try. I really appreciate your work!

[2017-04-14 08:55] danielfernandez commented on #597
OK thanks. The fact that this doesn't happen always makes me doubt a bit about this being an issue at the Thymeleaf side, but anyway it still could be a matter of some interaction I'm still not thinking of.

Would it be possible for you to send me the complete HTML template that's causing this, or at least a test template with an equivalent structure that reproduces this issue for you?

Also, test

[2017-04-14 09:40] kiriljames commented on #597
I'm still trying to reproduce the issue using curl command. But as of the moment, I haven't replicated it yet.

Based on the response from server, there is no additional markup at all not even the `</script>` closing tag.

![img_14042017_183402_0](https://cloud.githubusercontent.com/assets/27390798/25039991/b766c954-2141-11e7-9b0b-aa757b4a4e25.png)

Most of the time I am using IE11 when replicatin

[2017-04-14 09:53] danielfernandez commented on #597
OK, if it is so, it is quite strange that this is an issue related to JavaScript parsing. It might be your server closing the stream for some network-related reason, or even an exception happening during template processing for any other reason, and your browser just receiving the part of the output buffer that has already been committed towards the browser. Can you see any errors or warnings at t

[2017-04-14 15:01] javac9 opened #599 "Master template + injection of content part is a must-have feature"
Are there plans for Thymeleaf to support creation of master template file (complete DOM tree), where we would have a defined injection point for content part? (for those familiar with ASP.Net MVC and Razor view files - something like that)

Should you object that this is not the right place for making such a proposal, please do advise me on how to properly submit it.

[2017-04-14 22:28] danielfernandez commented on #599
Yes, this is a perfectly fine place for such a comment :)

The answer is *no*, there are currently no plans to add a *hierarchical* layout mechanism to the core of Thymeleaf, because there already are alternatives.

The *Thymeleaf Layout Dialect*, which is not official but is very widely used is one of them, and it offers exactly what you seem to be looking for. Also, if you are still using versio

[2017-04-14 22:28] #599 closed, assigned to danielfernandez

[2017-04-16 03:59] tianmingxing opened #600 "Thymeleaf3 does not support th: field tag?"
I did not see the "th: field" field in the XML constraint, nor did I see the tag on the document because it had a substitute?
[code]

[2017-04-16 20:30] danielfernandez commented on #600
Sorry, could you please clarify your question a bit? what do you mean with *"XML constraint"*, and what tag did you not see on which document?

[2017-04-17 06:10] tianmingxing commented on #600
Editor can not identify the "th: field" tag, I think it is due to xmlns not defined in the lead. But I can not see the document, so I can not.

[2017-04-17 21:40] danielfernandez commented on #600
With *editor* you mean an IDE? If so, which IDE? note thymeleaf only offers an *official* plugin for Eclipse, and other editors implement their Thymeleaf support on their own.

Also, normally the `xmlns:th` attribute is added to the `<html>` tag in order to make IDEs not raise warnings about the `th:*` attributes (i.e. so that they recognise the `th:` prefix is actually something you *intend* to w

[2017-04-17 21:40] #600 closed, assigned to danielfernandez

[2017-04-18 05:51] pathfinder2104 opened #601 "java.lang.ClassNotFound while using this "org.thymeleaf.templateresolver.SpringResourceTemplateResolver""
Hello,

I am new to Thymeleaf, I was going through the tutorials, http://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html and I found that above class didn't work as mentioned in the Chapter-2, using Spring’s XML-based configuration.
[code]
This "org.thymeleaf.templateresolver.SpringResourceTemplateResolver" in above statement is incorrect, it should be "org.thymeleaf.spring4.templateresol

[2017-04-18 07:40] danielfernandez commented on #601
Indeed that is incorrect. I'll take care of that, thanks.

[2017-04-18 11:47] pathfinder2104 commented on #601
@danielfernandez
I can raise a PR for this. Is that ok?

[2017-04-18 11:49] danielfernandez commented on #601
Sure, thanks! It's the `thymeleaf/thymeleaf-docs` repository.

[2017-04-18 12:04] pathfinder2104 commented on #601
I have raised a PR here is the link : [PR for this issue](https://github.com/thymeleaf/thymeleaf-docs/pull/49) please check and merge if you find it appropriate. Thanks :)

[2017-04-18 21:30] danielfernandez commented on #601
PR merged, thanks!

[2017-04-18 21:30] #601 closed, assigned to danielfernandez

[2017-04-18 21:43] danielfernandez commented on #595
Closed by merging your PR

[2017-04-18 21:43] #595 closed, assigned to danielfernandez

[2017-04-19 07:17] kiriljames commented on #597
If server has the problem, it would be too much of a coincidence that it would always happen at the same location.

Unfortunately, when this happen, there is no warning/error log in the server. And also HTTP status is 200.

For html test template, please refer [https://www.dropbox.com/s/ulj3r20ih920vvw/test_template_html.zip?dl=0](url)

the code will stop at line 226 in test_header.html

[2017-04-19 08:46] danielfernandez commented on #597
Quick question: is the Jackson library (`jackson-databind`) included in your classpath? if so, what specific version?

[2017-04-19 09:40] kiriljames commented on #597
Yes, we are using `jackson-databind-2.7.5`

[2017-04-19 10:23] danielfernandez commented on #597
And are you using your own implementation of Thymeleaf's JavaScript serializer based on your own configuration of a Jackson ObjectMapper? have you got any kind of manual Jackson configuration?

[2017-04-19 22:41] danielfernandez commented on #597
OK, I know what is happening, but based on your explanations I still cannot understand why this is happening to you.

When Jackson is in the classpath, Thymeleaf uses it for the serialization of values in JavaScript inlining or `JAVASCRIPT` template mode (defaulting to an internal implementation if Jackson is not present).

And It's Jackson that's provoking your issue, not really Thymeleaf. After

[2017-04-20 09:31] kiriljames commented on #597
Thank you very much for your help.

I also tried what you did by commenting the line that disabled the Jackson's _autoclose_ in my local thymeleaf code which I cloned from the repository and then I obtained exactly the same result as what I reported.

For the 3 scenarios:

1. I'm not sure about the load balancing part, since I can reproduce the issue in my localhost

2. I checked again but all ver

[2017-04-20 13:11] tianmingxing opened #602 "Can the template engine resolve CSS and JS on the page when parsing?"
Now popular in the page embedded style and script files, rather than using the reference way, this can reduce the request to speed up the page rendering speed.

I now have a problem, when I use the above said this way, there will be a mistake, I think this error should be fixed.

![wechatimg2](https://cloud.githubusercontent.com/assets/5615719/25232422/d0b12e1a-260d-11e7-8a7e-3ffeab76d21f.jpeg)

[2017-04-23 11:38] danielfernandez opened #603 "Prevent fragments without a signature being called with unnamed parameters"
If a fragment is inserted with an unnamed parameter:

[code]
...but the fragment signature has no parameters:
[code]
This could provoke some confusion, because the users could think they are passing some needed information to the fragment that the fragment is actually ignoring.

This is specially confusing in `/content()` scenarios that might be used to emulate a `th:include` using a `th:insert`:

[2017-04-23 11:41] #603 closed, assigned to danielfernandez

[2017-04-23 11:47] danielfernandez commented on #603
Already in `3.0.6-SNAPSHOT`

[2017-04-23 13:00] danielfernandez commented on #602
Sorry, I'm not sure about what is your issue here, more detail would be needed.

It does look as if you are directly inserting a script directly into a `th:*` attribute (e.g. a `th:onclick`) without proper literal syntax (and escaping), and thus the expression parser tries to parse your script and rejects it as an expression. But I'm just guessing from the expression parser's exception message.

C

[2017-04-24 02:05] tianmingxing commented on #602
Front-end development colleagues to CSS file content embedded in the HTML page above, resulting in content can not be resolved. In fact you should ignore these.

My situation can be reproduced on any page，The following HTML contains JS and CSS, which are embedded

[code]

[2017-04-24 13:36] danielfernandez commented on #597
Did the Jackson upgrade have any effects?

[2017-04-24 13:36] danielfernandez commented on #602
@xiaoxing598 I know what an embedded JavaScript or CSS is, and Thymeleaf does indeed support them. Your issue *cannot* be reproduced *"on any page"*. Let's focus on trying to know what happens to *you* in this case, so that I am able to help you.

The fragment of HTML you pasted on your comment does not help. I assume it is an (incomplete) fragment of the home page for Google China, but Thymeleaf

[2017-04-24 18:35] jonhkr opened #604 "Allow setting the Currency on #numbers.formatCurrency()"
Hello,

It would be good to have a way to set the currency when using #numbers.formatCurrency()

So we can format the numbers correctly in a multi currency application.

[2017-04-24 19:26] danielfernandez commented on #604
Interestingly, `NumberUtils` (the class containing the logic executed by `#numbers`) does already have a `formatCurrency(Number, Locale)` method, but the `Numbers` class that models `#numbers` itself seems to always call this with `this.locale`.

So a `formatCurrency(number, locale)` method seems an easy addition to `#numbers`. Question: would using the `locale` as an argument solve your need, or

[2017-04-24 19:38] jonhkr commented on #604
We need the currency of the amount to properly handle currency symbols.
So we need to set the currency in the `NumberFormat` using the `setCurrency` method.

If the locale is `en_US`, values should be rendered like:
10 Euros -> `EUR10.00`
10 US Dollars -> `$10.00`
10 BRL -> `R$10.00`

[2017-04-24 19:44] danielfernandez commented on #604
Yes, but I was asking for the signature of the method. Would a method `formatCurrency(number, locale)` be insufficient for you for some reason?

That locale would then be used at the called `NumberUtils` like this: https://github.com/thymeleaf/thymeleaf/blob/8fb3bc3b548522437624d3913df5c9c9b74e814b/src/main/java/org/thymeleaf/util/NumberUtils.java#L279-L290, which is the already existing code (onl

[2017-04-24 19:56] jonhkr commented on #604
Yes, it is insufficient because neither the number nor the locale carry the currency information of the passed number.
A monetary amount is composed by a Currency and a Number.

[2017-04-24 20:03] jonhkr commented on #604
I've created a dialect internally in my application to work around this, basically what I do is this:

[code]

the important part is this `format.setCurrency(currency);` that tells the number formatter in which currency the passed number is.

[2017-04-24 20:19] danielfernandez commented on #604
As long as it specifies a country, a `java.util.Locale` object does contain three pieces of information that are needed for correctly representing an amount of currency:
   1. The symbol of the currency and its correct positioning (before or after the amount).
   2. The thousands separator symbol (e.g. `,` for USD, `.` for EUR).
   3. The decimal separator symbol (e.g. `.` for USD, `,` for EUR).

[2017-04-24 22:15] jonhkr commented on #604
Exactly that, I have a multi-currency application which needs to present values in many currencies (e.g. USD, EUR, BRL).

The current built-in currency formatting support that thymeleaf have works ok for country specific applications where the amounts are represented in only one currency (e.g. BRL), but when there are many currencies involved, it does not work.

I think that it would be ok to add

[2017-04-24 23:02] danielfernandez commented on #604
I understand. I still see locale-specific currency representation more *generally correct* whatever your local language or formats, but I understand your need lies elsewhere.

Note that what you need can be currently done with this — which is admittedly a somewhat more cumbersome expression:
[code]

The code above is simply forgetting about the fact that the `amount` is a currency. In a way, that

[2017-04-24 23:10] jonhkr commented on #604
Ok, If you need any help just ask :)

[2017-04-24 23:28] danielfernandez commented on #597
As an additional note, I've tried your template in a custom-made application with `jackson-databind` 2.7.5, started a Tomcat with it, and used 3 concurrent `curl`-based scripts performing 5,000 requests each in order to try to reproduce the issue. Nothing. All requests were served alright and Jackson seemed not to ever close the `Writer` when it should not.

I'm wondering… would it be possible for

[2017-04-25 02:18] kiriljames commented on #597
Sorry for the late feedback.

Yes, unfortunately I can still reproduce the issue while using the latest version of Jackson lib.
I also find it strange that I cannot reproduce the issue using curl command. But I'm also sure its not browser issue since all browser can reproduce it.

For test project, I will try to create.

[2017-04-25 05:46] tianmingxing commented on #602
I'm sorry, I thought my question was not described clearly, repeated to you. I now try to find the historical version of the data, and put it below, please help analyze.

This is very close to the real document, the difference is that I removed some sensitive information.

[code]

[2017-04-25 06:01] danielfernandez commented on #602
So your issue is 'Option 1' of the two I propose  above. Please apply one of the two solutions I explained.

[2017-04-25 10:15] tianmingxing commented on #602
I let the front-end engineers do not put the resource file embedded in the HTML page inside, the problem is so temporary to solve it

[2017-04-25 10:15] #602 closed, assigned to danielfernandez

[2017-04-26 15:59] kasdega commented on #435
How does one configure/use this?

[2017-04-26 16:10] danielfernandez commented on #435
@kasdega see https://github.com/thymeleaf/thymeleaf/issues/435#issuecomment-160007528

[2017-04-26 16:14] kasdega commented on #435
Yep I see that and thank you for responding....maybe I'm just dense.  Do I put that in a config file?  I don't understand where exactly I would customize the way javascript is serialized.  Is there an example of this in use somewhere?

Do I create my own class that implements the IStandardJavascriptSerializer?  But then how do I set Thymeleaf to use that exactly?

Sorry for being slow here, just d

[2017-04-26 17:34] kasdega commented on #435
Here's what I tried:
[code]
And here's the error I get:
Cannot convert value of type [java.lang.String] to required type [org.thymeleaf.standard.serializer.IStandardJavaScriptSerializer] for property 'javaScriptSerializer'

[2017-04-26 20:03] danielfernandez commented on #435
Methods `StandardDialect#setJavaScriptSerializer(IStandardJavaScriptSerializer)` and `StandardDialect#setCSSSerializer(IStandardCSSSerializer)` are extension points for the Standard Dialect. You need to create your own implementation of these interfaces, as I see you've done in your second example.

The reason you have that error is because, when you use Spring's XML configuration, you cannot use

[2017-04-27 00:41] danielfernandez opened #605 "Allow template suffix to be applied only if template name doesn't already have a known file extension"
A configuration such as:
[code]
...means that in order for this template resolver to be able to resolve templates in JavaScript (`.js`) or CSS (`.css`) files, new template resolvers should be put in place, probably with a very similar configuration.

This could be avoided if all template resolvers extending `AbstractConfigurableTemplateResolver` only applied the `suffix` if the specified template

[2017-04-27 05:44] kasdega commented on #435
I'm sorry to be a pain.  Hopefully someone will get something out of reading this.  I've tried several more iterations and versions and ideas.  Here's the closest I've gotten...I've implemented my own StandardDialect.  It compiles fine and seems to get to the point where its actually calling MyThymeleafJavascriptSerializer but then I get a class not found exception...
[code]
and configured as such

[2017-04-27 15:38] kasdega commented on #435
Eureka!  Ok I got this to work.  I created my own JavaScriptSerializer as previously mentioned.  Then I had to switch over from xml config to use Java config (not sure how to do this in xml).  Then I did this in the config:
[code]
And I eliminated the instantiation of my own dialect.

Cheers!

[2017-04-29 00:23] danielfernandez opened #606 "Apply template mode depending on template resource extension during resolution"
Related to #605, it would be nice if once the final, complete name of the template is computed (aliases, prefix, suffix, etc.), its file extension (if any) is used to apply some kind of *smart* template mode resolution so that:
   * Resource names ending in `.html`, `.htm`, `.xhtml` are resolved as `HTML`.
   * Resource names ending in `.xml`, `.rss`, `.atom` are resolved as `XML`.
   * Resource n

[2017-04-30 21:32] danielfernandez opened #607 "Rationalise the way output content type and template mode relate in TemplateSpec"
Right now `TemplateSpec` allows to force a `TemplateMode` for template execution, and then in a completely unrelated manner allows the specification of an `String outputContentType` which in practice only serves the purpose of enabling Server-Sent Events (SSE) mode. This end up in a pretty confusing set of constructors at `TemplateSpec`.

The idea would be to make `templateMode` and `outputContent

[2017-04-30 22:47] #605 closed, assigned to danielfernandez

[2017-04-30 22:47] #606 closed, assigned to danielfernandez

[2017-04-30 22:47] #607 closed, assigned to danielfernandez

[2017-04-30 22:47] danielfernandez commented on #605
Already in `3.0.6-SNAPSHOT`

[2017-04-30 22:48] danielfernandez commented on #606
Already in `3.0.6-SNAPSHOT`

[2017-04-30 22:49] danielfernandez commented on #607
Already in `3.0.6-SNAPSHOT`

[2017-05-01 15:45] danielfernandez opened #608 "Separate template resolution and template processing mechanism"
Separating the template resolution and template processing mechanisms, the first one returning a `Template`, `ResolvedTemplate` or similar, and then the second one performing processing in itself could bring some benefits.

There would be two possible results of the *template resolution* mechanism in this scenario: the equivalent to current `TemplateResolution`, coming directly from the `ITemplate

[2017-05-03 11:24] danielfernandez commented on #597
Any news on this? were you able to create a separate project that reproduces the issue?

[2017-05-03 22:13] wilsib opened #609 "Setting attribute vale"
th:attr="dt:property=${col}"

[2017-05-03 22:18] wilsib opened #610 "setting attribute values for datatables does not work"
Trying to create a dynamic table from a HashMap (as return by jdbcTemplate.queryForList) results in a TemplateProcessingException: Could not parse as assignation sequence: "dt:property=${col}"

The template looks like:
`th:attr="dt:property=${col}"`

Changing this to:
`th:attr="property=${col}"`
results in a valid html page, but with a not-working datatable.
It seems that the : causes this problem

[2017-05-03 22:27] #609 closed, assigned to nobody

[2017-05-03 22:34] danielfernandez commented on #610
I assume `dt:property` is an attribute that should be processed by a custom dialect, so I'm not sure why you are using `th:attr` to set it, instead of directly using the attribute as such: `<div dt:property="${col}">`.

If this is because the dialect that implements `dt:property` does not understand Thymeleaf Standard Expressions such as `${col}`, in such case you could run your code simply by sur

[2017-05-03 22:34] #610 closed, assigned to danielfernandez

[2017-05-04 03:38] clayclayclay opened #611 "The entity name must immediately follow the '&' in the entity reference."
Hi, all.
In my index.html file,  there is a js code snippet, just like below shown:
[code]

But when I access the index.html, the console occured:
[code]

Then, I replace it with `&amp;&amp;` and it did work. But the js code became some hard to read.

So could anyone give me some advice?

[2017-05-04 23:05] danielfernandez commented on #611
Thymeleaf 2.1 uses an XML parser to process your template (v3.0 uses an HTML one, and this would not happen). So the XML parser does not know that the contents of your `<script>` should be processed as `CDATA` (i.e. ignored) and finds that your `&&` is indeed invalid HTML (it thinks it is an escape code).

The solution is to wrap your JavaScript code with `<![CDATA[...]]>`, like:

[code]

That way

[2017-05-04 23:05] #611 closed, assigned to danielfernandez

[2017-05-05 01:09] clayclayclay commented on #611
@danielfernandez
Thank, you. I have updated the thymeleaf version to 3.x and fixed the issue :)

[2017-05-07 14:30] loseyou opened #612 "Bean to Map Error"
an Exception
java.lang.ClassCastException: com.lose.reblog.dto.BlogDTO cannot be cast to java.util.Map
	at org.springframework.context.expression.MapAccessor.read(MapAccessor.java:44)
	at org.springframework.expression.spel.ast.PropertyOrFieldReference.readProperty(PropertyOrFieldReference.java:180)
	at org.springframework.expression.spel.ast.PropertyOrFieldReference.getValueInternal(PropertyOrFie

[2017-05-07 14:51] danielfernandez commented on #612
What does your expression look like? And also, which version of Spring are you using?

[2017-05-08 01:41] yanlichong opened #613 "表达式值的问题"
对象不存在的时候调用对象的属性会报错，怎么压制错误，这种情况给个空字符串或者给个默认值，
属性为不存在是怎么给默认值

[2017-05-08 20:29] danielfernandez commented on #613
Sorry, nobody in the team understands Chinese. Would you be able to rephrase your question in English? thanks.

[2017-05-09 01:09] kiriljames commented on #597
Sorry for the late feedback, I was on a vacation.
As of the moment, the project I created was not able to reproduce the issue yet.
I'll keep you updated.

[2017-05-09 16:12] loseyou commented on #612
private Integer id;
private String name;
private String userName;
private String imageUrl;
private Date createtime;
private Integer readtimes;
private String content;
private List<Tag> tags;
this is the BlogDTO

expression:
th:text="${blog.userName}"
I'm using spring 4.x

and when I restart. Run successfully for the first time.

[2017-05-09 16:20] danielfernandez commented on #612
I'm guessing "4.x" is actually "4.1.x", right? and am I right in thinking you have other expressions anywhere else in your templates which contain a variable called `blog` which is actually a `Map`?

The Spring SpEL compiler was new in 4.1, and sometimes had some issues with the precompilation of expressions and the way it handled the application of the same expression to different target objects.

[2017-05-09 16:39] loseyou commented on #612
yes .thanks a lot.I found the probelm.
when I first use blog
it works as
private Integer id;
private String name;
private String name;
private Date createtime;
private Integer readtimes
but than i use the same name blog as
private Integer id;
private String name;
private String userName;
private String imageUrl;
private Date createtime;
private Integer readtimes;
private String content;
private Li

[2017-05-09 22:37] wilsib commented on #610
Hi
sorry for this stupid issue. It worked immediately as proposed. I already had this, but it seems that I mad some other errors.
Thx a lot for your fast support

[2017-05-09 22:40] #612 closed, assigned to danielfernandez

[2017-05-12 01:20] kiriljames commented on #597
Unfortunately, I couldn't reproduce the issue using the test project I created.

[2017-05-12 09:10] seven-new-guy opened #614 "How to reload templates without restarting the spring boot application?"
I deploy my spring boot application with maven by `spring-boot:run` in `intellij-idea`. I must restart my application after I update the template files. Is there some methods that can update templates automatically instead of restarting the application?

I have already putted `spring-boot-devtools` in pom.xml:
[code]

p.s: sorry, maybe there are some grammar errors. English isn't my native languag

[2017-05-13 13:36] danielfernandez commented on #614
Spring Boot offers a `spring.thymeleaf.cache` configuration property which you can set to `false` if you want to disable the template cache so that templates can be modified on the fly.

Note however that Maven's `spring-boot:run` does run templates from the generated *überjar*, so I don't think this would work. However, if you run your application from IntelliJ IDEA by selecting the *application

[2017-05-13 13:36] #614 closed, assigned to danielfernandez

[2017-05-13 13:42] danielfernandez commented on #597
That's very unfortunate. I'm thinking, perhaps there are any other parts of your failing application where you customise Jackson's global behaviour somehow, or apply to it (to Jackson) any extension points that might provoke it closing these `Writer`s when it has been instructed not to?

[2017-05-15 03:06] kiriljames commented on #597
We have `JsonUtil` that uses jackson library.

Below is how we initialized the `ObjectMapper `:

    public final class JsonUtil {

        private static JsonFactory jsonFactory = null;
        private static ObjectMapper objectMapper = null;

        static{
            jsonFactory = new JsonFactory();
            objectMapper = new ObjectMapper();
            objectMapper.disable(Deserializatio

[2017-05-15 08:44] AstatorDem opened #615 "JavaScript line comment (//) parsing breaks when EOF comes before \n"
Since upgrading to `3.0.6.RELEASE`, any script code wrapped around <![CDATA[ ]]> will give a parser error:
[code]
Error:
[code]
This worked fine in `3.0.5.RELEASE`.
Probably related to #589, as I can confirm that wrapping it around `/*...*/` fixes the issue.

[2017-05-15 23:12] danielfernandez commented on #615
I am not able to reproduce this. Perhaps it doesn't happen with any script wrapped with `CDATA`, but it depends on something else...

Could you please provide a specific example of a complete `<script>` block that produces this error for you?

[2017-05-16 08:33] AstatorDem commented on #615
An update on the issue:
I've managed to find a way to reproduce the error all the time.
This html compiles fine:
[code]
example.js:
[code]
Any of these give a parser error:
[code]
example.js:
[code]

[2017-05-18 06:17] Antibrumm commented on #405
Thanks Daniel for the explanation. I see your point on the confusion part. I also needed to write some simple tests to get the differences between the include modes.

The main advantage that `include` had over `replace` was that you were still able to declare variables on the same element as the "design element" was replaced after evaluation. This made the "toplevel-templates" pretty slick :)

[2017-05-20 22:28] #613 closed, assigned to nobody

[2017-05-20 23:14] danielfernandez commented on #615
This is confirmed as a bug. The problem is that JS line comments (`//...`) don't have a finishing structure other than `\n` or `EOF`, and it is precisely `EOF` that is not being correctly handled. When the script ends with a line comment open, it thinks there is an open structure that still hasn't had its corresponding closing and it fails.

[2017-05-22 10:58] jawwadfarooq commented on #405
Is it possible to unescaped whole contents of a fragment which we include using `th.insert`?

[2017-05-23 13:30] tholu commented on #89
I would also love a less verbose way, like @JetForMe suggested. 👍

[2017-05-23 13:39] danielfernandez commented on #89
@JetForMe @tholu plese note that, as of today, Thymeleaf should allow you to use a literal substitution there like `th:href="@{|/users/${user.id}|}`

[2017-06-02 22:05] danielfernandez opened #616 "Escape \t, \n and \r in XML attributes in order to avoid loss of info"
See unbescape/unbescape#12

Characters `\t`, `\n` and `\r` are *allowed* in XML attributes. But according to the spec, during the read of an XML document by a parser an [*Attribute-Value Normalization*](https://www.w3.org/TR/REC-xml/#AVNormalize) operation can take place, and this would replace all these three characters with white spaces. This can result in a loss of information from the original

[2017-06-02 22:19] #616 closed, assigned to danielfernandez

[2017-06-02 22:23] danielfernandez commented on #616
Already in `3.0.7-SNAPSHOT`

[2017-06-04 21:42] bojanv55 opened #617 "Attributes does not preserve order"
When I use `th:attr="__${event.attribs}__"`, attributes are rendered in random order and not in order presented in event.attribs String. E.g. in string I have `data-sport='Tennis',data-association='ATP',data-country='France',data-gender='Men',data-tennis-match-type='Singles',data-tournament='French Open'` and output is `data-gender="Men" data-association="ATP" data-country="France" data-tennis-mat

[2017-06-04 21:59] danielfernandez commented on #617
HTML attributes are unordered by spec, though it is true that keeping a specific order could improve human (not machine) understanding of the code. So Thymeleaf 3.0 tries to respect order in many of its operations involving attributes… am I right therefore in assuming you are using an older version of Thymeleaf?

[2017-06-04 22:44] bojanv55 commented on #617
I'm aware of this spec, but I have some 3rd party js scripts are using this order as their presentation ordering. I fixed this in js source, but anyway wanted to report. I'm using current stable spring starter dependency.

[2017-06-04 22:45] danielfernandez commented on #617
What version of Thymeleaf are you using?

[2017-06-04 22:47] bojanv55 commented on #617
Will check tomorrow (not @ pc now). Hoped you know which one is bundled in current stable starter spring boot.

[2017-06-04 23:25] danielfernandez commented on #617
Yes, but I missed that *"starter"* in your previous comment. By default current the version of Spring Boot (1.x) uses Thymeleaf 2.1, though this [can be changed to use 3.0](https://docs.spring.io/spring-boot/docs/current/reference/html/howto-spring-mvc.html#howto-use-thymeleaf-3). Spring Boot 2.0 will use v3.0 by default.

Thymeleaf 2.1 does not pay attention to the order of attributes specified i

[2017-06-05 21:54] #615 closed, assigned to danielfernandez

[2017-06-05 21:59] danielfernandez commented on #615
Already in `3.0.7-SNAPSHOT`

[2017-06-10 11:09] danielfernandez commented on #597
Still unable to reproduce this. I was wondering, as a last-resort idea… maybe you are using any Jackson extensions (for serialising specific data types or similar) that might have a bug and be closing your output stream only when they run (e.g. when your data contains a field of a specific data type)? Maybe that's the reason you cannot reproduce it in a test application, because it depends on the

[2017-06-17 01:55] Ahaochan opened #618 "th:object can not post data to controller"
i have a controller
[code]
[code]
[code]

i input `http://localhost:8080/admin/user/test` in browser.
it show the field in form and output in console `get: UserData{username='admin1', password='admin1'}`
when i modify the form and click button to submit.
it output in console : `post: UserData{username='null', password='null'}`

and then i modify the controller code
[code]
[code]

modify data and c

[2017-06-18 22:10] danielfernandez commented on #618
I'm afraid this is a Spring MVC question, not really related to Thymeleaf. Yours is an issue with Spring form binding.

The problem is that Spring MVC requires that your form-backing bean (your `UserData` in this case) is a *first-level* variable in the model, which in your case, it isn't. Thymeleaf's user manual explains this here: http://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html#h

[2017-06-18 22:10] #618 closed, assigned to danielfernandez

[2017-06-20 07:41] Ahaochan opened #619 "#fields.errors().size() return zero"
i want to use thymeleaf+springMvc to valid form.
i use hibernate-validation.
i get the errors in controller (console), but i can not get error in html.
i have a UserController and UserData
[code]
[code]
how do i print the `pw must not null` to the html
i search in stackoverflow, but can not resolve my question.
thank! :)

[2017-06-20 07:52] Ahaochan commented on #619
sorry, i find it.
https://stackoverflow.com/questions/22948257/thymeleaf-not-displaying-spring-form-error-messages

[2017-06-20 07:52] #619 closed, assigned to nobody

[2017-07-09 04:19] mmoayyed opened #620 "RFE: Allow th:replace to conditionally render fragment"
I want to propose support for the following semantic:

[code]

Or if it matters:

[code]

As far as I can experiment, this behavior isn't supported and regardless of the condition, the `something` fragment is rendered. The present workaround is to remove the `if` clause from the parent containing fragment and move it into the `something` fragment:

Parent fragment:

[code]

Fragment `something.htm

[2017-07-10 09:19] shuanshuan opened #621 "create a empty numbers.sequence"
[code]
[code]
Which integers are greater than 1 and less than 0 ? The answer is none, not wrong question.

[code]
How can handle the counter<=0  to get the same result as the java code?

In Java for-loop int i=1; i<=5; i++; we can set the sart value 1, the value changing rule i++ and the stop condition.

[2017-07-10 09:23] danielfernandez commented on #621
What do you mean? I mean, what is what you are experiencing here, what would be the expected result that you are not getting or the issue that you are obtaining?

Also, please specify the version of Thymeleaf you are using.

[2017-07-10 09:52] shuanshuan commented on #621
@danielfernandez updated my post!

[2017-07-10 15:34] lalo-mx opened #623 "java.lang.UnsupportedOperationException when struts2 is running in same app."
Hello,

I have a application with thymeleaf 2.1.4.RELEASE and while i was trying to update to the 3.0.6.RELEASE version i found an issue with ognl.

	at org.thymeleaf.templateparser.markup.AbstractMarkupTemplateParser.parse(AbstractMarkupTemplateParser.java:241)
	at org.thymeleaf.templateparser.markup.AbstractMarkupTemplateParser.parseStandalone(AbstractMarkupTemplateParser.java:100)
	at org.thyme

[2017-07-12 21:13] danielfernandez commented on #621
Understood. Seems reasonable to return an empty sequence in these cases.

[2017-07-12 21:32] #621 closed, assigned to danielfernandez

[2017-07-12 21:34] danielfernandez commented on #621
Already in `3.0.7-SNAPSHOT`

[2017-07-13 15:46] lalo-mx commented on #623
I  found a solution for the issue, in the xwork-core library(XWorkObjectPropertyAccessor) they set some values in the  context.

`

public class XWorkObjectPropertyAccessor extends ObjectPropertyAccessor {

    @Override
    public Object getProperty(Map context, Object target, Object oname)
            throws OgnlException {

        //set the last set objects in the context
        //so if the n

[2017-07-14 12:06] Eichhrn opened #624 "TEXT mode: Requiring a context variable to be present"
Hello,

using a TemplateEngine with a StringTemplateResolver in "TEXT" mode I'd like to process a text template, e.g. "Hello [(${username})]".

If my Context contains no mapping for username the template is still processed and [(${username})] is replaced with "". From using Thymeleaf in HTML mode I'm used to this throwing an exception. Is there any way already present to force this behaviour for T

[2017-07-14 22:33] danielfernandez commented on #624
I might be misunderstanding your scenario, please give me more detail where possible… `[[${username}]]` can be used both in `HTML` and in `TEXT` template modes, and in both cases it behaves the same as `<th:block th:text="${username}" />`.

Anyway, there is no exception being thrown when the `username` variable does not exist in the context, no matter the template mode…

[2017-07-18 12:11] Eichhrn commented on #624
Hi, thanks for the quick reply.

The exception is thrown if I process
[code]
in `HTML` mode, which is of course not the same as `<th:block th:text="${username}" />`. Since I didn't get an exception without providing a value for emailConfirmationURL in the Context after I removed the th:replace, I assume only th:replace actually requires the variable to exist in the Context?

Does Thymeleaf have so

[2017-07-18 20:58] danielfernandez commented on #624
Correct, in the case of `th:replace`, it actually needs the value expression to return a valid fragment or an exception will be thrown. Also, since v3.0 results such as *empty fragment* (`~{}`) and *do nothing (`_`) are also accepted.

There is a `th:assert` attribute you can use to make sure specific variables exist (will throw an exception is assertions are not met). But if you mean something *a

[2017-07-18 20:59] danielfernandez commented on #624
Can I assume therefore that this ticket can now be closed?

[2017-07-18 23:01] gavenkoa opened #625 "Infinite loop caused by Fragment Expressions if reference to itself"
I was amazed by Thymeleaf 3 fragment expression but it is hard to generalize templates due to complex syntax and a number of concepts behind the scene.

Simple task: add navigation to page:

    <body>
        XXX
    </body>

I made fragment:

    <body th:fragment="body(content)">
        <nav></nav>
        <th:block th:replace="${content} ?: ~{}" />
    </body>

and hoped that below inclusion

[2017-07-18 23:59] Eichhrn commented on #624
Yeah, thanks for your quick help, I appreciate it!

[2017-07-18 23:59] #624 closed, assigned to danielfernandez

[2017-07-19 20:40] danielfernandez commented on #625
As you described, the fragment expression you created forms an infinite loop, as a `~{::body}` will select the `<body>` tag itself, and that means along with its `th:replace`. I think it actually makes good sense that this situation provokes a loop. In some situations this is a very desired behaviour in order to allow for dinamically-bound recursion — though of course in such cases the expression

[2017-07-19 21:35] danielfernandez commented on #620
This combination of attributes (`th:replace` and `th:if`) work like that because of how precedence goes. Fragment insertion attributes are the ones with the highest precedence, so when in the same tag, `th:replace` will always execute before `th:if` which, you are right, in this case makes that `th:if` useless.

However, yours is not an unsupported scenario. The key here is that *fragment expressi

[2017-07-19 21:47] mmoayyed commented on #620
Yes that's perfect, thank you! That will do the job, but I might humbly suggest that the syntax is less than intuitive. Some sugar might be ideal, though certainly not required.

Feel free to close,  and thanks again.

[2017-07-19 22:19] danielfernandez commented on #620
As a more detailed explanation of the syntax above: note how this is just a *conditional* expression, with the same shape that you can use in any other place: `th:text`, `th:href`, etc.

Also, the idea is that `th:replace` and `th:insert` require a *fragment* to perform the insertion. So said in a different way, they need their values to be *expressions that return fragments*. And which expression

[2017-07-19 22:19] #620 closed, assigned to danielfernandez

[2017-07-19 22:47] danielfernandez commented on #623
Hmmm… I'm not sure this actually has a solution.

The main problem here is that OGNL is not really prepared to have more than one *tenant* executing it in the same application, a large part of its configuration being made by means of static methods and so. So Struts2 and Thymeleaf making use of OGNL leads to a conflict here. I think we can perfectly call this an OGNL limitation.

The conflict cons

[2017-07-19 23:24] gavenkoa commented on #625
Wow! `content()` is interesting feature. I recently asked question https://stackoverflow.com/questions/45188552/why-thinclude-is-no-longer-recommended-since-thymeleaf-3-0/ and now I got answer ))

Though official docs doesn't tell even about `text()` (except some examples):

http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#appendix-c-markup-selector-syntax

it was missing in http://w

[2017-07-19 23:48] danielfernandez commented on #625
Yes, I just fixed that in the tutorial so that it now links to the AttoParser documentation in version 2.0.4, which includes the latest additions. The Thymeleaf tutorial list the complete set of features because actually markup selectors are AttoParser's.

So I will close this for now if that's right, as I understand your scenario should be covered.

[2017-07-19 23:48] #625 closed, assigned to danielfernandez

[2017-07-20 00:07] gavenkoa opened #626 "What is the scope of fragment expression selector?"
I am new to Thymeleaf, heard about it 4 years ago (so v2.x) that it has layout support. During learning of Thymeleaf 3 features I began to think that it is possible to implement layout design with Fragment expression.

What is desired is so called "Mashup" (forgot precise name) layout style when fragments are enriched with surrounding elements, not just inserted in place. One of such example provi

[2017-07-20 00:14] gavenkoa commented on #626
Of cause I see recommendationы to name fragments differently from HTML tags to avoid ambiguity and my discovery shows problems in identifying what DOM is captured.

It is better to have named argument in fragment and functions/operations/syntax that allows getting part of DOM via CSS/XPath selector syntax. Is it possible?

[2017-07-20 13:37] ivan-gammel commented on #497
What about using IContext content as templateResolutionAttributes if they were not specified or passing the context as the one of these attributes?

[2017-07-20 17:45] lalo-mx commented on #623
I had not thought about the performance issue, what do you think of a wrapper for the immutable map that does not throw errors and does not allow adding new elements?

[code]
And then use it like this:

[code]

[2017-07-21 08:00] StanleyJPC commented on #574
onclick="window.location.href='createReports.html'" 这个怎么改啊？

[2017-07-21 08:08] danielfernandez commented on #626
Not necessarily. Only if these arguments are added to the fragment's signature. But it is possible to add arguments to a fragment call specifying a name for them, even if they are not in the signature, and then let them be used. This allows therefore for *optional* fragment parameters:

[code]

And then:

[code]

Note the `links` is added to the fragment call, but it is not declared as required by

[2017-07-21 08:45] david-dogneton commented on #579
@danielfernandez Do you have a status to share regarding this ?

[2017-07-23 11:41] gavenkoa commented on #626
By marking template body with class attribute  `<div th:replace="this :: html[!class]/body"/>` inside template capture body of original page.

I can match any parts from original page if Xpath/CSS selector can't find match inside template. How that can be?

I was afraid using provided template in production, because it is not clear why that happen.

Though, you provided much safer way to refer to

[2017-07-23 11:59] gavenkoa commented on #626
This page https://stackoverflow.com/a/20449189/173149 also refer to:

    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="templates/layout :: page">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="content">
            my page content
        </div>
    </body>
    </html>

from template via:

   <div th:inc

[2017-07-23 12:39] danielfernandez commented on #626
Because it works up in the stack of calls. If your specified fragment (with `this`) is not found in the *leaf* template (the one the expression is in), it goes up in the stack of template calls looking for something that matches such definition. So by discarding the `<body>` from one level, you end up matching the next level up.

However, in your case –if I understood correctly– that would be a co

[2017-07-23 13:00] gavenkoa commented on #626
Wow! I miss that part (about lookup in template hierarchy stack).

Now I see that my questionable code is legitimate but it is safer to stick to suggested `${#execInfo.processedTemplateName}`. In this way Layout Template dialect can be partially implemented with built-in power of Thymeleaf.

Thanks for support.

[2017-07-23 13:00] #626 closed, assigned to danielfernandez

[2017-07-23 21:12] danielfernandez commented on #579
@david-dogneton the status is *"this would be nice to have if it doesn't cause a performance hit, but right now there's a bit of a mess with some Spring integration stuff, so it will definitely come for a version after 3.0.7 (which is waiting for Spring 5.0.0.RC3)"* :)

[2017-07-23 21:23] danielfernandez commented on #497
@ivan-gammel that would not be possible, as the context can contain *any* type of objects… and that means not only objects that could be *not serializable* (which wouldn't be very *future-proof* as a part of a cache key) but even objects of a class that wouldn't even have a proper implementation of the `equals()` method, which could result either on a huge performance penalty or (most probably) on

[2017-07-24 07:12] david-dogneton commented on #579
@danielfernandez Ok no problem ! Seems legit 😄

[2017-07-24 17:07] berniegp commented on #497
@danielfernandez Is there any way to implement this feature in Thymeleaf 3? I don't mind working on it if some guidance is provided. I would hate to go in some direction only to learn later on that it was wasted time (like this serialization issue).

[2017-07-24 17:17] ivan-gammel commented on #497
@berniegp I have this feature working with current stable Thymeleaf 3, being implemented this way:
https://github.com/resource4j/resource4j/blob/master/integration/thymeleaf3/src/main/java/com/github/resource4j/thymeleaf3/Resource4jTemplateEngine.java

You can try this solution as a workaround with your own template resolver.

[2017-07-26 02:35] edwardchanjw opened #627 "Support JSON"
Is that able to support json like following:
Any guidelines for how to extend thymeleaf for the purpose? or it is already supported?
or just which library convert them back to java POJO assumed the type retaining well.

For example Template with json

`	Tu quoque, <em>${item.stock.stockLocation}</em>!`

[code]
[code]

[code]

Actually I am asking the same question in [Spring Boot Email Tools](http

[2017-07-26 08:23] danielfernandez commented on #627
It depends on what you mean with *supporting JSON*.

1. If you mean making your controller layer directly return JSON instead of HTML, then you should be using a JSON serialization library (like Jackson) instead of Thymeleaf. If you are using Spring MVC/Spring Boot, this JSON support is built-in and you wouldn't need to add Thymeleaf at all to your project.

2. If you mean returning HTML but with

[2017-07-26 14:30] edwardchanjw commented on #627
I mean returning HTML with the replaced ognl/spel of ${item.stock.stockLocation} in the microservices
by directly using the JSON String, or JSON Object that received over REST API.
I know this question is seem too simple for versatile Java Developer, I just want to know how many different approach to support type conversion or even that any expression language support JSON as alternative of ognl e

[2017-07-26 14:37] danielfernandez commented on #627
Understood. But in that case, I believe your question has nothing to do with Thymeleaf itself. You seem to need a way to consume a JSON endpoint (your *"REST API"*) and then do something with the result (in this case, put some part of it into a Thymeleaf context).

If you are using Spring, I think you should have a look at the `RestTemplate` class. But anyway, Thymeleaf is just a view layer, a tem

[2017-07-26 14:37] #627 closed, assigned to danielfernandez

[2017-07-27 19:52] danielfernandez commented on #597
I'm closing this for now as *cannot reproduce* as it's been two months and a half since you last reported details on this issue, and this is still not reproducible on our side. Please don't hesitate reopening it at any moment if you are able to obtain any further detail on how this could be reproduced and/or diagnosed. Thanks.

[2017-07-27 19:52] #597 closed, assigned to danielfernandez

[2017-08-01 02:57] edwardchanjw commented on #624
Sorry If i comment on following issue as it is closed

But I would like to enquiry and it is good to sharing ideas/tips on the same intentions or extending the use case for same case.
Hi all, can I asking few possible approach to check the all variables that exist in a template are present in the Context? Like extend IProcessorDialect  and check in doProcess or other easier approach?

[2017-08-07 20:23] tejas619 commented on #93
For <iframe id="id1" data-host="hostname"></iframe>
How do I insert variable in the data-host attribute of thr iframe tag?
data-host-th-text=${var} is not working for me.

[2017-08-07 22:20] danielfernandez commented on #93
@tejas619 if you are using Thymeleaf 3, either `th:data-host="${var}"` or `data-th-data-host="${var}"` should work for you. If you are using a previous version, then `th:attr="data-host=${var}"` or `data-th-attr="data-host=${var}"`

[2017-08-08 17:30] tejas619 commented on #93
Worked for me. Thanks @danielfernandez

[2017-08-09 20:11] danielfernandez commented on #624
Thymeleaf has no way of doing this, as the template is processed as it is read from disk/cache. Previous knowledge about required variables would require some kind of template pre-processing, which would affect performance and significantly modify the way the engine works now. Besides, thanks to pre-processing capabilities in Thymeleaf expressions and the possibility to use indexed variables in OG

[2017-08-13 17:11] imnotpete commented on #225
And just to be clear for future Googlers -- Knockout understands those encoded attributes just fine. IE, a save button with `data-bind="enabled: mine() &amp;&amp; tracker().somethingHasChanged()"` works as expected.

[2017-08-15 02:27] djkeh opened #629 "Cannot test Thymeleaf decoupled logic"
Hi,
I encountered a problem when I tried to decouple the template logic and test using Spring MockMvc.
Spring MockMvc was the testing object, so I thought this is related to `thymeleaf-spring` project.
But looking at it, Spring MockMvc runs properly with normal Thymeleaf attributes like this:

[code]

I'm still confusing a little bit but, I think this issue is directly related to Thymeleaf core as

[2017-08-15 21:56] ricardorqr commented on #451
Hello guys,
I've been studying Spring Boot and Thymeleaf for one week ago and I'm receiving this message:

`2017-08-15 16:46:38.764  WARN 9648 --- [nio-8080-exec-5] n.n.u.t.expressions.ExpressionProcessor  : Fragment expression "admin/home" is being wrapped as a Thymeleaf 3 fragment expression (~{...}) for backwards compatibility purposes.  This wrapping will be dropped in the next major version o

[2017-08-15 22:08] danielfernandez commented on #451
@ricardorqr please note this warning is being issued by the Layout Dialect, not Thymeleaf itself (that `ExpressionProcessor` is not a Thymeleaf class). Apparently, the Layout Dialect is warning you that it prefers you using the new *Fragment Expression* syntax (`~{...}`) instead of the old one (without the expression wrapping symbols).

[2017-08-16 00:37] astiob opened #630 "JavaScript inliner doesn’t recognize regular expression literals"
[`TextParser`](https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/templateparser/text/TextParser.java) attempts to partly parse JavaScript to handle situations such as strings containing tag markers. Unfortunately, it does not parse JavaScript regular expression literals.

In particular, when it encounters a quotation mark, it decides that it starts a string literal

[2017-08-16 00:42] astiob commented on #630
Oh, and there’s another form of string literals nowadays: [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals). They aren’t handled by Thymeleaf either.

[2017-08-16 02:25] ricardorqr commented on #451
Hello @danielfernandez, thank you for answering me. Yes, that is my question. I've already tried to update for the new syntax, but still wrong. I really don't know what I am doing wrong. Can you explain to me what do I have to do?

[2017-08-16 13:55] astiob commented on #604
I’d like to explain why this is useful (although I personally don’t need this feature right now).

The way a number is presented depends on the language. For example, English separates thousands with commas and puts a full stop between the integral and the fractional parts of a number. Regardless of what currency an amount might be in, as long as the amount is presented in English, this fact does

[2017-08-16 21:45] danielfernandez commented on #451
@ricardorqr Well, I suspect the Layout Dialect is expecting you to express `layout:decorate="admin/home"` as `layout:decorate="~{admin/home}"`, though this dialect is an external project and you could probably obtain further orientation in their own GitHub repos.

[2017-08-16 23:41] ricardorqr commented on #451
Heeeeeeeeyyyyyy @danielfernandez buddy!!! It works!!! Now I don't have that message anymore. Thanks, man.

[2017-08-17 00:13] jambonnade opened #631 "Problems with single quotes in messages"
There is a problem with messages when they contain single quotes (or if they must not contain single quotes it should be mentioned in documentation). The messages are defined in .properties resource bundles

a) If there is a single quote before an argument placeholder {0}, the placeholder is ignored and not replaced by the value
`my.message=Blabla bla'bla. bla : <strong>{0}</strong>.`

`<p th:utex

[2017-08-17 10:17] MasatoshiTada opened #632 "[Improvement] Throwing exception when parser-level comment block is not closed"
When parser-level comment block is not closed, rest of contents are not output because Thymeleaf treat them as comment.
Example is below.

- Thymeleaf template

[code]

- Output HTML

[code]

I wondered that Thymeleaf did anomalous behavior without any errors and stacktraces.
This will make developers very confusing.
(In fact, my colleague was so confused!)

In that case, I think that it is approp

[2017-08-17 14:28] danielfernandez commented on #631
Actually, Thymeleaf (and also Spring, who is in charge if you are using this in a Spring-based application) uses Resource Bundles in `.properties` files by means of the standard mechanism defined in the `java.text.MessageFormat` class of the JDK, as is documented in the user tutorial.

See this for more info: https://docs.oracle.com/javase/8/docs/api/java/text/MessageFormat.html

[2017-08-17 14:28] #631 closed, assigned to danielfernandez

[2017-08-17 15:04] danielfernandez commented on #629
This is an issue with the user's Spring testing setup. Closing, dealt with at #152

[2017-08-17 15:04] #629 closed, assigned to nobody

[2017-08-18 01:16] djkeh commented on #629
Thank you for the consideration.

[2017-08-18 19:14] oliverlietz opened #633 "OSGify"
* add Maven Bundle Plugin and OSGi Versioning annotations
* change packaging to bundle
* add package info with version to each package
* enable baselining

This is the least possible change to OSGify Thymeleaf and provide proper versioned packages.

This issue should serve as a basis for discussion to provide Thymeleaf as OSGi bundle in the future. Two attempts (#32, #280) were rejected in the pas

[2017-08-23 01:55] fullstackyang opened #634 "th:replace doesn't work when set spring.thymeleaf.mode=LEGACYHTML5"
here is my two HTMLs:
[code]
[code]
if the header fragment has been replace into the index.html, the text "Hello World" would be displayed in red according to boostrap, but it is black actually, while I remove "spring.thymeleaf.mode=LEGACYHTML5" in application.properties, th:replace tag indeed do work.

[2017-08-23 22:10] danielfernandez commented on #634
It's not exactly that it does *not* work. The thing is that the `LEGACYHTML5` template mode applies, prior to template parsing, a *tag balancer*. And this tag balancer (called nekoHTML) examines the structure of the HTML and might close, modify or even remove tags and other elements that do not adhere to the specification for a well-formed HTML documents.

In your case, you are including a `<head>

[2017-08-23 22:10] #634 closed, assigned to danielfernandez

[2017-08-30 23:06] danielfernandez commented on #623
I've had a look at the Struts 2 code, and I'm afraid I think the solution you propose would not be adequate. First, because it would be quite intrusive, adding to the Thymeleaf core a feature that would be merely a workaround –not really a *fix*– for a specific scenario in Struts 2; and Second, because such workaround in itself would in fact provoke an unexpected behaviour by *swallowing* errors.

[2017-08-30 23:06] #623 closed, assigned to danielfernandez

[2017-08-31 10:04] ghost opened #635 "How to implement redirect in thymeleaf template?Can it?"

[2017-08-31 10:27] danielfernandez commented on #635
You mean a template that only redirects to another one? or you mean redirect as the result of some action in the UI? if it's the former, why would you want to do that?, and if it's the latter, that should be a piece of JavaScript as usual...

[2017-08-31 10:44] ghost commented on #635
Only redirects to another one.I using spring security the form login Login page

[2017-08-31 10:53] danielfernandez commented on #635
There is no way to make a Thymeleaf template only redirect to another one (and not contain anything else, no HTML, no JS, nothing).

Anyway, I'm still confused about why you'd want to do that in a Thymeleaf template... any reason why you would not perform a redirection (or a forward) at your controller instead? If you are using Spring, returning a view name with the `redirect:` prefix should be en

[2017-08-31 14:01] destan commented on #635
although would not be a best practice following might be something you're looking for:

[code]

[2017-09-01 03:58] ghost commented on #635
@danielfernandez See the reference :[Creating a Custom Login Form](https://docs.spring.io/spring-security/site/docs/current/guides/html5/form-javaconfig.html) ,`/login` is ViewController，so if I logined I access `/login` the view should not show login form.

[2017-09-01 06:09] danielfernandez commented on #635
If I understand correctly, you mean that your issue is that you don't want that a user that is already authenticated sees the login form if they access the `/login` URL, right?

If this is correct, that's definitely a check (and a redirect) you should be doing at the controller, not the view. So your controller for `/login` should check if the user is already authenticated and, if so, instruct Spr

[2017-09-01 09:31] ghost commented on #635
Yes you are right. I should learn `thymeleaf` more and understand it.Thank you for your advice .

[2017-09-01 09:31] #635 closed, assigned to danielfernandez

[2017-09-05 09:55] bestkp opened #636 "A question about #number.format"
Hello! I just want to know how to use #numbers.format to get the right result.
eg:
    #numbers.formatDecimal(1 / 3 , 1, 2)  to be  1.33 not 1.00

[2017-09-05 09:58] #636 closed, assigned to nobody

[2017-09-07 08:10] JavaWebinar commented on #350
I've found this problem on stackoverflow: https://stackoverflow.com/questions/22093149/thymeleaf-fragments-and-default-parameters

I failed to to pass default param to fragment using `th:with`:
[code]

Could you please give a sample how it could be done?

[2017-09-08 09:50] konrad-garus opened #637 "th:href variable substitution requires different syntax than docs"
I've been following the [docs on link URLs](http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#link-urls), but I could not get it to work with variables as described there.

Neither of the following worked for me:

[code]

However, this one does:

[code]

The docs appear to be misleading here. Am I doing something wrong?

FWIW, I'm on 3.0.7, calling it directly like this:

[code]

[2017-09-08 22:17] danielfernandez opened #638 "Increase Jackson dependency version to >= 2.9.1"
According to https://github.com/FasterXML/jackson-databind/issues/1020#issuecomment-328201622, a new configuration method `withColonInTimeZone(boolean)` was added to `StdDateFormat` that could allow Thymeleaf to drop its own serializer implementation.

Note this was added in Jackson 2.9.1, which is only from Sep 2017, so it would be a bad idea to force a dependency version update in 3.0.x. This 2.

[2017-09-10 10:13] danielfernandez commented on #637
Link expressions allow the path to be obtained from an expression, like `${myUrl}`:
[code]
Or like `${myBase} + '/report-css/report.css'` in your:
[code]
Or like `|${myBase}/report-css/report.css|` (note the `|...|` for literal substitution) in:
[code]
But note that your original expression `${myBase}/report-css/report.css` is not a valid expression.

Further references:
   * http://www.thymeleaf.

[2017-09-10 10:13] #637 closed, assigned to danielfernandez

[2017-09-10 10:20] danielfernandez commented on #350
@JavaWebinar please note that `th:replace` has greater precedence than `th:with`, so in your tag:
[code]
That `th:replace` will execute, replace the tag, and therefore make that `th:with` simply disappear. So it will never execute and your `img` local variable will be never given a value.

If you want to specify that additional parameter, you can do:
[code]

[2017-09-11 06:55] konrad-garus commented on #637
Ah, now I understand the difference. Thanks!

[2017-09-13 08:11] pwandl opened #639 "JacksonThymeleafISO8601DateFormat is not threadsafe"
I recently encountered an issue with the Javascript Serializer which crashed while serializing dates due to synchronization issues.

A comment in JacksonThymeleafISO8601DateFormat correctly states that Jackson has to handle the synchronization of the DateFormats, but I think the Thymeleaf DateFormat breaks this mechanism.
As far as i know, Jackson relies on `clone` to avoid issues with non-threads

[2017-09-15 09:31] kowalczm opened #640 "Decoupled template removes tags when used with th:if statement"
Hi Team,
I'm using decoupled templates (3.0.7) and I have following test.th.xml file:
[code]
Add when the logic th:if is evaluated to 'false'  the <Jobs> tag  is removed from my test.xml.
I would expect that above logic preserve my current <Jobs> tag in test.xml template file

[2017-09-16 23:11] #639 closed, assigned to danielfernandez

[2017-09-16 23:12] danielfernandez commented on #639
Confirmed and fixed. Indeed `clone()` wasn't being properly implemented there. Good catch, thanks a lot.

[2017-09-16 23:12] danielfernandez commented on #639
Already in `3.0.8-SNAPSHOT`

[2017-09-17 10:38] danielfernandez commented on #640
I'm not sure I understand the issue you describe…

Every attribute in an `<attr>` specification is *copied* to the selected tags in the template (in your case I assume that's `test.xml` during parsing. Then, during execution the template is executed exactly as if the template and the decoupled logic file had been merged from the beginning in a single file.

So the behaviour you describe for your `

[2017-09-18 17:15] kowalczm commented on #640
Yes, I have figured it out. Thank you. I have found also NO OP - '_' in order to keep 'default' content when expression evaluates to null. Another question from my side would be about supporting in Thymeleaf json objects  in 'variable expression' sth like: ^{store.book[*].author} where path 'store.book[*].author' would be JsonPath expression. Would be great feature to support it be default

[2017-09-19 06:05] skale1990 opened #641 "Update slf4j-api version[1.6.6 released in June, 2012] used in thymeleaf lib to latest 1.7.25"
Update slf4j-api version[1.6.6 released in June, 2012] used in thymeleaf lib to latest 1.7.25.

Current version used - slf4j-api version[1.6.6 released in June, 2012]
new version available - slf4j-api version[1.7.25 released in Mar, 2017]

[2017-09-20 22:28] ghost commented on #276
So I don't think the question is laughable at all. What he needs is for the "selected" attribute not to be added at all, if option is not selected. Your solution will still render the selected attribute if the condition is false. Same with "required" attribute. HTML does not require a value to them to be recognized. So now without laughing at the question, is there a real solution?

[2017-09-21 21:29] #640 closed, assigned to danielfernandez

[2017-09-21 21:49] #641 closed, assigned to danielfernandez

[2017-09-21 21:49] danielfernandez commented on #641
Already in `3.0.8-SNAPSHOT`

[2017-09-26 19:23] Elton-Santos opened #642 "Thymeleaf Erro tag"
Please, How I can resoulver this?

The value of attribute "th:if" associated with an element type "li" must not contain the '<' character.

[code]

[2017-09-26 23:05] danielfernandez opened #643 "JavaScript inliner doesn’t recognize template literals"
ES2015 introduced the notion of *template literals*. See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

These literals are not currently supported by Thymeleaf's JavaScript parser. So the presence of an unbalanced quote inside these literals can provoke a parsing exception, such as:

[code]

[2017-09-26 23:06] danielfernandez commented on #630
Thanks @astiob. Both issues are confirmed. I've created a new ticket for template literals at #643

[2017-09-26 23:21] #630 closed, assigned to danielfernandez

[2017-09-26 23:21] #643 closed, assigned to danielfernandez

[2017-09-26 23:25] danielfernandez commented on #630
Already in `3.0.8-SNAPSHOT`

[2017-09-26 23:26] danielfernandez commented on #643
Already in `3.0.8-SNAPSHOT`

[2017-09-28 19:47] #632 closed, assigned to danielfernandez

[2017-09-28 19:49] danielfernandez commented on #632
Already in `3.0.8-SNAPSHOT`

[2017-09-28 20:25] danielfernandez commented on #642
I assume you are using Thymeleaf 2.1.

HTML attribute values should not contain unescaped `<` characters. Use `&lt;` (escaped equivalent) instead.

Note that Thymeleaf 3.0 uses a more lenient parser and would allow you to use that char (even if you really shouldn't :)).

[2017-09-28 20:25] #642 closed, assigned to danielfernandez

[2017-09-28 23:33] MasatoshiTada commented on #632
Thanks! I’m looking forward to 3.0.8!

[2017-09-29 12:43] suhasbhatta opened #644 "Thymeleaf not replacing internationalized text"
`th:text="#{{{ngDialogData.title}}}"` does not replace the text instead prints ```
`??Error !!_en_US??
??upload_en_US??`

Error !! and upload has a value in messages.properties file.

the above html code is calling from ngDialog and it replacecs {{ngDialogData.title}} with the data passed from ngDialog function.

Please let me know if you need any more information

[2017-09-29 12:54] danielfernandez commented on #644
Is `{{ngDialogData.title}}` an Angular placeholder, resolved at the browser side? Please take into account that Thymeleaf works at the server side, so it executes before your HTML (including the Angular placeholder) is sent to the browser.

In any case, note `#{...}` Thymeleaf expressions work against the message externalization (or i18n if you prefer) mechanism that has been configured by the env

[2017-10-02 21:29] danielfernandez commented on #644
I'm closing this as the issue is a mix between client-side and server-side concepts. Thymeleaf is rendering your texts as `??{{ngDialogData.title}}_en_US??` at the server side, and later Angular is replacing your `{{ngDialogData.title}}` placeholders there, giving you the impression that internationalization is not working.

[2017-10-02 21:29] #644 closed, assigned to danielfernandez

[2017-10-03 09:48] suhasbhatta commented on #644
Yes got it now. It is my bad to post the question is that. But is there any work around for the same, passing the data from the client side and rendering the html once the client is rendered?

[2017-10-17 11:24] lizhiyuan09 opened #645 "using javascript inline expression in a Chinese character set"
I have a problem when using javascript inline expression in GBK ( a Chinese character set)encoding environment. thymeleaf version is 3.0.7，jackson verson is 2.5.0
[code]
sessCtx.username contain some chinese characters . like "张三". but what I got is :
`var user = "\u82CF\u5DDE";`
I can transform in front end, but this is not a normal way. What can I do to get a right string in back end.

[2017-10-19 15:08] yoshikawaa opened #646 "In StandardCacheManager cache report, Hit ratio is always 0.00 if not hit all..."
#### Version
3.0.8.RELEASE

#### Problem
At `StandardCacheManager` cache report, there is a problem that the hit ratio and miss ratio are not calculated correctly.

[code]
* hit ratio is always `0.00` if not hit all.
* miss ratio is always `1.00`.

#### Cause
At [StandardCache.java#L334-L340](https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.8.RELEASE/src/main/java/org/thymeleaf/cache/Stan

[2017-10-28 20:45] danielfernandez opened #648 "Improve restricted expression evaluation mode to restrict access to some request features"
**Current status**

Currently the *restricted expression evaluation mode* is applied in the following scenarios (see note below):

   * Pre-processing expressions: `__...__`
   * Unescaped output: `th:utext`
   * Template and fragment names in Fragment expressions: `~{...}` or contents of `th:insert`, `th:replace`, `th:include` and `th:substituteby`

This *restricted* mode applied the following re

[2017-10-28 22:30] danielfernandez opened #649 "Add new scenarios for restricted expression evaluation"
In addition to the improvements applied to the *restricted expression evaluation mode* in #648, it seems a good idea to expand the scenarios in which this restricted expression evaluation mode is applied to the following additional ones:

   * All `th:on*` attribute processors for JavaScript events.
   * `th:attr` attribute processor that enables the creation of variables with arbitrary name to be

[2017-10-29 00:47] #648 closed, assigned to danielfernandez

[2017-10-29 00:48] #649 closed, assigned to danielfernandez

[2017-10-29 00:51] danielfernandez commented on #649
Already in `3.0.9-SNAPSHOT`

[2017-10-29 00:51] danielfernandez commented on #648
Already in `3.0.9-SNAPSHOT`

[2017-10-29 23:50] danielfernandez opened #650 "PORT: Improve restricted expression evaluation mode to restrict access to some request features"
PORT of #648 to the Thymeleaf 2.1 branch.

---

**Current status**

Currently the *restricted expression evaluation mode* is applied in the following scenarios (see note below):

   * Pre-processing expressions: `__...__`
   * Unescaped output: `th:utext`

This *restricted* mode applied the following restrictions:

   * No access allowed to the request parameters: `${param.*}`

**Improvement to be

[2017-10-31 01:05] danielfernandez commented on #650
Already in `2.1.6-SNAPSHOT`

[2017-10-31 01:05] #650 closed, assigned to danielfernandez

[2017-11-02 21:50] danielfernandez opened #651 "PORT: Add new scenarios for restricted expression evaluation"
PORT of #649 to the Thymeleaf 2.1 branch.

---

In addition to the improvements applied to the *restricted expression evaluation mode* in #650 , it seems a good idea to expand the scenarios in which this restricted expression evaluation mode is applied to the following additional ones:

   * All `th:on*` attribute processors for JavaScript events.
   * `th:attr` attribute processor that enables th

[2017-11-03 00:59] #651 closed, assigned to danielfernandez

[2017-11-03 01:00] danielfernandez commented on #651
Already in `2.1.6-SNAPSHOT`

[2017-11-03 01:22] danielfernandez commented on #645
That `[[${sessCtx.username}]]` is an *escaped* expression, which will take the form of a literal when output as JavaScript. This will always escape non-ASCII characters into their corresponding unicode escapes, such as the `\u82CF\u5DDE` you are obtaining.

Could you please clarify if `\u82CF\u5DDE` is not the *escaped* output you were expecting, and why?

[2017-11-04 00:14] #646 closed, assigned to danielfernandez

[2017-11-04 00:19] danielfernandez commented on #646
Already in `3.0.9-SNAPSHOT`

[2017-11-05 13:28] CARRYME0820 opened #652 "one column in the table shows object:object"
one column in the table shows object:object, how can I acquire an attribute from object? Thank you!
[code]

[2017-11-05 14:46] danielfernandez commented on #652
Could you clarify your question a bit more, please? Apart from that `th:inline`, nothing in your sample code is actually Thymeleaf code, but probably some other template engine… so I'm not sure about what is your Thymeleaf-related question here.

[2017-11-05 15:35] CARRYME0820 commented on #652
@danielfernandez  My code is
[code]
a data returned by "field:'blogtype'" is object, I want to get one attribute of object and put it in
[code]
I am sure that I use the Thymeleaf template engine. Thx!

[2017-11-05 15:48] danielfernandez commented on #652
Unfortunately I'm not sure what you mean, but I'm completely sure this is not Thymeleaf code:
[code]
Please have a look at this article: http://www.thymeleaf.org/doc/articles/standarddialect5minutes.html as it contains the basics of Thymeleaf expressions, in case it helps.

[2017-11-05 15:55] danielfernandez commented on #652
Okay, now I've properly formatted your two messages above and made the HTML display properly, it makes a bit more sense. If I understand OK, that JavaScript code has nothing to do with all of this, and all you want is to output a property from an object. That can be as simple as `<th th:text="${object.property}">`, but please refer to the linked article above as well as the tutorials in http://www

[2017-11-05 15:55] #652 closed, assigned to danielfernandez

[2017-11-05 16:00] CARRYME0820 commented on #652
@danielfernandez   the data that "th:field" receive is object, but I only want to get one property in object.

[2017-11-05 16:06] danielfernandez commented on #652
What `th:field`? There is no `th:field` in your code…

Again, please read the docs. I would start by the *Using Thymeleaf* tutorial linked here: http://www.thymeleaf.org/documentation.html

[2017-11-06 09:04] mangodai commented on #645
@danielfernandez
Most of the time, we need a chinese string in javascript of code, it can be remind user's input is error. For example :
[code]

[2017-11-06 09:07] danielfernandez commented on #645
Yes, I understand that, but the escaped string is exactly equivalent to the one directly containing the Chinese characters. It should display exactly the same, but thanks to being escaped it won't require the HTML/JavaScript to use non-ASCII characters. That's why I'm asking why specifically the user needed the Chinese characters, or whether the escaping was not being properly done.

[2017-11-06 09:13] mangodai commented on #645
@danielfernandez
do you hava better idea to solve the problem?
I try, but i can't

[2017-11-06 09:16] danielfernandez commented on #645
The thing is... I don't see any problem here. Escaped strings are perfectly equivalent to their unescaped counterparts. Please try this code:
[code]

[2017-11-06 09:20] mangodai commented on #645
however, we don't need escaped strings in javascrpit. we need chinese in javascript

[2017-11-06 09:27] danielfernandez commented on #645
When you say *"we need Chinese in JavaScript"*, could you please help me understand why you *need* it? I mean, why having escaped output does not work for you? Of course I understand any character encoding can be used in an HTML document, but generally escaping operations are performed for security reasons and in order to avoid very common display issues. However, again, if there is a reason why y

[2017-11-06 09:44] mangodai commented on #645
i knew the code is work. but it doesn't friendly to developer.you cann't see the strings of meaning.
anyway, think you 👍

[2017-11-06 09:45] #645 closed, assigned to danielfernandez

[2017-11-10 08:38] MartinW79 opened #653 "StackOverflowError when inserting content before first element of model"
We have a processor created (extending AbstractAttributeModelProcessor) that responds to y:noIndex attribute.

[code]

The task is to add comments before and after the complete model body for the Google Search Appliance to turn off indexing for these contents.

Desired result:

[code]

In order to get access to full body (OpenElement till CloseElement) we created an AttributeModelProcessor.

Addin

[2017-11-13 19:23] joshiste commented on #548
@danielfernandez is it possible to reconfigure the expected envelope for inlined output expressions?

[2017-11-14 21:45] danielfernandez commented on #548
@joshiste no, it isn't. This is part of the core syntax of the text-based template modes.

[2017-11-25 06:13] mangodai opened #654 "spEl error"
For SUGGESTIONS:

Please describe the problem that you are trying to solve in the maximum
detail possible.

[code]
When message is null that i would to do like this. Otherwise, Thymeleaf throw a exception.
[code]

but, I don't need do complicated step in jsp EL.
[code]

So, do you hava better way?

[2017-11-27 16:09] h2m commented on #654
Hi @mangodai ,
isn't all you want to do safe navigation using `?.` : `${message?.msg}`?
Best Marc

[2017-11-29 22:33] danielfernandez commented on #654
Thanks @h2m, that is a good option. Alternatively, you could also use something more verbose like `th:text="${message} ? ${message.msg}"`

[2017-11-29 22:33] #654 closed, assigned to danielfernandez

[2017-12-01 16:04] sseide opened #655 "Please update ognl dep in 2.1.x branch for vulnerabilty fixes"
please update the ognl:ognl version to at least version 3.0.12 to fix an security vunerability
with the old 3.0.8 version.

Only the old 2.1.x branch is affected as the 3.x branch already uses an newer version if this library.

https://nvd.nist.gov/vuln/detail/CVE-2016-3093
https://snyk.io/vuln/SNYK-JAVA-OGNL-30474

This primarily names struts as one library using ognl being vulnerable, but the pr

[2017-12-05 08:45] shenliuyang opened #656 "Method contains cannot be found on kotlin.collections.EmptySet type"
EL1004E: Method call: Method contains(org.appsugar.archetypes.entity.Role) cannot be found on kotlin.collections.EmptySet type

`<input type="checkbox" th:checked="${user.roles.contains(role)}" /> <span th:text="${role.name}"/>`

When user.roles are not empty  work fine.

thymeleaf version 3.

spring-boot  2.0M7

kotlin version 1.2

[2017-12-06 17:17] yoshikawaa opened #658 "Make StandardCache use LRU instead of current FIFO"
#### Version
3.0.9.RELEASE

#### Problem
In the document, it says that the cache is deleted according to the LRU mechanism, but the actual caching mechanism looks like a FIFO.

* Document
See http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-resolvers
[code]
* Actual Implements
See https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.9.RELEASE/src/main/java/org/thymeleaf

[2017-12-08 06:33] shenliuyang commented on #656
use ${#sets.contains(user.roles,role)}  fix it

[2017-12-08 06:33] #656 closed, assigned to nobody

[2017-12-11 03:03] Ngone51 opened #659 "Does thymeleaf's "th:replace" work in JQuery's html() function ？"
Hi, I try to use thymeleaf's template function in JQuery like this:

[code]

Then, I expect to get a  complete page with "template/search"'s content in it.
But, obviously, it din't work.

So, I'd like to know that whether I made a mistake or thymeleaf can not be used like this.
Thanks!

[2017-12-13 16:28] hamishlawson opened #660 "Directly support iterating over streams"
Streams are not currently one of the things that _th:each_ can iterate over. While it is possible to call iterator() on the stream before passing it to Thymeleaf, it would be neater if Thymeleaf was able to handle streams directly.

[2017-12-13 21:55] danielfernandez commented on #655
Well, this is interesting, because that "vulnerability" references as fix a commit on the OGNL code base that is part of a Pull Request that I myself contributed to OGNL 😲  https://github.com/jkuhnert/ognl/commit/ae43073fbf38db8371ff4f8bf2a966ee3b5f7e92

But what I did there was to merely improve OGNL's performance in a specific scenario (calling methods), not solve any security vulnerabilities *p

[2017-12-14 09:57] sseide commented on #655
Many thanks for clearing things up.

This came up with automated vulnerability checks during deployment and stops all deploys there...
For now we will check how to disable the errors for this specific case...

[2017-12-20 09:01] lovasoa opened #661 "[suggestion] #strings.abbreviate : use a single unicode ellipsis character (…) instead of three dots (...)"
Currently, `#strings.abbreviate(str,n)` shows only n-3 characters from the string when it is long. It could show up to n-1 characters if instead of using three dots, it used a single '…' character (`U+2026` in unicode, or the `&hellip;` HTML entity).

[2017-12-27 15:25] dihardmg commented on #451
weleh weleh it work thanks @danielfernandez  👍

[2017-12-27 19:00] melgenek opened #662 "'Refresh' strategy for cache"
While working on my current project I need to update the templates periodically from remote resource.
I can provide `ITemplateResolver` for remote resources as well as `ICache` that evicts `TemplateModels` periodically.
But there is a problem in `TemplateManager` that I can't easily override.

Currently `TemplateManager.parseAndProcessworks` as follows:
- asks cache for template
- if there is no t

[2017-12-28 03:52] ben-manes commented on #662
From a glance of the [ICache](https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/cache/ICache.java) interface is passive and does not know how to load the entry. This leads to a non-atomic get-compute-put style of usage. The complex logic in `TemplateManager` demonstrates this behavior.

The refresh policy in Caffeine leverages the requirement that a `CacheLoader` m

[2017-12-28 09:46] melgenek commented on #662
It would be great to have ability to get `TemplateModel` outside of Thymeleaf so that we can operate on it

[2017-12-28 15:42] Mradmedamine opened #663 "Register imports on evaluationContext.typeLocator"
**This is an Improvement:**

**PROBLEM**

We want sometimes to call some static variables (constants) or maybe methods from HTML.
JSP allows you to make a _page level import_. In Thymeleaf we don't have that option.
The only way to do that is to call the class with the full package name  this way :   `T(java.util.ArrayList).xxx  `which makes HTML ugly, especially with very long packages name.

**S

[2017-12-31 04:12] wwwqyhme opened #664 "how to disable restricted mode!!"

[2018-01-05 08:52] YoanaIvanova opened #665 "${attributeName} syntax accesses Request parameter instead of Model attribute (both have the same name)"
I'm using **Thymeleaf 3.0.9.RELEASE** along with **Spring 5.0.2.BUILD-SNAPSHOT** and **Spring Boot 2.0.0.BUILD-SNAPSHOT**.

In my controller, I'm adding a **Page** model attribute which contains information about my page:

[code]

Then in my application, I try to access:
http://localhost:8888/sampleApp/category?q=someFilter&page=1

In my view, when I try to get some property of the "page" model at

[2018-01-05 12:01] gochev commented on #665
I have a similar issue.

It looks the "name" evaluation in theymeleaf is **completely broken**.

In a JSTL (jsp) the order for evaluation usually is _pageContext_, _requestScope_, _sessionScope_, _applicationScope_ and **never** **evaluating the param.attribute without params prefix**. It looks in thymeleaf this is not the case right now because of bug or by design ? so having a shared controllers

[2018-01-08 10:01] ptahchiev commented on #665
Yep, i hit this too :( ... Would be really nice if a fix or a workaround is provided.

[2018-01-08 11:33] danielfernandez commented on #665
@YoanaIvanova The `${page}` expression does not access request parameters, only model/request *attributes*. In order to access a request parameter you need the `param.` prefix, as you already mention.

I'm not able to reproduce your behaviour. With java code like this:

[code]

[code]

And a template such as this:

[code]

Accessing both `http://localhost:8080/` and `http://localhost:8080?page=1`

[2018-01-08 17:58] tamb commented on #659
With Thymeleaf 3 you can process that external JS file through Thymeleaf and this will work,  However, to dynamically add Thymeleaf templates/fragments to an already rendered page, you would need to make an AJAX call to the server.  Remember, Thymeleaf is server-side rendered and is delivered as HTML.

To admins:  I would mark this as Closed.

[2018-01-09 01:18] #659 closed, assigned to nobody

[2018-01-09 13:09] YoanaIvanova commented on #665
@danielfernandez Ah, yes, my bad, you guessed correctly. After some debugging, I found out that there really is some logic inside the application which sets all _request parameters_ into _model attributes_ - exactly as you said. After commenting that logic out, everything works as expected.

Thank you for the feedback!

[2018-01-11 10:45] danielfernandez commented on #664
Could you be more specific on your issue? The "restricted mode" is a feature that avoids accessing (among others) request parameters in environments in which they might be prone to allowing code injection. Please see #648 and #649.

[2018-01-13 15:10] vignesh-vnix commented on #512
@danielfernandez Thanks a lot

[2018-01-18 02:23] wwwqyhme commented on #664
e.. thanks

[2018-01-18 02:23] #664 closed, assigned to danielfernandez

[2018-01-31 05:25] knavadiya opened #666 "How to change value of Variable after declare it in Thymeleaf ?"
# How to change value of Variable after declare it in Thymeleaf ?

here I have declared variable with name someVariable and assign default value 10 after that I am changing value of variable but I am geting error

How to change value of Variable after declare it in Thymeleaf ?

[code]

[2018-01-31 08:27] ultraq commented on #666
Declaring and setting variables is done using `th:with`.  However, variables are only set within the scope of the element where the change was made (scope in this case means the element where the variable was set, and all its child elements).

Here's an example of this:

[code]

Even when we set `test` to be 20 in the first paragraph, because that happens outside the scope of the second paragraph,

[2018-01-31 12:26] day781227 commented on #590
<thymeleaf.version>3.0.8.RELEASE</thymeleaf.version>
        <thymeleaf-layout-dialect.version>2.2.2</thymeleaf-layout-dialect.version>

try to add this.

[2018-01-31 18:25] topn0tch commented on #581
I'm having the same issue.

[2018-02-01 06:06] knavadiya opened #667 "How to add values in Thymeleaf variable in the loop and after complete loop display final value"
**I am design bill for products, I want to display all products in thymeleaf template using table and at last, out of loop I want to display sum of price of all products in thymeleaf. how can I define global variable and do it ?**

[code]
I am geeting 0 as output but I want sum of all products price as output

How to make variable global and solve my problem

[2018-02-01 06:09] knavadiya commented on #666
But I want result 20 also outside the <p> tag how can I do it ?

and I also wants to iterate loop and in the loop make addition of products price in sum variable and out of loop I want to print sum of price of all products

here is my code

[code]

I am geeting 0 as output but I want sum of all products price as output

How to make variable global and solve my problem ?

[2018-02-01 15:52] evbo opened #668 "Are text templates "Natural"?"
I'm interested in migrating from Apache Velocity to thymeleaf for its "Natural Template" processing philosophy. However, I'm not seeing how this philosophy is fulfilled for text "*.txt" file templates?

It would be great if either:

- Text template syntax was resolvable by a community edition IDE plugin (e.g. Intellij) in order to generate a real-time "preview" mode without the need for a server t

[2018-02-03 01:17] ultraq commented on #666
Since making variables are scoped to the element, you might not be able to get a total value using `th:with`, so you'll need to look elsewhere.

One alternative solution would be to process the result in your controller, store the result to a model attribute, then use that result in the view.  For example, in Spring:

[code]

[code]

Another solution might be to create your own utility class and m

[2018-02-03 01:20] ultraq commented on #667
Closing as this is a duplicate of https://github.com/thymeleaf/thymeleaf/issues/666#issuecomment-362168531 and being answered over in that issue.

[2018-02-03 01:20] #667 closed, assigned to nobody

[2018-02-06 09:29] lourish commented on #583
For the benefit of anyone who stumbles across this looking to do the same, the answer is to use the `__${}__` preprocessor to pass in the name of the form object:

[code]

[2018-02-10 00:19] danielfernandez commented on #668
No, `TEXT` mode templates aren't *natural*, that's a feature that applies to `HTML`,`XML`, `JAVASCRIPT` and `CSS` template modes, as the idea is that with natural templates the template itself is a *valid document*, and there isn't really anything such as a *valid .txt file*, there are no validity rules to be applied to simple text files, no syntax to honor. Text files are syntax-free.

The Intell

[2018-02-10 00:19] #668 closed, assigned to danielfernandez

[2018-02-10 00:25] danielfernandez commented on #666
Closing this as it is already answered in detail by @ultraq

[2018-02-10 00:25] #666 closed, assigned to ultraq

[2018-02-14 09:58] MatSe91 opened #669 "Question: Define Variables and Namespace in Decoupled Logic (IntelliJ)"
Hello guys,

i have a question and could not find an acceptable answer in www.

In normal Thymeleaf html logic you can / have to define the namespace at the beginning of the document, so autocomplete works like a charm:

[code]
In addition to that, if you define server-side variables in Thymeleaf you can even use its fields and it will not marked as an error.

[code]
[code]

So my question is:
is

[2018-02-17 23:44] ultraq commented on #669
Right now, I don't think anything like this is possible.  This is an IDE enhancement so you'll be better off raising this feature enhancement over on JetBrains' issue tracker for IntelliJ / their Thymeleaf integration: https://youtrack.jetbrains.com/issues/IDEA

Being able to add code assist isn't something Thymeleaf can do by itself.  Even the code assist that comes by adding the XML namespace wa

[2018-02-17 23:44] #669 closed, assigned to ultraq

[2018-02-19 03:56] yhojann-cl opened #670 "Missing support for html entities"
Thymeleaf does not make full use of the HTML standard dictated by the W3C since for example it is not possible to use `&copy;` to represent a copyright, a unicode value will not always have the same visual representation in different character encodings, for example in latin-iso templates v/s utf-8, the solution of the standar is the html entitie, same problem with `&ntilde;` `&aacute;` represent

[2018-02-19 09:55] anschnapp commented on #350
@danielfernandez sorry for posting to this already closed issue.

But I don't get it and maybe I missed something.
How does the example with the image tag support default values for a fragment?
I only realise that it's possible to give in parameters over the fragment parameter list or via th:with but in both cases I don't see a possibility to define a default value on the fragment definition side

[2018-02-19 10:24] danielfernandez commented on #670
Thanks a lot for all the very detailed info and suggestions. Thymeleaf does perfectly support HTML character entities as detailed in the specs.

Thymeleaf will automatically apply HTML escaping to non-ASCII characters in two situations:

   * When rendering attributes (`th:placeholder` -> `placeholder`, for example). The HTML specification expects some basic characters to be escaped inside attribu

[2018-02-19 11:32] yhojann-cl commented on #670
Thank you very much for considering my point of view.

Reading the source directly from the W3C https://www.w3.org/TR/html401/sgml/entities.html we can notice that it is **recommended** the use of entities for the writing of Latin special characters under coding iso `8859-1` as it is in my case. It also describes that there is a great difference between writing its value represented in a numerical

[2018-02-19 13:43] danielfernandez commented on #670
I strongly disagree here. Thymeleaf performs escaping in a way perfectly compatible with the HTML specification, and according to the needs of the most part of its users. The fact that it doesn't do it in your preferred way cannot be considered a *lack of compatibility*. Anyway, please note that it is something that can be changed by users by creating their own dialects, which would perform escapi

[2018-02-19 16:21] MatSe91 commented on #669
Raised a Feature Request on JetBrains' IntteliJ. Please vote up.

https://youtrack.jetbrains.com/issue/IDEA-186913

Thanks =)

[2018-02-20 22:51] danielfernandez commented on #350
@git2snap the idea is that, at the fragment side, a `th:with` can assign a default value to a parameter that is not given it (or is null).

Note that parameters appearing in the signature (`frag(par1,par2)`) are required, so we would have two options:

First option:
[code]
Which we could call in several ways (note using named parameters as in the last line we can include parameters that are not in

[2018-02-21 07:44] chandrasekhar4u opened #671 "Is there any way to render thymeleaf tag dynamically which is coming from back-end?"
I am getting thymeleaf tag from back-end inside json content, is there any way to process the tag and render on screen, which is coming from back-end at run time?
[code]
Please find more details in SOF [Question](https://stackoverflow.com/q/48897065/1213738).

[2018-02-21 08:26] danielfernandez commented on #671
If you read that JSON from Java, you will need to parse that JSON, extract the Thymeleaf part, and then render it calling a `TemplateEngine` object.

If you read that JSON from JavaScript, then I'm afraid your possibilities are scarce given Thymeleaf is a server-side template engine. Anyway, there is a prototype for what may one day become an official JavaScript version of Thymeleaf here: https://

[2018-02-21 08:26] #671 closed, assigned to danielfernandez

[2018-02-21 08:56] chandrasekhar4u commented on #671
Hi @danielfernandez,
Thank you for the reply.

I read json from JAVA, do we have any examples to use TemplateEngine to render from Back-end at run time? Please let me know if there are any references.

[2018-02-21 08:56] anschnapp commented on #350
Hi @danielfernandez, thank you very much! Now it's clear for me. Looks like a good solution for supporting default values.

[2018-02-21 09:03] danielfernandez commented on #671
If you are using Spring, simply injecting a `SpringTemplateEngine` instance and calling one of its `process(...)` methods will do.

If you are not using Spring, you can create your own instance of `TemplateEngine` and call its methods. note however that it is recommended to keep that instance from execution to execution (they are quite heavy).

The GTVG sample application does use the `TemplateEng

[2018-02-21 10:18] anschnapp commented on #350
Hi @danielfernandez, one more question. If I want to have multiple default values, i would suggest to just use multiple th:with declarations for it.

But it seems not be supported, I get the following error message:

How could I use your second option solution with multiple default parameters?

[2018-02-21 10:24] danielfernandez commented on #350
@git2snap `th:with` allows the specification of several variable assignations, separated by commas.

[2018-02-21 17:52] chandrasekhar4u commented on #671
@danielfernandez I am using spring,
Do I need to extract thymeleaf tag and process it and put it back or I can just pass complete json string to process(...) Method?

[2018-02-21 18:38] danielfernandez commented on #671
The `process(...)` method will either return you a `String`, or write to the `java.io.Writer` object you specify. Once you've your result, you can do what you need with it... I don't know if you need to replace the value in your JSON or whatever.

[2018-02-21 21:55] danielfernandez opened #672 "Transparently handle Java 8's Optional"
(Moved from thymeleaf/thymeleaf-spring#167 by @hamishlawson)

---
It would make template code much cleaner if Thymeleaf's Spring dialect handled Java 8 Optionals transparently rather than obliging explicit calls to the likes of isPresent(), get() and orElse(). vbezhenar in the thread below suggested a possible implementation, but didn't know how to get the converter added:

http://forum.thymeleaf.

[2018-02-22 11:06] odrotbohm commented on #672
I hope this can be added to Java 6 based versions of Thymeleaf. We've made great experience in supporting `Optional` reflectively in Spring Data even on Java 6 by registering the necessary additional code only if we run on Java 8. That required us to compile using a JDK 8 but we could keep source code compatibility with 6.

Java 8 is so ubiquitous these days, that this really a point worth fixing.

[2018-03-06 19:58] jchafik opened #1084 "Cannot call #fields.detailedErrors() from a Spring Webflow form"
Thymeleaf 3.0.9.RELEASE
Thymeleaf Security 3.0.2.RELEASE
Thymeleaf Layout 2.2.2

Spring 4.3.13.RELEASE
Spring Webflow 2.4.5.RELEASE

Calling `#fields.detailedErrors()` from a Spring Webflow form results in a `BindingModel$FieldPrefixErrorMessage` exception.

The issue is that Webflow has its own getFieldErrors method that does not accept a wildcard without the field prefix (`org.springframework.we

[2018-03-07 16:54] robbiepl opened #673 "Will throw ParseException for references that are not defined in the context !"
thymeleaf 2.1.6-RELEASE

sample template:

`<html>`
`<body>`
`<span th:text="${reference_in_context}">reference_in_context</span>`
`<span th:text="${reference_not_in_context}">reference_not_in_context</span>`
`</body>`
`</html>`

sample model-context:

`Map<String, Object> model = new HashMap<>();`
`            model.put("reference_in_context", "hello world!");`
`           someDefaultProcessor.me

[2018-03-17 16:19] miao1007 commented on #623
Hi , i met the same error, and patched by replace the singleton map with hashmap.

here is the code, but it may be only for my small project. and it will be slow and high memory cost.

[code]

It's just a transitional patch, i will later replace all struts with thymleaf/SpringMVC.

[2018-03-21 09:13] bzw1204 commented on #451
Excuse me, th:block can only be used in head?

[2018-03-21 09:17] bzw1204 commented on #451
Excuse me, th:block can only be used in head?
![image](https://user-images.githubusercontent.com/9693637/37701864-95e1f9b0-2d2b-11e8-8dc3-a66dd7519bbd.png)
![image](https://user-images.githubusercontent.com/9693637/37701875-9c4c41c0-2d2b-11e8-99e7-e9d9d500687a.png)

This is my code. After I did this, the request was wrongly reported.

[2018-03-23 13:24] wemu opened #674 "short closing tags </> are rendered twice or don't close in html"
Hello

I upgraded to Spring Boot 2.0.0 (all default dependencies from the thymeleaf starter) and noticed some funny icon duplication after the upgrade (using fontawsome):

[code]
renders as:
![image](https://user-images.githubusercontent.com/1943103/37831190-e7a74d70-2ea4-11e8-8ffa-8871c1a59c2d.png)

after changing to:
[code]
The rendering only contains one icon again:
![image](https://user-images

[2018-03-23 13:34] danielfernandez commented on #674
Thymeleaf 3.0 (used in Spring Boot 2.0) uses an HTML parser (HTML5, actually) instead of the XML parsers used in 2.1. This means HTML5 semantics are better honored in 3.0

The HTML5 spec does not allow the closing tag of `<i>` or `<a>` to be omitted (see https://www.w3.org/TR/html52/textlevel-semantics.html#the-i-element), so in your first example the first `<i/>` tag is being simply considered an

[2018-03-23 13:34] #674 closed, assigned to danielfernandez

[2018-03-23 13:42] wemu commented on #674
Thanks for the reply! Didn't know about that change in html5

[2018-03-24 15:39] martinstraus opened #675 "Add Expression Utility Object for javax.money.MonetaryAmount"
Currently, there's no Expression Utility Object support for javax.money.MonetaryAmount. It'd be a nice feature to have, since JSR 354 is a quite useful standard library used in a wide range of applications.

[2018-03-24 15:49] martinstraus commented on #675
My bad... I found it in the source code.

[2018-03-24 15:49] #675 closed, assigned to nobody

[2018-03-26 20:17] pfurbacher opened #676 "Improve use of abbreviation on template names in logs and exceptions"
Enhancement/Functionality Change: remove ```LoggingUtils.loggifyTemplateName()``` completely. There is no overriding need to elide fully qualified template filenames. Eliding them makes debugging unnecessarily harder, especially in the case of exceptions.

Description of the problem:

```TemplateManager.resolveTemplate()``` calls ```LoggingUtils.loggifyTemplateName()``` in the exception handling b

[2018-03-26 22:00] pfurbacher commented on #676
In my first comment, I mistakenly focused on long, *fully qualified* template filenames when I should have just written *long* template filenames (where *long* means greater than the 80 characters allowed in ```LoggingUtils.loggifyTemplateName()```, which even for template files on the classpath is easy to exceed, depending on package naming and nesting of templates).

If one is using a file resol

[2018-03-27 20:30] sachinavinaw opened #677 "How to access properties file in javascript for i18n"
Hi,

I am new to thymeleaf.

I have a question. I want to access properties file for i18n initialization in my javascript file. There are some dynamic values created on runtime using javascript so I need to access properties file.

Code Snippet:
application.properties file::

`spring.messages.basename=lang/pMessageResource, lang/ErrorMessages, lang/commonMessageResource`

In javascript::

[code]
P

[2018-03-28 10:40] vimalcsolanki commented on #554
@rattek
Faced the same issue today while migrating from 2.1.3 to 3.0.9.
It started working fine again when I kept order of UrlTemplateResolver to the minimum.

[2018-03-29 10:40] wiecia commented on #581
Yes, struggling with the same issue. It would be nice to have option to customize it

[2018-03-30 10:09] danielfernandez opened #678 "Update AttoParser dependency to 2.0.5.RELEASE"
AttoParser 2.0.5 has just been released with JPMS automatic module information and version identification utilities.

[2018-03-30 10:30] #678 closed, assigned to danielfernandez

[2018-03-30 10:31] danielfernandez commented on #678
Already in `3.0.10-SNAPSHOT`

[2018-03-30 18:00] danielfernandez opened #679 "Update Unbescape dependency to 1.1.6.RELEASE"
Unbescape 1.1.6.RELEASE has just been released with JPMS automatic module information and version identification utilities.

[2018-03-30 18:04] #679 closed, assigned to danielfernandez

[2018-03-30 18:04] danielfernandez commented on #679
Already in `3.0.10-SNAPSHOT`

[2018-03-30 22:35] #670 closed, assigned to danielfernandez

[2018-03-30 22:37] #665 closed, assigned to danielfernandez

[2018-03-30 22:44] danielfernandez commented on #677
I'm not really sure I understand your question, but I'm afraid there is no direct communication between message bundles in the Java side in a Spring application and JavaScript code running on the client browsers, at least through the template engine. Please note (just to make clear) that Thymeleaf runs on the Java server side, not JavaScript.

I'm not sure about the use or purpose of that `$.i18n.

[2018-03-31 00:49] danielfernandez commented on #673
I assume what you suggest is that Thymeleaf should raise an error whenever a non-existing variable is accessed in an expression. The `th:text` processor in the Thymeleaf Standard Dialect does indeed write an empty string when such thing happens, though this is not the behaviour for every processor (for instance, fragment inclusion processors do fail in such case).

This behaviour in `th:text` was

[2018-03-31 00:49] #673 closed, assigned to danielfernandez

[2018-03-31 13:58] danielfernandez commented on #661
Yes, you are right that using the ellipsis char could save a couple string positions… but that method was created as a mirror of Apache Commons Lang's `StringUtils.abbreviate(...)`, which used back then (and still uses today) three simple dots: https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#abbreviate-java.lang.String-int- . That is a very used met

[2018-03-31 13:58] #661 closed, assigned to danielfernandez

[2018-03-31 14:15] danielfernandez commented on #660
I'm queueing this for Thymeleaf 3.1, which will have a Java 8 baseline.

[2018-03-31 20:32] danielfernandez commented on #658
You are right. This cache mechanism used LRU by means of a `LinkedList` in previous versions of Thymeleaf, but was modified to use a simple FIFO based on a `ConcurrentHashMap` for performance reasons of the `StandardCache` class itself, and a couple of references in the documentation weren't changed.

I will leave this ticket open with milestone set to Thymeleaf 3.1 in case there is a possibility

[2018-04-03 21:10] danielfernandez commented on #676
Thanks for your message and your suggestions.

There are indeed reasons to abbreviate data going through the logs, even in TRACE level. Log cluttering is a potential issue for software diagnostics, and many frameworks abbreviate some types of data, being file paths and class names (packages) the most common.

As for the reason for the *template* being abbreviated in logs, it's precisely that: that

[2018-04-03 22:47] #676 closed, assigned to danielfernandez

[2018-04-03 23:00] danielfernandez commented on #676
Already in `3.0.10-SNAPSHOT`

[2018-04-04 01:00] Aim4dStars commented on #614
Yepp ⌘+F9 in macOS helped to reload although the spring.thymeleaf.cache=false did not help. Thanks

[2018-04-05 20:52] #653 closed, assigned to danielfernandez

[2018-04-05 21:07] danielfernandez commented on #653
Already in `3.0.10-SNAPSHOT`

[2018-04-05 22:29] danielfernandez opened #680 "Add a JPMS automatic module name"
Adding an `Automatic-Module-Name` to the `MANIFEST.MF` file will allow us to _reserve_ the module name for future use. See http://blog.joda.org/2017/05/java-se-9-jpms-automatic-modules.html

Completely modularising the library could mean an issue for some scenarios as of today, as the jar file would contain at least one file (`module-info.class`) with Java 9 bytecode level, which can nowadays be t

[2018-04-05 22:33] #680 closed, assigned to danielfernandez

[2018-04-05 22:37] danielfernandez commented on #680
Already in `3.0.10-SNAPSHOT`

[2018-04-06 07:51] ptahchiev opened #681 "Rendering bulgarian texts ends up as UTF-16 escaped"
Hello,

I'm using thymeleaf 3.0.9.RELEASE and I'm rendering the following Bulgarian text: "Безплатна доставка на следващия ден" and it ends up rendered as \u0411\u0435\u0437\u043F\u043B\u0430\u0442\u043D\u0430 \u0434\u043E\u0441\u0442\u0430\u0432\u043A\u0430 \u043D\u0430 \u0441\u043B\u0435\u0434\u0432\u0430\u0449\u0438\u044F \u0434\u0435\u043D

Here's my method:

[code]

Where content is

"Купете

[2018-04-06 07:53] ptahchiev commented on #681
Here's the PR https://github.com/thymeleaf/thymeleaf/pull/682

[2018-04-06 08:32] danielfernandez commented on #681
Thanks. Could you please clarify the reason why the escaping isn't correct? From my tests, the escape sequence does correctly correspond to the text you specify in Bulgarian characters..

[2018-04-06 08:33] danielfernandez commented on #681
Also, please note that you are rendering JavaScript-treated text (and therefore JavaScript-escaped text) inside an HTML `<span>` element... is this what you intended?

[2018-04-06 08:52] ptahchiev commented on #681
Hi Daniel,

the bulgarian text:
[code]
means
[code]
what I would like to achieve is render the final output:
[code]
in Bulgarian. But instead what I get is the product name rendered as UTF-16 escaped so half of the message is good, and half of it is escaped:
[code]
That's why I think the escaping is not correct.

[2018-04-06 09:05] danielfernandez commented on #681
OK, but what I mean is that apparently you are rendering that text inside an HTML element (`<span>`), but you are using `th:inline="javascript"`, which considers what is processed inside as JavaScript code and therefore applies Jackson and, in your case, JavaScript-escaping. Thus the unicode escapes, which are perfectly valid JavaScript escaped text.

So I'm confused about your use of `th:inline="

[2018-04-06 09:41] ptahchiev commented on #681
Hi @danielfernandez

thank you for the response - it works perfectly fine with no javascript inlining. I guess I was confused because this used to work with thymeleaf 2.x

Once again, thank you for your fast response.

[2018-04-06 09:41] #681 closed, assigned to danielfernandez

[2018-04-18 20:34] jmitash opened #683 "Escaping Attribute Values of IStandaloneElementTag"
We have a hidden form being built dynamically using `IStandaloneElementTag`s. We noticed some of the form submissions were different from the `value` we were creating the `input` with. This turned out to be because of some HTML entities that were being put in the values and were causing a checksum to fail. For example, Putting in `Test &amp; value` as the `value` attribute was submitting the form

[2018-04-18 20:58] danielfernandez commented on #683
I'm not completely sure I understand your question, or at least not your example with `Test &amp; value`, sorry 😳… do you mean whether it was by design that *processors* had to include their own code for escaping tag attributes instead of having this automatically done by e.g. the *structure handler*?

If so, yes, this was made on purpose. Thymeleaf 2.1 had the template writer automatically escape

[2018-04-18 22:08] jmitash commented on #683
Yeah, sorry, that was my question.

That all makes sense. I guess I was a little bit narrow minded there thinking what sort of use cases would you want the ability to put `" otherattribute="othervalue` as an attribute value to end up with something like

[code]

but I see now that's (probably) not the intent, instead it's for flexibility and performance.

Thanks for the help Daniel!

[2018-04-18 22:08] #683 closed, assigned to danielfernandez

[2018-04-24 06:57] g3ek opened #684 "URL rewrite with data-th-src attribute appends jsession with a semi-colon, triggers spring security"
Hello,

We lately get a lot of errors in our logs from the spring security firewall which was changed to a stricter version:
https://spring.io/blog/2018/01/30/cve-2018-1199-spring-security-5-0-1-4-2-4-4-1-5-released

We use the data-th-src attribute like this:
`<script src="/js/ours.js" data-th-src="@{/js/ours.js?v='+${application.version}}"></script>`

The error we get from spring firewall:
The r

[2018-04-24 21:52] danielfernandez commented on #684
The addition of the `;jsessionid=...` path parameter is a normal and (usually) desirable part of the standard *URL Rewriting* mechanism in Java web applications. The idea is that, when an application has already expressed its need to create a user `Session`, the ID for such user session has to be passed along to the browser somehow. And until the browser demonstrates that it has the capability of

[2018-04-24 21:52] #684 closed, assigned to danielfernandez

[2018-04-24 21:56] danielfernandez commented on #677
Closed due to user inactivity.

[2018-04-24 21:56] #677 closed, assigned to danielfernandez

[2018-04-27 10:23] hcouplet commented on #311
I think this can be solved with 3.0 using TemplateSpec.  #423

[2018-04-28 06:19] ghost opened #685 "Thymeleaf js stitching html"
I have such a problem. I need to add html syntax in js. He looks like this.

If I need to add a jump controller method and add parameters in the href, how do I need to write? Or is there a better way for thymeleaf to implement this function?

[2018-04-28 06:19] ghost commented on #685
![qq 20180428141505](https://user-images.githubusercontent.com/23186004/39392805-2e228b1e-4aef-11e8-8023-039d06d72fb3.png)

[2018-04-30 18:27] manueljordan opened #686 "New feature: Let use the dates.format method with i18n through a Spring MVC object Model"
All is explained here:

[Thymeleaf: how use the dates.format method with i18n through object model](https://stackoverflow.com/questions/50079050/thymeleaf-how-use-the-dates-format-method-with-i18n-through-object-model)

Assuming there is no a current support for this scenario: the goal is add this feature for the `dates.format` method and the other versions too accomplish my request.

Thus from a

[2018-04-30 19:13] samhela commented on #614
spring.thymeleaf.cache=false or Intellij Buil project `(Ctrl + F9) ` ddin't work either, I used used gradle bootRun

[2018-05-03 02:17] AaricChenLegacy opened #687 "Add th:attrmap for setting several attributes at a time from a Map"
e.g.

[code]
and the render result will be:
[code]

it's support this feature ?

[2018-05-03 10:09] pguevara2017 commented on #618
You will have to use the th:action attribute and the Standard URL expression: @{...} for this.

`<form method="post" th:action="@{/admin/user/test}" th:object="${userDetailView.userData}">`

[2018-05-05 22:11] dmbuchta commented on #590
As another work around, add upgrade the version in your pom.xml
[code]

[2018-05-06 15:48] 0nebean commented on #399
this's my code
[code]
I wanna put a thymeleaf dialect in my own dialect like ' th:insert'` as shown in the following:
[code]

It worked in version 2.X.X I upgrade from thymeleaf 2 to thymeleaf 3 and rewrite my dialect with new Processor API but it doesn't work now.
It just directly go to the html file like this
![image](https://user-images.githubusercontent.com/37864816/39675030-c7f3c08e-5187-11e8

[2018-05-07 03:29] 0nebean commented on #685
maybe you can try this technology stack
http://aui.github.io/art-template/index.html
thymeleaf tag and thymeleaf-extras-springsecurity sec tag can work on it too!
![image](https://user-images.githubusercontent.com/37864816/39683672-6fa6e0f2-51e9-11e8-8b55-57f4c04375e0.png)
one line code to call,elegant and simple
![image](https://user-images.githubusercontent.com/37864816/39683685-7c1085fa-51e9-11

[2018-05-07 12:08] 0nebean commented on #399
I got it,I cloned thymeleaf 3.0.9 version source code,
and find class AbstractStandardFragmentInsertionTagProcessor,
it has computeFragment method can solve my problem.
[code]
Hope can help sb.

[2018-05-17 04:35] chrylis opened #688 "Relax generic bounds on context variable maps"
The `Context` and `AbstractContext` classes maintain a `Map<String,Object>` for the context variables, and the signatures on the constructors and `setVariables` methods are `Map<String,Object>`. However, the only actions taken by these methods are to copy all of the entries into their own variable maps.

The explicit bound of `Object` means that a preexisting `Map<String,String>` (for example) can

[2018-05-17 22:34] danielfernandez commented on #687
No, I'm afraid there is no way to automatically add a set of attributes from a map like you describe. I'm going to leave this open though as a suggestion for future versions. Maybe a `th:attrmap` attribute could be useful if no technical issues are found with this.

[2018-05-18 01:53] AaricChenLegacy commented on #687
that's would be best if thymeleaf can have this feature.
hope we can get it ASAP.

[2018-05-20 09:51] zhilu opened #689 "TEXT mode: the tag itself output one line"
the template is like this:
--------------------------------------

--------------------------------------------
this output is this:
--------------------------------------------

-------------------------------------------
the tag [# th:each="item : ${items}"] and [/] also output two empty line

[2018-05-31 03:21] knavadiya opened #691 "Does't display currency symbol in Thymeleaf Template"
I am using Jhipster With Spring boot, I am preparing Quotation of products for multiple countries So I want to display currency symbols accounting to country. I am using currency symbols unicode from this website  [(https://www.ip2currency.com/currency-symbol )]. Unicode values are in (HEX) of the Currency Symbol

I have written `<span th:utext="${currencySymbol}"/>` in my HTML page to display cur

[2018-05-31 16:35] ghost opened #692 "Issue migrating to thymeleaf 3.0 (from 2.1)"
I am having issues porting some of my thymeleaf stuff from 2.1 to 3.0. Already gone through the tutorials, examples, existing questions in stackoverflow etc but couldn't find the alternate in new thymeleaf for this.

How can I read my template from test/input.html file. Once read then I can play around with the Model using structurehandler i.e. reading/adding/setting attributes node variables etc.

[2018-06-01 07:09] ultraq commented on #692
I seem to have done the following for a method in the layout dialect which needs to get a model for a template, so I wonder if this might be some help:

[code]

https://github.com/ultraq/thymeleaf-layout-dialect/blob/master/source/nz/net/ultraq/thymeleaf/models/TemplateModelFinder.groovy#L45-L58

`context` is an `ITemplateContext`, which I believe you get inside any processor's `process` method.

[2018-06-01 13:29] ghost commented on #692
Thanks @ultraq for the prompt reply. Really appreciate that. I will try those options and will update.

[2018-06-01 17:50] ghost opened #693 "Expecting parse exception from malformed link expression"
* Version of Thymeleaf: 3.0.9
 * Environment: Spring Boot 2.0.2, Java 1.8.0_172

For a malformed link expression like:

[code]

(which is missing a right parenthesis ')' ), I expect that a `org.thymeleaf.exceptions.TemplateProcessingException` will be thrown; however, no error occurs and the generated HREF attribute is `/{slug}/forums(slug = ${course.slug}`

It would be nice if an exception were t

[2018-06-01 17:57] ghost commented on #693
Demonstration project uploaded here: https://github.com/dtrebbien/ThymeleafLinkExpressionTest

[2018-06-01 18:34] sid-code commented on #614
@danielfernandez Your last paragraph worries me. Is there any way (maven or otherwise, I don't care anymore) to run a spring boot application through the CLI that allows for template reloading? I don't want to be tied to an IDE.

Every single google result for this question has answers only for IDE users.

[2018-06-01 23:14] danielfernandez commented on #614
@sid-code `spring.thymeleaf.cache=false` will perfectly work, but only as long as you load your templates from outside the Spring Boot _überjar_, as of course the contents of such jar (and therefore any templates that would be loaded from there) cannot be changed in runtime. That was what my comment was about.

[2018-06-02 18:44] ghost commented on #692
Works like charm. Thanks again for your help.

[2018-06-02 18:44] #692 closed, assigned to nobody

[2018-06-04 02:30] sid-code commented on #614
@danielfernandez Thanks for the clarification. I wasn't understanding what was being put in the jar and what wasn't.

[2018-06-09 06:49] ZakariaTo commented on #593
How Can i call a non static method in thymleaf ??
please help

[2018-06-09 07:26] saviola777 commented on #593
@MrNobody3 What have you tried so far? It should be as simple as `${obj.method()}` (or `${@bean.method()}` / `${#util.method()}`).

[2018-06-10 02:49] ZakariaTo commented on #593
Thanks the first way work, but is it ok to pass a controller in the model attribute .

[2018-06-10 06:20] saviola777 commented on #593
That sounds like a bad idea, you should probably move your methods out of the controller (e.g., into a service).

[2018-06-11 14:11] hamishlawson commented on #672
It would be good if Thymeleaf could also transparently handle Vavr's Option.

[2018-06-13 10:20] maroziza opened #695 "XHTML mode"
For years Thymeleaf supports only XHTML template mode, but with release of thymeleaf 3 there is no XHTML mode, either HTML or XML.
XML has no access to extended HTML attributes like th:field, so we cannot use all the features in XML mode, but in HTML mode document is not valid XML.

Please, provide proper XHTML mode.
It is not HTML mode, because it's strict XML.
It is not XML mode, because it's us

[2018-06-13 15:51] danielfernandez commented on #695
There shouldn't be any issues with using `HTML` mode for XHTML templates. The only difference is that Thymeleaf will not use an XML parser for its templates in `HTML` mode, but instead an HTML parser, so it will not perform validations on XML-well-formedness. This is, it will not raise any exceptions when a supposedly-XHTML template contains, for instance, an `<input>` (instead of `<input />`) tag

[2018-06-13 18:20] maroziza commented on #695
sure, but i want thymeleaf to check my template, it is not good to throw invalid XML with application/xml+xhtml mime type, i'd better get XML parser error. HTML mode is invalid for XHTML though somewhat usable. i just want proper XHTML handling, not a "for coincedence this works in HTML mode"

[2018-06-13 20:51] danielfernandez commented on #695
I understand we are therefore talking about the old `VALIDXHTML` mode. The issue with this was, a template engine is not the right place to perform DTD-based validation, we understood this after experiencing a number of issues. Not only it is not the right place (templating should have a more lenient relation with content validation), but also validation performed in `VALIDXHTML` was incomplete be

[2018-06-13 21:57] danielfernandez commented on #685
For this kind of scenarios I would recommend the use of a `<template>` HTML tag, or `<script type="text/template">`. Thymeleaf can be used to process both types of tags as HTML.

[2018-06-13 21:57] #685 closed, assigned to danielfernandez

[2018-06-15 22:14] danielfernandez commented on #689
This is in fact the expected behaviour in `TEXT` mode, as there actually is a line feed between the `[# th:each=..]` and the `xxx`, and another one between that and the `[/]`. Thymeleaf does not makes assumptions about removing lines that only contain one tag, as this is the usual behaviour in other text-based template engines (e.g. JSP).

[2018-06-15 22:14] #689 closed, assigned to danielfernandez

[2018-06-15 23:33] danielfernandez commented on #691
The steps you follow look alright to me. If your variable has exactly that `&#x20b9;` value, then using `th:utext` would be the right thing to do and your template should include exactly that hexadecimal escape sequence when reaching the browser.

So I think your issue here is the font being used by the browser. Most probably it does not contain a character (a *glyph*) for that unicode codepoint…

[2018-06-15 23:33] #691 closed, assigned to danielfernandez

[2018-06-15 23:58] danielfernandez commented on #686
This line you mention yourself works as you seem to expect:
[code]
I'm therefore closing this. Please feel free to reopen if I'm missing anything.

[2018-06-15 23:58] #686 closed, assigned to danielfernandez

[2018-06-16 21:54] manueljordan commented on #686
No, you understood wrong.

* `"${#dates.format(persona.fecha, #messages.msg('date.format.pattern'))}"` Works
* `${#dates.format(persona.fecha, #messages.msg(dateFormatPattern))}` does not work

From `model.addAttribute("dateFormatPattern", "date.format.pattern");` I want work around through the key `dateFormatPattern` and not _directly_ through the value `date.format.pattern`

[2018-06-16 21:57] danielfernandez commented on #686
This does work for me (being `dateFormatPattern` a context variable that contains the name of an externalized message such as `'date.format.pattern'`). Could you please specify what is the error you are receiving and, also, the version of Thymeleaf you are using?

[2018-06-18 11:56] tibistibi opened #696 "documentation improvement"
I wanted to implement a Page Layout so i googled and found this:
https://www.thymeleaf.org/doc/articles/layouts.html
it gives a nice example like this:

    <div th:replace="fragments/header :: header">

with an template file header.html in the folder fragments but when i run it it will not find the file.
changing it to this works:

    <div th:replace="fragments/header.html :: header">

so for ot

[2018-06-19 10:04] ultraq commented on #696
Hi there, the example code will work depending on the settings in your own application.  In this particular case, there is an accompanying project that follows the examples the author has written about, and that example project is written in Spring and has chosen to omit `.html` extensions in their own configuration (see: https://github.com/thymeleaf/thymeleafexamples-layouts/blob/master/src/main/

[2018-06-19 10:04] #696 closed, assigned to ultraq

[2018-06-19 12:54] tibistibi commented on #696
thanks for the explanation. and i can agree with it. although i hope others will see it faster than i did :smile:

[2018-06-19 17:08] wimdeblauwe opened #697 "Fragments are not evaluated when written as text"
I have basically the same requirement as posted here: https://stackoverflow.com/questions/48774902/using-a-fragment-as-a-thymeleaf-variable-to-thwith-and-a-thdata-content-attrib

I want to have a Thymeleaf fragment that contains the HTML I want to use in a popover.

If I do:

    <span th:attr="data-content=~{people/fragments :: non-billable-worklogs-detail(${person})}"

then the HTML of the fragm

[2018-06-19 17:25] manueljordan commented on #686
Yes, it works how is expected. Not sure what was wrong. Ok. Closed this issue.

[2018-06-22 06:20] akramul-hasan-m4 opened #698 "th:field bind a null value as String "null""
When i use th:field it is bind a null value as String "null"  , as a result when i get value from this field every time its return field value is not null.
<textarea id="textNote" th:field="*{text}" ></textarea>
var textNote = $("textarea#textNote").val();
if(textNote != null && textNote != ''){
    // every time enter ....
}

but when i remove null from textarea its working fine

[2018-06-22 07:35] diorslau opened #699 "Bug when used with easyUI?"
When using easyUI to set up cloumns:[[]], does themeleaf parse the wrong report because of the problem of the symbol [[]]?

[2018-06-22 09:50] diorslau commented on #699
It has nothing to do with easyUI, because it declares a VAR = [[]] in JS; after such variable, it is wrong.

[2018-06-23 11:04] akramul-hasan-m4 commented on #698
Sorry it was another issue . At last i found it. please close it. Sorry again. Thank you

[2018-06-23 11:04] #698 closed, assigned to nobody

[2018-06-25 03:20] wwwqyhme commented on #515
Can you provide some examples ,It is hard to understand  @danielfernandez

[2018-06-26 02:59] neramirez commented on #435
So, is not enough to add the jackson-databind dependency?

[2018-06-28 01:37] fanqie03 opened #700 "Selector add # and $ like th:insert="content::#${showtype}."
I want to use select by variable value,bur show wrong
`<div class="col-md-6" th:insert="content::#${showtype}"></div>`

org.thymeleaf.exceptions.TemplateInputException: Error resolving fragment: "~{content :: '#${showtype}'}": template or fragment could not be resolved (template: "show" - line 52, col 26)

how could i deal with it

[2018-07-01 01:40] fanqie03 commented on #700
my solution is:

                         <div class="col-md-6" th:switch="${showtype}">
				<div th:case="safe-composite">
					<div th:replace="content::#safe-composite"></div>
				</div>
				<div th:case="transparent-composite">
					<div th:replace="content::#transparent-composite"></div>
				</div>
				<div th:case="spring">
					<div th:replace="content::#spring"></div>
				</div>

				<div

[2018-07-02 03:03] wwwqyhme commented on #700
try this
[code]

[2018-07-02 03:08] wwwqyhme commented on #699
try to disable inline like this
[code]

[2018-07-02 07:27] diorslau commented on #699
@mhlx  thanks

[2018-07-02 07:27] #699 closed, assigned to nobody

[2018-07-02 11:36] hamishlawson commented on #672
@destan Why don't you like the idea of handling Vavr Option?

[2018-07-03 02:12] #700 closed, assigned to nobody

[2018-07-03 23:35] bigalnz opened #701 "Thymeleaf binding HTML for PDF generation"
I have a form which needs to end up as PDF. I am following the guide here : https://www.oodlestechnologies.com/blogs/How-To-Create-PDF-through-HTML-Template-In-Spring-Boot

I am trying to set it so the user fills out the form, the form data is sent to the back-end (Spring) and then inserted into a template and the pdf generator sends it to PDF.
 For example:
[code]

With fake form data already in

[2018-07-06 08:28] majestade opened #702 "Fragment with List as input"
Hello. I am trying to insert a fragment in my page and i have two inputs, a String and a List.
I have already debugged the code so i know the list i'm passing has all the values i want. But when i render the page where my replacement is... i get an error
Can you help please!? Thanks!!

Fragment code:

[code]

Replacement code:
[code]
Error message:
Exception evaluating SpringEL expression: "meter.

[2018-07-07 01:55] ultraq commented on #702
Are you able to view the stack trace behind the error?  There might be something in there that's more helpful as to why `meter.name` wasn't able to be evaluated.  Some reasons might be that `meter` is `null` or there is no corresponding accessor to the "name" property (eg: no `getName` method or publicly visible `name` field).

[2018-07-07 12:46] wwwqyhme commented on #702
`list='${meters}' ` is recognized  as String ,try `list = ${meters}`

[2018-07-09 16:58] sunsus opened #703 "How to use calculated variable in TEXT Template (WITH)"
I'm trying to use a Simple text template, with one calculated value:

[code]
The Expression  `[(${result})]` is working. But the `[(${#numbers.formatDecimal(result,1,2)})]` throws the following exception:
[code]

[2018-07-11 01:57] grath10 commented on #451
@bzw1204 Can you offer any available detailed wrong information?

[2018-07-15 00:34] ghost opened #704 "Link expression that augments a base URL"
* Version of Thymeleaf: 3.0.9
 * Environment: Spring Boot 2.0.2, Java 1.8.0_172

I would like to use a link expression that appends a query string to a base URL. Something like:

[code]

I think that this should generate:

[code]

However, Thymeleaf actually generates:

[code]

[2018-07-15 01:57] ghost commented on #704
One work around mentioned [in a Stack Overflow answer by Václav Kužel](https://stackoverflow.com/a/42531042/196844) is to make use of Spring's org.springframework.web.servlet.support.ServletUriComponentsBuilder class.

[2018-07-17 07:57] codependent opened #1076 "There is no way to select the preferred SecurityExpressionHandler to use"
I have a Spring Boot 1.5.13 + Thymeleaf 3.0.9 + Thymeleaf-extras-springsecurity4 3.0.2 application that uses a custom SecurityExpressionHandler.

When it is evaluating a sec:authorize expression it looks for a SecurityExpressionHandler to use:

**org.thymeleaf.extras.springsecurity4.auth.AuthUtils**:

[code]

The problem is `ctx.getBeansOfType(SecurityExpressionHandler.class)` returns two beans a

[2018-07-19 15:26] fibsifan commented on #604
I think a very common constellation is thymeleaf being used in a spring boot application. Here the locale is determined by default by the Accept-Language header of the user agent if I'm not mistaken. Given the current implementation of currency formatting this enables the user to change the worth of the value, since different currencies usually have different values. I'm certain that this is rarel

[2018-07-21 11:13] danielfernandez opened #705 "Restricted mode: Avoid variable expressions returning strings in processors for event handlers (th:on*)"
When executing HTML template code such as:
[code]
The resulting attribute value for `onclick` will be correctly HTML-escaped, but the result of `${mydata}` inside that expression will not be escaped as a JavaScript literal because Thymeleaf does not know about the specifics of the JavaScript code written inside this attribute, or whether it is JavaScript code at all.

In some cases, this might lea

[2018-07-21 11:27] #705 closed, assigned to danielfernandez

[2018-07-21 21:34] danielfernandez opened #706 "PORT: Restricted mode: Avoid variable expressions returning strings in processors for event handlers (th:on*)"
This is a port of #705 to the Thymeleaf 2.1 branch

---

When executing HTML template code such as:
[code]
The resulting attribute value for `onclick` will be correctly HTML-escaped, but the result of `${mydata}` inside that expression will not be escaped as a JavaScript literal because Thymeleaf does not know about the specifics of the JavaScript code written inside this attribute, or whether it

[2018-07-21 21:40] danielfernandez commented on #705
Already in `3.0.10-SNAPSHOT`

[2018-07-21 21:40] danielfernandez commented on #706
Already in `2.1.7-SNAPSHOT`

[2018-07-21 21:40] #706 closed, assigned to danielfernandez

[2018-07-23 13:44] danielfernandez opened #707 "Enable processing of HTML event handler attributes in JAVASCRIPT template mode"
HTML event handler attributes (`th:on*`) such as:

[code]

...could benefit from their values being considered _inlined javascript blocks_ just like the bodies of `<script th:inline="javascript">` tags. This would allow its contents be applied all the features, including security benefits, made available by Thymeleaf to inlined JavaScript code (including JavaScript-text-literal escaping).

So such

[2018-07-23 18:22] #707 closed, assigned to danielfernandez

[2018-07-23 18:23] danielfernandez commented on #707
Already in `3.0.10-SNAPSHOT`

[2018-07-26 14:16] RiZKiT commented on #451
@bzw1204 I cannot see any link tag in your index.html, but you reference it with `~{::link}`!?

[2018-08-10 00:59] yyi opened #708 "AbstractDialect final method problem"
Customed dialect extends AbstractDialect  , when it's a  spring bean proxied by cglib, the getPrefix method return null and getDialectProcessorPrecedence method return 0,so how about you get rid of the final keyword from AbstractDialect  'get'  method signature?

[2018-08-12 10:28] vkuzel commented on #345
Use the [preprocessing](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#preprocessing).

[code]
Message:
[code]
Template:
[code]
Result:
[code]

[2018-08-16 07:06] stephane-dereppe opened #709 "Add CSS outside WebContext"
Hi,

I'm using thymeleaf to generate PDF in background processes (batch) using Spring Boot 2...

To add some style to my PDF's I would like to add some CSS using this.
[code]
Then I got the following exception :

[code]
I've seen this issue on github but I don't get how I could get a WebContext in a batch process?

How could I load my CSS files so that they are applied in my PDF?

I've seen [this

[2018-08-20 12:57] Owheee commented on #345
In case you have variable number of params there is a solution `${#messages.msgWithParams('my.message.code', someStringsArray)}`

[2018-08-23 21:25] rmelian opened #1085 "TemplateProcessingException not keeping line & col information"
spring_boot_version=2.0.4.RELEASE
org.springframework.boot:spring-boot-starter-thymeleaf:2.0.3
org.thymeleaf:thymeleaf:3.0.9
org.thymeleaf:thymeleaf-spring5:3.0.9

I'm using thymeleaf with spring and I have the case when an exception is thrown because of an error like this one:

`org.springframework.expression.spel.SpelEvaluationException: EL1008E: Property or field 'RunTime' cannot be found on ob

[2018-09-04 05:15] twhitmorenz opened #710 "Improve ability to specify a TimeZone for formatting Dates/Times"
Looking at the practicality of Date/Time formatting in ThymeLeaf. While some work has been done in https://github.com/thymeleaf/thymeleaf/issues/64 it seems more should be considered to align Date/Time formatting with common webapp requirements.

I'm using ThymeLeaf 2.1.6. But docs do not indicate anything changed in 3.0 in this regard.

I'd like to propose some high-level requirements for a typic

[2018-09-05 23:02] aldalaimi opened #711 "th:field removes leading zeros (problematic for type=time)"
I have put two different variables for demonstration purposes in the example below. When using `<span th:text..` you can see that the first variable contains a leading zero. However when using `th:field` the leading zero will disappear.

![thymleaf th:field removes leading zero bug](https://image.prntscr.com/image/rcKv5zrbSquZRX5ZnqU6hg.png)

Inputs of type `time` doens't render properly without t

[2018-09-06 09:25] ultraq commented on #711
Hi @ibra038, what type/class is the object of `*{openingTime}`?  I tried to recreate this and found that if I used a String object (and so could make sure I always had 2 digits in there), I could get it to work.  If I used any kind of date/time object and didn't provide some sort of Spring converter to format the hour to always be 2 digits, then I would get the odd display like in your screenshot

[2018-09-06 09:34] ultraq commented on #709
Hi @schtrym, sorry for not getting back to you sooner, but is this still an issue for you?  If so, the problem you're running up against is that you can't use `@{...}` expressions outside of a web context because that particular expression looks up some information on the running web server to fill out things like the scheme, protocol, domain, port, etc...  These, obviously, don't exist in a batch

[2018-09-06 09:35] aldalaimi commented on #711
Thanks for your responds @ultraq,

Here is the class I'm using:

	@Data
	@JsonIgnoreProperties(ignoreUnknown = true)
	public class BusinessDayHours {

		private int day;

		@JsonInclude(value = NON_EMPTY)
		@JsonFormat(shape = STRING, pattern = "HH:mm")
		@JsonDeserialize(using = LocalTimeDeserializer.class)
		private LocalTime openingTime;

		@JsonInclude(value = NON_EMPTY)
		@JsonFormat(shape =

[2018-09-06 10:20] ultraq commented on #711
Cool, they're, `java.time.LocalTime` instances 👍

So I tried using LocalTime and was able to replicate your issue when using hours that only had a single digit.  I found that, when Thymeleaf is used for binding objects to input values, it uses the Spring Conversion service to try find a converter for the source type being used (LocalTime) to the target type that's desired (String).  Spring has a b

[2018-09-06 10:24] stephane-dereppe commented on #709
Hi @ultraq

Thanks for you help.

For now as a workaround, I've put my css inline inside my template file :-(

The CSS files are inside my Spring boot archive.. I already tried such

```href="../static/css/CSM.css"```

or

[code]

or ..

But it never worked... (CSS were never applied to my template).

[2018-09-06 10:40] ultraq commented on #709
Oh, the CSS is inside a JAR file?  Is the HTML inside it too?  There might be some strange thing you have to do like extract the entire JAR contents so that the CSS file lives at the relative path to your HTML as per the `href="..."` value, but I'm not sure how to go about doing that 😕

Sounds like inlining the CSS is a "good" workaround for now.

[2018-09-06 11:15] stephane-dereppe commented on #709
Yes. The CSS is inside my Spring boot **fat** Jar archive. The HTML is also inside this fat jar... same for my java code.

[2018-09-10 13:57] cesar3030 commented on #614
In order to have it working I had to:
 * Add to the application.propreties file: `spring.thymeleaf.cache=false`
 * Run the app in **Debug mode**
 * Click **Run > Reload Changed Classes** to apply the changes.

[2018-09-12 01:58] ultraq commented on #701
When looking for error message as per your forum post (http://forum.thymeleaf.org/Error-binding-context-to-html-template-td4031316.html), I found that you raised this issue a while ago too!  Hope that the stuff in the forum post helped.  Closing as a "duplicate".

[2018-09-12 01:58] #701 closed, assigned to nobody

[2018-09-12 02:21] ultraq commented on #710
I agree with the first point of the feature request - being able to specify a time zone when working with temporals that don't have them can be useful.  Not sure how a "timezone for the current context" thing might work, but for the other Thymeleaf devs: if that were to be a thing, then is this discussion better suited over on the relevant module (https://github.com/thymeleaf/thymeleaf-extras-java

[2018-09-12 06:24] jmiguelsamper commented on #710
I think the discussion belongs to both projects, #dates utility object belongs to Thymeleaf core and #temporals utility object to the Java8Time module. The idea is to keep both projects aligned, having the same methods and method signatures.

[2018-09-12 15:31] chrylis opened #712 "Evaluate "if" before "replace""
I'm using 3.0.9.RELEASE with Spring Boot.

I used this expression in a template, intending it to mean "do this replacement if this attribute is provided":

[code]

However, this throws an exception saying that `auth/message/null` is not found. Apparently, the `replace` is operating at a higher precedence than the `if`, and I would expect for a "turn this whole tag off" instruction like `if` or `un

[2018-09-13 07:18] SergejFrank opened #713 "UTF-8 rendering problem"
Hello,

I have a very strange behavier that I can not quite understand. I thought for a while that it was not Thymeleaf problem but due to further investigation there is no other possibility.

The problem:
We try to issue German special characters "äöüß". These are however replaced by "????".
The strange thing is that it only happens on the server. Localy it works great. They are not just misinter

[2018-09-14 10:31] ultraq commented on #713
This one comes up a bit, so I searched through old issues and managed to find this: https://github.com/thymeleaf/thymeleaf/issues/274  Does setting the `contentType` property on the view resolver help?

[2018-09-17 07:01] SergejFrank commented on #713
Hey, jeah i already saw that post and tried to set the proposed setting but it doesn't work.

the strage part is that it works localy on different machines.

[2018-09-18 07:07] ultraq commented on #713
Hmm, if it's happening only on some machines, then there must be something environmental there that's causing it to go funny.  Are these machines the ones you deploy code to?  If so, then maybe there's something in the build or deployment process that processes those files incorrectly somehow?

Recently at work we had a deployment process that wrote out a unix script that failed on the target test

[2018-09-19 09:14] SergejFrank commented on #713
yeah we had this also in mind and executed the same artifact.
we use aws beanstalk as our application server. is there a known issue?

[2018-09-19 12:47] SergejFrank commented on #713
We managed to narrow the problem down.
It has something to do with the datatables plugin.

The dandelion filter is causing the issue. But we don't have a solution yet.

[code]

[2018-09-20 09:25] ultraq commented on #713
That's an interesting find re: DandelionFilter.  I went and looked for the source code and found it, particularly the line that writes to the output stream: https://github.com/dandelion/dandelion/blob/master/dandelion-core/src/main/java/com/github/dandelion/core/web/DandelionFilter.java#L154  I can't see any lines before that setting the character encoding of the response, and the javadocs for the

[2018-09-20 13:35] UnicornIsBlack opened #714 "spring mvc project using javascript set <img> src"
version:3.0.9

[code]

I'm coding a spring mvc project. Now I have a problem. When I debug the code on eclipse, the home domain is http://localhost:8080/test/. When I deploy the project as a root project to tomcat, the home domain becomes http://localhost:8080/. When I use javascript to set the src attribute of the img tag, if the home domain is http://localhost:8080/test/, the code is "$(this).at

[2018-09-21 06:09] ultraq commented on #714
There's also a "server-relative" URL so that it doesn't include the application context, if that's what you were looking for?  It starts with `~`, so code you gave would become `th:src="@{~/captcha/getCaptcha}"`  See https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#link-urls and for all the various link types Thymeleaf supports.

[2018-09-21 12:56] UnicornIsBlack commented on #714
I want to know how to set the src url using javascript.

[2018-09-22 01:15] wwwqyhme commented on #714
[code]

[2018-09-22 10:15] #714 closed, assigned to nobody

[2018-09-27 08:07] SergejFrank commented on #713
a quick fix is to set  the environment variable JAVA_TOOLS_OPTIONS to -Dfile.encoding="UTF-8"

the default of AWS Beanstalk is ANSI_X3.4-1968 for whatever reason.

[2018-10-04 06:24] rsharma2211 commented on #592
If you are using spring boot, then, no need to mention any configuration setting like, TemplateMode, Prefix, Suffix, etc. Spring boot automatically configures the mail template as per default setting.
Do no mention any configuration in @Configuration class or application.properties file.
Try this, it worked for me.

[2018-10-08 20:25] danielfernandez commented on #708
JDK proxies should work here.

Spring will create JDK proxies (instead of CGLIB ones) for any bean you declare that requires proxying –because it has `@Cacheable` methods, for instance– and that implements at least one interface, as long as you make use of –i.e. _inject_– such bean using one of those interfaces as type.

For instance, if you create a `CustomDialect extends AbstractProcessorDialect

[2018-10-08 20:25] #708 closed, assigned to danielfernandez

[2018-10-10 21:26] danielfernandez commented on #713
This doesn't seem to be a Thymeleaf issue (Dandelion is not a part of the Thymeleaf project). Also, note that different servers / operating systems might have different default encodings and files might be in the OS's default encoding or in a different one –the `file` UNIX comand can help with determining that–, so setting the right encoding to be used for reading template files at the configured

[2018-10-10 21:26] #713 closed, assigned to nobody

[2018-10-10 23:53] danielfernandez commented on #712
This was a design decision. It was ordered that way due to the precedence relation needed to make `th:insert`, `th:each` and `th:if` work well together. `th:if` makes more sense _after_ `th:each`, and `th:each` makes more sense after `th:insert`. And then `th:replace` is of the same nature as `th:insert`, so it made sense they were at the same precedence level.

But your scenario is not unsupporte

[2018-10-10 23:53] #712 closed, assigned to danielfernandez

[2018-10-11 06:55] NielsNet opened #716 "Add attributes after replace"
Currently (Thymeleaf 3.0.0) there does not seem to be a way to add attributes to a tag that is replaced.
E.g. when having a fragment called `testFrag` in a file `/test/fragments`:
[code]
 and using this:
[code]
I'd expect the following:
[code]
However, the actual output is
[code]

I was wondering if I just missed out a way to do this with standard thymeleaf or if it might be a planned feature.

[2018-10-18 02:43] arkaev commented on #705
Is th:on-* deprecated now? I don't understand how to use them now

[2018-10-18 11:27] leo-garay opened #717 "load form Fragment thymelef ajax spring boot"
I am working with spring boot and thymeleaf, I want to load a fragment with ajax. It loads well, but when sending it the fragment object is not sent with the main object. Here is the code that I use.

Model
[code]
Controller

[code]
solicitudForm
[code]

formPersonaFrag
[code]

Ajax load fragment
[code]
in debug object solicitud.persona is null debug app
[https://i.stack.imgur.com/bG3zk.png](url)

[2018-10-18 12:18] attacomsian commented on #614
If you are still struggling with `spring-boot-devtools`, I recommend using Gulp to automate templates and resources reload. Following is a little Gulp task that does the magic for me:

[code]

I wrote a short [blog post](https://attacomsian.com/blog/spring-boot-auto-reload-thymeleaf-templates/) on this topic as well.

[2018-10-18 15:22] dredintellekt opened #718 "SpringEL after upgrades since 2.1.4 to 3.0.9 thymeleaf"
Hello there.

We have some inexplicable issue.

On the thymeleaf 2.14 / 2.16 we haven`t that error but on the 3.00 /3.09/3.0.10 we have that one.
We work with servicemix 3.11 version and spring 3+.

After updating our dependecies to 3+ version of thymeleaf we get that error :

Request processing failed; nested exception is org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating

[2018-10-18 15:30] danielfernandez commented on #718
Could you copy the entire exception message (ideally the trace), or at least see if there is a nested exception? the Spring EL engine should be outputting a nested exception which should better explain specifically what it does not like...

[2018-10-18 15:40] dredintellekt commented on #718
It is strange but the line of error changed to 93, but doesn`t matter. It worked before.
The line 93 is
       th:value="*{product.id}"/>

Now, we have

thymeleaf/3.0.10.RELEASE
thymeleaf-spring3/3.0.10.RELEASE
thymeleaf-extras-springsecurity3/3.0.3.RELEASE

Error is

----

Caused by: org.thymeleaf.exceptions.TemplateProcessingException: Exception evaluating SpringEL expression: "product.id" (temp

[2018-10-18 16:06] danielfernandez commented on #718
Two questions: are you using Spring Boot or _vanilla_ Spring Framework? in any case, what version? (of Spring Boot or Spring Framework). I see it looks like Spring 3 but I want confirmation.

The SpEL compiler in some specific versions of Spring 3.x did not gracefully retry the application of compiled SpEL expressions when they were applied to objects of different types than, for example, in a pre

[2018-10-18 16:20] dredintellekt commented on #718
Yes, we use spring framework, not boot.

Is it possible to switch off SpEL, because we rewrote that SpEL when we found bugs and work with our code?
Since we used to ServiceMix we have different version of bundles and other libraries, so we use Spring versions since  3.2.10 till 3.2.4.RELEASE

[2018-10-18 16:31] danielfernandez commented on #718
Not SpEL, but the SpEL compiler that appeared in Spring 3.1. It compiles SpEL expressions to bytecode for better performance.

[2018-10-19 05:28] dredintellekt commented on #718
But, anyway, we use Spring 3.2+ . Which version of Spring in 3rd major version is better?

[2018-10-19 05:42] dredintellekt commented on #718
And, there is some strange fact.
If we make this error in evening, before the way home, then error gone on the morning, when we come. It looks like some cache in the system which handles our code

[2018-10-19 11:21] dredintellekt commented on #718
I found, that while we haven`t exception, in MapAccessor as target we can found SPEL Context and name of variable is "iterStat" as in line 158.

![noexc](https://user-images.githubusercontent.com/18497114/47215483-41677380-d3aa-11e8-867c-54f72999baf0.jpg)

If we reproduce exception,we can found as target our class ProductTypeSaveFrom with name "formFactor'

![hasexc](https://user-images.githubuser

[2018-10-23 10:33] wkaczurba commented on #614
If you are not using - disabling caching in the template resolver bean:

SpringResourceTemplateResolver templateResolver = new SpringResourceTemplateResolver();
...
templateResolver.setCacheable(false);

[2018-10-24 01:10] Kevin-Ling opened #719 "<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"/> generate wrong html code"
I'm using 3.0.9 thymeleaf via springboot 2.0.4

when try to generate the following page:

[code]

the first <script> tag was not processed properly it will wrongly include the following page content like:

[code]

workaround is to wirte script tags like this

[code]

[2018-10-24 08:15] dredintellekt commented on #718
Hello there, again.
Anyway, is it any way to code this correct? :-)

[2018-10-24 14:03] dredintellekt commented on #718
Also, i Found how to genereate Exception everytime

If i add formFactors like

Controller.class

    List formFactor=getFormFactorById(id);
    model.addAttribute("formFactors",formFactor);

myView.html

                    <li class="is-panel" th:object="${formFactors}">
                        <fieldset class="is-form-horizontal">
                            <div class="is-form-row">

[2018-10-25 08:37] dredintellekt commented on #718
And this issue can be closed, because I found how to solve it.

I added into my Controller

model.addAttribute("formFactors",formFactor);

and into Template chaged
th:each="formFactor,iterStat : *{formFactors}"
into
th:each="formFactor,iterStat : ${formFactors}"

And it works, but i don`t understand how )

[2018-10-25 08:37] #718 closed, assigned to danielfernandez

[2018-10-25 08:56] T3rm1 commented on #705
It still works if you put a link expression around it. I doubt this is intended though.
`<div th:onclick="@{doSomething('${mydata}');}">`

[2018-10-26 09:17] neVERberleRfellerER commented on #719
Do you see incorrect HTML directly in source or in developer tools? Because your incorrect output is exactly what parse tree from empty script tags looks like, because HTML does not allow empty script tags. And transforming this in Thymeleaf is probably bad idea so in case you get incorrect HTML in developer tools only and not in raw generated HTML, this is not a bug in Thymeleaf.
Also, it generat

[2018-10-26 23:32] danielfernandez commented on #716
This is the expected behaviour of `th:replace`. This attribute _replaces_ the tag it lives in with the one selected in the expression, it does not _merge_ it or peform any similar operation. So a `th:classappend` in the tag that contains that `th:replace` will be simply lost.

In order to do a merge operation like the one you need, you'd have to do something more specific, like for example:

[code

[2018-10-26 23:54] danielfernandez commented on #719
Exactly. @neVERberleRfellerER is right. HTML5 does not allow void or self-closing `<script>` elements, so your `<script ... />` are interpreted by HTML5 parsers (like the one in your browser) exactly the same as an open tag `<script ...>`. That's why you see the first script including the rest of the page, most probably from a browser or some dev tools applying a parser.

So this:
[code]
…is not a

[2018-10-26 23:54] #719 closed, assigned to danielfernandez

[2018-10-27 23:06] danielfernandez commented on #717
Do you mean that you see your error at the controller method handling the form submission operation? If so, at first sight that wouldn't look like an issue at the Thymeleaf side, could you provide more detail on why do you think this is a Thymeleaf issue? If not, it could be an issue in your form structure, controller method, or maybe form binding.

For instance, if you want Spring to be able to p

[2018-10-28 13:13] danielfernandez commented on #703
I'm unable to reproduce this, your code works OK for me using `TEXT` template mode in a non-Spring application. And actually, I'm a bit confused… are you using non-Spring-enabled Thymeleaf in a Spring application? because it's trying to execute OGNL and, in Spring contexts, the expression language should be SpringEL...

Could you please specify version of Thymeleaf, detail your execution context a

[2018-10-28 17:02] danielfernandez commented on #704
The requested functionality is covered by the standard URL syntax. See https://www.thymeleaf.org/doc/articles/standardurlsyntax.html

[2018-10-28 17:02] #704 closed, assigned to danielfernandez

[2018-10-29 01:06] danielfernandez opened #720 "Upgrade jackson dependency"
GitHub is complaining that the version of Jackson we are using as a dependency has _high severity_ security vulnerabilities, so we should upgrade it to at least 2.8.11

[2018-10-29 01:07] #720 closed, assigned to danielfernandez

[2018-10-29 01:07] danielfernandez commented on #720
Already in `3.0.11-SNAPSHOT`

[2018-10-29 01:10] danielfernandez opened #721 "Fix method used to apply Automatic-Module-Name"
Although it does not affect the Thymeleaf core, we should apply some new method to compute the `Automatic-Module-Name` so that `-` characters from artifact IDs are turned into `.`. See thymeleaf/thymeleaf-spring#195

[2018-10-29 01:11] danielfernandez commented on #721
Fixed by means of small Groovy fragments in the `pom.xml` file, executed by the `gmavenplus` Maven plugin.

Not a perfect solution because the IDEs keep complaining that the variable used for setting the `Automatic-Module-Name` does not exist (because it is created inside the Groovy script).

[2018-10-29 01:12] danielfernandez commented on #721
Already in `3.0.11-SNAPSHOT`

[2018-10-29 01:12] #721 closed, assigned to danielfernandez

[2018-10-29 06:36] NielsNet commented on #716
This would mean that one would have to define a parameter for any attributes to add on the replaced fragment. Is there a way to do something like a merge or would that require a custom dialect?
Imagine you wanted to use some data tags, the classes and some more from the replaced tag on its replacement. It would become a mess with that many parameters.

[2018-10-30 16:25] sahil-ag opened #723 "Thymeleaf fails if string contains | (pipe/vertical bar)"
Version - 3.0.0.RELEASE

I have a string which contains | as well as certain thymeleaf placeholders. I get TemplateInputException when I try to use the same.

[code]

[2018-10-30 16:51] danielfernandez commented on #723
Could you provide specific `str` or `context` values that reproduce this error? Very similar Strings are present in our tests and they work alright, including `|` chars.

[2018-10-30 16:56] sahil-ag commented on #723
[code]

It would be great if there was another way of using implementing `resolveString`

[2018-10-30 22:17] danielfernandez commented on #723
So the template you are executing is: `[(|${test1}World | ${test2}|)]`, which is an invalid Thymeleaf Standard Expression.

With `[(...)]` you are asking Thymeleaf to execute an inlined expression, which in this case is `|${test1}World | ${test2}|`. And `|...|` is the syntax for literal substitutions, so in this case you have `|${test1}World |` as a literal substitution, and then a remaining ` ${t

[2018-10-30 22:17] #723 closed, assigned to danielfernandez

[2018-10-31 13:51] gotoark opened #724 "Unable to Access thymeleaf variable inside Onchange method of Select Option"
I am Trying to Add the Onchange functionality

**My htmlCode**
[code]
**My Script**
[code]
How can I achieve this with thymeleaf  is there us any Possibilities.
Thanks in Advance :)

[2018-11-11 07:53] kazuki43zoo opened #725 "Suggest to add the SQL mode on TemplateMode"
I suggest to add the `SQL` mode on `TemplateMode`.

**Motivations:**

I want to use the Thymeleaf as parser for 2-way SQL like as:

[code]

NOTE: An above template work fine using the `CSS` or `JAVASCRIPT` template mode. But it is not a JavaScript template...

WDYT?

[2018-11-11 07:59] kazuki43zoo commented on #725
#### When `name` parameter is specified

[code]

#### When `name` parameter is not specified

[code]

[2018-11-21 10:32] NKame opened #726 "No padding support"
#strings doesn't have any support for left or right padding. This would be very useful for a generic (non-Web) templating solution.

[2018-11-23 00:19] philBrown commented on #705
This seems an extreme change for a patch release

[2018-12-07 14:40] T3rm1 commented on #395
How can you add a new line to th:utext in `TEXT` template mode?

[2018-12-11 02:29] rhues opened #727 "Update Thymeleaf to support the latest OGNL"
I'm using thymeleaf 3.0.11, OGNL 3.1.12, attoparser 2.0.5, unbescape 1.1.6 and this works fine.

However, Thymeleaf does not seem to support the latest OGNL, which is 3.2.8. When trying this, the resulting error message is:

"java.lang.RuntimeException: MemberAccess implementation must be provided!"

I request support for the latest OGNL.

[2018-12-15 23:29] walterwhites commented on #614
Thanks @wkaczurba

[2018-12-18 14:54] MJ1997 opened #728 "Need Help，something with ${}"
` <a class="btn btn-sm btn-primary apage"  th:href="@{/admin/users/?page=}+${curpage+1)}">Next </a>`
` <a class="btn btn-sm btn-primary apage"  th:href="@{/admin/users/?page=}+${curpage-(-1)}">Next </a>`
i just want to 1+1 =2 ,but the result always is 11 .   help~

[2018-12-19 06:21] ultraq commented on #728
Has `curpage` been defined as a string?  I tried the following out on a small project:

[code]

The first line gave me `2`, and the second line gave me `11` because the `test` variable was a string type.

[2018-12-19 06:22] ultraq commented on #728
Also, not specifically a thymeleaf-spring issue, so gonna try new Transfer feature and move it to general thymeleaf.

[2018-12-28 13:22] ginccc opened #729 "using ognl inside thymeleaf"
Hi there,

i would like to to use Ognl inside thymeleaf to retrieve an object or string based on the variable expression.
I would like to enable the possibility to set "variables" between templating processes.

such as
Object obj = thymeleaf.process(String expression, map);
e.g. expression = ${userProfile}

right now, when using the thymeleaf templating interface the return value is a string, but

[2019-01-08 07:03] kumarManjit opened #730 "Can we use regex in #strings.replace method for replacing characters"
Hi Team,

I have a scenario where i wanted to replace any non alphanumeric character, for that i used
#strings.replace method.
MyString:- ABC$%#56&8
Excepted Output:-ABC568
Regex trying to be used:-[^\w]

But when i put this string in replace method ${#strings.replace(MyString,'[^\w]','' )}
I did not get expected output the string is same.

Can u please confirm whether replace method is using rege

[2019-01-08 15:38] gsender opened #731 "StackOverflowError error with upgrade from 2.1.5 to 3.11 (with Spring)"
I tried to upgrade my application from Spring boot 1.4.7.RELEASE to Spring boot 2.0.7 This also upgraded Thymeleaf from 2.1.5 to 3.11.. With the new version I get an StackOverflowError with my templates.

My template starts with (login.html):

[code]
 later I define some fragments:

[code]

the file _blanktemplate.html_ then references these fragments.

[code]

I have added both files in full leng

[2019-01-09 05:19] ultraq commented on #731
Does it work if you change the name of your fragment from `head` to anything else, and then update your `th:include` to point to the updated fragment name?  My initial suspicion is that the `th:include="this :: head"` is causing an infinite loop as `this :: head` could also resolve to the `<head>` element of your template which then tries to include itself and so on.

The right-hand side of the fr

[2019-01-09 09:55] gsender commented on #731
YES, you nailed it. changing the reference/name for the fragments to "kopf" (german for head) fixed the problem. Thanks!!

[2019-01-09 09:55] #731 closed, assigned to nobody

[2019-01-09 11:08] kumarManjit commented on #730
Any comment by anybody?
I need this urgently, Please help.

Thanks,
Manjit Kumar

[2019-01-11 07:05] ultraq commented on #730
I tried tracing where the `#strings.replace` method ends up, and it looks like this method here: https://github.com/thymeleaf/thymeleaf/blob/3.0-master/src/main/java/org/thymeleaf/util/StringUtils.java#L478-L516  It doesn't look like it does anything fancy with regexes, just replacing strings that exactly match the second parameter.

If you want to do replacement with regexes, you can use the nati

[2019-01-11 07:12] maroziza opened #732 "OGNL support for current tag"
Hello!
I want to use placeholders from HTML if there is no better value on backend. Consider this HTML:
[code]
is there a way to use value from HTML? maybe we can get access to `IProcessableElementTag` and use values?
I'm using decoupled templates and our Front-end developers have wide access to tweak HTML files. So i need somehow to fetch all the default variables. Other problem is that i can do

[2019-01-11 08:43] ultraq commented on #732
(I haven't used much of decoupled templates myself so this might not be the best answer.)

In the section on flexible layouts, the docs mention being able to use the fragment selector to be able to reference any HTML within the current or other template, so I wonder if you can use that to your advantage and run it through some custom utility method to extract what you need?  eg:

[code]

I'm using

[2019-01-11 08:50] maroziza commented on #732
All the lines are independent examples. Thank you about `#Elements`, I'll look through it. Looks like the only thing we need variable with current tag in scope. Looks easy to provide. But i want general solution, two lines per variable looks to verbose.

[2019-01-11 13:40] Gunthervg commented on #81
@danielfernandez Wouldn't it be more logic that in a Spring (boot) environment where there is a configured ObjectMapper bean, this instance will be used instead of creating a new ObjectMapper? JacksonStandardJavaScriptSerializer -> this.mapper = new ObjectMapper();

Currently the configured Spring ObjectMapper is ignored which could make it quit confusing.

[2019-01-11 14:57] kumarManjit commented on #730
Thanks for the reply.
Yes I can use the Java Strings class methods but it will be better if it is provided by the thymeleaf itself.
So that people don't have to look around.
And it will not have much effort in adding just new method in thymeleaf for regex.

Thanks,
Best Regards,
Manjit Kumar

[2019-01-11 22:39] ultraq commented on #732
Another idea I had: create a custom element processor equivalent of `<attr>` that added the selected element in scope?  It'd mean changing instances of `<attr>` to whatever you named your one (eg: `<my:attr>`), but that'd save having to use the extra `th:with` I had in my initial idea above.

Anyway, I'll tag this issue as a possible enhancement to see what the others might think, but I feel this

[2019-01-14 21:20] yhojann-cl opened #733 "Feature request: Ignore expression block"
For example: When need paste a large bash code into thymeleaf template like as:

[code]

The system says:

Add a ignore expression attribute to block, example:

[code]

[2019-01-14 21:24] yhojann-cl commented on #733
Similar problems with javascript inline: #548

[2019-01-14 21:59] yhojann-cl commented on #733
Duplicated and already fixed: https://github.com/thymeleaf/thymeleaf/issues/432

[2019-01-14 21:59] #733 closed, assigned to nobody

[2019-01-24 18:05] schoeneu opened #734 "Configuring TemplateEngine to ignore all <script>s"
One of my applications has templates and contain `[[` and `]]` in `<script>` blocks. Since these templates are externally generated and automatically provided, the solution of adapting the template suggested in https://github.com/thymeleaf/thymeleaf/issues/432 is rather hard to do. Fortunately, the contents of the `<script>`s do not need to be templated, so I'm looking for a solution to just ignor

[2019-01-28 10:03] madness-inc commented on #705
Agree with @philBrown, in fact this breaks backwards-compatibility.
Needed to adjust all our templates.

[2019-01-31 20:02] chrylis opened #735 "Option to disable restricted mode"
I understand that restricted mode is something that you consider valuable, but (1) it is not mentioned _anywhere_ in the documentation, resulting in unexplained failure scenarios, and (2) there is no (known-to-me) workaround for the standard case of composing pages via Layout Dialect. The boilerplate tutorials for "how to write a Spring Security login form with Thymeleaf" just mysteriously don't w

[2019-02-05 11:15] qdoot opened #736 "Javascript Inline Array concat requires Trailing commas"
Well, basically, I'm trying to concat two arrays in a Thymeleaf Javascript Inline. I have noticed that the only way to make it work is using trailing commas. Without trailing commas it appears not to be working (a TemplateOutputException is thrown while rendering the template).
Here is a very simple example:

**WORKING:**

`<script th:inline="javascript"> var first = [[1, 2, 3],];
var second = [[4

[2019-02-05 23:54] ultraq commented on #736
Hmm, arrays of arrays.  I don't think the inliner thought about those, probably because it looks so much like the syntax for denoting expressions within inline sections, `[[...]]`, and so that additional comma tricks the inliner into leaving it alone 🤔  Labeling as a bug.

[2019-02-11 07:39] ejazazim commented on #695
There is another valid reason to have well-formed XHTML output, as with CSS3 paged media support, a lot of people would be using XHTML + CSS3 to produce PDF, EPUB etc.

[2019-02-11 16:00] mctdi commented on #695
I already use thymeleaf to generate pdf via openhtmltopdf...
I create html thymeleaf template

[2019-02-21 09:33] AaricChenLegacy opened #737 "fragment with dynamic tag element"
it is support following fragment replace

[code]

which I can set the tag name at runtime.

e.g.
[code]

[2019-02-26 00:14] rwenz3l commented on #614
I just wanted to add, that ***you can run*** `mvn spring-boot:run` and also serve the templates from your `src` directory or whatever:

As a Single Command:

[code]

But you can also specify them in a seperate development properties file (`application-develop.yaml`)
 and use `mvn spring-boot:run -Dspring-boot.run.profiles=default,develop`.

Here is my develop-yaml:

[code]

[2019-02-28 02:11] zhangtianxiao opened #738 "in pure String template , how to use `th:include`?"
/*
            in pure String template , how to use `th:include`?
            Thanks
            * */
            String html = "<div th:include='fragment'></div>";
            TemplateEngine teg = new TemplateEngine();
            Context ctx = new Context(Locale.CHINESE, data);
            String process = teg.process(html, ctx);

[2019-02-28 02:14] zhangtianxiao commented on #738
I think that `ctx` needs a base path, or a current template path,
`TemplateEngine` can find  file by fragment's value( relative path or absolute path)

[2019-03-11 10:59] jdhoek opened #739 "Outdated OGNL dependency throws spurious messages System.err"
Thymeleaf `3.0.11.RELEASE` depends on OGNL `3.1.12`. With Java 8 this version of OGNL has a bug (https://github.com/jkuhnert/ognl/issues/35) that causes it to throw messages on `System.err`:

This happens at each invocation of the Thymeleaf template engine, so the amount of output generated is considerable.

OGNL backported the fix for this bug to their `3.1.*` branch (https://github.com/jkuhnert/

[2019-03-23 00:45] danielfernandez commented on #702
@mhlx's answer seems the reason to me. I'm therefore closing this, please reopen if needed.

[2019-03-23 00:45] #702 closed, assigned to nobody

[2019-03-23 01:06] danielfernandez commented on #709
Very late for a response, but the thing is, a context-relative URL can only be resolved when the template is being executed as a part of a web application running _as such_ in a web server… because it's web servers who create web contexts, that serve as a root for such URLs.

So this means your template needs to be executed by means of the normal Spring Boot web mechanisms (i.e. as a Spring _view_

[2019-03-23 01:06] #709 closed, assigned to nobody

[2019-03-26 09:19] guchenjun commented on #738
你觉得你说得很有道理，Right.

[2019-04-01 19:42] marcelopbarros opened #740 "Performance degradation in Link URLs"
While I was using URL links in a big table I could note that there is a huge performance degradation in `@{...}` syntax.

The example bellow illustrates the difference between using `@{...}` syntax and _string_ concatenation to generate 5000 objects with an URL. The _string_ concatenation test caches the _urlBase_ in `urlBase=@{/}` executing way faster then the other case.

[code]

So, my point is

[2019-04-02 00:33] zhanhb opened #741 "Java doc package list changed"
Since 3.0.10.RELEASE, `package-list` is changed to `element-list`. Can I know why this change is made?
https://github.com/thymeleaf/thymeleaf.github.com/blob/master/apidocs/thymeleaf/3.0.9.RELEASE/package-list
https://github.com/thymeleaf/thymeleaf.github.com/blob/master/apidocs/thymeleaf/3.0.11.RELEASE/element-list

[2019-04-02 05:01] EtienneMiret opened #875 "th:field outputs HTML entities in XML mode"
Using

    <input th:field="*{foo}"/>

outputs

    <input id="foo" name="foo" value="&Eacute;tienne Miret"/>

when `foo` is bound to `Étienne Miret`.

This is of course not valid XML/XHTML.

Versions:
 * org.thymeleaf:thymeleaf-spring5 = 3.0.11.RELEASE
 * org.thymeleaf.extras:thymeleaf-extras-springsecurity5 = 3.0.4.RELEASE

Environment:
 * org.springframework:spring-framework-bom = 5.0.2.RELEASE

[2019-04-02 22:02] danielfernandez commented on #724
For this you can use `th:onchange`, or if you need to evaluate there variables that return text literal results, for security reasons, you can resolve them in `th:data-*` attributes and then retrieve the values of the resulting `data-*` attributes from a simple `onchange` attribute (instead of `th:onchange`).

[2019-04-02 22:02] #724 closed, assigned to danielfernandez

[2019-04-02 22:07] danielfernandez commented on #725
I understand the idea is that the `TEXT` template mode does not offer features such as being comment-aware for variable replacements, therefore allowing script parts such as:
[code]
...to work in any SQL environment where `/* ... */` comments would be allowed.

So maybe some kind of generic template mode could be established for any languages that allowed comments, as long as the syntax of those c

[2019-04-02 22:12] danielfernandez commented on #727
I'm moving this to the _feature_ tracker as that's the consideration I believe a dependency update such as this should have unless there were any CVEs affecting the version of OGNL we are using in the way we are using it…

[2019-04-02 22:17] danielfernandez commented on #734
`th:inline="none"` should do the trick, see https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#disabling-inlining

But you need to apply that attribute to the `<script>` blocks, so if you cannot change those, I'd suggest using the _decoupled templates_ feature that allows you to add processors (in this case, attributes) to your markup templates without actually modifying them: https:/

[2019-04-02 22:17] #734 closed, assigned to danielfernandez

[2019-04-05 21:18] schoeneu commented on #734
Thanks - decoupled templates might do the trick! :)

[2019-04-07 04:16] zhanhb commented on #741
I'm working on a project, which require this file to link java doc. After upgrade to 3.0.11, the link broken.

[2019-04-07 12:04] xtianus opened #742 "Supporting fragments in static mode"
Feature Request
============

Summary: I'd like "natural templates" to be fully supported
-----------

One of the main selling points of Thymeleaf is the "natural templates" feature: someone can open an html page directly in the browser and see it completely rendered.
I never cared about this feature until my last project where I had to work with a remote client-side developer: he didn't need to r

[2019-04-09 16:27] somaiah commented on #395
The text markup seems to have been broken in v 3.0.6.RELEASE. It works in 3.0.5.RELEASE.
I tried the code from here: https://blog.codeleak.pl/2017/03/getting-started-with-thymeleaf-3-text.html

And the result I get is:
`Name: Spring
Link: http://spring.io
Tags:
[# th:each="tag : ${tags}" ]
[/]
`

In v3.0.5.RELEASE the markup is correctly processed as:
`Name: Spring Link: http://spring.io Tags: #fr

[2019-04-10 11:43] derolf opened #743 "Allow custom output format (not Writer)"
Currently, the last processor in the chain writes the result to the Writer.

It would be nice if it was possible to instead get the raw DOM, if the output is not a Writer/String.

[2019-04-12 08:45] Frettman commented on #703
I encountered the same exception. It occurs with OGNL >= 3.2.2.

[2019-04-15 20:44] rasentry opened #744 "TextParseException in javascript template with arrays of regular expressions"
javascript themplate:
[code]
throws an exception:
[code]
but this template works normal
[code]
difference only in space between [ and /

Thymeleaf version: 3.0.11.RELEASE
Spring Boot: v2.1.4.RELEASE

[2019-04-29 14:16] AkaneMurakawa opened #745 "When I use th:each, how to get the value by index or set a variable to save the previou value?"
Hi, I have some trouble in using thymeleaf.
When I use `th:each`, I want to get the value by index not like foreach, it maybe likes that `list.get(index)`, because I want to compare to the value of index and the value of index-1.
I try to set a variable to save the previou value, but the scope seems in the tag.
I find answer so long, if you can give me some advise, I would be happy.

[2019-05-06 13:52] AdrienViala commented on #574
For anyone landing on this page with a higher Thymeleaf version, I think one should do as described here :
https://github.com/thymeleaf/thymeleaf/issues/705

[2019-05-06 19:13] Danissss opened #746 "How to display images dynamically using jquery and thymeleaf"
I am trying to display image dynamically by using jquery append function with thymeleaf as view engine in spring boot

Here is the way that I tried to append the image to div ('.show-image'):
[code]
However, it only shows the empty images (no 404 error)

I tried with other random online image and works:
[code]
When I statically display the image also works (I think no path issue):
[code]
Any sugge

[2019-05-07 04:27] #746 closed, assigned to nobody

[2019-05-08 20:59] huffstler commented on #561
For those that may find this later on (like I did), I have a small working example.

`pom dependencies`
[code]

`resources/templates/greeting.html`
[code]

`Application.java in hello package`
[code]

[2019-05-30 09:38] qiudaozhang opened #747 "how to access model data from external javascript file?"
thymeleaf  version :3.0.11.RELEASE

I use springboot and thymleaf, I add a attribute in the model.
![Snipaste_2019-05-30_17-30-56](https://user-images.githubusercontent.com/34365540/58623541-ca5f6980-8300-11e9-85c0-1ab3889c6d71.jpg)

and import the javascript file like this ,
![image](https://user-images.githubusercontent.com/34365540/58623630-fe3a8f00-8300-11e9-8b24-706820925421.png)
, in externa

[2019-05-31 06:12] 418545106 opened #748 "how can i use 'th:each' tag to loop Map<String,List> json data"
for example:
in java my code:
------------------------------java code ----------------------------
[code]
--------------------------------------------------end --------------------------------------------
back to html i use \<div th:text>\</div>  to watch the data
[code]
than i use
[code]

[2019-05-31 08:24] ultraq commented on #748
When using `th:each` over `Map`s, then the value being iterated over is a `java.util.Map.Entry` type, so when doing your second `th:each` you need to extract the lists out of the map entry's `value` property.  So I think something like this will work:

[code]

[2019-05-31 08:29] 418545106 commented on #748
thank you very much . it's worked

[2019-05-31 08:29] #748 closed, assigned to ultraq

[2019-06-06 16:04] OrangeDog opened #749 "Insecure User Forums"
Couldn't fine anywhere else to put this.

The Thymeleaf User Forums (http://forum.thymeleaf.org/) are insecure, so passwords are at risk.
There is content served over https but the certificate is incorrect.

That certificate needs fixing (e.g. use letsencrypt) and the insecure site should redirect, especially when logging/logged in. HSTS would be ideal.

[2019-06-07 08:13] #747 closed, assigned to nobody

[2019-06-07 12:20] OrangeDog opened #750 "Original exception rethrown while rendering error view"
I'm using Spring Boot, Thymeleaf, and thymeleaf-layout-dialect.
I've got a custom template for `error`, at `/templates/error.html`

While rendering my view `explore` I get a `TemplateInputException` as expected due to failure to resolve `th:replace="explore/foo.html"`. This exception is correctly caught by the servlet dispatcher and forwarded to `/error`. However, while rendering the error page th

[2019-06-07 12:53] OrangeDog commented on #750
On further investigation the problem appears to be with thymeleaf-layout-dialect.

[2019-06-07 12:53] #750 closed, assigned to nobody

[2019-06-10 15:59] pahjbo commented on #695
I think that there might be a side effect that certain XML constructs like closing an empty tag with /> are not working any more - e.g.
[code]
results in the second and subsequent <script> tags appearing inside the content of the first, which is of course a huge problem....

[2019-06-10 17:10] danielfernandez commented on #695
@pahjbo please note the `<script>` tag is not void, so unless you are using an XHTML DOCTYPE (and not an HTML one), the correct way to write it in HTML, even using XML-valid syntax would be:
[code]

[2019-06-11 09:41] pahjbo commented on #695
@danielfernandez - this caught me out recently moving to Thymeleaf3, but it seems that you are right from a reading of
https://dev.w3.org/html5/html-author/#index-of-elements which looks like a rather unfortunate regression in HTML5 where under XML syntax
[code]
and
[code]
are structurally indistinguishable, but we are now in the situation where valid XML is no-longer valid HTML, which greatly com

[2019-06-11 12:16] membersound opened #751 "Support text placeholder within messages.properties"
I'd love to see `PropertyPlaceholder` working within `messages.properties`. So that I can make cross references within the messages:

/src/main/resources/messages.properties:
[code]

Layout: `<div th:text="#{my.lang}"/>`

Output:
[code]

The 2nd one should also get resolved.

jdk11, spring-boot, thymeleaf-spring5

[2019-06-11 19:57] BELAGGOUN commented on #705
In my project, I want to perform a searching method invoked by the keypress event. (in an Input)
can I have an example showing how to do that or explaining how to call a controller method from a JS function?
thanks

[2019-06-13 17:14] thiagolucio opened #752 "Broken when I used "display: table-footer-group;" in SCSS"
I'm a Frontend Designer. Because I don't have detailed tech information. I just know we are using the last version of thymeleaf.

The render report inside Spring project broke when I use in "scss" the rule ...
"display: table-footer-group;"

inside the scss "@media print" query.

The console error return:

[code]

[2019-06-15 15:32] polyang opened #753 "when i use th:fragment="common_head(title,links,scripts)" in head"
when i use th:fragment="common_head(title,links,scripts)" in head for layout,eg:

**layout.html**

[code]

then i use it in **test.html**

[code]

the last,the page generate by

[code]

the script code has twice

[code]

[2019-06-16 05:55] ultraq commented on #753
This is because your fragment selector of `~{::script}` (which is shorthand for `~{this :: script}`) will pick out all `<script>` tags within the current template (`this` in a fragment selector means the current template), so it's including that other `<script>` tag in the template and passing it along to your common header.

If you want to pick out just the `<script>` tags in the `<head>` section

[2019-06-20 12:39] alanfranz opened #754 "Block "javascript:" scheme in Link Expressions"
Hello Thymeleavers,
I've got a doubt about what I'd consider a surprising behaviour for Thymeleaf URL handling.

Let's go straight to an example: if I write something like that in a template:

[code]

Then, if my *name* parameter contains a valid URL with a ```javascript``` scheme, like ```javascript: alert('hello world');``` , this could result in a code injection if the name parameter is not san

[2019-06-20 16:23] calum-hl opened #755 "Incorrect parsing of self closing tags"
After upgrading to Thymeleaf 3 (as part of a Spring Boot upgrade), we are experiencing an issue, which might be due to the new parsing engine?

Thymeleaf: 2.1.5
`<span class="icon view-icon"/> <span th:text="#{someExpression}"/>`

Thymeleaf: 3.0.11
`<span class="icon view-icon"/> <span th:text="#{someExpression}"/>`
renders as incorrectly as
[code]

Work around:
Changing it to:
`<span class="icon

[2019-07-06 11:06] donhuvy opened #756 "Update file, auto generate , character"
Environment: Spring Boot 2.1.6.RELEASE , Thymeleaf 3.0.4.RELEASE , Microsoft SQL Server 2016 Enterprise edition, JDK 12, Gradle 5.5 , Windows 10 pro x64 , Google Chrome 75.

[code]

![image](https://user-images.githubusercontent.com/1328316/60755311-26ac5c00-a018-11e9-9123-f1fa40c2b6ad.png)

When create (and save) `eInvoiceContactMobile` = `NULL`

When update first time `eInvoiceContactMobile` = `

[2019-07-06 14:54] donhuvy commented on #756
I think it is a bug at persistent layer in SQL query

[code]
when has empty or null string in value(s).

[2019-07-06 23:51] thomasturrell commented on #689
The [documentation ](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#textual-syntax) states that:

[code]
 will result in something like:
[code]

When in fact the result would be:
[code]

JSP removes lines that only contain one tag when the server isn't in development mode. When in develoment mode JSP retains the lines to aid with debugging. By default tomcat is in development mode

[2019-07-08 09:52] fadhilprm opened #757 "th:attr value could'nt contents space"
Hello,

we're writing our own tag using thymeleaf 3 on top of spring boot 2.1

this is the sample tag :

`<sigma:textfield id="textfield1" class="form-control"
													name="textfield1" **th:attr="placeholder= 'this is th:attr'"** value=""
													val-required="true" val-minlength="2" val-maxlength="10"
													val-required-msg="'+${message}+'" val-minlength-msg=""
													val-

[2019-07-09 06:38] fadhilprm commented on #757
working by setting iOpenElementTag AttributeValueQuotes to Double Quote

[2019-07-09 06:39] #757 closed, assigned to nobody

[2019-07-10 04:54] fadhilprm opened #758 "AbstractElementTagProcessor didnt proceed variable argument"
Hello,

We're creating custom tag processor using thymeleaf on spring boot 2.1.3,

[code]

the code in the processor ::

[code]

The tag after processing :

[code]

expected tag after processing :

[code]

[2019-07-10 06:42] ultraq commented on #758
To get your expected output, you need to process the expression being given to your processor.

Here's a bit of a pseudo code method that can do this:

[code]

(This was adapted from https://github.com/ultraq/thymeleaf-expression-processor/blob/master/source/nz/net/ultraq/thymeleaf/expressions/ExpressionProcessor.groovy  It's written in Groovy, so I hope I've managed to translate it to Java proper

[2019-07-10 07:02] fadhilprm commented on #758
Hi,
have tried your method above, and it works ! Thanks a lot

[2019-07-10 07:02] #758 closed, assigned to nobody

[2019-07-12 14:20] lpenap commented on #736
Hi, I'm getting this issue too.
Not just for inline Javascript but also for Javascript templates.
So, declaring double arrays does not work. Few examples:

`var strongRTLRanges = [[0x5be, 0x5be], [0x5c0, 0x5c0]];`
`return createTimeRangesObj([[start, end]]);`

There is a way to change the "delimiters" of thymeleaf to use something different than `[[...]]` ?

[2019-07-15 04:48] nhatanhmc commented on #753
@genaro26
I got this, and more. When u use th:action in form, the first element in form will be double, then i have to use th:attr to add action attribute to avoid it and In case double in head I use  th:remove="tags for element which is double to solve =))

[2019-07-15 11:35] #756 closed, assigned to nobody

[2019-07-17 09:15] alanfranz commented on #754
Hello @danielfernandez (I'm tagging you because you seem to be the lead developer AND the latest committer on StandardLinkBuilder.java as well), **I wouldn't push this if I didn't think this could be a security problem** as well as a functional one.

I can code and submit a patch if you feel my intentions are viable, I'd need a bit of feeback on this. The patch may be to the software or to the doc

[2019-07-17 10:19] ultraq commented on #755
While I'm not intimate with the HTML parser of Thymeleaf, I do believe what you've experienced is the switch from Thymeleaf 2's XML-based parsing engine to Thymeleaf 3's HTML one which, while closer to the HTML spec, may have some surprises for those more used to XML.

For example, the `<span>` element in the HTML spec defines that neither the start nor end tags can be omitted:

Source: https://ht

[2019-07-17 10:20] #755 closed, assigned to nobody

[2019-07-17 10:30] ultraq commented on #751
I'll add the "underevaluation" label to this, but given Thymeleaf already has some mechanism for parameters in message strings (https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#messages) it might not be something done within the core library.

A custom processor could do this though, finding expressions inside message strings and then running them through the expression processor.

[2019-07-17 10:56] membersound commented on #751
Though it would be nice, as other frameworks, like `hibernate-validations` (which can also read the messages.properties) support this feature out of the box. So this would be uniform then.

[2019-07-23 20:29] MrStanaland commented on #705
Aside from branching Thymeleaf, does anyone have any suggestions for disabling this "feature" entirely?

Or, at least how to pass onclick's as fragment parameters?  For example, if we want to pass the entire onclick to the following fragment:

widget.html:
<th:block th:fragment="widget(id, name, text, icon, onclick, color)">
      //Complex widget created using the parameters.
</th:block>

This is